<h1 id="z">7z</h1>
<blockquote>
<p>A file archiver with high compression ratio. More information: <a href="https://www.7-zip.org/" class="uri">https://www.7-zip.org/</a>.</p>
</blockquote>
<ul>
<li>Archive a file or directory:</li>
</ul>
<p><code>7z a {{archived.7z}} {{path/to/file_or_directory}}</code></p>
<ul>
<li>Encrypt an existing archive (including headers):</li>
</ul>
<p><code>7z a {{encrypted.7z}} -p{{password}} -mhe=on {{archived.7z}}</code></p>
<ul>
<li>Extract an existing 7z file with original directory structure:</li>
</ul>
<p><code>7z x {{archived.7z}}</code></p>
<ul>
<li>Extract an archive with user-defined output path:</li>
</ul>
<p><code>7z x {{archived.7z}} -o{{path/to/output}}</code></p>
<ul>
<li>Extract an archive to stdout:</li>
</ul>
<p><code>7z x {{archived.7z}} -so</code></p>
<ul>
<li>Archive using a specific archive type:</li>
</ul>
<p><code>7z a -t{{zip|gzip|bzip2|tar}} {{archived.7z}} {{path/to/file_or_directory}}</code></p>
<ul>
<li>List available archive types:</li>
</ul>
<p><code>7z i</code></p>
<ul>
<li>List the contents of an archive file:</li>
</ul>
<p><code>7z l {{archived.7z}}</code></p>
