<h1 id="za">7za</h1>
<blockquote>
<p>A file archiver with high compression ratio. A standalone version of <code>7z</code> with support for fewer archive types. More information: <a href="https://www.7-zip.org/" class="uri">https://www.7-zip.org/</a>.</p>
</blockquote>
<ul>
<li>Archive a file or directory:</li>
</ul>
<p><code>7za a {{archived.7z}} {{path/to/file_or_directory}}</code></p>
<ul>
<li>Extract an existing 7z file with original directory structure:</li>
</ul>
<p><code>7za x {{archived}}</code></p>
<ul>
<li>Archive using a specific archive type:</li>
</ul>
<p><code>7za a -t{{zip|gzip|bzip2|tar}} {{archived}} {{path/to/file_or_directory}}</code></p>
<ul>
<li>List available archive types:</li>
</ul>
<p><code>7za i</code></p>
<ul>
<li>List the contents of an archive file:</li>
</ul>
<p><code>7za l {{archived}}</code></p>
