<h1 id="zr">7zr</h1>
<blockquote>
<p>A file archiver with high compression ratio. A standalone version of <code>7z</code> that only supports .7z files. More information: <a href="https://www.7-zip.org/" class="uri">https://www.7-zip.org/</a>.</p>
</blockquote>
<ul>
<li>Archive a file or directory:</li>
</ul>
<p><code>7zr a {{archived.7z}} {{path/to/file_or_directory}}</code></p>
<ul>
<li>Extract an existing 7z file with original directory structure:</li>
</ul>
<p><code>7zr x {{archived.7z}}</code></p>
<ul>
<li>List the contents of an archive file:</li>
</ul>
<p><code>7zr l {{archived.7z}}</code></p>
