<h1 id="aapt">aapt</h1>
<blockquote>
<p>Android Asset Packaging Tool. Compile and package an Android app’s resources.</p>
</blockquote>
<ul>
<li>List files contained in an APK archive:</li>
</ul>
<p><code>aapt list {{path/to/app.apk}}</code></p>
<ul>
<li>Display an app’s metadata (version, permissions, etc.):</li>
</ul>
<p><code>aapt dump badging {{path/to/app.apk}}</code></p>
<ul>
<li>Create a new APK archive with files from the specified directory:</li>
</ul>
<p><code>aapt package -F {{path/to/app.apk}} {{path/to/directory}}</code></p>
