<h1 id="ab">ab</h1>
<blockquote>
<p>Apache Benchmarking tool. The simplest tool to perform a load testing. More information: <a href="https://httpd.apache.org/docs/2.4/programs/ab.html" class="uri">https://httpd.apache.org/docs/2.4/programs/ab.html</a>.</p>
</blockquote>
<ul>
<li>Execute 100 HTTP GET requests to given URL:</li>
</ul>
<p><code>ab -n {{100}} {{url}}</code></p>
<ul>
<li>Execute 100 HTTP GET requests, processing up to 10 requests concurrently, to given URL:</li>
</ul>
<p><code>ab -n {{100}} -c {{10}} {{url}}</code></p>
<ul>
<li>Use keep alive:</li>
</ul>
<p><code>ab -k {{url}}</code></p>
<ul>
<li>Set the maximum number of seconds to spend for benchmarking:</li>
</ul>
<p><code>ab -t {{60}} {{url}}</code></p>
