<h1 id="abduco">abduco</h1>
<blockquote>
<p>Terminal session manager. More information: <a href="http://www.brain-dump.org/projects/abduco/" class="uri">http://www.brain-dump.org/projects/abduco/</a>.</p>
</blockquote>
<ul>
<li>List sessions:</li>
</ul>
<p><code>abduco</code></p>
<ul>
<li>Attach to a session, creating it if it doesn’t exist:</li>
</ul>
<p><code>abduco -A {{name}} {{bash}}</code></p>
<ul>
<li>Attach to a session with <code>dvtm</code>, creating it if it doesn’t exist:</li>
</ul>
<p><code>abduco -A {{name}}</code></p>
<ul>
<li>Detach from a session:</li>
</ul>
<p><code>Ctrl + \</code></p>
<ul>
<li>Attach to a session in read-only mode:</li>
</ul>
<p><code>abduco -Ar {{name}}</code></p>
