<h1 id="ack">ack</h1>
<blockquote>
<p>A search tool like grep, optimized for programmers. More information: <a href="https://beyondgrep.com/documentation/" class="uri">https://beyondgrep.com/documentation/</a>.</p>
</blockquote>
<ul>
<li>Find files containing “foo”:</li>
</ul>
<p><code>ack {{foo}}</code></p>
<ul>
<li>Find files of a specific type:</li>
</ul>
<p><code>ack --ruby {{foo}}</code></p>
<ul>
<li>Count the total number of matches for the term “foo”:</li>
</ul>
<p><code>ack -ch {{foo}}</code></p>
<ul>
<li>Show the file names containing “foo” and number of matches in each file:</li>
</ul>
<p><code>ack -cl {{foo}}</code></p>
<ul>
<li>List all valid types:</li>
</ul>
<p><code>ack --help=types</code></p>
