<h1 id="act">act</h1>
<blockquote>
<p>Execute GitHub Actions locally using Docker. More information: <a href="https://github.com/nektos/act" class="uri">https://github.com/nektos/act</a>.</p>
</blockquote>
<ul>
<li>List the available actions:</li>
</ul>
<p><code>act -l</code></p>
<ul>
<li>Run the default event:</li>
</ul>
<p><code>act</code></p>
<ul>
<li>Run a specific event:</li>
</ul>
<p><code>act {{event_type}}</code></p>
<ul>
<li>Run a specific action:</li>
</ul>
<p><code>act -a {{action_id}}</code></p>
<ul>
<li>Do not actually run the actions (i.e. a dry run):</li>
</ul>
<p><code>act -n</code></p>
<ul>
<li>Show verbose logs:</li>
</ul>
<p><code>act -v</code></p>
