<h1 id="adb">adb</h1>
<blockquote>
<p>Android Debug Bridge: communicate with an Android emulator instance or connected Android devices. More information: <a href="https://developer.android.com/studio/command-line/adb" class="uri">https://developer.android.com/studio/command-line/adb</a>.</p>
</blockquote>
<ul>
<li>Check whether the adb server process is running and start it:</li>
</ul>
<p><code>adb start-server</code></p>
<ul>
<li>Terminate the adb server process:</li>
</ul>
<p><code>adb kill-server</code></p>
<ul>
<li>Start a remote shell in the target emulator/device instance:</li>
</ul>
<p><code>adb shell</code></p>
<ul>
<li>Push an Android application to an emulator/device:</li>
</ul>
<p><code>adb install -r {{path/to/file.apk}}</code></p>
<ul>
<li>Copy a file/directory from the target device:</li>
</ul>
<p><code>adb pull {{path/to/device_file_or_directory}} {{path/to/local_destination_directory}}</code></p>
<ul>
<li>Copy a file/directory to the target device:</li>
</ul>
<p><code>adb push {{path/to/local_file_or_directory}} {{path/to/device_destination_directory}}</code></p>
<ul>
<li>Get a list of connected devices:</li>
</ul>
<p><code>adb devices</code></p>
