<h1 id="ag">ag</h1>
<blockquote>
<p>The Silver Searcher. Like ack, but faster. More information: <a href="https://github.com/ggreer/the_silver_searcher" class="uri">https://github.com/ggreer/the_silver_searcher</a>.</p>
</blockquote>
<ul>
<li>Find files containing “foo”, and print the line matches in context:</li>
</ul>
<p><code>ag {{foo}}</code></p>
<ul>
<li>Find files containing “foo” in a specific directory:</li>
</ul>
<p><code>ag {{foo}} {{path/to/directory}}</code></p>
<ul>
<li>Find files containing “foo”, but only list the filenames:</li>
</ul>
<p><code>ag -l {{foo}}</code></p>
<ul>
<li>Find files containing “FOO” case-insensitively, and print only the match, rather than the whole line:</li>
</ul>
<p><code>ag -i -o {{FOO}}</code></p>
<ul>
<li>Find “foo” in files with a name matching “bar”:</li>
</ul>
<p><code>ag {{foo}} -G {{bar}}</code></p>
<ul>
<li>Find files whose contents match a regular expression:</li>
</ul>
<p><code>ag '{{^ba(r|z)$}}'</code></p>
<ul>
<li>Find files with a name matching “foo”:</li>
</ul>
<p><code>ag -g {{foo}}</code></p>
