<h1 id="airpaste">airpaste</h1>
<blockquote>
<p>Share messages and files on the same network.</p>
</blockquote>
<ul>
<li>Wait for message and display when received:</li>
</ul>
<p><code>airpaste</code></p>
<ul>
<li>Send text:</li>
</ul>
<p><code>echo {{text}} | airpaste</code></p>
<ul>
<li>Send file:</li>
</ul>
<p><code>airpaste &lt; {{path/to/file}}</code></p>
<ul>
<li>Receive file:</li>
</ul>
<p><code>airpaste &gt; {{path/to/file}}</code></p>
<ul>
<li>Create/Join channel:</li>
</ul>
<p><code>airpaste {{channel_name}}</code></p>
