<h1 id="alacritty">alacritty</h1>
<blockquote>
<p>Cross-platform, GPU-accelerated terminal emulator. More information: <a href="https://github.com/jwilm/alacritty" class="uri">https://github.com/jwilm/alacritty</a>.</p>
</blockquote>
<ul>
<li>Open a new alacritty window:</li>
</ul>
<p><code>alacritty</code></p>
<ul>
<li>Run in a specific directory:</li>
</ul>
<p><code>alacritty --working-directory {{path/to/directory}}</code></p>
<ul>
<li>Run a command in a new alacritty window:</li>
</ul>
<p><code>alacritty -e {{command}}</code></p>
<ul>
<li>Specify alternative configuration file (defaults to $XDG_CONFIG_HOME/alacritty/alacritty.yml):</li>
</ul>
<p><code>alacritty --config-file {{path/to/config.yml}}</code></p>
<ul>
<li>Run with live config reload enabled (can also be enabled by default in alacritty.yml):</li>
</ul>
<p><code>alacritty --live-config-reload --config-file {{path/to/config.yml}}</code></p>
