<h1 id="alex">alex</h1>
<blockquote>
<p>A tool that catches insensitive, inconsiderate writing. It helps you find gender favouring, polarising, race related, religion inconsiderate, or other unequal phrasing in text. More information: <a href="https://github.com/get-alex/alex" class="uri">https://github.com/get-alex/alex</a>.</p>
</blockquote>
<ul>
<li>Analyze text from <code>stdin</code>:</li>
</ul>
<p><code>echo {{His network looks good}} | alex --stdin</code></p>
<ul>
<li>Analyze all files in the current directory:</li>
</ul>
<p><code>alex</code></p>
<ul>
<li>Analyze a specific file:</li>
</ul>
<p><code>alex {{textfile.md}}</code></p>
<ul>
<li>Analyze all markdown files except <code>example.md</code>:</li>
</ul>
<p><code>alex *.md !{{example.md}}</code></p>
