<h1 id="alias">alias</h1>
<blockquote>
<p>Creates aliases – words that are replaced by a command string. Aliases expire with the current shell session, unless they’re defined in the shell’s configuration file, e.g. <code>~/.bashrc</code>.</p>
</blockquote>
<ul>
<li>List all aliases:</li>
</ul>
<p><code>alias</code></p>
<ul>
<li>Create a generic alias:</li>
</ul>
<p><code>alias {{word}}="{{command}}"</code></p>
<ul>
<li>View the command associated to a given alias:</li>
</ul>
<p><code>alias {{word}}</code></p>
<ul>
<li>Remove an aliased command:</li>
</ul>
<p><code>unalias {{word}}</code></p>
<ul>
<li>Turn <code>rm</code> into an interactive command:</li>
</ul>
<p><code>alias {{rm}}="{{rm -i}}"</code></p>
<ul>
<li>Create <code>la</code> as a shortcut for <code>ls -a</code>:</li>
</ul>
<p><code>alias {{la}}="{{ls -a}}"</code></p>
