<h1 id="androguard">androguard</h1>
<blockquote>
<p>Reverse engineering tool for Android applications. Written in Python. More information: <a href="https://github.com/androguard/androguard" class="uri">https://github.com/androguard/androguard</a>.</p>
</blockquote>
<ul>
<li>Display Android app manifest:</li>
</ul>
<p><code>androguard axml {{path/to/app.apk}}</code></p>
<ul>
<li>Display app metadata (version and app ID):</li>
</ul>
<p><code>androguard apkid {{path/to/app.apk}}</code></p>
<ul>
<li>Decompile Java code from an app:</li>
</ul>
<p><code>androguard decompile {{path/to/app.apk}} --output {{path/to/directory}}</code></p>
