<h1 id="ansiweather">ansiweather</h1>
<blockquote>
<p>A shell script for displaying the current weather conditions in your terminal. More information: <a href="https://github.com/fcambus/ansiweather" class="uri">https://github.com/fcambus/ansiweather</a>.</p>
</blockquote>
<ul>
<li>Display a forecast using metric units for the next five days for Rzeszow, Poland:</li>
</ul>
<p><code>ansiweather -u {{metric}} -f {{5}} -l {{Rzeszow,PL}}</code></p>
<ul>
<li>Display a forecast showing symbols and daylight data for your current location:</li>
</ul>
<p><code>ansiweather -s {{true}} -d {{true}}</code></p>
<ul>
<li>Display a forecast showing wind and humidity data for your current location:</li>
</ul>
<p><code>ansiweather -w {{true}} -h {{true}}</code></p>
