<h1 id="ansible-galaxy">ansible-galaxy</h1>
<blockquote>
<p>Create and manage Ansible roles. More information: <a href="https://docs.ansible.com/ansible/latest/cli/ansible-galaxy.html" class="uri">https://docs.ansible.com/ansible/latest/cli/ansible-galaxy.html</a>.</p>
</blockquote>
<ul>
<li>Install a role:</li>
</ul>
<p><code>ansible-galaxy install {{username.role_name}}</code></p>
<ul>
<li>Remove a role:</li>
</ul>
<p><code>ansible-galaxy remove {{username.role_name}}</code></p>
<ul>
<li>List installed roles:</li>
</ul>
<p><code>ansible-galaxy list</code></p>
<ul>
<li>Search for a given role:</li>
</ul>
<p><code>ansible-galaxy search {{role_name}}</code></p>
<ul>
<li>Create a new role:</li>
</ul>
<p><code>ansible-galaxy init {{role_name}}</code></p>
