<h1 id="ansible-playbook">ansible-playbook</h1>
<blockquote>
<p>Execute tasks defined in playbook on remote machines over SSH. More information: <a href="https://docs.ansible.com/ansible/latest/cli/ansible-playbook.html" class="uri">https://docs.ansible.com/ansible/latest/cli/ansible-playbook.html</a>.</p>
</blockquote>
<ul>
<li>Run tasks in playbook:</li>
</ul>
<p><code>ansible-playbook {{playbook}}</code></p>
<ul>
<li>Run tasks in playbook with custom host inventory:</li>
</ul>
<p><code>ansible-playbook {{playbook}} -i {{inventory_file}}</code></p>
<ul>
<li>Run tasks in playbook with extra variables defined via the command line:</li>
</ul>
<p><code>ansible-playbook {{playbook}} -e "{{variable1}}={{value1}} {{variable2}}={{value2}}"</code></p>
<ul>
<li>Run tasks in playbook with extra variables defined in a json file:</li>
</ul>
<p><code>ansible-playbook {{playbook}} -e "@{{variables.json}}"</code></p>
