<h1 id="ansible">ansible</h1>
<blockquote>
<p>Manage groups of computers remotely over SSH. Use the /etc/ansible/hosts file to add new groups/hosts. More information: <a href="https://www.ansible.com/" class="uri">https://www.ansible.com/</a>.</p>
</blockquote>
<ul>
<li>List hosts belonging to a group:</li>
</ul>
<p><code>ansible {{group}} --list-hosts</code></p>
<ul>
<li>Ping a group of hosts by invoking the ping module:</li>
</ul>
<p><code>ansible {{group}} -m ping</code></p>
<ul>
<li>Display facts about a group of hosts by invoking the setup module:</li>
</ul>
<p><code>ansible {{group}} -m setup</code></p>
<ul>
<li>Execute a command on a group of hosts by invoking command module with arguments:</li>
</ul>
<p><code>ansible {{group}} -m command -a '{{my_command}}'</code></p>
<ul>
<li>Execute a command with administrative privileges:</li>
</ul>
<p><code>ansible {{group}} --become --ask-become-pass -m command -a '{{my_command}}'</code></p>
<ul>
<li>Execute a command using a custom inventory file:</li>
</ul>
<p><code>ansible {{group}} -i {{inventory_file}} -m command -a '{{my_command}}'</code></p>
