<h1 id="apg">apg</h1>
<blockquote>
<p>Creates arbitrarily complex random passwords.</p>
</blockquote>
<ul>
<li>Create random passwords (default password length is 8):</li>
</ul>
<p><code>apg</code></p>
<ul>
<li>Create a password with at least 1 symbol (S), 1 number (N), 1 uppercase (C), 1 lowercase (L):</li>
</ul>
<p><code>apg -M SNCL</code></p>
<ul>
<li>Create a password with 16 characters:</li>
</ul>
<p><code>apg -m {{16}}</code></p>
<ul>
<li>Create a password with maximum length of 16:</li>
</ul>
<p><code>apg -x {{16}}</code></p>
<ul>
<li>Create a password that doesn’t appear in a dictionary (the dictionary file has to be provided):</li>
</ul>
<p><code>apg -r {{dictionary_file}}</code></p>
