<h1 id="apm">apm</h1>
<blockquote>
<p>Atom editor Package Manager. See <code>atom</code>. More information: <a href="https://github.com/atom/apm" class="uri">https://github.com/atom/apm</a>.</p>
</blockquote>
<ul>
<li>Install packages from http://atom.io/packages and themes from http://atom.io/themes:</li>
</ul>
<p><code>apm install {{package_name}}</code></p>
<ul>
<li>Remove packages/themes:</li>
</ul>
<p><code>apm remove {{package_name}}</code></p>
<ul>
<li>Upgrade packages/themes:</li>
</ul>
<p><code>apm upgrade {{package_name}}</code></p>
