<h1 id="apropos">apropos</h1>
<blockquote>
<p>Search in manpages, for example to find a new command.</p>
</blockquote>
<ul>
<li>Search for keyword:</li>
</ul>
<p><code>apropos {{regular_expression}}</code></p>
<ul>
<li>Search without restricting output to terminal width:</li>
</ul>
<p><code>apropos -l {{regular_expression}}</code></p>
<ul>
<li>Search for pages that only contain all of the expressions given (AND search):</li>
</ul>
<p><code>apropos {{regular_expression_1}} -a {{regular_expression_2}} -a {{regular_expression_3}</code></p>
