<h1 id="ar">ar</h1>
<blockquote>
<p>Create, modify, and extract from archives (.a, .so, .o).</p>
</blockquote>
<ul>
<li>Extract all members from an archive:</li>
</ul>
<p><code>ar -x {{libfoo.a}}</code></p>
<ul>
<li>List the members of an archive:</li>
</ul>
<p><code>ar -t {{libfoo.a}}</code></p>
<ul>
<li>Replace or add files to an archive:</li>
</ul>
<p><code>ar -r {{libfoo.a}} {{foo.o}} {{bar.o}} {{baz.o}}</code></p>
<ul>
<li>Insert an object file index (equivalent to using <code>ranlib</code>):</li>
</ul>
<p><code>ar -s {{libfoo.a}}</code></p>
<ul>
<li>Create an archive with files and an accompanying object file index:</li>
</ul>
<p><code>ar -rs {{libfoo.a}} {{foo.o}} {{bar.o}} {{baz.o}}</code></p>
