<h1 id="aria2">aria2</h1>
<blockquote>
<p>A lightweight multi-protocol &amp; multi-source command-line download utility. Supports HTTP, HTTPS, FTP, SFTP, BitTorrent and Metalink. More information: <a href="https://aria2.github.io/" class="uri">https://aria2.github.io/</a>.</p>
</blockquote>
<ul>
<li>Download a web resource:</li>
</ul>
<p><code>aria2c {{http://example.org/myLinux.iso}}</code></p>
<ul>
<li>Download a resource from multiple sources:</li>
</ul>
<p><code>aria2c {{http://mirror1.org/myLinux.iso}} {{http://mirror2.org/myLinux.iso}}</code></p>
<ul>
<li>Download using 2 connections per host:</li>
</ul>
<p><code>aria2c -x{{2}} {{http://example.org/myLinux.iso}}</code></p>
<ul>
<li>Download from a Metalink URI:</li>
</ul>
<p><code>aria2c {{http://example.org/myLinux.metalink}}</code></p>
<ul>
<li>Download from a BitTorrent URI:</li>
</ul>
<p><code>aria2c {{http://example.org/myLinux.torrent}}</code></p>
<ul>
<li>Download from a BitTorrent Magnet URI:</li>
</ul>
<p><code>aria2c {{'magnet:?xt=urn:btih:248D0A1CD08284299DE78D5C1ED359BB46717D8C'}}</code></p>
<ul>
<li>Download URIs from a file:</li>
</ul>
<p><code>aria2c -i {{uris.txt}}</code></p>
