<h1 id="aria2c">aria2c</h1>
<blockquote>
<p>Fast download utility. Supports HTTP(S), FTP, SFTP, BitTorrent, and Metalink. More information: <a href="https://aria2.github.io" class="uri">https://aria2.github.io</a>.</p>
</blockquote>
<ul>
<li>Download a URI to a file:</li>
</ul>
<p><code>aria2c {{url}}</code></p>
<ul>
<li>Download from multiple sources:</li>
</ul>
<p><code>aria2c {{url_1}} {{url_2}}</code></p>
<ul>
<li>Download the URIs listed in a file:</li>
</ul>
<p><code>aria2c -i {{filename}}</code></p>
<ul>
<li>Download with multiple connections:</li>
</ul>
<p><code>aria2c -s {{connections_num}} {{url}}</code></p>
<ul>
<li>FTP download with username and password:</li>
</ul>
<p><code>aria2c --ftp-user={{username}} --ftp-passwd={{password}} {{url}}</code></p>
<ul>
<li>Limit download speed in bytes/s:</li>
</ul>
<p><code>aria2c --max-download-limit={{speed}} {{url}}</code></p>
