<h1 id="arp">arp</h1>
<blockquote>
<p>Show and manipulate your system’s ARP cache.</p>
</blockquote>
<ul>
<li>Show current arp table:</li>
</ul>
<p><code>arp -a</code></p>
<ul>
<li>Clear the entire cache:</li>
</ul>
<p><code>sudo arp -a -d</code></p>
<ul>
<li>Delete a specific entry:</li>
</ul>
<p><code>arp -d {{address}}</code></p>
<ul>
<li>Create an entry:</li>
</ul>
<p><code>arp -s {{address}} {{mac_address}}</code></p>
