<h1 id="asar">asar</h1>
<blockquote>
<p>A file archiver for the Electron platform. More information: <a href="https://github.com/electron/asar" class="uri">https://github.com/electron/asar</a>.</p>
</blockquote>
<ul>
<li>Archive a file or directory:</li>
</ul>
<p><code>asar pack {{path/to/file_or_directory}} {{archived.asar}}</code></p>
<ul>
<li>Extract an archive:</li>
</ul>
<p><code>asar extract {{archived.asar}}</code></p>
<ul>
<li>Extract a specific file from an archive:</li>
</ul>
<p><code>asar extract-file {{archived.asar}} {{file}}</code></p>
<ul>
<li>List the contents of an archive file:</li>
</ul>
<p><code>asar list {{archived.asar}}</code></p>
