<h1 id="asciinema">asciinema</h1>
<blockquote>
<p>Record and replay terminal sessions, and optionally share them on asciinema.org. More information: <a href="https://asciinema.org/" class="uri">https://asciinema.org/</a>.</p>
</blockquote>
<ul>
<li>Associate the local install of <code>asciinema</code> with an asciinema.org account:</li>
</ul>
<p><code>asciinema auth</code></p>
<ul>
<li>Make a new recording (once finished, user will be prompted to upload it or save it locally):</li>
</ul>
<p><code>asciinema rec</code></p>
<ul>
<li>Make a new recording and save it to a local file:</li>
</ul>
<p><code>asciinema rec {{path/to/file}}.cast</code></p>
<ul>
<li>Replay a terminal recording from a local file:</li>
</ul>
<p><code>asciinema play {{path/to/file}}.cast</code></p>
<ul>
<li>Replay a terminal recording hosted on asciinema.org:</li>
</ul>
<p><code>asciinema play https://asciinema.org/a/{{cast_id}}</code></p>
<ul>
<li>Make a new recording, limiting any idle time to at most 2.5 seconds:</li>
</ul>
<p><code>asciinema rec -i {{2.5}}</code></p>
<ul>
<li>Print the full output of a locally saved recording:</li>
</ul>
<p><code>asciinema cat {{path/to/file}}.cast</code></p>
<ul>
<li>Upload a locally saved terminal session to asciinema.org:</li>
</ul>
<p><code>asciinema upload {{path/to/file}}.cast</code></p>
