<h1 id="asdf">asdf</h1>
<blockquote>
<p>Command line interface for managing versions of different packages. More information: <a href="https://asdf-vm.com" class="uri">https://asdf-vm.com</a>.</p>
</blockquote>
<ul>
<li>List all available plugins:</li>
</ul>
<p><code>asdf plugin-list-all</code></p>
<ul>
<li>Install a plugin:</li>
</ul>
<p><code>asdf plugin-add {{name}}</code></p>
<ul>
<li>List all available versions for a package:</li>
</ul>
<p><code>asdf list-all {{name}}</code></p>
<ul>
<li>Install a specific version of a package:</li>
</ul>
<p><code>asdf install {{name}} {{version}}</code></p>
<ul>
<li>Set global version for a package:</li>
</ul>
<p><code>asdf global {{name}} {{version}}</code></p>
<ul>
<li>Set local version for a package:</li>
</ul>
<p><code>asdf local {{name}} {{version}}</code></p>
