<h1 id="assimp">assimp</h1>
<blockquote>
<p>Command-line client for the Open Asset Import Library. Supports loading of 40+ 3D file formats, and exporting to several popular 3D formats. More information: <a href="http://www.assimp.org/" class="uri">http://www.assimp.org/</a>.</p>
</blockquote>
<ul>
<li>List all supported import formats:</li>
</ul>
<p><code>assimp listext</code></p>
<ul>
<li>List all supported export formats:</li>
</ul>
<p><code>assimp listexport</code></p>
<ul>
<li>Convert a file to one of the supported output formats, using the default parameters:</li>
</ul>
<p><code>assimp export {{input_file.stl}} {{output_file.obj}}</code></p>
<ul>
<li>Convert a file using custom parameters (the dox_cmd.h file in assimp’s source code lists available parameters):</li>
</ul>
<p><code>assimp export {{input_file.stl}} {{output_file.obj}} {{parameters}}</code></p>
<ul>
<li>Display a summary of a 3D file’s contents:</li>
</ul>
<p><code>assimp info {{path/to/file}}</code></p>
<ul>
<li>List all supported subcommands (“verbs”):</li>
</ul>
<p><code>assimp help</code></p>
<ul>
<li>Get help on a specific subcommand (e.g. the parameters specific to it):</li>
</ul>
<p><code>assimp {{subcommand}} --help</code></p>
