<h1 id="astronomer">astronomer</h1>
<blockquote>
<p>Tool that detects illegitimate stars from bot accounts on Github projects. More information: <a href="https://github.com/Ullaakut/astronomer" class="uri">https://github.com/Ullaakut/astronomer</a>.</p>
</blockquote>
<ul>
<li>Scan a repository:</li>
</ul>
<p><code>astronomer {{tldr-pages/tldr-node-client}}</code></p>
<ul>
<li>Scan the maximum amount of stars in the repository:</li>
</ul>
<p><code>astronomer {{tldr-pages/tldr-node-client}} --stars {{50}}</code></p>
<ul>
<li>Scan a repository including comparative reports:</li>
</ul>
<p><code>astronomer {{tldr-pages/tldr-node-client}} --verbose</code></p>
