<h1 id="astyle">astyle</h1>
<blockquote>
<p>Source code indenter, formatter, and beautifier for the C, C++, C# and Java programming languages. Upon running, a copy of the original file is created with an “.orig” appended to the original file name. More information: <a href="http://astyle.sourceforge.net/" class="uri">http://astyle.sourceforge.net/</a>.</p>
</blockquote>
<ul>
<li>Apply the default style of 4 spaces per indent and no formatting changes:</li>
</ul>
<p><code>astyle {{source_file}}</code></p>
<ul>
<li>Apply the java style with attached braces:</li>
</ul>
<p><code>astyle --style=java {{path/to/file}}</code></p>
<ul>
<li>Apply the allman style with broken braces:</li>
</ul>
<p><code>astyle --style=allman {{path/to/file}}</code></p>
<ul>
<li>Apply a custom indent using spaces. Choose between 2 and 20 spaces:</li>
</ul>
<p><code>astyle --indent=spaces={{number_of_spaces}} {{path/to/file}}</code></p>
<ul>
<li>Apply a custom indent using tabs. Choose between 2 and 20 tabs:</li>
</ul>
<p><code>astyle --indent=tab={{number_of_tabs}} {{path/to/file}}</code></p>
