<h1 id="at">at</h1>
<blockquote>
<p>Execute commands once at a later time. Service atd (or atrun) should be running for the actual executions.</p>
</blockquote>
<ul>
<li>Execute commands from standard input in 5 minutes (press <code>Ctrl + D</code> when done):</li>
</ul>
<p><code>at now + 5 minutes</code></p>
<ul>
<li>Execute a command from standard input at 10:00 AM today:</li>
</ul>
<p><code>echo "{{./make_db_backup.sh}}" | at 1000</code></p>
<ul>
<li>Execute commands from a given file next Tuesday:</li>
</ul>
<p><code>at -f {{path/to/file}} 9:30 PM Tue</code></p>
