<h1 id="atom">atom</h1>
<blockquote>
<p>A cross-platform pluggable text editor. Plugins are managed by <code>apm</code>. More information: <a href="https://atom.io/" class="uri">https://atom.io/</a>.</p>
</blockquote>
<ul>
<li>Open a file or directory:</li>
</ul>
<p><code>atom {{path/to/file_or_directory}}</code></p>
<ul>
<li>Open a file or directory in a new window:</li>
</ul>
<p><code>atom -n {{path/to/file_or_directory}}</code></p>
<ul>
<li>Open a file or directory in an existing window:</li>
</ul>
<p><code>atom --add {{path/to/file_or_directory}}</code></p>
<ul>
<li>Open atom in safe mode (does not load any additional packages):</li>
</ul>
<p><code>atom --safe</code></p>
<ul>
<li>Prevent atom from forking into the background, keeping atom attached to the terminal:</li>
</ul>
<p><code>atom --foreground</code></p>
