<h1 id="atoum">atoum</h1>
<blockquote>
<p>A simple, modern and intuitive unit testing framework for PHP. More information: <a href="http://atoum.org" class="uri">http://atoum.org</a>.</p>
</blockquote>
<ul>
<li>Initialise a configuration file:</li>
</ul>
<p><code>atoum --init</code></p>
<ul>
<li>Run all tests:</li>
</ul>
<p><code>atoum</code></p>
<ul>
<li>Run tests using the specified configuration file:</li>
</ul>
<p><code>atoum -c {{path/to/file}}</code></p>
<ul>
<li>Run a specific test file:</li>
</ul>
<p><code>atoum -f {{path/to/file}}</code></p>
<ul>
<li>Run a specific directory of tests:</li>
</ul>
<p><code>atoum -d {{path/to/directory}}</code></p>
<ul>
<li>Run all tests under a specific namespace:</li>
</ul>
<p><code>atoum -ns {{namespace}}</code></p>
<ul>
<li>Run all tests with a specific tag:</li>
</ul>
<p><code>atoum -t {{tag}}</code></p>
<ul>
<li>Load a custom bootstrap file before running tests:</li>
</ul>
<p><code>atoum --bootstrap-file {{path/to/file}}</code></p>
