<h1 id="atq">atq</h1>
<blockquote>
<p>Show jobs scheduled by <code>at</code> or <code>batch</code> commands.</p>
</blockquote>
<ul>
<li>Show the current user’s scheduled jobs:</li>
</ul>
<p><code>atq</code></p>
<ul>
<li>Show jobs from queue named ‘a’ (queues have single-character names):</li>
</ul>
<p><code>atq -q {{a}}</code></p>
<ul>
<li>Show jobs of all users (run as super user):</li>
</ul>
<p><code>sudo atq</code></p>
