<h1 id="atrm">atrm</h1>
<blockquote>
<p>Remove jobs scheduled by <code>at</code> or <code>batch</code> commands. To find job numbers use <code>atq</code>.</p>
</blockquote>
<ul>
<li>Remove job number 10:</li>
</ul>
<p><code>atrm {{10}}</code></p>
<ul>
<li>Remove many jobs, separated by spaces:</li>
</ul>
<p><code>atrm {{15}} {{17}} {{22}}</code></p>
