<h1 id="autossh">autossh</h1>
<blockquote>
<p>Runs, monitors and restarts SSH connections. Auto-reconnects to keep port forwarding tunnels up. Accepts all ssh flags. More information: <a href="https://harding.motd.ca/autossh" class="uri">https://harding.motd.ca/autossh</a>.</p>
</blockquote>
<ul>
<li>Open an SSH session, restarting when a monitoring port fails return data:</li>
</ul>
<p><code>autossh -M {{monitor_port}} {{ssh_command}}</code></p>
<ul>
<li>Open an SSH session which forwards a local port to a remote one, restarting if necessary:</li>
</ul>
<p><code>autossh -M {{monitor_port}} -L {{local_port}}:localhost:{{remote_port}} {{user}}@{{host}}</code></p>
<ul>
<li>Fork before executing ssh (runs in the background) and don’t open a remote shell:</li>
</ul>
<p><code>autossh -f -M {{monitor_port}} -N {{ssh_command}}</code></p>
<ul>
<li>Run autossh in the background, with no monitoring port, instead relying on SSH keep-alives every 10 seconds to detect failure:</li>
</ul>
<p><code>autossh -f -M 0 -N -o "ServerAliveInterval 10" -o "ServerAliveCountMax 3" {{ssh_command}}</code></p>
<ul>
<li>Run autossh in the background, with no monitoring port, no remote shell, exiting if the port forward fails:</li>
</ul>
<p><code>autossh -f -M 0 -N -o "ServerAliveInterval 10" -o "ServerAliveCountMax 3" -o ExitOnForwardFailure=yes -L {{local_port}}:localhost:{{remote_port}} {{user}}@{{host}}</code></p>
<ul>
<li>Run autossh in the background with debug output logged to a file and ssh verbose output logged to a second file:</li>
</ul>
<p><code>AUTOSSH_DEBUG=1 AUTOSSH_LOGFILE={{log_file}} autossh -f -M {{monitor_port}} -v -E {{ssh_log_file}} {{ssh_command}}</code></p>
