<h1 id="autojump">autojump</h1>
<blockquote>
<p>Quickly jump among the directories you visit the most. Aliases like j or jc are provided for even less typing. More information: <a href="https://github.com/wting/autojump" class="uri">https://github.com/wting/autojump</a>.</p>
</blockquote>
<ul>
<li>Jump to a directory that contains the given pattern:</li>
</ul>
<p><code>j {{pattern}}</code></p>
<ul>
<li>Jump to a sub-directory (child) of the current directory that contains the given pattern:</li>
</ul>
<p><code>jc {{pattern}}</code></p>
<ul>
<li>Open a directory that contains the given pattern in the operating system file manager:</li>
</ul>
<p><code>jo {{pattern}}</code></p>
<ul>
<li>Remove non-existing directories from the autojump database:</li>
</ul>
<p><code>j --purge</code></p>
<ul>
<li>Show the entries in the autojump database:</li>
</ul>
<p><code>j -s</code></p>
