<h1 id="autoflake">autoflake</h1>
<blockquote>
<p>A tool to remove unused imports and variables from Python code. More information: <a href="https://github.com/myint/autoflake" class="uri">https://github.com/myint/autoflake</a>.</p>
</blockquote>
<ul>
<li>Remove unused variables from a single file and display the diff:</li>
</ul>
<p><code>autoflake --remove-unused-variables {{file.py}}</code></p>
<ul>
<li>Remove unused imports from multiple files and display the diffs:</li>
</ul>
<p><code>autoflake --remove-all-unused-imports {{file1.py}} {{file2.py}} {{file3.py}}</code></p>
<ul>
<li>Remove unused variables from a file, overwriting the file:</li>
</ul>
<p><code>autoflake --remove-unused-variables --in-place {{file.py}}</code></p>
<ul>
<li>Remove unused variables recursively from all files in a directory, overwriting each file:</li>
</ul>
<p><code>autoflake --remove-unused-variables --in-place --recursive {{path/to/directory}}</code></p>
