<h1 id="avrdude">avrdude</h1>
<blockquote>
<p>Driver program for Atmel AVR microcontrollers programming. More information: <a href="https://www.nongnu.org/avrdude/" class="uri">https://www.nongnu.org/avrdude/</a>.</p>
</blockquote>
<ul>
<li>Read AVR microcontroller:</li>
</ul>
<p><code>avrdude -p {{AVR_device}} -c {{programmer}} -U flash:r:{{file.hex}}:i</code></p>
<ul>
<li>Write AVR microcontroller:</li>
</ul>
<p><code>avrdude -p {{AVR_device}} -c {{programmer}} -U flash:w:{{file.hex}}</code></p>
<ul>
<li>List available AVR devices:</li>
</ul>
<p><code>avrdude -p \?</code></p>
<ul>
<li>List available AVR programmers:</li>
</ul>
<p><code>avrdude -c \?</code></p>
