<h1 id="awk">awk</h1>
<blockquote>
<p>A versatile programming language for working on files. More information: <a href="https://github.com/onetrueawk/awk" class="uri">https://github.com/onetrueawk/awk</a>.</p>
</blockquote>
<ul>
<li>Print the fifth column (a.k.a. field) in a space-separated file:</li>
</ul>
<p><code>awk '{print $5}' {{filename}}</code></p>
<ul>
<li>Print the second column of the lines containing “something” in a space-separated file:</li>
</ul>
<p><code>awk '/{{something}}/ {print $2}' {{filename}}</code></p>
<ul>
<li>Print the last column of each line in a file, using a comma (instead of space) as a field separator:</li>
</ul>
<p><code>awk -F ',' '{print $NF}' {{filename}}</code></p>
<ul>
<li>Sum the values in the first column of a file and print the total:</li>
</ul>
<p><code>awk '{s+=$1} END {print s}' {{filename}}</code></p>
<ul>
<li>Sum the values in the first column and pretty-print the values and then the total:</li>
</ul>
<p><code>awk '{s+=$1; print $1} END {print "--------"; print s}' {{filename}}</code></p>
<ul>
<li>Print every third line starting from the first line:</li>
</ul>
<p><code>awk 'NR%3==1' {{filename}}</code></p>
<ul>
<li>Print all values starting from the third column:</li>
</ul>
<p><code>awk '{ s = ""; for (i=3; i &lt;= NF; i++) s = s $i " "; print s }'</code></p>
<ul>
<li>Print different values based on conditions:</li>
</ul>
<p><code>awk '{if ($1 == "foo") print "Exact match foo"; else if ($1 ~ "bar") print "Partial match bar"; else print "Baz"}'</code></p>
