<h1 id="aws-s3">aws s3</h1>
<blockquote>
<p>CLI for AWS S3 - provides storage through web services interfaces. More information: <a href="https://aws.amazon.com/cli" class="uri">https://aws.amazon.com/cli</a>.</p>
</blockquote>
<ul>
<li>Show files in a bucket:</li>
</ul>
<p><code>aws s3 ls {{bucket_name}}</code></p>
<ul>
<li>Sync files and directories from local to bucket:</li>
</ul>
<p><code>aws s3 sync {{path/to/files}} s3://{{bucket_name}}</code></p>
<ul>
<li>Sync files and directories from bucket to local:</li>
</ul>
<p><code>aws s3 sync s3://{{bucket_name}} {{path/to/target}}</code></p>
<ul>
<li>Sync files and directories with exclusions:</li>
</ul>
<p><code>aws s3 sync {{path/to/files}} s3://{{bucket_name}} --exclude {{path/to/file}} --exclude {{path/to/directory}}/*</code></p>
<ul>
<li>Remove file from bucket:</li>
</ul>
<p><code>aws s3 rm s3://{{bucket}}/{{path/to/file}}</code></p>
<ul>
<li>Preview changes only:</li>
</ul>
<p><code>aws s3 {{any_command}} --dryrun</code></p>
