<h1 id="aws-google-auth">aws-google-auth</h1>
<blockquote>
<p>Command line tool to acquire AWS temporary (STS) credentials using Google Apps as a federated (Single Sign-On) provider. More information: <a href="https://github.com/cevoaustralia/aws-google-auth" class="uri">https://github.com/cevoaustralia/aws-google-auth</a>.</p>
</blockquote>
<ul>
<li>Login with Google SSO using the IDP and SP identifiers and set the credentials duration to one hour:</li>
</ul>
<p><code>aws-google-auth -u {{example@example.com}} -I {{$GOOGLE_IDP_ID}} -S {{$GOOGLE_SP_ID}} -d {{3600}}</code></p>
<ul>
<li>Login [a]sking which role to use (in case of several available SAML roles):</li>
</ul>
<p><code>aws-google-auth -u {{example@example.com}} -I {{$GOOGLE_IDP_ID}} -S {{$GOOGLE_SP_ID}} -d {{3600}} -a</code></p>
<ul>
<li>Resolve aliases for AWS accounts:</li>
</ul>
<p><code>aws-google-auth -u {{example@example.com}} -I {{$GOOGLE_IDP_ID}} -S {{$GOOGLE_SP_ID}} -d {{3600}} -a --resolve-aliases</code></p>
<ul>
<li>Show help information:</li>
</ul>
<p><code>aws-google-auth -h</code></p>
