<h1 id="aws">aws</h1>
<blockquote>
<p>The official CLI tool for Amazon Web Services. More information: <a href="https://aws.amazon.com/cli" class="uri">https://aws.amazon.com/cli</a>.</p>
</blockquote>
<ul>
<li>List all IAM users:</li>
</ul>
<p><code>aws iam list-users</code></p>
<ul>
<li>List all EC2 instances from a specific region:</li>
</ul>
<p><code>aws ec2 describe-instances --region {{us-east-1}}</code></p>
<ul>
<li>Receive message from a specific SQS queue:</li>
</ul>
<p><code>aws sqs receive-message --queue-url {{https://queue.amazonaws.com/546123/Test}}</code></p>
<ul>
<li>Publish message to the specific SNS topic:</li>
</ul>
<p><code>aws sns publish --topic-arn {{arn:aws:sns:us-east-1:54633:testTopic}} --message "Message"</code></p>
<ul>
<li>To see help text for the AWS command:</li>
</ul>
<p><code>aws {{command}} help</code></p>
