<h1 id="axel">axel</h1>
<blockquote>
<p>Download accelerator. Supports HTTP, HTTPS, and FTP. More information: <a href="https://github.com/axel-download-accelerator/axel" class="uri">https://github.com/axel-download-accelerator/axel</a>.</p>
</blockquote>
<ul>
<li>Download a URL to a file:</li>
</ul>
<p><code>axel {{url}}</code></p>
<ul>
<li>Download and specify filename:</li>
</ul>
<p><code>axel {{url}} -o {{filename}}</code></p>
<ul>
<li>Download with multiple connections:</li>
</ul>
<p><code>axel -n {{connections_num}} {{url}}</code></p>
<ul>
<li>Search for mirrors:</li>
</ul>
<p><code>axel -S {{mirrors_num}} {{url}}</code></p>
<ul>
<li>Limit download speed (bytes per second):</li>
</ul>
<p><code>axel -s {{speed}} {{url}}</code></p>
