<h1 id="b2sum">b2sum</h1>
<blockquote>
<p>Calculate BLAKE2 cryptographic checksums. More information: <a href="https://blake2.net/#su" class="uri">https://blake2.net/#su</a>.</p>
</blockquote>
<ul>
<li>Calculate the BLAKE2 checksum for a file:</li>
</ul>
<p><code>b2sum {{filename1}}</code></p>
<ul>
<li>Calculate BLAKE2 checksums for multiple files:</li>
</ul>
<p><code>b2sum {{filename1}} {{filename2}}</code></p>
<ul>
<li>Read a file of BLAKE2 sums and filenames and verify all files have matching checksums:</li>
</ul>
<p><code>b2sum -c {{filename.b2}}</code></p>
<ul>
<li>Calculate the BLAKE2 checksum from <code>stdin</code>:</li>
</ul>
<p><code>{{somecommand}} | b2sum</code></p>
