<h1 id="babel">babel</h1>
<blockquote>
<p>A transpiler which converts code from JavaScript ES6/ES7 syntax to ES5 syntax. More information: <a href="https://babeljs.io/" class="uri">https://babeljs.io/</a>.</p>
</blockquote>
<ul>
<li>Transpile a specified input file and output to <code>stdout</code>:</li>
</ul>
<p><code>babel {{path/to/file}}</code></p>
<ul>
<li>Transpile a specified input file and output to a specific file:</li>
</ul>
<p><code>babel {{path/to/input_file}} --out-file {{path/to/output_file}}</code></p>
<ul>
<li>Transpile the input file every time it is changed:</li>
</ul>
<p><code>babel {{path/to/input_file}} --watch</code></p>
<ul>
<li>Transpile a whole directory of files:</li>
</ul>
<p><code>babel {{path/to/input_directory}}</code></p>
<ul>
<li>Ignore specified comma-separated files in a directory:</li>
</ul>
<p><code>babel {{path/to/input_directory}} --ignore {{ignored_files}}</code></p>
<ul>
<li>Transpile and output as minified JavaScript:</li>
</ul>
<p><code>babel {{path/to/input_file}} --minified</code></p>
<ul>
<li>Choose a set of presets for output formatting:</li>
</ul>
<p><code>babel {{path/to/input_file}} --presets {{presets}}</code></p>
<ul>
<li>Output all available options:</li>
</ul>
<p><code>babel --help</code></p>
