<h1 id="badblocks">badblocks</h1>
<blockquote>
<p>Search a device for bad blocks. Some usages of badblocks can cause destructive actions, such as erasing all the data on a disk, including the partition table.</p>
</blockquote>
<ul>
<li>Search a disk for bad blocks by using a non-destructive read-only test:</li>
</ul>
<p><code>sudo badblocks {{/dev/sda}}</code></p>
<ul>
<li>Search an unmounted disk for bad blocks with a non-destructive read-write test:</li>
</ul>
<p><code>sudo badblocks -n {{/dev/sda}}</code></p>
<ul>
<li>Search an unmounted disk for bad blocks with a destructive write test:</li>
</ul>
<p><code>sudo badblocks -w {{/dev/sda}}</code></p>
