<h1 id="balena">balena</h1>
<blockquote>
<p>Interact with the balenaCloud, openBalena and the balena API from the command line. More information: <a href="https://www.balena.io/docs/reference/cli/" class="uri">https://www.balena.io/docs/reference/cli/</a>.</p>
</blockquote>
<ul>
<li>Login to the balenaCloud account:</li>
</ul>
<p><code>balena login</code></p>
<ul>
<li>Create a balenaCloud or openBalena application:</li>
</ul>
<p><code>balena app create {{app_name}}</code></p>
<ul>
<li>List all balenaCloud or openBalena applications within the account:</li>
</ul>
<p><code>balena apps</code></p>
<ul>
<li>List all devices associated with the balenaCloud or openBalena account:</li>
</ul>
<p><code>balena devices</code></p>
<ul>
<li>Flash a balenaOS image to a local drive:</li>
</ul>
<p><code>balena local flash {{path/to/balenaos.img}} --drive {{drive_location}}</code></p>
