<h1 id="banner">banner</h1>
<blockquote>
<p>Print the given argument as a large ASCII art.</p>
</blockquote>
<ul>
<li>Print the text message as a large banner (quotes are optional):</li>
</ul>
<p><code>banner {{"Hello World"}}</code></p>
<ul>
<li>Print the text message as a banner with a width of 50 characters:</li>
</ul>
<p><code>banner -w {{50}} {{"Hello World"}}</code></p>
<ul>
<li>Read text from <code>stdin</code>:</li>
</ul>
<p><code>banner</code></p>
