<h1 id="base64">base64</h1>
<blockquote>
<p>Encode or decode file or standard input to/from Base64, to standard output.</p>
</blockquote>
<ul>
<li>Encode a file:</li>
</ul>
<p><code>base64 {{filename}}</code></p>
<ul>
<li>Decode a file:</li>
</ul>
<p><code>base64 -d {{filename}}</code></p>
<ul>
<li>Encode from <code>stdin</code>:</li>
</ul>
<p><code>{{somecommand}} | base64</code></p>
<ul>
<li>Decode from <code>stdin</code>:</li>
</ul>
<p><code>{{somecommand}} | base64 -d</code></p>
