<h1 id="basename">basename</h1>
<blockquote>
<p>Returns non-directory portion of a pathname.</p>
</blockquote>
<ul>
<li>Show only the file name from a path:</li>
</ul>
<p><code>basename {{path/to/file}}</code></p>
<ul>
<li>Show only the file name from a path, with a suffix removed:</li>
</ul>
<p><code>basename {{path/to/file}} {{suffix}}</code></p>
