<h1 id="base32">base32</h1>
<blockquote>
<p>Encode or decode file or standard input to/from Base32, to standard output.</p>
</blockquote>
<ul>
<li>Encode a file:</li>
</ul>
<p><code>base32 {{filename}}</code></p>
<ul>
<li>Decode a file:</li>
</ul>
<p><code>base32 -d {{filename}}</code></p>
<ul>
<li>Encode from <code>stdin</code>:</li>
</ul>
<p><code>{{somecommand}} | base32</code></p>
<ul>
<li>Decode from <code>stdin</code>:</li>
</ul>
<p><code>{{somecommand}} | base32 -d</code></p>
