<h1 id="bashmarks">bashmarks</h1>
<blockquote>
<p>Save and jump to commonly used directories using 1 character commands. More information: <a href="https://github.com/huyng/bashmarks" class="uri">https://github.com/huyng/bashmarks</a>.</p>
</blockquote>
<ul>
<li>List available bookmarks:</li>
</ul>
<p><code>l</code></p>
<ul>
<li>Save the current directory as “bookmark_name”:</li>
</ul>
<p><code>s {{bookmark_name}}</code></p>
<ul>
<li>Go to a bookmarked directory:</li>
</ul>
<p><code>g {{bookmark_name}}</code></p>
<ul>
<li>Print a bookmarked directory’s contents:</li>
</ul>
<p><code>p {{bookmark_name}}</code></p>
<ul>
<li>Delete a bookmark:</li>
</ul>
<p><code>d {{bookmark_name}}</code></p>
