<h1 id="bash">bash</h1>
<blockquote>
<p>Bourne-Again SHell. <code>sh</code>-compatible command line interpreter. More information: <a href="https://gnu.org/software/bash" class="uri">https://gnu.org/software/bash</a>.</p>
</blockquote>
<ul>
<li>Start interactive shell:</li>
</ul>
<p><code>bash</code></p>
<ul>
<li>Execute a command:</li>
</ul>
<p><code>bash -c "{{command}}"</code></p>
<ul>
<li>Run commands from a file:</li>
</ul>
<p><code>bash {{file.sh}}</code></p>
<ul>
<li>Run commands from a file, logging all commands executed to the terminal:</li>
</ul>
<p><code>bash -x {{file.sh}}</code></p>
<ul>
<li>Run commands from a file, stopping at the first error:</li>
</ul>
<p><code>bash -e {{file.sh}}</code></p>
<ul>
<li>Run commands from <code>stdin</code>:</li>
</ul>
<p><code>bash -s</code></p>
<ul>
<li>Print the version information of bash (use <code>echo $BASH_VERSION</code> to show just the version string):</li>
</ul>
<p><code>bash --version</code></p>
