<h1 id="bat">bat</h1>
<blockquote>
<p>Print and concatenate files. A <code>cat</code> clone with syntax highlighting and Git integration.</p>
</blockquote>
<ul>
<li>Print the contents of a file to the standard output:</li>
</ul>
<p><code>bat {{file}}</code></p>
<ul>
<li>Concatenate several files into the target file:</li>
</ul>
<p><code>bat {{file1}} {{file2}} &gt; {{target_file}}</code></p>
<ul>
<li>Append several files into the target file:</li>
</ul>
<p><code>bat {{file1}} {{file2}} &gt;&gt; {{target_file}}</code></p>
<ul>
<li>Number all output lines:</li>
</ul>
<p><code>bat -n {{file}}</code></p>
<ul>
<li>Syntax highlight a json file:</li>
</ul>
<p><code>bat --language json {{file.json}}</code></p>
<ul>
<li>Display all supported languages:</li>
</ul>
<p><code>bat --list-languages</code></p>
