<h1 id="batch">batch</h1>
<blockquote>
<p>Execute commands at a later time when the system load levels permit. Service atd (or atrun) should be running for the actual executions.</p>
</blockquote>
<ul>
<li>Execute commands from standard input (press <code>Ctrl + D</code> when done):</li>
</ul>
<p><code>batch</code></p>
<ul>
<li>Execute a command from standard input:</li>
</ul>
<p><code>echo "{{./make_db_backup.sh}}" | batch</code></p>
<ul>
<li>Execute commands from a given file:</li>
</ul>
<p><code>batch -f {{path/to/file}}</code></p>
