<h1 id="beanstalkd">beanstalkd</h1>
<blockquote>
<p>A simple and generic work-queue server. More information: <a href="https://beanstalkd.github.io/" class="uri">https://beanstalkd.github.io/</a>.</p>
</blockquote>
<ul>
<li>Start beanstalkd, listening on port 11300:</li>
</ul>
<p><code>beanstalkd</code></p>
<ul>
<li>Start beanstalkd listening on a custom port and address:</li>
</ul>
<p><code>beanstalkd -l {{ip_address}} -p {{port_number}}</code></p>
<ul>
<li>Persist work queues by saving them to disk:</li>
</ul>
<p><code>beanstalkd -b {{path/to/persistence_directory}}</code></p>
<ul>
<li>Sync to the persistence directory every 500 milliseconds:</li>
</ul>
<p><code>beanstalkd -b {{path/to/persistence_directory}} -f {{500}}</code></p>
