<h1 id="bedtools">bedtools</h1>
<blockquote>
<p>A swiss-army knife of tools for genomic-analysis tasks. Used to intersect, group, convert and count data in BAM, BED, GFF/GTF, VCF format. More information: <a href="https://bedtools.readthedocs.io/en/latest/" class="uri">https://bedtools.readthedocs.io/en/latest/</a>.</p>
</blockquote>
<ul>
<li>Intersect two files with respect to the sequences’ strand and save the result to {{path/to/output_file}}:</li>
</ul>
<p><code>bedtools intersect -a {{path/to/file_1}} -b {{path/to/file_2}} -s &gt; {{path/to/output_file}}</code></p>
<ul>
<li>Intersect two files with a left outer join, i.e. report each feature from {{file_1}} and NULL if no overlap with {{file_2}}:</li>
</ul>
<p><code>bedtools intersect -a {{path/to/file_1}} -b {{path/to/file_2}} -lof &gt; {{path/to/output_file}}</code></p>
<ul>
<li>Using more efficient algorithm to intersect two pre-sorted files:</li>
</ul>
<p><code>bedtools intersect -a {{path/to/file_1}} -b {{path/to/file_2}} -sorted &gt; {{path/to/output_file}}</code></p>
<ul>
<li>Group file {{path/to/file}} based on the first three and the fifth column and summarize the sixth column by summing it up:</li>
</ul>
<p><code>bedtools groupby -i {{path/to/file}} -c 1-3,5 -g 6 -o sum</code></p>
<ul>
<li>Convert bam-formated file to a bed-formated one:</li>
</ul>
<p><code>bedtools bamtobed -i {{path/to/file}}.bam &gt; {{path/to/file}}.bed</code></p>
<ul>
<li>Find for all features in {{file_1}}.bed the closest one in {{file_2}}.bed and write their distance in an extra column (input files must be sorted):</li>
</ul>
<p><code>bedtools closest -a {{path/to/file_1}}.bed -b {{path/to/file_2}}.bed -d</code></p>
