<h1 id="behat">behat</h1>
<blockquote>
<p>A PHP framework for Behaviour-Driven Development. More information: <a href="https://behat.org" class="uri">https://behat.org</a>.</p>
</blockquote>
<ul>
<li>Initialise a new Behat project:</li>
</ul>
<p><code>behat --init</code></p>
<ul>
<li>Run all tests:</li>
</ul>
<p><code>behat</code></p>
<ul>
<li>Run all tests from the specified suite:</li>
</ul>
<p><code>behat --suite={{suite_name}}</code></p>
<ul>
<li>Run tests with a specific output formatter:</li>
</ul>
<p><code>behat --format {{pretty|progress}}</code></p>
<ul>
<li>Run tests and output results to a file:</li>
</ul>
<p><code>behat --out {{path/to/file}}</code></p>
<ul>
<li>Display a list of definitions in your test suites:</li>
</ul>
<p><code>behat --definitions</code></p>
