<h1 id="berks">berks</h1>
<blockquote>
<p>Chef cookbook dependency manager. More information: <a href="https://docs.chef.io/berkshelf.html" class="uri">https://docs.chef.io/berkshelf.html</a>.</p>
</blockquote>
<ul>
<li>Install cookbook dependencies into a local repo:</li>
</ul>
<p><code>berks install</code></p>
<ul>
<li>Update a specific cookbook and its dependencies:</li>
</ul>
<p><code>berks update {{cookbook}}</code></p>
<ul>
<li>Upload a cookbook to the Chef server:</li>
</ul>
<p><code>berks upload {{cookbook}}</code></p>
<ul>
<li>View the dependencies of a cookbook:</li>
</ul>
<p><code>berks contingent {{cookbook}}</code></p>
