<h1 id="bg">bg</h1>
<blockquote>
<p>Resumes jobs that have been suspended (e.g. using <code>Ctrl + Z</code>), and keeps them running in the background.</p>
</blockquote>
<ul>
<li>Resume most recently suspended job and run it in the background:</li>
</ul>
<p><code>bg</code></p>
<ul>
<li>Resume a specific job (use <code>jobs -l</code> to get its ID) and run it in the background:</li>
</ul>
<p><code>bg {{job_id}}</code></p>
