<h1 id="bitcoin-cli">bitcoin-cli</h1>
<blockquote>
<p>Command-line client to interact with the Bitcoin daemon via RPC calls. Uses the configuration defined in <code>bitcoin.conf</code>. More information: <a href="https://en.bitcoin.it/wiki/Running_Bitcoin#Command-line_arguments" class="uri">https://en.bitcoin.it/wiki/Running_Bitcoin#Command-line_arguments</a>.</p>
</blockquote>
<ul>
<li>Send a transaction to a given address:</li>
</ul>
<p><code>bitcoin-cli sendtoaddress "{{address}}" {{amount}}</code></p>
<ul>
<li>Generate one or more blocks:</li>
</ul>
<p><code>bitcoin-cli generate {{num_blocks}}</code></p>
<ul>
<li>Print high-level information about the wallet:</li>
</ul>
<p><code>bitcoin-cli getwalletinfo</code></p>
<ul>
<li>List all outputs from previous transactions available to fund outgoing transactions:</li>
</ul>
<p><code>bitcoin-cli listunspent</code></p>
<ul>
<li>Export the wallet information to a text file:</li>
</ul>
<p><code>bitcoin-cli dumpwallet "{{path/to/file}}"</code></p>
