<h1 id="blackfire">blackfire</h1>
<blockquote>
<p>A command line profiling tool for PHP. More information: <a href="https://blackfire.io" class="uri">https://blackfire.io</a>.</p>
</blockquote>
<ul>
<li>Initialise and configure the Blackfire client:</li>
</ul>
<p><code>blackfire config</code></p>
<ul>
<li>Launch the Blackfire agent:</li>
</ul>
<p><code>blackfire agent</code></p>
<ul>
<li>Launch the Blackfire agent on a specific socket:</li>
</ul>
<p><code>blackfire agent --socket="{{tcp://127.0.0.1:8307}}"</code></p>
<ul>
<li>Run the profiler on a specific program:</li>
</ul>
<p><code>blackfire run {{php path/to/file.php}}</code></p>
<ul>
<li>Run the profiler and collect 10 samples:</li>
</ul>
<p><code>blackfire --samples={{10}} run {{php path/to/file.php}}</code></p>
<ul>
<li>Run the profiler and output results as JSON:</li>
</ul>
<p><code>blackfire --json run {{php path/to/file.php}}</code></p>
<ul>
<li>Upload a profiler file to the Blackfire web service:</li>
</ul>
<p><code>blackfire upload {{path/to/file}}</code></p>
<ul>
<li>View the status of profiles on the Blackfire web service:</li>
</ul>
<p><code>blackfire status</code></p>
