<h1 id="black">black</h1>
<blockquote>
<p>A Python auto code formatter. More information: <a href="https://github.com/psf/black" class="uri">https://github.com/psf/black</a>.</p>
</blockquote>
<ul>
<li>Auto-format a file or entire directory:</li>
</ul>
<p><code>black {{path/to/file_or_directory}}</code></p>
<ul>
<li>Format the code passed in as a string:</li>
</ul>
<p><code>black -c {{path/to/file_or_directory}}</code></p>
<ul>
<li>Output a diff for each file on stdout:</li>
</ul>
<p><code>black --diff {{path/to/file_or_directory}}</code></p>
<ul>
<li>Return the status without writing the files back:</li>
</ul>
<p><code>black --check {{path/to/file_or_directory}}</code></p>
<ul>
<li>Auto-format a file or directory emitting exclusively error messages to stderr:</li>
</ul>
<p><code>black --quiet {{path/to/file_or_directory}}</code></p>
