<h1 id="blender">blender</h1>
<blockquote>
<p>Command-line interface to the Blender 3D computer graphics application. Arguments are executed in the order they are given. More information: <a href="https://docs.blender.org/manual/en/latest/render/workflows/command_line.html" class="uri">https://docs.blender.org/manual/en/latest/render/workflows/command_line.html</a>.</p>
</blockquote>
<ul>
<li>Render all frames of an animation in the background, without loading the UI (output is saved to <code>/tmp</code>):</li>
</ul>
<p><code>blender -b {{filename}}.blend -a</code></p>
<ul>
<li>Render an animation using a specific image naming pattern, in a path relative (<code>//</code>) to the .blend file:</li>
</ul>
<p><code>blender -b {{filename}}.blend -o //{{render/frame_###.png}} -a</code></p>
<ul>
<li>Render the 10th frame of an animation as a single image, saved to an existing directory (absolute path):</li>
</ul>
<p><code>blender -b {{filename}}.blend -o {{/path/to/output_directory}} -f {{10}}</code></p>
<ul>
<li>Render the second last frame in an animation as a JPEG image, saved to an existing directory (relative path):</li>
</ul>
<p><code>blender -b {{filename}}.blend -o //{{output_directory}} -F {{JPEG}} -f {{-2}}</code></p>
<ul>
<li>Render the animation of a specific scene, starting at frame 10 and ending at frame 500:</li>
</ul>
<p><code>blender -b {{filename}}.blend -S {{scene_name}} -s {{10}} -e {{500}} -a</code></p>
<ul>
<li>Render an animation at a specific resolution, by passing a Python expression:</li>
</ul>
<p><code>blender -b {{filename}}.blend --python-expr '{{import bpy; bpy.data.scenes[0].render.resolution_percentage = 25}}' -a</code></p>
<ul>
<li>Start an interactive Blender session in the terminal with a python console (do <code>import bpy</code> after starting):</li>
</ul>
<p><code>blender -b --python-console</code></p>
