<h1 id="bmaptool">bmaptool</h1>
<blockquote>
<p>Create or Copy blockmaps intelligently (and therefore faster than <code>cp</code> or <code>dd</code>). More information: <a href="https://source.tizen.org/documentation/reference/bmaptool" class="uri">https://source.tizen.org/documentation/reference/bmaptool</a>.</p>
</blockquote>
<ul>
<li>Create a blockmap from image file:</li>
</ul>
<p><code>bmaptool create -o {{blockmap.bmap}} {{source.img}}</code></p>
<ul>
<li>Copy an image file into sdb:</li>
</ul>
<p><code>bmaptool copy --bmap {{blockmap.bmap}} {{source.img}} {{/dev/sdb}}</code></p>
<ul>
<li>Copy a compressed image file into sdb:</li>
</ul>
<p><code>bmaptool copy --bmap {{blockmap.bmap}} {{source.img.gz}} {{/dev/sdb}}</code></p>
<ul>
<li>Copy an image file into sdb without using a blockmap:</li>
</ul>
<p><code>bmaptool copy --nobmap {{source.img}} {{/dev/sdb}}</code></p>
