<h1 id="boot">boot</h1>
<blockquote>
<p>Build tooling for the Clojure programming language. More information: <a href="https://github.com/boot-clj/boot" class="uri">https://github.com/boot-clj/boot</a>.</p>
</blockquote>
<ul>
<li>Start a REPL session either with the project or standalone:</li>
</ul>
<p><code>boot repl</code></p>
<ul>
<li>Build a single “uberjar”:</li>
</ul>
<p><code>boot jar</code></p>
<ul>
<li>Learn about a command:</li>
</ul>
<p><code>boot cljs --help</code></p>
<ul>
<li>Generate scaffolding for a new project based on a template:</li>
</ul>
<p><code>boot --dependencies boot/new new --template {{template_name}} --name {{project_name}}</code></p>
<ul>
<li>Build for development (if using the boot/new template):</li>
</ul>
<p><code>boot dev</code></p>
<ul>
<li>Build for production (if using the boot/new template):</li>
</ul>
<p><code>boot prod</code></p>
