<h1 id="bosh">bosh</h1>
<blockquote>
<p>Command line tool to deploy and manage the bosh director. More information: <a href="https://bosh.io/docs/cli-v2/" class="uri">https://bosh.io/docs/cli-v2/</a>.</p>
</blockquote>
<ul>
<li>Create local alias for director:</li>
</ul>
<p><code>bosh alias-env {{environment_name}} -e {{ip_address|url}} --ca-cert {{ca_certificate}}</code></p>
<ul>
<li>List environments:</li>
</ul>
<p><code>bosh environments</code></p>
<ul>
<li>Login to the director:</li>
</ul>
<p><code>bosh login -e {{environment}}</code></p>
<ul>
<li>List deployments:</li>
</ul>
<p><code>bosh -e {{environment}} deployments</code></p>
<ul>
<li>List environment virtual machines:</li>
</ul>
<p><code>bosh -e {{environment}} vms -d {{deployment}}</code></p>
<ul>
<li>Ssh into virtual machine:</li>
</ul>
<p><code>bosh -e {{environment}} ssh {{virtual_machine}} -d {{deployment}}</code></p>
<ul>
<li>Upload stemcell:</li>
</ul>
<p><code>bosh -e {{environment}} upload-stemcell {{stemcell_file|url}}</code></p>
<ul>
<li>Show current cloud config:</li>
</ul>
<p><code>bosh -e {{environment}} cloud-config</code></p>
