<h1 id="bower">bower</h1>
<blockquote>
<p>A package manager optimized for front-end web development. A package can be a GitHub user/repo shorthand, a Git endpoint, a URL or a registered package. More information: <a href="https://bower.io/" class="uri">https://bower.io/</a>.</p>
</blockquote>
<ul>
<li>Install a project’s dependencies, listed in its bower.json:</li>
</ul>
<p><code>bower install</code></p>
<ul>
<li>Install one or more packages to the bower_components directory:</li>
</ul>
<p><code>bower install {{package}} {{package}}</code></p>
<ul>
<li>Uninstall packages locally from the bower_components directory:</li>
</ul>
<p><code>bower uninstall {{package}} {{package}}</code></p>
<ul>
<li>List local packages and possible updates:</li>
</ul>
<p><code>bower list</code></p>
<ul>
<li>Display help information about a bower command:</li>
</ul>
<p><code>bower help {{command}}</code></p>
<ul>
<li>Create a bower.json file for your package:</li>
</ul>
<p><code>bower init</code></p>
<ul>
<li>Install a specific dependency version, and add it to bower.json:</li>
</ul>
<p><code>bower install {{local_name}}={{package}}#{{version}} --save</code></p>
