<h1 id="box">box</h1>
<blockquote>
<p>A PHP application for building and managing Phars. More information: <a href="https://box-project.github.io/box2" class="uri">https://box-project.github.io/box2</a>.</p>
</blockquote>
<ul>
<li>Build a new Phar file:</li>
</ul>
<p><code>box build</code></p>
<ul>
<li>Build a new Phar file using a specific config file:</li>
</ul>
<p><code>box build -c {{path/to/config}}</code></p>
<ul>
<li>Display information about the PHAR PHP extension:</li>
</ul>
<p><code>box info</code></p>
<ul>
<li>Display information about a specific Phar file:</li>
</ul>
<p><code>box info {{path/to/phar_file}}</code></p>
<ul>
<li>Validate the first found config file in the working directory:</li>
</ul>
<p><code>box validate</code></p>
<ul>
<li>Verify the signature of a specific Phar file:</li>
</ul>
<p><code>box verify {{path/to/phar_file}}</code></p>
<ul>
<li>Display all available commands and options:</li>
</ul>
<p><code>box help</code></p>
