<h1 id="browser-sync">browser-sync</h1>
<blockquote>
<p>Starts local web server that updates browser on file changes. More information: <a href="https://browsersync.io/docs/command-line" class="uri">https://browsersync.io/docs/command-line</a>.</p>
</blockquote>
<ul>
<li>Start a server from a specific directory:</li>
</ul>
<p><code>browser-sync start --server {{path/to/directory}} --files {{path/to/directory}}</code></p>
<ul>
<li>Start a server from local directory, watching all css files in some directory:</li>
</ul>
<p><code>browser-sync start --server --files '{{path/to/directory/*.css}}'</code></p>
<ul>
<li>Create configuration file:</li>
</ul>
<p><code>browser-sync init</code></p>
<ul>
<li>Start browser-sync from config file:</li>
</ul>
<p><code>browser-sync start --config {{config_file}}</code></p>
