<h1 id="bundle">bundle</h1>
<blockquote>
<p>Dependency manager for the Ruby programming language. More information: <a href="https://bundler.io/man/bundle.1.html" class="uri">https://bundler.io/man/bundle.1.html</a>.</p>
</blockquote>
<ul>
<li>Install all gems defined in the <code>Gemfile</code> expected in the working directory:</li>
</ul>
<p><code>bundle install</code></p>
<ul>
<li>Update all gems by the rules defined in the <code>Gemfile</code> and regenerate <code>Gemfile.lock</code>:</li>
</ul>
<p><code>bundle update</code></p>
<ul>
<li>Update one specific gem defined in the <code>Gemfile</code>:</li>
</ul>
<p><code>bundle update --source {{gemname}}</code></p>
<ul>
<li>Create a new gem skeleton:</li>
</ul>
<p><code>bundle gem {{gemname}}</code></p>
