<h1 id="bup">bup</h1>
<blockquote>
<p>Backup system based on the git packfile format, providing fast incremental saves and global deduplication. More information: <a href="https://github.com/bup/bup" class="uri">https://github.com/bup/bup</a>.</p>
</blockquote>
<ul>
<li>Initialize a backup repository in the specified local directory:</li>
</ul>
<p><code>bup -d {{path/to/repository}} init</code></p>
<ul>
<li>Prepare a given directory before taking a backup:</li>
</ul>
<p><code>bup -d {{path/to/repository}} index {{path/to/directory}}</code></p>
<ul>
<li>Backup a directory to the repository:</li>
</ul>
<p><code>bup -d {{path/to/repository}} save -n {{backup_name}} {{path/to/directory}}</code></p>
<ul>
<li>Show the backup snapshots currently stored in the repository:</li>
</ul>
<p><code>bup -d {{path/to/repository}} ls</code></p>
<ul>
<li>Restore a specific backup snapshot to a target directory:</li>
</ul>
<p><code>bup -d {{path/to/repository}} restore -C {{path/to/target_directory}} {{backup_name}}</code></p>
