<h1 id="buzzphrase">buzzphrase</h1>
<blockquote>
<p>Node.js command line tool to output a random buzzphrase. More information: <a href="https://github.com/atomantic/buzzphrase" class="uri">https://github.com/atomantic/buzzphrase</a>.</p>
</blockquote>
<ul>
<li>Generate a string of three random phrases containing an adjective, a past tense verb and a plural noun:</li>
</ul>
<p><code>buzzphrase</code></p>
<ul>
<li>Output a phrase formatted as [i]mperative verb + past tense [v]erb + [a]djective + plural [N]oun:</li>
</ul>
<p><code>buzzphrase {{'{i} {v} {a} {N}'}}</code></p>
<ul>
<li>Output 4 phrases formatted as present participle [V]erb + [a]djective + singular [n]oun + [f]inal:</li>
</ul>
<p><code>buzzphrase {{4 '{V} {a} {n} {f}'}}</code></p>
