<h1 id="bw">bw</h1>
<blockquote>
<p>A CLI to access and manage a Bitwarden vault. More information: <a href="https://help.bitwarden.com/article/cli/" class="uri">https://help.bitwarden.com/article/cli/</a>.</p>
</blockquote>
<ul>
<li>Log in to a Bitwarden user account:</li>
</ul>
<p><code>bw login</code></p>
<ul>
<li>Log out of a Bitwarden user account:</li>
</ul>
<p><code>bw logout</code></p>
<ul>
<li>Search and display items from Bitwarden vault:</li>
</ul>
<p><code>bw list items --search {{github}}</code></p>
<ul>
<li>Display a particular item from Bitwarden vault:</li>
</ul>
<p><code>bw get item {{github}}</code></p>
<ul>
<li>Create a folder in Bitwarden vault:</li>
</ul>
<p><code>{{echo -n '{"name":"My Folder1"}' | base64}} | bw create folder</code></p>
