<h1 id="bzip2">bzip2</h1>
<blockquote>
<p>A block-sorting file compressor. More information: <a href="http://bzip.org" class="uri">http://bzip.org</a>.</p>
</blockquote>
<ul>
<li>Compress a file:</li>
</ul>
<p><code>bzip2 {{path/to/file_to_compress}}</code></p>
<ul>
<li>Decompress a file:</li>
</ul>
<p><code>bzip2 -d {{path/to/compressed_file.bz2}}</code></p>
<ul>
<li>Decompress a file to standard output:</li>
</ul>
<p><code>bzip2 -dc {{path/to/compressed_file.bz2}}</code></p>
