<h1 id="c99">c99</h1>
<blockquote>
<p>Compiles C programs according to the ISO C standard.</p>
</blockquote>
<ul>
<li>Compile source file(s) and create an executable:</li>
</ul>
<p><code>c99 {{file.c}}</code></p>
<ul>
<li>Compile source file(s) and create an executable with a custom name:</li>
</ul>
<p><code>c99 -o {{executable_name}} {{file.c}}</code></p>
<ul>
<li>Compile source file(s) and create object file(s):</li>
</ul>
<p><code>c99 -c {{file.c}}</code></p>
<ul>
<li>Compile source file(s), link with object file(s), and create an executable:</li>
</ul>
<p><code>c99 {{file.c}} {{file.o}}</code></p>
