<h1 id="cabal">cabal</h1>
<blockquote>
<p>Command line interface to the Haskell package infrastructure (Cabal). Manage Haskell projects and Cabal packages from the Hackage package repository. More information: <a href="https://cabal.readthedocs.io/en/latest/intro.html" class="uri">https://cabal.readthedocs.io/en/latest/intro.html</a>.</p>
</blockquote>
<ul>
<li>Search and list packages from Hackage:</li>
</ul>
<p><code>cabal list {{search_string}}</code></p>
<ul>
<li>Show information about a package:</li>
</ul>
<p><code>cabal info {{package_name}}</code></p>
<ul>
<li>Download and install a package:</li>
</ul>
<p><code>cabal install {{package_name}}</code></p>
<ul>
<li>Create a new Haskell project in the current directory:</li>
</ul>
<p><code>cabal init</code></p>
<ul>
<li>Build the project in the current directory:</li>
</ul>
<p><code>cabal build</code></p>
<ul>
<li>Run tests of the project in the current directory:</li>
</ul>
<p><code>cabal test</code></p>
