<h1 id="cake">cake</h1>
<blockquote>
<p>The command line processor for the CakePHP framework. More information: <a href="https://cakephp.org" class="uri">https://cakephp.org</a>.</p>
</blockquote>
<ul>
<li>Display basic information about the current app and available commands:</li>
</ul>
<p><code>cake</code></p>
<ul>
<li>Display a list of available routes:</li>
</ul>
<p><code>cake routes</code></p>
<ul>
<li>Clear configuration caches:</li>
</ul>
<p><code>cake cache clear_all</code></p>
<ul>
<li>Build the metadata cache:</li>
</ul>
<p><code>cake schema_cache build --connection {{connection}}</code></p>
<ul>
<li>Clear the metadata cache:</li>
</ul>
<p><code>cake schema_cache clear</code></p>
<ul>
<li>Clear a single cache table:</li>
</ul>
<p><code>cake schema_cache clear {{table_name}}</code></p>
<ul>
<li>Start a development web server (defaults to port 8765):</li>
</ul>
<p><code>cake server</code></p>
<ul>
<li>Start a REPL interactive shell instance:</li>
</ul>
<p><code>cake console</code></p>
