<h1 id="calibre-server">calibre-server</h1>
<blockquote>
<p>A server application that can be used to distribute ebooks over a network. Ebooks must be imported into the library using the GUI or calibredb before. Part of the Calibre ebook library. More information: <a href="https://manual.calibre-ebook.com/generated/en/calibre-server.html" class="uri">https://manual.calibre-ebook.com/generated/en/calibre-server.html</a>.</p>
</blockquote>
<ul>
<li>Start a server to distribute ebooks. Access at http://localhost:8080:</li>
</ul>
<p><code>calibre-server</code></p>
<ul>
<li>Start server on different port. Access at http://localhost:port:</li>
</ul>
<p><code>calibre-server --port {{port}}</code></p>
<ul>
<li>Password protect the server:</li>
</ul>
<p><code>calibre-server --username {{username}} --password {{password}}</code></p>
