<h1 id="calibredb">calibredb</h1>
<blockquote>
<p>Tool to manipulate the your ebook database. Part of the Calibre ebook library. More information: <a href="https://manual.calibre-ebook.com/generated/en/calibredb.html" class="uri">https://manual.calibre-ebook.com/generated/en/calibredb.html</a>.</p>
</blockquote>
<ul>
<li>List ebooks in the library with additional information:</li>
</ul>
<p><code>calibredb list</code></p>
<ul>
<li>Search for ebooks displaying additional information:</li>
</ul>
<p><code>calibredb list --search {{search_term}}</code></p>
<ul>
<li>Search for just ids of ebooks:</li>
</ul>
<p><code>calibredb search {{search_term}}</code></p>
<ul>
<li>Add one or more ebooks to the library:</li>
</ul>
<p><code>calibredb add {{file1 file2 …}}</code></p>
<ul>
<li>Remove one or more ebooks from the library. You need ebook-ids (see above):</li>
</ul>
<p><code>calibredb remove {{id1 id2 …}}</code></p>
