<h1 id="cargo">cargo</h1>
<blockquote>
<p>Rust package manager. Manage Rust projects and their module dependencies (crates). More information: <a href="https://crates.io/" class="uri">https://crates.io/</a>.</p>
</blockquote>
<ul>
<li>Search for crates:</li>
</ul>
<p><code>cargo search {{search_string}}</code></p>
<ul>
<li>Install a crate:</li>
</ul>
<p><code>cargo install {{crate_name}}</code></p>
<ul>
<li>List installed crates:</li>
</ul>
<p><code>cargo install --list</code></p>
<ul>
<li>Create a new binary or library Rust project in the current directory:</li>
</ul>
<p><code>cargo init --{{bin|lib}}</code></p>
<ul>
<li>Create a new binary or library Rust project in the specified directory:</li>
</ul>
<p><code>cargo new {{path/to/directory}} --{{bin|lib}}</code></p>
<ul>
<li>Build the Rust project in the current directory:</li>
</ul>
<p><code>cargo build</code></p>
<ul>
<li>Build using a specific number of threads (default is the number of CPU cores):</li>
</ul>
<p><code>cargo build -j {{jobs}}</code></p>
