<h1 id="case">case</h1>
<blockquote>
<p>Branch based on the value of an expression.</p>
</blockquote>
<ul>
<li>Match a variable against string literals to decide which command to run:</li>
</ul>
<p><code>case {{$tocount}} in {{words}}) {{wc -w README}}; ;; {{lines}}) {{wc -l README}}; ;; esac</code></p>
<ul>
<li>Combine patterns with |, use * as a fallback pattern:</li>
</ul>
<p><code>case {{$tocount}} in {{[wW]|words}}) {{wc -w README}}; ;; {{[lL]|lines}}) {{wc -l README}}; ;; *) {{echo "what?"}}; ;; esac</code></p>
