<h1 id="cat">cat</h1>
<blockquote>
<p>Print and concatenate files.</p>
</blockquote>
<ul>
<li>Print the contents of a file to the standard output:</li>
</ul>
<p><code>cat {{file}}</code></p>
<ul>
<li>Concatenate several files into the target file:</li>
</ul>
<p><code>cat {{file1}} {{file2}} &gt; {{target_file}}</code></p>
<ul>
<li>Append several files into the target file:</li>
</ul>
<p><code>cat {{file1}} {{file2}} &gt;&gt; {{target_file}}</code></p>
<ul>
<li>Number all output lines:</li>
</ul>
<p><code>cat -n {{file}}</code></p>
<ul>
<li>Display non-printable and whitespace characters (with <code>M-</code> prefix if non-ASCII):</li>
</ul>
<p><code>cat -v -t -e {{file}}</code></p>
