<h1 id="cd">cd</h1>
<blockquote>
<p>Change the current working directory.</p>
</blockquote>
<ul>
<li>Go to the given directory:</li>
</ul>
<p><code>cd {{path/to/directory}}</code></p>
<ul>
<li>Go to home directory of current user:</li>
</ul>
<p><code>cd</code></p>
<ul>
<li>Go up to the parent of the current directory:</li>
</ul>
<p><code>cd ..</code></p>
<ul>
<li>Go to the previously chosen directory:</li>
</ul>
<p><code>cd -</code></p>
