<h1 id="chars">chars</h1>
<blockquote>
<p>Display names and codes for various ASCII and Unicode characters and code points. More information: <a href="https://github.com/antifuchs/chars" class="uri">https://github.com/antifuchs/chars</a>.</p>
</blockquote>
<ul>
<li>Look up a character by its value:</li>
</ul>
<p><code>chars '{{ß}}'</code></p>
<ul>
<li>Look up a character by its Unicode code point:</li>
</ul>
<p><code>chars {{U+1F63C}}</code></p>
<ul>
<li>Look up possible characters given an ambiguous code point:</li>
</ul>
<p><code>chars {{10}}</code></p>
<ul>
<li>Look up a control character:</li>
</ul>
<p><code>chars "{{^C}}"</code></p>
