<h1 id="chcon">chcon</h1>
<blockquote>
<p>Change SELinux security context of a file or files/directories.</p>
</blockquote>
<ul>
<li>View security context of a file:</li>
</ul>
<p><code>ls -lZ {{path/to/file}}</code></p>
<ul>
<li>Change the security context of a target file, using a reference file:</li>
</ul>
<p><code>chcon --reference={{reference_file}} {{target_file}}</code></p>
<ul>
<li>Change the full SELinux security context of a file:</li>
</ul>
<p><code>chcon {{user}}:{{role}}:{{type}}:{{range/level}} {{filename}}</code></p>
<ul>
<li>Change only the user part of SELinux security context:</li>
</ul>
<p><code>chcon -u {{user}} {{filename}}</code></p>
<ul>
<li>Change only the role part of SELinux security context:</li>
</ul>
<p><code>chcon -r {{role}} {{filename}}</code></p>
<ul>
<li>Change only the type part of SELinux security context:</li>
</ul>
<p><code>chcon -t {{type}} {{filename}}</code></p>
<ul>
<li>Change only the range/level part of SELinux security context:</li>
</ul>
<p><code>chcon -l {{range/level}} {{filename}}</code></p>
