<h1 id="chgrp">chgrp</h1>
<blockquote>
<p>Change group ownership of files and directories.</p>
</blockquote>
<ul>
<li>Change the owner group of a file/directory:</li>
</ul>
<p><code>chgrp {{group}} {{path/to/file_or_directory}}</code></p>
<ul>
<li>Recursively change the owner group of a directory and its contents:</li>
</ul>
<p><code>chgrp -R {{group}} {{path/to/directory}}</code></p>
<ul>
<li>Change the owner group of a symbolic link:</li>
</ul>
<p><code>chgrp -h {{group}} {{path/to/symlink}}</code></p>
<ul>
<li>Change the owner group of a file/directory to match a reference file:</li>
</ul>
<p><code>chgrp --reference={{path/to/reference_file}} {{path/to/file_or_directory}}</code></p>
