<h1 id="chisel">chisel</h1>
<blockquote>
<p>Create TCP tunnels. Includes both client and server. More information: <a href="https://github.com/jpillora/chisel" class="uri">https://github.com/jpillora/chisel</a>.</p>
</blockquote>
<ul>
<li>Run a Chisel server:</li>
</ul>
<p><code>chisel server</code></p>
<ul>
<li>Run a Chisel server listening to a specific port:</li>
</ul>
<p><code>chisel server -p {{server_port}}</code></p>
<ul>
<li>Run a chisel server that accepts authenticated connections using username and password:</li>
</ul>
<p><code>chisel server --auth {{username}}:{{password}}</code></p>
<ul>
<li>Connect to a Chisel server and tunnel a specific port to a remote server and port:</li>
</ul>
<p><code>chisel client {{server_ip}}:{{server_port}} {{local_port}}:{{remote_server}}:{{remote_port}}</code></p>
<ul>
<li>Connect to a Chisel server and tunnel a specific host and port to a remote server and port:</li>
</ul>
<p><code>chisel client {{server_ip}}:{{server_port}} {{local_host}}:{{local_port}}:{{remote_server}}:{{remote_port}}</code></p>
<ul>
<li>Connect to a Chisel server using username and password authentication:</li>
</ul>
<p><code>chisel client --auth {{username}}:{{password}} {{server_ip}}:{{server_port}} {{local_port}}:{{remote_server}}:{{remote_port}}</code></p>
