<h1 id="chmod">chmod</h1>
<blockquote>
<p>Change the access permissions of a file or directory.</p>
</blockquote>
<ul>
<li>Give the [u]ser who owns a file the right to e[x]ecute it:</li>
</ul>
<p><code>chmod u+x {{file}}</code></p>
<ul>
<li>Give the user rights to [r]ead and [w]rite to a file/directory:</li>
</ul>
<p><code>chmod u+rw {{file_or_directory}}</code></p>
<ul>
<li>Remove executable rights from the [g]roup:</li>
</ul>
<p><code>chmod g-x {{file}}</code></p>
<ul>
<li>Give [a]ll users rights to read and execute:</li>
</ul>
<p><code>chmod a+rx {{file}}</code></p>
<ul>
<li>Give [o]thers (not in the file owner’s group) the same rights as the group:</li>
</ul>
<p><code>chmod o=g {{file}}</code></p>
<ul>
<li>Change permissions recursively giving [g]roup and [o]thers the abililty to [w]rite:</li>
</ul>
<p><code>chmod -R g+w,o+w {{directory}}</code></p>
