<h1 id="chown">chown</h1>
<blockquote>
<p>Change user and group ownership of files and directories.</p>
</blockquote>
<ul>
<li>Change the owner user of a file/directory:</li>
</ul>
<p><code>chown {{user}} {{path/to/file_or_directory}}</code></p>
<ul>
<li>Change the owner user and group of a file/directory:</li>
</ul>
<p><code>chown {{user}}:{{group}} {{path/to/file_or_directory}}</code></p>
<ul>
<li>Recursively change the owner of a directory and its contents:</li>
</ul>
<p><code>chown -R {{user}} {{path/to/directory}}</code></p>
<ul>
<li>Change the owner of a symbolic link:</li>
</ul>
<p><code>chown -h {{user}} {{path/to/symlink}}</code></p>
<ul>
<li>Change the owner of a file/directory to match a reference file:</li>
</ul>
<p><code>chown --reference={{path/to/reference_file}} {{path/to/file_or_directory}}</code></p>
