<h1 id="chroot">chroot</h1>
<blockquote>
<p>Run command or interactive shell with special root directory.</p>
</blockquote>
<ul>
<li>Run command as new root directory:</li>
</ul>
<p><code>chroot {{/path/to/new/root}} {{command}}</code></p>
<ul>
<li>Specify user and group (ID or name) to use:</li>
</ul>
<p><code>chroot --userspec={{user:group}}</code></p>
