<h1 id="chromium">chromium</h1>
<blockquote>
<p>Open-source web browser from Google. More information: <a href="https://chromium.org" class="uri">https://chromium.org</a>.</p>
</blockquote>
<ul>
<li>Open a file:</li>
</ul>
<p><code>chromium {{path/to/file.html}}</code></p>
<ul>
<li>Open an URL:</li>
</ul>
<p><code>chromium {{example.com}}</code></p>
<ul>
<li>Open in incognito mode:</li>
</ul>
<p><code>chromium --incognito {{example.com}}</code></p>
<ul>
<li>Open in a new window:</li>
</ul>
<p><code>chromium --new-window {{example.com}}</code></p>
<ul>
<li>Open in app mode (without toolbars, URL bar, buttons, etc.):</li>
</ul>
<p><code>chromium --app='{{https://example.com}}'</code></p>
<ul>
<li>Use a proxy server:</li>
</ul>
<p><code>chromium --proxy-server="{{socks5://hostname:66}}" {{example.com}}</code></p>
