<h1 id="cksum">cksum</h1>
<blockquote>
<p>Calculates CRC checksums and byte counts of a file. Note, on old UNIX systems the CRC implementation may differ.</p>
</blockquote>
<ul>
<li>Display a 32 bit checksum, size in bytes and filename:</li>
</ul>
<p><code>cksum {{filename}}</code></p>
