<h1 id="clamscan">clamscan</h1>
<blockquote>
<p>A command line virus scanner. More information: <a href="https://www.clamav.net" class="uri">https://www.clamav.net</a>.</p>
</blockquote>
<ul>
<li>Scan a file for vulnerabilities:</li>
</ul>
<p><code>clamscan {{path/to/file}}</code></p>
<ul>
<li>Scan all files recursively in a specific directory:</li>
</ul>
<p><code>clamscan -r {{path/to/directory}}</code></p>
<ul>
<li>Scan data from <code>stdin</code>:</li>
</ul>
<p><code>{{command}} | clamscan -</code></p>
<ul>
<li>Specify a virus database file or directory of files:</li>
</ul>
<p><code>clamscan --database {{path/to/database_file_or_directory}}</code></p>
<ul>
<li>Scan the current directory and output only infected files:</li>
</ul>
<p><code>clamscan --infected</code></p>
<ul>
<li>Output the scan report to a log file:</li>
</ul>
<p><code>clamscan --log {{path/to/log_file}}</code></p>
<ul>
<li>Move infected files to a specific directory:</li>
</ul>
<p><code>clamscan --move {{path/to/quarantine_directory}}</code></p>
<ul>
<li>Remove infected files:</li>
</ul>
<p><code>clamscan --remove yes</code></p>
