<h1 id="clang">clang</h1>
<blockquote>
<p>Compiler for C, C++, and Objective-C source files. Can be used as a drop-in replacement for GCC. More information: <a href="https://clang.llvm.org/docs/ClangCommandLineReference.html" class="uri">https://clang.llvm.org/docs/ClangCommandLineReference.html</a>.</p>
</blockquote>
<ul>
<li>Compile a source code file into an executable binary:</li>
</ul>
<p><code>clang {{input_source.c}} -o {{output_executable}}</code></p>
<ul>
<li>Activate output of all errors and warnings:</li>
</ul>
<p><code>clang {{input_source.c}} -Wall -o {{output_executable}}</code></p>
<ul>
<li>Include libraries located at a different path than the source file:</li>
</ul>
<p><code>clang {{input_source.c}} -o {{output_executable}} -I{{header_path}} -L{{library_path}} -l{{library_name}}</code></p>
<ul>
<li>Compile source code into LLVM Intermediate Representation (IR):</li>
</ul>
<p><code>clang -S -emit-llvm {{file.c}} -o {{file.ll}}</code></p>
