<h1 id="clementine">clementine</h1>
<blockquote>
<p>A modern music player and library organizer. More information: <a href="https://www.clementine-player.org" class="uri">https://www.clementine-player.org</a>.</p>
</blockquote>
<ul>
<li>Open Clementine:</li>
</ul>
<p><code>clementine</code></p>
<ul>
<li>Start playing a music file:</li>
</ul>
<p><code>clementine {{url/or/path/to/file.ext}}</code></p>
<ul>
<li>Toggle between pausing and playing:</li>
</ul>
<p><code>clementine --play-pause</code></p>
<ul>
<li>Stop playback:</li>
</ul>
<p><code>clementine --stop</code></p>
<ul>
<li>Skip to the next track:</li>
</ul>
<p><code>clementine --next</code></p>
<ul>
<li>Skip to the previous track:</li>
</ul>
<p><code>clementine --previous</code></p>
<ul>
<li>Load a playlist file:</li>
</ul>
<p><code>clementine --load {{path/to/playlist.ext}}</code></p>
<ul>
<li>Play the 5th track in the currently loaded playlist:</li>
</ul>
<p><code>clementine --play-track {{5}}</code></p>
