<h1 id="cloc">cloc</h1>
<blockquote>
<p>Count, and compute differences of, lines of source code and comments. More information: <a href="https://github.com/AlDanial/cloc" class="uri">https://github.com/AlDanial/cloc</a>.</p>
</blockquote>
<ul>
<li>Count all the lines of code in a directory:</li>
</ul>
<p><code>cloc {{/path/to/directory}}</code></p>
<ul>
<li>Count all the lines of code in a directory, displaying a progress bar during the counting process:</li>
</ul>
<p><code>cloc --progress=1 {{/path/to/directory}}</code></p>
<ul>
<li>Compare 2 directory structures and count the differences between them:</li>
</ul>
<p><code>cloc --diff {{/directory/one}} {{/directory/two}}</code></p>
