<h1 id="clockwork-cli">clockwork-cli</h1>
<blockquote>
<p>A command line interface for the Clockwork PHP debugging framework. More information: <a href="https://github.com/ptrofimov/clockwork-cli" class="uri">https://github.com/ptrofimov/clockwork-cli</a>.</p>
</blockquote>
<ul>
<li>Monitor Clockwork logs for the current project:</li>
</ul>
<p><code>clockwork-cli</code></p>
<ul>
<li>Monitor Clockwork logs for a specific project:</li>
</ul>
<p><code>clockwork-cli {{path/to/directory}}</code></p>
<ul>
<li>Monitor Clockwork logs for multiple projects:</li>
</ul>
<p><code>clockwork-cli {{path/to/directory1 path/to/directory2 …}}</code></p>
