<h1 id="cmake">cmake</h1>
<blockquote>
<p>Cross-platform build system generator. It generates Makefiles, Visual Studio projects or others, depending on the target system. More information: <a href="https://cmake.org/cmake/help/v3.2/manual/cmake.1.html" class="uri">https://cmake.org/cmake/help/v3.2/manual/cmake.1.html</a>.</p>
</blockquote>
<ul>
<li>Generate a Makefile and use it to compile a project in the same directory as the source:</li>
</ul>
<p><code>cmake &amp;&amp; make</code></p>
<ul>
<li>Generate a Makefile and use it to compile a project in a separate “build” directory (out-of-source build):</li>
</ul>
<p><code>cmake -H. -B{{build}} &amp;&amp; make -C {{build}}</code></p>
<ul>
<li>Run cmake in interactive mode (it will ask for each variable, instead of using defaults):</li>
</ul>
<p><code>cmake -i</code></p>
