<h1 id="cmark">cmark</h1>
<blockquote>
<p>Converts CommonMark Markdown formatted text to other formats. More information: <a href="https://github.com/commonmark/cmark" class="uri">https://github.com/commonmark/cmark</a>.</p>
</blockquote>
<ul>
<li>Render a Commonmark Markdown file to HTML:</li>
</ul>
<p><code>cmark --to html {{filename.md}}</code></p>
<ul>
<li>Convert data from standard input to latex:</li>
</ul>
<p><code>cmark --to latex</code></p>
<ul>
<li>Convert straight quotes to smart quotes:</li>
</ul>
<p><code>cmark --smart --to html {{filename.md}}</code></p>
<ul>
<li>Validate utf8 characters:</li>
</ul>
<p><code>cmark --validate-utf8 {{filename.md}}</code></p>
