<h1 id="cmp">cmp</h1>
<blockquote>
<p>Compare two files.</p>
</blockquote>
<ul>
<li>Find the byte number and line number of the first difference between the files:</li>
</ul>
<p><code>cmp {{file1}} {{file2}}</code></p>
<ul>
<li>Find the byte number and differing bytes of every difference:</li>
</ul>
<p><code>cmp -l {{file1}} {{file2}}</code></p>
