<h1 id="code">code</h1>
<blockquote>
<p>Visual Studio Code. More information: <a href="https://github.com/microsoft/vscode" class="uri">https://github.com/microsoft/vscode</a>.</p>
</blockquote>
<ul>
<li>Open VS Code:</li>
</ul>
<p><code>code</code></p>
<ul>
<li>Open the current directory in VS Code:</li>
</ul>
<p><code>code .</code></p>
<ul>
<li>Open a file or directory in VS Code:</li>
</ul>
<p><code>code {{path/to/file_or_directory}}</code></p>
<ul>
<li>Open a file or directory in the currently open VS Code window:</li>
</ul>
<p><code>code --reuse-window {{path/to/file_or_directory}}</code></p>
<ul>
<li>Compare two files in VS Code:</li>
</ul>
<p><code>code -d {{file1}} {{file2}}</code></p>
