<h1 id="coffee">coffee</h1>
<blockquote>
<p>Executes CoffeeScript scripts or compiles them into JavaScript. More information: <a href="https://coffeescript.org#cli" class="uri">https://coffeescript.org#cli</a>.</p>
</blockquote>
<ul>
<li>Run a script:</li>
</ul>
<p><code>coffee {{path/to/file.coffee}}</code></p>
<ul>
<li>Compile to JavaScript and save to a file with the same name:</li>
</ul>
<p><code>coffee --compile {{path/to/file.coffee}}</code></p>
<ul>
<li>Compile to JavaScript and save to a given output file:</li>
</ul>
<p><code>coffee --compile {{path/to/file.coffee}} --output {{path/to/file.js}}</code></p>
<ul>
<li>Run interactive REPL:</li>
</ul>
<p><code>coffee --interactive</code></p>
<ul>
<li>Watch script for changes and re-run script:</li>
</ul>
<p><code>coffee --watch {{path/to/file.coffee}}</code></p>
