<h1 id="column">column</h1>
<blockquote>
<p>Format standard input or file into multiple columns. Rows are filled before columns; default separator is whitespace.</p>
</blockquote>
<ul>
<li>Format output for a 30 characters wide display:</li>
</ul>
<p><code>printf "header1 header2\nbar foo\n" | column -c {{30}}</code></p>
<ul>
<li>Split columns automatically and auto-align in a tabular format:</li>
</ul>
<p><code>printf "header1 header2\nbar foo\n" | column -t</code></p>
<ul>
<li>Specify column delimiter character for the -t option (e.g. “,” for csv); default is whitespace:</li>
</ul>
<p><code>printf "header1,header2\nbar,foo\n" | column -t -s{{,}}</code></p>
<ul>
<li>Fill columns before filling rows:</li>
</ul>
<p><code>printf "header1\nbar\nfoobar\n" | column -c {{30}} -x</code></p>
