<h1 id="comm">comm</h1>
<blockquote>
<p>Select or reject lines common to two files. Both files must be sorted.</p>
</blockquote>
<ul>
<li>Produce three tab-separated columns: lines only in first file, lines only in second file and common lines:</li>
</ul>
<p><code>comm {{file1}} {{file2}}</code></p>
<ul>
<li>Print only lines common to both files:</li>
</ul>
<p><code>comm -12 {{file1}} {{file2}}</code></p>
<ul>
<li>Print only lines common to both files, reading one file from <code>stdin</code>:</li>
</ul>
<p><code>cat {{file1}} | comm -12 - {{file2}}</code></p>
<ul>
<li>Get lines only found in first file, saving the result to a third file:</li>
</ul>
<p><code>comm -23 {{file1}} {{file2}} &gt; {{file1_only}}</code></p>
<ul>
<li>Print lines only found in second file, when the files aren’t sorted:</li>
</ul>
<p><code>comm -13 &lt;(sort {{file1}}) &lt;(sort {{file2}})</code></p>
