<h1 id="complete">complete</h1>
<blockquote>
<p>Provides argument autocompletion to shell commands.</p>
</blockquote>
<ul>
<li>Apply a function that performs autocompletion to a command:</li>
</ul>
<p><code>complete -F {{function}} {{command}}</code></p>
<ul>
<li>Apply a command that performs autocompletion to another command:</li>
</ul>
<p><code>complete -C {{autocomplete_command}} {{command}}</code></p>
<ul>
<li>Apply autocompletion without appending a space to the completed word:</li>
</ul>
<p><code>complete -o nospace -F {{function}} {{command}}</code></p>
