<h1 id="composer">composer</h1>
<blockquote>
<p>A package-based dependency manager for PHP projects. More information: <a href="https://getcomposer.org/" class="uri">https://getcomposer.org/</a>.</p>
</blockquote>
<ul>
<li>Add a package as a dependency for this project, adding it to <code>composer.json</code>:</li>
</ul>
<p><code>composer require {{user/package_name}}</code></p>
<ul>
<li>Install all the dependencies in this project’s <code>composer.json</code>:</li>
</ul>
<p><code>composer install</code></p>
<ul>
<li>Uninstall a package from this project, removing it as a dependency from <code>composer.json</code>:</li>
</ul>
<p><code>composer remove {{user/package_name}}</code></p>
<ul>
<li>Update all the dependencies in this project’s <code>composer.json</code>:</li>
</ul>
<p><code>composer update</code></p>
<ul>
<li>Update composer to the latest version:</li>
</ul>
<p><code>composer self-update</code></p>
