<h1 id="conda">conda</h1>
<blockquote>
<p>Package, dependency and environment management for any programming language. More information: <a href="https://github.com/conda/conda" class="uri">https://github.com/conda/conda</a>.</p>
</blockquote>
<ul>
<li>Create a new environment, installing named packages into it:</li>
</ul>
<p><code>conda create --name {{environment_name}} {{python=2.7 matplotlib}}</code></p>
<ul>
<li>List all environments:</li>
</ul>
<p><code>conda info --envs</code></p>
<ul>
<li>Load or unload an environment:</li>
</ul>
<p><code>conda {{activate|deactivate}} {{environment_name}}</code></p>
<ul>
<li>Delete an environment (remove all packages):</li>
</ul>
<p><code>conda remove --name {{environment_name}} --all</code></p>
<ul>
<li>Search conda channels for a package by name:</li>
</ul>
<p><code>conda search {{package_name}}</code></p>
<ul>
<li>Install packages into the current environment:</li>
</ul>
<p><code>conda install {{python=3.4 numpy}}</code></p>
<ul>
<li>List currently installed packages in current environment:</li>
</ul>
<p><code>conda list</code></p>
<ul>
<li>Delete unused packages and caches:</li>
</ul>
<p><code>conda clean --all</code></p>
