<h1 id="consul">consul</h1>
<blockquote>
<p>Distributed key-value store with health checking and service discovery. More information: <a href="https://www.consul.io/docs/commands/index.html" class="uri">https://www.consul.io/docs/commands/index.html</a>.</p>
</blockquote>
<ul>
<li>Check the Consul version:</li>
</ul>
<p><code>consul --version</code></p>
<ul>
<li>Show general help:</li>
</ul>
<p><code>consul --help</code></p>
<ul>
<li>Show help for a sub-command:</li>
</ul>
<p><code>consul {{sub-command}} --help</code></p>
