<h1 id="consul-kv">consul-kv</h1>
<blockquote>
<p>Distributed key-value store with health checking and service discovery. More information: <a href="https://learn.hashicorp.com/consul/getting-started/kv" class="uri">https://learn.hashicorp.com/consul/getting-started/kv</a>.</p>
</blockquote>
<ul>
<li>Read a value from the key-value store:</li>
</ul>
<p><code>consul kv get {{key}}</code></p>
<ul>
<li>Store a new key-value pair:</li>
</ul>
<p><code>consul kv put {{key}} {{value}}</code></p>
<ul>
<li>Delete a key-value pair:</li>
</ul>
<p><code>consul kv delete {{key}}</code></p>
