<h1 id="convert">convert</h1>
<blockquote>
<p>Imagemagick image conversion tool. More information: <a href="https://imagemagick.org/script/convert.php" class="uri">https://imagemagick.org/script/convert.php</a>.</p>
</blockquote>
<ul>
<li>Convert an image from JPG to PNG:</li>
</ul>
<p><code>convert {{image.jpg}} {{image.png}}</code></p>
<ul>
<li>Scale an image 50% its original size:</li>
</ul>
<p><code>convert {{image.png}} -resize 50% {{image2.png}}</code></p>
<ul>
<li>Scale an image keeping the original aspect ratio to a maximum dimension of 640x480:</li>
</ul>
<p><code>convert {{image.png}} -resize 640x480 {{image2.png}}</code></p>
<ul>
<li>Horizontally append images:</li>
</ul>
<p><code>convert {{image1.png}} {{image2.png}} {{image3.png}} +append {{image123.png}}</code></p>
<ul>
<li>Vertically append images:</li>
</ul>
<p><code>convert {{image1.png}} {{image2.png}} {{image3.png}} -append {{image123.png}}</code></p>
<ul>
<li>Create a gif from a series of images with 100ms delay between them:</li>
</ul>
<p><code>convert {{image1.png}} {{image2.png}} {{image3.png}} -delay {{100}} {{animation.gif}}</code></p>
<ul>
<li>Create an image with nothing but a solid background:</li>
</ul>
<p><code>convert -size {{800x600}} "xc:{{#ff0000}}" {{image.png}}</code></p>
