<h1 id="convmv">convmv</h1>
<blockquote>
<p>Convert filenames (NOT file content) from one encoding to another. More information: <a href="https://www.j3e.de/linux/convmv/man/" class="uri">https://www.j3e.de/linux/convmv/man/</a>.</p>
</blockquote>
<ul>
<li>Test filename encoding conversion (don’t actually change the filename):</li>
</ul>
<p><code>convmv -f {{from_encoding}} -t {{to_encoding}} {{input_file}}</code></p>
<ul>
<li>Convert filename encoding and rename the file to the new encoding:</li>
</ul>
<p><code>convmv -f {{from_encoding}} -t {{to_encoding}} --notest {{input_file}}</code></p>
