<h1 id="copyq">copyq</h1>
<blockquote>
<p>Clipboard manager with advanced features. More information: <a href="https://hluk.github.io/CopyQ/" class="uri">https://hluk.github.io/CopyQ/</a>.</p>
</blockquote>
<ul>
<li>Launch CopyQ to store clipboard history:</li>
</ul>
<p><code>copyq</code></p>
<ul>
<li>Show current clipboard content:</li>
</ul>
<p><code>copyq clipboard</code></p>
<ul>
<li>Insert raw text into the clipboard history:</li>
</ul>
<p><code>copyq add -- {{text1}} {{text2}} {{text3}}</code></p>
<ul>
<li>Insert text containing escape sequences (‘’, ’) into the clipboard history:</li>
</ul>
<p><code>copyq add {{firstline\nsecondline}}</code></p>
<ul>
<li>Print the content of the first 3 items in the clipboard history:</li>
</ul>
<p><code>copyq read 0 1 2</code></p>
<ul>
<li>Copy a file’s contents into the clipboard:</li>
</ul>
<p><code>copyq copy &lt; {{file.txt}}</code></p>
<ul>
<li>Copy a JPEG image into the clipboard:</li>
</ul>
<p><code>copyq copy image/jpeg &lt; {{image.jpg}}</code></p>
