<h1 id="cordova">cordova</h1>
<blockquote>
<p>Mobile apps with HTML, CSS &amp; JS. More information: <a href="https://cordova.apache.org/docs/en/latest/guide/cli/" class="uri">https://cordova.apache.org/docs/en/latest/guide/cli/</a>.</p>
</blockquote>
<ul>
<li>Create a cordova project:</li>
</ul>
<p><code>cordova create {{path}} {{package_name}} {{project_name}}</code></p>
<ul>
<li>Display the current workspace status:</li>
</ul>
<p><code>cordova info</code></p>
<ul>
<li>Add a cordova platform:</li>
</ul>
<p><code>cordova platform add {{platform}}</code></p>
<ul>
<li>Remove a cordova platform:</li>
</ul>
<p><code>cordova platform remove {{platform}}</code></p>
<ul>
<li>Add a cordova plugin:</li>
</ul>
<p><code>cordova plugin add {{pluginid}}</code></p>
<ul>
<li>Remove a cordova plugin:</li>
</ul>
<p><code>cordova plugin remove {{pluginid}}</code></p>
