<h1 id="cotton">cotton</h1>
<blockquote>
<p>Markdown test specification runner. More information: <a href="https://github.com/chonla/cotton" class="uri">https://github.com/chonla/cotton</a>.</p>
</blockquote>
<ul>
<li>Use a specific base url:</li>
</ul>
<p><code>cotton -u {{base_url}} {{file}}.md</code></p>
<ul>
<li>Disable certificate verification (insecure mode):</li>
</ul>
<p><code>cotton -u {{base_url}} -i {{file}}.md</code></p>
<ul>
<li>Stop running when a test fails:</li>
</ul>
<p><code>cotton -u {{base_url}} -s {{file}}.md</code></p>
