<h1 id="cp">cp</h1>
<blockquote>
<p>Copy files and directories.</p>
</blockquote>
<ul>
<li>Copy a file to another location:</li>
</ul>
<p><code>cp {{path/to/file.ext}} {{path/to/copy.ext}}</code></p>
<ul>
<li>Copy a file into another directory, keeping the filename:</li>
</ul>
<p><code>cp {{path/to/file.ext}} {{path/to/target_parent_directory}}</code></p>
<ul>
<li>Recursively copy a directory’s contents to another location (if the destination exists, the directory is copied inside it):</li>
</ul>
<p><code>cp -r {{path/to/directory}} {{path/to/copy}}</code></p>
<ul>
<li>Copy a directory recursively, in verbose mode (shows files as they are copied):</li>
</ul>
<p><code>cp -vr {{path/to/directory}} {{path/to/copy}}</code></p>
<ul>
<li>Copy text files to another location, in interactive mode (prompts user before overwriting):</li>
</ul>
<p><code>cp -i {{*.txt}} {{path/to/target_directory}}</code></p>
