<h1 id="cpio">cpio</h1>
<blockquote>
<p>Copies files in and out of archives. Supports the following archive formats: cpio’s custom binary, old ASCII, new ASCII, crc, HPUX binary, HPUX old ASCII, old tar, and POSIX.1 tar. More information: <a href="https://www.gnu.org/software/cpio" class="uri">https://www.gnu.org/software/cpio</a>.</p>
</blockquote>
<ul>
<li>Take a list of file names from standard input and add them [o]nto an archive in cpio’s binary format:</li>
</ul>
<p><code>echo "{{file1}} {{file2}} {{file3}}" | cpio -o &gt; {{archive.cpio}}</code></p>
<ul>
<li>Copy all files and directories in a directory and add them [o]nto an archive, in [v]erbose mode:</li>
</ul>
<p><code>find {{path/to/directory}} | cpio -ov &gt; {{archive.cpio}}</code></p>
<ul>
<li>P[i]ck all files from an archive, generating [d]irectories where needed, in [v]erbose mode:</li>
</ul>
<p><code>cpio -idv &lt; {{archive.cpio}}</code></p>
