<h1 id="cppcheck">cppcheck</h1>
<blockquote>
<p>A static analysis tool for C/C++ code. Instead of syntax errors, it focuses on the types of bugs that compilers normally do not detect. More information: <a href="http://cppcheck.sourceforge.net" class="uri">http://cppcheck.sourceforge.net</a>.</p>
</blockquote>
<ul>
<li>Recursively check the current directory, showing progress on the screen and logging error messages to a file:</li>
</ul>
<p><code>cppcheck . 2&gt; cppcheck.log</code></p>
<ul>
<li>Recursively check a given directory, and don’t print progress messages:</li>
</ul>
<p><code>cppcheck --quiet {{path/to/directory}}</code></p>
<ul>
<li>Check a given file, specifying which tests to perform (by default only errors are shown):</li>
</ul>
<p><code>cppcheck --enable={{error|warning|style|performance|portability|information|all}} {{path/to/file.cpp}}</code></p>
<ul>
<li>List available tests:</li>
</ul>
<p><code>cppcheck --errorlist</code></p>
<ul>
<li>Check a given file, ignoring specific tests:</li>
</ul>
<p><code>cppcheck --suppress={{test_id1}} --suppress={{test_id2}} {{path/to/file.cpp}}</code></p>
<ul>
<li>Check the current directory, providing paths for include files located outside it (e.g. external libraries):</li>
</ul>
<p><code>cppcheck -I {{include/directory_1}} -I {{include/directory_2}} .</code></p>
<ul>
<li>Check a Microsoft Visual Studio project (<code>*.vcxproj</code>) or solution (<code>*.sln</code>):</li>
</ul>
<p><code>cppcheck --project={{path/to/project.sln}}</code></p>
