<h1 id="cppclean">cppclean</h1>
<blockquote>
<p>Find unused code in C++ projects. More information: <a href="https://github.com/myint/cppclean" class="uri">https://github.com/myint/cppclean</a>.</p>
</blockquote>
<ul>
<li>Run in a project’s directory:</li>
</ul>
<p><code>cppclean {{path/to/project}}</code></p>
<ul>
<li>Run on a project where the headers are in the “inc1/” and “inc2/” directories:</li>
</ul>
<p><code>cppclean {{path/to/project}} --include-path={{inc1}} --include-path={{inc2}}</code></p>
<ul>
<li>Run on a specific file “main.cpp”:</li>
</ul>
<p><code>cppclean {{main.cpp}}</code></p>
<ul>
<li>Run on the current directory, excluding the “build” directory:</li>
</ul>
<p><code>cppclean {{.}} --exclude={{build}}</code></p>
