<h1 id="cradle-install">cradle install</h1>
<blockquote>
<p>Installs the Cradle PHP framework components. More information: <a href="https://cradlephp.github.io/docs/3.B.-Reference-Command-Line-Tools.html#install" class="uri">https://cradlephp.github.io/docs/3.B.-Reference-Command-Line-Tools.html#install</a>.</p>
</blockquote>
<ul>
<li>Install Cradle’s components (User will be prompted for further details):</li>
</ul>
<p><code>cradle install</code></p>
<ul>
<li>Forcefully overwrite files:</li>
</ul>
<p><code>cradle install --force</code></p>
<ul>
<li>Skip running SQL migrations:</li>
</ul>
<p><code>cradle install --skip-sql</code></p>
<ul>
<li>Skip running package updates:</li>
</ul>
<p><code>cradle install --skip-versioning</code></p>
<ul>
<li>Use specific database details:</li>
</ul>
<p><code>cradle install -h {{hostname}} -u {{username}} -p {{password}}</code></p>
