<h1 id="cradle-elastic">cradle elastic</h1>
<blockquote>
<p>Manage the ElasticSearch instances for a Cradle instance. More information: <a href="https://cradlephp.github.io/docs/3.B.-Reference-Command-Line-Tools.html#elastic" class="uri">https://cradlephp.github.io/docs/3.B.-Reference-Command-Line-Tools.html#elastic</a>.</p>
</blockquote>
<ul>
<li>Truncate the ElasticSearch index:</li>
</ul>
<p><code>cradle elastic flush</code></p>
<ul>
<li>Truncate the ElasticSearch index for a specific package:</li>
</ul>
<p><code>cradle elastic flush {{package_name}}</code></p>
<ul>
<li>Submit the ElasticSearch schema:</li>
</ul>
<p><code>cradle elastic map</code></p>
<ul>
<li>Submit the ElasticSearch schema for a specific package:</li>
</ul>
<p><code>cradle elastic map {{package_name}}</code></p>
<ul>
<li>Populate the ElasticSearch indices for all packages:</li>
</ul>
<p><code>cradle elastic populate</code></p>
<ul>
<li>Populate the ElasticSearch indices for a specific package:</li>
</ul>
<p><code>cradle elastic populate {{package_name}}</code></p>
