<h1 id="cradle-sql">cradle sql</h1>
<blockquote>
<p>Manage Cradle SQL databases. More information: <a href="https://cradlephp.github.io/docs/3.B.-Reference-Command-Line-Tools.html#sql" class="uri">https://cradlephp.github.io/docs/3.B.-Reference-Command-Line-Tools.html#sql</a>.</p>
</blockquote>
<ul>
<li>Rebuild the database schema:</li>
</ul>
<p><code>cradle sql build</code></p>
<ul>
<li>Rebuild the database schema for a specific package:</li>
</ul>
<p><code>cradle sql build {{package_name}}</code></p>
<ul>
<li>Empty the entire database:</li>
</ul>
<p><code>cradle sql flush</code></p>
<ul>
<li>Empty the database tables for a specific package:</li>
</ul>
<p><code>cradle sql flush {{package_name}}</code></p>
<ul>
<li>Populate the tables for all packages:</li>
</ul>
<p><code>cradle sql populate</code></p>
<ul>
<li>Populate the tables for a specific package:</li>
</ul>
<p><code>cradle sql populate {{package_name}}</code></p>
