<h1 id="cradle-package">cradle package</h1>
<blockquote>
<p>Manage packages for a Cradle instance. More information: <a href="https://cradlephp.github.io/docs/3.B.-Reference-Command-Line-Tools.html#package" class="uri">https://cradlephp.github.io/docs/3.B.-Reference-Command-Line-Tools.html#package</a>.</p>
</blockquote>
<ul>
<li>Display a list of available packages:</li>
</ul>
<p><code>cradle package list</code></p>
<ul>
<li>Search for a package:</li>
</ul>
<p><code>cradle package search {{package}}</code></p>
<ul>
<li>Install a package from Packagist:</li>
</ul>
<p><code>cradle package install {{package}}</code></p>
<ul>
<li>Install a specific version of a package:</li>
</ul>
<p><code>cradle package install {{package}} {{version}}</code></p>
<ul>
<li>Update a package:</li>
</ul>
<p><code>cradle package update {{package}}</code></p>
<ul>
<li>Update a package to a specific version:</li>
</ul>
<p><code>cradle package update {{package}} {{version}}</code></p>
<ul>
<li>Remove a specific package:</li>
</ul>
<p><code>cradle package remove {{package}}</code></p>
