<h1 id="cradle">cradle</h1>
<blockquote>
<p>The Cradle PHP framework. See <code>cradle-install</code>, <code>cradle-deploy</code> and other pages for additional information. More information: <a href="https://cradlephp.github.io" class="uri">https://cradlephp.github.io</a>.</p>
</blockquote>
<ul>
<li>Connect to a server:</li>
</ul>
<p><code>cradle connect {{server_name}}</code></p>
<ul>
<li>Display general help:</li>
</ul>
<p><code>cradle help</code></p>
<ul>
<li>Display help for a specific command:</li>
</ul>
<p><code>cradle {{command}} help</code></p>
<ul>
<li>Execute a Cradle command:</li>
</ul>
<p><code>cradle {{command}}</code></p>
