<h1 id="crontab">crontab</h1>
<blockquote>
<p>Schedule cron jobs to run on a time interval for the current user. Job definition format: “(min) (hour) (day_of_month) (month) (day_of_week) command_to_execute”.</p>
</blockquote>
<ul>
<li>Edit the crontab file for the current user:</li>
</ul>
<p><code>crontab -e</code></p>
<ul>
<li>Edit the crontab file for a specific user:</li>
</ul>
<p><code>sudo crontab -e -u {{user}}</code></p>
<ul>
<li>View a list of existing cron jobs for current user:</li>
</ul>
<p><code>crontab -l</code></p>
<ul>
<li>Remove all cron jobs for the current user:</li>
</ul>
<p><code>crontab -r</code></p>
<ul>
<li>Sample job which runs at 10:00 every day (* means any value):</li>
</ul>
<p><code>0 10 * * * {{command_to_execute}}</code></p>
<ul>
<li>Sample job which runs every minute on the 3rd of April:</li>
</ul>
<p><code>* * 3 Apr * {{command_to_execute}}</code></p>
<ul>
<li>Sample job which runs a certain script at 02:30 every Friday:</li>
</ul>
<p><code>30 2 * * Fri {{/absolute/path/to/script.sh}}</code></p>
