<h1 id="cryfs">cryfs</h1>
<blockquote>
<p>A cryptographic filesystem for the cloud. More information: <a href="https://www.cryfs.org/" class="uri">https://www.cryfs.org/</a>.</p>
</blockquote>
<ul>
<li>Mount an encrypted file system. The initialization wizard will be started on the first execution:</li>
</ul>
<p><code>cryfs {{path/to/cipher_dir}} {{path/to/mount_point}}</code></p>
<ul>
<li>Unmount an encrypted file system:</li>
</ul>
<p><code>cryfs-unmount {{path/to/mount_point}}</code></p>
<ul>
<li>Automatically unmount after ten minutes of inactivity:</li>
</ul>
<p><code>cryfs --unmount-idle {{10}} {{path/to/cipher_dir}} {{path/to/mount_point}}</code></p>
<ul>
<li>Show a list of supported ciphers:</li>
</ul>
<p><code>cryfs --show-ciphers</code></p>
