<h1 id="crystal">crystal</h1>
<blockquote>
<p>Tool for managing Crystal source code. More information: <a href="https://crystal-lang.org/reference/using_the_compiler" class="uri">https://crystal-lang.org/reference/using_the_compiler</a>.</p>
</blockquote>
<ul>
<li>Run a Crystal file:</li>
</ul>
<p><code>crystal {{path/to/file.cr}}</code></p>
<ul>
<li>Compile a file and all dependencies to a single executable:</li>
</ul>
<p><code>crystal build {{path/to/file.cr}}</code></p>
<ul>
<li>Start a local interactive server for testing the language:</li>
</ul>
<p><code>crystal play</code></p>
<ul>
<li>Create a project directory for a Crystal application:</li>
</ul>
<p><code>crystal init app {{application_name}}</code></p>
<ul>
<li>Display all help options:</li>
</ul>
<p><code>crystal help</code></p>
