<h1 id="csc">csc</h1>
<blockquote>
<p>The Microsoft C# Compiler. More information: <a href="https://docs.microsoft.com/dotnet/csharp/language-reference/compiler-options/command-line-building-with-csc-exe" class="uri">https://docs.microsoft.com/dotnet/csharp/language-reference/compiler-options/command-line-building-with-csc-exe</a>.</p>
</blockquote>
<ul>
<li>Compile one or more C# files to a CIL executable:</li>
</ul>
<p><code>csc {{path/to/input_file_a.cs}} {{path/to/input_file_b.cs}}</code></p>
<ul>
<li>Specify the output filename:</li>
</ul>
<p><code>csc /out:{{path/to/filename}} {{path/to/input_file.cs}}</code></p>
<ul>
<li>Compile into a ‘.dll’ library instead of an executable:</li>
</ul>
<p><code>csc /target:library {{path/to/input_file.cs}}</code></p>
<ul>
<li>Reference another assembly:</li>
</ul>
<p><code>csc /reference:{{path/to/library.dll}} {{path/to/input_file.cs}}</code></p>
<ul>
<li>Embed a resource:</li>
</ul>
<p><code>csc /resource:{{path/to/resource_file}} {{path/to/input_file.cs}}</code></p>
<ul>
<li>Automatically generate XML documentation:</li>
</ul>
<p><code>csc /doc:{{path/to/output.xml}} {{path/to/input_file.cs}}</code></p>
<ul>
<li>Specify an icon:</li>
</ul>
<p><code>csc /win32icon:{{path/to/icon.ico}} {{path/to/input_file.cs}}</code></p>
<ul>
<li>Strongly-name the resulting assembly with a keyfile:</li>
</ul>
<p><code>csc /keyfile:{{path/to/keyfile}} {{path/to/input_file.cs}}</code></p>
