<h1 id="csslint">csslint</h1>
<blockquote>
<p>A linter for CSS code. More information: <a href="https://github.com/CSSLint/csslint/wiki/Command-line-interface" class="uri">https://github.com/CSSLint/csslint/wiki/Command-line-interface</a>.</p>
</blockquote>
<ul>
<li>Lint a single CSS file:</li>
</ul>
<p><code>csslint {{file.css}}</code></p>
<ul>
<li>Lint multiple CSS files:</li>
</ul>
<p><code>csslint {{file1.css}} {{file2.css}} {{file3.css}}</code></p>
<ul>
<li>List all possible style rules:</li>
</ul>
<p><code>csslint --list-rules</code></p>
<ul>
<li>Specify certain rules as errors (which result in a non-zero exit code):</li>
</ul>
<p><code>csslint --errors={{errors,universal-selector,imports}} {{file.css}}</code></p>
<ul>
<li>Specify certain rules as warnings:</li>
</ul>
<p><code>csslint --warnings={{box-sizing,selector-max,floats}} {{file.css}}</code></p>
<ul>
<li>Specify certain rules to completely ignore:</li>
</ul>
<p><code>csslint --ignore={{ids,rules-count,shorthand}} {{file.css}}</code></p>
