<h1 id="csvclean">csvclean</h1>
<blockquote>
<p>Finds and cleans common syntax errors in CSV files. Included in csvkit. More information: <a href="https://csvkit.readthedocs.io/en/latest/scripts/csvclean.html" class="uri">https://csvkit.readthedocs.io/en/latest/scripts/csvclean.html</a>.</p>
</blockquote>
<ul>
<li>Clean a CSV file:</li>
</ul>
<p><code>csvclean {{bad.csv}}</code></p>
<ul>
<li>List locations of syntax errors in a CSV file:</li>
</ul>
<p><code>csvclean -n {{bad.csv}}</code></p>
