<h1 id="csvcut">csvcut</h1>
<blockquote>
<p>Filter and truncate CSV files. Like Unix’s <code>cut</code> command, but for tabular data. Included in csvkit. More information: <a href="https://csvkit.readthedocs.io/en/latest/scripts/csvcut.html" class="uri">https://csvkit.readthedocs.io/en/latest/scripts/csvcut.html</a>.</p>
</blockquote>
<ul>
<li>Print indices and names of all columns:</li>
</ul>
<p><code>csvcut -n {{data.csv}}</code></p>
<ul>
<li>Extract the first and third columns:</li>
</ul>
<p><code>csvcut -c {{1,3}} {{data.csv}}</code></p>
<ul>
<li>Extract all columns <strong>except</strong> the fourth one:</li>
</ul>
<p><code>csvcut -C {{4}} {{data.csv}}</code></p>
<ul>
<li>Extract the columns named “id” and “first name” (in that order):</li>
</ul>
<p><code>csvcut -c {{id,"first name"}} {{data.csv}}</code></p>
