<h1 id="csvformat">csvformat</h1>
<blockquote>
<p>Convert a CSV file to a custom output format. Included in csvkit. More information: <a href="https://csvkit.readthedocs.io/en/latest/scripts/csvformat.html" class="uri">https://csvkit.readthedocs.io/en/latest/scripts/csvformat.html</a>.</p>
</blockquote>
<ul>
<li>Convert to a tab-delimited file (TSV):</li>
</ul>
<p><code>csvformat -T {{data.csv}}</code></p>
<ul>
<li>Convert delimiters to a custom character:</li>
</ul>
<p><code>csvformat -D "{{custom_character}}" {{data.csv}}</code></p>
<ul>
<li>Convert line endings to carriage return (^M) + line feed:</li>
</ul>
<p><code>csvformat -M "{{\r\n}}" {{data.csv}}</code></p>
<ul>
<li>Minimize use of quote characters:</li>
</ul>
<p><code>csvformat -U 0 {{data.csv}}</code></p>
<ul>
<li>Maximize use of quote characters:</li>
</ul>
<p><code>csvformat -U 1 {{data.csv}}</code></p>
