<h1 id="csvgrep">csvgrep</h1>
<blockquote>
<p>Filter CSV rows with string and pattern matching. Included in csvkit. More information: <a href="https://csvkit.readthedocs.io/en/latest/scripts/csvgrep.html" class="uri">https://csvkit.readthedocs.io/en/latest/scripts/csvgrep.html</a>.</p>
</blockquote>
<ul>
<li>Find rows that have a certain string in column 1:</li>
</ul>
<p><code>csvgrep -c {{1}} -m {{string_to_match}} {{data.csv}}</code></p>
<ul>
<li>Find rows in which columns 3 or 4 match a certain regex pattern:</li>
</ul>
<p><code>csvgrep -c {{3,4}} -r {{regex_pattern}} {{data.csv}}</code></p>
<ul>
<li>Find rows in which the “name” column does NOT include the string “John Doe”:</li>
</ul>
<p><code>csvgrep -i -c {{name}} -m {{"John Doe"}} {{data.csv}}</code></p>
