<h1 id="csvkit">csvkit</h1>
<blockquote>
<p>Manipulation toolkit for CSV files. See the individual commands: <code>csvclean</code>, <code>csvcut</code>, <code>csvformat</code>, <code>csvgrep</code>, <code>csvlook</code>, <code>csvpy</code>, <code>csvsort</code>, <code>csvstat</code>. More information: <a href="https://csvkit.readthedocs.io/en/0.9.1/cli.html" class="uri">https://csvkit.readthedocs.io/en/0.9.1/cli.html</a>.</p>
</blockquote>
<ul>
<li>Run a command on a CSV file with a custom delimiter:</li>
</ul>
<p><code>{{cmd}} -d {{delimiter}} {{filename.csv}}</code></p>
<ul>
<li>Run a command on a CSV file with a tab as a delimiter (overrides -d):</li>
</ul>
<p><code>{{cmd}} -t {{filename.csv}}</code></p>
<ul>
<li>Run a command on a CSV file with a custom quote character:</li>
</ul>
<p><code>{{cmd}} -q {{quote_char}} {{filename.csv}}</code></p>
<ul>
<li>Run a command on a CSV file with no header row:</li>
</ul>
<p><code>{{cmd}} -H {{filename.csv}}</code></p>
