<h1 id="csvlook">csvlook</h1>
<blockquote>
<p>Render a CSV file in the console as a fixed-width table. Included in csvkit. More information: <a href="https://csvkit.readthedocs.io/en/latest/scripts/csvlook.html" class="uri">https://csvkit.readthedocs.io/en/latest/scripts/csvlook.html</a>.</p>
</blockquote>
<ul>
<li>View a CSV file:</li>
</ul>
<p><code>csvlook {{data.csv}}</code></p>
