<h1 id="csvpy">csvpy</h1>
<blockquote>
<p>Loads a CSV file into a Python shell. Included in csvkit. More information: <a href="https://csvkit.readthedocs.io/en/latest/scripts/csvpy.html" class="uri">https://csvkit.readthedocs.io/en/latest/scripts/csvpy.html</a>.</p>
</blockquote>
<ul>
<li>Load a CSV file into a <code>CSVKitReader</code> object:</li>
</ul>
<p><code>csvpy {{data.csv}}</code></p>
<ul>
<li>Load a CSV file into a <code>CSVKitDictReader</code> object:</li>
</ul>
<p><code>csvpy --dict {{data.csv}}</code></p>
