<h1 id="csvstat">csvstat</h1>
<blockquote>
<p>Print descriptive statistics for all columns in a CSV file. Included in csvkit. More information: <a href="https://csvkit.readthedocs.io/en/latest/scripts/csvstat.html" class="uri">https://csvkit.readthedocs.io/en/latest/scripts/csvstat.html</a>.</p>
</blockquote>
<ul>
<li>Show all stats for all columns:</li>
</ul>
<p><code>csvstat {{data.csv}}</code></p>
<ul>
<li>Show all stats for columns 2 and 4:</li>
</ul>
<p><code>csvstat -c {{2,4}} {{data.csv}}</code></p>
<ul>
<li>Show sums for all columns:</li>
</ul>
<p><code>csvstat --sum {{data.csv}}</code></p>
<ul>
<li>Show the max value length for column 3:</li>
</ul>
<p><code>csvstat -c {{3}} --len {{data.csv}}</code></p>
<ul>
<li>Show the number of unique values in the “name” column:</li>
</ul>
<p><code>csvstat -c {{name}} --unique {{data.csv}}</code></p>
