<h1 id="csvsort">csvsort</h1>
<blockquote>
<p>Sorts CSV files. Included in csvkit. More information: <a href="https://csvkit.readthedocs.io/en/latest/scripts/csvsort.html" class="uri">https://csvkit.readthedocs.io/en/latest/scripts/csvsort.html</a>.</p>
</blockquote>
<ul>
<li>Sort a CSV file by column 9:</li>
</ul>
<p><code>csvsort -c {{9}} {{data.csv}}</code></p>
<ul>
<li>Sort a CSV file by the “name” column in descending order:</li>
</ul>
<p><code>csvsort -r -c {{name}} {{data.csv}}</code></p>
<ul>
<li>Sort a CSV file by column 2, then by column 4:</li>
</ul>
<p><code>csvsort -c {{2,4}} {{data.csv}}</code></p>
<ul>
<li>Sort a CSV file without inferring data types:</li>
</ul>
<p><code>csvsort --no-inference -c {{columns}} {{data.csv}}</code></p>
