<h1 id="ctest">ctest</h1>
<blockquote>
<p>CMake test driver program. More information: <a href="https://gitlab.kitware.com/cmake/community/wikis/doc/ctest/Testing-With-CTest" class="uri">https://gitlab.kitware.com/cmake/community/wikis/doc/ctest/Testing-With-CTest</a>.</p>
</blockquote>
<ul>
<li>Run all tests defined in the CMake project, executing 4 jobs at a time in parallel:</li>
</ul>
<p><code>ctest -j{{4}} --output-on-failure</code></p>
<ul>
<li>Show a list of available tests:</li>
</ul>
<p><code>ctest -N</code></p>
<ul>
<li>Run a single test based on its name, or filter on a regular expression:</li>
</ul>
<p><code>ctest --output-on-failure -R '^{{test_name}}$'</code></p>
