<h1 id="cut">cut</h1>
<blockquote>
<p>Cut out fields from <code>stdin</code> or files.</p>
</blockquote>
<ul>
<li>Cut out the first sixteen characters of each line of <code>stdin</code>:</li>
</ul>
<p><code>cut -c {{1-16}}</code></p>
<ul>
<li>Cut out the first sixteen characters of each line of the given files:</li>
</ul>
<p><code>cut -c {{1-16}} {{file}}</code></p>
<ul>
<li>Cut out everything from the 3rd character to the end of each line:</li>
</ul>
<p><code>cut -c {{3-}}</code></p>
<ul>
<li>Cut out the fifth field of each line, using a colon as a field delimiter (default delimiter is tab):</li>
</ul>
<p><code>cut -d'{{:}}' -f{{5}}</code></p>
<ul>
<li>Cut out the 2nd and 10th fields of each line, using a semicolon as a delimiter:</li>
</ul>
<p><code>cut -d'{{;}}' -f{{2,10}}</code></p>
<ul>
<li>Cut out the fields 3 through to the end of each line, using a space as a delimiter:</li>
</ul>
<p><code>cut -d'{{ }}' -f{{3-}}</code></p>
