<h1 id="darkhttpd">darkhttpd</h1>
<blockquote>
<p>Darkhttpd web server. More information: <a href="https://unix4lyfe.org/darkhttpd" class="uri">https://unix4lyfe.org/darkhttpd</a>.</p>
</blockquote>
<ul>
<li>Start server serving the specified document root:</li>
</ul>
<p><code>darkhttpd {{path/to/docroot}}</code></p>
<ul>
<li>Start server on specified port (port 8080 by default if running as non-root user):</li>
</ul>
<p><code>darkhttpd {{path/to/docroot}} --port {{port}}</code></p>
<ul>
<li>Listen only on specified IP address (by default, the server listens on all interfaces):</li>
</ul>
<p><code>darkhttpd {{path/to/docroot}} --addr {{ip_address}}</code></p>
