<h1 id="date">date</h1>
<blockquote>
<p>Set or display the system date.</p>
</blockquote>
<ul>
<li>Display the current date using the default locale’s format:</li>
</ul>
<p><code>date +"%c"</code></p>
<ul>
<li>Display the current date in UTC and ISO 8601 format:</li>
</ul>
<p><code>date -u +"%Y-%m-%dT%H:%M:%SZ"</code></p>
<ul>
<li>Display the current date as a Unix timestamp (seconds since the Unix epoch):</li>
</ul>
<p><code>date +%s</code></p>
<ul>
<li>Display a specific date (represented as a Unix timestamp) using the default format:</li>
</ul>
<p><code>date -d @1473305798</code></p>
<ul>
<li>Convert a specific date to the Unix timestamp format:</li>
</ul>
<p><code>date -d "{{2018-09-01 00:00}}" +%s --utc</code></p>
