<h1 id="dc">dc</h1>
<blockquote>
<p>An arbitrary precision calculator. Uses reverse polish notation (RPN).</p>
</blockquote>
<ul>
<li>Run calculator in interactive mode:</li>
</ul>
<p><code>dc</code></p>
<ul>
<li>Execute dc script in file:</li>
</ul>
<p><code>dc -f {{file}}</code></p>
<ul>
<li>Calculate 4 times 5 [4 5 *], subtract 17 [17 -], and [p]rint the output (using echo):</li>
</ul>
<p><code>echo "4 5 * 17 - p"| dc</code></p>
<ul>
<li>Set number of decimal places to 7 [7 k], calculate 5 divided by -3 [5 _3 /] and [p]rint (using dc -e):</li>
</ul>
<p><code>dc -e "7 k 5 _3 / p"</code></p>
<ul>
<li>Calculate the golden ratio, phi: Set number of decimal places to 100 [100 k], square root of 5 [5 v] plus 1 [1 +], divided by 2 [2 /], and [p]rint result:</li>
</ul>
<p><code>dc -e "100 k 5 v 1 + 2 / p"</code></p>
