<h1 id="dd">dd</h1>
<blockquote>
<p>Convert and copy a file.</p>
</blockquote>
<ul>
<li>Make a bootable usb drive from an isohybrid file (such like archlinux-xxx.iso) and show the progress:</li>
</ul>
<p><code>dd if={{file.iso}} of=/dev/{{usb_drive}} status=progress</code></p>
<ul>
<li>Clone a drive to another drive with 4MB block, ignore error and show progress:</li>
</ul>
<p><code>dd if=/dev/{{source_drive}} of=/dev/{{dest_drive}} bs=4M conv=noerror status=progress</code></p>
<ul>
<li>Generate a file of 100 random bytes by using kernel random driver:</li>
</ul>
<p><code>dd if=/dev/urandom of={{random_file}} bs=100 count=1</code></p>
<ul>
<li>Benchmark the write performance of a disk:</li>
</ul>
<p><code>dd if=/dev/zero of={{file_1GB}} bs=1024 count=1000000</code></p>
<ul>
<li>Check progress of an ongoing dd operation (Run this command from another shell):</li>
</ul>
<p><code>kill -USR1 $(pgrep ^dd)</code></p>
