<h1 id="decaffeinate">decaffeinate</h1>
<blockquote>
<p>Move your CoffeeScript source to modern JavaScript. More information: <a href="https://decaffeinate-project.org" class="uri">https://decaffeinate-project.org</a>.</p>
</blockquote>
<ul>
<li>Convert a CoffeeScript file to JavaScript:</li>
</ul>
<p><code>decaffeinate {{path/to/file.coffee}}</code></p>
<ul>
<li>Convert a CoffeeScript v2 file to JavaScript:</li>
</ul>
<p><code>decaffeinate --use-cs2 {{path/to/file.coffee}}</code></p>
<ul>
<li>Convert require and module.exports to import and export:</li>
</ul>
<p><code>decaffeinate --use-js-modules {{path/to/file.coffee}}</code></p>
<ul>
<li>Convert a CoffeeScript, allowing named exports:</li>
</ul>
<p><code>decaffeinate --loose-js-modules {{path/to/file.coffee}}</code></p>
