<h1 id="deluge-console">deluge-console</h1>
<blockquote>
<p>An interactive interface for the Deluge BitTorrent client. More information: <a href="https://deluge-torrent.org" class="uri">https://deluge-torrent.org</a>.</p>
</blockquote>
<ul>
<li>Start the interactive console interface:</li>
</ul>
<p><code>deluge-console</code></p>
<ul>
<li>Connect to a Deluge daemon instance:</li>
</ul>
<p><code>connect {{hostname}}:{{port}}</code></p>
<ul>
<li>Add a torrent to the daemon:</li>
</ul>
<p><code>add {{url|magnet|path/to/file}}</code></p>
<ul>
<li>Display information about all torrents:</li>
</ul>
<p><code>info</code></p>
<ul>
<li>Display information about a specific torrent:</li>
</ul>
<p><code>info {{torrent_id}}</code></p>
<ul>
<li>Pause a torrent:</li>
</ul>
<p><code>pause {{torrent_id}}</code></p>
<ul>
<li>Resume a torrent:</li>
</ul>
<p><code>resume {{torrent_id}}</code></p>
<ul>
<li>Remove a torrent from the daemon:</li>
</ul>
<p><code>rm {{torrent_id}}</code></p>
