<h1 id="deluge">deluge</h1>
<blockquote>
<p>A command line BitTorrent client. More information: <a href="https://deluge-torrent.org" class="uri">https://deluge-torrent.org</a>.</p>
</blockquote>
<ul>
<li>Download a torrent:</li>
</ul>
<p><code>deluge {{url|magnet|path/to/file}}</code></p>
<ul>
<li>Download a torrent using a specific configuration file:</li>
</ul>
<p><code>deluge -c {{path/to/configuration_file}} {{url|magnet|path/to/file}}</code></p>
<ul>
<li>Download a torrent and launch the specified user interface:</li>
</ul>
<p><code>deluge -u {{gtk|web|console}} {{url|magnet|path/to/file}}</code></p>
<ul>
<li>Download a torrent and output the log to a file:</li>
</ul>
<p><code>deluge -l {{path/to/log_file}} {{url|magnet|path/to/file}}</code></p>
