<h1 id="deluser">deluser</h1>
<blockquote>
<p>Remove a user account or remove a user from a group.</p>
</blockquote>
<ul>
<li>Remove a user:</li>
</ul>
<p><code>deluser {{name}}</code></p>
<ul>
<li>Remove a user along with their home directory and mail spool:</li>
</ul>
<p><code>deluser -r {{name}}</code></p>
<ul>
<li>Remove a user from a group:</li>
</ul>
<p><code>deluser {{name}} {{group}}</code></p>
