<h1 id="deluged">deluged</h1>
<blockquote>
<p>A daemon process for the Deluge BitTorrent client. More information: <a href="https://deluge-torrent.org" class="uri">https://deluge-torrent.org</a>.</p>
</blockquote>
<ul>
<li>Start the Deluge daemon:</li>
</ul>
<p><code>deluged</code></p>
<ul>
<li>Start the Deluge daemon on a specific port:</li>
</ul>
<p><code>deluged -p {{port}}</code></p>
<ul>
<li>Start the Deluge daemon using a specific configuration file:</li>
</ul>
<p><code>deluged -c {{path/to/configuration_file}}</code></p>
<ul>
<li>Start the Deluge daemon and output the log to a file:</li>
</ul>
<p><code>deluged -l {{path/to/log_file}}</code></p>
