<h1 id="dep">dep</h1>
<blockquote>
<p>Tool for dependency management in Go projects. More information: <a href="https://golang.github.io/dep" class="uri">https://golang.github.io/dep</a>.</p>
</blockquote>
<ul>
<li>Initialize the current directory as the root of a Go project:</li>
</ul>
<p><code>dep init</code></p>
<ul>
<li>Install any missing dependencies (Scans Gopkg.toml and your .go files):</li>
</ul>
<p><code>dep ensure</code></p>
<ul>
<li>Report the status of the project’s dependencies:</li>
</ul>
<p><code>dep status</code></p>
<ul>
<li>Add a dependency to the project:</li>
</ul>
<p><code>dep ensure -add {{package_url}}</code></p>
<ul>
<li>Update the locked versions of all dependencies:</li>
</ul>
<p><code>dep ensure -update</code></p>
