<h1 id="detox">detox</h1>
<blockquote>
<p>Renames files to make them easier to work with. It removes spaces and other such annoyances like duplicate underline characters. More information: <a href="https://github.com/dharple/detox" class="uri">https://github.com/dharple/detox</a>.</p>
</blockquote>
<ul>
<li>Remove spaces and other undesirable characters from a file’s name:</li>
</ul>
<p><code>detox {{file}}</code></p>
<ul>
<li>Show how detox would rename all of the files in a directory tree:</li>
</ul>
<p><code>detox --dry-run -r {{directory}}</code></p>
<ul>
<li>Remove spaces and other undesirable characters from all files in a directory tree:</li>
</ul>
<p><code>detox -r {{directory}}</code></p>
