<h1 id="dexdump">dexdump</h1>
<blockquote>
<p>Display information about Android DEX files.</p>
</blockquote>
<ul>
<li>Extract classes and methods from an APK file:</li>
</ul>
<p><code>dexdump {{path/to/file.apk}}</code></p>
<ul>
<li>Display header information of DEX files contained in an APK file:</li>
</ul>
<p><code>dexdump -f {{path/to/file.apk}}</code></p>
<ul>
<li>Display the dis-assembled output of executable sections:</li>
</ul>
<p><code>dexdump -d {{path/to/file.apk}}</code></p>
<ul>
<li>Output results to a file:</li>
</ul>
<p><code>dexdump -o {{path/to/file}} {{path/to/file.apk}}</code></p>
