<h1 id="dexter">dexter</h1>
<blockquote>
<p>Tool for authenticating the kubectl users with OpenId Connect. More information: <a href="https://github.com/gini/dexter" class="uri">https://github.com/gini/dexter</a>.</p>
</blockquote>
<ul>
<li>Create and authenticate a user with Google OIDC:</li>
</ul>
<p><code>dexter auth -i {{client-id}} -s {{client-secret}}</code></p>
<ul>
<li>Override the default kube config location:</li>
</ul>
<p><code>dexter auth -i {{client-id}} -s {{client-secret}} --kube-config {{sample/config}}</code></p>
