<h1 id="df">df</h1>
<blockquote>
<p>Gives an overview of the file system disk space usage.</p>
</blockquote>
<ul>
<li>Display all file systems and their disk usage:</li>
</ul>
<p><code>df</code></p>
<ul>
<li>Display all file systems and their disk usage in human readable form:</li>
</ul>
<p><code>df -h</code></p>
<ul>
<li>Display the file system and its disk usage containing the given file or directory:</li>
</ul>
<p><code>df {{path/to/file_or_directory}}</code></p>
<ul>
<li>Display statistics on the number of free inodes:</li>
</ul>
<p><code>df -i</code></p>
