<h1 id="dhclient">dhclient</h1>
<blockquote>
<p>DHCP client.</p>
</blockquote>
<ul>
<li>Get an IP address for the <code>eth0</code> interface:</li>
</ul>
<p><code>sudo dhclient {{eth0}}</code></p>
<ul>
<li>Release an IP address for the <code>eth0</code> interface:</li>
</ul>
<p><code>sudo dhclient -r {{eth0}}</code></p>
