<h1 id="dhcpwn">dhcpwn</h1>
<blockquote>
<p>Test DHCP IP exhaustion attacks and sniff local DHCP traffic. More information: <a href="https://github.com/mschwager/dhcpwn" class="uri">https://github.com/mschwager/dhcpwn</a>.</p>
</blockquote>
<ul>
<li>Flood the network with IP requests:</li>
</ul>
<p><code>dhcpwn --interface {{network_interface}} flood --count {{number_of_requests}}</code></p>
<ul>
<li>Sniff local DHCP traffic:</li>
</ul>
<p><code>dhcpwn --interface {{network_interface}} sniff</code></p>
