<h1 id="diff">diff</h1>
<blockquote>
<p>Compare files and directories.</p>
</blockquote>
<ul>
<li>Compare files (lists changes to turn <code>old_file</code> into <code>new_file</code>):</li>
</ul>
<p><code>diff {{old_file}} {{new_file}}</code></p>
<ul>
<li>Compare files, ignoring white spaces:</li>
</ul>
<p><code>diff -w {{old_file}} {{new_file}}</code></p>
<ul>
<li>Compare files, showing the differences side by side:</li>
</ul>
<p><code>diff -y {{old_file}} {{new_file}}</code></p>
<ul>
<li>Compare files, showing the differences in unified format (as used by <code>git diff</code>):</li>
</ul>
<p><code>diff -u {{old_file}} {{new_file}}</code></p>
<ul>
<li>Compare directories recursively (shows names for differing files/directories as well as changes made to files):</li>
</ul>
<p><code>diff -r {{old_directory}} {{new_directory}}</code></p>
<ul>
<li>Compare directories, only showing the names of files that differ:</li>
</ul>
<p><code>diff -rq {{old_directory}} {{new_directory}}</code></p>
