<h1 id="diffstat">diffstat</h1>
<blockquote>
<p>Create a histogram from the output of the <code>diff</code> command.</p>
</blockquote>
<ul>
<li>Display changes in a histogram:</li>
</ul>
<p><code>diff {{file1}} {{file2}} | diffstat</code></p>
<ul>
<li>Display inserted, deleted and modified changes as a table:</li>
</ul>
<p><code>diff {{file1}} {{file2}} | diffstat -t</code></p>
