<h1 id="dig">dig</h1>
<blockquote>
<p>DNS Lookup utility.</p>
</blockquote>
<ul>
<li>Lookup the IP(s) associated with a hostname (A records):</li>
</ul>
<p><code>dig +short {{example.com}}</code></p>
<ul>
<li>Lookup the mail server(s) associated with a given domain name (MX record):</li>
</ul>
<p><code>dig +short {{example.com}} MX</code></p>
<ul>
<li>Get all types of records for a given domain name:</li>
</ul>
<p><code>dig {{example.com}} ANY</code></p>
<ul>
<li>Specify an alternate DNS server to query:</li>
</ul>
<p><code>dig @{{8.8.8.8}} {{example.com}}</code></p>
<ul>
<li>Perform a reverse DNS lookup on an IP address (PTR record):</li>
</ul>
<p><code>dig -x {{8.8.8.8}}</code></p>
<ul>
<li>Find authoritative name servers for the zone and display SOA records:</li>
</ul>
<p><code>dig +nssearch {{example.com}}</code></p>
<ul>
<li>Perform iterative queries and display the entire trace path to resolve a domain name:</li>
</ul>
<p><code>dig +trace {{example.com}}</code></p>
