<h1 id="dircolors">dircolors</h1>
<blockquote>
<p>Output commands to set the LS_COLOR environment variable and style <code>ls</code>, <code>dir</code>, etc.</p>
</blockquote>
<ul>
<li>Output commands to set LS_COLOR using default colors:</li>
</ul>
<p><code>dircolors</code></p>
<ul>
<li>Output commands to set LS_COLOR using colors from a file:</li>
</ul>
<p><code>dircolors {{file}}</code></p>
<ul>
<li>Output commands for Bourne shell:</li>
</ul>
<p><code>dircolors --bourne-shell</code></p>
<ul>
<li>Output commands for C shell:</li>
</ul>
<p><code>dircolors --c-shell</code></p>
<ul>
<li>View the default colors for file types and extensions:</li>
</ul>
<p><code>dircolors --print-data</code></p>
