<h1 id="dirname">dirname</h1>
<blockquote>
<p>Calculates the parent directory of a given file or directory path.</p>
</blockquote>
<ul>
<li>Calculate the parent directory of a given path:</li>
</ul>
<p><code>dirname {{path/to/file_or_directory}}</code></p>
<ul>
<li>Calculate the parent directory of multiple paths:</li>
</ul>
<p><code>dirname {{path/to/file_a}} {{path/to/directory_b}}</code></p>
<ul>
<li>Delimit output with a NUL character instead of a newline (useful when combining with <code>xargs</code>):</li>
</ul>
<p><code>dirname --zero {{path/to/directory_a}} {{path/to/file_b}}</code></p>
