<h1 id="dirs">dirs</h1>
<blockquote>
<p>Displays or manipulates the directory stack. The directory stack is a list of recently visited directories that can be manipulated with the <code>pushd</code> and <code>popd</code> commands.</p>
</blockquote>
<ul>
<li>Display the directory stack with a space between each entry:</li>
</ul>
<p><code>dirs</code></p>
<ul>
<li>Display the directory stack with one entry per line:</li>
</ul>
<p><code>dirs -p</code></p>
<ul>
<li>Display only the nth entry in the directory stack, starting at 0:</li>
</ul>
<p><code>dirs +{{N}}</code></p>
<ul>
<li>Clear the directory stack:</li>
</ul>
<p><code>dirs -c</code></p>
