<h1 id="dive">dive</h1>
<blockquote>
<p>A tool for exploring a Docker image, layer contents, and discovering ways to shrink it. More information: <a href="https://github.com/wagoodman/dive" class="uri">https://github.com/wagoodman/dive</a>.</p>
</blockquote>
<ul>
<li>Analyze a Docker image:</li>
</ul>
<p><code>dive {{your_image_tag}}</code></p>
<ul>
<li>Build an image and start analyzing it:</li>
</ul>
<p><code>dive build -t {{some_tag}}</code></p>
