<h1 id="docker">docker</h1>
<blockquote>
<p>Manage Docker containers and images. More information: <a href="https://docs.docker.com/engine/reference/commandline/cli/" class="uri">https://docs.docker.com/engine/reference/commandline/cli/</a>.</p>
</blockquote>
<ul>
<li>List currently running docker containers:</li>
</ul>
<p><code>docker ps</code></p>
<ul>
<li>List all docker containers (running and stopped):</li>
</ul>
<p><code>docker ps -a</code></p>
<ul>
<li>Start a container from an image, with a custom name:</li>
</ul>
<p><code>docker run --name {{container_name}} {{image}}</code></p>
<ul>
<li>Start or stop an existing container:</li>
</ul>
<p><code>docker {{start|stop}} {{container_name}}</code></p>
<ul>
<li>Pull an image from a docker registry:</li>
</ul>
<p><code>docker pull {{image}}</code></p>
<ul>
<li>Open a shell inside of an already running container:</li>
</ul>
<p><code>docker exec -it {{container_name}} {{sh}}</code></p>
<ul>
<li>Remove a stopped container:</li>
</ul>
<p><code>docker rm {{container_name}}</code></p>
<ul>
<li>Fetch and follow the logs of a container:</li>
</ul>
<p><code>docker logs -f {{container_name}}</code></p>
