<h1 id="docker-compose">docker-compose</h1>
<blockquote>
<p>Run and manage multi container docker applications. More information: <a href="https://docs.docker.com/compose/reference/overview/" class="uri">https://docs.docker.com/compose/reference/overview/</a>.</p>
</blockquote>
<ul>
<li>List all running containers:</li>
</ul>
<p><code>docker-compose ps</code></p>
<ul>
<li>Create and start all containers in the background using a <code>docker-compose.yml</code> file from the current directory:</li>
</ul>
<p><code>docker-compose up -d</code></p>
<ul>
<li>Start all containers, rebuild if necessary:</li>
</ul>
<p><code>docker-compose up --build</code></p>
<ul>
<li>Start all containers using an alternate compose file:</li>
</ul>
<p><code>docker-compose --file {{path/to/file}} up</code></p>
<ul>
<li>Stop all running containers:</li>
</ul>
<p><code>docker-compose stop</code></p>
<ul>
<li>Stop and remove all containers, networks, images, and volumes:</li>
</ul>
<p><code>docker-compose down --rmi all --volumes</code></p>
<ul>
<li>Follow logs for all containers:</li>
</ul>
<p><code>docker-compose logs --follow</code></p>
