<h1 id="docker-container">docker container</h1>
<blockquote>
<p>Manage Docker containers. More information: <a href="https://docs.docker.com/engine/reference/commandline/container/" class="uri">https://docs.docker.com/engine/reference/commandline/container/</a>.</p>
</blockquote>
<ul>
<li>List currently running Docker containers:</li>
</ul>
<p><code>docker container ls</code></p>
<ul>
<li>Start one or more stopped containers:</li>
</ul>
<p><code>docker container start {{container1_name}} {{container2_name}}</code></p>
<ul>
<li>Kill one or more running containers:</li>
</ul>
<p><code>docker container kill {{container_name}}</code></p>
<ul>
<li>Stop one or more running containers:</li>
</ul>
<p><code>docker container stop {{container_name}}</code></p>
<ul>
<li>Pause all processes within one or more containers:</li>
</ul>
<p><code>docker container pause {{container_name}}</code></p>
<ul>
<li>Display detailed information on one or more containers:</li>
</ul>
<p><code>docker container inspect {{container_name}}</code></p>
<ul>
<li>Export a container’s filesystem as a tar archive:</li>
</ul>
<p><code>docker container export {{container_name}}</code></p>
<ul>
<li>Create a new image from a container’s changes:</li>
</ul>
<p><code>docker container commit {{container_name}}</code></p>
