<h1 id="docker-machine">docker-machine</h1>
<blockquote>
<p>Create and manage machines running Docker. More information: <a href="https://docs.docker.com/machine/reference/" class="uri">https://docs.docker.com/machine/reference/</a>.</p>
</blockquote>
<ul>
<li>List currently running docker machines:</li>
</ul>
<p><code>docker-machine ls</code></p>
<ul>
<li>Create a new docker machine with specific name:</li>
</ul>
<p><code>docker-machine create {{name}}</code></p>
<ul>
<li>Get the status of a machine:</li>
</ul>
<p><code>docker-machine status {{name}}</code></p>
<ul>
<li>Start a machine:</li>
</ul>
<p><code>docker-machine start {{name}}</code></p>
<ul>
<li>Stop a machine:</li>
</ul>
<p><code>docker-machine stop {{name}}</code></p>
<ul>
<li>Inspect information about a machine:</li>
</ul>
<p><code>docker-machine inspect {{name}}</code></p>
