<h1 id="dokku">dokku</h1>
<blockquote>
<p>Docker powered mini-Heroku (PaaS). Easily deploy multiple apps to your server in different languages using a single <code>git-push</code> command. More information: <a href="https://github.com/dokku/dokku" class="uri">https://github.com/dokku/dokku</a>.</p>
</blockquote>
<ul>
<li>List runinng apps:</li>
</ul>
<p><code>dokku apps</code></p>
<ul>
<li>Create an app:</li>
</ul>
<p><code>dokku apps:create {{app_name}}</code></p>
<ul>
<li>Remove an app:</li>
</ul>
<p><code>dokku apps:destroy {{app_name}}</code></p>
<ul>
<li>Install plugin:</li>
</ul>
<p><code>dokku plugin:install {{full_repo_url}}</code></p>
<ul>
<li>Link database to an app:</li>
</ul>
<p><code>dokku {{db}}:link {{db_name}} {{app_name}}</code></p>
