<h1 id="dot">dot</h1>
<blockquote>
<p>A command-line tool to produce layered drawings of directed graphs.</p>
</blockquote>
<ul>
<li>Render an image file and determine output filename based on input filename and selected format:</li>
</ul>
<p><code>dot -Tpng -O {{path/to/file.dot}}</code></p>
<ul>
<li>Create an SVG from DOT file:</li>
</ul>
<p><code>dot -Tsvg -o {{path/to/out_file.svg}} {{path/to/file.dot}}</code></p>
