<h1 id="dotnet">dotnet</h1>
<blockquote>
<p>Cross platform .NET command line tools for .NET Core. More information: <a href="https://docs.microsoft.com/dotnet/core/tools" class="uri">https://docs.microsoft.com/dotnet/core/tools</a>.</p>
</blockquote>
<ul>
<li>Initialize a new .NET project:</li>
</ul>
<p><code>dotnet new {{template_short_name}}</code></p>
<ul>
<li>Restore nuget packages:</li>
</ul>
<p><code>dotnet restore</code></p>
<ul>
<li>Build and execute the .NET project in the current directory:</li>
</ul>
<p><code>dotnet run</code></p>
<ul>
<li>Run a packaged dotnet application (only needs the runtime, the rest of the commands require the .NET Core SDK installed):</li>
</ul>
<p><code>dotnet {{path/to/application.dll}}</code></p>
