<h1 id="drill">drill</h1>
<blockquote>
<p>Perform various DNS queries.</p>
</blockquote>
<ul>
<li>Lookup the IP(s) associated with a hostname (A records):</li>
</ul>
<p><code>drill {{example.com}}</code></p>
<ul>
<li>Lookup the mail server(s) associated with a given domain name (MX record):</li>
</ul>
<p><code>drill mx {{example.com}}</code></p>
<ul>
<li>Get all types of records for a given domain name:</li>
</ul>
<p><code>drill any {{example.com}}</code></p>
<ul>
<li>Specify an alternate DNS server to query:</li>
</ul>
<p><code>drill {{example.com}} @{{8.8.8.8}}</code></p>
<ul>
<li>Perform a reverse DNS lookup on an IP address (PTR record):</li>
</ul>
<p><code>drill -x {{8.8.8.8}}</code></p>
<ul>
<li>Perform DNSSEC trace from root servers down to a domain name:</li>
</ul>
<p><code>drill -TD {{example.com}}</code></p>
<ul>
<li>Show DNSKEY record(s) for a domain name:</li>
</ul>
<p><code>drill -s dnskey {{example.com}}</code></p>
