<h1 id="drupal">drupal</h1>
<blockquote>
<p>CLI for Drupal. Generates boilerplate code, interacts with and debugs Drupal projects. More information: <a href="https://drupalconsole.com/" class="uri">https://drupalconsole.com/</a>.</p>
</blockquote>
<ul>
<li>Install a module:</li>
</ul>
<p><code>drupal module:install {{module_name}}</code></p>
<ul>
<li>Uninstall a module:</li>
</ul>
<p><code>drupal module:uninstall {{module_name}}</code></p>
<ul>
<li>Clear all caches:</li>
</ul>
<p><code>drupal cache:rebuild</code></p>
<ul>
<li>View current Drupal installation status:</li>
</ul>
<p><code>drupal site:status</code></p>
