<h1 id="drush">drush</h1>
<blockquote>
<p>A command-line shell and scripting interface for Drupal. More information: <a href="https://www.drush.org" class="uri">https://www.drush.org</a>.</p>
</blockquote>
<ul>
<li>Enable module “foo”:</li>
</ul>
<p><code>drush en {{foo}}</code></p>
<ul>
<li>Uninstall module “foo”:</li>
</ul>
<p><code>drush pmu {{foo}}</code></p>
<ul>
<li>Clear all caches:</li>
</ul>
<p><code>drush cr</code></p>
<ul>
<li>Clear CSS and JavaScript caches:</li>
</ul>
<p><code>drush cc css-js</code></p>
