<h1 id="du">du</h1>
<blockquote>
<p>Disk usage: estimate and summarize file and directory space usage.</p>
</blockquote>
<ul>
<li>List the sizes of a directory and any subdirectories, in the given unit (B/KB/MB):</li>
</ul>
<p><code>du -{{b|k|m}} {{path/to/directory}}</code></p>
<ul>
<li>List the sizes of a directory and any subdirectories, in human-readable form (i.e. auto-selecting the appropriate unit for each size):</li>
</ul>
<p><code>du -h {{path/to/directory}}</code></p>
<ul>
<li>Show the size of a single directory, in human readable units:</li>
</ul>
<p><code>du -sh {{path/to/directory}}</code></p>
<ul>
<li>List the human-readable sizes of a directory and of all the files and directories within it:</li>
</ul>
<p><code>du -ah {{path/to/directory}}</code></p>
<ul>
<li>List the human-readable sizes of a directory and any subdirectories, up to N levels deep:</li>
</ul>
<p><code>du -h --max-depth=N {{path/to/directory}}</code></p>
<ul>
<li>List the human-readable size of all .jpg files in subdirectories of the current directory, and show a cumulative total at the end:</li>
</ul>
<p><code>du -ch */*.jpg</code></p>
