<h1 id="duplicity">duplicity</h1>
<blockquote>
<p>Creates incremental, compressed, encrypted and versioned backups. Can also upload the backups to a variety of backend services. More information: <a href="http://duplicity.nongnu.org" class="uri">http://duplicity.nongnu.org</a>.</p>
</blockquote>
<ul>
<li>Backup a directory via FTPS to a remote machine, encrypting it with a password:</li>
</ul>
<p><code>FTP_PASSWORD={{ftp_login_password}} PASSPHRASE={{encryption_password}} duplicity {{path/to/source/directory}} {{ftps://user@hostname/target/directory/path/}}</code></p>
<ul>
<li>Backup a directory to Amazon S3, doing a full backup every month:</li>
</ul>
<p><code>duplicity --full-if-older-than {{1M}} --use-new-style s3://{{bucket_name[/prefix]}}</code></p>
<ul>
<li>Delete versions older than 1 year from a backup stored on a WebDAV share:</li>
</ul>
<p><code>FTP_PASSWORD={{webdav_login_password}} duplicity remove-older-than {{1Y}} --force {{webdav[s]://user@hostname[:port]/some_dir}}</code></p>
<ul>
<li>List the available backups:</li>
</ul>
<p><code>duplicity collection-status "file://{{absolute/path/to/backup/directory}}"</code></p>
<ul>
<li>List the files in a backup stored on a remote machine, via ssh:</li>
</ul>
<p><code>duplicity list-current-files --time {{YYYY-MM-DD}} scp://{{user@hostname}}/path/to/backup/dir</code></p>
<ul>
<li>Restore a subdirectory from a GnuPG-encrypted local backup to a given location:</li>
</ul>
<p><code>PASSPHRASE={{gpg_key_password}} duplicity restore --encrypt-key {{gpg_key_id}} --file-to-restore {{relative/path/restoredirectory}} file://{{absolute/path/to/backup/directory}} {{path/to/directory/to/restore/to}}</code></p>
