<h1 id="ebook-convert">ebook-convert</h1>
<blockquote>
<p>Can be used to convert ebooks between common formats, e.g., pdf, epub and mobi. Part of the Calibre ebook library tool. More information: <a href="https://manual.calibre-ebook.com/generated/en/ebook-convert.html" class="uri">https://manual.calibre-ebook.com/generated/en/ebook-convert.html</a>.</p>
</blockquote>
<ul>
<li>Convert an ebook into another format:</li>
</ul>
<p><code>ebook-convert {{source}} {{destination}}</code></p>
