<h1 id="echo">echo</h1>
<blockquote>
<p>Print given arguments.</p>
</blockquote>
<ul>
<li>Print a text message. Note: quotes are optional:</li>
</ul>
<p><code>echo {{"Hello World"}}</code></p>
<ul>
<li>Print a message with environment variables:</li>
</ul>
<p><code>echo {{"My path is $PATH"}}</code></p>
<ul>
<li>Print a message without the trailing newline:</li>
</ul>
<p><code>echo -n {{"Hello World"}}</code></p>
<ul>
<li>Append a message to the file:</li>
</ul>
<p><code>echo {{"Hello World"}} &gt;&gt; {{file.txt}}</code></p>
<ul>
<li>Enable interpretation of backslash escapes (special characters):</li>
</ul>
<p><code>echo -e {{"Column 1\tColumn 2"}}</code></p>
