<h1 id="ect">ect</h1>
<blockquote>
<p>Efficient Compression Tool (or ECT) is a C++ file optimizer. It supports PNG, JPEG, GZIP and ZIP files. More information: <a href="https://github.com/fhanau/Efficient-Compression-Tool" class="uri">https://github.com/fhanau/Efficient-Compression-Tool</a>.</p>
</blockquote>
<ul>
<li>Compress a file:</li>
</ul>
<p><code>ect {{filename.png}}</code></p>
<ul>
<li>Compress a file with the highest compression level and multithreading:</li>
</ul>
<p><code>ect -9 --mt-deflate {{filename.png}}</code></p>
<ul>
<li>Compress all the files in a directory recursively, keeping the original modification time:</li>
</ul>
<p><code>ect -keep -recurse {{directory}}</code></p>
