<h1 id="ed">ed</h1>
<blockquote>
<p>The original Unix text editor.</p>
</blockquote>
<ul>
<li>Start ed, editing an empty document (which can be saved as a new file in the current directory):</li>
</ul>
<p><code>ed</code></p>
<ul>
<li>Start ed, editing an empty document, with <code>:</code> as a command prompt indicator:</li>
</ul>
<p><code>ed -p :</code></p>
<ul>
<li>Start ed editing an existing file (this shows the byte count of the loaded file):</li>
</ul>
<p><code>ed -p : {{path/to/file}}</code></p>
<ul>
<li>Toggle the printing of error explanations. (By default, explanations are not printed and only a <code>?</code> appears):</li>
</ul>
<p><code>H</code></p>
<ul>
<li>Add text to the current document. Mark completion by entering a period by itself in a new line:</li>
</ul>
<p><code>a&lt;Enter&gt;{{text_to_insert}}&lt;Enter&gt;.</code></p>
<ul>
<li>Print the entire document (<code>,</code> is a shortcut to the range <code>1,$</code> which covers the start to the end of the document):</li>
</ul>
<p><code>,p</code></p>
<ul>
<li>Write the current document to a new file (the filename can be omitted if <code>ed</code> was called with an existing file):</li>
</ul>
<p><code>w {{filename}}</code></p>
<ul>
<li>Quit ed:</li>
</ul>
<p><code>q</code></p>
