<h1 id="electrum">electrum</h1>
<blockquote>
<p>Ergonomic Bitcoin wallet and private key management. More information: <a href="https://electrum.org" class="uri">https://electrum.org</a>.</p>
</blockquote>
<ul>
<li>Create a new wallet:</li>
</ul>
<p><code>electrum -w {{new_wallet.dat}} create</code></p>
<ul>
<li>Restore an existing wallet from seed offline:</li>
</ul>
<p><code>electrum -w {{recovery_wallet.dat}} restore -o</code></p>
<ul>
<li>Create a signed transaction offline:</li>
</ul>
<p><code>electrum mktx {{recipient}} {{amount}} -f 0.0000001 -F {{from}} -o</code></p>
<ul>
<li>Display all wallet receiving addresses:</li>
</ul>
<p><code>electrum listaddresses -a</code></p>
<ul>
<li>Sign a message:</li>
</ul>
<p><code>electrum signmessage {{address}} {{message}}</code></p>
<ul>
<li>Verify a message:</li>
</ul>
<p><code>electrum verifymessage {{address}} {{signature}} {{message}}</code></p>
<ul>
<li>Connect only to a specific electrum-server instance:</li>
</ul>
<p><code>electrum -p socks5:{{127.0.0.1}}:9050 -s {{56ckl5obj37gypcu.onion}}:50001:t -1</code></p>
