<h1 id="elinks">elinks</h1>
<blockquote>
<p>A text based browser similar to lynx. More information: <a href="http://elinks.or.cz" class="uri">http://elinks.or.cz</a>.</p>
</blockquote>
<ul>
<li>Start elinks:</li>
</ul>
<p><code>elinks</code></p>
<ul>
<li>Quit elinks:</li>
</ul>
<p><code>Ctrl + C</code></p>
<ul>
<li>Dump output of webpage to console, colorizing the text with ANSI control codes:</li>
</ul>
<p><code>elinks -dump -dump-color-mode {{1}} {{url}}</code></p>
