<h1 id="elm">elm</h1>
<blockquote>
<p>Compile and run Elm source files. More information: <a href="https://elm-lang.org" class="uri">https://elm-lang.org</a>.</p>
</blockquote>
<ul>
<li>Initialize an Elm project, generates an elm.json file:</li>
</ul>
<p><code>elm init</code></p>
<ul>
<li>Start interactive Elm shell:</li>
</ul>
<p><code>elm repl</code></p>
<ul>
<li>Compile an Elm file, output the result to an index.html file:</li>
</ul>
<p><code>elm make {{source}}</code></p>
<ul>
<li>Compile an Elm file, output the result to a Javascript file:</li>
</ul>
<p><code>elm make {{source}} --output={{destination}}.js</code></p>
<ul>
<li>Start local web server that compiles Elm files on page load:</li>
</ul>
<p><code>elm reactor</code></p>
<ul>
<li>Install Elm package from https://package.elm-lang.org:</li>
</ul>
<p><code>elm install {{author}}/{{package}}</code></p>
