<h1 id="emacs">emacs</h1>
<blockquote>
<p>The extensible, customizable, self-documenting, real-time display editor. More information: <a href="https://www.gnu.org/software/emacs" class="uri">https://www.gnu.org/software/emacs</a>.</p>
</blockquote>
<ul>
<li>Start emacs in console mode (without X window):</li>
</ul>
<p><code>emacs -nw</code></p>
<ul>
<li>Open a file in emacs:</li>
</ul>
<p><code>emacs {{filename}}</code></p>
<ul>
<li>Exit emacs (save buffers and terminate):</li>
</ul>
<p><code>Ctrl + X, Ctrl + C</code></p>
