<h1 id="emacsclient">emacsclient</h1>
<blockquote>
<p>Open files in an existing emacs server. More information: <a href="https://www.emacswiki.org/emacs/EmacsClient" class="uri">https://www.emacswiki.org/emacs/EmacsClient</a>.</p>
</blockquote>
<ul>
<li>Open files in an existing Emacs server (using GUI if available):</li>
</ul>
<p><code>emacsclient {{filename}}</code></p>
<ul>
<li>Open file in console mode (without X window):</li>
</ul>
<p><code>emacsclient -nw {{filename}}</code></p>
<ul>
<li>Open a file in an existing emacs frame and return immediately:</li>
</ul>
<p><code>emacsclient -n {{filename}}</code></p>
