<h1 id="ember">ember</h1>
<blockquote>
<p>The Ember.js command line utility. Used for creating and maintaining Ember.js applications. More information: <a href="https://cli.emberjs.com" class="uri">https://cli.emberjs.com</a>.</p>
</blockquote>
<ul>
<li>Create a new Ember application:</li>
</ul>
<p><code>ember new {{my_new_app}}</code></p>
<ul>
<li>Create a new Ember addon:</li>
</ul>
<p><code>ember addon {{my_new_addon}}</code></p>
<ul>
<li>Build the project:</li>
</ul>
<p><code>ember build</code></p>
<ul>
<li>Build the project in production mode:</li>
</ul>
<p><code>ember build -prod</code></p>
<ul>
<li>Run the development server:</li>
</ul>
<p><code>ember serve</code></p>
<ul>
<li>Run the test suite:</li>
</ul>
<p><code>ember test</code></p>
<ul>
<li>Run a blueprint to generate something like a route or component:</li>
</ul>
<p><code>ember generate {{type}} {{name}}</code></p>
<ul>
<li>Install an ember-cli addon:</li>
</ul>
<p><code>ember install {{name_of_addon}}</code></p>
