<h1 id="enca">enca</h1>
<blockquote>
<p>Detect and convert the encoding of text files. More information: <a href="https://github.com/nijel/enca" class="uri">https://github.com/nijel/enca</a>.</p>
</blockquote>
<ul>
<li>Detect file(s) encoding according to the system’s locale:</li>
</ul>
<p><code>enca {{file1 file2 ...}}</code></p>
<ul>
<li>Detect file(s) encoding specifying a language in the POSIX/C locale format (e.g. zh_CN, en_US):</li>
</ul>
<p><code>enca -L {{language}} {{file1 file2 ...}}</code></p>
<ul>
<li>Convert file(s) to a specific encoding:</li>
</ul>
<p><code>enca -L {{language}} -x {{to_encoding}} {{file1 file2 ...}}</code></p>
<ul>
<li>Create a copy of an existing file using a different encoding:</li>
</ul>
<p><code>enca -L {{language}} -x {{to_encoding}} &lt; {{original_file}} &gt; {{new_file}}</code></p>
