<h1 id="enscript">enscript</h1>
<blockquote>
<p>Convert text files to PostScript, HTML, RTF, ANSI, and overstrikes. More information: <a href="https://www.gnu.org/software/enscript" class="uri">https://www.gnu.org/software/enscript</a>.</p>
</blockquote>
<ul>
<li>Generate a PostScript file from a text file:</li>
</ul>
<p><code>enscript {{path/to/input_file}} --output={{path/to/output_file}}</code></p>
<ul>
<li>Generate a file in a different language than PostScript:</li>
</ul>
<p><code>enscript {{path/to/input_file}} --language={{html|rtf|...}} --output={{path/to/output_file}}</code></p>
<ul>
<li>Generate a PostScript file with a landscape layout, splitting the page into columns (maximum 9):</li>
</ul>
<p><code>enscript {{path/to/input_file}} --columns={{num}} --landscape --output={{path/to/output_file}}</code></p>
<ul>
<li>Display available syntax highlighting languages and file formats:</li>
</ul>
<p><code>enscript --help-highlight</code></p>
<ul>
<li>Generate a PostScript file with syntax highlighting and color for a specified language:</li>
</ul>
<p><code>enscript {{path/to/input_file}} --color=1 --highlight={{language}} --output={{path/to/output_file}}</code></p>
