<h1 id="entr">entr</h1>
<blockquote>
<p>Run arbitrary commands when files change.</p>
</blockquote>
<ul>
<li>Rebuild with <code>make</code> if any file in any subdirectory changes:</li>
</ul>
<p><code>{{ag -l}} | entr {{make}}</code></p>
<ul>
<li>Rebuild and test with <code>make</code> if any <code>.c</code> source files in the current directory change:</li>
</ul>
<p><code>{{ls *.c}} | entr {{'make &amp;&amp; make test'}}</code></p>
<ul>
<li>Send a <code>SIGTERM</code> to any previously spawned ruby subprocesses before executing <code>ruby main.rb</code>:</li>
</ul>
<p><code>{{ls *.rb}} | entr -r {{ruby main.rb}}</code></p>
<ul>
<li>Run a command with the changed file (<code>/_</code>) as an argument:</li>
</ul>
<p><code>{{ls *.sql}} | entr {{psql -f}} /_</code></p>
