<h1 id="env">env</h1>
<blockquote>
<p>Show the environment or run a program in a modified environment.</p>
</blockquote>
<ul>
<li>Show the environment:</li>
</ul>
<p><code>env</code></p>
<ul>
<li>Run a program. Often used in scripts after the shebang (#!) for looking up the path to the program:</li>
</ul>
<p><code>env {{program}}</code></p>
<ul>
<li>Clear the environment and run a program:</li>
</ul>
<p><code>env -i {{program}}</code></p>
<ul>
<li>Remove variable from the environment and run a program:</li>
</ul>
<p><code>env -u {{variable}} {{program}}</code></p>
<ul>
<li>Set a variable and run a program:</li>
</ul>
<p><code>env {{variable}}={{value}} {{program}}</code></p>
