<h1 id="envoy">envoy</h1>
<blockquote>
<p>A PHP-based task manager for Laravel remote servers. More information: <a href="https://laravel.com/docs/envoy" class="uri">https://laravel.com/docs/envoy</a>.</p>
</blockquote>
<ul>
<li>Initialise a configuration file:</li>
</ul>
<p><code>envoy init {{host_name}}</code></p>
<ul>
<li>Run a task:</li>
</ul>
<p><code>envoy run {{task_name}}</code></p>
<ul>
<li>Run a task from a specific project:</li>
</ul>
<p><code>envoy run --path {{path/to/directory}} {{task_name}}</code></p>
<ul>
<li>Run a task and continue on failure:</li>
</ul>
<p><code>envoy run --continue {{task_name}}</code></p>
<ul>
<li>Dump a task as a bash script for inspection:</li>
</ul>
<p><code>envoy run --pretend {{task_name}}</code></p>
<ul>
<li>Connect to the specified server via SSH:</li>
</ul>
<p><code>envoy ssh {{server_name}}</code></p>
