<h1 id="envsubst">envsubst</h1>
<blockquote>
<p>Substitutes environment variables with their value in shell format strings. Variables to be replaced should be in either <code>${var}</code> or <code>$var</code> format.</p>
</blockquote>
<ul>
<li>Replace environment variables in <code>stdin</code> and output to <code>stdout</code>:</li>
</ul>
<p><code>echo '{{$HOME}}' | envsubst</code></p>
<ul>
<li>Replace environment variables in an input file and output to <code>stdout</code>:</li>
</ul>
<p><code>envsubst &lt; {{path/to/input_file}}</code></p>
<ul>
<li>Replace environment variables in an input file and output to a file:</li>
</ul>
<p><code>envsubst &lt; {{path/to/input_file}} &gt; {{path/to/output_file}}</code></p>
<ul>
<li>Replace environment variables in an input file from a space-separated list:</li>
</ul>
<p><code>envsubst '{{$USER $SHELL $HOME}}' &lt; {{path/to/input_file}}</code></p>
