<h1 id="erl">erl</h1>
<blockquote>
<p>Run and manage programs in the Erlang programming language. More information: <a href="https://www.erlang.org" class="uri">https://www.erlang.org</a>.</p>
</blockquote>
<ul>
<li>Compile and run sequential Erlang program as a common script and then exit:</li>
</ul>
<p><code>erlc {{files}} &amp;&amp; erl -noshell '{{mymodule:myfunction(arguments)}}, init:stop().'</code></p>
<ul>
<li>Connect to a running Erlang node:</li>
</ul>
<p><code>erl -remsh {{nodename}}@{{hostname}} -sname {{custom_shortname}} -hidden -setcookie {{cookie_of_remote_node}}</code></p>
<ul>
<li>Tell the Erlang shell to load modules from a directory:</li>
</ul>
<p><code>erl -pa {{directory_with_beam_files}}</code></p>
