<h1 id="eslint">eslint</h1>
<blockquote>
<p>A pluggable linting utility for JavaScript and JSX. More information: <a href="https://eslint.org" class="uri">https://eslint.org</a>.</p>
</blockquote>
<ul>
<li>Create eslint config:</li>
</ul>
<p><code>eslint --init</code></p>
<ul>
<li>Lint on a given set of files:</li>
</ul>
<p><code>eslint {{filename}}.js {{filename1}}.js</code></p>
<ul>
<li>Fix lint issues:</li>
</ul>
<p><code>eslint --fix</code></p>
<ul>
<li>Lint with config:</li>
</ul>
<p><code>eslint -c {{path/to/config_file}} {{app/src}}</code></p>
