<h1 id="espeak">espeak</h1>
<blockquote>
<p>Uses text-to-speech to speak through the default sound device. More information: <a href="http://espeak.sourceforge.net" class="uri">http://espeak.sourceforge.net</a>.</p>
</blockquote>
<ul>
<li>Speak a phrase aloud:</li>
</ul>
<p><code>espeak "I like to ride my bike."</code></p>
<ul>
<li>Speak a file aloud:</li>
</ul>
<p><code>espeak -f {{filename}}</code></p>
<ul>
<li>Save output to a WAV audio file, rather than speaking it directly:</li>
</ul>
<p><code>espeak -w {{filename.wav}} "It's GNU plus Linux"</code></p>
<ul>
<li>Use a different voice:</li>
</ul>
<p><code>espeak -v {{voice}}</code></p>
