<h1 id="eva">eva</h1>
<blockquote>
<p>Simple calculator REPL, similar to <code>bc</code>, with syntax highlighting and persistent history. More information <a href="https://github.com/NerdyPepper/eva" class="uri">https://github.com/NerdyPepper/eva</a>.</p>
</blockquote>
<ul>
<li>Run the calculator in interactive mode:</li>
</ul>
<p><code>eva</code></p>
<ul>
<li>Calculate the result of an expression:</li>
</ul>
<p><code>eva "{{(1 + 2) * 2 ^ 2}}"</code></p>
<ul>
<li>Calculate an expression forcing the number of decimal places to 5:</li>
</ul>
<p><code>eva --fix {{5}} "{{5 / 3}}"</code></p>
<ul>
<li>Calculate an expression with sine and cosine:</li>
</ul>
<p><code>eva "{{sin(1) + cos(1)}}"</code></p>
