<h1 id="exa">exa</h1>
<blockquote>
<p>A modern replacement for <code>ls</code> (List directory contents). More information: <a href="https://the.exa.website" class="uri">https://the.exa.website</a>.</p>
</blockquote>
<ul>
<li>List files one per line:</li>
</ul>
<p><code>exa --oneline</code></p>
<ul>
<li>List all files, including hidden files:</li>
</ul>
<p><code>exa --all</code></p>
<ul>
<li>Long format list (permissions, ownership, size and modification date) of all files:</li>
</ul>
<p><code>exa --long --all</code></p>
<ul>
<li>List files with the largest at the top:</li>
</ul>
<p><code>exa --reverse --sort={{size}}</code></p>
<ul>
<li>Display a tree of files, three levels deep:</li>
</ul>
<p><code>exa --long --tree --level={{3}}</code></p>
<ul>
<li>List files sorted by modification date (oldest first):</li>
</ul>
<p><code>exa --long --sort={{modified}}</code></p>
