<h1 id="exec">exec</h1>
<blockquote>
<p>Replace the current process with another process.</p>
</blockquote>
<ul>
<li>Replace with the specified command using the current environment variables:</li>
</ul>
<p><code>exec {{command -with -flags}}</code></p>
<ul>
<li>Replace with the specified command, clearing environment variables:</li>
</ul>
<p><code>exec -c {{command -with -flags}}</code></p>
<ul>
<li>Replace with the specified command and login using the default shell:</li>
</ul>
<p><code>exec -l {{command -with -flags}}</code></p>
<ul>
<li>Replace with the specified command and change the process name:</li>
</ul>
<p><code>exec -a {{process_name}} {{command -with -flags}}</code></p>
