<h1 id="exiftool">exiftool</h1>
<blockquote>
<p>Read and write meta information in files. More information: <a href="https://owl.phy.queensu.ca/~phil/exiftool" class="uri">https://owl.phy.queensu.ca/~phil/exiftool</a>.</p>
</blockquote>
<ul>
<li>Remove all EXIF metadata from the given files:</li>
</ul>
<p><code>exiftool -All= {{file1 file2 ...}}</code></p>
<ul>
<li>Move the date at which all photos in a directory were taken 1 hour forward:</li>
</ul>
<p><code>exiftool "-AllDates+=0:0:0 1:0:0" {{path/to/directory}}</code></p>
<ul>
<li>Move the date at which all JPEG photos in the current directory were taken 1 day and 2 hours backward:</li>
</ul>
<p><code>exiftool "-AllDates-=0:0:1 2:0:0" -ext jpg</code></p>
<ul>
<li>Only change the <code>DateTimeOriginal</code> field subtracting 1.5 hours, without keeping backups:</li>
</ul>
<p><code>exiftool -DateTimeOriginal-=1.5 -overwrite_original</code></p>
<ul>
<li>Recursively rename all JPEG photos in a directory based on the <code>DateTimeOriginal</code> field:</li>
</ul>
<p><code>exiftool '-filename&lt;DateTimeOriginal' -d %Y-%m-%d_%H-%M-%S%%lc.%%e {{path/to/directory}} -r -ext jpg</code></p>
