<h1 id="exit">exit</h1>
<blockquote>
<p>Exit the shell.</p>
</blockquote>
<ul>
<li>Exit the shell with the exit code of the last command executed:</li>
</ul>
<p><code>exit</code></p>
<ul>
<li>Exit the shell with the specified exit code:</li>
</ul>
<p><code>exit {{exit_code}}</code></p>
