<h1 id="expand">expand</h1>
<blockquote>
<p>Convert tabs to spaces.</p>
</blockquote>
<ul>
<li>Convert tabs in each file to spaces, writing to standard output:</li>
</ul>
<p><code>expand {{file}}</code></p>
<ul>
<li>Convert tabs to spaces, reading from standard input:</li>
</ul>
<p><code>expand</code></p>
<ul>
<li>Do not convert tabs after non blanks:</li>
</ul>
<p><code>expand -i {{file}}</code></p>
<ul>
<li>Have tabs a certain number of characters apart, not 8:</li>
</ul>
<p><code>expand -t={{number}} {{file}}</code></p>
<ul>
<li>Use a comma separated list of explicit tab positions:</li>
</ul>
<p><code>expand -t={{1,4,6}}</code></p>
