<h1 id="expr">expr</h1>
<blockquote>
<p>Evaluate expressions and manipulate strings.</p>
</blockquote>
<ul>
<li>Get string length:</li>
</ul>
<p><code>expr length {{string}}</code></p>
<ul>
<li>Evaluate logical or math expression with an operator (‘+’, ‘-’, ’*‘,’&amp;‘,’|’, etc.). Special symbols should be escaped:</li>
</ul>
<p><code>expr {{first_argument}} {{operator}} {{second_argument}}</code></p>
<ul>
<li>Get position of the first character in ‘string’ that matches ‘substring’:</li>
</ul>
<p><code>echo $(expr index {{string}} {{substring}})</code></p>
<ul>
<li>Extract part of the string:</li>
</ul>
<p><code>echo $(expr substr {{string}} {{position_to_start}} {{number_of_characters}}</code></p>
<ul>
<li>Extract part of the string which matches a regular expression:</li>
</ul>
<p><code>echo $(expr {{string}} : '\({{regular_expression}}\)')</code></p>
