<h1 id="f3probe">f3probe</h1>
<blockquote>
<p>Probe a block device (e.g. a flash drive or a microSD card) for counterfeit flash memory. More information: <a href="https://github.com/AltraMayor/f3" class="uri">https://github.com/AltraMayor/f3</a>.</p>
</blockquote>
<ul>
<li>Probe a block device:</li>
</ul>
<p><code>f3probe {{path/to/block_device}}</code></p>
<ul>
<li>Use the minimum about of RAM possible:</li>
</ul>
<p><code>f3probe --min-memory {{path/to/block_device}}</code></p>
<ul>
<li>Time disk operations:</li>
</ul>
<p><code>f3probe --time-ops {{path/to/block_device}}</code></p>
