<h1 id="factor">factor</h1>
<blockquote>
<p>Prints the prime factorization of a number.</p>
</blockquote>
<ul>
<li>Display the prime-factorization of a number:</li>
</ul>
<p><code>factor {{number}}</code></p>
<ul>
<li>Take the input from <code>stdin</code> if no argument is specified:</li>
</ul>
<p><code>echo {{number}} | factor</code></p>
