<h1 id="fastboot">fastboot</h1>
<blockquote>
<p>Communicate with connected Android devices when in bootloader mode (the one place <code>adb</code> doesn’t work). More information: <a href="https://android.googlesource.com/platform/system/core/+/master/fastboot/#fastboot" class="uri">https://android.googlesource.com/platform/system/core/+/master/fastboot/#fastboot</a>.</p>
</blockquote>
<ul>
<li>Unlock the bootloader:</li>
</ul>
<p><code>fastboot oem unlock</code></p>
<ul>
<li>Relock the bootloader:</li>
</ul>
<p><code>fastboot oem lock</code></p>
<ul>
<li>Reboot the device from fastboot mode into fastboot mode again:</li>
</ul>
<p><code>fastboot reboot bootloader</code></p>
<ul>
<li>Flash a given image:</li>
</ul>
<p><code>fastboot flash {{file.zip}}</code></p>
<ul>
<li>Flash a custom recovery image:</li>
</ul>
<p><code>fastboot flash recovery {{file.img}}</code></p>
<ul>
<li>Display connected devices:</li>
</ul>
<p><code>fastboot devices</code></p>
