<h1 id="fd">fd</h1>
<blockquote>
<p>An alternative to <code>find</code>. Aims to be faster and easier to use than <code>find</code>. More information: <a href="https://github.com/sharkdp/fd" class="uri">https://github.com/sharkdp/fd</a>.</p>
</blockquote>
<ul>
<li>Find files matching the given pattern in the current directory:</li>
</ul>
<p><code>fd {{pattern}}</code></p>
<ul>
<li>Find files that begin with “foo”:</li>
</ul>
<p><code>fd {{'^foo'}}</code></p>
<ul>
<li>Find files with a specific extension:</li>
</ul>
<p><code>fd --extension {{txt}}</code></p>
<ul>
<li>Find files in a specific directory:</li>
</ul>
<p><code>fd {{pattern}} {{path/to/dir}}</code></p>
<ul>
<li>Include ignored and hidden files in the search:</li>
</ul>
<p><code>fd --hidden --no-ignore {{pattern}}</code></p>
