<h1 id="fdroidcl">fdroidcl</h1>
<blockquote>
<p>F-Droid CLI client. More information: <a href="https://github.com/mvdan/fdroidcl" class="uri">https://github.com/mvdan/fdroidcl</a>.</p>
</blockquote>
<ul>
<li>Fetch the F-Droid index:</li>
</ul>
<p><code>fdroidcl update</code></p>
<ul>
<li>Display info about an app:</li>
</ul>
<p><code>fdroidcl show {{app_id}}</code></p>
<ul>
<li>Download an APK file:</li>
</ul>
<p><code>fdroidcl download {{app_id}}</code></p>
<ul>
<li>Search for an app in the index:</li>
</ul>
<p><code>fdroidcl search {{search_pattern}}</code></p>
<ul>
<li>Install an app on a connected device:</li>
</ul>
<p><code>fdroidcl install {{app_id}}</code></p>
