<h1 id="fdroid">fdroid</h1>
<blockquote>
<p>F-Droid build tool. F-Droid is an installable catalogue of FOSS (Free and Open Source Software) applications for the Android platform. More information: <a href="https://f-droid.org/" class="uri">https://f-droid.org/</a>.</p>
</blockquote>
<ul>
<li>Build a specific app:</li>
</ul>
<p><code>fdroid build {{app_id}}</code></p>
<ul>
<li>Build a specific app in a build server VM:</li>
</ul>
<p><code>fdroid build {{app_id}} --server</code></p>
<ul>
<li>Publish the app to the local repository:</li>
</ul>
<p><code>fdroid publish {{app_id}}</code></p>
<ul>
<li>Install the app on every connected device:</li>
</ul>
<p><code>fdroid install {{app_id}}</code></p>
<ul>
<li>Check if the metadata is formatted correctly:</li>
</ul>
<p><code>fdroid lint --format {{app_id}}</code></p>
<ul>
<li>Fix the formatting automatically (if possible):</li>
</ul>
<p><code>fdroid rewritemeta {{app_id}}</code></p>
