<h1 id="fdupes">fdupes</h1>
<blockquote>
<p>Finds duplicate files in a given set of directories. More information: <a href="https://github.com/adrianlopezroche/fdupes" class="uri">https://github.com/adrianlopezroche/fdupes</a>.</p>
</blockquote>
<ul>
<li>Search a single directory:</li>
</ul>
<p><code>fdupes {{directory}}</code></p>
<ul>
<li>Search multiple directories:</li>
</ul>
<p><code>fdupes {{directory1}} {{directory2}}</code></p>
<ul>
<li>Search all directories recursively:</li>
</ul>
<p><code>fdupes -r {{directory}}</code></p>
<ul>
<li>Search multiple directories, one recursively:</li>
</ul>
<p><code>fdupes {{directory1}} -R {{directory2}}</code></p>
