<h1 id="ffmpeg">ffmpeg</h1>
<blockquote>
<p>Video conversion tool. More information: <a href="https://ffmpeg.org" class="uri">https://ffmpeg.org</a>.</p>
</blockquote>
<ul>
<li>Extract the sound from a video and save it as MP3:</li>
</ul>
<p><code>ffmpeg -i {{video.mp4}} -vn {{sound}}.mp3</code></p>
<ul>
<li>Convert frames from a video or GIF into individual numbered images:</li>
</ul>
<p><code>ffmpeg -i {{video.mpg|video.gif}} {{frame_%d.png}}</code></p>
<ul>
<li>Combine numbered images (frame_1.jpg, frame_2.jpg, etc) into a video or GIF:</li>
</ul>
<p><code>ffmpeg -i {{frame_%d.jpg}} -f image2 {{video.mpg|video.gif}}</code></p>
<ul>
<li>Quickly extract a single frame from a video at time mm:ss and save it as a 128x128 resolution image:</li>
</ul>
<p><code>ffmpeg -ss {{mm:ss}} -i {{video.mp4}} -frames 1 -s {{128x128}} -f image2 {{image.png}}</code></p>
<ul>
<li>Trim a video from a given start time mm:ss to an end time mm2:ss2 (omit the -to flag to trim till the end):</li>
</ul>
<p><code>ffmpeg -ss {{mm:ss}} -to {{mm2:ss2}} -i {{video.mp4}} -codec copy {{output.mp4}}</code></p>
<ul>
<li>Convert AVI video to MP4. AAC Audio @ 128kbit, h264 Video @ CRF 23:</li>
</ul>
<p><code>ffmpeg -i {{input_video}}.avi -codec:audio aac -b:audio 128k -codec:video libx264 -crf 23 {{output_video}}.mp4</code></p>
<ul>
<li>Remux MKV video to MP4 without re-encoding audio or video streams:</li>
</ul>
<p><code>ffmpeg -i {{input_video}}.mkv -codec copy {{output_video}}.mp4</code></p>
<ul>
<li>Convert MP4 video to VP9 codec. For the best quality, use a CRF value (recommended range 15-35) and -b:video MUST be 0:</li>
</ul>
<p><code>ffmpeg -i {{input_video}}.mp4 -codec:video libvpx-vp9 -crf {{30}} -b:video 0 -codec:audio libopus -vbr on -threads {{number_of_threads}} {{output_video}}.webm</code></p>
