<h1 id="ffprobe">ffprobe</h1>
<blockquote>
<p>Multimedia stream analyzer. More information: <a href="https://ffmpeg.org/ffprobe.html" class="uri">https://ffmpeg.org/ffprobe.html</a>.</p>
</blockquote>
<ul>
<li>Display all available stream info for a media file:</li>
</ul>
<p><code>ffprobe -v error -show_entries {{input.mp4}}</code></p>
<ul>
<li>Display media duration:</li>
</ul>
<p><code>ffprobe -v error -show_entries format=duration -of default=noprint_wrappers=1:nokey=1 {{input.mp4}}</code></p>
<ul>
<li>Display the frame rate of a video:</li>
</ul>
<p><code>ffprobe -v error -select_streams v:0 -show_entries stream=avg_frame_rate -of default=noprint_wrappers=1:nokey=1 {{input.mp4}}</code></p>
<ul>
<li>Display the width or height of a video:</li>
</ul>
<p><code>ffprobe -v error -select_streams v:0 -show_entries stream={{width|height}} -of default=noprint_wrappers=1:nokey=1 {{input.mp4}}</code></p>
<ul>
<li>Display the average bit rate of a video:</li>
</ul>
<p><code>ffprobe -v error -select_streams v:0 -show_entries stream=bit_rate -of default=noprint_wrappers=1:nokey=1 {{input.mp4}}</code></p>
