<h1 id="ffsend">ffsend</h1>
<blockquote>
<p>Easily and securely share files from command line. More information: <a href="https://gitlab.com/timvisee/ffsend" class="uri">https://gitlab.com/timvisee/ffsend</a>.</p>
</blockquote>
<ul>
<li>Upload a file:</li>
</ul>
<p><code>ffsend upload {{file}}</code></p>
<ul>
<li>Download a file:</li>
</ul>
<p><code>ffsend download {{url}}</code></p>
<ul>
<li>Upload a file with password:</li>
</ul>
<p><code>ffsend upload {{file}} -p {{password}}</code></p>
<ul>
<li>Download a file protected by password:</li>
</ul>
<p><code>ffsend download {{file}} -p {{password}}</code></p>
<ul>
<li>Upload a file and allow 4 downloads:</li>
</ul>
<p><code>ffsend upload {{file}} -d {{4}}</code></p>
