<h1 id="find">find</h1>
<blockquote>
<p>Find files or directories under the given directory tree, recursively.</p>
</blockquote>
<ul>
<li>Find files by extension:</li>
</ul>
<p><code>find {{root_path}} -name '{{*.ext}}'</code></p>
<ul>
<li>Find files by matching multiple patterns:</li>
</ul>
<p><code>find {{root_path}} -name '{{*pattern_1*}}' -or -name '{{*pattern_2*}}'</code></p>
<ul>
<li>Find directories matching a given name, in case-insensitive mode:</li>
</ul>
<p><code>find {{root_path}} -type d -iname {{*lib*}}</code></p>
<ul>
<li>Find files matching a path pattern:</li>
</ul>
<p><code>find {{root_path}} -path '{{**/lib/**/*.ext}}'</code></p>
<ul>
<li>Find files matching a given pattern, excluding specific paths:</li>
</ul>
<p><code>find {{root_path}} -name '{{*.py}}' -not -path '{{*/site-packages/*}}'</code></p>
<ul>
<li>Find files matching a given size range:</li>
</ul>
<p><code>find {{root_path}} -size {{+500k}} -size {{-10M}}</code></p>
<ul>
<li>Run a command for each file (use <code>{}</code> within the command to access the filename):</li>
</ul>
<p><code>find {{root_path}} -name '{{*.ext}}' -exec {{wc -l {} }}\;</code></p>
<ul>
<li>Find files modified in the last 7 days, and delete them:</li>
</ul>
<p><code>find {{root_path}} -mtime {{-7}} -delete</code></p>
