<h1 id="finger">finger</h1>
<blockquote>
<p>User information lookup program.</p>
</blockquote>
<ul>
<li>Display information about currently logged in users:</li>
</ul>
<p><code>finger</code></p>
<ul>
<li>Display information about a specific user:</li>
</ul>
<p><code>finger {{username}}</code></p>
<ul>
<li>Display the user’s login name, real name, terminal name, and other information:</li>
</ul>
<p><code>finger -s</code></p>
<ul>
<li>Produce multi-line output format displaying same information as <code>-s</code> as well as user’s home directory, home phone number, login shell, mail status, etc.:</li>
</ul>
<p><code>finger -l</code></p>
<ul>
<li>Prevent matching against user’s names and only use login names:</li>
</ul>
<p><code>finger -m</code></p>
