<h1 id="firefox">firefox</h1>
<blockquote>
<p>A free and open source web browser. More information: <a href="https://developer.mozilla.org/en-US/docs/Mozilla/Command_Line_Options" class="uri">https://developer.mozilla.org/en-US/docs/Mozilla/Command_Line_Options</a>.</p>
</blockquote>
<ul>
<li>Launch Firefox and open a web page:</li>
</ul>
<p><code>firefox {{https://www.duckduckgo.com}}</code></p>
<ul>
<li>Open a new window:</li>
</ul>
<p><code>firefox --new-window {{https://www.duckduckgo.com}}</code></p>
<ul>
<li>Open a private (incognito) window:</li>
</ul>
<p><code>firefox --private-window</code></p>
<ul>
<li>Search for “wikipedia” using the default search engine:</li>
</ul>
<p><code>firefox --search "{{wikipedia}}"</code></p>
<ul>
<li>Launch Firefox in safe mode, with all extensions disabled:</li>
</ul>
<p><code>firefox --safe-mode</code></p>
<ul>
<li>Take a screenshot of a web page in headless mode:</li>
</ul>
<p><code>firefox --headless --screenshot {{path/to/output_file.png}} {{https://example.com/}}</code></p>
<ul>
<li>Use a specific profile directory to allow multiple separate instances of Firefox to run at once:</li>
</ul>
<p><code>firefox --new-instance --profile {{path/to/directory}} {{https://example.com/}}</code></p>
