<h1 id="fisher">fisher</h1>
<blockquote>
<p>Fisher, a fish-shell plugin manager. Install plugins by name or from a managed ‘fishfile’ for bundled installs. More information: <a href="https://github.com/jorgebucaran/fisher" class="uri">https://github.com/jorgebucaran/fisher</a>.</p>
</blockquote>
<ul>
<li>Install one or more plugins:</li>
</ul>
<p><code>fisher {{plugin1}} {{plugin2}}</code></p>
<ul>
<li>Install a plugin from a GitHub gist:</li>
</ul>
<p><code>fisher {{gist_url}}</code></p>
<ul>
<li>Edit ‘fishfile’ by hand with your favorite editor and install multiple plugins:</li>
</ul>
<p><code>{{editor}} ~/.config/fish/fishfile; fisher</code></p>
<ul>
<li>List installed plugins:</li>
</ul>
<p><code>fisher ls</code></p>
<ul>
<li>Show available plugins:</li>
</ul>
<p><code>fisher ls-remote</code></p>
<ul>
<li>Update plugins:</li>
</ul>
<p><code>fisher up</code></p>
<ul>
<li>Remove one or more plugins:</li>
</ul>
<p><code>fisher rm {{plugin1}} {{plugin2}}</code></p>
