<h1 id="fish">fish</h1>
<blockquote>
<p>The Friendly Interactive SHell. A command-line interpreter designed to be user friendly. More information: <a href="https://fishshell.com" class="uri">https://fishshell.com</a>.</p>
</blockquote>
<ul>
<li>Start interactive shell:</li>
</ul>
<p><code>fish</code></p>
<ul>
<li>Execute a command:</li>
</ul>
<p><code>fish -c "{{command}}"</code></p>
<ul>
<li>Run commands from a file:</li>
</ul>
<p><code>fish {{file.fish}}</code></p>
<ul>
<li>Check a file for syntax errors:</li>
</ul>
<p><code>fish --no-execute {{file.fish}}</code></p>
<ul>
<li>Display version information and exit:</li>
</ul>
<p><code>fish --version</code></p>
<ul>
<li>Set and export environmental variables that persist across restarts:</li>
</ul>
<p><code>set -Ux {{variable_name}} {{variable_value}}</code></p>
