<h1 id="fkill">fkill</h1>
<blockquote>
<p>Fabulously kill processes. Cross-platform. More information: <a href="https://github.com/sindresorhus/fkill" class="uri">https://github.com/sindresorhus/fkill</a>.</p>
</blockquote>
<ul>
<li>Run without arguments to use the interactive interface:</li>
</ul>
<p><code>fkill</code></p>
<ul>
<li>Kill the process by pid, name or port:</li>
</ul>
<p><code>fkill {{pid|name|:port}}</code></p>
