<h1 id="flac">flac</h1>
<blockquote>
<p>Encodes, decodes and tests flac files. More information: <a href="https://xiph.org/flac" class="uri">https://xiph.org/flac</a>.</p>
</blockquote>
<ul>
<li>Encode a wav file to flac (this will create a flac file in the same location as the wav file):</li>
</ul>
<p><code>flac {{path/to/file.wav}}</code></p>
<ul>
<li>Encode a wav file to flac, specifying the output file:</li>
</ul>
<p><code>flac -o {{path/to/output.flac}} {{path/to/file.wav}}</code></p>
<ul>
<li>Decode a flac file to wav, specifying the output file:</li>
</ul>
<p><code>flac -d -o {{path/to/output.wav}} {{path/to/file.flac}}</code></p>
<ul>
<li>Test a flac file for the correct encoding:</li>
</ul>
<p><code>flac -t {{path/to/file.flac}}</code></p>
