<h1 id="flutter">flutter</h1>
<blockquote>
<p>Google’s free, open source, and cross-platform mobile app SDK. More information: <a href="https://github.com/flutter/flutter/wiki/The-flutter-tool" class="uri">https://github.com/flutter/flutter/wiki/The-flutter-tool</a>.</p>
</blockquote>
<ul>
<li>Check the Flutter version:</li>
</ul>
<p><code>flutter --version</code></p>
<ul>
<li>Display general help:</li>
</ul>
<p><code>flutter help</code></p>
<ul>
<li>Display help about a specific command:</li>
</ul>
<p><code>flutter help {{command}}</code></p>
<ul>
<li>Execute a Flutter command:</li>
</ul>
<p><code>flutter {{command}}</code></p>
<ul>
<li>Show information about the installed tooling:</li>
</ul>
<p><code>flutter doctor</code></p>
