<h1 id="fly">fly</h1>
<blockquote>
<p>Command line tool for concourse-ci. More information: <a href="https://concourse-ci.org/fly.html" class="uri">https://concourse-ci.org/fly.html</a>.</p>
</blockquote>
<ul>
<li>Authenticate with and save concourse target:</li>
</ul>
<p><code>fly --target {{target_name}} login --team-name {{team_name}} -c {{https://ci.example.com}}</code></p>
<ul>
<li>List targets:</li>
</ul>
<p><code>fly targets</code></p>
<ul>
<li>List pipelines:</li>
</ul>
<p><code>fly -t {{target_name}} pipelines</code></p>
<ul>
<li>Upload or update a pipeline:</li>
</ul>
<p><code>fly -t {{target_name}} set-pipeline --config {{pipeline.yml}} --pipeline {{pipeline_name}}</code></p>
<ul>
<li>Unpause pipeline:</li>
</ul>
<p><code>fly -t {{target_name}} unpause-pipeline --pipeline {{pipeline_name}}</code></p>
<ul>
<li>Show pipeline configuration:</li>
</ul>
<p><code>fly -t {{target_name}} get-pipeline --pipeline {{pipeline_name}}</code></p>
<ul>
<li>Update local copy of fly:</li>
</ul>
<p><code>fly -t {{target_name}} sync</code></p>
<ul>
<li>Destroy pipeline:</li>
</ul>
<p><code>fly -t {{target_name}} destroy-pipeline --pipeline {{pipeline_name}}</code></p>
