<h1 id="fmt">fmt</h1>
<blockquote>
<p>Reformat a text file by joining its paragraphs and limiting the line width to given number of characters (75 by default).</p>
</blockquote>
<ul>
<li>Reformat a file:</li>
</ul>
<p><code>fmt {{path/to/file}}</code></p>
<ul>
<li>Reformat a file producing output lines of (at most) <code>n</code> characters:</li>
</ul>
<p><code>fmt -w {{n}} {{path/to/file}}</code></p>
<ul>
<li>Reformat a file without joining lines shorter than the given width together:</li>
</ul>
<p><code>fmt -s {{path/to/file}}</code></p>
<ul>
<li>Reformat a file with uniform spacing (1 space between words and 2 spaces between paragraphs):</li>
</ul>
<p><code>fmt -u {{path/to/file}}</code></p>
