<h1 id="fnm">fnm</h1>
<blockquote>
<p>Fast Node.js version manager. Install, uninstall or switch between Node.js versions. More info: <a href="https://github.com/Schniz/fnm" class="uri">https://github.com/Schniz/fnm</a>.</p>
</blockquote>
<ul>
<li>Install a specific version of Node.js:</li>
</ul>
<p><code>fnm install {{node_version}}</code></p>
<ul>
<li>List all available Node.js versions and highlight the default one:</li>
</ul>
<p><code>fnm ls</code></p>
<ul>
<li>Use a specific version of Node.js in the current shell:</li>
</ul>
<p><code>fnm use {{node_version}}</code></p>
<ul>
<li>Set the default Node.js version:</li>
</ul>
<p><code>fnm default {{node_version}}</code></p>
<ul>
<li>Uninstall a given Node.js version:</li>
</ul>
<p><code>fnm uninstall {{node_version}}</code></p>
