<h1 id="fold">fold</h1>
<blockquote>
<p>Wraps each line in an input file to fit a specified width and prints it to the standard output.</p>
</blockquote>
<ul>
<li>Wrap each line to default width (80 characters):</li>
</ul>
<p><code>fold {{file}}</code></p>
<ul>
<li>Wrap each line to width “30”:</li>
</ul>
<p><code>fold -w30 {{file}}</code></p>
<ul>
<li>Wrap each line to width “5” and break the line at spaces (puts each space separated word in a new line, words with length &gt; 5 are wrapped):</li>
</ul>
<p><code>fold -w5 -s {{file}}</code></p>
