<h1 id="for">for</h1>
<blockquote>
<p>Shell loop over parameters.</p>
</blockquote>
<ul>
<li>Perform a command with different arguments:</li>
</ul>
<p><code>for argument in 1 2 3; do {{command $argument}}; done</code></p>
<ul>
<li>Perform a command in every directory:</li>
</ul>
<p><code>for d in *; do (cd $d; {{command}}); done</code></p>
