<h1 id="forever">forever</h1>
<blockquote>
<p>Server-side JavaScript application that makes sure Node.js applications run indefinitely (restarts after exit). More information: <a href="https://github.com/foreversd/forever" class="uri">https://github.com/foreversd/forever</a>.</p>
</blockquote>
<ul>
<li>Start running a file forever (as a daemon):</li>
</ul>
<p><code>forever {{script}}</code></p>
<ul>
<li>List running “forever” processes (along with IDs and other details of “forever” processes):</li>
</ul>
<p><code>forever list</code></p>
<ul>
<li>Stop a running “forever” process:</li>
</ul>
<p><code>forever stop {{ID|pid|script}}</code></p>
