<h1 id="fortune">fortune</h1>
<blockquote>
<p>Print a random quotation (fortune-cookie style).</p>
</blockquote>
<ul>
<li>Print a quotation:</li>
</ul>
<p><code>fortune</code></p>
<ul>
<li>Print an offensive quotation:</li>
</ul>
<p><code>fortune -o</code></p>
<ul>
<li>Print a long quotation:</li>
</ul>
<p><code>fortune -l</code></p>
<ul>
<li>Print a short quotation:</li>
</ul>
<p><code>fortune -s</code></p>
<ul>
<li>List the available quotation database files:</li>
</ul>
<p><code>fortune -f</code></p>
<ul>
<li>Print a quotation from one of the database files listed by <code>fortune -f</code>:</li>
</ul>
<p><code>fortune {{filename}}</code></p>
