<h1 id="fselect">fselect</h1>
<blockquote>
<p>Find files with SQL-like queries. More information: <a href="https://github.com/jhspetersson/fselect" class="uri">https://github.com/jhspetersson/fselect</a>.</p>
</blockquote>
<ul>
<li>Select full path and size from temporary or config files in a given directory:</li>
</ul>
<p><code>fselect size, path from {{path/to/directory}} where name = {{'*.cfg'}} or name = {{'*.tmp'}}</code></p>
<ul>
<li>Find square images:</li>
</ul>
<p><code>fselect path from {{path/to/directory}} where width = height</code></p>
<ul>
<li>Find old-school rap 320kbps MP3 files:</li>
</ul>
<p><code>fselect path from {{path/to/directory}} where genre = {{Rap}} and bitrate = {{320}} and mp3_year lt {{2000}}</code></p>
<ul>
<li>Select only the first 5 results and output as JSON:</li>
</ul>
<p><code>fselect size, path from {{path/to/directory}} limit {{5}} into json</code></p>
<ul>
<li>Use SQL aggregate functions to calculate minimum, maximum and average size of files in a directory:</li>
</ul>
<p><code>fselect "{{MIN(size), MAX(size), AVG(size), SUM(size), COUNT(*)}} from {{path/to/directory}}"</code></p>
