<h1 id="fswatch">fswatch</h1>
<blockquote>
<p>A cross-platform file change monitor. More information: <a href="https://emcrisostomo.github.io/fswatch" class="uri">https://emcrisostomo.github.io/fswatch</a>.</p>
</blockquote>
<ul>
<li>Run a bash command on file creation, update or deletion:</li>
</ul>
<p><code>fswatch {{path/to/file}} | xargs -n 1 {{bash_command}}</code></p>
<ul>
<li>Watch one or more files and/or directories:</li>
</ul>
<p><code>fswatch {{path/to/file}} {{path/to/directory}} {{path/to/another_directory/**/*.js}} | xargs -n 1 {{bash_command}}</code></p>
<ul>
<li>Print the absolute paths of the changed files:</li>
</ul>
<p><code>fswatch {{path/to/directory}} | xargs -n 1 -I {} echo {}</code></p>
<ul>
<li>Filter by event type, eg. Updated, Deleted or Created:</li>
</ul>
<p><code>fswatch --event {{Updated}} {{path/to/directory}} | xargs -n 1 {{bash_command}}</code></p>
