<h1 id="fswebcam">fswebcam</h1>
<blockquote>
<p>Small and simple webcam for *nix. More information: <a href="https://www.sanslogic.co.uk/fswebcam" class="uri">https://www.sanslogic.co.uk/fswebcam</a>.</p>
</blockquote>
<ul>
<li>Take a picture:</li>
</ul>
<p><code>fswebcam {{filename}}</code></p>
<ul>
<li>Take a picture with custom resolution:</li>
</ul>
<p><code>fswebcam -r {{width}}x{{height}} {{filename}}</code></p>
<ul>
<li>Take a picture from selected device(Default is /dev/video0):</li>
</ul>
<p><code>fswebcam -d {{device}} {{filename}}</code></p>
<ul>
<li>Take a picture with timestamp(timestamp string is formatted by strftime):</li>
</ul>
<p><code>fswebcam --timestamp {{timestamp}} {{filename}}</code></p>
