<h1 id="ftp">ftp</h1>
<blockquote>
<p>Tools to interact with a server via File Transfer Protocol.</p>
</blockquote>
<ul>
<li>Connect to an FTP server:</li>
</ul>
<p><code>ftp {{ftp.example.com}}</code></p>
<ul>
<li>Switch to binary transfer mode (graphics, compressed files, etc):</li>
</ul>
<p><code>binary</code></p>
<ul>
<li>Transfer multiple files without prompting for confirmation on every file:</li>
</ul>
<p><code>prompt off</code></p>
<ul>
<li>Download multiple files (glob expression):</li>
</ul>
<p><code>mget {{*.png}}</code></p>
<ul>
<li>Upload multiple files (glob expression):</li>
</ul>
<p><code>mput {{*.zip}}</code></p>
<ul>
<li>Delete multiple files on the remote server:</li>
</ul>
<p><code>mdelete {{*.txt}}</code></p>
<ul>
<li>Rename a file on the remote server:</li>
</ul>
<p><code>rename {{original_filename}} {{new_filename}}</code></p>
