<h1 id="fzf">fzf</h1>
<blockquote>
<p>Command line fuzzy finder. More information: <a href="https://github.com/junegunn/fzf" class="uri">https://github.com/junegunn/fzf</a>.</p>
</blockquote>
<ul>
<li>Start finder on all files from arbitrary locations:</li>
</ul>
<p><code>find {{path/to/search}} -type f | fzf</code></p>
<ul>
<li>Start finder on running processes:</li>
</ul>
<p><code>ps aux | fzf</code></p>
<ul>
<li>Select multiple files with <code>Shift + Tab</code> and write to a file:</li>
</ul>
<p><code>find {{path/to/search_files}} -type f | fzf -m &gt; {{filename}}</code></p>
<ul>
<li>Start finder with a given query:</li>
</ul>
<p><code>fzf -q "{{query}}"</code></p>
<ul>
<li>Start finder on entries that start with core and end with either go, rb, or py:</li>
</ul>
<p><code>fzf -q "^core go$ | rb$ | py$"</code></p>
<ul>
<li>Start finder on entries that not match pyc and match exactly travis:</li>
</ul>
<p><code>fzf -q "!pyc 'travis"</code></p>
