<h1 id="gplusplus">gplusplus</h1>
<blockquote>
<p>Compiles C++ source files. Part of GCC (GNU Compiler Collection). More information: <a href="https://gcc.gnu.org" class="uri">https://gcc.gnu.org</a>.</p>
</blockquote>
<ul>
<li>Compile a source code file into an executable binary:</li>
</ul>
<p><code>g++ {{source.cpp}} -o {{output_executable}}</code></p>
<ul>
<li>Display (almost) all errors and warnings:</li>
</ul>
<p><code>g++ {{source.cpp}} -Wall -o {{output_executable}}</code></p>
<ul>
<li>Choose a language standard to compile for(C++98/C++11/C++14/C++17):</li>
</ul>
<p><code>g++ {{source.cpp}} -std={{language_standard}} -o {{output_executable}}</code></p>
<ul>
<li>Include libraries located at a different path than the source file:</li>
</ul>
<p><code>g++ {{source.cpp}} -o {{output_executable}} -I{{header_path}} -L{{library_path}} -l{{library_name}}</code></p>
