<h1 id="gatsby">gatsby</h1>
<blockquote>
<p>Static site generator for React. More information: <a href="https://gatsbyjs.org" class="uri">https://gatsbyjs.org</a>.</p>
</blockquote>
<ul>
<li>Create a new site:</li>
</ul>
<p><code>gatsby new {{site_name}}</code></p>
<ul>
<li>Create a new site with a Gatsby ‘starter’:</li>
</ul>
<p><code>gatsby new {{site_name}} {{url_of_starter_github_repo}}</code></p>
<ul>
<li>Start a live-reloading local development server:</li>
</ul>
<p><code>gatsby develop</code></p>
<ul>
<li>Perform a production build and generate static HTML:</li>
</ul>
<p><code>gatsby build</code></p>
<ul>
<li>Start a local server which serves the production build:</li>
</ul>
<p><code>gatsby serve</code></p>
