<h1 id="gcal">gcal</h1>
<blockquote>
<p>Displays calendar. More information: <a href="https://www.gnu.org/software/gcal" class="uri">https://www.gnu.org/software/gcal</a>.</p>
</blockquote>
<ul>
<li>Display calendar for the current month:</li>
</ul>
<p><code>gcal</code></p>
<ul>
<li>Display calendar for the month of February of the year 2010:</li>
</ul>
<p><code>gcal {{2}} {{2010}}</code></p>
<ul>
<li>Provide calendar sheet with week numbers:</li>
</ul>
<p><code>gcal --with-week-number</code></p>
<ul>
<li>Change starting day of week to 1st day of the week (Monday):</li>
</ul>
<p><code>gcal --starting-day={{1}}</code></p>
<ul>
<li>Display the previous, current and next month surrounding today:</li>
</ul>
<p><code>gcal .</code></p>
