<h1 id="gcalcli">gcalcli</h1>
<blockquote>
<p>Command line tool to interact with Google Calendar. Requests Google API authorization upon first launch. More information: <a href="https://github.com/insanum/gcalcli" class="uri">https://github.com/insanum/gcalcli</a>.</p>
</blockquote>
<ul>
<li>List your events for all your calendars over the next 7 days:</li>
</ul>
<p><code>gcalcli agenda</code></p>
<ul>
<li>Show events starting from or between specific dates (also takes relative dates e.g. “tomorrow”):</li>
</ul>
<p><code>gcalcli agenda {{mm/dd}} [{{mm/dd}}]</code></p>
<ul>
<li>List events from a specific calendar:</li>
</ul>
<p><code>gcalcli --calendar {{calendar_name}} agenda</code></p>
<ul>
<li>Display an ASCII calendar of events by week:</li>
</ul>
<p><code>gcalcli calw</code></p>
<ul>
<li>Display an ASCII calendar of events for a month:</li>
</ul>
<p><code>gcalcli calm</code></p>
<ul>
<li>Quick-add an event to your calendar:</li>
</ul>
<p><code>gcalcli --calendar {{calendar_name}} quick "{{mm/dd}} {{HH:MM}} {{event_name}}"</code></p>
<ul>
<li>Add an event to calendar. Triggers interactive prompt:</li>
</ul>
<p><code>gcalcli --calendar "{{calendar_name}}" add</code></p>
