<h1 id="gcc">gcc</h1>
<blockquote>
<p>Preprocess and compile C and C++ source files, then assemble and link them together. More information: <a href="https://gcc.gnu.org" class="uri">https://gcc.gnu.org</a>.</p>
</blockquote>
<ul>
<li>Compile multiple source files into executable:</li>
</ul>
<p><code>gcc {{source1.c}} {{source2.c}} -o {{executable}}</code></p>
<ul>
<li>Allow warnings, debug symbols in output:</li>
</ul>
<p><code>gcc {{source.c}} -Wall -Og -o {{executable}}</code></p>
<ul>
<li>Include libraries from a different path:</li>
</ul>
<p><code>gcc {{source.c}} -o {{executable}} -I{{header_path}} -L{{library_path}} -l{{library_name}}</code></p>
<ul>
<li>Compile source code into Assembler instructions:</li>
</ul>
<p><code>gcc -S {{source.c}}</code></p>
<ul>
<li>Compile source code without linking:</li>
</ul>
<p><code>gcc -c {{source.c}}</code></p>
