<h1 id="gcloud">gcloud</h1>
<blockquote>
<p>The official CLI tool for Google Cloud Platform. More information: <a href="https://cloud.google.com/sdk/gcloud" class="uri">https://cloud.google.com/sdk/gcloud</a>.</p>
</blockquote>
<ul>
<li>List all properties in one’s active configuration:</li>
</ul>
<p><code>gcloud config list</code></p>
<ul>
<li>Login to Google account:</li>
</ul>
<p><code>gcloud auth login</code></p>
<ul>
<li>Set the active project:</li>
</ul>
<p><code>gcloud config set project {{project_name}}</code></p>
<ul>
<li>SSH into a virtual machine instance:</li>
</ul>
<p><code>gcloud compute ssh {{user}}@{{instance}}</code></p>
<ul>
<li>Display all Google Compute Engine instances in a project. Instances from all zones are listed by default:</li>
</ul>
<p><code>gcloud compute instances list</code></p>
<ul>
<li>Update a kubeconfig file with the appropriate credentials to point kubectl to a specific cluster in Google Kubernetes Engine:</li>
</ul>
<p><code>gcloud container clusters get-credentials {{cluster_name}}</code></p>
<ul>
<li>Update all gcloud CLI components:</li>
</ul>
<p><code>gcloud components update</code></p>
<ul>
<li>Show help for a given command:</li>
</ul>
<p><code>gcloud help {{command}}</code></p>
