<h1 id="gdb">gdb</h1>
<blockquote>
<p>The GNU Debugger. More information: <a href="https://www.gnu.org/software/gdb" class="uri">https://www.gnu.org/software/gdb</a>.</p>
</blockquote>
<ul>
<li>Debug an executable:</li>
</ul>
<p><code>gdb {{executable}}</code></p>
<ul>
<li>Attach a process to gdb:</li>
</ul>
<p><code>gdb -p {{procID}}</code></p>
<ul>
<li>Debug with a core file:</li>
</ul>
<p><code>gdb -c {{core}} {{executable}}</code></p>
<ul>
<li>Execute given GDB commands upon start:</li>
</ul>
<p><code>gdb -ex "{{commands}}" {{executable}}</code></p>
<ul>
<li>Start gdb and pass arguments:</li>
</ul>
<p><code>gdb --args {{executable}} {{argument1}} {{argument2}}</code></p>
