<h1 id="gdrive">gdrive</h1>
<blockquote>
<p>Command line tool to interact with Google Drive. Folder/file id can be obtained from the Google Drive folder or id url. More information: <a href="https://github.com/gdrive-org/gdrive" class="uri">https://github.com/gdrive-org/gdrive</a>.</p>
</blockquote>
<ul>
<li>Upload a local path to the parent folder with the specified id:</li>
</ul>
<p><code>gdrive upload -p {{id}} {{path/to/file_or_folder}}</code></p>
<ul>
<li>Download file or directory by id to current directory:</li>
</ul>
<p><code>gdrive download {{id}}</code></p>
<ul>
<li>Download to a given local path by its id:</li>
</ul>
<p><code>gdrive download --path {{path/to/folder}} {{id}}</code></p>
<ul>
<li>Create a new revision of an id using a given file or folder:</li>
</ul>
<p><code>gdrive update {{id}} {{path/to/file_or_folder}}</code></p>
