<h1 id="gem">gem</h1>
<blockquote>
<p>Interact with the package manager for the Ruby programming language. More information: <a href="https://rubygems.org" class="uri">https://rubygems.org</a>.</p>
</blockquote>
<ul>
<li>Search for remote gem(s):</li>
</ul>
<p><code>gem search {{regexp}}</code></p>
<ul>
<li>Search for remote gem(s) and show all available versions:</li>
</ul>
<p><code>gem search {{regexp}} --all</code></p>
<ul>
<li>Install latest version of a gem:</li>
</ul>
<p><code>gem install {{gemname}}</code></p>
<ul>
<li>Install specific version of a gem:</li>
</ul>
<p><code>gem install {{gemname}} --version {{1.0.0}}</code></p>
<ul>
<li>Update a gem:</li>
</ul>
<p><code>gem update {{gemname}}</code></p>
<ul>
<li>List all local gems:</li>
</ul>
<p><code>gem list</code></p>
<ul>
<li>Uninstall a gem:</li>
</ul>
<p><code>gem uninstall {{gemname}}</code></p>
<ul>
<li>Uninstall specific version of a gem:</li>
</ul>
<p><code>gem uninstall {{gemname}} --version {{1.0.0}}</code></p>
