<h1 id="ghc">ghc</h1>
<blockquote>
<p>The Glasgow Haskell Compiler. Compiles and links Haskell source files. More information: <a href="https://www.haskell.org/ghc" class="uri">https://www.haskell.org/ghc</a>.</p>
</blockquote>
<ul>
<li>Find and compile all modules in the current directory:</li>
</ul>
<p><code>ghc Main</code></p>
<ul>
<li>Compile a single file:</li>
</ul>
<p><code>ghc {{file.hs}}</code></p>
<ul>
<li>Compile using extra optimization:</li>
</ul>
<p><code>ghc -O {{file.hs}}</code></p>
<ul>
<li>Stop compilation after generating object files (.o):</li>
</ul>
<p><code>ghc -c {{file.hs}}</code></p>
<ul>
<li>Run Haskell interactive interpreter (REPL):</li>
</ul>
<p><code>ghci</code></p>
<ul>
<li>Evaluate a single expression:</li>
</ul>
<p><code>ghc -e {{expression}}</code></p>
