<h1 id="gibo">gibo</h1>
<blockquote>
<p>Fetch gitignore boilerplates. More information: <a href="https://github.com/simonwhitaker/gibo" class="uri">https://github.com/simonwhitaker/gibo</a>.</p>
</blockquote>
<ul>
<li>List available boilerplates:</li>
</ul>
<p><code>gibo list</code></p>
<ul>
<li>Write a boilerplate to <code>stdout</code>:</li>
</ul>
<p><code>gibo dump {{boilerplate}}</code></p>
<ul>
<li>Write a boilerplate to .gitignore:</li>
</ul>
<p><code>gibo dump {{boilerplate}} &gt;&gt;{{.gitignore}}</code></p>
<ul>
<li>Search for boilerplates containing a given string:</li>
</ul>
<p><code>gibo search {{string}}</code></p>
<ul>
<li>Update available local boilerplates:</li>
</ul>
<p><code>gibo update</code></p>
