<h1 id="gifsicle">gifsicle</h1>
<blockquote>
<p>Create GIFs. More information: <a href="https://www.lcdf.org/gifsicle" class="uri">https://www.lcdf.org/gifsicle</a>.</p>
</blockquote>
<ul>
<li>Optimise a GIF:</li>
</ul>
<p><code>gifsicle --batch --optimize=3 {{amin.gif}}</code></p>
<ul>
<li>Make a GIF animation with gifsicle:</li>
</ul>
<p><code>gifsicle --delay={{10}} --loop *.gif &gt; {{anim.gif}}</code></p>
<ul>
<li>Extract frames from an animation:</li>
</ul>
<p><code>gifsicle {{anim.gif}} '#0' &gt; {{firstframe.gif}}</code></p>
<ul>
<li>You can also edit animations by replacing, deleting, or inserting frames:</li>
</ul>
<p><code>gifsicle -b {{anim.gif}} --replace '#0' {{new.gif}}</code></p>
