<h1 id="gist">gist</h1>
<blockquote>
<p>Upload code to https://gist.github.com. More information: <a href="https://github.com/defunkt/gist" class="uri">https://github.com/defunkt/gist</a>.</p>
</blockquote>
<ul>
<li>Login in gist on this computer:</li>
</ul>
<p><code>gist --login</code></p>
<ul>
<li>Create a gist from any number of text files:</li>
</ul>
<p><code>gist {{file.txt}} {{file2.txt}}</code></p>
<ul>
<li>Create a private gist with a description:</li>
</ul>
<p><code>gist -p -d {{"A meaningful description"}} {{file.txt}}</code></p>
<ul>
<li>Read contents from <code>stdin</code> and create a gist from it:</li>
</ul>
<p><code>{{echo "hello world"}} | gist</code></p>
<ul>
<li>List your public and private gists:</li>
</ul>
<p><code>gist -l</code></p>
<ul>
<li>List all gists for the currently logged in user:</li>
</ul>
<p><code>gist -l {{user_name}}</code></p>
<ul>
<li>Use the id from the gist URL to modify or include a file:</li>
</ul>
<p><code>gist -u {{GIST_ID}} {{file.txt}}</code></p>
