<h1 id="git-rm">git rm</h1>
<blockquote>
<p>Remove files from repository index and local filesystem. More information: <a href="https://git-scm.com/docs/git-rm" class="uri">https://git-scm.com/docs/git-rm</a>.</p>
</blockquote>
<ul>
<li>Remove file from repository index and filesystem:</li>
</ul>
<p><code>git rm {{file}}</code></p>
<ul>
<li>Remove directory:</li>
</ul>
<p><code>git rm -r {{directory}}</code></p>
<ul>
<li>Remove file from repository index but keep it untouched locally:</li>
</ul>
<p><code>git rm --cached {{file}}</code></p>
