<h1 id="git-format-patch">git format-patch</h1>
<blockquote>
<p>Prepare .patch files. Useful when emailing commits elsewhere. See also <code>git am</code>, which can apply generated .patch files. More information: <a href="https://git-scm.com/docs/git-format-patch" class="uri">https://git-scm.com/docs/git-format-patch</a>.</p>
</blockquote>
<ul>
<li>Create an auto-named .patch file for all the unpushed commits:</li>
</ul>
<p><code>git format-patch {{origin}}</code></p>
<ul>
<li>Write a .patch file for all the commits between 2 revisions to <code>stdout</code>:</li>
</ul>
<p><code>git format-patch {{revision_1}}..{{revision_2}}</code></p>
<ul>
<li>Write a .patch file for the 3 latest commits:</li>
</ul>
<p><code>git format-patch -{{3}}</code></p>
