<h1 id="git-commit">git commit</h1>
<blockquote>
<p>Commit files to the repository. More information: <a href="https://git-scm.com/docs/git-commit" class="uri">https://git-scm.com/docs/git-commit</a>.</p>
</blockquote>
<ul>
<li>Commit staged files to the repository with a message:</li>
</ul>
<p><code>git commit -m {{message}}</code></p>
<ul>
<li>Auto stage all modified files and commit with a message:</li>
</ul>
<p><code>git commit -a -m {{message}}</code></p>
<ul>
<li>Replace the last commit with currently staged changes:</li>
</ul>
<p><code>git commit --amend</code></p>
<ul>
<li>Commit only specific (already staged) files:</li>
</ul>
<p><code>git commit {{path/to/my/file1}} {{path/to/my/file2}}</code></p>
