<h1 id="git-reflog">git reflog</h1>
<blockquote>
<p>Show a log of changes to local references like HEAD, branches or tags. More information: <a href="https://git-scm.com/docs/git-reflog" class="uri">https://git-scm.com/docs/git-reflog</a>.</p>
</blockquote>
<ul>
<li>Show the reflog for HEAD:</li>
</ul>
<p><code>git reflog</code></p>
<ul>
<li>Show the reflog for a given branch:</li>
</ul>
<p><code>git reflog {{branch_name}}</code></p>
<ul>
<li>Show only the 5 latest entries in the reflog:</li>
</ul>
<p><code>git reflog -n {{5}}</code></p>
