<h1 id="git-shortlog">git shortlog</h1>
<blockquote>
<p>Summarizes the <code>git log</code> output. More information: <a href="https://git-scm.com/docs/git-shortlog" class="uri">https://git-scm.com/docs/git-shortlog</a>.</p>
</blockquote>
<ul>
<li>View a summary of all the commits made, grouped alphabetically by author name:</li>
</ul>
<p><code>git shortlog</code></p>
<ul>
<li>View a summary of all the commits made, sorted by the number of commits made:</li>
</ul>
<p><code>git shortlog -n</code></p>
<ul>
<li>View a summary of all the commits made, grouped by the commiter identities (name and email):</li>
</ul>
<p><code>git shortlog -c</code></p>
<ul>
<li>View a summary of the last 5 commits (i.e. specify a revision range):</li>
</ul>
<p><code>git shortlog HEAD~{{5}}..HEAD</code></p>
<ul>
<li>View all users, emails and the number of commits in the current branch:</li>
</ul>
<p><code>git shortlog -sne</code></p>
<ul>
<li>View all users, emails and the number of commits in all branches:</li>
</ul>
<p><code>git shortlog -sne --all</code></p>
