<h1 id="git-revert">git revert</h1>
<blockquote>
<p>Create new commits which reverse the effect of earlier ones. More information: <a href="https://git-scm.com/docs/git-revert" class="uri">https://git-scm.com/docs/git-revert</a>.</p>
</blockquote>
<ul>
<li>Revert the most recent commit:</li>
</ul>
<p><code>git revert {{@}}</code></p>
<ul>
<li>Revert the 5th last commit:</li>
</ul>
<p><code>git revert HEAD~{{4}}</code></p>
<ul>
<li>Revert multiple commits:</li>
</ul>
<p><code>git revert {{master~5..master~2}}</code></p>
<ul>
<li>Don’t create new commits, just change the working tree:</li>
</ul>
<p><code>git revert -n {{0c01a9..9a1743}}</code></p>
