<h1 id="git-mv">git mv</h1>
<blockquote>
<p>Move or rename files and update the git index. More information: <a href="https://git-scm.com/docs/git-mv" class="uri">https://git-scm.com/docs/git-mv</a>.</p>
</blockquote>
<ul>
<li>Move file inside the repo and add the movement to the next commit:</li>
</ul>
<p><code>git mv {{path/to/file}} {{new/path/to/file}}</code></p>
<ul>
<li>Rename file and add renaming to the next commit:</li>
</ul>
<p><code>git mv {{filename}} {{new_filename}}</code></p>
<ul>
<li>Overwrite the file in the target path if it exists:</li>
</ul>
<p><code>git mv --force {{file}} {{target}}</code></p>
