<h1 id="git-clone">git clone</h1>
<blockquote>
<p>Clone an existing repository. More information: <a href="https://git-scm.com/docs/git-clone" class="uri">https://git-scm.com/docs/git-clone</a>.</p>
</blockquote>
<ul>
<li>Clone an existing repository:</li>
</ul>
<p><code>git clone {{remote_repository_location}}</code></p>
<ul>
<li>Clone an existing repository and its submodules:</li>
</ul>
<p><code>git clone --recursive {{remote_repository_location}}</code></p>
<ul>
<li>Clone a local repository:</li>
</ul>
<p><code>git clone -l {{path/to/local/repository}}</code></p>
<ul>
<li>Clone quietly:</li>
</ul>
<p><code>git clone -q {{remote_repository_location}}</code></p>
<ul>
<li>Clone an existing repository only fetching the 10 most recent commits on the default branch (useful to save time):</li>
</ul>
<p><code>git clone --depth {{10}} {{remote_repository_location}}</code></p>
