<h1 id="git-restore">git restore</h1>
<blockquote>
<p>Restore working tree files. Requires git version 2.23+. See also <code>git checkout</code>. More information: <a href="https://git-scm.com/docs/git-restore/" class="uri">https://git-scm.com/docs/git-restore/</a>.</p>
</blockquote>
<ul>
<li>Restore a deleted file from the contents of the current commit (HEAD):</li>
</ul>
<p><code>git restore {{path/to/file}}</code></p>
<ul>
<li>Restore a file to a version from a different commit:</li>
</ul>
<p><code>git restore --source {{commit}} {{path/to/file}}</code></p>
<ul>
<li>Undo any uncommitted changes to tracked files, reverting to the current HEAD:</li>
</ul>
<p><code>git restore .</code></p>
