<h1 id="git-tag">git tag</h1>
<blockquote>
<p>Create, list, delete or verify tags. A tag is a static reference to a specific commit. More information: <a href="https://git-scm.com/docs/git-tag" class="uri">https://git-scm.com/docs/git-tag</a>.</p>
</blockquote>
<ul>
<li>List all tags:</li>
</ul>
<p><code>git tag</code></p>
<ul>
<li>Create a tag with the given name pointing to the current commit:</li>
</ul>
<p><code>git tag {{tag_name}}</code></p>
<ul>
<li>Create a tag with the given name pointing to a given commit:</li>
</ul>
<p><code>git tag {{tag_name}} {{commit}}</code></p>
<ul>
<li>Create an annotated tag with the given message:</li>
</ul>
<p><code>git tag {{tag_name}} -m {{tag_message}}</code></p>
<ul>
<li>Delete the tag with the given name:</li>
</ul>
<p><code>git tag -d {{tag_name}}</code></p>
<ul>
<li>Get updated tags from upstream:</li>
</ul>
<p><code>git fetch --tags</code></p>
<ul>
<li>List all tags whose ancestors include a given commit:</li>
</ul>
<p><code>git tag --contains {{commit}}</code></p>
