<h1 id="git-push">git push</h1>
<blockquote>
<p>Push commits to a remote repository. More information: <a href="https://git-scm.com/docs/git-push" class="uri">https://git-scm.com/docs/git-push</a>.</p>
</blockquote>
<ul>
<li>Send local changes in the current branch to its remote counterpart:</li>
</ul>
<p><code>git push</code></p>
<ul>
<li>Send local changes in a given branch to its remote counterpart:</li>
</ul>
<p><code>git push {{remote_name}} {{local_branch}}</code></p>
<ul>
<li>Publish the current branch to a remote repository, setting the remote branch name:</li>
</ul>
<p><code>git push {{remote_name}} -u {{remote_branch}}</code></p>
<ul>
<li>Send changes on all local branches to their counterparts in a given remote repository:</li>
</ul>
<p><code>git push --all {{remote_name}}</code></p>
<ul>
<li>Delete a branch in a remote repository:</li>
</ul>
<p><code>git push {{remote_name}} --delete {{remote_branch}}</code></p>
<ul>
<li>Remove remote branches that don’t have a local counterpart:</li>
</ul>
<p><code>git push --prune {{remote_name}}</code></p>
<ul>
<li>Publish tags that aren’t yet in the remote repository:</li>
</ul>
<p><code>git push --tags</code></p>
