<h1 id="git-bisect">git bisect</h1>
<blockquote>
<p>Use binary search to find the commit that introduced a bug. Git automatically jumps back and forth in the commit graph to progressively narrow down the faulty commit. More information: <a href="https://git-scm.com/docs/git-bisect" class="uri">https://git-scm.com/docs/git-bisect</a>.</p>
</blockquote>
<ul>
<li>Start a bisect session on a commit range bounded by a known buggy commit, and a known clean (typically older) one:</li>
</ul>
<p><code>git bisect start {{bad_commit}} {{good_commit}}</code></p>
<ul>
<li>For each commit that <code>git bisect</code> selects, mark it as “bad” or “good” after testing it for the issue:</li>
</ul>
<p><code>git bisect {{good|bad}}</code></p>
<ul>
<li>After <code>git bisect</code> pinpoints the faulty commit, end the bisect session and return to the previous branch:</li>
</ul>
<p><code>git bisect reset</code></p>
<ul>
<li>Skip a commit during a bisect (e.g. one that fails the tests due to a different issue):</li>
</ul>
<p><code>git bisect skip</code></p>
