<h1 id="git-pull">git pull</h1>
<blockquote>
<p>Fetch branch from a remote repository and merge it to local repository. More information: <a href="https://git-scm.com/docs/git-pull" class="uri">https://git-scm.com/docs/git-pull</a>.</p>
</blockquote>
<ul>
<li>Download changes from default remote repository and merge it:</li>
</ul>
<p><code>git pull</code></p>
<ul>
<li>Download changes from default remote repository and use fast forward:</li>
</ul>
<p><code>git pull --rebase</code></p>
<ul>
<li>Download changes from given remote repository and branch, then merge them into HEAD:</li>
</ul>
<p><code>git pull {{remote_name}} {{branch}}</code></p>
