<h1 id="git-stash">git stash</h1>
<blockquote>
<p>Stash local Git changes in a temporary area. More information: <a href="https://git-scm.com/docs/git-stash" class="uri">https://git-scm.com/docs/git-stash</a>.</p>
</blockquote>
<ul>
<li>Stash current changes, except new (untracked) files:</li>
</ul>
<p><code>git stash [push -m {{optional_stash_message}}]</code></p>
<ul>
<li>Stash current changes, including new (untracked) files:</li>
</ul>
<p><code>git stash -u</code></p>
<ul>
<li>Interactively select parts of changed files for stashing:</li>
</ul>
<p><code>git stash -p</code></p>
<ul>
<li>List all stashes (shows stash name, related branch and message):</li>
</ul>
<p><code>git stash list</code></p>
<ul>
<li>Apply a stash (default is the latest, named stash@{0}):</li>
</ul>
<p><code>git stash apply {{optional_stash_name_or_commit}}</code></p>
<ul>
<li>Apply a stash (default is stash@{0}), and remove it from the stash list if applying doesn’t cause conflicts:</li>
</ul>
<p><code>git stash pop {{optional_stash_name}}</code></p>
<ul>
<li>Drop a stash (default is stash@{0}):</li>
</ul>
<p><code>git stash drop {{optional_stash_name}}</code></p>
<ul>
<li>Drop all stashes:</li>
</ul>
<p><code>git stash clear</code></p>
