<h1 id="git-lfs">git lfs</h1>
<blockquote>
<p>Work with large files in Git repositories. More information: <a href="https://git-lfs.github.com" class="uri">https://git-lfs.github.com</a>.</p>
</blockquote>
<ul>
<li>Initialise Git LFS:</li>
</ul>
<p><code>git lfs install</code></p>
<ul>
<li>Track files that match a glob:</li>
</ul>
<p><code>git lfs track '{{*.bin}}'</code></p>
<ul>
<li>Change the Git LFS endpoint URL (useful if the LFS server is separate from the Git server):</li>
</ul>
<p><code>git config -f .lfsconfig lfs.url {{lfs_endpoint_url}}</code></p>
<ul>
<li>List tracked patterns:</li>
</ul>
<p><code>git lfs track</code></p>
<ul>
<li>List tracked files that have been commited:</li>
</ul>
<p><code>git lfs ls-files</code></p>
<ul>
<li>Push all LFS objects to the remote server (useful if errors are encountered):</li>
</ul>
<p><code>git lfs push --all {{remote_name}} {{branch_name}}</code></p>
