<h1 id="git-worktree">git worktree</h1>
<blockquote>
<p>Manage multiple working trees attached to the same repository. More information: <a href="https://git-scm.com/docs/git-worktree" class="uri">https://git-scm.com/docs/git-worktree</a>.</p>
</blockquote>
<ul>
<li>Create a new directory with the specified branch checked out into it:</li>
</ul>
<p><code>git worktree add {{path/to/directory}} {{branch}}</code></p>
<ul>
<li>Create a new directory with a new branch checked out into it:</li>
</ul>
<p><code>git worktree add {{path/to/directory}} -b {{new_branch}}</code></p>
<ul>
<li>List all the working directories attached to this repository:</li>
</ul>
<p><code>git worktree list</code></p>
<ul>
<li>Remove a worktree (after deleting worktree directory):</li>
</ul>
<p><code>git worktree prune</code></p>
