<h1 id="git-cherry-pick">git cherry-pick</h1>
<blockquote>
<p>Apply the changes introduced by existing commits to the current branch. To apply changes to another branch, first use <code>git checkout</code> to switch to the desired branch. More information: <a href="https://git-scm.com/docs/git-cherry-pick" class="uri">https://git-scm.com/docs/git-cherry-pick</a>.</p>
</blockquote>
<ul>
<li>Apply a commit to the current branch:</li>
</ul>
<p><code>git cherry-pick {{commit}}</code></p>
<ul>
<li>Apply a range of commits to the current branch (see also <code>git rebase --onto</code>):</li>
</ul>
<p><code>git cherry-pick {{start_commit}}~..{{end_commit}}</code></p>
<ul>
<li>Apply multiple (non-sequential) commits to the current branch:</li>
</ul>
<p><code>git cherry-pick {{commit_1}} {{commit_2}}</code></p>
<ul>
<li>Add the changes of a commit to the working directory, without creating a commit:</li>
</ul>
<p><code>git cherry-pick -n {{commit}}</code></p>
