<h1 id="git-fetch">git fetch</h1>
<blockquote>
<p>Download objects and refs from a remote repository. More information: <a href="https://git-scm.com/docs/git-fetch" class="uri">https://git-scm.com/docs/git-fetch</a>.</p>
</blockquote>
<ul>
<li>Fetch the latest changes from the default remote upstream repository (if set):</li>
</ul>
<p><code>git fetch</code></p>
<ul>
<li>Fetch new branches from a specific remote upstream repository:</li>
</ul>
<p><code>git fetch {{remote_name}}</code></p>
<ul>
<li>Fetch the latest changes from all remote upstream repositories:</li>
</ul>
<p><code>git fetch --all</code></p>
<ul>
<li>Also fetch tags from the remote upstream repository:</li>
</ul>
<p><code>git fetch --tags</code></p>
<ul>
<li>Delete local references to remote branches that have been deleted upstream:</li>
</ul>
<p><code>git fetch --prune</code></p>
