<h1 id="git-log">git log</h1>
<blockquote>
<p>Show a history of commits. More information: <a href="https://git-scm.com/docs/git-log" class="uri">https://git-scm.com/docs/git-log</a>.</p>
</blockquote>
<ul>
<li>Show the sequence of commits starting from the current one, in reverse chronological order:</li>
</ul>
<p><code>git log</code></p>
<ul>
<li>Show the history of a particular file or directory, including differences:</li>
</ul>
<p><code>git log -p {{path/to/file_or_directory}}</code></p>
<ul>
<li>Show only the first line of each commit message:</li>
</ul>
<p><code>git log --oneline</code></p>
<ul>
<li>Show an overview of which file(s) changed in each commit:</li>
</ul>
<p><code>git log --stat</code></p>
<ul>
<li>Show a graph of commits in the current branch:</li>
</ul>
<p><code>git log --graph</code></p>
<ul>
<li>Show a graph of all commits, tags and branches in the entire repo:</li>
</ul>
<p><code>git log --oneline --decorate --all --graph</code></p>
<ul>
<li>Show only commits whose messages include a given string (case-insensitively):</li>
</ul>
<p><code>git log -i --grep {{search_string}}</code></p>
