<h1 id="git-rebase">git rebase</h1>
<blockquote>
<p>Reapply commits from one branch on top of another branch. Commonly used to “move” an entire branch to another base, creating copies of the commits in the new location. More information: <a href="https://git-scm.com/docs/git-rebase" class="uri">https://git-scm.com/docs/git-rebase</a>.</p>
</blockquote>
<ul>
<li>Rebase the current branch on top of the master branch:</li>
</ul>
<p><code>git rebase {{master}}</code></p>
<ul>
<li>Start an interactive rebase, which allows the commits to be reordered, omitted, combined or modified:</li>
</ul>
<p><code>git rebase -i {{target_base_branch_or_commit_hash}}</code></p>
<ul>
<li>Continue a rebase that was interrupted by a merge failure, after editing conflicting files:</li>
</ul>
<p><code>git rebase --continue</code></p>
<ul>
<li>Continue a rebase that was paused due to merge conflicts, by skipping the conflicted commit:</li>
</ul>
<p><code>git rebase --skip</code></p>
<ul>
<li>Abort a rebase in progress (e.g. if it is interrupted by a merge conflict):</li>
</ul>
<p><code>git rebase --abort</code></p>
<ul>
<li>Move part of the current branch onto a new base, providing the old base to start from:</li>
</ul>
<p><code>git rebase --onto {{new_base}} {{old_base}}</code></p>
<ul>
<li>Reapply the last 5 commits in-place, stopping to allow them to be reordered, omitted, combined or modified:</li>
</ul>
<p><code>git rebase -i {{HEAD~5}}</code></p>
<ul>
<li>Auto-resolve any conflicts by favoring the working branch version (<code>theirs</code> keyword has reversed meaning in this case):</li>
</ul>
<p><code>git rebase -X theirs {{master}}</code></p>
