<h1 id="git-remote">git remote</h1>
<blockquote>
<p>Manage set of tracked repositories (“remotes”). More information: <a href="https://git-scm.com/docs/git-remote" class="uri">https://git-scm.com/docs/git-remote</a>.</p>
</blockquote>
<ul>
<li>Show a list of existing remotes, their names and URL:</li>
</ul>
<p><code>git remote -v</code></p>
<ul>
<li>Add a remote:</li>
</ul>
<p><code>git remote add {{remote_name}} {{remote_url}}</code></p>
<ul>
<li>Change the URL of a remote (use <code>--add</code> to keep the existing URL):</li>
</ul>
<p><code>git remote set-url {{remote_name}} {{new_url}}</code></p>
<ul>
<li>Remove a remote:</li>
</ul>
<p><code>git remote remove {{remote_name}}</code></p>
<ul>
<li>Rename a remote:</li>
</ul>
<p><code>git remote rename {{old_name}} {{new_name}}</code></p>
