<h1 id="git-pr">git pr</h1>
<blockquote>
<p>Check out GitHub pull requests locally.</p>
</blockquote>
<ul>
<li>Check out a specific pull request:</li>
</ul>
<p><code>git pr {{pr_number}}</code></p>
<ul>
<li>Check out a pull request for a specific remote:</li>
</ul>
<p><code>git pr {{pr_number}} {{remote}}</code></p>
<ul>
<li>Check out a pull request from its URL:</li>
</ul>
<p><code>git pr {{url}}</code></p>
<ul>
<li>Clean up old pull request branches:</li>
</ul>
<p><code>git pr clean</code></p>
