<h1 id="git-am">git am</h1>
<blockquote>
<p>Apply patch files. Useful when receiving commits via email. See also <code>git format-patch</code>, which can generate patch files. More information: <a href="https://git-scm.com/docs/git-am" class="uri">https://git-scm.com/docs/git-am</a>.</p>
</blockquote>
<ul>
<li>Apply a patch file:</li>
</ul>
<p><code>git am {{path/to/file.patch}}</code></p>
<ul>
<li>Abort the process of applying a patch file:</li>
</ul>
<p><code>git am --abort</code></p>
<ul>
<li>Apply as much of a patch file as possible, saving failed hunks to reject files:</li>
</ul>
<p><code>git am --reject {{path/to/file.patch}}</code></p>
