<h1 id="git-checkout">git checkout</h1>
<blockquote>
<p>Checkout a branch or paths to the working tree. More information: <a href="https://git-scm.com/docs/git-checkout" class="uri">https://git-scm.com/docs/git-checkout</a>.</p>
</blockquote>
<ul>
<li>Create and switch to a new branch:</li>
</ul>
<p><code>git checkout -b {{branch_name}}</code></p>
<ul>
<li>Create and switch to a new branch based on a specific reference (branch, remote/branch, tag are examples of valid references):</li>
</ul>
<p><code>git checkout -b {{branch_name}} {{reference}}</code></p>
<ul>
<li>Switch to an existing local branch:</li>
</ul>
<p><code>git checkout {{branch_name}}</code></p>
<ul>
<li>Switch to the previously checked out branch:</li>
</ul>
<p><code>git checkout -</code></p>
<ul>
<li>Switch to an existing remote branch:</li>
</ul>
<p><code>git checkout --track {{remote_name}}/{{branch_name}}</code></p>
<ul>
<li>Discard all unstaged changes in the current directory (see <code>git reset</code> for more undo-like commands):</li>
</ul>
<p><code>git checkout .</code></p>
<ul>
<li>Discard unstaged changes to a given file:</li>
</ul>
<p><code>git checkout {{file_name}}</code></p>
<ul>
<li>Replace a file in the current directory with the version of it committed in a given branch:</li>
</ul>
<p><code>git checkout {{branch_name}} -- {{file_name}}</code></p>
