<h1 id="git-imerge">git-imerge</h1>
<blockquote>
<p>Perform a merge or rebase between two git branches incrementally. Conflicts between branches are tracked down to pairs of individual commits, to simplify conflict resolution. More information: <a href="https://github.com/mhagger/git-imerge" class="uri">https://github.com/mhagger/git-imerge</a>.</p>
</blockquote>
<ul>
<li>Start imerge-based rebase (checkout the branch to be rebased, first):</li>
</ul>
<p><code>git imerge rebase {{branch_to_rebase_onto}}</code></p>
<ul>
<li>Start imerge-based merge (checkout the branch to merge into, first):</li>
</ul>
<p><code>git imerge merge {{branch_to_be_merged}}</code></p>
<ul>
<li>Show ASCII diagram of in-progress merge or rebase:</li>
</ul>
<p><code>git imerge diagram</code></p>
<ul>
<li>Continue imerge operation after resolving conflicts (<code>git add</code> the conflicted files, first):</li>
</ul>
<p><code>git imerge continue --no-edit</code></p>
<ul>
<li>Wrap up imerge operation, after all conflicts are resolved:</li>
</ul>
<p><code>git imerge finish</code></p>
<ul>
<li>Abort imerge operation, and return to the previous branch:</li>
</ul>
<p><code>git-imerge remove &amp;&amp; git checkout {{previous_branch}}</code></p>
