<h1 id="git-submodule">git submodule</h1>
<blockquote>
<p>Inspects, updates and manages submodules. More information: <a href="https://git-scm.com/docs/git-submodule" class="uri">https://git-scm.com/docs/git-submodule</a>.</p>
</blockquote>
<ul>
<li>Install a repository’s specified submodules:</li>
</ul>
<p><code>git submodule update --init --recursive</code></p>
<ul>
<li>Add a git repository as a submodule:</li>
</ul>
<p><code>git submodule add {{repository_url}}</code></p>
<ul>
<li>Add a git repository as a submodule at the specified directory:</li>
</ul>
<p><code>git submodule add {{repository_url}} {{path/to/directory}}</code></p>
<ul>
<li>Update every submodule to its latest commit:</li>
</ul>
<p><code>git submodule foreach git pull</code></p>
