<h1 id="git-show">git show</h1>
<blockquote>
<p>Show various types of git objects (commits, tags, etc.). More information: <a href="https://git-scm.com/docs/git-show" class="uri">https://git-scm.com/docs/git-show</a>.</p>
</blockquote>
<ul>
<li>Show information about the latest commit (message, changes, and other metadata):</li>
</ul>
<p><code>git show</code></p>
<ul>
<li>Show information about a given commit:</li>
</ul>
<p><code>git show {{commit}}</code></p>
<ul>
<li>Show information about the commit associated with a given tag:</li>
</ul>
<p><code>git show {{tag}}</code></p>
<ul>
<li>Show information about the 3rd commit from the tip of a branch:</li>
</ul>
<p><code>git show {{branch}}~{{3}}</code></p>
<ul>
<li>Show a commit’s hash and message in a single line, suppressing the diff output:</li>
</ul>
<p><code>git show --oneline -s {{commit}}</code></p>
