<h1 id="git-add">git add</h1>
<blockquote>
<p>Adds changed files to the index. More information: <a href="https://git-scm.com/docs/git-add" class="uri">https://git-scm.com/docs/git-add</a>.</p>
</blockquote>
<ul>
<li>Add a file to the index:</li>
</ul>
<p><code>git add {{path/to/file}}</code></p>
<ul>
<li>Add all files (tracked and untracked):</li>
</ul>
<p><code>git add -A</code></p>
<ul>
<li>Only add already tracked files:</li>
</ul>
<p><code>git add -u</code></p>
<ul>
<li>Also add ignored files:</li>
</ul>
<p><code>git add -f</code></p>
<ul>
<li>Add parts of a file interactively:</li>
</ul>
<p><code>git add -p {{path/to/file}}</code></p>
