<h1 id="git-svn">git svn</h1>
<blockquote>
<p>Bidirectional operation between a Subversion repository and Git. More information: <a href="https://git-scm.com/docs/git-svn" class="uri">https://git-scm.com/docs/git-svn</a>.</p>
</blockquote>
<ul>
<li>Clone an SVN repository:</li>
</ul>
<p><code>git svn clone {{https://example.com/subversion_repo}} {{local_dir}}</code></p>
<ul>
<li>Clone a SVN repository starting at a given revision number:</li>
</ul>
<p><code>git svn clone -r{{1234}}:HEAD {{https://svn.example.net/subversion/repo}} {{local_dir}}</code></p>
<ul>
<li>Update local clone from the remote SVN repository:</li>
</ul>
<p><code>git svn rebase</code></p>
<ul>
<li>Fetch updates from the remote SVN repository without changing the git HEAD:</li>
</ul>
<p><code>git svn fetch</code></p>
<ul>
<li>Commit back to the SVN repository:</li>
</ul>
<p><code>git svn dcommit</code></p>
