<h1 id="git-blame">git blame</h1>
<blockquote>
<p>Show commit hash and last author on each line of a file. More information: <a href="https://git-scm.com/docs/git-blame" class="uri">https://git-scm.com/docs/git-blame</a>.</p>
</blockquote>
<ul>
<li>Print file with author name and commit hash on each line:</li>
</ul>
<p><code>git blame {{file}}</code></p>
<ul>
<li>Print file with author email and commit hash on each line:</li>
</ul>
<p><code>git blame -e {{file}}</code></p>
