<h1 id="git-branch">git branch</h1>
<blockquote>
<p>Main git command for working with branches. More information: <a href="https://git-scm.com/docs/git-branch" class="uri">https://git-scm.com/docs/git-branch</a>.</p>
</blockquote>
<ul>
<li>List local branches. The current branch is highlighted by <code>*</code>:</li>
</ul>
<p><code>git branch</code></p>
<ul>
<li>List all branches (local and remote):</li>
</ul>
<p><code>git branch -a</code></p>
<ul>
<li>Create new branch based on the current commit:</li>
</ul>
<p><code>git branch {{branch_name}}</code></p>
<ul>
<li>Create new branch based on a specific commit:</li>
</ul>
<p><code>git branch {{branch_name}} {{commit_hash}}</code></p>
<ul>
<li>Rename a branch (must not have it checked out to do this):</li>
</ul>
<p><code>git branch -m {{old_branch_name}} {{new_branch_name}}</code></p>
<ul>
<li>Delete a local branch (must not have it checked out to do this):</li>
</ul>
<p><code>git branch -d {{branch_name}}</code></p>
