<h1 id="git-switch">git switch</h1>
<blockquote>
<p>Switch between git branches. Requires git version 2.23+. See also <code>git checkout</code>. More information: <a href="https://git-scm.com/docs/git-switch/" class="uri">https://git-scm.com/docs/git-switch/</a>.</p>
</blockquote>
<ul>
<li>Switch to an existing branch:</li>
</ul>
<p><code>git switch {{branch_name}}</code></p>
<ul>
<li>Create a new branch and switch to it:</li>
</ul>
<p><code>git switch --create {{branch_name}}</code></p>
<ul>
<li>Create a new branch based on an existing commit and switch to it:</li>
</ul>
<p><code>git switch --create {{branch_name}} {{commit}}</code></p>
<ul>
<li>Switch to a branch and update all submodules to match:</li>
</ul>
<p><code>git switch --recurse-submodules {{branch_name}}</code></p>
<ul>
<li>Switch to a branch and automatically merge the current branch and any uncommitted changes into it:</li>
</ul>
<p><code>git switch --merge {{branch_name}}</code></p>
