<h1 id="git-diff">git diff</h1>
<blockquote>
<p>Show changes to tracked files. More information: <a href="https://git-scm.com/docs/git-diff" class="uri">https://git-scm.com/docs/git-diff</a>.</p>
</blockquote>
<ul>
<li>Show unstaged, uncommitted changes:</li>
</ul>
<p><code>git diff</code></p>
<ul>
<li>Show all uncommitted changes (including staged ones):</li>
</ul>
<p><code>git diff HEAD</code></p>
<ul>
<li>Show only staged (added, but not yet committed) changes:</li>
</ul>
<p><code>git diff --staged</code></p>
<ul>
<li>Show changes from all commits since a given date/time (a date expression, e.g. “1 week 2 days” or an ISO date):</li>
</ul>
<p><code>git diff 'HEAD@{3 months|weeks|days|hours|seconds ago}'</code></p>
<ul>
<li>Show only names of changed files since a given commit:</li>
</ul>
<p><code>git diff --name-only {{commit}}</code></p>
<ul>
<li>Output a summary of file creations, renames and mode changes since a given commit:</li>
</ul>
<p><code>git diff --summary {{commit}}</code></p>
<ul>
<li>Create a patch file:</li>
</ul>
<p><code>git diff &gt; {{target_file}}.patch</code></p>
<ul>
<li>Compare a single file between two branches or commits:</li>
</ul>
<p><code>git diff {{branch_1}}..{{branch_2}} [--] {{path/to/file}}</code></p>
<ul>
<li>Compare different files from the current branch to other branch:</li>
</ul>
<p><code>git diff {{branch}}:{{path/to/file2}} {{path/to/file}}</code></p>
