<h1 id="git-merge">git merge</h1>
<blockquote>
<p>Merge branches. More information: <a href="https://git-scm.com/docs/git-merge" class="uri">https://git-scm.com/docs/git-merge</a>.</p>
</blockquote>
<ul>
<li>Merge a branch with your current branch:</li>
</ul>
<p><code>git merge {{branch_name}}</code></p>
<ul>
<li>Edit the merge message:</li>
</ul>
<p><code>git merge -e {{branch_name}}</code></p>
<ul>
<li>Merge a branch and create a merge commit:</li>
</ul>
<p><code>git merge --no-ff {{branch_name}}</code></p>
<ul>
<li>Abort a merge in case of conflicts:</li>
</ul>
<p><code>git merge --abort</code></p>
