<h1 id="git-check-ignore">git check-ignore</h1>
<blockquote>
<p>Analyse and debug Git ignore / exclude (“.gitignore”) files. More information: <a href="https://git-scm.com/docs/git-check-ignore" class="uri">https://git-scm.com/docs/git-check-ignore</a>.</p>
</blockquote>
<ul>
<li>Check whether a file or directory is ignored:</li>
</ul>
<p><code>git check-ignore {{path/to/file_or_directory}}</code></p>
<ul>
<li>Check whether multiple files or directories are ignored:</li>
</ul>
<p><code>git check-ignore {{path/to/file}} {{path/to/directory}}</code></p>
<ul>
<li>Use pathnames, one per line, from <code>stdin</code>:</li>
</ul>
<p><code>git check-ignore --stdin &lt; {{path/to/file_list}}</code></p>
<ul>
<li>Do not check the index (used to debug why paths were tracked and not ignored):</li>
</ul>
<p><code>git check-ignore --no-index {{path/to/files_or_directories}}</code></p>
<ul>
<li>Include details about the matching pattern for each path:</li>
</ul>
<p><code>git check-ignore --verbose {{path/to/files_or_directories}}</code></p>
