<h1 id="git-grep">git-grep</h1>
<blockquote>
<p>Find strings inside files anywhere in a repository’s history. Accepts a lot of the same flags as regular <code>grep</code>. More information: <a href="https://git-scm.com/docs/git-grep" class="uri">https://git-scm.com/docs/git-grep</a>.</p>
</blockquote>
<ul>
<li>Search for a string in tracked files:</li>
</ul>
<p><code>git grep {{search_string}}</code></p>
<ul>
<li>Search for a string in files matching a pattern in tracked files:</li>
</ul>
<p><code>git grep {{search_string}} -- {{file_glob_pattern}}</code></p>
<ul>
<li>Search for a string in tracked files, including submodules:</li>
</ul>
<p><code>git grep --recurse-submodules {{search_string}}</code></p>
<ul>
<li>Search for a string at a specific point in history:</li>
</ul>
<p><code>git grep {{search_string}} {{HEAD~2}}</code></p>
<ul>
<li>Search for a string across all branches:</li>
</ul>
<p><code>git grep {{search_string}} $(git rev-list --all)</code></p>
