<h1 id="git-reset">git reset</h1>
<blockquote>
<p>Undo commits or unstage changes, by resetting the current git HEAD to the specified state. If a path is passed, it works as “unstage”; if a commit hash or branch is passed, it works as “uncommit”. More information: <a href="https://git-scm.com/docs/git-reset" class="uri">https://git-scm.com/docs/git-reset</a>.</p>
</blockquote>
<ul>
<li>Unstage everything:</li>
</ul>
<p><code>git reset</code></p>
<ul>
<li>Unstage specific file(s):</li>
</ul>
<p><code>git reset {{path/to/file(s)}}</code></p>
<ul>
<li>Unstage portions of a file:</li>
</ul>
<p><code>git reset -p {{path/to/file}}</code></p>
<ul>
<li>Undo the last commit, keeping its changes (and any further uncommitted changes) in the filesystem:</li>
</ul>
<p><code>git reset HEAD~</code></p>
<ul>
<li>Undo the last two commits, adding their changes to the index, i.e. staged for commit:</li>
</ul>
<p><code>git reset --soft HEAD~2</code></p>
<ul>
<li>Discard any uncommitted changes, staged or not (for only unstaged changes, use <code>git checkout</code>):</li>
</ul>
<p><code>git reset --hard</code></p>
<ul>
<li>Reset the repository to a given commit, discarding committed, staged and uncommitted changes since then:</li>
</ul>
<p><code>git reset --hard {{commit}}</code></p>
