<h1 id="git">git</h1>
<blockquote>
<p>Distributed version control system. More information: <a href="https://git-scm.com/" class="uri">https://git-scm.com/</a>.</p>
</blockquote>
<ul>
<li>Check the Git version:</li>
</ul>
<p><code>git --version</code></p>
<ul>
<li>Call general help:</li>
</ul>
<p><code>git --help</code></p>
<ul>
<li>Call help on a command:</li>
</ul>
<p><code>git help {{command}}</code></p>
<ul>
<li>Execute Git command:</li>
</ul>
<p><code>git {{command}}</code></p>
