<h1 id="github-label-sync">github-label-sync</h1>
<blockquote>
<p>A command line interface for synchronising GitHub labels. More information: <a href="https://npmjs.com/package/github-label-sync" class="uri">https://npmjs.com/package/github-label-sync</a>.</p>
</blockquote>
<ul>
<li>Synchronise labels using a local <code>labels.json</code> file:</li>
</ul>
<p><code>github-label-sync --access-token {{token}} {{repository_name}}</code></p>
<ul>
<li>Synchronise labels using a specific labels JSON file:</li>
</ul>
<p><code>github-label-sync --access-token {{token}} --labels {{url|path/to/json_file}} {{repository_name}}</code></p>
<ul>
<li>Perform a dry run instead of actually synchronising labels:</li>
</ul>
<p><code>github-label-sync --access-token {{token}} --dry-run {{repository_name}}</code></p>
<ul>
<li>Keep labels that aren’t in <code>labels.json</code>:</li>
</ul>
<p><code>github-label-sync --access-token {{token}} --allow-added-labels {{repository_name}}</code></p>
<ul>
<li>Synchronise using the <code>GITHUB_ACCESS_TOKEN</code> environment variable:</li>
</ul>
<p><code>github-label-sync {{repository_name}}</code></p>
