<h1 id="gitk">gitk</h1>
<blockquote>
<p>A graphical git repository browser. More information: <a href="https://git-scm.com/docs/gitk" class="uri">https://git-scm.com/docs/gitk</a>.</p>
</blockquote>
<ul>
<li>Show the repository browser for the current git repository:</li>
</ul>
<p><code>gitk</code></p>
<ul>
<li>Show repository browser for a specific file or directory:</li>
</ul>
<p><code>gitk {{path/to/file_or_directory}}</code></p>
<ul>
<li>Show commits made since 1 week ago:</li>
</ul>
<p><code>gitk --since={{"1 week ago"}}</code></p>
<ul>
<li>Show commits older than 1/1/2016:</li>
</ul>
<p><code>gitk --until={{"1/1/2015"}}</code></p>
<ul>
<li>Show at most 100 changes in all branches:</li>
</ul>
<p><code>gitk --max-count={{100}} --all</code></p>
