<h1 id="gitlab">gitlab</h1>
<blockquote>
<p>Ruby wrapper and CLI for the GitLab API. More information: <a href="https://narkoz.github.io/gitlab/" class="uri">https://narkoz.github.io/gitlab/</a>.</p>
</blockquote>
<ul>
<li>Create a new project:</li>
</ul>
<p><code>gitlab create_project {{project_name}}</code></p>
<ul>
<li>Get info about a specific commit:</li>
</ul>
<p><code>gitlab commit {{project_name}} {{commit_hash}}</code></p>
<ul>
<li>Get info about jobs in a CI pipeline:</li>
</ul>
<p><code>gitlab pipeline_jobs {{project_name}} {{pipeline_id}}</code></p>
<ul>
<li>Start a specific CI job:</li>
</ul>
<p><code>gitlab job_play {{project_name}} {{job_id}}</code></p>
