<h1 id="gitsome">gitsome</h1>
<blockquote>
<p>A terminal-based interface for GitHub, accessed via the <code>gh</code> command. It also provides menu-style autocomplete suggestions for <code>git</code> commands. More information: <a href="https://github.com/donnemartin/gitsome" class="uri">https://github.com/donnemartin/gitsome</a>.</p>
</blockquote>
<ul>
<li>Enter the gitsome shell (optional), to enable autocompletion and interactive help for git (and gh) commands:</li>
</ul>
<p><code>gitsome</code></p>
<ul>
<li>Setup GitHub integration with the current account:</li>
</ul>
<p><code>gh configure</code></p>
<ul>
<li>List notifications for the current account (as would be seen in https://github.com/notifications):</li>
</ul>
<p><code>gh notifications</code></p>
<ul>
<li>List the current account’s starred repos, filtered by a given search string:</li>
</ul>
<p><code>gh starred "{{python 3}}"</code></p>
<ul>
<li>View the recent activity feed of a given GitHub repository:</li>
</ul>
<p><code>gh feed {{tldr-pages/tldr}}</code></p>
<ul>
<li>View the recent activity feed for a given GitHub user, using the default pager (e.g. <code>less</code>):</li>
</ul>
<p><code>gh feed {{torvalds}} -p</code></p>
