<h1 id="gixy">gixy</h1>
<blockquote>
<p>Analyze nginx configuration files. More information: <a href="https://github.com/yandex/gixy" class="uri">https://github.com/yandex/gixy</a>.</p>
</blockquote>
<ul>
<li>Analyze nginx configuration (default path: /etc/nginx/nginx.conf):</li>
</ul>
<p><code>gixy</code></p>
<ul>
<li>Analyze nginx configuration but skip specific tests:</li>
</ul>
<p><code>gixy --skips {{http_splitting}}</code></p>
<ul>
<li>Analyze nginx configuration with the specific severity level:</li>
</ul>
<p><code>gixy {{-l|-ll|-lll}}</code></p>
<ul>
<li>Analyze nginx configuration files on the specific path:</li>
</ul>
<p><code>gixy {{path/to/configuration_file_1}} {{path/to/configuration_file_2}}</code></p>
