<h1 id="glances">glances</h1>
<blockquote>
<p>A cross-platform system monitoring tool. More information: <a href="https://nicolargo.github.io/glances/" class="uri">https://nicolargo.github.io/glances/</a>.</p>
</blockquote>
<ul>
<li>Run in terminal:</li>
</ul>
<p><code>glances</code></p>
<ul>
<li>Run in web server mode to show results in browser:</li>
</ul>
<p><code>glances -w</code></p>
<ul>
<li>Run in server mode to allow connections from other Glances clients:</li>
</ul>
<p><code>glances -s</code></p>
<ul>
<li>Connect to a Glances server:</li>
</ul>
<p><code>glances -c {{hostname}}</code></p>
<ul>
<li>Require a password in (web) server mode:</li>
</ul>
<p><code>glances -s --password</code></p>
