<h1 id="glib-compile-resources">glib-compile-resources</h1>
<blockquote>
<p>Compiles resource files (e.g. images) into a binary resource bundle. These may be linked into GTK applications using the GResource API.</p>
</blockquote>
<ul>
<li>Compile resources referenced in “file.gresource.xml” to a .gresource binary:</li>
</ul>
<p><code>glib-compile-resources {{file.gresource.xml}}</code></p>
<ul>
<li>Compile resources referenced in “file.gresource.xml” to a C source file:</li>
</ul>
<p><code>glib-compile-resources --generate-source {{file.gresource.xml}}</code></p>
<ul>
<li>Compile resources in “file.gresource.xml” to a chosen target file, with .c, .h or .gresource extension:</li>
</ul>
<p><code>glib-compile-resources --generate --target={{file.ext}} {{file.gresource.xml}}</code></p>
<ul>
<li>Print a list of resource files referenced in “file.gresource.xml”:</li>
</ul>
<p><code>glib-compile-resources --generate-dependencies {{file.gresource.xml}}</code></p>
