<h1 id="gnomon">gnomon</h1>
<blockquote>
<p>Utility to annotate console logging statements with timestamps and find slow processes. More information: <a href="https://github.com/paypal/gnomon" class="uri">https://github.com/paypal/gnomon</a>.</p>
</blockquote>
<ul>
<li>Use UNIX (or DOS) pipes to pipe the <code>stdout</code> of any command through gnomon:</li>
</ul>
<p><code>{{npm test}} | gnomon</code></p>
<ul>
<li>Show number of seconds since the start of the process:</li>
</ul>
<p><code>{{npm test}} | gnomon --type=elapsed-total</code></p>
<ul>
<li>Show an absolute timestamp in UTC:</li>
</ul>
<p><code>{{npm test}} | gnomon --type=absolute</code></p>
<ul>
<li>Set a high threshold of 0.5 seconds for the elapsed time; exceeding which the timestamp will be colored bright red:</li>
</ul>
<p><code>{{npm test}} | gnomon --high {{0.5}}</code></p>
<ul>
<li>Set a medium threshold of 0.2 seconds (Timestamp will be colored bright yellow):</li>
</ul>
<p><code>{{npm test}} | gnomon --medium {{0.2}}</code></p>
