<h1 id="gnuplot">gnuplot</h1>
<blockquote>
<p>A graph plotter that outputs in several formats. More information: <a href="http://www.gnuplot.info/" class="uri">http://www.gnuplot.info/</a>.</p>
</blockquote>
<ul>
<li>Start the interactive graph plotting shell:</li>
</ul>
<p><code>gnuplot</code></p>
<ul>
<li>Plot the graph for the specified graph definition file:</li>
</ul>
<p><code>gnuplot {{path/to/definition.plt}}</code></p>
<ul>
<li>Set the output format by executing a command before loading the definition file:</li>
</ul>
<p><code>gnuplot -e "{{set output "path/to/filename.png" size 1024,768}}" {{path/to/definition.plt}}</code></p>
<ul>
<li>Persist the graph plot preview window after gnuplot exits:</li>
</ul>
<p><code>gnuplot --persist {{path/to/definition.plt}}</code></p>
