<h1 id="go">go</h1>
<blockquote>
<p>Tool for managing go source code. More information: <a href="https://golang.org" class="uri">https://golang.org</a>.</p>
</blockquote>
<ul>
<li>Download and install a package, specified by its import path:</li>
</ul>
<p><code>go get {{package_path}}</code></p>
<ul>
<li>Compile and run a source file (it has to contain a <code>main</code> package):</li>
</ul>
<p><code>go run {{file}}.go</code></p>
<ul>
<li>Compile a source file into a named executable:</li>
</ul>
<p><code>go build -o {{executable}} {{file}}.go</code></p>
<ul>
<li>Compile the package present in the current directory:</li>
</ul>
<p><code>go build</code></p>
<ul>
<li>Execute all test cases of the current package (files have to end with <code>_test.go</code>):</li>
</ul>
<p><code>go test</code></p>
<ul>
<li>Compile and install the current package:</li>
</ul>
<p><code>go install</code></p>
