<h1 id="gocryptfs">gocryptfs</h1>
<blockquote>
<p>Encrypted overlay filesystem written in Go. More information: <a href="https://github.com/rfjakob/gocryptfs" class="uri">https://github.com/rfjakob/gocryptfs</a>.</p>
</blockquote>
<ul>
<li>Initialize an encrypted filesystem:</li>
</ul>
<p><code>gocryptfs -init {{path/to/cipher_dir}}</code></p>
<ul>
<li>Mount an encrypted filesystem:</li>
</ul>
<p><code>gocryptfs {{path/to/cipher_dir}} {{path/to/mount_point}}</code></p>
<ul>
<li>Mount with the explicit master key instead of password:</li>
</ul>
<p><code>gocryptfs --masterkey {{path/to/cipher_dir}} {{path/to/mount_point}}</code></p>
<ul>
<li>Change the password:</li>
</ul>
<p><code>gocryptfs --passwd {{path/to/cipher_dir}}</code></p>
<ul>
<li>Make an encrypted snapshot of a plain directory:</li>
</ul>
<p><code>gocryptfs --reverse {{path/to/plain_dir}} {{path/to/cipher_dir}}</code></p>
