<h1 id="godot">godot</h1>
<blockquote>
<p>An open source 2D and 3D game engine. More information: <a href="https://godotengine.org/" class="uri">https://godotengine.org/</a>.</p>
</blockquote>
<ul>
<li>Run a project if the current directory contains a <code>project.godot</code> file, otherwise open the project manager:</li>
</ul>
<p><code>godot</code></p>
<ul>
<li>Edit a project (the current directory must contain a <code>project.godot</code> file):</li>
</ul>
<p><code>godot -e</code></p>
<ul>
<li>Open the project manager even if the current directory contains a <code>project.godot</code> file:</li>
</ul>
<p><code>godot -p</code></p>
<ul>
<li>Export a project for a given target (the target must be defined in the project):</li>
</ul>
<p><code>godot --export {{target}}</code></p>
<ul>
<li>Execute a standalone GDScript file:</li>
</ul>
<p><code>godot -s {{script.gd}}</code></p>
