<h1 id="gofmt">gofmt</h1>
<blockquote>
<p>Tool for formatting Go source code. More information: <a href="https://golang.org/cmd/gofmt/" class="uri">https://golang.org/cmd/gofmt/</a>.</p>
</blockquote>
<ul>
<li>Format a file and display the result to the console:</li>
</ul>
<p><code>gofmt {{source.go}}</code></p>
<ul>
<li>Format a file, overwriting the original file in-place:</li>
</ul>
<p><code>gofmt -w {{source.go}}</code></p>
<ul>
<li>Format a file, and then simplify the code, overwriting the original file:</li>
</ul>
<p><code>gofmt -s -w {{source.go}}</code></p>
<ul>
<li>Print all (including spurious) errors:</li>
</ul>
<p><code>gofmt -e {{source.go}}</code></p>
