<h1 id="googler">googler</h1>
<blockquote>
<p>Search Google from command line. More information: <a href="https://github.com/jarun/googler" class="uri">https://github.com/jarun/googler</a>.</p>
</blockquote>
<ul>
<li>Search Google for a keyword:</li>
</ul>
<p><code>googler {{keyword}}</code></p>
<ul>
<li>Search Google and open the first result in web browser:</li>
</ul>
<p><code>googler -j {{keyword}}</code></p>
<ul>
<li>Show N search results (default 10):</li>
</ul>
<p><code>googler -n {{N}} {{keyword}}</code></p>
<ul>
<li>Disable automatic spelling correction:</li>
</ul>
<p><code>googler -x {{keyword}}</code></p>
<ul>
<li>Search one site for a keyword:</li>
</ul>
<p><code>googler -w {{site}} {{keyword}}</code></p>
<ul>
<li>Show Google search result in JSON format:</li>
</ul>
<p><code>googler --json {{keyword}}</code></p>
<ul>
<li>Perform in-place self-upgrade:</li>
</ul>
<p><code>googler -u</code></p>
<ul>
<li>For more help in interactive mode:</li>
</ul>
<p><code>?</code></p>
