<h1 id="gops">gops</h1>
<blockquote>
<p>CLI tool which lists and diagnoses Go processes currently running on your system. More information: <a href="https://github.com/google/gops" class="uri">https://github.com/google/gops</a>.</p>
</blockquote>
<ul>
<li>Print all go processes running locally:</li>
</ul>
<p><code>gops</code></p>
<ul>
<li>Print more information about a process:</li>
</ul>
<p><code>gops {{pid}}</code></p>
<ul>
<li>Display a process tree:</li>
</ul>
<p><code>gops tree</code></p>
<ul>
<li>Print the current stack trace from a target program:</li>
</ul>
<p><code>gops stack {{pid|addr}}</code></p>
<ul>
<li>Print the current runtime memory statistics:</li>
</ul>
<p><code>gops memstats {{pid|addr}}</code></p>
