<h1 id="goreload">goreload</h1>
<blockquote>
<p>Live reload utility for Go programs. More information: <a href="https://github.com/acoshift/goreload" class="uri">https://github.com/acoshift/goreload</a>.</p>
</blockquote>
<ul>
<li>Set the name of the binary file to watch (defaults to “.goreload”):</li>
</ul>
<p><code>goreload -b {{path/to/binary}} {{file}}.go</code></p>
<ul>
<li>Set a custom log prefix (defaults to “goreload”):</li>
</ul>
<p><code>goreload --logPrefix {{prefix}} {{file}}.go</code></p>
<ul>
<li>Reload whenever any file changes:</li>
</ul>
<p><code>goreload --all</code></p>
