<h1 id="gotty">gotty</h1>
<blockquote>
<p>Share your terminal as a web application. More information: <a href="https://github.com/yudai/gotty" class="uri">https://github.com/yudai/gotty</a>.</p>
</blockquote>
<ul>
<li>Share result of command:</li>
</ul>
<p><code>gotty {{command}}</code></p>
<ul>
<li>Share with write permission:</li>
</ul>
<p><code>gotty -w {{shell}}</code></p>
<ul>
<li>Share with credential (Basic Auth):</li>
</ul>
<p><code>gotty -w -c {{username}}:{{password}} {{shell}}</code></p>
