<h1 id="gource">gource</h1>
<blockquote>
<p>Renders an animated tree diagram of Git, SVN, Mercurial and Bazaar repositories. It shows files and directories being created, modified or removed over time. More information: <a href="https://gource.io" class="uri">https://gource.io</a>.</p>
</blockquote>
<ul>
<li>Run gource in a directory (if it isn’t the repository’s root directory, the root is sought up from there):</li>
</ul>
<p><code>gource {{path/to/repository}}</code></p>
<ul>
<li>Run gource in the current directory, with a custom output resolution:</li>
</ul>
<p><code>gource -{{width}}x{{height}}</code></p>
<ul>
<li>Set a custom time scale for the animation:</li>
</ul>
<p><code>gource -c {{time_scale_multiplier}}</code></p>
<ul>
<li>Set how long each day should be in the animation (this combines with -c, if provided):</li>
</ul>
<p><code>gource -s {{seconds}}</code></p>
<ul>
<li>Set fullscreen mode and a custom background color:</li>
</ul>
<p><code>gource -f -b {{hex_color_code}}</code></p>
<ul>
<li>Set a title for the animation:</li>
</ul>
<p><code>gource --title {{title}}</code></p>
