<h1 id="gox">gox</h1>
<blockquote>
<p>A tool for cross-compiling Go programs. More information: <a href="https://github.com/mitchellh/gox" class="uri">https://github.com/mitchellh/gox</a>.</p>
</blockquote>
<ul>
<li>Compile Go program in the current directory for all operating systems and architecture combinations:</li>
</ul>
<p><code>gox</code></p>
<ul>
<li>Download and compile a Go program from a remote URL:</li>
</ul>
<p><code>gox {{url_1}} {{url_2}}</code></p>
<ul>
<li>Compile current directory for a particular operating system:</li>
</ul>
<p><code>gox -os="{{os}}"</code></p>
<ul>
<li>Compile current directory for a single operating system and architecture combination:</li>
</ul>
<p><code>gox -osarch="{{os}}/{{arch}}"</code></p>
