<h1 id="gpg-zip">gpg-zip</h1>
<blockquote>
<p>Encrypt files and directories in an archive using GPG.</p>
</blockquote>
<ul>
<li>Encrypt a directory into archive.gpg using a passphrase:</li>
</ul>
<p><code>gpg-zip --symmetric --output {{archive.gpg}} {{path/to/directory}}</code></p>
<ul>
<li>Decrypt archive.gpg into a directory of the same name:</li>
</ul>
<p><code>gpg-zip --decrypt {{path/to/archive.gpg}}</code></p>
<ul>
<li>List the contents of the encrypted archive.gpg:</li>
</ul>
<p><code>gpg-zip --list-archive {{path/to/archive.gpg}}</code></p>
