<h1 id="gpg">gpg</h1>
<blockquote>
<p>GNU Privacy Guard. More information: <a href="https://gnupg.org" class="uri">https://gnupg.org</a>.</p>
</blockquote>
<ul>
<li>Sign doc.txt without encryption (writes output to doc.txt.asc):</li>
</ul>
<p><code>gpg --clearsign {{doc.txt}}</code></p>
<ul>
<li>Encrypt doc.txt for alice@example.com (output to doc.txt.gpg):</li>
</ul>
<p><code>gpg --encrypt --recipient {{alice@example.com}} {{doc.txt}}</code></p>
<ul>
<li>Encrypt doc.txt with only a passphrase (output to doc.txt.gpg):</li>
</ul>
<p><code>gpg --symmetric {{doc.txt}}</code></p>
<ul>
<li>Decrypt doc.txt.gpg (output to <code>stdout</code>):</li>
</ul>
<p><code>gpg --decrypt {{doc.txt.gpg}}</code></p>
<ul>
<li>Import a public key:</li>
</ul>
<p><code>gpg --import {{public.gpg}}</code></p>
<ul>
<li>Export public key for alice@example.com (output to <code>stdout</code>):</li>
</ul>
<p><code>gpg --export --armor {{alice@example.com}}</code></p>
<ul>
<li>Export private key for alice@example.com (output to <code>stdout</code>):</li>
</ul>
<p><code>gpg --export-secret-keys --armor {{alice@example.com}}</code></p>
