<h1 id="gpg">gpg</h1>
<blockquote>
<p>GNU Privacy Guard 2. More information: <a href="https://docs.releng.linuxfoundation.org/en/latest/gpg.html" class="uri">https://docs.releng.linuxfoundation.org/en/latest/gpg.html</a>.</p>
</blockquote>
<ul>
<li>List imported keys:</li>
</ul>
<p><code>gpg2 --list-keys</code></p>
<ul>
<li>Encrypt a specified file for a specified recipient, writing the output to a new file with <code>.gpg</code> appended:</li>
</ul>
<p><code>gpg2 --encrypt --recipient {{alice@example.com}} {{path/to/doc.txt}}</code></p>
<ul>
<li>Encrypt a specified file with only a passphrase, writing the output to a new file with <code>.gpg</code> appended:</li>
</ul>
<p><code>gpg2 --symmetric {{path/to/doc.txt}}</code></p>
<ul>
<li>Decrypt a specified file, writing the result to the standard output:</li>
</ul>
<p><code>gpg2 --decrypt {{path/to/doc.txt.gpg}}</code></p>
<ul>
<li>Import a public key:</li>
</ul>
<p><code>gpg2 --import {{path/to/public_key.gpg}}</code></p>
<ul>
<li>Export the public key of a specified email address to the standard output:</li>
</ul>
<p><code>gpg2 --export --armor {{alice@example.com}}</code></p>
<ul>
<li>Export the private key with a specified email address to the standard output:</li>
</ul>
<p><code>gpg2 --export-secret-keys --armor {{alice@example.com}}</code></p>
