<h1 id="gradle">gradle</h1>
<blockquote>
<p>Gradle is an open source build automation system. More information: <a href="https://gradle.org" class="uri">https://gradle.org</a>.</p>
</blockquote>
<ul>
<li>Compile a package:</li>
</ul>
<p><code>gradle build</code></p>
<ul>
<li>Exclude test task:</li>
</ul>
<p><code>gradle build -x {{test}}</code></p>
<ul>
<li>Run in offline mode to prevent gradle from accessing the network during builds:</li>
</ul>
<p><code>gradle build --offline</code></p>
<ul>
<li>Clear the build directory:</li>
</ul>
<p><code>gradle clean</code></p>
<ul>
<li>Compile and Release package:</li>
</ul>
<p><code>gradle assembleRelease</code></p>
