<h1 id="grep">grep</h1>
<blockquote>
<p>Matches patterns in input text. Supports simple patterns and regular expressions.</p>
</blockquote>
<ul>
<li>Search for an exact string:</li>
</ul>
<p><code>grep {{search_string}} {{path/to/file}}</code></p>
<ul>
<li>Search in case-insensitive mode:</li>
</ul>
<p><code>grep -i {{search_string}} {{path/to/file}}</code></p>
<ul>
<li>Search recursively (ignoring non-text files) in current directory for an exact string:</li>
</ul>
<p><code>grep -RI {{search_string}} .</code></p>
<ul>
<li>Use extended regular expressions (supporting <code>?</code>, <code>+</code>, <code>{}</code>, <code>()</code> and <code>|</code>):</li>
</ul>
<p><code>grep -E {{^regex$}} {{path/to/file}}</code></p>
<ul>
<li>Print 3 lines of [C]ontext around, [B]efore, or [A]fter each match:</li>
</ul>
<p><code>grep -{{C|B|A}} 3 {{search_string}} {{path/to/file}}</code></p>
<ul>
<li>Print file name with the corresponding line number for each match:</li>
</ul>
<p><code>grep -Hn {{search_string}} {{path/to/file}}</code></p>
<ul>
<li>Use the standard input instead of a file:</li>
</ul>
<p><code>cat {{path/to/file}} | grep {{search_string}}</code></p>
<ul>
<li>Invert match for excluding specific strings:</li>
</ul>
<p><code>grep -v {{search_string}}</code></p>
