<h1 id="groff">groff</h1>
<blockquote>
<p>Typesetting program that reads plain text mixed with formatting commands and produces formatted output. It is the GNU replacement for the <code>troff</code> and <code>nroff</code> Unix commands for text formatting. More information: <a href="https://www.gnu.org/software/groff" class="uri">https://www.gnu.org/software/groff</a>.</p>
</blockquote>
<ul>
<li>Render a man page as plain text, and display the result:</li>
</ul>
<p><code>groff -man -T utf8 {{manpage.1}}</code></p>
<ul>
<li>Render a man page using the ASCII output device, and display it using a pager:</li>
</ul>
<p><code>groff -man -T ascii {{manpage.1}} | less</code></p>
<ul>
<li>Render a man page into an HTML file:</li>
</ul>
<p><code>groff -man -T html {{manpage.1}} &gt; {{page.html}}</code></p>
<ul>
<li>Process a roff file using the <code>tbl</code> and <code>pic</code> preprocessors, and the <code>me</code> macro set:</li>
</ul>
<p><code>groff -t -p -me -T utf8 {{foo.me}}</code></p>
<ul>
<li>Run a <code>groff</code> command with preprocessor and macro options guessed by the <code>grog</code> utility:</li>
</ul>
<p><code>eval "$(grog -T utf8 {{foo.me}})"</code></p>
