<h1 id="groups">groups</h1>
<blockquote>
<p>Print group memberships for a user.</p>
</blockquote>
<ul>
<li>Print group memberships for the current user:</li>
</ul>
<p><code>groups</code></p>
<ul>
<li>Print group memberships for a specific user:</li>
</ul>
<p><code>groups {{username}}</code></p>
<ul>
<li>Print group memberships for a list of users:</li>
</ul>
<p><code>groups {{username1}} {{username2}} {{username3}}</code></p>
