<h1 id="grunt">grunt</h1>
<blockquote>
<p>A JavaScript task runner for automating processes. More information: <a href="https://github.com/gruntjs/grunt-cli" class="uri">https://github.com/gruntjs/grunt-cli</a>.</p>
</blockquote>
<ul>
<li>Run the default task process:</li>
</ul>
<p><code>grunt</code></p>
<ul>
<li>Run one or more specific space-separated task(s):</li>
</ul>
<p><code>grunt {{task_name}}</code></p>
<ul>
<li>Specify an alternative configuration file:</li>
</ul>
<p><code>grunt --gruntfile {{path/to/file}}</code></p>
<ul>
<li>Specify an alternative base path for relative files:</li>
</ul>
<p><code>grunt --base {{path/to/directory}}</code></p>
<ul>
<li>Specify an additional directory to scan for tasks in:</li>
</ul>
<p><code>grunt --tasks {{path/to/directory}}</code></p>
<ul>
<li>Perform a dry-run without writing any files:</li>
</ul>
<p><code>grunt --no-write</code></p>
<ul>
<li>List all available options:</li>
</ul>
<p><code>grunt --help</code></p>
