<h1 id="guacd">guacd</h1>
<blockquote>
<p>Apache Guacamole proxy daemon. Support loader for client plugins to interface between the Guacamole protocol and any arbitrary remote desktop protocol (e.g. RDP, VNC, Other). More information: <a href="https://guacamole.apache.org/" class="uri">https://guacamole.apache.org/</a>.</p>
</blockquote>
<ul>
<li>Bind to a specific port on localhost:</li>
</ul>
<p><code>guacd -b {{127.0.0.1}} -l {{4823}}</code></p>
<ul>
<li>Start in debug mode, keeping the process in the foreground:</li>
</ul>
<p><code>guacd -f -L {{debug}}</code></p>
<ul>
<li>Start with TLS support:</li>
</ul>
<p><code>guacd -C {{my-cert.crt}} -K {{my-key.pem}}</code></p>
<ul>
<li>Write the PID to a file:</li>
</ul>
<p><code>guacd -p {{path/to/file.pid}}</code></p>
