<h1 id="guetzli">guetzli</h1>
<blockquote>
<p>JPEG image compression utility. More information: <a href="https://github.com/google/guetzli" class="uri">https://github.com/google/guetzli</a>.</p>
</blockquote>
<ul>
<li>Compress a JPEG image:</li>
</ul>
<p><code>guetzli {{input.jpg}} {{output.jpg}}</code></p>
<ul>
<li>Create compressed JPEG image from PNG image:</li>
</ul>
<p><code>guetzli {{input.png}} {{output.jpg}}</code></p>
<ul>
<li>Compress a JPEG image with desired visual quality (84-100):</li>
</ul>
<p><code>guetzli --quality {{quality_value}} {{input.jpg}} {{output.jpg}}</code></p>
