<h1 id="guile">guile</h1>
<blockquote>
<p>Guile Scheme interpreter. More information: <a href="https://www.gnu.org/software/guile" class="uri">https://www.gnu.org/software/guile</a>.</p>
</blockquote>
<ul>
<li>Start the Guile Scheme REPL:</li>
</ul>
<p><code>guile</code></p>
<ul>
<li>Execute the script in a given Scheme file:</li>
</ul>
<p><code>guile {{script.scm}}</code></p>
<ul>
<li>Execute a Scheme expression:</li>
</ul>
<p><code>guile -c "{{expression}}"</code></p>
<ul>
<li>Listen on a port or a Unix domain socket (the default is port 37146) for remote REPL connections:</li>
</ul>
<p><code>guile --listen={{port_or_socket}}</code></p>
