<h1 id="gulp">gulp</h1>
<blockquote>
<p>JavaScript task runner and streaming build system. Tasks are defined within gulpfile.js at the project root. More information: <a href="https://github.com/gulpjs/gulp-cli" class="uri">https://github.com/gulpjs/gulp-cli</a>.</p>
</blockquote>
<ul>
<li>Run the default task:</li>
</ul>
<p><code>gulp</code></p>
<ul>
<li>Run individual tasks:</li>
</ul>
<p><code>gulp {{task}} {{othertask}}</code></p>
