<h1 id="gunzip">gunzip</h1>
<blockquote>
<p>Extract file(s) from a gzip (.gz) archive.</p>
</blockquote>
<ul>
<li>Extract a file from an archive, replacing the original file if it exists:</li>
</ul>
<p><code>gunzip {{archive.tar.gz}}</code></p>
<ul>
<li>Extract a file to a target destination:</li>
</ul>
<p><code>gunzip -c {{archive.tar.gz}} &gt; {{archive.tar}}</code></p>
<ul>
<li>List the contents of a compressed file:</li>
</ul>
<p><code>gunzip -l {{file.txt.gz}}</code></p>
