<h1 id="gzip">gzip</h1>
<blockquote>
<p>Compress/uncompress files with gzip compression (LZ77).</p>
</blockquote>
<ul>
<li>Compress a file, replacing it with a gzipped compressed version:</li>
</ul>
<p><code>gzip {{file.ext}}</code></p>
<ul>
<li>Decompress a file, replacing it with the original uncompressed version:</li>
</ul>
<p><code>gzip -d {{file.ext}}.gz</code></p>
<ul>
<li>Compress a file specifying the output filename:</li>
</ul>
<p><code>gzip -c {{file.ext}} &gt; {{compressed_file.ext.gz}}</code></p>
<ul>
<li>Decompress a gzipped file specifying the output filename:</li>
</ul>
<p><code>gzip -c -d {{file.ext}}.gz &gt; {{uncompressed_file.ext}}</code></p>
<ul>
<li>Specify the compression level. 1=Fastest (Worst), 9=Slowest (Best), Default level is 6:</li>
</ul>
<p><code>gzip -9 -c {{file.ext}} &gt; {{compressed_file.ext.gz}}</code></p>
