<h1 id="handbrakecli">handbrakecli</h1>
<blockquote>
<p>Command-line interface to the HandBrake video conversion tool. More information: <a href="https://handbrake.fr/" class="uri">https://handbrake.fr/</a>.</p>
</blockquote>
<ul>
<li>Convert a video file to MKV (AAC 160kbit audio and x264 CRF20 video):</li>
</ul>
<p><code>handbrakecli -i {{input.avi}} -o {{output.mkv}} -e x264 -q 20 -B 160</code></p>
<ul>
<li>Resize a video file to 320x240:</li>
</ul>
<p><code>handbrakecli -i {{input.mp4}} -o {{output.mp4} -w 320 -l 240</code></p>
<ul>
<li>List available presets:</li>
</ul>
<p><code>handbrakecli --preset-list</code></p>
<ul>
<li>Convert an AVI video to MP4 using the Android preset:</li>
</ul>
<p><code>handbrakecli --preset="Android" -i {{input.ext}} -o {{output.mp4}}</code></p>
