<h1 id="hangups">hangups</h1>
<blockquote>
<p>Third party command line client for Google Hangouts. More information: <a href="https://github.com/tdryer/hangups" class="uri">https://github.com/tdryer/hangups</a>.</p>
</blockquote>
<ul>
<li>Start hangups:</li>
</ul>
<p><code>hangups</code></p>
<ul>
<li>View troubeshooting information and help:</li>
</ul>
<p><code>hangups -h</code></p>
<ul>
<li>Set a refresh token for hangups:</li>
</ul>
<p><code>hangups --token-path {{/path/to/token}}</code></p>
