<h1 id="haxelib">haxelib</h1>
<blockquote>
<p>Haxe Library Manager. More information: <a href="https://lib.haxe.org/" class="uri">https://lib.haxe.org/</a>.</p>
</blockquote>
<ul>
<li>Search for a Haxe library:</li>
</ul>
<p><code>haxelib search {{keyword}}</code></p>
<ul>
<li>Install a Haxe library:</li>
</ul>
<p><code>haxelib install {{libname}}</code></p>
<ul>
<li>Upgrade all installed Haxe libraries:</li>
</ul>
<p><code>haxelib upgrade</code></p>
<ul>
<li>Install the development version of a library from a Git repository:</li>
</ul>
<p><code>haxelib git {{libname}} {{git_url}}</code></p>
