<h1 id="helm">helm</h1>
<blockquote>
<p>Helm is a package manager for Kubernetes. More information: <a href="https://helm.sh/" class="uri">https://helm.sh/</a>.</p>
</blockquote>
<ul>
<li>Create a helm chart:</li>
</ul>
<p><code>helm create {{chart_name}}</code></p>
<ul>
<li>Add a new helm repository:</li>
</ul>
<p><code>helm repo add {{repo_name}}</code></p>
<ul>
<li>List helm repositories:</li>
</ul>
<p><code>helm repo list</code></p>
<ul>
<li>Update helm repositories:</li>
</ul>
<p><code>helm repo update</code></p>
<ul>
<li>Delete a helm repository:</li>
</ul>
<p><code>helm repo remove {{repo_name}}</code></p>
<ul>
<li>Install a helm chart:</li>
</ul>
<p><code>helm install {{repo_name}}/{{chart_name}}</code></p>
<ul>
<li>Download helm chart as a tar archive:</li>
</ul>
<p><code>helm get {{chart_release_name}}</code></p>
<ul>
<li>Update helm dependencies:</li>
</ul>
<p><code>helm dependency update</code></p>
