<h1 id="help2man">help2man</h1>
<blockquote>
<p>Produce simple man pages from an executable’s <code>--help</code> and <code>--version</code> output. More information: <a href="https://www.gnu.org/software/help2man" class="uri">https://www.gnu.org/software/help2man</a>.</p>
</blockquote>
<ul>
<li>Generate a man page for an executable:</li>
</ul>
<p><code>help2man {{executable}}</code></p>
<ul>
<li>Specify the “name” paragraph in the man page:</li>
</ul>
<p><code>help2man {{executable}} --name {{name}}</code></p>
<ul>
<li>Specify the section for the man page (defaults to 1):</li>
</ul>
<p><code>help2man {{executable}} --section {{section}}</code></p>
<ul>
<li>Output to a file instead of <code>stdout</code>:</li>
</ul>
<p><code>help2man {{executable}} --output {{path/to/file}}</code></p>
<ul>
<li>Display detailed help:</li>
</ul>
<p><code>help2man --help</code></p>
