<h1 id="heroku">heroku</h1>
<blockquote>
<p>Create and manage Heroku apps from the command line. More information: <a href="https://www.heroku.com/" class="uri">https://www.heroku.com/</a>.</p>
</blockquote>
<ul>
<li>Login to your heroku account:</li>
</ul>
<p><code>heroku login</code></p>
<ul>
<li>Create a heroku app:</li>
</ul>
<p><code>heroku create</code></p>
<ul>
<li>Show logs for an app:</li>
</ul>
<p><code>heroku logs --app {{app_name}}</code></p>
<ul>
<li>Run a one-off process inside a dyno (Heroku virtual machine):</li>
</ul>
<p><code>heroku run {{process_name}} --app {{app_name}}</code></p>
<ul>
<li>List dynos (Heroku virtual machines) for an app:</li>
</ul>
<p><code>heroku ps --app {{app_name}}</code></p>
<ul>
<li>Permanently destroy an app:</li>
</ul>
<p><code>heroku destroy --app {{app_name}}</code></p>
