<h1 id="hexyl">hexyl</h1>
<blockquote>
<p>A simple hex viewer for the terminal. Uses colored output to distinguish different categories of bytes. More information: <a href="https://github.com/sharkdp/hexyl" class="uri">https://github.com/sharkdp/hexyl</a>.</p>
</blockquote>
<ul>
<li>Print the hexadecimal representation of a file:</li>
</ul>
<p><code>hexyl {{path/to/file}}</code></p>
<ul>
<li>Print the hexadecimal representation of the first n bytes of a file:</li>
</ul>
<p><code>hexyl -n {{n}} {{path/to/file}}</code></p>
<ul>
<li>Print bytes 512 through 1024 of a file:</li>
</ul>
<p><code>hexyl -r {{512}}:{{1024}} {{path/to/file}}</code></p>
<ul>
<li>Print 512 bytes starting at the 1024th byte:</li>
</ul>
<p><code>hexyl -r {{1024}}:+{{512}} {{path/to/file}}</code></p>
