<h1 id="hg-add">hg add</h1>
<blockquote>
<p>Adds specified files to the staging area for the next commit in Mercurial. More information: <a href="https://www.mercurial-scm.org/doc/hg.1.html#add" class="uri">https://www.mercurial-scm.org/doc/hg.1.html#add</a>.</p>
</blockquote>
<ul>
<li>Add files or directories to the staging area:</li>
</ul>
<p><code>hg add {{path/to/file}}</code></p>
<ul>
<li>Add all unstaged files matching a specified pattern:</li>
</ul>
<p><code>hg add --include {{pattern}}</code></p>
<ul>
<li>Add all unstaged files, excluding those that match a specified pattern:</li>
</ul>
<p><code>hg add --exclude {{pattern}}</code></p>
<ul>
<li>Recursively add sub-repositories:</li>
</ul>
<p><code>hg add --subrepos</code></p>
<ul>
<li>Perform a test-run without performing any actions:</li>
</ul>
<p><code>hg add --dry-run</code></p>
