<h1 id="hg-branch">hg branch</h1>
<blockquote>
<p>Create or show a branch name. More information: <a href="https://www.mercurial-scm.org/doc/hg.1.html#branch" class="uri">https://www.mercurial-scm.org/doc/hg.1.html#branch</a>.</p>
</blockquote>
<ul>
<li>Show the name of the currently active branch:</li>
</ul>
<p><code>hg branch</code></p>
<ul>
<li>Create a new branch for the next commit:</li>
</ul>
<p><code>hg branch {{branch_name}}</code></p>
