<h1 id="hg-commit">hg commit</h1>
<blockquote>
<p>Commit all staged or specified files to the repository. More information: <a href="https://www.mercurial-scm.org/doc/hg.1.html#commit" class="uri">https://www.mercurial-scm.org/doc/hg.1.html#commit</a>.</p>
</blockquote>
<ul>
<li>Commit staged files to the repository:</li>
</ul>
<p><code>hg commit</code></p>
<ul>
<li>Commit a specific file or directory:</li>
</ul>
<p><code>hg commit {{path/to/file_or_directory}}</code></p>
<ul>
<li>Commit with a specific message:</li>
</ul>
<p><code>hg commit --message {{message}}</code></p>
<ul>
<li>Commit all files matching a specified pattern:</li>
</ul>
<p><code>hg commit --include {{pattern}}</code></p>
<ul>
<li>Commit all files, excluding those that match a specified pattern:</li>
</ul>
<p><code>hg commit --exclude {{pattern}}</code></p>
<ul>
<li>Commit using the interactive mode:</li>
</ul>
<p><code>hg commit --interactive</code></p>
