<h1 id="hg-clone">hg clone</h1>
<blockquote>
<p>Create a copy of an existing repository in a new directory. More information: <a href="https://www.mercurial-scm.org/doc/hg.1.html#clone" class="uri">https://www.mercurial-scm.org/doc/hg.1.html#clone</a>.</p>
</blockquote>
<ul>
<li>Clone a repository to a specified directory:</li>
</ul>
<p><code>hg clone {{remote_repository_source}} {{destination_path}}</code></p>
<ul>
<li>Clone a repository to the head of a specific branch, ignoring later commits:</li>
</ul>
<p><code>hg clone --branch {{branch}} {{remote_repository_source}}</code></p>
<ul>
<li>Clone a repository with only the “.hg” directory, without checking out files:</li>
</ul>
<p><code>hg clone --noupdate {{remote_repository_source}}</code></p>
<ul>
<li>Clone a repository to a specific revision, tag or branch, keeping the entire history:</li>
</ul>
<p><code>hg clone --updaterev {{revision}} {{remote_repository_source}}</code></p>
<ul>
<li>Clone a repository up to a specific revision without any newer history:</li>
</ul>
<p><code>hg clone --rev {{revision}} {{remote_repository_source}}</code></p>
