<h1 id="hg-init">hg init</h1>
<blockquote>
<p>Create a new repository in the specified directory. More information: <a href="https://www.mercurial-scm.org/doc/hg.1.html#init" class="uri">https://www.mercurial-scm.org/doc/hg.1.html#init</a>.</p>
</blockquote>
<ul>
<li>Initialise a new repository in the current directory:</li>
</ul>
<p><code>hg init</code></p>
<ul>
<li>Initialise a new repository in the specified directory:</li>
</ul>
<p><code>hg init {{path/to/directory}}</code></p>
