<h1 id="hg-log">hg log</h1>
<blockquote>
<p>Display the revision history of the repository. More information: <a href="https://www.mercurial-scm.org/doc/hg.1.html#log" class="uri">https://www.mercurial-scm.org/doc/hg.1.html#log</a>.</p>
</blockquote>
<ul>
<li>Display the entire revision history of the repository:</li>
</ul>
<p><code>hg log</code></p>
<ul>
<li>Display the revision history with an ASCII graph:</li>
</ul>
<p><code>hg log --graph</code></p>
<ul>
<li>Display the revision history with file names matching a specified pattern:</li>
</ul>
<p><code>hg log --include {{pattern}}</code></p>
<ul>
<li>Display the revision history, excluding file names that match a specified pattern:</li>
</ul>
<p><code>hg log --exclude {{pattern}}</code></p>
<ul>
<li>Display the log information for a specific revision:</li>
</ul>
<p><code>hg log --rev {{revision}}</code></p>
<ul>
<li>Display the revision history for a specific branch:</li>
</ul>
<p><code>hg log --branch {{branch}}</code></p>
<ul>
<li>Display the revision history for a specific date:</li>
</ul>
<p><code>hg log --date {{date}}</code></p>
<ul>
<li>Display revisions committed by a specific user:</li>
</ul>
<p><code>hg log --user {{user}}</code></p>
