<h1 id="hg-push">hg push</h1>
<blockquote>
<p>Push changes from the local repository to a specified destination. More information: <a href="https://www.mercurial-scm.org/doc/hg.1.html#push" class="uri">https://www.mercurial-scm.org/doc/hg.1.html#push</a>.</p>
</blockquote>
<ul>
<li>Push changes to the “default” remote path:</li>
</ul>
<p><code>hg push</code></p>
<ul>
<li>Push changes to a specified remote repository:</li>
</ul>
<p><code>hg push {{path/to/destination_repository}}</code></p>
<ul>
<li>Push a new branch if it does not exist (disabled by default):</li>
</ul>
<p><code>hg push --new-branch</code></p>
<ul>
<li>Specify a specific revision changeset to push:</li>
</ul>
<p><code>hg push --rev {{revision}}</code></p>
<ul>
<li>Specify a specific branch to push:</li>
</ul>
<p><code>hg push --branch {{branch}}</code></p>
<ul>
<li>Specify a specific bookmark to push:</li>
</ul>
<p><code>hg push --bookmark {{bookmark}}</code></p>
