<h1 id="hg-pull">hg pull</h1>
<blockquote>
<p>Pull changes from a specified repository to the local repository. More information: <a href="https://www.mercurial-scm.org/doc/hg.1.html#pull" class="uri">https://www.mercurial-scm.org/doc/hg.1.html#pull</a>.</p>
</blockquote>
<ul>
<li>Pull from the “default” source path:</li>
</ul>
<p><code>hg pull</code></p>
<ul>
<li>Pull from a specified source repository:</li>
</ul>
<p><code>hg pull {{path/to/source_repository}}</code></p>
<ul>
<li>Update the local repository to the head of the remote:</li>
</ul>
<p><code>hg pull --update</code></p>
<ul>
<li>Pull changes even when the remote repository is unrelated:</li>
</ul>
<p><code>hg pull --force</code></p>
<ul>
<li>Specify a specific revision changeset to pull up to:</li>
</ul>
<p><code>hg pull --rev {{revision}}</code></p>
<ul>
<li>Specify a specific branch to pull:</li>
</ul>
<p><code>hg pull --branch {{branch}}</code></p>
<ul>
<li>Specify a specific bookmark to pull:</li>
</ul>
<p><code>hg pull --bookmark {{bookmark}}</code></p>
