<h1 id="hg-remove">hg remove</h1>
<blockquote>
<p>Remove specified files from the staging area. More information: <a href="https://www.mercurial-scm.org/doc/hg.1.html#remove" class="uri">https://www.mercurial-scm.org/doc/hg.1.html#remove</a>.</p>
</blockquote>
<ul>
<li>Remove files or directories from the staging area:</li>
</ul>
<p><code>hg remove {{path/to/file}}</code></p>
<ul>
<li>Remove all staged files matching a specified pattern:</li>
</ul>
<p><code>hg remove --include {{pattern}}</code></p>
<ul>
<li>Remove all staged files, excluding those that match a specified pattern:</li>
</ul>
<p><code>hg remove --exclude {{pattern}}</code></p>
<ul>
<li>Recursively remove sub-repositories:</li>
</ul>
<p><code>hg remove --subrepos</code></p>
<ul>
<li>Remove files from the repository that have been physically removed:</li>
</ul>
<p><code>hg remove --after</code></p>
