<h1 id="hg-root">hg root</h1>
<blockquote>
<p>Display the root location of a Hg repository. More information: <a href="https://www.mercurial-scm.org/doc/hg.1.html#root" class="uri">https://www.mercurial-scm.org/doc/hg.1.html#root</a>.</p>
</blockquote>
<ul>
<li>Display the root location of the current repository:</li>
</ul>
<p><code>hg root</code></p>
<ul>
<li>Display the root location of the specified repository:</li>
</ul>
<p><code>hg root --cwd {{path/to/directory}}</code></p>
