<h1 id="hg-serve">hg serve</h1>
<blockquote>
<p>Start a standalone Mercurial web server for browsing repositories. More information: <a href="https://www.mercurial-scm.org/doc/hg.1.html#serve" class="uri">https://www.mercurial-scm.org/doc/hg.1.html#serve</a>.</p>
</blockquote>
<ul>
<li>Start a web server instance:</li>
</ul>
<p><code>hg serve</code></p>
<ul>
<li>Start a web server instance on the specified port:</li>
</ul>
<p><code>hg serve --port {{port}}</code></p>
<ul>
<li>Start a web server instance on the specified listening address:</li>
</ul>
<p><code>hg serve --address {{address}}</code></p>
<ul>
<li>Start a web server instance with a specific identifier:</li>
</ul>
<p><code>hg serve --name {{name}}</code></p>
<ul>
<li>Start a web server instance using the specified theme (see the templates directory):</li>
</ul>
<p><code>hg serve --style {{style}}</code></p>
<ul>
<li>Start a web server instance using the specified SSL certificate bundle:</li>
</ul>
<p><code>hg serve --certificate {{path/to/certificate}}</code></p>
