<h1 id="hg-status">hg status</h1>
<blockquote>
<p>Show files that have changed in the working directory. More information: <a href="https://www.mercurial-scm.org/doc/hg.1.html#status" class="uri">https://www.mercurial-scm.org/doc/hg.1.html#status</a>.</p>
</blockquote>
<ul>
<li>Display the status of changed files:</li>
</ul>
<p><code>hg status</code></p>
<ul>
<li>Display only modified files:</li>
</ul>
<p><code>hg status --modified</code></p>
<ul>
<li>Display only added files:</li>
</ul>
<p><code>hg status --added</code></p>
<ul>
<li>Display only removed files:</li>
</ul>
<p><code>hg status --removed</code></p>
<ul>
<li>Display only deleted (but tracked) files:</li>
</ul>
<p><code>hg status --deleted</code></p>
<ul>
<li>Display changes in the working directory compared to a specified changeset:</li>
</ul>
<p><code>hg status --rev {{revision}}</code></p>
<ul>
<li>Display only files matching a specified glob pattern:</li>
</ul>
<p><code>hg status --include {{pattern}}</code></p>
<ul>
<li>Display files, excluding those that match a specified glob pattern:</li>
</ul>
<p><code>hg status --exclude {{pattern}}</code></p>
