<h1 id="hg-update">hg update</h1>
<blockquote>
<p>Update the working directory to a specified changeset. More information: <a href="https://www.mercurial-scm.org/doc/hg.1.html#update" class="uri">https://www.mercurial-scm.org/doc/hg.1.html#update</a>.</p>
</blockquote>
<ul>
<li>Update to the tip of the current branch:</li>
</ul>
<p><code>hg update</code></p>
<ul>
<li>Update to the specified revision:</li>
</ul>
<p><code>hg update --rev {{revision}}</code></p>
<ul>
<li>Update and discard uncommitted changes:</li>
</ul>
<p><code>hg update --clean</code></p>
<ul>
<li>Update to the last commit matching a specified date:</li>
</ul>
<p><code>hg update --date {{dd-mm-yyyy}}</code></p>
