<h1 id="hg">hg</h1>
<blockquote>
<p>A command line interface for Mercurial, a distributed source control management system. See <code>hg-add</code>, <code>hg-commit</code> and other pages for additional information. More information: <a href="https://www.mercurial-scm.org" class="uri">https://www.mercurial-scm.org</a>.</p>
</blockquote>
<ul>
<li>Execute Mercurial command:</li>
</ul>
<p><code>hg {{command}}</code></p>
<ul>
<li>Call general help:</li>
</ul>
<p><code>hg help</code></p>
<ul>
<li>Call help on a command:</li>
</ul>
<p><code>hg help {{command}}</code></p>
<ul>
<li>Check the Mercurial version:</li>
</ul>
<p><code>hg --version</code></p>
