<h1 id="history">history</h1>
<blockquote>
<p>Command Line history.</p>
</blockquote>
<ul>
<li>Display the commands history list with line numbers:</li>
</ul>
<p><code>history</code></p>
<ul>
<li>Clear the commands history list (only for current <code>bash</code> shell):</li>
</ul>
<p><code>history -c</code></p>
<ul>
<li>Overwrite history file with history of current <code>bash</code> shell (often combined with <code>history -c</code> to purge history):</li>
</ul>
<p><code>history -w</code></p>
<ul>
<li>Delete the history entry at the specified offset:</li>
</ul>
<p><code>history -d {{offset}}</code></p>
