<h1 id="hn">hn</h1>
<blockquote>
<p>Command-line interface for Hacker News. More information: <a href="https://github.com/rafaelrinaldi/hn-cli" class="uri">https://github.com/rafaelrinaldi/hn-cli</a>.</p>
</blockquote>
<ul>
<li>View stories on Hacker News:</li>
</ul>
<p><code>hn</code></p>
<ul>
<li>View <em>number</em> of stories on Hacker News:</li>
</ul>
<p><code>hn --limit {{number}}</code></p>
<ul>
<li>View stories on Hacker News, and keep the list open after selecting a link:</li>
</ul>
<p><code>hn --keep-open</code></p>
<ul>
<li>View stories on Hacker News sorted by submission date:</li>
</ul>
<p><code>hn --latest</code></p>
