<h1 id="host">host</h1>
<blockquote>
<p>Lookup Domain Name Server.</p>
</blockquote>
<ul>
<li>Lookup A, AAAA, and MX records of a domain:</li>
</ul>
<p><code>host {{domain}}</code></p>
<ul>
<li>Lookup a field (CNAME, TXT,…) of a domain:</li>
</ul>
<p><code>host -t {{field}} {{domain}}</code></p>
<ul>
<li>Reverse lookup an IP:</li>
</ul>
<p><code>host {{ip_address}}</code></p>
<ul>
<li>Specify an alternate DNS server to query:</li>
</ul>
<p><code>host {{domain}} {{8.8.8.8}}</code></p>
