<h1 id="hostess">hostess</h1>
<blockquote>
<p>An idempotent command-line utility for managing your /etc/hosts file. More information: <a href="https://github.com/cbednarski/hostess" class="uri">https://github.com/cbednarski/hostess</a>.</p>
</blockquote>
<ul>
<li>List domains, target ips and on/off status:</li>
</ul>
<p><code>hostess list</code></p>
<ul>
<li>Add a domain pointing to your machine to your hosts file:</li>
</ul>
<p><code>hostess add {{local.example.com}} {{127.0.0.1}}</code></p>
<ul>
<li>Remove a domain from your hosts file:</li>
</ul>
<p><code>hostess del {{local.example.com}}</code></p>
<ul>
<li>Disable a domain (but don’t remove it completely):</li>
</ul>
<p><code>hostess off {{local.example.com}}</code></p>
