<h1 id="hping">hping</h1>
<blockquote>
<p>Command-line oriented TCP/IP packet assembler and analyzer. Inspired by the <code>ping</code> command. More information: <a href="http://www.hping.org" class="uri">http://www.hping.org</a>.</p>
</blockquote>
<ul>
<li>Ping localhost over TCP:</li>
</ul>
<p><code>hping3 {{localhost}}</code></p>
<ul>
<li>Ping an IP address over TCP on a specific port:</li>
</ul>
<p><code>hping3 -p {{80}} -S {{192.168.1.1}}</code></p>
<ul>
<li>Ping an IP address over UDP on port 80:</li>
</ul>
<p><code>hping3 --udp -p {{80}} -S {{192.168.1.1}}</code></p>
<ul>
<li>Scan a set of TCP ports on a specific IP address:</li>
</ul>
<p><code>hping3 --scan {{80,3000,9000}} -S {{192.168.1.1}}</code></p>
<ul>
<li>Perform a charge test on port 80:</li>
</ul>
<p><code>hping3 --flood -p {{80}} -S {{192.168.1.1}}</code></p>
