<h1 id="hr">hr</h1>
<blockquote>
<p>Print a horizontal rule in the terminal.</p>
</blockquote>
<ul>
<li>Print a horizontal rule:</li>
</ul>
<p><code>hr</code></p>
<ul>
<li>Print a horizontal rule with a custom string:</li>
</ul>
<p><code>hr {{string}}</code></p>
<ul>
<li>Print a multiline horizontal rule:</li>
</ul>
<p><code>hr {{string_a}} {{string_b}} {{string_c}}</code></p>
