<h1 id="hsd-cli">hsd-cli</h1>
<blockquote>
<p>The command line REST tool for the Handshake blockchain. More information: <a href="https://handshake.org" class="uri">https://handshake.org</a>.</p>
</blockquote>
<ul>
<li>Retrieve information about the current server:</li>
</ul>
<p><code>hsd-cli info</code></p>
<ul>
<li>Broadcast a local transaction:</li>
</ul>
<p><code>hsd-cli broadcast {{transaction_hex}}</code></p>
<ul>
<li>Retrieve a mempool snapshot:</li>
</ul>
<p><code>hsd-cli mempool</code></p>
<ul>
<li>View a transaction by address or hash:</li>
</ul>
<p><code>hsd-cli tx {{address_or_hash}}</code></p>
<ul>
<li>View a coin by its hash index or address:</li>
</ul>
<p><code>hsd-cli coin {{hash_index_or_address}}</code></p>
<ul>
<li>View a block by height or hash:</li>
</ul>
<p><code>hsd-cli block {{height_or_hash}}</code></p>
<ul>
<li>Reset the chain to the specified block:</li>
</ul>
<p><code>hsd-cli reset {{height_or_hash}}</code></p>
<ul>
<li>Execute an RPC command:</li>
</ul>
<p><code>hsd-cli rpc {{command}} {{args}}</code></p>
