<h1 id="hsw-cli">hsw-cli</h1>
<blockquote>
<p>The command line REST tool for the Handshake wallet. More information: <a href="https://npmjs.com/package/hs-client" class="uri">https://npmjs.com/package/hs-client</a>.</p>
</blockquote>
<ul>
<li>Unlock the current wallet (timeout in seconds):</li>
</ul>
<p><code>hsw-cli unlock {{passphrase}} {{timeout}}</code></p>
<ul>
<li>Lock the current wallet:</li>
</ul>
<p><code>hsw-cli lock</code></p>
<ul>
<li>View the current wallet’s details:</li>
</ul>
<p><code>hsw-cli get</code></p>
<ul>
<li>View the current wallet’s balance:</li>
</ul>
<p><code>hsw-cli balance</code></p>
<ul>
<li>View the current wallet’s transaction history:</li>
</ul>
<p><code>hsw-cli history</code></p>
<ul>
<li>Send a transaction with the specified coin amount to an address:</li>
</ul>
<p><code>hsw-cli send {{address}} {{1.05}}</code></p>
<ul>
<li>View the current wallet’s pending transactions:</li>
</ul>
<p><code>hsw-cli pending</code></p>
<ul>
<li>View details about a transaction:</li>
</ul>
<p><code>hsw-cli tx {{transaction_hash}}</code></p>
