<h1 id="html5validator">html5validator</h1>
<blockquote>
<p>A command line tool for testing HTML5 validity. More information: <a href="https://github.com/svenkreiss/html5validator" class="uri">https://github.com/svenkreiss/html5validator</a>.</p>
</blockquote>
<ul>
<li>Validate a specific file:</li>
</ul>
<p><code>html5validator {{path/to/file}}</code></p>
<ul>
<li>Validate all HTML files in a specific directory:</li>
</ul>
<p><code>html5validator --root {{path/to/directory}}</code></p>
<ul>
<li>Show warnings as well as errors:</li>
</ul>
<p><code>html5validator --show-warnings {{path/to/file}}</code></p>
<ul>
<li>Match multiple files using a glob pattern:</li>
</ul>
<p><code>html5validator --root {{path/to/directory}} --match "{{*.html *.php}}"</code></p>
<ul>
<li>Ignore specific directory names:</li>
</ul>
<p><code>html5validator --root {{path/to/directory}} --blacklist "{{node_modules vendor}}"</code></p>
<ul>
<li>Output the results in a specific format:</li>
</ul>
<p><code>html5validator --format {{gnu|xml|json|text}} {{path/to/file}}</code></p>
<ul>
<li>Output the log at a specific verbosity level:</li>
</ul>
<p><code>html5validator --root {{path/to/directory}} --log {{debug|info|warning}}</code></p>
