<h1 id="htpasswd">htpasswd</h1>
<blockquote>
<p>Create and manage htpasswd files to protect web server directories using basic authentication. More information: <a href="https://httpd.apache.org/docs/current/programs/htpasswd.html" class="uri">https://httpd.apache.org/docs/current/programs/htpasswd.html</a>.</p>
</blockquote>
<ul>
<li>Create/overwrite htpasswd file:</li>
</ul>
<p><code>htpasswd -c {{path/to/file}} {{user_name}}</code></p>
<ul>
<li>Add user to htpasswd file or update existing user:</li>
</ul>
<p><code>htpasswd {{path/to/file}} {{user_name}}</code></p>
<ul>
<li>Add user to htpasswd file in batch mode without an interactive password prompt (for script usage):</li>
</ul>
<p><code>htpasswd -b {{path/to/file}} {{user_name}} {{password}}</code></p>
<ul>
<li>Delete user from htpasswd file:</li>
</ul>
<p><code>htpasswd -D {{path/to/file}} {{user_name}}</code></p>
<ul>
<li>Verify user password:</li>
</ul>
<p><code>htpasswd -v {{path/to/file}} {{user_name}}</code></p>
