<h1 id="http">http</h1>
<blockquote>
<p>HTTPie: HTTP client, a user-friendly cURL replacement. More information: <a href="https://httpie.org" class="uri">https://httpie.org</a>.</p>
</blockquote>
<ul>
<li>Download a URL to a file:</li>
</ul>
<p><code>http -d {{example.org}}</code></p>
<ul>
<li>Send form-encoded data:</li>
</ul>
<p><code>http -f {{example.org}} {{name='bob'}} {{profile_picture@'bob.png'}}</code></p>
<ul>
<li>Send JSON object:</li>
</ul>
<p><code>http {{example.org}} {{name='bob'}}</code></p>
<ul>
<li>Specify an HTTP method:</li>
</ul>
<p><code>http {{HEAD}} {{example.org}}</code></p>
<ul>
<li>Include an extra header:</li>
</ul>
<p><code>http {{example.org}} {{X-MyHeader:123}}</code></p>
<ul>
<li>Pass a user name and password for server authentication:</li>
</ul>
<p><code>http -a {{username:password}} {{example.org}}</code></p>
<ul>
<li>Specify raw request body via <code>stdin</code>:</li>
</ul>
<p><code>cat {{data.txt}} | http PUT {{example.org}}</code></p>
