<h1 id="httping">httping</h1>
<blockquote>
<p>Measure the latency and throughput of a web server. More information: <a href="https://www.vanheusden.com/httping" class="uri">https://www.vanheusden.com/httping</a>.</p>
</blockquote>
<ul>
<li>Ping the specified url:</li>
</ul>
<p><code>httping -g {{url}}</code></p>
<ul>
<li>Ping the web server on <code>host</code> and <code>port</code>:</li>
</ul>
<p><code>httping -h {{host}} -p {{port}}</code></p>
<ul>
<li>Ping the web server on <code>host</code> using a TLS connection:</li>
</ul>
<p><code>httping -l -g https://{{host}}</code></p>
<ul>
<li>Ping the web server on <code>host</code> using HTTP basic authentication:</li>
</ul>
<p><code>httping -g http://{{host}} -U {{username}} -P {{password}}</code></p>
