<h1 id="hub">hub</h1>
<blockquote>
<p>A wrapper for git that adds commands for working with GitHub-based projects. If set up as instructed by <code>hub alias</code>, one can use <code>git</code> to run <code>hub</code> commands. More information: <a href="https://hub.github.com" class="uri">https://hub.github.com</a>.</p>
</blockquote>
<ul>
<li>Clone a repository you own, using just the repository name rather than the full URL:</li>
</ul>
<p><code>hub clone {{repo_name}}</code></p>
<ul>
<li>Clone another user’s repository, using their github username and the repository name:</li>
</ul>
<p><code>hub clone {{username}}/{{repo_name}}</code></p>
<ul>
<li>Create a fork of the current repository (cloned from another user) under your github profile:</li>
</ul>
<p><code>hub fork</code></p>
<ul>
<li>Push the current local branch to github and create a PR for it in the original repository:</li>
</ul>
<p><code>hub push {{remote_name}} &amp;&amp; hub pull-request</code></p>
<ul>
<li>Create a PR of the current (already pushed) branch, reusing the message from the first commit:</li>
</ul>
<p><code>hub pull-request --no-edit</code></p>
<ul>
<li>Create a new branch with the contents of a pull request and switch to it:</li>
</ul>
<p><code>hub pr checkout {{pr_number}}</code></p>
<ul>
<li>Upload the current (local-only) repository to your github account:</li>
</ul>
<p><code>hub create</code></p>
