<h1 id="hugo">hugo</h1>
<blockquote>
<p>Template-based static site generator. Uses modules, components, and themes. More information: <a href="https://gohugo.io" class="uri">https://gohugo.io</a>.</p>
</blockquote>
<ul>
<li>Create a new Hugo site:</li>
</ul>
<p><code>hugo new site {{path/to/site}}</code></p>
<ul>
<li>Create a new Hugo theme (themes may also be downloaded from https://themes.gohugo.io/):</li>
</ul>
<p><code>hugo new theme {{theme_name}}</code></p>
<ul>
<li>Create a new page:</li>
</ul>
<p><code>hugo new {{section_name}}/{{filename}}</code></p>
<ul>
<li>Build a site to the <code>./public/</code> directory:</li>
</ul>
<p><code>hugo</code></p>
<ul>
<li>Build a site including pages that are marked as a “draft”:</li>
</ul>
<p><code>hugo --buildDrafts</code></p>
<ul>
<li>Build a site to a given directory:</li>
</ul>
<p><code>hugo --destination {{path/to/destination}}</code></p>
<ul>
<li>Build a site, start up a webserver to serve it, and automatically reload when pages are edited:</li>
</ul>
<p><code>hugo server</code></p>
