<h1 id="hyperfine">hyperfine</h1>
<blockquote>
<p>A command-line benchmarking tool. More information: <a href="https://github.com/sharkdp/hyperfine/" class="uri">https://github.com/sharkdp/hyperfine/</a>.</p>
</blockquote>
<ul>
<li>Run a basic benchmark, performing at least 10 runs:</li>
</ul>
<p><code>hyperfine '{{make}}'</code></p>
<ul>
<li>Run a comparative benchmark:</li>
</ul>
<p><code>hyperfine '{{make target1}}' '{{make target2}}'</code></p>
<ul>
<li>Change minimum number of benchmarking runs:</li>
</ul>
<p><code>hyperfine --min-runs {{7}} '{{make}}'</code></p>
<ul>
<li>Perform benchmark with warmup:</li>
</ul>
<p><code>hyperfine --warmup {{5}} '{{make}}'</code></p>
<ul>
<li>Run a command before each benchmark run (to clear caches, etc.):</li>
</ul>
<p><code>hyperfine --prepare '{{make clean}}' '{{make}}'</code></p>
<ul>
<li>Run a benchmark where a single parameter changes for each run:</li>
</ul>
<p><code>hyperfine --prepare '{{make clean}}' --parameter-scan {{num_threads}} {{1}} {{10}} '{{make -j {num_threads}}}'</code></p>
