<h1 id="iconv">iconv</h1>
<blockquote>
<p>Converts text from one encoding to another.</p>
</blockquote>
<ul>
<li>Convert file to a specific encoding, and print to <code>stdout</code>:</li>
</ul>
<p><code>iconv -f {{from_encoding}} -t {{to_encoding}} {{input_file}}</code></p>
<ul>
<li>Convert file to the current locale’s encoding, and output to a file:</li>
</ul>
<p><code>iconv -f {{from_encoding}} {{input_file}} &gt; {{output_file}}</code></p>
<ul>
<li>List supported encodings:</li>
</ul>
<p><code>iconv -l</code></p>
