<h1 id="id">id</h1>
<blockquote>
<p>Display current user and group identity.</p>
</blockquote>
<ul>
<li>Display current user’s id (UID), group id (GID) and groups to which they belong:</li>
</ul>
<p><code>id</code></p>
<ul>
<li>Display the current user identity as a number:</li>
</ul>
<p><code>id -u</code></p>
<ul>
<li>Display the current group identity as a number:</li>
</ul>
<p><code>id -g</code></p>
<ul>
<li>Display an arbitrary user’s id (UID), group id (GID) and groups to which they belong:</li>
</ul>
<p><code>id {{username}}</code></p>
