<h1 id="id3tag">id3tag</h1>
<blockquote>
<p>Tool for reading, writing, and manipulating ID3v1 and ID3v2 tags of MP3 files.</p>
</blockquote>
<ul>
<li>Set artist and title tag of an MP3 file:</li>
</ul>
<p><code>id3tag --artist={{artist}} --title={{title}} {{path/to/file.mp3}}</code></p>
<ul>
<li>Set album title of all MP3 files in the current directory:</li>
</ul>
<p><code>id3tag --album={{album}} {{*.mp3}}</code></p>
<ul>
<li>Get more help:</li>
</ul>
<p><code>id3tag --help</code></p>
