<h1 id="if">if</h1>
<blockquote>
<p>Simple shell conditional.</p>
</blockquote>
<ul>
<li>Echo a different thing depending on a command’s success:</li>
</ul>
<p><code>{{command}} &amp;&amp; echo "success" || echo "failure"</code></p>
<ul>
<li>Full if syntax:</li>
</ul>
<p><code>if {{condition}}; then echo "true"; else echo "false"; fi</code></p>
<ul>
<li>List available if conditions:</li>
</ul>
<p><code>help test</code></p>
<ul>
<li>Test if a given variable is empty:</li>
</ul>
<p><code>if [[ -z $GIT_BRANCH ]]; then echo "true"; else echo "false"; fi</code></p>
<ul>
<li>Test if a file exists:</li>
</ul>
<p><code>if [[ -e {{filename}} ]]; then echo "true"; else echo "false"; fi</code></p>
<ul>
<li>If directory not exists:</li>
</ul>
<p><code>if [[ ! -d {{path/to/directory}} ]]; then echo "true"; else echo "false"; fi</code></p>
