<h1 id="ifconfig">ifconfig</h1>
<blockquote>
<p>Network Interface Configurator.</p>
</blockquote>
<ul>
<li>View network settings of an ethernet adapter:</li>
</ul>
<p><code>ifconfig eth0</code></p>
<ul>
<li>Display details of all interfaces, including disabled interfaces:</li>
</ul>
<p><code>ifconfig -a</code></p>
<ul>
<li>Disable eth0 interface:</li>
</ul>
<p><code>ifconfig eth0 down</code></p>
<ul>
<li>Enable eth0 interface:</li>
</ul>
<p><code>ifconfig eth0 up</code></p>
<ul>
<li>Assign IP address to eth0 interface:</li>
</ul>
<p><code>ifconfig eth0 {{ip_address}}</code></p>
