<h1 id="ignite">ignite</h1>
<blockquote>
<p>A CLI for React Native boilerplates, plugins, generators, and more. More information: <a href="https://infinite.red/ignite" class="uri">https://infinite.red/ignite</a>.</p>
</blockquote>
<ul>
<li>Create a new React Native project:</li>
</ul>
<p><code>ignite new {{project_name}}</code></p>
<ul>
<li>Generate file from a plugin:</li>
</ul>
<p><code>ignite generate {{plugin_name}} {{file_name}}</code></p>
<ul>
<li>Add an Ignite plugin to the project:</li>
</ul>
<p><code>ignite add {{plugin_name}}</code></p>
<ul>
<li>Remove an Ignite plugin from the project:</li>
</ul>
<p><code>ignite remove {{plugin_name}}</code></p>
