<h1 id="imapsync">imapsync</h1>
<blockquote>
<p>Email IMAP tool for syncing, copying and migrating email mailboxes between two imap servers, one way, and without duplicates. More information: <a href="https://imapsync.lamiral.info" class="uri">https://imapsync.lamiral.info</a>.</p>
</blockquote>
<ul>
<li>Synchronize imap account between host1 and host2:</li>
</ul>
<p><code>imapsync --host1 {{host1}} --user1 {{user1}} --password1 {{secret1}} --host2 {{host2}} --user2 {{user2}} --password2 {{secret2}}</code></p>
