<h1 id="import">import</h1>
<blockquote>
<p>Capture some or all of an X server screen, and save the image to a file. Part of the ImageMagick library.</p>
</blockquote>
<ul>
<li>Capture the entire X server screen in the PostScript image format:</li>
</ul>
<p><code>import -window root {{output.postscript}}</code></p>
<ul>
<li>Capture contents of a remote X server screen in the PNG image format:</li>
</ul>
<p><code>import -window root -display {{remote_host}}:{screen}.{display} {{output.png}}</code></p>
<ul>
<li>Capture a specific window, given its ID as displayed by <code>xwininfo</code>, into the JPEG format:</li>
</ul>
<p><code>import -window {{window_id}} {{output.jpg}}</code></p>
