<h1 id="in2csv">in2csv</h1>
<blockquote>
<p>Converts various tabular data formats into CSV. Included in csvkit. More information: <a href="https://csvkit.readthedocs.io/en/latest/scripts/in2csv.html" class="uri">https://csvkit.readthedocs.io/en/latest/scripts/in2csv.html</a>.</p>
</blockquote>
<ul>
<li>Convert an XLS file to CSV:</li>
</ul>
<p><code>in2csv {{data.xls}}</code></p>
<ul>
<li>Convert a DBF file to a CSV file:</li>
</ul>
<p><code>in2csv {{data.dbf}} &gt; {{data.csv}}</code></p>
<ul>
<li>Convert a specific sheet from an XLSX file to CSV:</li>
</ul>
<p><code>in2csv --sheet={{sheet_name}} {{data.xlsx}}</code></p>
<ul>
<li>Pipe a JSON file to in2csv:</li>
</ul>
<p><code>cat {{data.json}} | in2csv -f json &gt; {{data.csv}}</code></p>
