<h1 id="infection">infection</h1>
<blockquote>
<p>A mutation testing framework for PHP. More information: <a href="https://infection.github.io" class="uri">https://infection.github.io</a>.</p>
</blockquote>
<ul>
<li>Analyse code using the configuration file (or create one if it does not exist):</li>
</ul>
<p><code>infection</code></p>
<ul>
<li>Use a specific number of threads:</li>
</ul>
<p><code>infection --threads {{number_of_threads}}</code></p>
<ul>
<li>Specify a minimum Mutation Score Indicator (MSI):</li>
</ul>
<p><code>infection --min-msi {{percentage}}</code></p>
<ul>
<li>Specify a minimum covered code MSI:</li>
</ul>
<p><code>infection --min-covered-msi {{percentage}}</code></p>
<ul>
<li>Use a specific test framework (defaults to phpunit):</li>
</ul>
<p><code>infection --test-framework {{phpunit|phpspec}}</code></p>
<ul>
<li>Only mutate lines of code that are covered by tests:</li>
</ul>
<p><code>infection --only-covered</code></p>
<ul>
<li>Display the mutation code that has been applied:</li>
</ul>
<p><code>infection --show-mutations</code></p>
<ul>
<li>Specify the log verbosity:</li>
</ul>
<p><code>infection --log-verbosity {{default|all|none}}</code></p>
