<h1 id="influx">influx</h1>
<blockquote>
<p>InfluxDB command-line client. More information: <a href="https://docs.influxdata.com/influxdb/v1.7/tools/shell/" class="uri">https://docs.influxdata.com/influxdb/v1.7/tools/shell/</a>.</p>
</blockquote>
<ul>
<li>Connect to an InfluxDB running on localhost with no credentials:</li>
</ul>
<p><code>influx</code></p>
<ul>
<li>Connect with a specific username (will prompt for a password):</li>
</ul>
<p><code>influx -username {{username}} -password ""</code></p>
<ul>
<li>Connect to a specific host:</li>
</ul>
<p><code>influx -host {{hostname}}</code></p>
<ul>
<li>Use a specific database:</li>
</ul>
<p><code>influx -database {{database_name}}</code></p>
<ul>
<li>Execute a given command:</li>
</ul>
<p><code>influx -execute "{{influxql_command}}"</code></p>
<ul>
<li>Return output in a specific format:</li>
</ul>
<p><code>influx -execute "{{influxql_command}}" -format {{json|csv|column}}</code></p>
