<h1 id="info">info</h1>
<blockquote>
<p>Reads documentation stored in the info format. More information: <a href="https://en.wikipedia.org/wiki/Info_(Unix)" class="uri">https://en.wikipedia.org/wiki/Info_(Unix)</a>.</p>
</blockquote>
<ul>
<li>Start reading top-level directory menu:</li>
</ul>
<p><code>info</code></p>
<ul>
<li>Start reading at given menu item node from top-level directory:</li>
</ul>
<p><code>info {{menu_item}}</code></p>
<ul>
<li>Start reading at second menu item within first menu item manual:</li>
</ul>
<p><code>info {{first_menu_item}} {{second_menu_item}}</code></p>
