<h1 id="inkscape">inkscape</h1>
<blockquote>
<p>An SVG (Scalable Vector Graphics) editing program. Use -z to not open the GUI and only process files in the console. More information: <a href="https://inkscape.org" class="uri">https://inkscape.org</a>.</p>
</blockquote>
<ul>
<li>Open an SVG file in the Inkscape GUI:</li>
</ul>
<p><code>inkscape {{filename.svg}}</code></p>
<ul>
<li>Export an SVG file into a bitmap with the default format (PNG) and the default resolution (90 DPI):</li>
</ul>
<p><code>inkscape {{filename.svg}} -e {{filename.png}}</code></p>
<ul>
<li>Export an SVG file into a bitmap of 600x400 pixels (aspect ratio distortion may occur):</li>
</ul>
<p><code>inkscape {{filename.svg}} -e {{filename.png}} -w {{600}} -h {{400}}</code></p>
<ul>
<li>Export a single object, given its ID, into a bitmap:</li>
</ul>
<p><code>inkscape {{filename.svg}} -i {{id}} -e {{object.png}}</code></p>
<ul>
<li>Export an SVG document to PDF, converting all texts to paths:</li>
</ul>
<p><code>inkscape {{filename.svg}} --export-pdf={{filename.pdf}} --export-text-to-path</code></p>
<ul>
<li>Duplicate the object with id=“path123”, rotate the duplicate 90 degrees, save the file, and quit Inkscape:</li>
</ul>
<p><code>inkscape {{filename.svg}} --select=path123 --verb=EditDuplicate --verb=ObjectRotate90 --verb=FileSave --verb=FileQuit</code></p>
