<h1 id="inkview">inkview</h1>
<blockquote>
<p>Inkscape graphical SVG previewer. Also functions as a slideshow viewer. More information: <a href="http://wiki.inkscape.org/wiki/index.php/Inkview" class="uri">http://wiki.inkscape.org/wiki/index.php/Inkview</a>.</p>
</blockquote>
<ul>
<li>Preview an SVG:</li>
</ul>
<p><code>inkview {{path/to/file.svg}}</code></p>
<ul>
<li>Preview multiple SVGs (use arrow keys to navigate):</li>
</ul>
<p><code>inkview {{path/to/file_a.svg}} {{path/to/file_b.svg}} {{path/to/file_c.svg}}</code></p>
