<h1 id="install">install</h1>
<blockquote>
<p>Copy files and set attributes. Copy files (often executable) to a system location like <code>/usr/local/bin</code>, give them the appropriate permissions/ownership.</p>
</blockquote>
<ul>
<li>Copy files to destination:</li>
</ul>
<p><code>install {{path/to/source}} {{path/to/destination}}</code></p>
<ul>
<li>Copy files to destination, setting their ownership:</li>
</ul>
<p><code>install -o {{user}} {{path/to/source}} {{path/to/destination}}</code></p>
<ul>
<li>Copy files to destination, setting their group ownership:</li>
</ul>
<p><code>install -g {{user}} {{path/to/source}} {{path/to/destination}}</code></p>
<ul>
<li>Copy files to destination, setting their <code>mode</code>:</li>
</ul>
<p><code>install -m {{+x}} {{path/to/source}} {{path/to/destination}}</code></p>
<ul>
<li>Copy files and apply access/modification times of source to destination:</li>
</ul>
<p><code>install -p {{path/to/source}} {{path/to/destination}}</code></p>
