<h1 id="ionic">ionic</h1>
<blockquote>
<p>A framework to build hybrid mobile apps. More information: <a href="https://ionicframework.com/docs/cli" class="uri">https://ionicframework.com/docs/cli</a>.</p>
</blockquote>
<ul>
<li>Create a new project:</li>
</ul>
<p><code>ionic start</code></p>
<ul>
<li>Start a local dev server for app dev/testing:</li>
</ul>
<p><code>ionic serve</code></p>
<ul>
<li>Generate new app component, directive, page, pipe, provider or tabs:</li>
</ul>
<p><code>ionic g {{page}}</code></p>
<ul>
<li>Show versions of ionic, cordova, environment, etc.:</li>
</ul>
<p><code>ionic info</code></p>
<ul>
<li>Run app on an android/ios device:</li>
</ul>
<p><code>ionic cordova run {{android|ios}} --device</code></p>
<ul>
<li>Check the health of a ionic app:</li>
</ul>
<p><code>ionic doctor {{check}}</code></p>
