<h1 id="ionice">ionice</h1>
<blockquote>
<p>Get or set program I/O scheduling class and priority. Scheduling classes: 1 (realtime), 2 (best-effort), 3 (idle). Priority levels: 0 (the highest) - 7 (the lowest).</p>
</blockquote>
<ul>
<li>Set I/O scheduling class of a running process:</li>
</ul>
<p><code>ionice -c {{scheduling_class}} -p {{pid}}</code></p>
<ul>
<li>Run a command with custom I/O scheduling class and priority:</li>
</ul>
<p><code>ionice -c {{scheduling_class}} -n {{priority}} {{command}}</code></p>
<ul>
<li>Print the I/O scheduling class and priority of a running process:</li>
</ul>
<p><code>ionice -p {{pid}}</code></p>
