<h1 id="iotop">iotop</h1>
<blockquote>
<p>Display a table of current I/O usage by processes or threads. More information: <a href="https://linux.die.net/man/1/iotop" class="uri">https://linux.die.net/man/1/iotop</a>.</p>
</blockquote>
<ul>
<li>Start top-like I/O monitor:</li>
</ul>
<p><code>iotop</code></p>
<ul>
<li>Show only processes or threads actually doing I/O:</li>
</ul>
<p><code>iotop -o</code></p>
<ul>
<li>Show I/O usage in non-interactive mode:</li>
</ul>
<p><code>iotop -b</code></p>
<ul>
<li>Show only I/O usage of processes(Default is to show all threads):</li>
</ul>
<p><code>iotop -P</code></p>
<ul>
<li>Show I/O usage of given PID(s):</li>
</ul>
<p><code>iotop -p {{PID}}</code></p>
<ul>
<li>Show I/O usage of a given user:</li>
</ul>
<p><code>iotop -u {{user}}</code></p>
<ul>
<li>Show accumulated I/O instead of bandwidth:</li>
</ul>
<p><code>iotop -a</code></p>
