<h1 id="iperf">iperf</h1>
<blockquote>
<p>Measure network bandwidth between computers. More information: <a href="https://iperf.fr" class="uri">https://iperf.fr</a>.</p>
</blockquote>
<ul>
<li>Run on server:</li>
</ul>
<p><code>iperf -s</code></p>
<ul>
<li>Run on client:</li>
</ul>
<p><code>iperf -c {{server_address}}</code></p>
<ul>
<li>Run on client with 5 parallel threads:</li>
</ul>
<p><code>iperf -c {{server_address}} -P {{5}}</code></p>
