<h1 id="iperf3">iperf3</h1>
<blockquote>
<p>Traffic generator for testing network bandwidth. More information: <a href="https://iperf.fr" class="uri">https://iperf.fr</a>.</p>
</blockquote>
<ul>
<li>Run iperf3 as a server:</li>
</ul>
<p><code>iperf3 -s</code></p>
<ul>
<li>Run an iperf3 server on a specific port:</li>
</ul>
<p><code>iperf3 -s -p {{port}}</code></p>
<ul>
<li>Start bandwidth test:</li>
</ul>
<p><code>iperf3 -c {{server}}</code></p>
<ul>
<li>Run iperf3 in multiple parallel streams:</li>
</ul>
<p><code>iperf3 -c {{server}} -P {{streams}}</code></p>
<ul>
<li>Reverse direction of the test. Server sends data to the client:</li>
</ul>
<p><code>iperf3 -c {{server}} -R</code></p>
