<h1 id="ipfs">ipfs</h1>
<blockquote>
<p>Inter Planetary File System. A peer-to-peer hypermedia protocol. Aims to make the web more open. More information: <a href="https://ipfs.io" class="uri">https://ipfs.io</a>.</p>
</blockquote>
<ul>
<li>Add a file from local to the file system, pin it and print the relative hash:</li>
</ul>
<p><code>ipfs add {{filename}}</code></p>
<ul>
<li>Add a directory and its files recursively from local to the file system and print the relative hash:</li>
</ul>
<p><code>ipfs add -r {{directory}}</code></p>
<ul>
<li>Save a remote file and give it a name but not pin it:</li>
</ul>
<p><code>ipfs get {{hash}} -o {{filename}}</code></p>
<ul>
<li>Pin a remote file locally:</li>
</ul>
<p><code>ipfs pin add {{hash}}</code></p>
<ul>
<li>Display pinned files:</li>
</ul>
<p><code>ipfs pin ls</code></p>
<ul>
<li>Unpin a file from the local storage:</li>
</ul>
<p><code>ipfs pin rm {{hash}}</code></p>
<ul>
<li>Remove unpinned files from local storage:</li>
</ul>
<p><code>ipfs repo gc</code></p>
