<h1 id="irssi">irssi</h1>
<blockquote>
<p>Text based IRC client. More information: <a href="https://irssi.org" class="uri">https://irssi.org</a>.</p>
</blockquote>
<ul>
<li>Open irssi and connect to a server with a nickname:</li>
</ul>
<p><code>irssi -n {{nickname}} -c {{irc.example.com}}</code></p>
<ul>
<li>Open irssi and connect with a specific server on a given port:</li>
</ul>
<p><code>irssi -c {{irc.example.com}} -p {{port}}</code></p>
<ul>
<li>View the help:</li>
</ul>
<p><code>irssi --help</code></p>
<ul>
<li>Join a channel:</li>
</ul>
<p><code>/join {{#channelname}}</code></p>
<ul>
<li>Change active window (starts at 1):</li>
</ul>
<p><code>/win {{window_number}}</code></p>
<ul>
<li>Exit the application cleanly and quitting any server(s):</li>
</ul>
<p><code>/quit</code></p>
