<h1 id="is-up">is-up</h1>
<blockquote>
<p>Check whether a website is up or down. More information: <a href="https://github.com/sindresorhus/is-up-cli" class="uri">https://github.com/sindresorhus/is-up-cli</a>.</p>
</blockquote>
<ul>
<li>Check the status of the specified website:</li>
</ul>
<p><code>is-up {{example.com}}</code></p>
