<h1 id="iverilog">iverilog</h1>
<blockquote>
<p>Preprocesses and compiles Verilog HDL (IEEE-1364) code, into executable programs for simulation. More information: <a href="http://iverilog.icarus.com/" class="uri">http://iverilog.icarus.com/</a>.</p>
</blockquote>
<ul>
<li>Compile a source file into an executable:</li>
</ul>
<p><code>iverilog {{source.v}} -o {{executable}}</code></p>
<ul>
<li>Also display all warnings:</li>
</ul>
<p><code>iverilog {{source.v}} -Wall -o {{executable}}</code></p>
<ul>
<li>Compile and run explicitly using the VVP runtime:</li>
</ul>
<p><code>iverilog -o {{execuable}} -tvvp {{source.v}}</code></p>
<ul>
<li>Compile using Verilog library files from a different path:</li>
</ul>
<p><code>iverilog {{source.v}} -o {{executable}} -I{{path/to/library_directory}}</code></p>
<ul>
<li>Preprocess Verilog code without compiling:</li>
</ul>
<p><code>iverilog -E {{source.v}}</code></p>
