<h1 id="jar">jar</h1>
<blockquote>
<p>Java Applications/Libraries Packager. More information: <a href="https://docs.oracle.com/javase/tutorial/deployment/jar/basicsindex.html" class="uri">https://docs.oracle.com/javase/tutorial/deployment/jar/basicsindex.html</a>.</p>
</blockquote>
<ul>
<li>Unzip .jar/.war file to the current directory:</li>
</ul>
<p><code>jar -xvf {{file.jar}}</code></p>
<ul>
<li>List a .jar/.war file content:</li>
</ul>
<p><code>jar tf {{path/to/file.jar}}</code></p>
<ul>
<li>List a .jar/.war file content with verbose output:</li>
</ul>
<p><code>jar tvf {{path/to/file.jar}}</code></p>
