<h1 id="jarsigner">jarsigner</h1>
<blockquote>
<p>Sign and verify Java Archive (JAR) files. More information: <a href="https://docs.oracle.com/javase/9/tools/jarsigner.htm" class="uri">https://docs.oracle.com/javase/9/tools/jarsigner.htm</a>.</p>
</blockquote>
<ul>
<li>Sign a JAR file:</li>
</ul>
<p><code>jarsigner {{path/to/file.jar}} {{keystore_alias}}</code></p>
<ul>
<li>Sign a JAR file with a specific algorithm:</li>
</ul>
<p><code>jarsigner -sigalg {{algorithm}} {{path/to/file.jar}} {{keystore_alias}}</code></p>
<ul>
<li>Verify the signature of a JAR file:</li>
</ul>
<p><code>jarsigner -verify {{path/to/file.jar}}</code></p>
