<h1 id="javac">javac</h1>
<blockquote>
<p>Java Application Compiler.</p>
</blockquote>
<ul>
<li>Compile a .java file:</li>
</ul>
<p><code>javac {{file.java}}</code></p>
<ul>
<li>Compile several .java files:</li>
</ul>
<p><code>javac {{file1.java}} {{file2.java}} {{file3.java}}</code></p>
<ul>
<li>Compile all .java files in current directory:</li>
</ul>
<p><code>javac {{*.java}}</code></p>
<ul>
<li>Compile a .java file and place the resulting class file in a specific directory:</li>
</ul>
<p><code>javac -d {{path/to/some/directory}} {{file.java}}</code></p>
