<h1 id="java">java</h1>
<blockquote>
<p>Java Application Launcher. More information: <a href="https://java.com" class="uri">https://java.com</a>.</p>
</blockquote>
<ul>
<li>Execute a java .class file that contains a main method by using just the class name:</li>
</ul>
<p><code>java {{classname}}</code></p>
<ul>
<li>Execute a .jar program:</li>
</ul>
<p><code>java -jar {{filename.jar}}</code></p>
<ul>
<li>Display JDK, JRE and HotSpot versions:</li>
</ul>
<p><code>java -version</code></p>
<ul>
<li>Display usage information for the java command:</li>
</ul>
<p><code>java -help</code></p>
