<h1 id="jest">jest</h1>
<blockquote>
<p>A zero-configuration JavaScript testing platform. More information: <a href="https://jestjs.io" class="uri">https://jestjs.io</a>.</p>
</blockquote>
<ul>
<li>Run all available tests:</li>
</ul>
<p><code>jest</code></p>
<ul>
<li>Run the test suites from files whose paths match the given regex patterns:</li>
</ul>
<p><code>jest {{test_file1}} {{path/to/test_file2.js}}</code></p>
<ul>
<li>Run the tests whose names match the given regex pattern:</li>
</ul>
<p><code>jest --testNamePattern {{spec_name}}</code></p>
<ul>
<li>Run test suites related to a given source file:</li>
</ul>
<p><code>jest --findRelatedTests {{path/to/source_file.js}}</code></p>
<ul>
<li>Run test suites related to all uncommitted files:</li>
</ul>
<p><code>jest --onlyChanged</code></p>
<ul>
<li>Watch files for changes and automatically re-run related tests:</li>
</ul>
<p><code>jest --watch</code></p>
<ul>
<li>Show help:</li>
</ul>
<p><code>jest --help</code></p>
