<h1 id="jhat">jhat</h1>
<blockquote>
<p>Java Heap Analysis Tool.</p>
</blockquote>
<ul>
<li>Analyze a heap dump (from jmap), view via http on port 7000:</li>
</ul>
<p><code>jhat {{dump_file.bin}}</code></p>
<ul>
<li>Analyze a heap dump, specifying an alternate port for the http server:</li>
</ul>
<p><code>jhat -p {{port}} {{dump_file.bin}}</code></p>
<ul>
<li>Analyze a dump letting jhat use up to 8GB RAM (2-4x dump size recommended):</li>
</ul>
<p><code>jhat -J-mx8G {{dump_file.bin}}</code></p>
