<h1 id="jigsaw">jigsaw</h1>
<blockquote>
<p>A Laravel-based static site builder for PHP. More information: <a href="https://jigsaw.tighten.co" class="uri">https://jigsaw.tighten.co</a>.</p>
</blockquote>
<ul>
<li>Initialise a project:</li>
</ul>
<p><code>jigsaw init</code></p>
<ul>
<li>Initialise a project using a starter template:</li>
</ul>
<p><code>jigsaw init {{template_name}}</code></p>
<ul>
<li>Build the site for development:</li>
</ul>
<p><code>jigsaw build</code></p>
<ul>
<li>Preview the site from the “build_local” directory:</li>
</ul>
<p><code>jigsaw serve</code></p>
<ul>
<li>Build the site for production:</li>
</ul>
<p><code>jigsaw build production</code></p>
<ul>
<li>Preview the site from the “build_production” directory:</li>
</ul>
<p><code>jigsaw serve {{build_production}}</code></p>
