<h1 id="jmap">jmap</h1>
<blockquote>
<p>Java Memory Map Tool.</p>
</blockquote>
<ul>
<li>Print shared object mappings for a java process (output like pmap):</li>
</ul>
<p><code>jmap {{java_pid}}</code></p>
<ul>
<li>Print heap summary information:</li>
</ul>
<p><code>jmap -heap {{filename.jar}} {{java_pid}}</code></p>
<ul>
<li>Print histogram of heap usage by type:</li>
</ul>
<p><code>jmap -histo {{java_pid}}</code></p>
<ul>
<li>Dump contents of the heap into a binary file for analysis with jhat:</li>
</ul>
<p><code>jmap -dump:format=b,file={{filename}} {{java_pid}}</code></p>
