<h1 id="jobs">jobs</h1>
<blockquote>
<p>Display status of jobs in the current session.</p>
</blockquote>
<ul>
<li>Show status of all jobs:</li>
</ul>
<p><code>jobs</code></p>
<ul>
<li>Show status of a particular job:</li>
</ul>
<p><code>jobs {{job_id}}</code></p>
<ul>
<li>Show status and process IDs of all jobs:</li>
</ul>
<p><code>jobs -l</code></p>
<ul>
<li>Show process IDs of all jobs:</li>
</ul>
<p><code>jobs -p</code></p>
