<h1 id="join">join</h1>
<blockquote>
<p>Join lines of two sorted files on a common field.</p>
</blockquote>
<ul>
<li>Join two files on the first (default) field:</li>
</ul>
<p><code>join {{file1}} {{file2}}</code></p>
<ul>
<li>Join two files using a comma (instead of a space) as the field separator:</li>
</ul>
<p><code>join -t {{','}} {{file1}} {{file2}}</code></p>
<ul>
<li>Join field3 of file1 with field1 of file2:</li>
</ul>
<p><code>join -1 {{3}} -2 {{1}} {{file1}} {{file2}}</code></p>
<ul>
<li>Produce a line for each unpairable line for file1:</li>
</ul>
<p><code>join -a {{1}} {{file1}} {{file2}}</code></p>
