<h1 id="jpegoptim">jpegoptim</h1>
<blockquote>
<p>Optimise JPEG images. More information: <a href="https://github.com/tjko/jpegoptim" class="uri">https://github.com/tjko/jpegoptim</a>.</p>
</blockquote>
<ul>
<li>Optimise a set of JPEG images, retaining all associated data:</li>
</ul>
<p><code>jpegoptim {{image1.jpeg}} {{image2.jpeg}} {{imageN.jpeg}}</code></p>
<ul>
<li>Optimise JPEG images, stripping all non-essential data:</li>
</ul>
<p><code>jpegoptim --strip-all {{image1.jpeg}} {{image2.jpeg}} {{imageN.jpeg}}</code></p>
<ul>
<li>Force the output images to be progressive:</li>
</ul>
<p><code>jpegoptim --all-progressive {{image1.jpeg}} {{image2.jpeg}} {{imageN.jpeg}}</code></p>
<ul>
<li>Force the output images to have a fixed maximum filesize:</li>
</ul>
<p><code>jpegoptim --size={{250k}} {{image1.jpeg}} {{image2.jpeg}} {{imageN.jpeg}}</code></p>
