<h1 id="jq">jq</h1>
<blockquote>
<p>A lightweight and flexible command-line JSON processor. More information: <a href="https://stedolan.github.io/jq" class="uri">https://stedolan.github.io/jq</a>.</p>
</blockquote>
<ul>
<li>Output a JSON file, in pretty-print format:</li>
</ul>
<p><code>jq . {{file.json}}</code></p>
<ul>
<li>Output all elements from arrays (or all key-value pairs from objects) in a JSON file:</li>
</ul>
<p><code>jq '.[]' {{file.json}}</code></p>
<ul>
<li>Read JSON objects from a file into an array, and output it (inverse of <code>jq .[]</code>):</li>
</ul>
<p><code>jq --slurp . {{file.json}}</code></p>
<ul>
<li>Output the first element in a JSON file:</li>
</ul>
<p><code>jq '.[0]' {{file.json}}</code></p>
<ul>
<li>Output the value of a given key of the first element in a JSON text from <code>stdin</code>:</li>
</ul>
<p><code>cat {{file.json}} | jq '.[0].{{key_name}}'</code></p>
<ul>
<li>Output the value of a given key of each element in a JSON text from <code>stdin</code>:</li>
</ul>
<p><code>cat {{file.json}} | jq 'map(.{{key_name}})'</code></p>
<ul>
<li>Combine multiple filters:</li>
</ul>
<p><code>cat {{file.json}} | jq 'unique | sort | reverse'</code></p>
<ul>
<li>Output the value of a given key to a string (and disable JSON output):</li>
</ul>
<p><code>cat {{file.json}} | jq --raw-output '"some text: \(.{{key_name}})"'</code></p>
