<h1 id="jrnl">jrnl</h1>
<blockquote>
<p>A simple journal application for your command line. More information: <a href="http://jrnl.sh" class="uri">http://jrnl.sh</a>.</p>
</blockquote>
<ul>
<li>Insert a new entry with your editor:</li>
</ul>
<p><code>jrnl</code></p>
<ul>
<li>Quickly insert a new entry:</li>
</ul>
<p><code>jrnl {{today at 3am}}: {{title}}. {{content}}</code></p>
<ul>
<li>View the last ten entries:</li>
</ul>
<p><code>jrnl -n {{10}}</code></p>
<ul>
<li>View everything that happened from the start of last year to the start of last march:</li>
</ul>
<p><code>jrnl -from {{"last year"}} -until {{march}}</code></p>
<ul>
<li>Edit all entries tagged with “texas” and “history”:</li>
</ul>
<p><code>jrnl {{@texas}} -and {{@history}} --edit</code></p>
