<h1 id="json5">json5</h1>
<blockquote>
<p>A command-line tool for converting JSON5 files to JSON. More information: <a href="https://json5.org" class="uri">https://json5.org</a>.</p>
</blockquote>
<ul>
<li>Convert JSON5 stdin to JSON <code>stdout</code>:</li>
</ul>
<p><code>echo {{input}} | json5</code></p>
<ul>
<li>Convert a JSON5 file to JSON and output to <code>stdout</code>:</li>
</ul>
<p><code>json5 {{path/to/input_file.json5}}</code></p>
<ul>
<li>Convert a JSON5 file to the specified JSON file:</li>
</ul>
<p><code>json5 {{path/to/input_file.json5}} --out-file {{path/to/output_file.json}}</code></p>
<ul>
<li>Validate a JSON5 file:</li>
</ul>
<p><code>json5 {{path/to/input_file.json5}} --validate</code></p>
<ul>
<li>Specify the number of spaces to indent by (or “t” for tabs):</li>
</ul>
<p><code>json5 --space {{indent_amount}}</code></p>
<ul>
<li>View available options:</li>
</ul>
<p><code>json5 --help</code></p>
