<h1 id="jstack">jstack</h1>
<blockquote>
<p>Java Stack Trace Tool.</p>
</blockquote>
<ul>
<li>Print java stack traces for all threads in a java process:</li>
</ul>
<p><code>jstack {{java_pid}}</code></p>
<ul>
<li>Print mixed mode (java/c++) stack traces for all threads in a java process:</li>
</ul>
<p><code>jstack -m {{java_pid}}</code></p>
<ul>
<li>Print stack traces from java core dump:</li>
</ul>
<p><code>jstack {{/usr/bin/java}} {{file.core}}</code></p>
