<h1 id="julia">julia</h1>
<blockquote>
<p>A high-level, high-performance dynamic programming language for technical computing. More information: <a href="https://julialang.org" class="uri">https://julialang.org</a>.</p>
</blockquote>
<ul>
<li>Start a Julia REPL session:</li>
</ul>
<p><code>julia</code></p>
<ul>
<li>Execute a Julia program and exit:</li>
</ul>
<p><code>julia {{program.jl}}</code></p>
<ul>
<li>Execute a Julia program that takes arguments:</li>
</ul>
<p><code>julia {{program.jl}} {{arguments}}</code></p>
<ul>
<li>Evaluate a string containing Julia code:</li>
</ul>
<p><code>julia -e '{{julia_code}}'</code></p>
<ul>
<li>Evaluate a string of Julia code, passing arguments to it:</li>
</ul>
<p><code>julia -e '{{for x in ARGS; println(x); end}}' {{arguments}}</code></p>
<ul>
<li>Start Julia in parallel mode, using N worker processes:</li>
</ul>
<p><code>julia -p {{N}}</code></p>
