<h1 id="jupyter">jupyter</h1>
<blockquote>
<p>Web application to create and share documents that contain code, visualizations and notes. Primarily used for data analysis, scientific computing and machine learning. More information: <a href="https://jupyter.org" class="uri">https://jupyter.org</a>.</p>
</blockquote>
<ul>
<li>Start a Jupyter notebook server in the current directory:</li>
</ul>
<p><code>jupyter notebook</code></p>
<ul>
<li>Open a specific Jupyter notebook:</li>
</ul>
<p><code>jupyter notebook {{example.ipynb}}</code></p>
<ul>
<li>Start a server on a specific port:</li>
</ul>
<p><code>jupyter notebook --port={{port}}</code></p>
<ul>
<li>List currently running notebook servers:</li>
</ul>
<p><code>jupyter notebook list</code></p>
<ul>
<li>Stop the currently running server:</li>
</ul>
<p><code>jupyter notebook stop</code></p>
<ul>
<li>Start JupyterLab, if installed, in the current directory:</li>
</ul>
<p><code>jupyter lab</code></p>
