<h1 id="jwt">jwt</h1>
<blockquote>
<p>A command line tool to work with JSON Web Tokens (JWTs). Encryption algorithms available are HS256,HS384, HS512, RS256, RS384, RS512, ES256, ES384. For more information: <a href="https://github.com/mike-engel/jwt-cli" class="uri">https://github.com/mike-engel/jwt-cli</a>.</p>
</blockquote>
<ul>
<li>Decode a JWT:</li>
</ul>
<p><code>jwt decode {{jwt_string}}</code></p>
<ul>
<li>Decode a JWT as a JSON string:</li>
</ul>
<p><code>jwt decode -j {{jwt_string}}</code></p>
<ul>
<li>Encode a JSON string to a JWT:</li>
</ul>
<p><code>jwt encode --alg {{HS256}} --secret {{1234567890}} '{{json_string}}'</code></p>
<ul>
<li>Encode key pair payload to JWT:</li>
</ul>
<p><code>jwt encode --alg {{HS256}} --secret {{1234567890}} -P key=value</code></p>
