<h1 id="k6">k6</h1>
<blockquote>
<p>A modern load testing tool, using Go and JavaScript. More information: <a href="https://k6.io" class="uri">https://k6.io</a>.</p>
</blockquote>
<ul>
<li>Run load test locally:</li>
</ul>
<p><code>k6 run {{script.js}}</code></p>
<ul>
<li>Run load test locally with a given number of virtual users and duration:</li>
</ul>
<p><code>k6 run --vus {{10}} --duration {{30s}} {{script.js}}</code></p>
<ul>
<li>Run load test locally with a given environment variable:</li>
</ul>
<p><code>k6 run -e {{HOSTNAME=example.com}} {{script.js}}</code></p>
<ul>
<li>Run load test locally using InfluxDB to store results:</li>
</ul>
<p><code>k6 run --out influxdb={{http://localhost:8086/k6db}} {{script.js}}</code></p>
<ul>
<li>Login to cloud service using secret token:</li>
</ul>
<p><code>k6 login cloud --token {{secret}}</code></p>
<ul>
<li>Run load test on cloud infrastructure:</li>
</ul>
<p><code>k6 cloud {{script.js}}</code></p>
