<h1 id="k8s-unused-secret-detector">k8s-unused-secret-detector</h1>
<blockquote>
<p>Command line interface tool for detecting unused Kubernetes secrets. More information: <a href="https://github.com/dtan4/k8s-unused-secret-detector" class="uri">https://github.com/dtan4/k8s-unused-secret-detector</a>.</p>
</blockquote>
<ul>
<li>Detect unused secrets:</li>
</ul>
<p><code>k8s-unused-secret-detector</code></p>
<ul>
<li>Detect unused secrets in a specific namespace:</li>
</ul>
<p><code>k8s-unused-secret-detector -n {{namespace}}</code></p>
<ul>
<li>Delete unused secrets in a specific namespace:</li>
</ul>
<p><code>k8s-unused-secret-detector -n {{namespace}} | kubectl delete secret -n {{namespace}}</code></p>
