<h1 id="k8sec">k8sec</h1>
<blockquote>
<p>Command line interface tool to manage Kubernetes secrets. More information: <a href="https://github.com/dtan4/k8sec" class="uri">https://github.com/dtan4/k8sec</a>.</p>
</blockquote>
<ul>
<li>List all secrets:</li>
</ul>
<p><code>k8sec list</code></p>
<ul>
<li>List a specific secret as a base64-encoded string:</li>
</ul>
<p><code>k8sec list {{secret_name}} --base64</code></p>
<ul>
<li>Set a secret’s value:</li>
</ul>
<p><code>k8sec set {{secret_name}} {{key=value}}</code></p>
<ul>
<li>Set a base64-encoded value:</li>
</ul>
<p><code>k8sec set --base64 {{secret_name}} {{key=encoded_value}}</code></p>
<ul>
<li>Unset a secret:</li>
</ul>
<p><code>k8sec unset {{secret_name}}</code></p>
<ul>
<li>Load secrets from a file:</li>
</ul>
<p><code>k8sec load -f {{path/to/file}} {{secret_name}}</code></p>
<ul>
<li>Dump secrets to a file:</li>
</ul>
<p><code>k8sec dump -f {{path/to/file}} {{secret_name}}</code></p>
