<h1 id="kafkacat">kafkacat</h1>
<blockquote>
<p>Apache Kafka producer and consumer tool. More information: <a href="https://github.com/edenhill/kafkacat" class="uri">https://github.com/edenhill/kafkacat</a>.</p>
</blockquote>
<ul>
<li>Consume messages starting with the newest offset:</li>
</ul>
<p><code>kafkacat -C -t {{topic}} -b {{brokers}}</code></p>
<ul>
<li>Consume messages starting with the oldest offset and exit after the last message is received:</li>
</ul>
<p><code>kafkacat -C -t {{topic}} -b {{brokers}} -o beginning -e</code></p>
<ul>
<li>Consume messages as a Kafka consumer group:</li>
</ul>
<p><code>kafkacat -G {{group_id}} {{topic}} -b {{brokers}}</code></p>
<ul>
<li>Publish message by reading from <code>stdin</code>:</li>
</ul>
<p><code>echo {{message}} | kafkacat -P -t {{topic}} -b {{brokers}}</code></p>
<ul>
<li>Publish messages by reading from a file:</li>
</ul>
<p><code>kafkacat -P -t {{topic}} -b {{brokers}} {{path/to/file}}</code></p>
<ul>
<li>List metadata for all topics and brokers:</li>
</ul>
<p><code>kafkacat -L -b {{brokers}}</code></p>
<ul>
<li>List metadata for a specific topic:</li>
</ul>
<p><code>kafkacat -L -t {{topic}} -b {{brokers}}</code></p>
<ul>
<li>Get offset for a topic/partition for a specific point in time:</li>
</ul>
<p><code>kafkacat -Q -t {{topic}}:{{partition}}:{{unix_timestamp}} -b {{brokers}}</code></p>
