<h1 id="kak">kak</h1>
<blockquote>
<p>Kakoune is a mode-based code editor implementing the “multiple selections” paradigm. Data can be selected and simultaneously edited in different locations, using multiple selections; users can also connect to the same session for collaborative editing. More information: <a href="https://kakoune.org" class="uri">https://kakoune.org</a>.</p>
</blockquote>
<ul>
<li>Open a file and enter normal mode, to execute commands:</li>
</ul>
<p><code>kak {{path/to/file}}</code></p>
<ul>
<li>Enter insert mode from normal mode, to write text into the file:</li>
</ul>
<p><code>i</code></p>
<ul>
<li>Escape insert mode, to go back to normal mode:</li>
</ul>
<p><code>&lt;Escape&gt;</code></p>
<ul>
<li>Replace all instances of “foo” in the current file with “bar”:</li>
</ul>
<p><code>%s{{foo}}&lt;Enter&gt;c{{bar}}&lt;Escape&gt;</code></p>
<ul>
<li>Un-select all secondary selections, and keep only the main one:</li>
</ul>
<p><code>&lt;Space&gt;</code></p>
<ul>
<li>Search for numbers and select the first two:</li>
</ul>
<p><code>/\d+&lt;Enter&gt;N</code></p>
<ul>
<li>Insert the contents of a file:</li>
</ul>
<p><code>!cat {{path/to/file}}&lt;Enter&gt;</code></p>
<ul>
<li>Save the current file:</li>
</ul>
<p><code>:w&lt;Enter&gt;</code></p>
