<h1 id="keepass2">keepass2</h1>
<blockquote>
<p>A light-weight password manager. More information: <a href="https://keepass.info" class="uri">https://keepass.info</a>.</p>
</blockquote>
<ul>
<li>Start KeePass 2, opening the most recently-opened password database:</li>
</ul>
<p><code>keepass2</code></p>
<ul>
<li>Start KeePass 2, opening a specific password database:</li>
</ul>
<p><code>keepass2 {{path/to/database.kbdx}}</code></p>
<ul>
<li>Use a specific key file to open a password database:</li>
</ul>
<p><code>keepass2 {{path/to/database.kbdx}} -keyfile:{{path/to/key/file.key}}</code></p>
