<h1 id="keybase">keybase</h1>
<blockquote>
<p>Key directory that maps social media identities to encryption keys in a publicly auditable manner. More information: <a href="https://keybase.io/docs/command_line" class="uri">https://keybase.io/docs/command_line</a>.</p>
</blockquote>
<ul>
<li>Follow another user:</li>
</ul>
<p><code>keybase follow {{username}}</code></p>
<ul>
<li>Add a new proof:</li>
</ul>
<p><code>keybase prove {{service}} {{service_username}}</code></p>
<ul>
<li>Sign a file:</li>
</ul>
<p><code>keybase sign --infile {{input_file}} --outfile {{output_file}}</code></p>
<ul>
<li>Verify a signed file:</li>
</ul>
<p><code>keybase verify --infile {{input_file}} --outfile {{output_file}}</code></p>
<ul>
<li>Encrypt a file:</li>
</ul>
<p><code>keybase encrypt --infile {{input_file}} --outfile {{output_file}} {{receiver}}</code></p>
<ul>
<li>Decrypt a file:</li>
</ul>
<p><code>keybase decrypt --infile {{input_file}} --outfile {{output_file}}</code></p>
<ul>
<li>Revoke current device, log out, and delete local data:</li>
</ul>
<p><code>keybase deprovision</code></p>
