<h1 id="kill">kill</h1>
<blockquote>
<p>Sends a signal to a process, usually related to stopping the process. All signals except for SIGKILL and SIGSTOP can be intercepted by the process to perform a clean exit.</p>
</blockquote>
<ul>
<li>Terminate a program using the default SIGTERM (terminate) signal:</li>
</ul>
<p><code>kill {{process_id}}</code></p>
<ul>
<li>List available signal names (to be used without the <code>SIG</code> prefix):</li>
</ul>
<p><code>kill -l</code></p>
<ul>
<li>Terminate a background job:</li>
</ul>
<p><code>kill %{{job_id}}</code></p>
<ul>
<li>Terminate a program using the SIGHUP (hang up) signal. Many daemons will reload instead of terminating:</li>
</ul>
<p><code>kill -{{1|HUP}} {{process_id}}</code></p>
<ul>
<li>Terminate a program using the SIGINT (interrupt) signal. This is typically initiated by the user pressing <code>Ctrl + C</code>:</li>
</ul>
<p><code>kill -{{2|INT}} {{process_id}}</code></p>
<ul>
<li>Signal the operating system to immediately terminate a program (which gets no chance to capture the signal):</li>
</ul>
<p><code>kill -{{9|KILL}} {{process_id}}</code></p>
<ul>
<li>Signal the operating system to pause a program until a SIGCONT (“continue”) signal is received:</li>
</ul>
<p><code>kill -{{17|STOP}} {{process_id}}</code></p>
<ul>
<li>Send a <code>SIGUSR1</code> signal to all processes with the given GID (group id):</li>
</ul>
<p><code>kill -{{SIGUSR1}} -{{group_id}}</code></p>
