<h1 id="killall">killall</h1>
<blockquote>
<p>Send kill signal to all instances of a process by name (must be exact name). All signals except SIGKILL and SIGSTOP can be intercepted by the process, allowing a clean exit.</p>
</blockquote>
<ul>
<li>Terminate a process using the default SIGTERM (terminate) signal:</li>
</ul>
<p><code>killall {{process_name}}</code></p>
<ul>
<li>List available signal names (to be used without the ‘SIG’ prefix):</li>
</ul>
<p><code>killall --list</code></p>
<ul>
<li>Interactively ask for confirmation before termination:</li>
</ul>
<p><code>killall -i {{process_name}}</code></p>
<ul>
<li>Terminate a process using the SIGINT (interrupt) signal, which is the same signal sent by pressing <code>Ctrl + C</code>:</li>
</ul>
<p><code>killall -INT {{process_name}}</code></p>
<ul>
<li>Force kill a process:</li>
</ul>
<p><code>killall -KILL {{process_name}}</code></p>
