<h1 id="knife">knife</h1>
<blockquote>
<p>CLI for interacting with a Chef server from a local Chef repo. More information: <a href="https://docs.chef.io/knife.html" class="uri">https://docs.chef.io/knife.html</a>.</p>
</blockquote>
<ul>
<li>Bootstrap a new node:</li>
</ul>
<p><code>knife bootstrap {{fqdn_or_ip}}</code></p>
<ul>
<li>List all registered nodes:</li>
</ul>
<p><code>knife node list</code></p>
<ul>
<li>Show a node:</li>
</ul>
<p><code>knife node show {{node_name}}</code></p>
<ul>
<li>Edit a node:</li>
</ul>
<p><code>knife node edit {{node_name}}</code></p>
<ul>
<li>Edit a role:</li>
</ul>
<p><code>knife role edit {{role_name}}</code></p>
<ul>
<li>View a data bag:</li>
</ul>
<p><code>knife data bag show {{data_bag_name}} {{data_bag_item}}</code></p>
<ul>
<li>Upload a local cookbook to the Chef server:</li>
</ul>
<p><code>knife cookbook upload {{cookbook_name}}</code></p>
