<h1 id="kompose">kompose</h1>
<blockquote>
<p>A tool to convert docker-compose applications to Kubernetes. More information: <a href="https://github.com/kubernetes/kompose" class="uri">https://github.com/kubernetes/kompose</a>.</p>
</blockquote>
<ul>
<li>Deploy a dockerized application to Kubernetes:</li>
</ul>
<p><code>kompose up -f {{docker-compose.yml}}</code></p>
<ul>
<li>Delete instantiated services/deployments from Kubernetes:</li>
</ul>
<p><code>kompose down -f {{docker-compose.yml}}</code></p>
<ul>
<li>Convert a docker-compose file into Kubernetes resources file:</li>
</ul>
<p><code>kompose convert -f {{docker-compose.yml}}</code></p>
