<h1 id="kops">kops</h1>
<blockquote>
<p>Create, destroy, upgrade and maintain Kubernetes clusters from the command line. More informations: <a href="https://github.com/kubernetes/kops/" class="uri">https://github.com/kubernetes/kops/</a>.</p>
</blockquote>
<ul>
<li>Create a cluster from the configuration specification:</li>
</ul>
<p><code>kops create cluster -f {{cluster_name.yaml}}</code></p>
<ul>
<li>Create a new ssh public key:</li>
</ul>
<p><code>kops create secret sshpublickey {{key_name}} -i {{~/.ssh/id_rsa.pub}}</code></p>
<ul>
<li>Export the cluster configurations into the ~/.kube/config file:</li>
</ul>
<p><code>kops export kubecfg {{cluster_name}}</code></p>
<ul>
<li>Get the cluster configuration as yaml:</li>
</ul>
<p><code>kops get cluster {{cluster_name}} -o yaml</code></p>
<ul>
<li>Delete a cluster:</li>
</ul>
<p><code>kops delete cluster {{cluster_name}} --yes</code></p>
