<h1 id="kotlin">kotlin</h1>
<blockquote>
<p>Kotlin Application Launcher. More information <a href="https://kotlinlang.org" class="uri">https://kotlinlang.org</a>.</p>
</blockquote>
<ul>
<li>Run a jar file:</li>
</ul>
<p><code>kotlin {{filename.jar}}</code></p>
<ul>
<li>Display Kotlin and JVM version:</li>
</ul>
<p><code>kotlin -version</code></p>
