<h1 id="ksh">ksh</h1>
<blockquote>
<p>Korn Shell. <code>bash</code> and <code>sh</code>-compatible command line interpreter. More information: <a href="http://kornshell.com" class="uri">http://kornshell.com</a>.</p>
</blockquote>
<ul>
<li>Start interactive command line interpreter:</li>
</ul>
<p><code>ksh</code></p>
<ul>
<li>Execute a command:</li>
</ul>
<p><code>ksh -c {{command}}</code></p>
<ul>
<li>Run commands from a file:</li>
</ul>
<p><code>ksh {{file}}</code></p>
<ul>
<li>Run commands from a file and print them as they are executed:</li>
</ul>
<p><code>ksh -x {{file}}</code></p>
