<h1 id="kubetail">kubetail</h1>
<blockquote>
<p>Utility to tail multiple Kubernetes pod logs at the same time. More information: <a href="https://github.com/johanhaleby/kubetail" class="uri">https://github.com/johanhaleby/kubetail</a>.</p>
</blockquote>
<ul>
<li>Tail the logs of multiple pods (whose name starts with “my_app”) in one go:</li>
</ul>
<p><code>kubetail {{my_app}}</code></p>
<ul>
<li>Tail only a specific container from multiple pods:</li>
</ul>
<p><code>kubetail {{my_app}} -c {{my_container}}</code></p>
<ul>
<li>To tail multiple containers from multiple pods:</li>
</ul>
<p><code>kubetail {{my_app}} -c {{my_container_1}} -c {{my_container_2}}</code></p>
<ul>
<li>To tail multiple applications at the same time separate them by comma:</li>
</ul>
<p><code>kubetail {{my_app_1}},{{my_app_2}}</code></p>
