<h1 id="kubectl">kubectl</h1>
<blockquote>
<p>Command line interface for running commands against Kubernetes clusters. More information: <a href="https://kubernetes.io/docs/reference/kubectl/" class="uri">https://kubernetes.io/docs/reference/kubectl/</a>.</p>
</blockquote>
<ul>
<li>List all information about a resource with more details:</li>
</ul>
<p><code>kubectl get {{pod|service|deployment|ingress|...}} -o wide</code></p>
<ul>
<li>Update specified pod with the label ‘unhealthy’ and the value ‘true’:</li>
</ul>
<p><code>kubectl label pods {{name}} unhealthy=true</code></p>
<ul>
<li>List all resources with different types:</li>
</ul>
<p><code>kubectl get all</code></p>
<ul>
<li>Display resource (CPU/Memory/Storage) usage of nodes or pods:</li>
</ul>
<p><code>kubectl top {{pod|node}}</code></p>
<ul>
<li>Print the address of the master and cluster services:</li>
</ul>
<p><code>kubectl cluster-info</code></p>
<ul>
<li>Display an explanation of a specific field:</li>
</ul>
<p><code>kubectl explain {{pods.spec.containers}}</code></p>
<ul>
<li>Print the logs for a container in a pod or specified resource:</li>
</ul>
<p><code>kubectl logs {{pod_name}}</code></p>
<ul>
<li>Run command in an existing pod:</li>
</ul>
<p><code>kubectl exec {{pod_name}} -- {{ls /}}</code></p>
