<h1 id="kubectx">kubectx</h1>
<blockquote>
<p>Utility to manage and switch between <code>kubectl</code> contexts. More information: <a href="https://github.com/ahmetb/kubectx" class="uri">https://github.com/ahmetb/kubectx</a>.</p>
</blockquote>
<ul>
<li>List the contexts:</li>
</ul>
<p><code>kubectx</code></p>
<ul>
<li>Switch to a named context:</li>
</ul>
<p><code>kubectx {{name}}</code></p>
<ul>
<li>Switch to the previous context:</li>
</ul>
<p><code>kubectx -</code></p>
<ul>
<li>Delete a named context:</li>
</ul>
<p><code>kubectx -d {{name}}</code></p>
