<h1 id="kube-fzf">kube-fzf</h1>
<blockquote>
<p>Shell commands for command line fuzzy searching of Kubernetes Pods. See also <code>kubectl</code> for related commands. More information: <a href="https://github.com/thecasualcoder/kube-fzf" class="uri">https://github.com/thecasualcoder/kube-fzf</a>.</p>
</blockquote>
<ul>
<li>Get pod details (from current namespace):</li>
</ul>
<p><code>findpod</code></p>
<ul>
<li>Get pod details (from all namespaces):</li>
</ul>
<p><code>findpod -a</code></p>
<ul>
<li>Describe a pod:</li>
</ul>
<p><code>describepod</code></p>
<ul>
<li>Tail pod logs:</li>
</ul>
<p><code>tailpod</code></p>
<ul>
<li>Exec into a pod’s container:</li>
</ul>
<p><code>execpod {{shell_command}}</code></p>
<ul>
<li>Port-forward a pod:</li>
</ul>
<p><code>pfpod {{port_number}}</code></p>
