<h1 id="kubeadm">kubeadm</h1>
<blockquote>
<p>Command line interface for creating and managing Kubernetes clusters. More information: <a href="https://kubernetes.io/docs/reference/setup-tools/kubeadm" class="uri">https://kubernetes.io/docs/reference/setup-tools/kubeadm</a>.</p>
</blockquote>
<ul>
<li>Create a Kubernetes master node:</li>
</ul>
<p><code>kubeadm init</code></p>
<ul>
<li>Bootstrap a Kubernetes worker node and join it to a cluster:</li>
</ul>
<p><code>kubeadm join --token {{token}}</code></p>
<ul>
<li>Create a new bootstrap token with a TTL of 12 hours:</li>
</ul>
<p><code>kubeadm token create --ttl {{12h0m0s}}</code></p>
<ul>
<li>Check if the Kubernetes cluster is upgradeable and which versions are available:</li>
</ul>
<p><code>kubeadm upgrade plan</code></p>
<ul>
<li>Upgrade Kubernetes cluster to a specified version:</li>
</ul>
<p><code>kubeadm upgrade apply {{version}}</code></p>
<ul>
<li>View the kubeadm ConfigMap containing the cluster’s configuration:</li>
</ul>
<p><code>kubeadm config view</code></p>
<ul>
<li>Revert changes made to the host by ‘kubeadm init’ or ‘kubeadm join’:</li>
</ul>
<p><code>kubeadm reset</code></p>
