<h1 id="kubens">kubens</h1>
<blockquote>
<p>Utility to switch between Kubernetes namespaces. More information: <a href="https://github.com/ahmetb/kubectx" class="uri">https://github.com/ahmetb/kubectx</a>.</p>
</blockquote>
<ul>
<li>List the namespaces:</li>
</ul>
<p><code>kubens</code></p>
<ul>
<li>Change the active namespace:</li>
</ul>
<p><code>kubens {{name}}</code></p>
<ul>
<li>Switch to the previous namespace:</li>
</ul>
<p><code>kubens -</code></p>
