<h1 id="kustomize">kustomize</h1>
<blockquote>
<p>Kustomize is a tool to easily deploy resources for Kubernetes. More information: <a href="https://github.com/kubernetes-sigs/kustomize" class="uri">https://github.com/kubernetes-sigs/kustomize</a>.</p>
</blockquote>
<ul>
<li>Create kustomization file with resources and namespace:</li>
</ul>
<p><code>kustomize create --resources {{deployment.yaml,service.yaml}} --namespace {{staging}}</code></p>
<ul>
<li>Build kustomization file and deploy it with <code>kubectl</code>:</li>
</ul>
<p><code>kustomize build . | kubectl apply -f -</code></p>
<ul>
<li>Set an image in the kustomization file:</li>
</ul>
<p><code>kustomize edit set image {{busybox=alpine:3.6}}</code></p>
<ul>
<li>Search for kubernetes resources in the current directory to be added to the kustomization file:</li>
</ul>
<p><code>kustomize create --autodetect</code></p>
