<h1 id="laravel">laravel</h1>
<blockquote>
<p>A command line installer for the Laravel framework. More information: <a href="https://laravel.com" class="uri">https://laravel.com</a>.</p>
</blockquote>
<ul>
<li>Create a new Laravel application:</li>
</ul>
<p><code>laravel new {{name}}</code></p>
<ul>
<li>Use the latest development release:</li>
</ul>
<p><code>laravel new {{name}} --dev</code></p>
<ul>
<li>Overwrite if the directory already exists:</li>
</ul>
<p><code>laravel new {{name}} --force</code></p>
<ul>
<li>List the available installer commands:</li>
</ul>
<p><code>laravel list</code></p>
