<h1 id="last">last</h1>
<blockquote>
<p>View the last logged in users.</p>
</blockquote>
<ul>
<li>View last logins, their duration and other information as read from /var/log/wtmp:</li>
</ul>
<p><code>last</code></p>
<ul>
<li>Specify how many of the last logins to show:</li>
</ul>
<p><code>last -n {{login_count}}</code></p>
<ul>
<li>Print the full date and time for entries and then display the hostname column last to prevent truncation:</li>
</ul>
<p><code>last -F -a</code></p>
<ul>
<li>View all logins by a specific user and show the ip address instead of the hostname:</li>
</ul>
<p><code>last {{user_name}} -i</code></p>
<ul>
<li>View all recorded reboots (i.e., the last logins of the pseudo user “reboot”):</li>
</ul>
<p><code>last reboot</code></p>
<ul>
<li>View all recorded shutdowns (i.e., the last logins of the pseudo user “shutdown”):</li>
</ul>
<p><code>last shutdown</code></p>
