<h1 id="latexmk">latexmk</h1>
<blockquote>
<p>Compile LaTeX source files into finished documents. Automatically does multiple runs when needed. More information: <a href="https://mg.readthedocs.io/latexmk.html" class="uri">https://mg.readthedocs.io/latexmk.html</a>.</p>
</blockquote>
<ul>
<li>Compile a dvi (DeVice Independent file) document from every source:</li>
</ul>
<p><code>latexmk</code></p>
<ul>
<li>Compile a dvi document from a specific source file:</li>
</ul>
<p><code>latexmk {{source.tex}}</code></p>
<ul>
<li>Compile a pdf document:</li>
</ul>
<p><code>latexmk -pdf {{source.tex}}</code></p>
<ul>
<li>Force the generation of a document even if there are errors:</li>
</ul>
<p><code>latexmk -f {{source.tex}}</code></p>
<ul>
<li>Clean up temporary tex files created for a specific tex file:</li>
</ul>
<p><code>latexmk -c {{source.tex}}</code></p>
<ul>
<li>Clean up all temporary tex files in the current directory:</li>
</ul>
<p><code>latexmk -c</code></p>
