<h1 id="ldapsearch">ldapsearch</h1>
<blockquote>
<p>CLI utility for querying an LDAP directory.</p>
</blockquote>
<ul>
<li>Query an LDAP server for all items that are a member of the given group and return the object’s displayName value:</li>
</ul>
<p><code>ldapsearch -D '{{admin_DN}}' -w '{{password}}' -h {{ldap_host}} -b {{base_ou}} '{{memberOf=group1}}' displayName</code></p>
<ul>
<li>Query an LDAP server with a no-newline password file for all items that are a member of the given group and return the object’s displayName value:</li>
</ul>
<p><code>ldapsearch -D '{{admin_DN}}' -y '{{password_file}}' -h {{ldap_host}} -b {{base_ou}} '{{memberOf=group1}}' displayName</code></p>
<ul>
<li>Return 5 items that match the given filter:</li>
</ul>
<p><code>ldapsearch -D '{{admin_DN}}' -w '{{password}}' -h {{ldap_host}} -b {{base_ou}} '{{memberOf=group1}}' -z 5 displayName</code></p>
<ul>
<li>Wait up to 7 seconds for a response:</li>
</ul>
<p><code>ldapsearch -D '{{admin_DN}}' -w '{{password}}' -h {{ldap_host}} -b {{base_ou}} '{{memberOf=group1}}' -l 7 displayName</code></p>
<ul>
<li>Invert the filter:</li>
</ul>
<p><code>ldapsearch -D '{{admin_DN}}' -w '{{password}}' -h {{ldap_host}} -b {{base_ou}} '(!(memberOf={{group1}}))' displayName</code></p>
<ul>
<li>Return all items that are part of multiple groups, returning the display name for each item:</li>
</ul>
<p><code>ldapsearch -D '{{admin_DN}}' -w '{{password}}' -h {{ldap_host}} '(&amp;({{memberOf=group1}})({{memberOf=group2}})({{memberOf=group3}}))' "displayName"</code></p>
<ul>
<li>Return all items that are members of at least 1 of the specified groups:</li>
</ul>
<p><code>ldapsearch -D '{{admin_DN}}' -w '{{password}}' -h {{ldap_host}} '(|({{memberOf=group1}})({{memberOf=group1}})({{memberOf=group3}}))' displayName</code></p>
<ul>
<li>Combine multiple boolean logic filters:</li>
</ul>
<p><code>ldapsearch -D '{{admin_DN}}' -w '{{password}}' -h {{ldap_host}} '(&amp;({{memberOf=group1}})({{memberOf=group2}})(!({{memberOf=group3}})))' displayName</code></p>
