<h1 id="leave">leave</h1>
<blockquote>
<p>Remind when it’s time to leave. To remove reminders use <code>kill $(pidof leave)</code>.</p>
</blockquote>
<ul>
<li>Set a reminder at a given time:</li>
</ul>
<p><code>leave {{time_to_leave}}</code></p>
<ul>
<li>Remind to leave at noon:</li>
</ul>
<p><code>leave {{1200}}</code></p>
<ul>
<li>Set a reminder in a specific amount of time:</li>
</ul>
<p><code>leave +{{amount_of_time}}</code></p>
<ul>
<li>Remind to leave in 4 hours and 4 minutes:</li>
</ul>
<p><code>leave +{{0404}}</code></p>
