<h1 id="lebab">lebab</h1>
<blockquote>
<p>A JavaScript modernizer for transpiling code to ES6/ES7. Transformations must be provided for all examples. More information: <a href="https://github.com/lebab/lebab" class="uri">https://github.com/lebab/lebab</a>.</p>
</blockquote>
<ul>
<li>Display a list of the available transformations:</li>
</ul>
<p><code>lebab --help</code></p>
<ul>
<li>Transpile using one or more comma-separated transformations:</li>
</ul>
<p><code>lebab --transform {{transformation}}</code></p>
<ul>
<li>Transpile a file to <code>stdout</code>:</li>
</ul>
<p><code>lebab {{path/to/input_file}}</code></p>
<ul>
<li>Transpile a file to the specified output file:</li>
</ul>
<p><code>lebab {{path/to/input_file}} --out-file {{path/to/output_file}}</code></p>
<ul>
<li>Replace all <code>.js</code> files in-place in the specified directory, glob or file:</li>
</ul>
<p><code>lebab --replace {{directory|glob|file}}</code></p>
