<h1 id="lein">lein</h1>
<blockquote>
<p>Manage clojure projects with declarative configuration. More information: <a href="https://leiningen.org" class="uri">https://leiningen.org</a>.</p>
</blockquote>
<ul>
<li>Generate scaffolding for a new project based on a template:</li>
</ul>
<p><code>lein new {{template_name}} {{project_name}}</code></p>
<ul>
<li>Start a REPL session either with the project or standalone:</li>
</ul>
<p><code>lein repl</code></p>
<ul>
<li>Run the project’s “-main” function with optional args:</li>
</ul>
<p><code>lein run {{args}}</code></p>
<ul>
<li>Run the project’s tests:</li>
</ul>
<p><code>lein test</code></p>
<ul>
<li>Package up the project files and all its dependencies into a jar file:</li>
</ul>
<p><code>lein uberjar</code></p>
