<h1 id="less">less</h1>
<blockquote>
<p>Open a file for interactive reading, allowing scrolling and search.</p>
</blockquote>
<ul>
<li>Open a file:</li>
</ul>
<p><code>less {{source_file}}</code></p>
<ul>
<li>Page down / up:</li>
</ul>
<p><code>&lt;Space&gt; (down), b (up)</code></p>
<ul>
<li>Go to end / start of file:</li>
</ul>
<p><code>G (end), g (start)</code></p>
<ul>
<li>Forward search for a string (press <code>n</code>/<code>N</code> to go to next/previous match):</li>
</ul>
<p><code>/{{something}}</code></p>
<ul>
<li>Backward search for a string (press <code>n</code>/<code>N</code> to go to next/previous match):</li>
</ul>
<p><code>?{{something}}</code></p>
<ul>
<li>Follow the output of the currently opened file:</li>
</ul>
<p><code>F</code></p>
<ul>
<li>Open the current file in an editor:</li>
</ul>
<p><code>v</code></p>
<ul>
<li>Exit:</li>
</ul>
<p><code>q</code></p>
