<h1 id="license">license</h1>
<blockquote>
<p>Create license files for open-source projects. More information: <a href="https://nishanths.github.io/license" class="uri">https://nishanths.github.io/license</a>.</p>
</blockquote>
<ul>
<li>Print a license to <code>stdout</code>, using the defaults (auto-detected author name, and current year):</li>
</ul>
<p><code>license {{license_name}}</code></p>
<ul>
<li>Generate a license and save it to a file:</li>
</ul>
<p><code>license -o {{filename}} {{license_name}}</code></p>
<ul>
<li>List all available licenses:</li>
</ul>
<p><code>license ls</code></p>
<ul>
<li>Generate a license with custom author name and year:</li>
</ul>
<p><code>license --name {{author}} --year {{release_year}} {{license_name}}</code></p>
