<h1 id="light-arionum-cli">light-arionum-cli</h1>
<blockquote>
<p>The PHP light wallet for the Arionum cryptocurrency. More information: <a href="https://github.com/arionum/lightWalletCLI" class="uri">https://github.com/arionum/lightWalletCLI</a>.</p>
</blockquote>
<ul>
<li>Generate a new public/private key pair:</li>
</ul>
<p><code>light-arionum-cli</code></p>
<ul>
<li>Display the balance of the current address:</li>
</ul>
<p><code>light-arionum-cli balance</code></p>
<ul>
<li>Display the balance of the specified address:</li>
</ul>
<p><code>light-arionum-cli balance {{address}}</code></p>
<ul>
<li>Send a transaction with an optional message:</li>
</ul>
<p><code>light-arionum-cli send {{address}} {{value}} {{optional_message}}</code></p>
<ul>
<li>Export the current wallet information:</li>
</ul>
<p><code>light-arionum-cli export</code></p>
<ul>
<li>Display information about the current block:</li>
</ul>
<p><code>light-arionum-cli block</code></p>
<ul>
<li>Display information about the current address’ transactions:</li>
</ul>
<p><code>light-arionum-cli transactions</code></p>
<ul>
<li>Display information about a specific transaction:</li>
</ul>
<p><code>light-arionum-cli transaction {{transaction_id}}</code></p>
