<h1 id="link">link</h1>
<blockquote>
<p>Create a hard link to an existing file. For more options, see the <code>ln</code> command.</p>
</blockquote>
<ul>
<li>Create a hard link from a new file to an existing file:</li>
</ul>
<p><code>link {{path/to/existing_file}} {{path/to/new_file}}</code></p>
