<h1 id="live-server">live-server</h1>
<blockquote>
<p>A simple development http server with live reload capability. More information: <a href="https://www.npmjs.com/package/live-server" class="uri">https://www.npmjs.com/package/live-server</a>.</p>
</blockquote>
<ul>
<li>Serve an index.html file and reload on changes:</li>
</ul>
<p><code>live-server</code></p>
<ul>
<li>Specify a port (default is 8080) from which to serve a file:</li>
</ul>
<p><code>live-server --port={{8081}}</code></p>
<ul>
<li>Specify a given file to serve:</li>
</ul>
<p><code>live-server --open={{about.html}}</code></p>
<ul>
<li>Proxy all requests for ROUTE to URL:</li>
</ul>
<p><code>live-server --proxy={{/}}:{{http:localhost:3000}}</code></p>
