<h1 id="ln">ln</h1>
<blockquote>
<p>Creates links to files and directories.</p>
</blockquote>
<ul>
<li>Create a symbolic link to a file or directory:</li>
</ul>
<p><code>ln -s {{path/to/file_or_directory}} {{path/to/symlink}}</code></p>
<ul>
<li>Overwrite an existing symbolic to point to a different file:</li>
</ul>
<p><code>ln -sf {{path/to/new_file}} {{path/to/symlink}}</code></p>
<ul>
<li>Create a hard link to a file:</li>
</ul>
<p><code>ln {{path/to/file}} {{path/to/hardlink}}</code></p>
