<h1 id="loc">loc</h1>
<blockquote>
<p>Tool written in Rust that counts lines of code. More information: <a href="https://github.com/cgag/loc" class="uri">https://github.com/cgag/loc</a>.</p>
</blockquote>
<ul>
<li>Print lines of code in the current directory:</li>
</ul>
<p><code>loc</code></p>
<ul>
<li>Print lines of code in the target directory:</li>
</ul>
<p><code>loc {{path/to/directory}}</code></p>
<ul>
<li>Print lines of code with stats for individual files:</li>
</ul>
<p><code>loc --files</code></p>
<ul>
<li>Print lines of code without .gitignore (etc.) files (e.g. two -u flags will additionally count hidden files and dirs):</li>
</ul>
<p><code>loc -u</code></p>
