<h1 id="locust">locust</h1>
<blockquote>
<p>Load-testing tool to determine number of concurrent users a system can handle. More information: <a href="https://locust.io" class="uri">https://locust.io</a>.</p>
</blockquote>
<ul>
<li>Load-test “example.com” with web interface using locustfile.py:</li>
</ul>
<p><code>locust --host={{http://example.com}}</code></p>
<ul>
<li>Use a different test file:</li>
</ul>
<p><code>locust --locustfile={{test_file.py}} --host={{http://example.com}}</code></p>
<ul>
<li>Run test without web interface, spawning 1 user a second until there are 100 users:</li>
</ul>
<p><code>locust --no-web --clients={{100}} --hatch-rate={{1}} --host={{http://example.com}}</code></p>
<ul>
<li>Start locust in master mode:</li>
</ul>
<p><code>locust --master --host={{http://example.com}}</code></p>
<ul>
<li>Connect locust slave to master:</li>
</ul>
<p><code>locust --slave --host={{http://example.com}}</code></p>
<ul>
<li>Connect locust slave to master on a different machine:</li>
</ul>
<p><code>locust --slave --master-host={{master_hostname}} --host={{http://example.com}}</code></p>
