<h1 id="logstash">logstash</h1>
<blockquote>
<p>An ETL (extract, transform and load) tool. Commonly used to load data from various sources, like databases and log files, into elasticsearch. More information: <a href="https://www.elastic.co/products/logstash" class="uri">https://www.elastic.co/products/logstash</a>.</p>
</blockquote>
<ul>
<li>Check validity of a logstash configuration:</li>
</ul>
<p><code>logstash --configtest --config {{logstash_config.conf}}</code></p>
<ul>
<li>Run logstash using configuration:</li>
</ul>
<p><code>sudo logstash --config {{logstash_config.conf}}</code></p>
<ul>
<li>Run logstash with the most basic inline configuration string:</li>
</ul>
<p><code>sudo logstash -e 'input {} filter {} output {}'</code></p>
