<h1 id="lolcat">lolcat</h1>
<blockquote>
<p>Put a rainbow in everything you <code>cat</code> to the console. More information: <a href="https://github.com/busyloop/lolcat" class="uri">https://github.com/busyloop/lolcat</a>.</p>
</blockquote>
<ul>
<li>Print a file to the console in rainbow colors:</li>
</ul>
<p><code>lolcat {{path/to/file}}</code></p>
<ul>
<li>Print the result of a text-producing command in rainbow colors:</li>
</ul>
<p><code>{{fortune}} | lolcat</code></p>
<ul>
<li>Print a file to the console with animated rainbow colors:</li>
</ul>
<p><code>lolcat -a {{path/to/file}}</code></p>
<ul>
<li>Print a file to the console with 24-bit (truecolor) rainbow colors:</li>
</ul>
<p><code>lolcat -t {{path/to/file}}</code></p>
