<h1 id="lorem">lorem</h1>
<blockquote>
<p>Create more or less random lorem ipsum text.</p>
</blockquote>
<ul>
<li>Print the specified number of words:</li>
</ul>
<p><code>lorem -n {{20}}</code></p>
<ul>
<li>Print 10 lines of Goethe’s Faust:</li>
</ul>
<p><code>lorem -l {{10}} --faust</code></p>
<ul>
<li>Print 5 sentences of Poe’s Raven:</li>
</ul>
<p><code>lorem -s {{5}} --raven</code></p>
<ul>
<li>Print 40 random characters from Boccacio’s Decameron:</li>
</ul>
<p><code>lorem --randomize -c {{40}} --decamerone</code></p>
