<h1 id="lp">lp</h1>
<blockquote>
<p>Print files.</p>
</blockquote>
<ul>
<li>Print the output of a command to the default printer (see <code>lpstat</code> command):</li>
</ul>
<p><code>echo "test" | lp</code></p>
<ul>
<li>Print a file to the default printer:</li>
</ul>
<p><code>lp {{path/to/filename}}</code></p>
<ul>
<li>Print a file to a named printer (see <code>lpstat</code> command):</li>
</ul>
<p><code>lp -d {{printer_name}} {{path/to/filename}}</code></p>
<ul>
<li>Print N copies of file to default printer (replace N with desired number of copies):</li>
</ul>
<p><code>lp -n {{N}} {{path/to/filename}}</code></p>
<ul>
<li>Print only certain pages to the default printer (print pages 1, 3-5, and 16):</li>
</ul>
<p><code>lp -P 1,3-5,16 {{path/to/filename}}</code></p>
<ul>
<li>Resume printing a job:</li>
</ul>
<p><code>lp -i {{job_id}} -H resume</code></p>
