<h1 id="lpass">lpass</h1>
<blockquote>
<p>Command line interface for the LastPass password manager. More information: <a href="https://github.com/lastpass/lastpass-cli" class="uri">https://github.com/lastpass/lastpass-cli</a>.</p>
</blockquote>
<ul>
<li>Login to your LastPass account, by entering your master password when prompted:</li>
</ul>
<p><code>lpass login {{username}}</code></p>
<ul>
<li>Show login status:</li>
</ul>
<p><code>lpass status</code></p>
<ul>
<li>List all sites grouped by category:</li>
</ul>
<p><code>lpass ls</code></p>
<ul>
<li>Generate a new password for “gmail.com” with identifier “myinbox” and add to LastPass:</li>
</ul>
<p><code>lpass generate --username {{username}} --url {{gmail.com}} {{myinbox}} {{password_length}}</code></p>
<ul>
<li>Show password for a specified entry:</li>
</ul>
<p><code>lpass show {{myinbox}} --password</code></p>
