<h1 id="lpstat">lpstat</h1>
<blockquote>
<p>Show status information about printers.</p>
</blockquote>
<ul>
<li>List printers present on the machine and whether they are enabled for printing:</li>
</ul>
<p><code>lpstat -p</code></p>
<ul>
<li>Show the default printer:</li>
</ul>
<p><code>lpstat -d</code></p>
<ul>
<li>Display all available status information:</li>
</ul>
<p><code>lpstat -t</code></p>
<ul>
<li>Show a list of print jobs queued by the specified user:</li>
</ul>
<p><code>lpstat -u {{user}}</code></p>
