<h1 id="lsof">lsof</h1>
<blockquote>
<p>Lists open files and the corresponding processes. Note: Root privileges (or sudo) is required to list files opened by others.</p>
</blockquote>
<ul>
<li>Find the processes that have a given file open:</li>
</ul>
<p><code>lsof {{path/to/file}}</code></p>
<ul>
<li>Find the process that opened a local internet port:</li>
</ul>
<p><code>lsof -i :{{port}}</code></p>
<ul>
<li>Only output the process ID (PID):</li>
</ul>
<p><code>lsof -t {{path/to/file}}</code></p>
<ul>
<li>List files opened by the given user:</li>
</ul>
<p><code>lsof -u {{username}}</code></p>
<ul>
<li>List files opened by the given command or process:</li>
</ul>
<p><code>lsof -c {{process_or_command_name}}</code></p>
<ul>
<li>List files opened by a specific process, given its PID:</li>
</ul>
<p><code>lsof -p {{PID}}</code></p>
<ul>
<li>List open files in a directory:</li>
</ul>
<p><code>lsof +D {{path/to/directory}}</code></p>
<ul>
<li>Find the process that is listening on a local TCP port:</li>
</ul>
<p><code>lsof -iTCP:{{port}} -sTCP:LISTEN</code></p>
