<h1 id="lua">lua</h1>
<blockquote>
<p>A powerful, light-weight embeddable programming language. More information: <a href="https://www.lua.org" class="uri">https://www.lua.org</a>.</p>
</blockquote>
<ul>
<li>Start an interactive Lua shell:</li>
</ul>
<p><code>lua</code></p>
<ul>
<li>Execute a Lua script:</li>
</ul>
<p><code>lua {{script_name.lua}} {{--optional-argument}}</code></p>
<ul>
<li>Execute a Lua expression:</li>
</ul>
<p><code>lua -e '{{print( "Hello World" )}}</code></p>
