<h1 id="luac">luac</h1>
<blockquote>
<p>Lua bytecode compiler. More information: <a href="https://www.lua.org" class="uri">https://www.lua.org</a>.</p>
</blockquote>
<ul>
<li>Compile a Lua source file to Lua bytecode:</li>
</ul>
<p><code>luac -o {{byte_code.luac}} {{source.lua}}</code></p>
<ul>
<li>Do not include debug symbols in the output:</li>
</ul>
<p><code>luac -s -o {{byte_code.luac}} {{source.lua}}</code></p>
