<h1 id="lumen">lumen</h1>
<blockquote>
<p>A command line installer for the Lumen micro-framework. More information: <a href="https://lumen.laravel.com" class="uri">https://lumen.laravel.com</a>.</p>
</blockquote>
<ul>
<li>Create a new Lumen application:</li>
</ul>
<p><code>lumen new {{application_name}}</code></p>
<ul>
<li>List the available installer commands:</li>
</ul>
<p><code>lumen list</code></p>
