<h1 id="lwp-request">lwp-request</h1>
<blockquote>
<p>Simple command-line HTTP client. Built with libwww-perl. More information: <a href="https://metacpan.org/pod/lwp-request" class="uri">https://metacpan.org/pod/lwp-request</a>.</p>
</blockquote>
<ul>
<li>Make a simple GET request:</li>
</ul>
<p><code>lwp-request -m GET {{http://example.com/some/path}}</code></p>
<ul>
<li>Upload a file with a POST request:</li>
</ul>
<p><code>cat {{/path/to/file}} | lwp-request -m POST {{http://example.com/some/path}}</code></p>
<ul>
<li>Make a request with a custom user agent:</li>
</ul>
<p><code>lwp-request -H 'User-Agent: {{user_agent}} -m {{METHOD}} {{http://example.com/some/path}}</code></p>
<ul>
<li>Make a request with HTTP authentication:</li>
</ul>
<p><code>lwp-request -C {{username}}:{{password}} -m {{METHOD}} {{http://example.com/some/path}}</code></p>
<ul>
<li>Make a request and print request headers:</li>
</ul>
<p><code>lwp-request -U -m {{METHOD}} {{http://example.com/some/path}}</code></p>
<ul>
<li>Make a request and print response headers and status chain:</li>
</ul>
<p><code>lwp-request -E -m {{METHOD}} {{http://example.com/some/path}}</code></p>
