<h1 id="lz4">lz4</h1>
<blockquote>
<p>Compress or decompress .lz4 files. More information: <a href="https://github.com/lz4/lz4" class="uri">https://github.com/lz4/lz4</a>.</p>
</blockquote>
<ul>
<li>Compress a file:</li>
</ul>
<p><code>lz4 {{file}}</code></p>
<ul>
<li>Decompress a file:</li>
</ul>
<p><code>lz4 -d {{file.lz4}}</code></p>
<ul>
<li>Decompress a file and write to <code>stdout</code>:</li>
</ul>
<p><code>lz4 -dc {{file.lz4}}</code></p>
<ul>
<li>Package and compress a directory and its contents:</li>
</ul>
<p><code>tar cvf - {{path/to/dir}} | lz4 - {{dir.tar.lz4}}</code></p>
<ul>
<li>Decompress and unpack a directory and its contents:</li>
</ul>
<p><code>lz4 -d {{dir.tar.lz4}} | tar -xv</code></p>
<ul>
<li>Compress a file using the best compression:</li>
</ul>
<p><code>lz4 -9 {{file}}</code></p>
