<h1 id="m4">m4</h1>
<blockquote>
<p>Macro processor. More information: <a href="https://www.gnu.org/software/m4" class="uri">https://www.gnu.org/software/m4</a>.</p>
</blockquote>
<ul>
<li>Process macros in a file:</li>
</ul>
<p><code>m4 {{path/to/file}}</code></p>
<ul>
<li>Define a macro before processing files:</li>
</ul>
<p><code>m4 -D{{macro_name}}={{macro_value}} {{path/to/file}}</code></p>
