<h1 id="magento">magento</h1>
<blockquote>
<p>A CLI for managing the Magento PHP framework. More information: <a href="https://magento.com" class="uri">https://magento.com</a>.</p>
</blockquote>
<ul>
<li>Enable one or more space-separated modules:</li>
</ul>
<p><code>magento module:enable {{module(s)}}</code></p>
<ul>
<li>Disable one or more space-separated modules:</li>
</ul>
<p><code>magento module:disable {{module(s)}}</code></p>
<ul>
<li>Update the database after enabling modules:</li>
</ul>
<p><code>magento setup:upgrade</code></p>
<ul>
<li>Update code and dependency injection configuration:</li>
</ul>
<p><code>magento setup:di:compile</code></p>
<ul>
<li>Deploy static assets:</li>
</ul>
<p><code>magento setup:static-content:deploy</code></p>
<ul>
<li>Enable maintenance mode:</li>
</ul>
<p><code>magento maintenance:enable</code></p>
<ul>
<li>Disable maintenance mode:</li>
</ul>
<p><code>magento maintenance:disable</code></p>
<ul>
<li>List all available commands:</li>
</ul>
<p><code>magento list</code></p>
