<h1 id="mailx">mailx</h1>
<blockquote>
<p>Send and receive mail.</p>
</blockquote>
<ul>
<li>Send mail (the content should be typed after the command, and ended with <code>Ctrl+D</code>):</li>
</ul>
<p><code>mailx -s "{{subject}}" {{to_addr}}</code></p>
<ul>
<li>Send mail with content passed from another command:</li>
</ul>
<p><code>echo "{{content}}" | mailx -s "{{subject}}" {{to_addr}}</code></p>
<ul>
<li>Send mail with content read from a file:</li>
</ul>
<p><code>mailx -s "{{subject}}" {{to_addr}} &lt; {{content.txt}}</code></p>
<ul>
<li>Send mail to a recipient and CC to another address:</li>
</ul>
<p><code>mailx -s "{{subject}}" -c {{cc_addr}} {{to_addr}}</code></p>
<ul>
<li>Send mail specifying the sender address:</li>
</ul>
<p><code>mailx -s "{{subject}}" -r {{from_addr}} {{to_addr}}</code></p>
<ul>
<li>Send mail with an attachment:</li>
</ul>
<p><code>mailx -a {{file}} -s "{{subject}}" {{to_addr}}</code></p>
