<h1 id="mail">mail</h1>
<blockquote>
<p>The command operates on the user’s mailbox if no argument is given. To send an email the message body is built from standard input.</p>
</blockquote>
<ul>
<li>Send a typed email message. The commandline below continues after pressing Enter key. Input CC email-id (optional) press Enter key. Input message text (can be multi-line). Press “Ctrl-D” key to complete the message text:</li>
</ul>
<p><code>mail --subject={{"subject line"}} {{to_user@example.com}}</code></p>
<ul>
<li>Send an email that contains file content:</li>
</ul>
<p><code>mail --subject={{"$HOSTNAME filename.txt"}} {{to_user@example.com}} &lt; {{path/to/filename.txt}}</code></p>
<ul>
<li>Send a tar.gz file as an attachment:</li>
</ul>
<p><code>tar cvzf - {{path/to/directory1 path/to/directory2}} | uuencode {{data.tar.gz}} | mail --subject={{"subject line"}} {{to_user@example.com}}</code></p>
