<h1 id="makepasswd">makepasswd</h1>
<blockquote>
<p>Generate and encrypt passwords. More information: <a href="https://manpages.debian.org/stretch/makepasswd/makepasswd.1.en.html" class="uri">https://manpages.debian.org/stretch/makepasswd/makepasswd.1.en.html</a>.</p>
</blockquote>
<ul>
<li>Generate a random password (8 to 10 characters long, containing letters and numbers):</li>
</ul>
<p><code>makepasswd</code></p>
<ul>
<li>Generate a 10 characters long password:</li>
</ul>
<p><code>makepasswd --chars {{10}}</code></p>
<ul>
<li>Generate a 5 to 10 characters long password:</li>
</ul>
<p><code>makepasswd --minchars {{5}} --maxchars {{10}}</code></p>
<ul>
<li>Generate a password containing only the characters “b”, “a” or “r”:</li>
</ul>
<p><code>makepasswd --string {{bar}}</code></p>
