<h1 id="makensis">makensis</h1>
<blockquote>
<p>Cross-platform compiler for NSIS installers. It compiles a NSIS script into a Windows installer executable. More information: <a href="https://nsis.sourceforge.io/Docs/Chapter3.html" class="uri">https://nsis.sourceforge.io/Docs/Chapter3.html</a>.</p>
</blockquote>
<ul>
<li>Compile a NSIS script:</li>
</ul>
<p><code>makensis {{path/to/file.nsi}}</code></p>
<ul>
<li>Compile a NSIS script in strict mode (treat warnings as errors):</li>
</ul>
<p><code>makensis -WX {{path/to/file.nsi}}</code></p>
<ul>
<li>Print help for a specific command:</li>
</ul>
<p><code>makensis -CMDHELP {{command}}</code></p>
