<h1 id="make">make</h1>
<blockquote>
<p>Task runner for targets described in Makefile. Mostly used to control the compilation of an executable from source code.</p>
</blockquote>
<ul>
<li>Call the first target specified in the Makefile (usually named “all”):</li>
</ul>
<p><code>make</code></p>
<ul>
<li>Call a specific target:</li>
</ul>
<p><code>make {{target}}</code></p>
<ul>
<li>Call a specific target, executing 4 jobs at a time in parallel:</li>
</ul>
<p><code>make -j{{4}} {{target}}</code></p>
<ul>
<li>Use a specific Makefile:</li>
</ul>
<p><code>make --file {{file}}</code></p>
<ul>
<li>Execute make from another directory:</li>
</ul>
<p><code>make --directory {{directory}}</code></p>
<ul>
<li>Force making of a target, even if source files are unchanged:</li>
</ul>
<p><code>make --always-make {{target}}</code></p>
