<h1 id="man">man</h1>
<blockquote>
<p>Format and display manual pages.</p>
</blockquote>
<ul>
<li>Display the man page for a command:</li>
</ul>
<p><code>man {{command}}</code></p>
<ul>
<li>Display the man page for a command from section 7:</li>
</ul>
<p><code>man {{command}}.{{7}}</code></p>
<ul>
<li>Display the path searched for manpages:</li>
</ul>
<p><code>man --path</code></p>
<ul>
<li>Display the location of a manpage rather than the manpage itself:</li>
</ul>
<p><code>man -w {{command}}</code></p>
<ul>
<li>Search for manpages containing a search string:</li>
</ul>
<p><code>man -k "{{search string}}"</code></p>
