<h1 id="mat2">mat2</h1>
<blockquote>
<p>Anonymise various file formats by removing metadata. More information: <a href="https://0xacab.org/jvoisin/mat2" class="uri">https://0xacab.org/jvoisin/mat2</a>.</p>
</blockquote>
<ul>
<li>List supported file formats:</li>
</ul>
<p><code>mat2 --list</code></p>
<ul>
<li>Remove metadata from a file:</li>
</ul>
<p><code>mat2 {{path/to/file}}</code></p>
<ul>
<li>Remove metadata from a file and print detailed output to the console:</li>
</ul>
<p><code>mat2 --verbose {{path/to/file}}</code></p>
<ul>
<li>Show metadata in a file without removing it:</li>
</ul>
<p><code>mat2 --show {{path/to/file}}</code></p>
<ul>
<li>Partially remove metadata from a file:</li>
</ul>
<p><code>mat2 --lightweight {{path/to/file}}</code></p>
