<h1 id="md5sum">md5sum</h1>
<blockquote>
<p>Calculate MD5 cryptographic checksums.</p>
</blockquote>
<ul>
<li>Calculate the MD5 checksum for a file:</li>
</ul>
<p><code>md5sum {{filename1}}</code></p>
<ul>
<li>Calculate MD5 checksums for multiple files:</li>
</ul>
<p><code>md5sum {{filename1}} {{filename2}}</code></p>
<ul>
<li>Read a file of MD5SUMs and verify all files have matching checksums:</li>
</ul>
<p><code>md5sum -c {{filename.md5}}</code></p>
