<h1 id="mdp">mdp</h1>
<blockquote>
<p>A command-line based tool to make presentations from markdown files. More information: <a href="https://github.com/visit1985/mdp" class="uri">https://github.com/visit1985/mdp</a>.</p>
</blockquote>
<ul>
<li>Launch a presentation in the terminal from a markdown file:</li>
</ul>
<p><code>mdp {{presentation.md}}</code></p>
<ul>
<li>Disable fading transitions:</li>
</ul>
<p><code>mdp --nofade {{presentation.md}}</code></p>
<ul>
<li>Invert font colors to use in terminals with light background:</li>
</ul>
<p><code>mdp --invert {{presentation.md}}</code></p>
<ul>
<li>Disable transparency in transparent terminals:</li>
</ul>
<p><code>mdp --notrans {{presentation.md}}</code></p>
