<h1 id="mediainfo">mediainfo</h1>
<blockquote>
<p>Display metadata from video and audio files. More information: <a href="https://mediaarea.net/MediaInfo" class="uri">https://mediaarea.net/MediaInfo</a>.</p>
</blockquote>
<ul>
<li>Display metadata for a given file in the console:</li>
</ul>
<p><code>mediainfo {{file}}</code></p>
<ul>
<li>Store the output to a given file along with displaying in the console:</li>
</ul>
<p><code>mediainfo --Logfile={{out.txt}} {{file}}</code></p>
<ul>
<li>Display the list of metadata attributes that can be extracted:</li>
</ul>
<p><code>mediainfo --Info-Parameters</code></p>
