<h1 id="meld">meld</h1>
<blockquote>
<p>Graphical diffing and merging tool. More information: <a href="https://meldmerge.org/" class="uri">https://meldmerge.org/</a>.</p>
</blockquote>
<ul>
<li>Start meld:</li>
</ul>
<p><code>meld</code></p>
<ul>
<li>Compare 2 files:</li>
</ul>
<p><code>meld {{path/to/file_1}} {{path/to/file_2}}</code></p>
<ul>
<li>Compare 2 directories:</li>
</ul>
<p><code>meld {{path/to/directory_1}} {{path/to/directory_2}}</code></p>
<ul>
<li>Compare 3 files:</li>
</ul>
<p><code>meld {{path/to/file_1}} {{path/to/file_2}} {{path/to/file_3}}</code></p>
<ul>
<li>Open a comparison as a new tab in a pre-existing meld instance:</li>
</ul>
<p><code>meld --newtab {{path/to/file_1}} {{path/to/file_2}}</code></p>
<ul>
<li>Compare multiple sets of files:</li>
</ul>
<p><code>meld --diff {{path/to/file_1}} {{path/to/file_2}} --diff {{path/to/file_3}} {{path/to/file_4}}</code></p>
