<h1 id="meteor">meteor</h1>
<blockquote>
<p>Full-stack javascript platform for building web applications. More information: <a href="https://meteor.com" class="uri">https://meteor.com</a>.</p>
</blockquote>
<ul>
<li>Run a meteor project from its root directory in development mode:</li>
</ul>
<p><code>meteor</code></p>
<ul>
<li>Create a project under the given directory:</li>
</ul>
<p><code>meteor create {{path/to/directory}}</code></p>
<ul>
<li>Display the list of packages the project is currently using:</li>
</ul>
<p><code>meteor list</code></p>
<ul>
<li>Add a package to the project:</li>
</ul>
<p><code>meteor add {{package_name}}</code></p>
<ul>
<li>Remove a package from the project:</li>
</ul>
<p><code>meteor remove {{package_name}}</code></p>
<ul>
<li>Create a production build of the project as a tarball under the given directory:</li>
</ul>
<p><code>meteor build {{path/to/directory}}</code></p>
