<h1 id="micro">micro</h1>
<blockquote>
<p>Micro is a modern and intuitive terminal-based text editor. You can use your keyboard, but also your mouse to navigate and/or select text. More information: <a href="https://micro-editor.github.io" class="uri">https://micro-editor.github.io</a>.</p>
</blockquote>
<ul>
<li>Open a file:</li>
</ul>
<p><code>micro {{file}}</code></p>
<ul>
<li>Cut the entire line:</li>
</ul>
<p><code>Ctrl + K</code></p>
<ul>
<li>Search for a pattern in the file (press <code>Ctrl + N</code>/<code>Ctrl + P</code> to go to next/previous match):</li>
</ul>
<p><code>Ctrl + F "{{pattern}}" &lt;Enter&gt;</code></p>
<ul>
<li>Execute a command:</li>
</ul>
<p><code>Ctrl + E {{command}} &lt;Enter&gt;</code></p>
<ul>
<li>Perform a substitution in the whole file:</li>
</ul>
<p><code>Ctrl + E replaceall "{{pattern}}" "{{replacement}}" &lt;Enter&gt;</code></p>
<ul>
<li>Quit:</li>
</ul>
<p><code>Ctrl + Q</code></p>
