<h1 id="minetestserver">minetestserver</h1>
<blockquote>
<p>Multiplayer infinite-world block sandbox server. See also <code>minetest</code>, the graphical client. More information: <a href="https://wiki.minetest.net/Setting_up_a_server" class="uri">https://wiki.minetest.net/Setting_up_a_server</a>.</p>
</blockquote>
<ul>
<li>Start the server:</li>
</ul>
<p><code>minetestserver</code></p>
<ul>
<li>List available worlds:</li>
</ul>
<p><code>minetestserver --world list</code></p>
<ul>
<li>Specify the world name to load:</li>
</ul>
<p><code>minetestserver --world {{world_name}}</code></p>
<ul>
<li>List the available game IDs:</li>
</ul>
<p><code>minetestserver --gameid list</code></p>
<ul>
<li>Specify a game to use:</li>
</ul>
<p><code>minetestserver --gameid {{game_id}}</code></p>
<ul>
<li>Listen on a specific port:</li>
</ul>
<p><code>minetestserver --port {{34567}}</code></p>
<ul>
<li>Migrate to a different data backend:</li>
</ul>
<p><code>minetestserver --migrate {{sqlite3|leveldb|redis}}</code></p>
<ul>
<li>Start an interactive terminal after starting the server:</li>
</ul>
<p><code>minetestserver --terminal</code></p>
