<h1 id="minetest">minetest</h1>
<blockquote>
<p>Multiplayer infinite-world block sandbox. See also <code>minetestserver</code>, the server-only binary. More information: <a href="https://wiki.minetest.net/Minetest" class="uri">https://wiki.minetest.net/Minetest</a>.</p>
</blockquote>
<ul>
<li>Start minetest in client mode:</li>
</ul>
<p><code>minetest</code></p>
<ul>
<li>Start minetest in server mode:</li>
</ul>
<p><code>minetest --server</code></p>
<ul>
<li>Write logs to a specific file:</li>
</ul>
<p><code>minetest --logfile {{path/to/file}}</code></p>
<ul>
<li>Only write errors to the console:</li>
</ul>
<p><code>minetest --quiet</code></p>
