<h1 id="minikube">minikube</h1>
<blockquote>
<p>Tool to run Kubernetes locally. More information: <a href="https://github.com/kubernetes/minikube" class="uri">https://github.com/kubernetes/minikube</a>.</p>
</blockquote>
<ul>
<li>Start the cluster:</li>
</ul>
<p><code>minikube start</code></p>
<ul>
<li>Get the IP address of the cluster:</li>
</ul>
<p><code>minikube ip</code></p>
<ul>
<li>Access a service named my_service exposed via a node port and get the url:</li>
</ul>
<p><code>minikube service {{my_service}} --url</code></p>
<ul>
<li>Open kubernetes dashboard in a browser:</li>
</ul>
<p><code>minikube dashboard</code></p>
