<h1 id="mitmdump">mitmdump</h1>
<blockquote>
<p>View, record, and programmatically transform HTTP traffic. The command-line counterpart to mitmproxy. More information: <a href="https://docs.mitmproxy.org/stable/overview-tools/#mitmdump" class="uri">https://docs.mitmproxy.org/stable/overview-tools/#mitmdump</a>.</p>
</blockquote>
<ul>
<li>Start a proxy and save all output to a file:</li>
</ul>
<p><code>mitmdump -w {{filename}}</code></p>
<ul>
<li>Filter a saved traffic file to just POST requests:</li>
</ul>
<p><code>mitmdump -nr {{input_filename}} -w {{output_filename}} {{"~m post"}}</code></p>
<ul>
<li>Replay a saved traffic file:</li>
</ul>
<p><code>mitmdump -nc {{filename}}</code></p>
