<h1 id="mitmproxy">mitmproxy</h1>
<blockquote>
<p>An interactive man-in-the-middle HTTP proxy. More information: <a href="https://mitmproxy.org" class="uri">https://mitmproxy.org</a>.</p>
</blockquote>
<ul>
<li>Start mitmproxy with default settings:</li>
</ul>
<p><code>mitmproxy</code></p>
<ul>
<li>Start mitmproxy bound to custom address and port:</li>
</ul>
<p><code>mitmproxy -b {{ip_address}} -p {{port}}</code></p>
