<h1 id="mix">mix</h1>
<blockquote>
<p>Mix is a build tool that provides tasks for creating, compiling, and testing Elixir projects, managing its dependencies, and more. More information: <a href="https://hexdocs.pm/mix" class="uri">https://hexdocs.pm/mix</a>.</p>
</blockquote>
<ul>
<li>Execute a particular file:</li>
</ul>
<p><code>mix run {{my_script.exs}}</code></p>
<ul>
<li>Create a new project:</li>
</ul>
<p><code>mix new {{project_name}}</code></p>
<ul>
<li>Compile project:</li>
</ul>
<p><code>mix compile</code></p>
<ul>
<li>Run project tests:</li>
</ul>
<p><code>mix test</code></p>
<ul>
<li>List all mix commands:</li>
</ul>
<p><code>mix help</code></p>
