<h1 id="mkcert">mkcert</h1>
<blockquote>
<p>Tool for making locally-trusted development certificates. More information: <a href="https://github.com/FiloSottile/mkcert" class="uri">https://github.com/FiloSottile/mkcert</a>.</p>
</blockquote>
<ul>
<li>Install the local CA in the system trust store:</li>
</ul>
<p><code>mkcert -install</code></p>
<ul>
<li>Generate certificate and private key for a given domain:</li>
</ul>
<p><code>mkcert {{example.org}}</code></p>
<ul>
<li>Generate certificate and private key for multiple domains:</li>
</ul>
<p><code>mkcert {{example.org}} {{myapp.dev}} {{127.0.0.1}}</code></p>
<ul>
<li>Generate wildcard certificate and private key for a given domain and its subdomains:</li>
</ul>
<p><code>mkcert {{"*.example.it"}}</code></p>
<ul>
<li>Uninstall the local CA:</li>
</ul>
<p><code>mkcert -uninstall</code></p>
