<h1 id="mkdir">mkdir</h1>
<blockquote>
<p>Creates a directory.</p>
</blockquote>
<ul>
<li>Create a directory in current directory or given path:</li>
</ul>
<p><code>mkdir {{directory}}</code></p>
<ul>
<li>Create directories recursively (useful for creating nested dirs):</li>
</ul>
<p><code>mkdir -p {{path/to/directory}}</code></p>
