<h1 id="mktemp">mktemp</h1>
<blockquote>
<p>Create a temporary file or directory. More information: <a href="https://www.gnu.org/software/autogen/mktemp.html" class="uri">https://www.gnu.org/software/autogen/mktemp.html</a>.</p>
</blockquote>
<ul>
<li>Create an empty temporary file and return the absolute path to it:</li>
</ul>
<p><code>mktemp</code></p>
<ul>
<li>Create a temporary directory and return the absolute path to it:</li>
</ul>
<p><code>mktemp -d</code></p>
<ul>
<li>Create a temporary file with a specified suffix:</li>
</ul>
<p><code>mktemp --suffix "{{.txt}}"</code></p>
