<h1 id="mlr">mlr</h1>
<blockquote>
<p>Miller is like <code>awk</code>, <code>sed</code>, <code>cut</code>, <code>join</code>, and <code>sort</code> for name-indexed data such as CSV, TSV, and tabular JSON. More information: <a href="https://johnkerl.org/miller/doc" class="uri">https://johnkerl.org/miller/doc</a>.</p>
</blockquote>
<ul>
<li>Pretty-print a CSV file in a tabular format:</li>
</ul>
<p><code>mlr --icsv --opprint cat {{example.csv}}</code></p>
<ul>
<li>Receive JSON data and pretty print the output:</li>
</ul>
<p><code>echo '{"hello":"world"}' | mlr --ijson --opprint cat</code></p>
<ul>
<li>Sort alphabetically on a field:</li>
</ul>
<p><code>mlr --icsv --opprint sort -f {{field}} {{example.csv}}</code></p>
<ul>
<li>Sort in descending numerical order on a field:</li>
</ul>
<p><code>mlr --icsv --opprint sort -nr {{field}} {{example.csv}}</code></p>
<ul>
<li>Convert CSV to JSON, performing calculations and display those calculations:</li>
</ul>
<p><code>mlr --icsv --ojson put '${{newField1}} = ${{oldFieldA}}/${{oldFieldB}}' {{example.csv}}</code></p>
<ul>
<li>Receive JSON and format the output as vertical JSON:</li>
</ul>
<p><code>echo '{"hello":"world", "foo":"bar"}' | mlr --ijson --ojson --jvstack cat</code></p>
