<h1 id="mmv">mmv</h1>
<blockquote>
<p>Move and rename files in bulk.</p>
</blockquote>
<ul>
<li>Rename all files with a certain extension to a different extension:</li>
</ul>
<p><code>mmv "*{{.old_extension}}" "#1{{.new_extension}}"</code></p>
<ul>
<li>Copy report6part4.txt to ./french/rapport6partie4.txt along with all similarly named files:</li>
</ul>
<p><code>mmv -c {{"report*part*.txt"}} {{"./french/rapport#1partie#2.txt"}}</code></p>
<ul>
<li>Append all .txt files into one file:</li>
</ul>
<p><code>mmv -a {{"*.txt"}} {{"all.txt"}}</code></p>
<ul>
<li>Convert dates in filenames from “M-D-Y” format to “D-M-Y” format:</li>
</ul>
<p><code>mmv {{"[0-1][0-9]-[0-3][0-9]-[0-9][0-9][0-9][0-9].txt"}} {{"#3#4-#1#2-#5#6#7#8.txt"}}</code></p>
