<h1 id="mocha">mocha</h1>
<blockquote>
<p>Execute Mocha JavaScript test runner. More information: <a href="https://mochajs.org" class="uri">https://mochajs.org</a>.</p>
</blockquote>
<ul>
<li>Run tests with default configuration or as configured in <code>mocha.opts</code>:</li>
</ul>
<p><code>mocha</code></p>
<ul>
<li>Run tests contained at a specific location:</li>
</ul>
<p><code>mocha {{directory/with/tests}}</code></p>
<ul>
<li>Run tests that match a specific grep pattern:</li>
</ul>
<p><code>mocha --grep {{^regex$}}</code></p>
<ul>
<li>Run tests on changes to JavaScript files in the current directory and once initially:</li>
</ul>
<p><code>mocha --watch</code></p>
<ul>
<li>Run tests with a specific reporter:</li>
</ul>
<p><code>mocha --reporter {{reporter}}</code></p>
