<h1 id="mogrify">mogrify</h1>
<blockquote>
<p>Perform operations on multiple images, such as resizing, cropping, flipping, and adding effects. Changes are applied directly to the original file. More information: <a href="https://imagemagick.org/script/mogrify.php" class="uri">https://imagemagick.org/script/mogrify.php</a>.</p>
</blockquote>
<ul>
<li>Resize all JPEG images in the directory to 50% of their initial size:</li>
</ul>
<p><code>mogrify -resize {{50%}} {{*.jpg}}</code></p>
<ul>
<li>Resize all images starting with “DSC” to 800x600:</li>
</ul>
<p><code>mogrify -resize {{800x600}} {{DSC*}}</code></p>
<ul>
<li>Convert all PNG images in the directory to JPEG:</li>
</ul>
<p><code>mogrify -format {{jpg}} {{*.png}}</code></p>
<ul>
<li>Halve the saturation of all image files in the current directory:</li>
</ul>
<p><code>mogrify -modulate {{100,50}} {{*}}</code></p>
<ul>
<li>Double the brightness of all image files in the current directory:</li>
</ul>
<p><code>mogrify -modulate {{200}} {{*}}</code></p>
