<h1 id="molecule">molecule</h1>
<blockquote>
<p>Molecule helps testing ansible roles. More information: <a href="https://molecule.readthedocs.io" class="uri">https://molecule.readthedocs.io</a>.</p>
</blockquote>
<ul>
<li>Create a new ansible role:</li>
</ul>
<p><code>molecule init role --role-name {{role_name}}</code></p>
<ul>
<li>Run tests:</li>
</ul>
<p><code>molecule test</code></p>
<ul>
<li>Start the instance:</li>
</ul>
<p><code>molecule create</code></p>
<ul>
<li>Configure the instance:</li>
</ul>
<p><code>molecule converge</code></p>
<ul>
<li>Login into the instance:</li>
</ul>
<p><code>molecule login</code></p>
