<h1 id="mongorestore">mongorestore</h1>
<blockquote>
<p>Utility to import a collection or database from a binary dump into a MongoDB instance. More information: <a href="https://docs.mongodb.com/manual/reference/program/mongorestore" class="uri">https://docs.mongodb.com/manual/reference/program/mongorestore</a>.</p>
</blockquote>
<ul>
<li>Import a bson data dump from a directory to a MongoDB database:</li>
</ul>
<p><code>mongorestore --db {{database_name}} {{path/to/directory}}</code></p>
<ul>
<li>Import a bson data dump from a directory to a given database in a MongoDB server host, running at a given port, with user authentication (user will be prompted for password):</li>
</ul>
<p><code>mongorestore --host {{database_host:port}} --db {{database_name}} --username {{username}} {{path/to/directory}} --password</code></p>
<ul>
<li>Import a collection from a bson file to a MongoDB database:</li>
</ul>
<p><code>mongorestore --db {{database_name}} {{path/to/file}}</code></p>
<ul>
<li>Import a collection from a bson file to a given database in a MongoDB server host, running at a given port, with user authentication (user will be prompted for password):</li>
</ul>
<p><code>mongorestore --host {{database_host:port}} --db {{database_name}} --username {{username}} {{path/to/file}} --password</code></p>
