<h1 id="mongo">mongo</h1>
<blockquote>
<p>MongoDB interactive shell client. More information: <a href="https://docs.mongodb.com/manual/reference/program/mongo" class="uri">https://docs.mongodb.com/manual/reference/program/mongo</a>.</p>
</blockquote>
<ul>
<li>Connect to a database:</li>
</ul>
<p><code>mongo {{database}}</code></p>
<ul>
<li>Connect to a database running on a given host on a given port:</li>
</ul>
<p><code>mongo --host {{host}} --port {{port}} {{database}}</code></p>
<ul>
<li>Connect to a database with a given username; user will be prompted for password:</li>
</ul>
<p><code>mongo --username {{username}} {{database}} --password</code></p>
<ul>
<li>Evaluate a javascript expression on the database:</li>
</ul>
<p><code>mongo --eval '{{JSON.stringify(db.foo.findOne())}}' {{database}}</code></p>
