<h1 id="mongod">mongod</h1>
<blockquote>
<p>The MongoDB database server. More information: <a href="https://docs.mongodb.com/manual/reference/program/mongod" class="uri">https://docs.mongodb.com/manual/reference/program/mongod</a>.</p>
</blockquote>
<ul>
<li>Specify a config file:</li>
</ul>
<p><code>mongod --config {{filename}}</code></p>
<ul>
<li>Specify the port to listen on:</li>
</ul>
<p><code>mongod --port {{port}}</code></p>
<ul>
<li>Specify database profiling level. 0 is off, 1 is only slow operations, 2 is all:</li>
</ul>
<p><code>mongod --profile {{0|1|2}}</code></p>
