<h1 id="mongodump">mongodump</h1>
<blockquote>
<p>Utility to export the contents of a MongoDB instance. More information: <a href="https://docs.mongodb.com/manual/reference/program/mongodump" class="uri">https://docs.mongodb.com/manual/reference/program/mongodump</a>.</p>
</blockquote>
<ul>
<li>Create a dump of all databases (this will place the files inside a directory called “dump”):</li>
</ul>
<p><code>mongodump</code></p>
<ul>
<li>Specify an output location for the dump:</li>
</ul>
<p><code>mongodump --out {{path/to/directory}}</code></p>
<ul>
<li>Create a dump of a given database:</li>
</ul>
<p><code>mongodump --db {{database_name}}</code></p>
<ul>
<li>Create a dump of a given collection within a given database:</li>
</ul>
<p><code>mongodump --collection {{collection_name}} --db {{database_name}}</code></p>
<ul>
<li>Connect to a given host running on a given port, and create a dump:</li>
</ul>
<p><code>mongodump --host {{host}} --port {{port}}</code></p>
<ul>
<li>Create a dump of a given database with a given username; user will be prompted for password:</li>
</ul>
<p><code>mongodump --username {{username}} {{database}} --password</code></p>
