<h1 id="monodis">monodis</h1>
<blockquote>
<p>The Mono Common Intermediate Language (CIL) disassembler. More information: <a href="https://www.mono-project.com/docs/tools+libraries/tools/monodis/" class="uri">https://www.mono-project.com/docs/tools+libraries/tools/monodis/</a>.</p>
</blockquote>
<ul>
<li>Disassemble an assembly to textual CIL:</li>
</ul>
<p><code>monodis {{path/to/assembly.exe}}</code></p>
<ul>
<li>Save the output to a file:</li>
</ul>
<p><code>monodis --output={{path/to/output.il}} {{path/to/assembly.exe}}</code></p>
<ul>
<li>Show information about an assembly:</li>
</ul>
<p><code>monodis --assembly {{path/to/assembly.dll}}</code></p>
<ul>
<li>List the references of an assembly:</li>
</ul>
<p><code>monodis --assemblyref {{path/to/assembly.exe}}</code></p>
<ul>
<li>List all the methods in an assembly:</li>
</ul>
<p><code>monodis --method {{path/to/assembly.exe}}</code></p>
<ul>
<li>Show a list of resources embedded within an assembly:</li>
</ul>
<p><code>monodis --manifest {{path/to/assembly.dll}}</code></p>
<ul>
<li>Extract all the embedded resources to the current directory:</li>
</ul>
<p><code>monodis --mresources {{path/to/assembly.dll}}</code></p>
