<h1 id="monodevelop">monodevelop</h1>
<blockquote>
<p>Cross platform IDE for C#, F# and more. More information: <a href="https://www.monodevelop.com/" class="uri">https://www.monodevelop.com/</a>.</p>
</blockquote>
<ul>
<li>Start Monodevelop:</li>
</ul>
<p><code>monodevelop</code></p>
<ul>
<li>Open a specific file:</li>
</ul>
<p><code>monodevelop {{path/to/file}}</code></p>
<ul>
<li>Open a specific file with the caret at a specific position:</li>
</ul>
<p><code>monodevelop {{path/to/file}};{{line_number}};{{column_number}}</code></p>
<ul>
<li>Force opening a new window instead of switching to an existing one:</li>
</ul>
<p><code>monodevelop --new-window</code></p>
<ul>
<li>Disable redirection of <code>stdout</code> and stderr to a log file:</li>
</ul>
<p><code>monodevelop --no-redirect</code></p>
<ul>
<li>Enable performance monitoring:</li>
</ul>
<p><code>monodevelop --perf-log</code></p>
