<h1 id="monop">monop</h1>
<blockquote>
<p>Finds and displays signatures of Types and methods inside .NET assemblies.</p>
</blockquote>
<ul>
<li>Show the structure of a Type built-in of the .NET Framework:</li>
</ul>
<p><code>monop {{System.String}}</code></p>
<ul>
<li>List the types in an assembly:</li>
</ul>
<p><code>monop -r:{{path/to/assembly.exe}}</code></p>
<ul>
<li>Show the structure of a Type in a specific assembly:</li>
</ul>
<p><code>monop -r:{{path/to/assembly.dll}} {{Namespace.Path.To.Type}}</code></p>
<ul>
<li>Only show members defined in the specified Type:</li>
</ul>
<p><code>monop -r:{{path/to/assembly.dll}} --only-declared {{Namespace.Path.To.Type}}</code></p>
<ul>
<li>Show private members:</li>
</ul>
<p><code>monop -r:{{path/to/assembly.dll}} --private {{Namespace.Path.To.Type}}</code></p>
<ul>
<li>Hide obsolete members:</li>
</ul>
<p><code>monop -r:{{path/to/assembly.dll}} --filter-obsolete {{Namespace.Path.To.Type}}</code></p>
<ul>
<li>List the other assemblies that a specified assembly references:</li>
</ul>
<p><code>monop -r:{{path/to/assembly.dll}} --refs</code></p>
