<h1 id="montage">montage</h1>
<blockquote>
<p>Imagemagick image montage tool. Tiles images into a customisable grid. More information: <a href="https://imagemagick.org/script/montage.php" class="uri">https://imagemagick.org/script/montage.php</a>.</p>
</blockquote>
<ul>
<li>Tile images into a grid, automatically resizing images larger than the grid cell size:</li>
</ul>
<p><code>montage {{image1.png}} {{image2.jpg}} {{imageN.png}} montage.jpg</code></p>
<ul>
<li>Tile images into a grid, automatically calculating the grid cell size from the largest image:</li>
</ul>
<p><code>montage {{image1.png}} {{image2.jpg}} {{imageN.png}} -geometry +0+0 montage.jpg</code></p>
<ul>
<li>Set the grid cell size and resize images to fit it before tiling:</li>
</ul>
<p><code>montage {{image1.png}} {{image2.jpg}} {{imageN.png}} -geometry 640x480+0+0 montage.jpg</code></p>
<ul>
<li>Limit the number of rows and columns in the grid, causing input images to overflow into multiple output montages:</li>
</ul>
<p><code>montage {{image1.png}} {{image2.jpg}} {{imageN.png}} -geometry +0+0 -tile 2x3 montage_%d.jpg</code></p>
<ul>
<li>Resize and crop images to completely fill their grid cells before tiling:</li>
</ul>
<p><code>montage {{image1.png}} {{image2.jpg}} {{imageN.png}} -geometry +0+0 -resize 640x480^ -gravity center -crop 640x480+0+0 montage.jpg</code></p>
