<h1 id="more">more</h1>
<blockquote>
<p>Open a file for interactive reading, allowing scrolling and search (in forward direction only).</p>
</blockquote>
<ul>
<li>Open a file:</li>
</ul>
<p><code>more {{source_file}}</code></p>
<ul>
<li>Page down:</li>
</ul>
<p><code>&lt;Space&gt;</code></p>
<ul>
<li>Search for a string (press <code>n</code> to go to the next match):</li>
</ul>
<p><code>/{{something}}</code></p>
<ul>
<li>Exit:</li>
</ul>
<p><code>q</code></p>
