<h1 id="moro">moro</h1>
<blockquote>
<p>Track work time. More information: <a href="https://moro.js.org" class="uri">https://moro.js.org</a>.</p>
</blockquote>
<ul>
<li>Invoke <code>moro</code> without parameters, to set the current time as the start of the working day:</li>
</ul>
<p><code>moro</code></p>
<ul>
<li>Specify a custom time for the start of the working day:</li>
</ul>
<p><code>moro hi {{09:30}}</code></p>
<ul>
<li>Invoke <code>moro</code> without parameters a second time, to set the current time at the end of the working day:</li>
</ul>
<p><code>moro</code></p>
<ul>
<li>Specify a custom time for the end of the working day:</li>
</ul>
<p><code>moro bye {{17:30}}</code></p>
<ul>
<li>Add a note on the current working day:</li>
</ul>
<p><code>moro note {{3 hours on project Foo}}</code></p>
<ul>
<li>Show a report of time logs and notes for the current working day:</li>
</ul>
<p><code>moro report</code></p>
<ul>
<li>Show a report of time logs and notes for all working days on record:</li>
</ul>
<p><code>moro report --all</code></p>
