<h1 id="mosh">mosh</h1>
<blockquote>
<p>Mobile Shell (<code>mosh</code>) is a robust and responsive replacement for SSH. <code>mosh</code> persists connections to remote servers while roaming between networks. More information: <a href="https://mosh.org" class="uri">https://mosh.org</a>.</p>
</blockquote>
<ul>
<li>Connect to a remote server:</li>
</ul>
<p><code>mosh {{username}}@{{remote_host}}</code></p>
<ul>
<li>Connect to a remote server with a specific identity (private key):</li>
</ul>
<p><code>mosh --ssh="ssh -i {{/path/to/key_file}}" {{username}}@{{remote_host}}</code></p>
<ul>
<li>Connect to a remote server using a specific port:</li>
</ul>
<p><code>mosh --ssh="ssh -p {{2222}}" {{username}}@{{remote_host}}</code></p>
<ul>
<li>Run a command on a remote server:</li>
</ul>
<p><code>mosh {{remote_host}} -- {{command -with -flags}}</code></p>
<ul>
<li>Select Mosh UDP port (useful when <code>{{remote_host}}</code> is behind a NAT):</li>
</ul>
<p><code>mosh -p {{124}} {{username}}@{{remote_host}}</code></p>
<ul>
<li>Usage when <code>mosh-server</code> binary is outside standard path:</li>
</ul>
<p><code>mosh --server={{/path/to/bin/}}mosh-server {{remote_host}}</code></p>
