<h1 id="mosquitto">mosquitto</h1>
<blockquote>
<p>An MQTT broker. More information: <a href="https://mosquitto.org/" class="uri">https://mosquitto.org/</a>.</p>
</blockquote>
<ul>
<li>Start mosquitto:</li>
</ul>
<p><code>mosquitto</code></p>
<ul>
<li>Specify a configuration file to use:</li>
</ul>
<p><code>mosquitto --config-file {{path/to/file.conf}}</code></p>
<ul>
<li>Listen on a specific port:</li>
</ul>
<p><code>mosquitto --port {{8883}}</code></p>
<ul>
<li>Daemonize by forking into the background:</li>
</ul>
<p><code>mosquitto --daemon</code></p>
