<h1 id="mosquitto_sub">mosquitto_sub</h1>
<blockquote>
<p>A simple MQTT version 3.1.1 client that will subscribe to topics and print the messages that it receives. More information: <a href="https://mosquitto.org/man/mosquitto_sub-1.html" class="uri">https://mosquitto.org/man/mosquitto_sub-1.html</a>.</p>
</blockquote>
<ul>
<li>Subscribe to the topic <code>sensors/temperature</code> information with Quality of Service (<code>QoS</code>) set to 1. (The default hostname is <code>localhost</code> and port <code>1883</code>):</li>
</ul>
<p><code>mosquitto_sub -t {{sensors/temperature}} -q {{1}}</code></p>
<ul>
<li>Subscribe to all broker status messages publishing on <code>iot.eclipse.org</code> port <code>1885</code> and print published messages verbosely:</li>
</ul>
<p><code>mosquitto_sub -v -h "iot.eclipse.org" -p 1885 -t {{\$SYS/#}}</code></p>
<ul>
<li>Subscribe to multiple topics matching a given pattern. (+ takes any metric name):</li>
</ul>
<p><code>mosquitto_sub -t {{sensors/machines/+/temperature/+}}</code></p>
