<h1 id="mosquitto_passwd">mosquitto_passwd</h1>
<blockquote>
<p>Manage password files for mosquitto. See also <code>mosquitto</code>, the MQTT server that this manages. More information: <a href="https://mosquitto.org/man/mosquitto_passwd-1.html" class="uri">https://mosquitto.org/man/mosquitto_passwd-1.html</a>.</p>
</blockquote>
<ul>
<li>Add a new user to a password file (will prompt to enter the password):</li>
</ul>
<p><code>mosquitto_passwd {{path/to/password_file}} {{username}}</code></p>
<ul>
<li>Create the password file if it doesn’t already exist:</li>
</ul>
<p><code>mosquitto_passwd -c {{path/to/password_file}} {{username}}</code></p>
<ul>
<li>Delete the specified username instead:</li>
</ul>
<p><code>mosquitto_passwd -D {{path/to/password_file}} {{username}}</code></p>
<ul>
<li>Upgrade an old plain-text password file to a hashed password file:</li>
</ul>
<p><code>mosquitto_passwd -U {{path/to/password_file}}</code></p>
