<h1 id="most">most</h1>
<blockquote>
<p>Open one or several files for interactive reading, allowing scrolling and search.</p>
</blockquote>
<ul>
<li>Open a file:</li>
</ul>
<p><code>most {{path/to/file}}</code></p>
<ul>
<li>Open several files:</li>
</ul>
<p><code>most {{path/to/file1}} {{path/to/file2}}</code></p>
<ul>
<li>Open a file at the first occurrence of “string”:</li>
</ul>
<p><code>most {{file}} +/{{string}}</code></p>
<ul>
<li>Move through opened files:</li>
</ul>
<p><code>:O n</code></p>
<ul>
<li>Jump to the 100th line:</li>
</ul>
<p><code>{{100}}j</code></p>
<ul>
<li>Edit current file:</li>
</ul>
<p><code>e</code></p>
<ul>
<li>Split the current window in half:</li>
</ul>
<p><code>&lt;CTRL-x&gt; o</code></p>
<ul>
<li>Exit:</li>
</ul>
<p><code>Q</code></p>
