<h1 id="mount">mount</h1>
<blockquote>
<p>Provides access to an entire filesystem in one directory.</p>
</blockquote>
<ul>
<li>Show all mounted filesystems:</li>
</ul>
<p><code>mount</code></p>
<ul>
<li>Mount a device to a directory:</li>
</ul>
<p><code>mount -t {{filesystem_type}} {{path/to/device_file}} {{path/to/target_directory}}</code></p>
<ul>
<li>Mount a CD-ROM device (with the filetype ISO9660) to /cdrom (readonly):</li>
</ul>
<p><code>mount -t {{iso9660}} -o ro {{/dev/cdrom}} {{/cdrom}}</code></p>
<ul>
<li>Mount all the filesystem defined in /etc/fstab:</li>
</ul>
<p><code>mount -a</code></p>
<ul>
<li>Mount a specific filesystem described in /etc/fstab (e.g. “/dev/sda1 /my_drive ext2 defaults 0 2”):</li>
</ul>
<p><code>mount {{/my_drive}}</code></p>
<ul>
<li>Mount a directory to another directory:</li>
</ul>
<p><code>mount --bind {{path/to/old_dir}} {{path/to/new_dir}}</code></p>
