<h1 id="mp4box">mp4box</h1>
<blockquote>
<p>MPEG-4 Systems Toolbox - Muxes streams into MP4 container. More information: <a href="https://gpac.wp.imt.fr/mp4box" class="uri">https://gpac.wp.imt.fr/mp4box</a>.</p>
</blockquote>
<ul>
<li>Display information about an existing MP4 file:</li>
</ul>
<p><code>mp4box -info {{filename}}</code></p>
<ul>
<li>Add an SRT subtitle file into an MP4 file:</li>
</ul>
<p><code>mp4box -add {{input_subs.srt}}:lang=eng -add {{input.mp4}} {{output.mp4}}</code></p>
<ul>
<li>Combine audio from one file and video from another:</li>
</ul>
<p><code>mp4box -add {{input1.mp4}}#audio -add {{input2.mp4}}#video {{output.mp4}</code></p>
