<h1 id="mpc">mpc</h1>
<blockquote>
<p>Music Player Client. Program for controlling the Music Player Daemon (MPD). More information: <a href="https://www.musicpd.org/clients/mpc" class="uri">https://www.musicpd.org/clients/mpc</a>.</p>
</blockquote>
<ul>
<li>Toggle play/pause:</li>
</ul>
<p><code>mpc toggle</code></p>
<ul>
<li>Stop playing:</li>
</ul>
<p><code>mpc stop</code></p>
<ul>
<li>Show information about the currently playing song:</li>
</ul>
<p><code>mpc status</code></p>
<ul>
<li>Play next song:</li>
</ul>
<p><code>mpc next</code></p>
<ul>
<li>Play previous song:</li>
</ul>
<p><code>mpc prev</code></p>
<ul>
<li>Forward or rewind the currently playing song:</li>
</ul>
<p><code>mpc [+-]{{seconds}}</code></p>
