<h1 id="mpv">mpv</h1>
<blockquote>
<p>A audio/video player based on MPlayer. More information: <a href="https://mpv.io" class="uri">https://mpv.io</a>.</p>
</blockquote>
<ul>
<li>Play a video or audio file:</li>
</ul>
<p><code>mpv {{file}}</code></p>
<ul>
<li>Jump backward/forward 5 seconds:</li>
</ul>
<p><code>LEFT &lt;or&gt; RIGHT</code></p>
<ul>
<li>Jump backward/forward 1 minute:</li>
</ul>
<p><code>DOWN &lt;or&gt; UP</code></p>
<ul>
<li>Decrease or increase playback speed by 10 %:</li>
</ul>
<p><code>[ &lt;or&gt; ]</code></p>
<ul>
<li>Play a file at a specified speed (0.01 to 100, default 1):</li>
</ul>
<p><code>mpv --speed {{speed}} {{file}}</code></p>
<ul>
<li>Play a file using a profile defined in the <code>mpv.conf</code> file:</li>
</ul>
<p><code>mpv --profile {{profile_name}} {{file}}</code></p>
