<h1 id="mr">mr</h1>
<blockquote>
<p>Myrepos manages all your version control repositories at once. More information: <a href="https://myrepos.branchable.com" class="uri">https://myrepos.branchable.com</a>.</p>
</blockquote>
<ul>
<li>Register a repository:</li>
</ul>
<p><code>mr register</code></p>
<ul>
<li>Update repositories in 5 concurent jobs:</li>
</ul>
<p><code>mr -j{{5}} update</code></p>
<ul>
<li>Print the status of all repositories:</li>
</ul>
<p><code>mr status</code></p>
<ul>
<li>Checkout all repositories to the latest version:</li>
</ul>
<p><code>mr checkout</code></p>
