<h1 id="msbuild">msbuild</h1>
<blockquote>
<p>The Microsoft build tool for Visual Studio project solutions. More information: <a href="https://docs.microsoft.com/visualstudio/msbuild" class="uri">https://docs.microsoft.com/visualstudio/msbuild</a>.</p>
</blockquote>
<ul>
<li>Build the first project file in the current directory:</li>
</ul>
<p><code>msbuild</code></p>
<ul>
<li>Build a specific project file:</li>
</ul>
<p><code>msbuild {{path/to/project_file}}</code></p>
<ul>
<li>Set one or more semicolon-separated targets to build:</li>
</ul>
<p><code>msbuild {{path/to/project_file}} /target:{{targets}}</code></p>
<ul>
<li>Set one or more semicolon-separated properties:</li>
</ul>
<p><code>msbuild {{path/to/project_file}} /property:{{name=value}}</code></p>
<ul>
<li>Set the build tools version to use:</li>
</ul>
<p><code>msbuild {{path/to/project_file}} /toolsversion:{{version}}</code></p>
<ul>
<li>Display detailed information at the end of the log about how the project was configured:</li>
</ul>
<p><code>msbuild {{path/to/project_file}} /detailedsummary</code></p>
<ul>
<li>Display detailed help information:</li>
</ul>
<p><code>msbuild /help</code></p>
