<h1 id="msmtp">msmtp</h1>
<blockquote>
<p>An SMTP client. It reads text from standard input and sends it to an SMTP server. More information: <a href="https://marlam.de/msmtp" class="uri">https://marlam.de/msmtp</a>.</p>
</blockquote>
<ul>
<li>Send an email using the default account configured in <code>~/.msmtprc</code>:</li>
</ul>
<p><code>echo {{"Hello world"}} | msmtp {{to@example.org}}</code></p>
<ul>
<li>Send an email using a specific account configured in <code>~/.msmtprc</code>:</li>
</ul>
<p><code>echo {{"Hello world"}} | msmtp --account={{account_name}} {{to@example.org}}</code></p>
<ul>
<li>Send an email without a configured account. The password should be specified in the <code>~/.msmtprc</code> file:</li>
</ul>
<p><code>echo {{"Hello world"}} | msmtp --host={{localhost}} --port={{999}} --from={{from@example.org}} {{to@example.org}}</code></p>
