<h1 id="mtr">mtr</h1>
<blockquote>
<p>Matt’s Traceroute: combined traceroute and ping tool. More information: <a href="https://bitwizard.nl/mtr" class="uri">https://bitwizard.nl/mtr</a>.</p>
</blockquote>
<ul>
<li>Traceroute to a host and continuously ping all intermediary hops:</li>
</ul>
<p><code>mtr {{host}}</code></p>
<ul>
<li>Disable IP address and host name mapping:</li>
</ul>
<p><code>mtr -n {{host}}</code></p>
<ul>
<li>Generate output after pinging each hop 10 times:</li>
</ul>
<p><code>mtr -w {{host}}</code></p>
<ul>
<li>Force IP IPv4 or IPV6:</li>
</ul>
<p><code>mtr -4 {{host}}</code></p>
<ul>
<li>Wait for a given time (in seconds) before sending another packet to the same hop:</li>
</ul>
<p><code>mtr -i {{seconds}} {{host}}</code></p>
