<h1 id="mutool">mutool</h1>
<blockquote>
<p>Convert PDF files, query information and extract data. More information: <a href="https://mupdf.com/docs" class="uri">https://mupdf.com/docs</a>.</p>
</blockquote>
<ul>
<li>Convert pages 1-10 into 10 PNG images:</li>
</ul>
<p><code>mutool convert -o {{image%d.png}} {{file.pdf}} {{1-10}}</code></p>
<ul>
<li>Convert pages 2, 3 and 5 of a PDF into text in the standard output:</li>
</ul>
<p><code>mutool draw -F {{txt}} {{file.pdf}} {{2,3,5}}</code></p>
<ul>
<li>Concatenate two PDFs:</li>
</ul>
<p><code>mutool merge -o {{output.pdf}} {{input1.pdf}} {{input2.pdf}}</code></p>
<ul>
<li>Query information about all content embedded in a PDF:</li>
</ul>
<p><code>mutool info {{input.pdf}}</code></p>
<ul>
<li>Extract all images, fonts and resources embedded in a PDF out into the current directory:</li>
</ul>
<p><code>mutool extract {{input.pdf}}</code></p>
