<h1 id="mutt">mutt</h1>
<blockquote>
<p>Command-line email client. More information: <a href="http://mutt.org" class="uri">http://mutt.org</a>.</p>
</blockquote>
<ul>
<li>Open the specified mailbox:</li>
</ul>
<p><code>mutt -f {{mailbox}}</code></p>
<ul>
<li>Send an email and specify a subject and a cc recipient:</li>
</ul>
<p><code>mutt -s {{subject}} -c {{cc@example.com}} {{recipient@example.com}}</code></p>
<ul>
<li>Send an email with files attached:</li>
</ul>
<p><code>mutt -a {{file1}} {{file2}} -- {{recipient@example.com}}</code></p>
<ul>
<li>Specify a file to include as the message body:</li>
</ul>
<p><code>mutt -i {{file}} {{recipient@example.com}}</code></p>
<ul>
<li>Specify a draft file containing the header and the body of the message, in RFC 5322 format:</li>
</ul>
<p><code>mutt -H {{file}} {{recipient@example.com}}</code></p>
