<h1 id="mv">mv</h1>
<blockquote>
<p>Move or rename files and directories.</p>
</blockquote>
<ul>
<li>Move files in arbitrary locations:</li>
</ul>
<p><code>mv {{source}} {{target}}</code></p>
<ul>
<li>Do not prompt for confirmation before overwriting existing files:</li>
</ul>
<p><code>mv -f {{source}} {{target}}</code></p>
<ul>
<li>Prompt for confirmation before overwriting existing files, regardless of file permissions:</li>
</ul>
<p><code>mv -i {{source}} {{target}}</code></p>
<ul>
<li>Do not overwrite existing files at the target:</li>
</ul>
<p><code>mv -n {{source}} {{target}}</code></p>
<ul>
<li>Move files in verbose mode, showing files after they are moved:</li>
</ul>
<p><code>mv -v {{source}} {{target}}</code></p>
