<h1 id="mvn">mvn</h1>
<blockquote>
<p>Apache Maven. Tool for building and managing Java-based projects. More information: <a href="https://maven.apache.org" class="uri">https://maven.apache.org</a>.</p>
</blockquote>
<ul>
<li>Compile a project:</li>
</ul>
<p><code>mvn compile</code></p>
<ul>
<li>Compile and package the compiled code in its distributable format, such as a <code>jar</code>:</li>
</ul>
<p><code>mvn package</code></p>
<ul>
<li>Compile and package, skipping unit tests:</li>
</ul>
<p><code>mvn package -Dmaven.test.skip=true</code></p>
<ul>
<li>Install the built package in local maven repository. (This will invoke the compile and package commands too):</li>
</ul>
<p><code>mvn install</code></p>
<ul>
<li>Delete build artifacts from the target directory:</li>
</ul>
<p><code>mvn clean</code></p>
<ul>
<li>Do a clean and then invoke the package phase:</li>
</ul>
<p><code>mvn clean package</code></p>
<ul>
<li>Clean and then package the code with a given build profile:</li>
</ul>
<p><code>mvn clean -P{{profile}} package</code></p>
<ul>
<li>Run a class with a main method:</li>
</ul>
<p><code>mvn exec:java -Dexec.mainClass="{{com.example.Main}}" -Dexec.args="{{arg1 arg2}}"</code></p>
