<h1 id="mycli">mycli</h1>
<blockquote>
<p>A command line client for MySQL that can do auto-completion and syntax highlighting. More information: <a href="https://mycli.net" class="uri">https://mycli.net</a>.</p>
</blockquote>
<ul>
<li>Connect to a local database on port 3306, using the current user’s username:</li>
</ul>
<p><code>mycli {{database_name}}</code></p>
<ul>
<li>Connect to a database (user will be prompted for a password):</li>
</ul>
<p><code>mycli -u {{username}} {{database_name}}</code></p>
<ul>
<li>Connect to a database on another host:</li>
</ul>
<p><code>mycli -h {{database_host}} -P {{port}} -u {{username}} {{database_name}}</code></p>
