<h1 id="mysql">mysql</h1>
<blockquote>
<p>The MySQL command-line tool. More information: <a href="https://www.mysql.com/" class="uri">https://www.mysql.com/</a>.</p>
</blockquote>
<ul>
<li>Connect to a database:</li>
</ul>
<p><code>mysql {{database_name}}</code></p>
<ul>
<li>Connect to a database, user will be prompted for a password:</li>
</ul>
<p><code>mysql -u {{user}} --password {{database_name}}</code></p>
<ul>
<li>Connect to a database on another host:</li>
</ul>
<p><code>mysql -h {{database_host}} {{database_name}}</code></p>
<ul>
<li>Connect to a database through a Unix socket:</li>
</ul>
<p><code>mysql --socket {{path/to/socket.sock}}</code></p>
<ul>
<li>Execute SQL statements in a script file (batch file):</li>
</ul>
<p><code>mysql -e "source {{filename.sql}}" {{database_name}}</code></p>
