<h1 id="mysqldump">mysqldump</h1>
<blockquote>
<p>Backups MySQL databases. More information: <a href="https://dev.mysql.com/doc/refman/en/mysqldump.html" class="uri">https://dev.mysql.com/doc/refman/en/mysqldump.html</a>.</p>
</blockquote>
<ul>
<li>Create a backup, user will be prompted for a password:</li>
</ul>
<p><code>mysqldump -u {{user}} --password {{database_name}} -r {{filename.sql}}</code></p>
<ul>
<li>Restore a backup, user will be prompted for a password:</li>
</ul>
<p><code>mysql -u {{user}} --password -e "source {{filename.sql}}" {{database_name}}</code></p>
<ul>
<li>Backup all databases redirecting the output to a file (user will be prompted for a password):</li>
</ul>
<p><code>mysqldump -u {{user}} -p --all-databases &gt; {{filename.sql}}</code></p>
<ul>
<li>Restore all databases from a backup (user will be prompted for a password):</li>
</ul>
<p><code>mysql -u {{user}} -p &lt; {{filename.sql}}</code></p>
