<h1 id="mytop">mytop</h1>
<blockquote>
<p>Display MySQL server performance info like <code>top</code>. More information: <a href="http://www.mysqlfanboy.com/mytop-3" class="uri">http://www.mysqlfanboy.com/mytop-3</a>.</p>
</blockquote>
<ul>
<li>Start mytop:</li>
</ul>
<p><code>mytop</code></p>
<ul>
<li>Connect with a specified username and password:</li>
</ul>
<p><code>mytop -u {{user}} -p {{password}}</code></p>
<ul>
<li>Connect with a specified username (the user will be prompted for a password):</li>
</ul>
<p><code>mytop -u {{user}} --prompt</code></p>
<ul>
<li>Do not show any idle (sleeping) threads:</li>
</ul>
<p><code>mytop -u {{user}} -p {{password}} --noidle</code></p>
