<h1 id="nano">nano</h1>
<blockquote>
<p>Simple, easy to use editor. An enhanced, free Pico clone. More information: <a href="https://nano-editor.org" class="uri">https://nano-editor.org</a>.</p>
</blockquote>
<ul>
<li>Start nano in terminal with {filename}:</li>
</ul>
<p><code>nano {{filename}}</code></p>
<ul>
<li>Enable smooth scrolling:</li>
</ul>
<p><code>nano -S {{filename}}</code></p>
<ul>
<li>Indent new lines to the previous lines’ indentation:</li>
</ul>
<p><code>nano -i {{filename}}</code></p>
