<h1 id="nasm">nasm</h1>
<blockquote>
<p>The Netwide Assembler, a portable 80x86 assembler. More information: <a href="https://nasm.us" class="uri">https://nasm.us</a>.</p>
</blockquote>
<ul>
<li>Assemble <code>source.asm</code> into a binary file <code>source</code>, in the (default) raw binary format:</li>
</ul>
<p><code>nasm {{source.asm}}</code></p>
<ul>
<li>Assemble <code>source.asm</code> into a binary file <code>output_file</code>, in the specified format:</li>
</ul>
<p><code>nasm -f {{format}} {{source.asm}} -o {{output_file}}</code></p>
<ul>
<li>List valid output formats (along with basic nasm help):</li>
</ul>
<p><code>nasm -hf</code></p>
<ul>
<li>Assemble and generate an assembly listing file:</li>
</ul>
<p><code>nasm -l {{list_file}} {{source.asm}}</code></p>
<ul>
<li>Add a directory (must be written with trailing slash) to the include file search path before assembling:</li>
</ul>
<p><code>nasm -i {{/path/to/include_dir/}} {{source.asm}}</code></p>
