<h1 id="nc">nc</h1>
<blockquote>
<p>Netcat is a versatile utility for working with TCP or UDP data. More information: <a href="https://nmap.org/ncat" class="uri">https://nmap.org/ncat</a>.</p>
</blockquote>
<ul>
<li>Listen on a specified port and print any data received:</li>
</ul>
<p><code>nc -l {{port}}</code></p>
<ul>
<li>Connect to a certain port (you can then write to this port):</li>
</ul>
<p><code>nc {{ip_address}} {{port}}</code></p>
<ul>
<li>Set a timeout:</li>
</ul>
<p><code>nc -w {{timeout_in_seconds}} {{ipaddress}} {{port}}</code></p>
<ul>
<li>Serve a file:</li>
</ul>
<p><code>nc -l {{port}} &lt; {{file}}</code></p>
<ul>
<li>Receive a file:</li>
</ul>
<p><code>nc {{ip_address}} {{port}} &gt; {{file}}</code></p>
<ul>
<li>Server stay up after client detach:</li>
</ul>
<p><code>nc -k -l {{port}}</code></p>
<ul>
<li>Client stay up after EOF:</li>
</ul>
<p><code>nc -q {{timeout}} {{ip_address}}</code></p>
<ul>
<li>Scan the open ports of a specified host:</li>
</ul>
<p><code>nc -v -z {{ip_address}} {{port}}</code></p>
<ul>
<li>Act as proxy and forward data from a local TCP port to the given remote host:</li>
</ul>
<p><code>nc -l {{local_port}} | nc {{hostname}} {{remote_port}}</code></p>
