<h1 id="ncmpcpp">ncmpcpp</h1>
<blockquote>
<p>A command line music player client for the Music Player Daemon. More information: <a href="https://rybczak.net/ncmpcpp" class="uri">https://rybczak.net/ncmpcpp</a>.</p>
</blockquote>
<ul>
<li>Connect to a music player daemon on a given host and port:</li>
</ul>
<p><code>ncmpcpp --host {{ip}} --port {{port}}</code></p>
<ul>
<li>Display metadata of the current song to console:</li>
</ul>
<p><code>ncmpcpp --current-song</code></p>
<ul>
<li>Use a specified configuration file:</li>
</ul>
<p><code>ncmpcpp --config {{file}}</code></p>
<ul>
<li>Use a different set of key bindings from a file:</li>
</ul>
<p><code>ncmpcpp --bindings {{file}}</code></p>
