<h1 id="ned">ned</h1>
<blockquote>
<p>Is like <code>grep</code> but with powerful replace capabilities. Unlike <code>sed</code>, as it isn’t restricted to line oriented editing. More information: <a href="https://github.com/nevdelap/ned" class="uri">https://github.com/nevdelap/ned</a>.</p>
</blockquote>
<ul>
<li>Recursively search starting in the current directory, ignoring case:</li>
</ul>
<p><code>ned --ignore-case --recursive '{{^[dl]og}}' {{.}}</code></p>
<ul>
<li>Search always showing colored output:</li>
</ul>
<p><code>ned --colors '{{^[dl]og}}' {{.}}</code></p>
<ul>
<li>Search never showing colored output:</li>
</ul>
<p><code>ned --colors=never '{{^[dl]og}}' {{.}}</code></p>
<ul>
<li>Search ignoring certain files:</li>
</ul>
<p><code>ned --recursive --exclude '{{*.htm}}' '{{^[dl]og}}' {{.}}</code></p>
<ul>
<li>Simple replace:</li>
</ul>
<p><code>ned '{{dog}}' --replace '{{cat}}' {{.}}</code></p>
<ul>
<li>Replace using numbered group references:</li>
</ul>
<p><code>ned '{{the ([a-z]+) dog and the ([a-z]+) dog}}' --replace '{{the $2 dog and the $1 dog}}' {{.}}</code></p>
<ul>
<li>Replace changing case:</li>
</ul>
<p><code>ned '{{([a-z]+) dog}}' --case-replacements --replace '{{\U$1\E! dog}}' --stdout {{.}}</code></p>
<ul>
<li>Preview results of a find and replace without updating the target files:</li>
</ul>
<p><code>ned '{{^[sb]ad}}' --replace '{{happy}}' --stdout {{.}}</code></p>
