<h1 id="neofetch">neofetch</h1>
<blockquote>
<p>CLI tool to display information about your operating system, software and hardware. More information: <a href="https://github.com/dylanaraps/neofetch" class="uri">https://github.com/dylanaraps/neofetch</a>.</p>
</blockquote>
<ul>
<li>Return the default config, and create it if it’s the first time the program runs:</li>
</ul>
<p><code>neofetch</code></p>
<ul>
<li>Trigger an info line from appearing in the output, where ‘infoname’ is the function name in the config file, e.g. memory:</li>
</ul>
<p><code>neofetch --{{enable|disable}} {{infoname}}</code></p>
<ul>
<li>Hide/Show OS architecture:</li>
</ul>
<p><code>neofetch --os_arch {{on|off}}</code></p>
<ul>
<li>Enable/Disable CPU brand in output:</li>
</ul>
<p><code>neofetch --cpu_brand {{on|off}}</code></p>
