<h1 id="nextflow">nextflow</h1>
<blockquote>
<p>Tool for running computational pipelines. Mostly used for bioinformatics workflows. More information: <a href="https://www.nextflow.io" class="uri">https://www.nextflow.io</a>.</p>
</blockquote>
<ul>
<li>Run a pipeline, use cached results from previous runs:</li>
</ul>
<p><code>nextflow run {{main.nf}} -resume</code></p>
<ul>
<li>Run a specific release of a remote workflow from GitHub:</li>
</ul>
<p><code>nextflow run {{user/repo}} -revision {{release_tag}}</code></p>
<ul>
<li>Run with a given work directory for intermediate files, save execution report:</li>
</ul>
<p><code>nextflow run {{workflow}} -work-dir {{/path/to/directory}} -with-report {{report.html}}</code></p>
<ul>
<li>Show details of previous runs in current directory:</li>
</ul>
<p><code>nextflow log</code></p>
<ul>
<li>Remove cache and intermediate files for a specific run:</li>
</ul>
<p><code>nextflow clean -force {{run_name}}</code></p>
<ul>
<li>List all downloaded projects:</li>
</ul>
<p><code>nextflow list</code></p>
<ul>
<li>Pull the latest version of a remote workflow from Bitbucket:</li>
</ul>
<p><code>nextflow pull {{user/repo}} -hub bitbucket</code></p>
<ul>
<li>Update Nextflow:</li>
</ul>
<p><code>nextflow self-update</code></p>
