<h1 id="nf-core">nf-core</h1>
<blockquote>
<p>The nf-core framework tools, to create, check and develop best-practice guidelines for Nextflow. More information: <a href="https://nf-co.re/tools" class="uri">https://nf-co.re/tools</a>.</p>
</blockquote>
<ul>
<li>List existing pipelines on nf-core:</li>
</ul>
<p><code>nf-core list</code></p>
<ul>
<li>Create a new pipeline skeleton:</li>
</ul>
<p><code>nf-core create</code></p>
<ul>
<li>Lint the pipeline code:</li>
</ul>
<p><code>nf-core lint {{path/to/directory}}</code></p>
<ul>
<li>Bump software versions in pipeline recipe:</li>
</ul>
<p><code>nf-core bump-version {{path/to/directory}} {{new_version}}</code></p>
<ul>
<li>Launch an nf-core pipeline:</li>
</ul>
<p><code>nf-core launch {{pipeline_name}}</code></p>
<ul>
<li>Download an nf-core pipeline for offline use:</li>
</ul>
<p><code>nf-core download {{pipeline_name}}</code></p>
