<h1 id="ng">ng</h1>
<blockquote>
<p>Command Line Interface (CLI) for creating and managing Angular applications. More information: <a href="https://angular.io/cli" class="uri">https://angular.io/cli</a>.</p>
</blockquote>
<ul>
<li>Create a new Angular application inside a directory:</li>
</ul>
<p><code>ng new {{project_name}}</code></p>
<ul>
<li>Add a new component to one’s application:</li>
</ul>
<p><code>ng generate component {{component_name}}</code></p>
<ul>
<li>Add a new class to one’s application:</li>
</ul>
<p><code>ng generate class {{class_name}}</code></p>
<ul>
<li>Add a new directive to one’s application:</li>
</ul>
<p><code>ng generate directive {{directive_name}}</code></p>
<ul>
<li>Run the application with the following command in its root directory:</li>
</ul>
<p><code>ng serve</code></p>
<ul>
<li>Build the application:</li>
</ul>
<p><code>ng build</code></p>
<ul>
<li>Run unit tests:</li>
</ul>
<p><code>ng test</code></p>
<ul>
<li>Check the version of your current Angular installation:</li>
</ul>
<p><code>ng version</code></p>
