<h1 id="nginx">nginx</h1>
<blockquote>
<p>Nginx web server. More information: <a href="https://nginx.org/en/" class="uri">https://nginx.org/en/</a>.</p>
</blockquote>
<ul>
<li>Start server with the default config file:</li>
</ul>
<p><code>nginx</code></p>
<ul>
<li>Start server with a custom config file:</li>
</ul>
<p><code>nginx -c {{config_file}}</code></p>
<ul>
<li>Start server with a prefix for all relative paths in the config file:</li>
</ul>
<p><code>nginx -c {{config_file}} -p {{prefix/for/relative/paths}}</code></p>
<ul>
<li>Test the configuration without affecting the running server:</li>
</ul>
<p><code>nginx -t</code></p>
<ul>
<li>Reload the configuration by sending a signal with no downtime:</li>
</ul>
<p><code>nginx -s reload</code></p>
