<h1 id="ngrep">ngrep</h1>
<blockquote>
<p>Filter network traffic packets using regular expressions. More information: <a href="https://github.com/jpr5/ngrep" class="uri">https://github.com/jpr5/ngrep</a>.</p>
</blockquote>
<ul>
<li>Capture traffic of all interfaces:</li>
</ul>
<p><code>ngrep -d any</code></p>
<ul>
<li>Capture traffic of a specific interface:</li>
</ul>
<p><code>ngrep -d {{eth0}}</code></p>
<ul>
<li>Capture traffic crossing port 22 of interface eth0:</li>
</ul>
<p><code>ngrep -d {{eth0}} port {{22}}</code></p>
<ul>
<li>Capture traffic from or to a host:</li>
</ul>
<p><code>ngrep host {{www.example.com}}</code></p>
<ul>
<li>Filter keyword ‘User-Agent:’ of interface eth0:</li>
</ul>
<p><code>ngrep -d {{eth0}} '{{User-Agent:}}'</code></p>
