<h1 id="ngrok">ngrok</h1>
<blockquote>
<p>Reverse proxy that creates a secure tunnel from a public endpoint to a locally running web service. More information: <a href="https://ngrok.com" class="uri">https://ngrok.com</a>.</p>
</blockquote>
<ul>
<li>Expose a local HTTP service on a given port:</li>
</ul>
<p><code>ngrok http {{80}}</code></p>
<ul>
<li>Expose a local HTTP service on a specific host:</li>
</ul>
<p><code>ngrok http {{foo.dev}}:{{80}}</code></p>
<ul>
<li>Expose a local HTTPS server:</li>
</ul>
<p><code>ngrok http https://localhost</code></p>
<ul>
<li>Expose TCP traffic on a given port:</li>
</ul>
<p><code>ngrok tcp {{22}}</code></p>
<ul>
<li>Expose TLS traffic for a specific host and port:</li>
</ul>
<p><code>ngrok tls -hostname={{foo.com}} {{443}}</code></p>
