<h1 id="nice">nice</h1>
<blockquote>
<p>Execute a program with a custom scheduling priority (niceness). Niceness values range from -20 (the highest priority) to 19 (the lowest).</p>
</blockquote>
<ul>
<li>Launch a program with altered priority:</li>
</ul>
<p><code>nice -n {{niceness_value}} {{command}}</code></p>
