<h1 id="nikto">nikto</h1>
<blockquote>
<p>Web server scanner which performs tests against web servers for multiple items. More information: <a href="https://cirt.net/Nikto2" class="uri">https://cirt.net/Nikto2</a>.</p>
</blockquote>
<ul>
<li>Perform a basic Nikto scan against a target host:</li>
</ul>
<p><code>perl nikto.pl -h {{192.168.0.1}}</code></p>
<ul>
<li>Specify the port number when performing a basic scan:</li>
</ul>
<p><code>perl nikto.pl -h {{192.168.0.1}} -p {{443}}</code></p>
<ul>
<li>Scan ports and protocols with full URL syntax:</li>
</ul>
<p><code>perl nikto.pl -h {{https://192.168.0.1:443/}}</code></p>
<ul>
<li>Scan multiple ports in the same scanning session:</li>
</ul>
<p><code>perl nikto.pl -h {{192.168.0.1}} -p {{80,88,443}}</code></p>
<ul>
<li>Update to the latest plugins and databases:</li>
</ul>
<p><code>perl nikto.pl -update</code></p>
