<h1 id="nim">nim</h1>
<blockquote>
<p>The Nim compiler. Processes, compiles and links Nim language source files. More information: <a href="https://nim-lang.org" class="uri">https://nim-lang.org</a>.</p>
</blockquote>
<ul>
<li>Compile a source file:</li>
</ul>
<p><code>nim compile {{file.nim}}</code></p>
<ul>
<li>Compile and run a source file:</li>
</ul>
<p><code>nim compile -r {{file.nim}}</code></p>
<ul>
<li>Compile a source file with release optimizations enabled:</li>
</ul>
<p><code>nim compile -d:release {{file.nim}}</code></p>
<ul>
<li>Build a release binary optimized for low file size:</li>
</ul>
<p><code>nim compile -d:release --opt:size {{file.nim}}</code></p>
<ul>
<li>Generate HTML documentation for a module (output will be placed in the current directory):</li>
</ul>
<p><code>nim doc {{file.nim}}</code></p>
