<h1 id="nimble">nimble</h1>
<blockquote>
<p>Package manager for the Nim programming language. Manage Nim projects and their dependencies. More information: <a href="https://github.com/nim-lang/nimble" class="uri">https://github.com/nim-lang/nimble</a>.</p>
</blockquote>
<ul>
<li>Search for packages:</li>
</ul>
<p><code>nimble search {{search_string}}</code></p>
<ul>
<li>Install a package:</li>
</ul>
<p><code>nimble install {{package_name}}</code></p>
<ul>
<li>List installed packages:</li>
</ul>
<p><code>nimble list -i</code></p>
<ul>
<li>Create a new Nimble package in the current directory:</li>
</ul>
<p><code>nimble init</code></p>
<ul>
<li>Build a Nimble package:</li>
</ul>
<p><code>nimble build</code></p>
<ul>
<li>Install a Nimble package:</li>
</ul>
<p><code>nimble install</code></p>
