<h1 id="ninja">ninja</h1>
<blockquote>
<p>A Build system designed to be fast. More information: <a href="https://ninja-build.org/manual.html" class="uri">https://ninja-build.org/manual.html</a>.</p>
</blockquote>
<ul>
<li>Build in the current directory:</li>
</ul>
<p><code>ninja</code></p>
<ul>
<li>Build a program in a given directory:</li>
</ul>
<p><code>ninja -C {{path/to/directory}}</code></p>
<ul>
<li>Show targets (e.g. <code>install</code> and <code>uninstall</code>):</li>
</ul>
<p><code>ninja -t targets</code></p>
<ul>
<li>Show help:</li>
</ul>
<p><code>ninja -h</code></p>
