<h1 id="nix-build">nix-build</h1>
<blockquote>
<p>Build a Nix expression. More information: <a href="https://nixos.org/releases/nix/latest/manual#sec-nix-build" class="uri">https://nixos.org/releases/nix/latest/manual#sec-nix-build</a>.</p>
</blockquote>
<ul>
<li>Build a Nix expression:</li>
</ul>
<p><code>nix-build --attr {{expression_name}}</code></p>
<ul>
<li>Build a sandboxed Nix expression (on non-nixOS):</li>
</ul>
<p><code>nix-build --attr {{expression_name}} --option sandbox true</code></p>
