<h1 id="nix-env">nix-env</h1>
<blockquote>
<p>Manipulate or query Nix user environments. More information: <a href="https://nixos.org/releases/nix/latest/manual#sec-nix-env" class="uri">https://nixos.org/releases/nix/latest/manual#sec-nix-env</a>.</p>
</blockquote>
<ul>
<li>List all installed packages:</li>
</ul>
<p><code>nix-env -q</code></p>
<ul>
<li>Query installed packages:</li>
</ul>
<p><code>nix-env -q {{search_term}}</code></p>
<ul>
<li>Query available packages:</li>
</ul>
<p><code>nix-env -qa {{search_term}}</code></p>
<ul>
<li>Install package:</li>
</ul>
<p><code>nix-env -i {{pkg_name}}</code></p>
<ul>
<li>Install a package from a URL:</li>
</ul>
<p><code>nix-env -i {{pkg_name}} --file {{example.com}}</code></p>
<ul>
<li>Uninstall package:</li>
</ul>
<p><code>nix-env -e {{pkg_name}}</code></p>
<ul>
<li>Upgrade one package:</li>
</ul>
<p><code>nix-env -u {{pkg_name}}</code></p>
<ul>
<li>Upgrade all packages:</li>
</ul>
<p><code>nix-env -u</code></p>
