<h1 id="nix-collect-garbage">nix-collect-garbage</h1>
<blockquote>
<p>Delete unused and unreachable nix store paths. Generations can be listed using <code>nix-env --list-generations</code>. More information: <a href="https://nixos.org/releases/nix/latest/manual/#sec-nix-collect-garbage" class="uri">https://nixos.org/releases/nix/latest/manual/#sec-nix-collect-garbage</a>.</p>
</blockquote>
<ul>
<li>Delete all store paths unused by current generations of each profile:</li>
</ul>
<p><code>sudo nix-collect-garbage --delete-old</code></p>
<ul>
<li>Simulate the deletion of old store paths:</li>
</ul>
<p><code>sudo nix-collect-garbage --delete-old --dry-run</code></p>
<ul>
<li>Delete all store paths older than 30 days:</li>
</ul>
<p><code>sudo nix-collect-garbage --delete-older-than {{30d}}</code></p>
