<h1 id="nix">nix</h1>
<blockquote>
<p>Utilities for the Nix language and store. More information: <a href="https://nixos.org" class="uri">https://nixos.org</a>.</p>
</blockquote>
<ul>
<li>Search for a package via its name or description:</li>
</ul>
<p><code>nix search {{search_term}}</code></p>
<ul>
<li>Start a Nix shell with the specified packages available:</li>
</ul>
<p><code>nix run {{nixpkgs.pkg1 nixpkgs.pkg2 nixpkgs.pkg3...}}</code></p>
<ul>
<li>Optimise Nix store disk usage by combining duplicate files:</li>
</ul>
<p><code>nix optimise-store</code></p>
<ul>
<li>Start an interactive environment for evaluating Nix expressions:</li>
</ul>
<p><code>nix repl</code></p>
<ul>
<li>Upgrade Nix to the latest stable version:</li>
</ul>
<p><code>nix upgrade-nix</code></p>
