<h1 id="nl">nl</h1>
<blockquote>
<p>A utility for numbering lines, either from a file, or from standard input.</p>
</blockquote>
<ul>
<li>Number non-blank lines in a file:</li>
</ul>
<p><code>nl {{file}}</code></p>
<ul>
<li>Read from standard output:</li>
</ul>
<p><code>cat {{file}} | nl {{options}} -</code></p>
<ul>
<li>Number only the lines with printable text:</li>
</ul>
<p><code>nl -t {{file}}</code></p>
<ul>
<li>Number all lines including blank lines:</li>
</ul>
<p><code>nl -b a {{file}}</code></p>
<ul>
<li>Number only the body lines that match a basic regular expression (BRE) pattern:</li>
</ul>
<p><code>nl -b p'FooBar[0-9]' {{file}}</code></p>
