<h1 id="nmap">nmap</h1>
<blockquote>
<p>Network exploration tool and security / port scanner. Some features only activate when Nmap is run with privileges. More information: <a href="https://nmap.org" class="uri">https://nmap.org</a>.</p>
</blockquote>
<ul>
<li>Try to determine whether the specified hosts are up and what are their names:</li>
</ul>
<p><code>nmap -sn {{ip_or_hostname}} {{optional_another_address}}</code></p>
<ul>
<li>Like above, but also run a default 1000-port TCP scan if host seems up:</li>
</ul>
<p><code>nmap {{ip_or_hostname}} {{optional_another_address}}</code></p>
<ul>
<li>Also enable scripts, service detection, OS fingerprinting and traceroute:</li>
</ul>
<p><code>nmap -A {{address_or_addresses}}</code></p>
<ul>
<li>Assume good network connection and speed up execution:</li>
</ul>
<p><code>nmap -T4 {{address_or_addresses}}</code></p>
<ul>
<li>Scan a specific list of ports (use -p- for all ports 1-65535):</li>
</ul>
<p><code>nmap -p {{port1,port2,…,portN}} {{address_or_addresses}}</code></p>
<ul>
<li>Perform TCP and UDP scanning (use -sU for UDP only, -sZ for SCTP, -sO for IP):</li>
</ul>
<p><code>nmap -sSU {{address_or_addresses}}</code></p>
<ul>
<li>Perform TLS cipher scan against a host to determine supported ciphers and SSL/TLS protocols:</li>
</ul>
<p><code>nmap --script ssl-enum-ciphers {{address_or_addresses}} -p 443</code></p>
