<h1 id="node">node</h1>
<blockquote>
<p>Server-side JavaScript platform (Node.js). More information: <a href="https://nodejs.org" class="uri">https://nodejs.org</a>.</p>
</blockquote>
<ul>
<li>Run a JavaScript file:</li>
</ul>
<p><code>node {{file}}.js</code></p>
<ul>
<li>Start a REPL (interactive shell):</li>
</ul>
<p><code>node</code></p>
<ul>
<li>Evaluate JavaScript by passing it in the command:</li>
</ul>
<p><code>node -e "{{code}}"</code></p>
<ul>
<li>Evaluate and print result, useful to see node’s dependencies versions:</li>
</ul>
<p><code>node -p "{{process.versions}}"</code></p>
