<h1 id="nohup">nohup</h1>
<blockquote>
<p>Allows for a process to live when the terminal gets killed.</p>
</blockquote>
<ul>
<li>Run process that can live beyond the terminal:</li>
</ul>
<p><code>nohup {{command options}}</code></p>
