<h1 id="nokogiri">nokogiri</h1>
<blockquote>
<p>An HTML, XML, SAX and Reader parser. More information: <a href="https://nokogiri.org" class="uri">https://nokogiri.org</a>.</p>
</blockquote>
<ul>
<li>Parse the contents of a url or file:</li>
</ul>
<p><code>nokogiri {{url|path/to/file}}</code></p>
<ul>
<li>Parse as a specific type:</li>
</ul>
<p><code>nokogiri {{url|path/to/file}} --type {{xml|html}}</code></p>
<ul>
<li>Load a specific initialisation file before parsing:</li>
</ul>
<p><code>nokogiri {{url|path/to/file}} -C {{path/to/config_file}}</code></p>
<ul>
<li>Parse using a specific encoding:</li>
</ul>
<p><code>nokogiri {{url|path/to/file}} --encoding {{encoding}}</code></p>
<ul>
<li>Validate using a RELAX NG file:</li>
</ul>
<p><code>nokogiri {{url|path/to/file}} --rng {{url|path/to/file}}</code></p>
