<h1 id="noti">noti</h1>
<blockquote>
<p>Monitor a process and trigger a banner notification. More information: <a href="https://github.com/variadico/noti" class="uri">https://github.com/variadico/noti</a>.</p>
</blockquote>
<ul>
<li>Display a notification when tar finishes compressing files:</li>
</ul>
<p><code>noti {{tar -cjf example.tar.bz2 example/}}</code></p>
<ul>
<li>Display a notification even when you put it after the command to watch:</li>
</ul>
<p><code>{{command_to_watch}}; noti</code></p>
<ul>
<li>Monitor a process by PID and trigger a notification when the PID disappears:</li>
</ul>
<p><code>noti -w {{process_id}}</code></p>
