<h1 id="now">now</h1>
<blockquote>
<p>Cloud platform for serverless deployment. More information: <a href="https://zeit.co/now" class="uri">https://zeit.co/now</a>.</p>
</blockquote>
<ul>
<li>Deploy the current directory:</li>
</ul>
<p><code>now</code></p>
<ul>
<li>Display a list of deployments:</li>
</ul>
<p><code>now list</code></p>
<ul>
<li>Display information related to a deployment:</li>
</ul>
<p><code>now inspect {{deployment_url}}</code></p>
<ul>
<li>Remove a deployment:</li>
</ul>
<p><code>now remove {{deployment_id}}</code></p>
<ul>
<li>Log in into an account or create a new one:</li>
</ul>
<p><code>now login</code></p>
<ul>
<li>Initialize an example project (a new directory will be created):</li>
</ul>
<p><code>now init</code></p>
