<h1 id="npm-why">npm-why</h1>
<blockquote>
<p>Identifies why an npm package is installed. More information: <a href="https://www.npmjs.com/package/npm-why" class="uri">https://www.npmjs.com/package/npm-why</a>.</p>
</blockquote>
<ul>
<li>Show why an npm package is installed:</li>
</ul>
<p><code>npm-why {{package-name}}</code></p>
