<h1 id="npm">npm</h1>
<blockquote>
<p>JavaScript and Node.js package manager. Manage Node.js projects and their module dependencies. More information: <a href="https://www.npmjs.com/" class="uri">https://www.npmjs.com/</a>.</p>
</blockquote>
<ul>
<li>Interactively create a package.json file:</li>
</ul>
<p><code>npm init</code></p>
<ul>
<li>Download all the packages listed as dependencies in package.json:</li>
</ul>
<p><code>npm install</code></p>
<ul>
<li>Download a specific version of a package and add it to the list of dependencies in package.json:</li>
</ul>
<p><code>npm install {{module_name}}@{{version}}</code></p>
<ul>
<li>Download a package and add it to the list of dev dependencies in package.json:</li>
</ul>
<p><code>npm install {{module_name}} --save-dev</code></p>
<ul>
<li>Download a package and install it globally:</li>
</ul>
<p><code>npm install -g {{module_name}}</code></p>
<ul>
<li>Uninstall a package and remove it from the list of dependencies in package.json:</li>
</ul>
<p><code>npm uninstall {{module_name}}</code></p>
<ul>
<li>Print a tree of locally-installed dependencies:</li>
</ul>
<p><code>npm list</code></p>
<ul>
<li>List top-level globally installed modules:</li>
</ul>
<p><code>npm list -g --depth={{0}}</code></p>
