<h1 id="nproc">nproc</h1>
<blockquote>
<p>Print the number of processing units (normally CPUs) available.</p>
</blockquote>
<ul>
<li>Display the number of available processing units:</li>
</ul>
<p><code>nproc</code></p>
<ul>
<li>Display the number of installed processing units, including any inactive ones:</li>
</ul>
<p><code>nproc --all</code></p>
<ul>
<li>If possible, subtract a given number of units from the returned value:</li>
</ul>
<p><code>nproc --ignore {{count}}</code></p>
