<h1 id="npx">npx</h1>
<blockquote>
<p>Execute binaries from <code>npm</code> packages. More information: <a href="https://www.npmjs.com/package/npx" class="uri">https://www.npmjs.com/package/npx</a>.</p>
</blockquote>
<ul>
<li>Execute the binary from a given npm module:</li>
</ul>
<p><code>npx {{module_name}}</code></p>
<ul>
<li>In case a package has multiple binaries, specify the package name along with the binary:</li>
</ul>
<p><code>npx -p {{package_name}} {{module_name}}</code></p>
<ul>
<li>View help contents:</li>
</ul>
<p><code>npx --help</code></p>
