<h1 id="nrm">nrm</h1>
<blockquote>
<p>NPM registry manager. Helps to easily switch between different npm registries. More information: <a href="https://github.com/Pana/nrm" class="uri">https://github.com/Pana/nrm</a>.</p>
</blockquote>
<ul>
<li>List all registries:</li>
</ul>
<p><code>nrm ls</code></p>
<ul>
<li>Change to a particular registry:</li>
</ul>
<p><code>nrm use {{registry}}</code></p>
<ul>
<li>Show the response time for all registries:</li>
</ul>
<p><code>nrm test</code></p>
<ul>
<li>Add a custom registry:</li>
</ul>
<p><code>nrm add {{registry}} {{url}}</code></p>
<ul>
<li>Delete a registry:</li>
</ul>
<p><code>nrm del {{registry}}</code></p>
