<h1 id="nslookup">nslookup</h1>
<blockquote>
<p>Query name server(s) for various domain records.</p>
</blockquote>
<ul>
<li>Query your system’s default name server for an IP address (A record) of the domain:</li>
</ul>
<p><code>nslookup {{example.com}}</code></p>
<ul>
<li>Query a given name server for a NS record of the domain:</li>
</ul>
<p><code>nslookup -type=NS {{example.com}} {{8.8.8.8}}</code></p>
<ul>
<li>Query for a reverse lookup (PTR record) of an IP address:</li>
</ul>
<p><code>nslookup -type=PTR {{54.240.162.118}}</code></p>
<ul>
<li>Query for ANY available records using TCP protocol:</li>
</ul>
<p><code>nslookup -vc -type=ANY {{example.com}}</code></p>
<ul>
<li>Query a given name server for the whole zone file (zone transfer) of the domain using TCP protocol:</li>
</ul>
<p><code>nslookup -vc -type=AXFR {{example.com}} {{name_server}}</code></p>
<ul>
<li>Query for a mail server (MX record) of the domain, showing details of the transaction:</li>
</ul>
<p><code>nslookup -type=MX -debug {{example.com}}</code></p>
<ul>
<li>Query a given name server on a specific port number for a TXT record of the domain:</li>
</ul>
<p><code>nslookup -port={{port_number}} -type=TXT {{example.com}} {{name_server}}</code></p>
