<h1 id="numfmt">numfmt</h1>
<blockquote>
<p>Convert numbers to and from human-readable strings. More information: <a href="https://www.gnu.org/software/coreutils/manual/html_node/numfmt-invocation.html" class="uri">https://www.gnu.org/software/coreutils/manual/html_node/numfmt-invocation.html</a>.</p>
</blockquote>
<ul>
<li>Convert 1.5K (SI Units) to 1500:</li>
</ul>
<p><code>numfmt --from={{si}} {{1.5K}}</code></p>
<ul>
<li>Convert 5th field (1-indexed) to IEC Units without converting header:</li>
</ul>
<p><code>ls -l | numfmt --header={{1}} --field={{5}} --to={{iec}}</code></p>
<ul>
<li>Convert to IEC units, pad with 5 characters, left aligned:</li>
</ul>
<p><code>du -s * | numfmt --to={{iec}} --format={{"%-5f"}}</code></p>
