<h1 id="nvim">nvim</h1>
<blockquote>
<p>Neovim, a programmer’s text editor based on Vim, provides several modes for different kinds of text manipulation. Pressing <code>i</code> enters edit mode. <code>&lt;Esc&gt;</code> goes back to normal mode, which doesn’t allow regular text insertion. More information: <a href="https://neovim.io" class="uri">https://neovim.io</a>.</p>
</blockquote>
<ul>
<li>Open a file:</li>
</ul>
<p><code>nvim {{file}}</code></p>
<ul>
<li>Enter text editing mode (insert mode):</li>
</ul>
<p><code>&lt;Esc&gt;i</code></p>
<ul>
<li>Copy (“yank”) or cut (“delete”) the current line (paste it with <code>P</code>):</li>
</ul>
<p><code>&lt;Esc&gt;{{yy|dd}}</code></p>
<ul>
<li>Undo the last operation:</li>
</ul>
<p><code>&lt;Esc&gt;u</code></p>
<ul>
<li>Search for a pattern in the file (press <code>n</code>/<code>N</code> to go to next/previous match):</li>
</ul>
<p><code>&lt;Esc&gt;/{{search_pattern}}&lt;Enter&gt;</code></p>
<ul>
<li>Perform a regex substitution in the whole file:</li>
</ul>
<p><code>&lt;Esc&gt;:%s/{{pattern}}/{{replacement}}/g&lt;Enter&gt;</code></p>
<ul>
<li>Save (write) the file, and quit:</li>
</ul>
<p><code>&lt;Esc&gt;:wq&lt;Enter&gt;</code></p>
<ul>
<li>Quit without saving:</li>
</ul>
<p><code>&lt;Esc&gt;:q!&lt;Enter&gt;</code></p>
