<h1 id="nvm">nvm</h1>
<blockquote>
<p>Install, uninstall or switch between Node.js versions. Supports version numbers like “0.12” or “v4.2”, and labels like “stable”, “system”, etc. More information: <a href="https://github.com/creationix/nvm" class="uri">https://github.com/creationix/nvm</a>.</p>
</blockquote>
<ul>
<li>Install a specific version of Node.js:</li>
</ul>
<p><code>nvm install {{node_version}}</code></p>
<ul>
<li>Use a specific version of Node.js in the current shell:</li>
</ul>
<p><code>nvm use {{node_version}}</code></p>
<ul>
<li>Set the default Node.js version:</li>
</ul>
<p><code>nvm alias default {{node_version}}</code></p>
<ul>
<li>List all available Node.js versions and highlight the default one:</li>
</ul>
<p><code>nvm list</code></p>
<ul>
<li>Uninstall a given Node.js version:</li>
</ul>
<p><code>nvm uninstall {{node_version}}</code></p>
<ul>
<li>Launch the REPL of a specific version of Node.js:</li>
</ul>
<p><code>nvm run {{node_version}} --version</code></p>
<ul>
<li>Execute a script in a specific version of Node.js:</li>
</ul>
<p><code>nvm exec {{node_version}} node {{app.js}}</code></p>
