<h1 id="objdump">objdump</h1>
<blockquote>
<p>View information about object files.</p>
</blockquote>
<ul>
<li>Display the file header information:</li>
</ul>
<p><code>objdump -f {{binary}}</code></p>
<ul>
<li>Display the dis-assembled output of executable sections:</li>
</ul>
<p><code>objdump -d {{binary}}</code></p>
<ul>
<li>Display a complete binary hex dump of all sections:</li>
</ul>
<p><code>objdump -s {{binary}}</code></p>
