<h1 id="oc">oc</h1>
<blockquote>
<p>The OpenShift Container Platform CLI. Allows for application and container management. More information: <a href="https://docs.openshift.com/container-platform/3.11/cli_reference/get_started_cli.html" class="uri">https://docs.openshift.com/container-platform/3.11/cli_reference/get_started_cli.html</a>.</p>
</blockquote>
<ul>
<li>Log in to the OpenShift Container Platform server:</li>
</ul>
<p><code>oc login</code></p>
<ul>
<li>Create a new project:</li>
</ul>
<p><code>oc new-project {{project_name}}</code></p>
<ul>
<li>Add a new application to a project:</li>
</ul>
<p><code>oc new-app {{repo_url}} --name {{application}}</code></p>
<ul>
<li>Open a remote shell session to a container:</li>
</ul>
<p><code>oc rsh {{pod_name}}</code></p>
<ul>
<li>List pods in a project:</li>
</ul>
<p><code>oc get pods</code></p>
<ul>
<li>Logout from the current session:</li>
</ul>
<p><code>oc logout</code></p>
