<h1 id="ocaml">ocaml</h1>
<blockquote>
<p>The OCaml repl (read-evaluate-print-loop). Interprets Ocaml commands.</p>
</blockquote>
<ul>
<li>Read OCaml commands from the user and execute them:</li>
</ul>
<p><code>ocaml</code></p>
<ul>
<li>Read OCaml commands from a file and execute them:</li>
</ul>
<p><code>ocaml {{path/to/file.ml}}</code></p>
