<h1 id="odps">odps</h1>
<blockquote>
<p>Aliyun ODPS (Open Data Processing Service) command line tool.</p>
</blockquote>
<ul>
<li>Start the command line with a custom configuration file:</li>
</ul>
<p><code>odpscmd --config={{odps_config.ini}}</code></p>
<ul>
<li>Switch current project:</li>
</ul>
<p><code>use {{project_name}};</code></p>
<ul>
<li>Show tables in the current project:</li>
</ul>
<p><code>show tables;</code></p>
<ul>
<li>Describe a table:</li>
</ul>
<p><code>desc {{table_name}};</code></p>
<ul>
<li>Show table partitions:</li>
</ul>
<p><code>show partitions {{table_name}};</code></p>
<ul>
<li>Describe a partition:</li>
</ul>
<p><code>desc {{table_name}} partition ({{partition_spec}});</code></p>
