<h1 id="odps-table">odps table</h1>
<blockquote>
<p>Create and modify tables in ODPS (Open Data Processing Service).</p>
</blockquote>
<ul>
<li>Create a table with partition and lifecycle:</li>
</ul>
<p><code>create table {{table_name}} ({{col}} {{type}}) partitioned by ({{col}} {{type}}) lifecycle {{days}};</code></p>
<ul>
<li>Create a table based on the definition of another table:</li>
</ul>
<p><code>create table {{table_name}} like {{another_table}};</code></p>
<ul>
<li>Add partition to a table:</li>
</ul>
<p><code>alter table {{table_name}} add partition ({{partition_spec}});</code></p>
<ul>
<li>Delete partition from a table:</li>
</ul>
<p><code>alter table {{table_name}} drop partition ({{partition_spec}});</code></p>
<ul>
<li>Delete table:</li>
</ul>
<p><code>drop table {{table_name}};</code></p>
