<h1 id="odps-tunnel">odps tunnel</h1>
<blockquote>
<p>Data tunnel in ODPS (Open Data Processing Service).</p>
</blockquote>
<ul>
<li>Download table to local file:</li>
</ul>
<p><code>tunnel download {{table_name}} {{file}};</code></p>
<ul>
<li>Upload local file to a table partition:</li>
</ul>
<p><code>tunnel upload {{file}} {{table_name}}/{{partition_spec}};</code></p>
<ul>
<li>Upload table specifying field and record delimiters:</li>
</ul>
<p><code>tunnel upload {{file}} {{table_name}} -fd {{field_delim}} -rd {{record_delim}};</code></p>
<ul>
<li>Upload table using multiple threads:</li>
</ul>
<p><code>tunnel upload {{file}} {{table_name}} -threads {{num}};</code></p>
