<h1 id="odps-resource">odps resource</h1>
<blockquote>
<p>Manage resources in ODPS (Open Data Processing Service).</p>
</blockquote>
<ul>
<li>Show resources in the current project:</li>
</ul>
<p><code>list resources;</code></p>
<ul>
<li>Add file resource:</li>
</ul>
<p><code>add file {{file_name}} as {{alias}};</code></p>
<ul>
<li>Add archive resource:</li>
</ul>
<p><code>add archive {{archive.tar.gz}} as {{alias}};</code></p>
<ul>
<li>Add .jar resource:</li>
</ul>
<p><code>add jar {{package.jar}};</code></p>
<ul>
<li>Add .py resource:</li>
</ul>
<p><code>add py {{script.py}};</code></p>
<ul>
<li>Delete resource:</li>
</ul>
<p><code>drop resource {{resource_name}};</code></p>
