<h1 id="odps-auth">odps auth</h1>
<blockquote>
<p>User authorities in ODPS (Open Data Processing Service).</p>
</blockquote>
<ul>
<li>Add a user to the current project:</li>
</ul>
<p><code>add user {{user_name}};</code></p>
<ul>
<li>Grant a set of authorities to a user:</li>
</ul>
<p><code>grant {{action_list}} on {{object_type}} {{object_name}} to user {{user_name}};</code></p>
<ul>
<li>Show authorities of a user:</li>
</ul>
<p><code>show grants for {{user_name}};</code></p>
<ul>
<li>Create a user role:</li>
</ul>
<p><code>create role {{role_name}};</code></p>
<ul>
<li>Grant a set of authorities to a role:</li>
</ul>
<p><code>grant {{action_list}} on {{object_type}} {{object_name}} to role {{role_name}};</code></p>
<ul>
<li>Describe authorities of a role:</li>
</ul>
<p><code>desc role {{role_name}};</code></p>
<ul>
<li>Grant a role to a user:</li>
</ul>
<p><code>grant {{role_name}} to {{user_name}};</code></p>
