<h1 id="odps-inst">odps inst</h1>
<blockquote>
<p>Manage instances in ODPS (Open Data Processing Service).</p>
</blockquote>
<ul>
<li>Show instances created by current user:</li>
</ul>
<p><code>show instances;</code></p>
<ul>
<li>Describe the details of an instance:</li>
</ul>
<p><code>desc instance {{instance_id}};</code></p>
<ul>
<li>Check the status of an instance:</li>
</ul>
<p><code>status {{instance_id}};</code></p>
<ul>
<li>Wait on the termination of an instance, printing log and progress information until then:</li>
</ul>
<p><code>wait {{instance_id}};</code></p>
<ul>
<li>Kill an instance:</li>
</ul>
<p><code>kill {{instance_id}};</code></p>
