<h1 id="odps-func">odps func</h1>
<blockquote>
<p>Manage functions in ODPS (Open Data Processing Service).</p>
</blockquote>
<ul>
<li>Show functions in the current project:</li>
</ul>
<p><code>list functions;</code></p>
<ul>
<li>Create a Java function using a .jar resource:</li>
</ul>
<p><code>create function {{func_name}} as {{path.to.package.Func}} using '{{package.jar}}';</code></p>
<ul>
<li>Create a Python function using a .py resource:</li>
</ul>
<p><code>create function {{func_name}} as {{script.Func}} using '{{script.py}}';</code></p>
<ul>
<li>Delete a function:</li>
</ul>
<p><code>drop function {{func_name}};</code></p>
