<h1 id="ogrinfo">ogrinfo</h1>
<blockquote>
<p>List information about an OGR-supported data source. More information: <a href="https://gdal.org/programs/ogrinfo.html" class="uri">https://gdal.org/programs/ogrinfo.html</a>.</p>
</blockquote>
<ul>
<li>List layers of a GeoPackage:</li>
</ul>
<p><code>ogrinfo {{input}}.gpkg</code></p>
<ul>
<li>Get detailed information about a specific layer of a GeoPackage:</li>
</ul>
<p><code>ogrinfo {{input}}.gpkg {{layer_name}}</code></p>
<ul>
<li>Only show summary information about a specific layer of a GeoPackage:</li>
</ul>
<p><code>ogrinfo -so {{input}}.gpkg {{layer_name}}</code></p>
