<h1 id="omf">omf</h1>
<blockquote>
<p>Oh My Fish, the Fishshell Framework. Install packages to extend and modify the fish shell. More information: <a href="https://github.com/oh-my-fish/oh-my-fish" class="uri">https://github.com/oh-my-fish/oh-my-fish</a>.</p>
</blockquote>
<ul>
<li>Install one or more packages:</li>
</ul>
<p><code>omf install {{name}}</code></p>
<ul>
<li>List installed packages:</li>
</ul>
<p><code>omf list</code></p>
<ul>
<li>List available themes:</li>
</ul>
<p><code>omf theme</code></p>
<ul>
<li>Apply a theme:</li>
</ul>
<p><code>omf theme {{name}}</code></p>
<ul>
<li>Remove a theme or package:</li>
</ul>
<p><code>omf remove {{name}}</code></p>
<ul>
<li>Uninstall Oh My Fish:</li>
</ul>
<p><code>omf destroy</code></p>
