<h1 id="opam">opam</h1>
<blockquote>
<p>OCaml Package Manager. Manage OCaml compilers, tools and libraries. More information: <a href="https://opam.ocaml.org/" class="uri">https://opam.ocaml.org/</a>.</p>
</blockquote>
<ul>
<li>Initialize opam for first use:</li>
</ul>
<p><code>opam init</code></p>
<ul>
<li>Search for packages:</li>
</ul>
<p><code>opam search {{package_name}}</code></p>
<ul>
<li>Install a package and all of its dependencies:</li>
</ul>
<p><code>opam install {{package_name}}</code></p>
<ul>
<li>Display detailed information about a package:</li>
</ul>
<p><code>opam show {{package_name}}</code></p>
<ul>
<li>List all installed packages:</li>
</ul>
<p><code>opam list</code></p>
<ul>
<li>Update the local package database:</li>
</ul>
<p><code>opam update</code></p>
<ul>
<li>Upgrade all installed packages:</li>
</ul>
<p><code>opam upgrade</code></p>
<ul>
<li>Display all commands:</li>
</ul>
<p><code>opam help</code></p>
