<h1 id="openssl">openssl</h1>
<blockquote>
<p>OpenSSL cryptographic toolkit. More information: <a href="https://www.openssl.org" class="uri">https://www.openssl.org</a>.</p>
</blockquote>
<ul>
<li>Generate a 2048bit RSA private key and save it to a file:</li>
</ul>
<p><code>openssl genrsa -out {{filename.key}} 2048</code></p>
<ul>
<li>Generate a certificate signing request to be sent to a certificate authority:</li>
</ul>
<p><code>openssl req -new -sha256 -key {{filename.key}} -out {{filename.csr}}</code></p>
<ul>
<li>Generate a self-signed certificate from a certificate signing request valid for some number of days:</li>
</ul>
<p><code>openssl x509 -req -days {{days}} -in {{filename.csr}} -signkey {{filename.key}} -out {{filename.crt}}</code></p>
<ul>
<li>Display certificate information:</li>
</ul>
<p><code>openssl x509 -in {{filename.crt}} -noout -text</code></p>
<ul>
<li>Display a certificate’s expiration date:</li>
</ul>
<p><code>openssl x509 -enddate -noout -in {{filename.pem}}</code></p>
<ul>
<li>Display the start and expiry dates for a domain’s certificate:</li>
</ul>
<p><code>openssl s_client -connect {{host}}:{{port}} 2&gt;/dev/null | openssl x509 -noout -dates</code></p>
<ul>
<li>Display the certificate presented by an SSL/TLS server:</li>
</ul>
<p><code>openssl s_client -connect {{host}}:{{port}} &lt;/dev/null</code></p>
<ul>
<li>Display the complete certificate chain of an HTTPS server:</li>
</ul>
<p><code>openssl s_client -connect {{host}}:443 -showcerts &lt;/dev/null</code></p>
