<h1 id="opt">opt</h1>
<blockquote>
<p>A tool that takes LLVM source files and runs specified optimizations and/or analyses on them. More information: <a href="https://llvm.org/docs/CommandGuide/opt.html" class="uri">https://llvm.org/docs/CommandGuide/opt.html</a>.</p>
</blockquote>
<ul>
<li>Run an optimization or analysis on a bitcode file:</li>
</ul>
<p><code>opt -{{passname}} {{path/to/file.bc}} -S -o {{file_opt.bc}}</code></p>
<ul>
<li>Output the Control Flow Graph of a function to a “dot” file:</li>
</ul>
<p><code>opt {{-dot-cfg}} -S {{path/to/file.bc}} -disable-output</code></p>
<ul>
<li>Optimize the program at level 2 and output the result to another file:</li>
</ul>
<p><code>opt -O2 {{path/to/file.bc}} -S -o {{path/to/output_file.bc}}</code></p>
