<h1 id="optipng">optipng</h1>
<blockquote>
<p>PNG image file optimization utility. More information: <a href="http://optipng.sourceforge.net" class="uri">http://optipng.sourceforge.net</a>.</p>
</blockquote>
<ul>
<li>Compress a PNG with default settings:</li>
</ul>
<p><code>optipng {{path/to/file.png}}</code></p>
<ul>
<li>Compress a PNG with best compression:</li>
</ul>
<p><code>optipng -o{{7}} {{path/to/file.png}}</code></p>
<ul>
<li>Compress a PNG with fastest compression:</li>
</ul>
<p><code>optipng -o{{0}} {{path/to/file.png}}</code></p>
<ul>
<li>Compress a PNG and add interlacing:</li>
</ul>
<p><code>optipng -i {{1}} {{path/to/file.png}}</code></p>
<ul>
<li>Compress a PNG and preserve all metadata (including file timestamps):</li>
</ul>
<p><code>optipng -preserve {{path/to/file.png}}</code></p>
<ul>
<li>Compress a PNG and remove all metadata:</li>
</ul>
<p><code>optipng -strip all {{path/to/file.png}}</code></p>
