<h1 id="p4">p4</h1>
<blockquote>
<p>Perforce Version Control System. More information: <a href="https://www.perforce.com/manuals/cmdref" class="uri">https://www.perforce.com/manuals/cmdref</a>.</p>
</blockquote>
<ul>
<li>Log in to the Perforce service:</li>
</ul>
<p><code>p4 login -a</code></p>
<ul>
<li>Create a client:</li>
</ul>
<p><code>p4 client</code></p>
<ul>
<li>Copy files from depot into the client workspace:</li>
</ul>
<p><code>p4 sync</code></p>
<ul>
<li>Create or edit changelist description:</li>
</ul>
<p><code>p4 change</code></p>
<ul>
<li>Open a file to edit:</li>
</ul>
<p><code>p4 edit -c {{changelist_number}} {{file_name}}</code></p>
<ul>
<li>Open a new file to add it to the depot:</li>
</ul>
<p><code>p4 add</code></p>
<ul>
<li>Display list of files modified by changelist:</li>
</ul>
<p><code>p4 describe -c {{changelist_number}}</code></p>
<ul>
<li>Submit a changelist to the depot:</li>
</ul>
<p><code>p4 submit -c {{changelist_number}}</code></p>
