<h1 id="p5">p5</h1>
<blockquote>
<p>P5js template builder and sketch manager. More information: <a href="https://www.npmjs.com/package/p5-manager" class="uri">https://www.npmjs.com/package/p5-manager</a>.</p>
</blockquote>
<ul>
<li>Create a new p5 collection:</li>
</ul>
<p><code>p5 new {{collection_name}}</code></p>
<ul>
<li>Generate a new p5 project (should be run from collection directory):</li>
</ul>
<p><code>p5 generate {{project_name}}</code></p>
<ul>
<li>Run the p5 manager server:</li>
</ul>
<p><code>p5 server</code></p>
<ul>
<li>Update libraries to their latest versions:</li>
</ul>
<p><code>p5 update</code></p>
