<h1 id="paci">paci</h1>
<blockquote>
<p>A lightweight and flexible package manager for bash scripts.</p>
</blockquote>
<ul>
<li>Update the list of available packages and versions (it’s recommended to run this before other <code>paci</code> commands):</li>
</ul>
<p><code>paci refresh</code></p>
<ul>
<li>Configure its behaviour:</li>
</ul>
<p><code>paci configure</code></p>
<ul>
<li>Search for a given package:</li>
</ul>
<p><code>paci search {{package}}</code></p>
<ul>
<li>Install a package:</li>
</ul>
<p><code>paci install {{package}}</code></p>
<ul>
<li>Update a package:</li>
</ul>
<p><code>paci update {{package}}</code></p>
