<h1 id="pactl">pactl</h1>
<blockquote>
<p>Control a running PulseAudio sound server.</p>
</blockquote>
<ul>
<li>List all sinks (or other types - sinks are outputs and sink-inputs are active audio streams):</li>
</ul>
<p><code>pactl list {{sinks}} short</code></p>
<ul>
<li>Change the default sink (output) to 1 (the number can be retrieved via the <code>list</code> subcommand):</li>
</ul>
<p><code>pactl set-default-sink {{1}}</code></p>
<ul>
<li>Move sink-input 627 to sink 1:</li>
</ul>
<p><code>pactl move-sink-input {{627}} {{1}}</code></p>
<ul>
<li>Set the volume of sink 1 to 75%:</li>
</ul>
<p><code>pactl set-sink-volume {{1}} {{0.75}}</code></p>
<ul>
<li>Toggle mute on the default sink (using the special name <code>@DEFAULT_SINK@</code>):</li>
</ul>
<p><code>pactl set-sink-mute {{@DEFAULT_SINK@}} toggle</code></p>
