<h1 id="pageres">pageres</h1>
<blockquote>
<p>Capture screenshots of websites in various resolutions. More information: <a href="https://github.com/sindresorhus/pageres-cli" class="uri">https://github.com/sindresorhus/pageres-cli</a>.</p>
</blockquote>
<ul>
<li>Take multiple screenshots of multiple URLs at different resolutions:</li>
</ul>
<p><code>pageres {{https://example.com/}} {{https://example2.com/}} {{1366x768}} {{1600x900}}</code></p>
<ul>
<li>Provide specific options for a URL, overriding global options:</li>
</ul>
<p><code>pageres [{{https://example.com/}} {{1366x768}} --no-crop] [{{https://example2.com/}} {{1024x768}}] --crop</code></p>
<ul>
<li>Provide a custom filename template:</li>
</ul>
<p><code>pageres {{https://example.com/}} {{1024x768}} --filename={{'&lt;%= date %&gt; - &lt;%= url %&gt;'}}</code></p>
<ul>
<li>Capture a specific element on a page:</li>
</ul>
<p><code>pageres {{https://example.com/}} {{1366x768}} --selector='{{.page-header}}'</code></p>
<ul>
<li>Hide a specific element:</li>
</ul>
<p><code>pageres {{https://example.com/}} {{1366x768}} --hide='{{.page-header}}'</code></p>
<ul>
<li>Capture a screenshot of a local file:</li>
</ul>
<p><code>pageres {{local_file_path.html}} {{1366x768}}</code></p>
