<h1 id="pamixer">pamixer</h1>
<blockquote>
<p>A simple command-line mixer for PulseAudio. More information: <a href="https://github.com/cdemoulins/pamixer" class="uri">https://github.com/cdemoulins/pamixer</a>.</p>
</blockquote>
<ul>
<li>List all sinks and sources with their corresponding IDs:</li>
</ul>
<p><code>pamixer --list-sinks --list-sources</code></p>
<ul>
<li>Set the volume to 75% on the default sink:</li>
</ul>
<p><code>pamixer --set-volume {{75}}</code></p>
<ul>
<li>Toggle mute on a sink other than the default:</li>
</ul>
<p><code>pamixer --toggle-mute --sink {{ID}}</code></p>
<ul>
<li>Increase the volume on default sink by 5%:</li>
</ul>
<p><code>pamixer --increase {{5}}</code></p>
<ul>
<li>Decrease the volume on a source by 5%:</li>
</ul>
<p><code>pamixer --decrease {{5}} --source {{ID}}</code></p>
<ul>
<li>Use the allow boost option to increase, decrease, or set the volume above 100%:</li>
</ul>
<p><code>pamixer --set-volume {{105}} --allow-boost</code></p>
<ul>
<li>Mute the default sink (use <code>--unmute</code> instead to unmute):</li>
</ul>
<p><code>pamixer --mute</code></p>
