<h1 id="parallel-lint">parallel-lint</h1>
<blockquote>
<p>A tool to check the syntax of PHP files in parallel. More information: <a href="https://github.com/JakubOnderka/PHP-Parallel-Lint" class="uri">https://github.com/JakubOnderka/PHP-Parallel-Lint</a>.</p>
</blockquote>
<ul>
<li>Lint a specific directory:</li>
</ul>
<p><code>parallel-lint {{path/to/directory}}</code></p>
<ul>
<li>Lint a directory using the specified number of parallel processes:</li>
</ul>
<p><code>parallel-lint -j {{processes}} {{path/to/directory}}</code></p>
<ul>
<li>Lint a directory, excluding the specified directory:</li>
</ul>
<p><code>parallel-lint --exclude {{path/to/excluded_directory}} {{path/to/directory}}</code></p>
<ul>
<li>Lint a directory of files using a comma-separated list of extension(s):</li>
</ul>
<p><code>parallel-lint -e {{php,html,phpt}} {{path/to/directory}}</code></p>
<ul>
<li>Lint a directory and output the results as JSON:</li>
</ul>
<p><code>parallel-lint --json {{path/to/directory}}</code></p>
<ul>
<li>Lint a directory and show Git Blame results for rows containing errors:</li>
</ul>
<p><code>parallel-lint --blame {{path/to/directory}}</code></p>
