<h1 id="parallel">parallel</h1>
<blockquote>
<p>Run commands on multiple CPU cores. More information: <a href="https://www.gnu.org/software/parallel" class="uri">https://www.gnu.org/software/parallel</a>.</p>
</blockquote>
<ul>
<li>Gzip several files at once, using all cores:</li>
</ul>
<p><code>parallel gzip ::: {{file1}} {{file2}} {{file3}}</code></p>
<ul>
<li>Read arguments from <code>stdin</code>, run 4 jobs at once:</li>
</ul>
<p><code>ls *.txt | parallel -j4 gzip</code></p>
<ul>
<li>Convert JPG images to PNG using replacement strings:</li>
</ul>
<p><code>parallel convert {} {.}.png ::: *.jpg</code></p>
<ul>
<li>Parallel xargs, cram as many args as possible onto one command:</li>
</ul>
<p><code>{{args}} | parallel -X {{command}}</code></p>
<ul>
<li>Break stdin into ~1M blocks, feed each block to <code>stdin</code> of new command:</li>
</ul>
<p><code>cat {{big_file.txt}} | parallel --pipe --block 1M {{command}}</code></p>
<ul>
<li>Run on multiple machines via SSH:</li>
</ul>
<p><code>parallel -S {{machine1}},{{machine2}} {{command}} ::: {{arg1}} {{arg2}}</code></p>
