<h1 id="particle">particle</h1>
<blockquote>
<p>A command-line tool for interacting with Particle devices. More information: <a href="https://docs.particle.io/tutorials/developer-tools/cli" class="uri">https://docs.particle.io/tutorials/developer-tools/cli</a>.</p>
</blockquote>
<ul>
<li>Log in or create an account for the Particle CLI:</li>
</ul>
<p><code>particle setup</code></p>
<ul>
<li>Display a list of devices:</li>
</ul>
<p><code>particle list</code></p>
<ul>
<li>Create a new Particle project interactively:</li>
</ul>
<p><code>particle project create</code></p>
<ul>
<li>Compile a Particle project:</li>
</ul>
<p><code>particle compile {{device_type}} {{path/to/source_code.ino}}</code></p>
<ul>
<li>Update a device to use a specific app remotely:</li>
</ul>
<p><code>particle flash {{device_name}} {{path/to/program.bin}}</code></p>
<ul>
<li>Update a device to use the latest firmware via serial:</li>
</ul>
<p><code>particle flash --serial {{path/to/firmware.bin}}</code></p>
<ul>
<li>Execute a function on a device:</li>
</ul>
<p><code>particle call {{device_name}} {{function_name}} {{function_arguments}}</code></p>
