<h1 id="pass">pass</h1>
<blockquote>
<p>Safely store and read passwords or other sensitive data easily. All data is GPG-encrypted, and managed with a git repository. More information: <a href="https://www.passwordstore.org" class="uri">https://www.passwordstore.org</a>.</p>
</blockquote>
<ul>
<li>Initialize the storage using a gpg-id for encryption:</li>
</ul>
<p><code>pass init {{gpg_id}}</code></p>
<ul>
<li>Save a new password (prompts you for the value without echoing it):</li>
</ul>
<p><code>pass insert {{path/to/data}}</code></p>
<ul>
<li>Copy a password (first line of the data file) to the clipboard:</li>
</ul>
<p><code>pass -c {{path/to/data}}</code></p>
<ul>
<li>List the whole store tree:</li>
</ul>
<p><code>pass</code></p>
<ul>
<li>Generate a new random password with a given length, and copy it to the clipboard:</li>
</ul>
<p><code>pass generate -c {{path/to/data}} {{num}}</code></p>
<ul>
<li>Run any git command against the underlying store repository:</li>
</ul>
<p><code>pass git {{git_arguments}}</code></p>
