<h1 id="passwd">passwd</h1>
<blockquote>
<p>Passwd is a tool used to change a user’s password.</p>
</blockquote>
<ul>
<li>Change the password of the current user:</li>
</ul>
<p><code>passwd {{new_password}}</code></p>
<ul>
<li>Change the password of the specified user:</li>
</ul>
<p><code>passwd {{username}} {{new_password}}</code></p>
<ul>
<li>Get the current status of the user:</li>
</ul>
<p><code>passwd -S</code></p>
<ul>
<li>Make the password of the account blank (it will set the named account passwordless):</li>
</ul>
<p><code>passwd -d</code></p>
