<h1 id="paste">paste</h1>
<blockquote>
<p>Merge lines of files.</p>
</blockquote>
<ul>
<li>Join all the lines into a single line, using TAB as delimiter:</li>
</ul>
<p><code>paste -s {{file}}</code></p>
<ul>
<li>Join all the lines into a single line, using the specified delimiter:</li>
</ul>
<p><code>paste -s -d {{delimiter}} {{file}}</code></p>
<ul>
<li>Merge two files side by side, each in its column, using TAB as delimiter:</li>
</ul>
<p><code>paste {{file1}} {{file2}}</code></p>
<ul>
<li>Merge two files side by side, each in its column, using the specified delimiter:</li>
</ul>
<p><code>paste -d {{delimiter}} {{file1}} {{file2}}</code></p>
<ul>
<li>Merge two files, with lines added alternatively:</li>
</ul>
<p><code>paste -d '\n' {{file1}} {{file2}}</code></p>
