<h1 id="pastel">pastel</h1>
<blockquote>
<p>Generate, analyze, convert and manipulate colors. More information: <a href="https://github.com/sharkdp/pastel" class="uri">https://github.com/sharkdp/pastel</a>.</p>
</blockquote>
<ul>
<li>Convert colors from one format to another. Here from RGB to HSL:</li>
</ul>
<p><code>pastel format {{hsl}} {{ff8000}}</code></p>
<ul>
<li>Show and analyze colors on the terminal:</li>
</ul>
<p><code>pastel color "{{rgb(255,50,127)}}"</code></p>
<ul>
<li>Pick a color from somewhere on the screen:</li>
</ul>
<p><code>pastel pick</code></p>
<ul>
<li>Generate a set of N visually distinct colors:</li>
</ul>
<p><code>pastel distinct {{8}}</code></p>
<ul>
<li>Get a list of all X11 / CSS color names:</li>
</ul>
<p><code>pastel list</code></p>
