<h1 id="pathchk">pathchk</h1>
<blockquote>
<p>Check the validity and portability of one or more pathnames.</p>
</blockquote>
<ul>
<li>Check pathames for validity in the current system:</li>
</ul>
<p><code>pathchk {{path1 path2 …}}</code></p>
<ul>
<li>Check pathnames for validity on a wider range of POSIX compliant systems:</li>
</ul>
<p><code>pathchk -p {{path1 path2 …}}</code></p>
<ul>
<li>Check pathnames for validity on all POSIX compliant systems:</li>
</ul>
<p><code>pathchk --portability {{path1 path2 …}}</code></p>
<ul>
<li>Only check for empty pathnames or leading dashes (-):</li>
</ul>
<p><code>pathchk -P {{path1 path2 …}}</code></p>
