<h1 id="pax">pax</h1>
<blockquote>
<p>Archiving and copying utility.</p>
</blockquote>
<ul>
<li>List the contents of an archive:</li>
</ul>
<p><code>pax -f {{archive.tar}}</code></p>
<ul>
<li>List the contents of a gzipped archive:</li>
</ul>
<p><code>pax -zf {{archive.tar.gz}}</code></p>
<ul>
<li>Create an archive from files:</li>
</ul>
<p><code>pax -wf {{target.tar}} {{path/to/file1}} {{path/to/file2}} {{path/to/file3}}</code></p>
<ul>
<li>Create an archive from files, using output redirection:</li>
</ul>
<p><code>pax -w {{path/to/file1}} {{path/to/file2}} {{path/to/file3}} &gt; {{target.tar}}</code></p>
<ul>
<li>Extract an archive into the current directory:</li>
</ul>
<p><code>pax -rf {{source.tar}}</code></p>
<ul>
<li>Copy to a directory, while keeping the original metadata; <code>target/</code> must exist:</li>
</ul>
<p><code>pax -rw {{path/to/file1}} {{path/to/dir1}} {{path/to/dir2}} {{target/}}</code></p>
