<h1 id="pdfjoin">pdfjoin</h1>
<blockquote>
<p>PDF merging utility.</p>
</blockquote>
<ul>
<li>Merge two PDFs:</li>
</ul>
<p><code>pdfjoin {{file1}} {{file2}} --outfile {{output_file}}</code></p>
<ul>
<li>Save pages 3 to 5 followed by page 1 to a new PDF:</li>
</ul>
<p><code>pdfjoin {{file 3-5,1}} --outfile {{output_file}}</code></p>
<ul>
<li>Merge subranges from two PDFs:</li>
</ul>
<p><code>pdfjoin {{file1 3-5,1}} {{file2 4-6}} --outfile {{output_file}}</code></p>
