<h1 id="pdflatex">pdflatex</h1>
<blockquote>
<p>Compile a pdf document from LaTeX source files.</p>
</blockquote>
<ul>
<li>Compile a pdf document:</li>
</ul>
<p><code>pdflatex {{source.tex}}</code></p>
<ul>
<li>Compile a pdf document specifying an output directory:</li>
</ul>
<p><code>pdflatex -output-directory={{path/to/directory}} {{source.tex}}</code></p>
<ul>
<li>Compile a pdf document, halting on each error:</li>
</ul>
<p><code>pdflatex -halt-on-error {{source.tex}}</code></p>
