<h1 id="pdfposter">pdfposter</h1>
<blockquote>
<p>Convert a large-sheeted pdf into multiple A4 pages for printing. More information: <a href="https://pdfposter.readthedocs.io" class="uri">https://pdfposter.readthedocs.io</a>.</p>
</blockquote>
<ul>
<li>Convert an A2 poster into 4 A4 pages:</li>
</ul>
<p><code>pdfposter --poster-size a2 {{input_file.pdf}} {{output_file.pdf}}</code></p>
<ul>
<li>Scale an A4 poster to A3 and then generate 2 A4 pages:</li>
</ul>
<p><code>pdfposter --scale 2 {{input_file.pdf}} {{output_file.pdf}}</code></p>
