<h1 id="pdftotext">pdftotext</h1>
<blockquote>
<p>Convert PDF files to plain text format.</p>
</blockquote>
<ul>
<li>Convert filename.pdf to plain text and print it to standard output:</li>
</ul>
<p><code>pdftotext {{filename.pdf}} -</code></p>
<ul>
<li>Convert filename.pdf to plain text and save it as filename.txt:</li>
</ul>
<p><code>pdftotext {{filename.pdf}}</code></p>
<ul>
<li>Convert input.pdf to plain text and save it as output.txt:</li>
</ul>
<p><code>pdftotext {{input.pdf}} {{output.txt}}</code></p>
<ul>
<li>Convert pages 2, 3 and 4 of input.pdf to plain text and save them as output.txt:</li>
</ul>
<p><code>pdftotext -f {{2}} -l {{4}} {{input.pdf}} {{output.txt}}</code></p>
