<h1 id="pdftk">pdftk</h1>
<blockquote>
<p>PDF toolkit. More information: <a href="https://www.pdflabs.com/tools/pdftk-the-pdf-toolkit" class="uri">https://www.pdflabs.com/tools/pdftk-the-pdf-toolkit</a>.</p>
</blockquote>
<ul>
<li>Extract pages 1-3, 5 and 6-10 from a PDF file and save them as another one:</li>
</ul>
<p><code>pdftk {{input.pdf}} cat {{1-3 5 6-10}} output {{output.pdf}}</code></p>
<ul>
<li>Merge (concatenate) a list of PDF files and save the result as another one:</li>
</ul>
<p><code>pdftk {{file1.pdf file2.pdf …}} cat output {{output.pdf}}</code></p>
<ul>
<li>Split each page of a PDF file into a separate file, with a given filename output pattern:</li>
</ul>
<p><code>pdftk {{input.pdf}} burst output {{out_%d.pdf}}</code></p>
<ul>
<li>Rotate all pages by 180 degrees clockwise:</li>
</ul>
<p><code>pdftk {{input.pdf}} cat {{1-endsouth}} output {{output.pdf}}</code></p>
<ul>
<li>Rotate third page by 90 degrees clockwise and leave others unchanged:</li>
</ul>
<p><code>pdftk {{input.pdf}} cat {{1-2 3east 4-end}} output {{output.pdf}}</code></p>
