<h1 id="pdfunite">pdfunite</h1>
<blockquote>
<p>PDF merging utility. More information: <a href="https://github.com/mtgrosser/pdfunite" class="uri">https://github.com/mtgrosser/pdfunite</a>.</p>
</blockquote>
<ul>
<li>Merge 2 PDFs into a single PDF:</li>
</ul>
<p><code>pdfunite {{path/to/fileA.pdf}} {{path/to/fileB.pdf}} {{path/to/merged_output.pdf}}</code></p>
<ul>
<li>Merge a directory of PDFs into a single PDF:</li>
</ul>
<p><code>pdfunite {{path/to/directory/*.pdf}} {{path/to/merged_output.pdf}}</code></p>
