<h1 id="peerflix">peerflix</h1>
<blockquote>
<p>Stream video- or audio-based torrents to a media player. More information: <a href="https://github.com/mafintosh/peerflix" class="uri">https://github.com/mafintosh/peerflix</a>.</p>
</blockquote>
<ul>
<li>Stream the largest media file in a torrent:</li>
</ul>
<p><code>peerflix "{{torrent_url|magnet_link}}"</code></p>
<ul>
<li>List all streamable files contained in a torrent (given as a magnet link):</li>
</ul>
<p><code>peerflix "{{magnet:?xt=urn:btih:0123456789abcdef0123456789abcdef01234567}}" --list</code></p>
<ul>
<li>Stream the largest file in a torrent, given as a torrent URL, to VLC:</li>
</ul>
<p><code>peerflix "{{http://example.net/music.torrent}}" --vlc</code></p>
<ul>
<li>Stream the largest file in a torrent to MPlayer, with subtitles:</li>
</ul>
<p><code>peerflix "{{torrent_url|magnet_link}}" --mplayer --subtitles {{subtitle-file.srt}}</code></p>
<ul>
<li>Stream all files from a torrent to Airplay:</li>
</ul>
<p><code>peerflix "{{torrent_url|magnet_link}}" --all --airplay</code></p>
