<h1 id="perl">perl</h1>
<blockquote>
<p>The Perl 5 language interpreter. More information: <a href="https://www.perl.org" class="uri">https://www.perl.org</a>.</p>
</blockquote>
<ul>
<li>Parse and execute a Perl script:</li>
</ul>
<p><code>perl {{script.pl}}</code></p>
<ul>
<li>Check syntax errors on a Perl script:</li>
</ul>
<p><code>perl -c {{script.pl}}</code></p>
<ul>
<li>Parse and execute a Perl statement:</li>
</ul>
<p><code>perl -e {{perl_statement}}</code></p>
<ul>
<li>Run a Perl script in debug mode, using <code>perldebug</code>:</li>
</ul>
<p><code>perl -d {{script.pl}}</code></p>
<ul>
<li>Loo[p] over all lines of a file, editing them [i]n-place using a find/replace [e]xpression:</li>
</ul>
<p><code>perl -p -i -e 's/{{find}}/{{replace}}/g' {{filename}}</code></p>
<ul>
<li>Run a find/replace expression on a file, saving the original file with a given extension:</li>
</ul>
<p><code>perl -p -i'.old' -e 's/{{find}}/{{replace}}/g' {{filename}}</code></p>
<ul>
<li>Run a multi-line find/replace expression on a file, and save the result in another file:</li>
</ul>
<p><code>perl -p0e 's/{{foo\nbar}}/{{foobar}}/g' {{input_file}} &gt; {{output_file}}</code></p>
<ul>
<li>Run a regular expression on <code>stdin</code>, printing out the first capture group for each line:</li>
</ul>
<p><code>cat {{path/to/input_file}} | perl -nle 'if (/.*({{foo}}).*/) {print "$1"; last;}'</code></p>
