<h1 id="pg_ctl">pg_ctl</h1>
<blockquote>
<p>Utility for controlling a PostgreSQL server and database cluster. More information: <a href="https://www.postgresql.org/docs/current/app-pg-ctl.html" class="uri">https://www.postgresql.org/docs/current/app-pg-ctl.html</a>.</p>
</blockquote>
<ul>
<li>Start a PostgreSQL server:</li>
</ul>
<p><code>pg_ctl -D {{data_directory}} -l {{log_file_name}}</code></p>
<ul>
<li>Initialize a PostgreSQL database cluster:</li>
</ul>
<p><code>pg_ctl -D {{data_directory}} init</code></p>
<ul>
<li>Stop a PostgreSQL server:</li>
</ul>
<p><code>pg_ctl -D {{data_directory}} stop</code></p>
<ul>
<li>Restart a PostgreSQL server:</li>
</ul>
<p><code>pg_ctl -D {{data_directory}} restart</code></p>
