<h1 id="pg_dump">pg_dump</h1>
<blockquote>
<p>Extract a PostgreSQL database into a script file or other archive file. More information: <a href="https://www.postgresql.org/docs/current/app-pgdump.html" class="uri">https://www.postgresql.org/docs/current/app-pgdump.html</a>.</p>
</blockquote>
<ul>
<li>Dump database into a SQL-script file:</li>
</ul>
<p><code>pg_dump {{db_name}} &gt; {{output_file.sql}}</code></p>
<ul>
<li>Same as above, customize username:</li>
</ul>
<p><code>pg_dump -U {{username}} {{db_name}} &gt; {{output_file.sql}}</code></p>
<ul>
<li>Same as above, customize host and port:</li>
</ul>
<p><code>pg_dump -h {{host}} -p {{port}} {{db_name}} &gt; {{output_file.sql}}</code></p>
<ul>
<li>Dump a database into a custom-format archive file:</li>
</ul>
<p><code>pg_dump -Fc {{db_name}} &gt; {{output_file.dump}}</code></p>
<ul>
<li>Dump only database data into an SQL-script file:</li>
</ul>
<p><code>pg_dump -a {{db_name}} &gt; {{path/to/output_file.sql}}</code></p>
<ul>
<li>Dump only schema (data definitions) into an SQL-script file:</li>
</ul>
<p><code>pg_dump -s {{db_name}} &gt; {{path/to/output_file.sql}}</code></p>
