<h1 id="pg_restore">pg_restore</h1>
<blockquote>
<p>Restore a PostgreSQL database from an archive file created by pg_dump. More information: <a href="https://www.postgresql.org/docs/current/app-pgrestore.html" class="uri">https://www.postgresql.org/docs/current/app-pgrestore.html</a>.</p>
</blockquote>
<ul>
<li>Restore an archive into an existing database:</li>
</ul>
<p><code>pg_restore -d {{db_name}} {{archive_file.dump}}</code></p>
<ul>
<li>Same as above, customize username:</li>
</ul>
<p><code>pg_restore -U {{username}} -d {{db_name}} {{archive_file.dump}}</code></p>
<ul>
<li>Same as above, customize host and port:</li>
</ul>
<p><code>pg_restore -h {{host}} -p {{port}} -d {{db_name}} {{archive_file.dump}}</code></p>
<ul>
<li>Clean database objects before creating them:</li>
</ul>
<p><code>pg_restore --clean -d {{db_name}} {{archive_file.dump}}</code></p>
<ul>
<li>Use multiple jobs to do the restoring:</li>
</ul>
<p><code>pg_restore -j {{2}} -d {{db_name}} {{archive_file.dump}}</code></p>
