<h1 id="pgrep">pgrep</h1>
<blockquote>
<p>Find or signal process by name.</p>
</blockquote>
<ul>
<li>Return PIDs of any running processes with a matching command string:</li>
</ul>
<p><code>pgrep {{process_name}}</code></p>
<ul>
<li>Search full command line with parameters instead of just the process name:</li>
</ul>
<p><code>pgrep -f "{{process_name}} {{parameter}}"</code></p>
<ul>
<li>Search for process run by a specific user:</li>
</ul>
<p><code>pgrep -u root {{process_name}}</code></p>
