<h1 id="phing">phing</h1>
<blockquote>
<p>A PHP build tool based on Apache Ant. More information: <a href="https://www.phing.info" class="uri">https://www.phing.info</a>.</p>
</blockquote>
<ul>
<li>Perform the default task in the “build.xml” file:</li>
</ul>
<p><code>phing</code></p>
<ul>
<li>Initialise a new build file:</li>
</ul>
<p><code>phing -i {{path/to/build.xml}}</code></p>
<ul>
<li>Perform a specific task:</li>
</ul>
<p><code>phing {{task_name}}</code></p>
<ul>
<li>Specify a custom build file path:</li>
</ul>
<p><code>phing -f {{path/to/build.xml}} {{task_name}}</code></p>
<ul>
<li>Specify a log file to output to:</li>
</ul>
<p><code>phing -b {{path/to/log_file}} {{task_name}}</code></p>
<ul>
<li>Specify custom properties to use in the build:</li>
</ul>
<p><code>phing -D{{property}}={{value}} {{task_name}}</code></p>
<ul>
<li>Specify a custom listener class:</li>
</ul>
<p><code>phing -listener {{class_name}} {{task_name}}</code></p>
<ul>
<li>Build using verbose output:</li>
</ul>
<p><code>phing -verbose {{task_name}}</code></p>
