<h1 id="phive">phive</h1>
<blockquote>
<p>The Phar Installation and Verification Environment for secure PHP application deployment. More information: <a href="https://phar.io" class="uri">https://phar.io</a>.</p>
</blockquote>
<ul>
<li>Display a list of available aliased Phars:</li>
</ul>
<p><code>phive list</code></p>
<ul>
<li>Install a specified Phar to the local directory:</li>
</ul>
<p><code>phive install {{alias|url}}</code></p>
<ul>
<li>Install a specified Phar globally:</li>
</ul>
<p><code>phive install {{alias|url}} --global</code></p>
<ul>
<li>Install a specified Phar to a target directory:</li>
</ul>
<p><code>phive install {{alias|url}} --target {{path/to/directory}}</code></p>
<ul>
<li>Update all Phar files to the latest version:</li>
</ul>
<p><code>phive update</code></p>
<ul>
<li>Remove a specified Phar file:</li>
</ul>
<p><code>phive remove {{alias|url}}</code></p>
<ul>
<li>Remove unused Phar files:</li>
</ul>
<p><code>phive purge</code></p>
<ul>
<li>List all available commands:</li>
</ul>
<p><code>phive help</code></p>
