<h1 id="php-yii">php yii</h1>
<blockquote>
<p>Yii Framework’s command line interface. More information: <a href="https://yiiframework.com" class="uri">https://yiiframework.com</a>.</p>
</blockquote>
<ul>
<li>Display a list of all available commands:</li>
</ul>
<p><code>php yii {{help}}</code></p>
<ul>
<li>Start PHP’s built-in web server for the current Yii application:</li>
</ul>
<p><code>php yii {{serve}}</code></p>
<ul>
<li>Generate a controller, views and related files for the CRUD actions on the specified model class:</li>
</ul>
<p><code>php yii {{gii/crud}} --modelClass={{ModelName}} --controllerClass={{ControllerName}}</code></p>
