<h1 id="php-artisan">php artisan</h1>
<blockquote>
<p>Laravel’s Artisan command line interface. More information: <a href="https://laravel.com/docs/artisan" class="uri">https://laravel.com/docs/artisan</a>.</p>
</blockquote>
<ul>
<li>Start PHP’s built-in web server for the current Laravel application:</li>
</ul>
<p><code>php artisan serve</code></p>
<ul>
<li>Start an interactive PHP command line interface:</li>
</ul>
<p><code>php artisan tinker</code></p>
<ul>
<li>Generate a new Eloquent model class with a migration, factory and resource controller:</li>
</ul>
<p><code>php artisan make:model {{ModelName}} --all</code></p>
<ul>
<li>Display a list of all available commands:</li>
</ul>
<p><code>php artisan help</code></p>
