<h1 id="php">php</h1>
<blockquote>
<p>PHP command line interface. More information: <a href="https://php.net" class="uri">https://php.net</a>.</p>
</blockquote>
<ul>
<li>Parse and execute a php script:</li>
</ul>
<p><code>php {{file}}</code></p>
<ul>
<li>Check syntax on (i.e. lint) a PHP script:</li>
</ul>
<p><code>php -l {{file}}</code></p>
<ul>
<li>Run PHP interactively:</li>
</ul>
<p><code>php -a</code></p>
<ul>
<li>Run PHP code (Notes: Don’t use &lt;? ?&gt; tags; escape double quotes with backslash):</li>
</ul>
<p><code>php -r "{{code}}"</code></p>
<ul>
<li>Start a PHP built-in web server in the current directory:</li>
</ul>
<p><code>php -S {{host:port}}</code></p>
<ul>
<li>Get a list of installed PHP extensions:</li>
</ul>
<p><code>php -m</code></p>
<ul>
<li>Display information about the current PHP configuration:</li>
</ul>
<p><code>php -i</code></p>
