<h1 id="phpbu">phpbu</h1>
<blockquote>
<p>A backup utility framework for PHP. More information: <a href="https://phpbu.de" class="uri">https://phpbu.de</a>.</p>
</blockquote>
<ul>
<li>Run backups using the default “phpbu.xml” configuration file:</li>
</ul>
<p><code>phpbu</code></p>
<ul>
<li>Run backups using a specific configuration file:</li>
</ul>
<p><code>phpbu --configuration={{path/to/configuration_file.xml}}</code></p>
<ul>
<li>Only run the specified backups:</li>
</ul>
<p><code>phpbu --limit={{backup_task_name}}</code></p>
<ul>
<li>Simulate the actions that would have been performed:</li>
</ul>
<p><code>phpbu --simulate</code></p>
