<h1 id="phpcpd">phpcpd</h1>
<blockquote>
<p>A copy and paste detector for PHP code. More information: <a href="https://github.com/sebastianbergmann/phpcpd" class="uri">https://github.com/sebastianbergmann/phpcpd</a>.</p>
</blockquote>
<ul>
<li>Analyse duplicated code for a specific file or directory:</li>
</ul>
<p><code>phpcpd {{path/to/file_or_directory}}</code></p>
<ul>
<li>Analyse using fuzzy matching for variable names:</li>
</ul>
<p><code>phpcpd --fuzzy {{path/to/file_or_directory}}</code></p>
<ul>
<li>Specify a minimum number of identical lines (defaults to 5):</li>
</ul>
<p><code>phpcpd --min-lines {{number_of_lines}} {{path/to/file_or_directory}}</code></p>
<ul>
<li>Specify a minimum number of identical tokens (defaults to 70):</li>
</ul>
<p><code>phpcpd --min-tokens {{number_of_tokens}} {{path/to/file_or_directory}}</code></p>
<ul>
<li>Exclude a directory from analysis (must be relative to the source):</li>
</ul>
<p><code>phpcpd --exclude {{path/to/excluded_directory}} {{path/to/file_or_directory}}</code></p>
<ul>
<li>Output the results to a PHP-CPD XML file:</li>
</ul>
<p><code>phpcpd --log-pmd {{path/to/log_file}} {{path/to/file_or_directory}}</code></p>
