<h1 id="phpcs">phpcs</h1>
<blockquote>
<p>Tokenize PHP, JavaScript and CSS files to detect violations of a defined set of coding standards. More information: <a href="https://github.com/squizlabs/PHP_CodeSniffer" class="uri">https://github.com/squizlabs/PHP_CodeSniffer</a>.</p>
</blockquote>
<ul>
<li>Sniff the specified directory for issues (defaults to the PEAR standard):</li>
</ul>
<p><code>phpcs {{path/to/directory}}</code></p>
<ul>
<li>Display a list of installed coding standards:</li>
</ul>
<p><code>phpcs -i</code></p>
<ul>
<li>Specify a coding standard to validate against:</li>
</ul>
<p><code>phpcs {{path/to/directory}} --standard {{standard}}</code></p>
<ul>
<li>Specify file extension(s) to include when sniffing:</li>
</ul>
<p><code>phpcs {{path/to/directory}} --extensions {{file_extension(s)}}</code></p>
<ul>
<li>Specify the format of the output report (e.g. <code>full</code>, <code>xml</code>, <code>json</code>, <code>summary</code>):</li>
</ul>
<p><code>phpcs {{path/to/directory}} --report {{format}}</code></p>
<ul>
<li>Set config variables to be used during the process:</li>
</ul>
<p><code>phpcs {{path/to/directory}} --config-set {{key}} {{value}}</code></p>
<ul>
<li>A comma-separated list of files to load before processing:</li>
</ul>
<p><code>phpcs {{path/to/directory}} --bootstrap {{file(s)}}</code></p>
<ul>
<li>Don’t recurse into subdirectories:</li>
</ul>
<p><code>phpcs {{path/to/directory}} -l</code></p>
