<h1 id="phpenv">phpenv</h1>
<blockquote>
<p>A PHP version manager for development purposes. More information: <a href="https://github.com/phpenv/phpenv" class="uri">https://github.com/phpenv/phpenv</a>.</p>
</blockquote>
<ul>
<li>Install a PHP version globally:</li>
</ul>
<p><code>phpenv install {{version}}</code></p>
<ul>
<li>Refresh shim files for all PHP binaries known to <code>phpenv</code>:</li>
</ul>
<p><code>phpenv rehash</code></p>
<ul>
<li>List all installed PHP versions:</li>
</ul>
<p><code>phpenv versions</code></p>
<ul>
<li>Display the currently active PHP version:</li>
</ul>
<p><code>phpenv version</code></p>
<ul>
<li>Set the global PHP version:</li>
</ul>
<p><code>phpenv global {{version}}</code></p>
<ul>
<li>Set the local PHP version, which overrides the global version:</li>
</ul>
<p><code>phpenv local {{version}}</code></p>
<ul>
<li>Unset the local PHP version:</li>
</ul>
<p><code>phpenv local --unset</code></p>
