<h1 id="phploc">phploc</h1>
<blockquote>
<p>A tool for quickly measuring the size and analyzing the structure of a PHP project. More information: <a href="https://github.com/sebastianbergmann/phploc" class="uri">https://github.com/sebastianbergmann/phploc</a>.</p>
</blockquote>
<ul>
<li>Analyse a directory and print the result:</li>
</ul>
<p><code>phploc {{path/to/directory}}</code></p>
<ul>
<li>Include only specific files from a comma-separated list (globs are allowed):</li>
</ul>
<p><code>phploc {{path/to/directory}} --names {{files}}</code></p>
<ul>
<li>Exclude specific files from a comma-separated list (globs are allowed):</li>
</ul>
<p><code>phploc {{path/to/directory}} --names-exclude {{files}}</code></p>
<ul>
<li>Exclude a specific directory from analysis:</li>
</ul>
<p><code>phploc {{path/to/directory}} --exclude {{path/to/exclude_directory}}</code></p>
<ul>
<li>Log the results to a specific CSV file:</li>
</ul>
<p><code>phploc {{path/to/directory}} --log-csv {{path/to/file}}</code></p>
<ul>
<li>Log the results to a specific XML file:</li>
</ul>
<p><code>phploc {{path/to/directory}} --log-xml {{path/to/file}}</code></p>
<ul>
<li>Count PHPUnit test case classes and test methods:</li>
</ul>
<p><code>phploc {{path/to/directory}} --count-tests</code></p>
