<h1 id="phpstan">phpstan</h1>
<blockquote>
<p>A PHP static analysis tool to discover bugs in code. More information: <a href="https://github.com/phpstan/phpstan" class="uri">https://github.com/phpstan/phpstan</a>.</p>
</blockquote>
<ul>
<li>Display available options for analysis:</li>
</ul>
<p><code>phpstan analyse --help</code></p>
<ul>
<li>Analyse the specified space-separated directories:</li>
</ul>
<p><code>phpstan analyse {{path/to/directory}}</code></p>
<ul>
<li>Analyse a directory using a configuration file:</li>
</ul>
<p><code>phpstan analyse {{path/to/directory}} --configuration {{path/to/config}}</code></p>
<ul>
<li>Analyse using a specific rule level (0-7, higher is stricter):</li>
</ul>
<p><code>phpstan analyse {{path/to/directory}} --level {{level}}</code></p>
<ul>
<li>Specify an autoload file to load before analysing:</li>
</ul>
<p><code>phpstan analyse {{path/to/directory}} --autoload-file {{path/to/autoload_file}}</code></p>
<ul>
<li>Specify a memory limit during analysis:</li>
</ul>
<p><code>phpstan analyse {{path/to/directory}} --memory-limit {{memory_limit}}</code></p>
