<h1 id="phpspec">phpspec</h1>
<blockquote>
<p>A Behaviour Driven Development tool for PHP. More information: <a href="https://phpspec.net" class="uri">https://phpspec.net</a>.</p>
</blockquote>
<ul>
<li>Create a specification for a class:</li>
</ul>
<p><code>phpspec describe {{class_name}}</code></p>
<ul>
<li>Run all specifications in the “spec” directory:</li>
</ul>
<p><code>phpspec run</code></p>
<ul>
<li>Run a single specification:</li>
</ul>
<p><code>phpspec run {{path/to/class_specification_file}}</code></p>
<ul>
<li>Run specifications using a specific configuration file:</li>
</ul>
<p><code>phpspec run -c {{path/to/configuration_file}}</code></p>
<ul>
<li>Run specifications using a specific bootstrap file:</li>
</ul>
<p><code>phpspec run -b {{path/to/bootstrap_file}}</code></p>
<ul>
<li>Disable code generation prompts:</li>
</ul>
<p><code>phpspec run --no-code-generation</code></p>
<ul>
<li>Enable fake return values:</li>
</ul>
<p><code>phpspec run --fake</code></p>
