<h1 id="phpstorm">phpstorm</h1>
<blockquote>
<p>A cross-platform IDE for PHP based on the JetBrains IntelliJ platform. More information: <a href="https://jetbrains.com/phpstorm" class="uri">https://jetbrains.com/phpstorm</a>.</p>
</blockquote>
<ul>
<li>Open a specific directory:</li>
</ul>
<p><code>phpstorm {{path/to/directory}}</code></p>
<ul>
<li>Open a file:</li>
</ul>
<p><code>phpstorm {{path/to/file}}</code></p>
<ul>
<li>Open a file at a specific line:</li>
</ul>
<p><code>phpstorm --line {{line_number}} {{path/to/file}}</code></p>
<ul>
<li>View the differences between two files:</li>
</ul>
<p><code>phpstorm diff {{path/to/left_file}} {{path/to/right_file}}</code></p>
