<h1 id="picard">picard</h1>
<blockquote>
<p>Next generation MusicBrainz tagging application. More information: <a href="https://picard.musicbrainz.org/" class="uri">https://picard.musicbrainz.org/</a>.</p>
</blockquote>
<ul>
<li>Start Picard:</li>
</ul>
<p><code>picard</code></p>
<ul>
<li>Open a set of files:</li>
</ul>
<p><code>picard {{path/to/file1.mp3}} {{path/to/file2.mp3}}</code></p>
<ul>
<li>Display the version of Picard installed:</li>
</ul>
<p><code>picard --long-version</code></p>
