<h1 id="pickle">pickle</h1>
<blockquote>
<p>A PHP extension installer based on Composer. More information: <a href="https://github.com/FriendsOfPHP/pickle" class="uri">https://github.com/FriendsOfPHP/pickle</a>.</p>
</blockquote>
<ul>
<li>Install a specific PHP extension:</li>
</ul>
<p><code>pickle install {{extension_name}}</code></p>
<ul>
<li>Convert an existing PECL extension configuration to a Pickle configuration file:</li>
</ul>
<p><code>pickle convert {{path/to/directory}}</code></p>
<ul>
<li>Validate a PECL extension:</li>
</ul>
<p><code>pickle validate {{path/to/directory}}</code></p>
<ul>
<li>Package a PECL extension for release:</li>
</ul>
<p><code>pickle release {{path/to/directory}}</code></p>
