<h1 id="pigz">pigz</h1>
<blockquote>
<p>Multithreaded zlib compression utility. More information: <a href="https://github.com/madler/pigz" class="uri">https://github.com/madler/pigz</a>.</p>
</blockquote>
<ul>
<li>Compress a file with default options:</li>
</ul>
<p><code>pigz {{filename}}</code></p>
<ul>
<li>Compress a file using the best compression method:</li>
</ul>
<p><code>pigz -9 {{filename}}</code></p>
<ul>
<li>Compress a file using no compression and 4 processors:</li>
</ul>
<p><code>pigz -0 -p{{4}} {{filename}}</code></p>
<ul>
<li>Compress a directory using tar:</li>
</ul>
<p><code>tar cf - {{path/to/directory}} | pigz &gt; {{filename}}.tar.gz</code></p>
<ul>
<li>Decompress a file:</li>
</ul>
<p><code>pigz -d {{archive.gz}}</code></p>
<ul>
<li>List the contents of an archive:</li>
</ul>
<p><code>pigz -l {{archive.tar.gz}}</code></p>
