<h1 id="ping6">ping6</h1>
<blockquote>
<p>Send ICMP ECHO_REQUEST packets to network hosts via IPv6 address.</p>
</blockquote>
<ul>
<li>Ping a host:</li>
</ul>
<p><code>ping6 {{host}}</code></p>
<ul>
<li>Ping a host only a specific number of times:</li>
</ul>
<p><code>ping6 -c {{count}} {{host}}</code></p>
<ul>
<li>Ping a host, specifying the interval in seconds between requests (default is 1 second):</li>
</ul>
<p><code>ping6 -i {{seconds}} {{host}}</code></p>
<ul>
<li>Ping a host without trying to lookup symbolic names for addresses:</li>
</ul>
<p><code>ping6 -n {{host}}</code></p>
<ul>
<li>Ping a host and ring the bell when a packet is received (if your terminal supports it):</li>
</ul>
<p><code>ping6 -a {{host}}</code></p>
