<h1 id="ping">ping</h1>
<blockquote>
<p>Send ICMP ECHO_REQUEST packets to network hosts.</p>
</blockquote>
<ul>
<li>Ping host:</li>
</ul>
<p><code>ping {{host}}</code></p>
<ul>
<li>Ping a host only a specific number of times:</li>
</ul>
<p><code>ping -c {{count}} {{host}}</code></p>
<ul>
<li>Ping host, specifying the interval in seconds between requests (default is 1 second):</li>
</ul>
<p><code>ping -i {{seconds}} {{host}}</code></p>
<ul>
<li>Ping host without trying to lookup symbolic names for addresses:</li>
</ul>
<p><code>ping -n {{host}}</code></p>
<ul>
<li>Ping host and ring the bell when a packet is received (if your terminal supports it):</li>
</ul>
<p><code>ping -a {{host}}</code></p>
<ul>
<li>Also display a message if no response was received:</li>
</ul>
<p><code>ping -O {{host}}</code></p>
