<h1 id="pinky">pinky</h1>
<blockquote>
<p>Print user information using the <code>finger</code> protocol.</p>
</blockquote>
<ul>
<li>Display details about the current user:</li>
</ul>
<p><code>pinky</code></p>
<ul>
<li>Display details for a specific user:</li>
</ul>
<p><code>pinky {{user}}</code></p>
<ul>
<li>Display details in the long format:</li>
</ul>
<p><code>pinky {{user}} -l</code></p>
<ul>
<li>Omit the user’s home directory and shell in long format:</li>
</ul>
<p><code>pinky {{user}} -lb</code></p>
<ul>
<li>Omit the user’s project file in long format:</li>
</ul>
<p><code>pinky {{user}} -lh</code></p>
<ul>
<li>Omit the column headings in short format:</li>
</ul>
<p><code>pinky {{user}} -f</code></p>
