<h1 id="pip">pip</h1>
<blockquote>
<p>Python package manager. More information: <a href="https://pip.pypa.io" class="uri">https://pip.pypa.io</a>.</p>
</blockquote>
<ul>
<li>Install a package:</li>
</ul>
<p><code>pip install {{package_name}}</code></p>
<ul>
<li>Install a specific version of a package:</li>
</ul>
<p><code>pip install {{package_name}}=={{package_version}}</code></p>
<ul>
<li>Upgrade a package:</li>
</ul>
<p><code>pip install -U {{package_name}}</code></p>
<ul>
<li>Uninstall a package:</li>
</ul>
<p><code>pip uninstall {{package_name}}</code></p>
<ul>
<li>Save installed packages to file:</li>
</ul>
<p><code>pip freeze &gt; {{requirements.txt}}</code></p>
<ul>
<li>Install packages from file:</li>
</ul>
<p><code>pip install -r {{requirements.txt}}</code></p>
<ul>
<li>Show installed package info:</li>
</ul>
<p><code>pip show {{package_name}}</code></p>
