<h1 id="pip3">pip3</h1>
<blockquote>
<p>Python package manager. More information: <a href="https://pip.pypa.io" class="uri">https://pip.pypa.io</a>.</p>
</blockquote>
<ul>
<li>Find available packages:</li>
</ul>
<p><code>pip3 search {{package_name}}</code></p>
<ul>
<li>Install a package:</li>
</ul>
<p><code>pip3 install {{package_name}}</code></p>
<ul>
<li>Install a specific version of a package:</li>
</ul>
<p><code>pip3 install {{package_name}}=={{package_version}}</code></p>
<ul>
<li>Upgrade a package:</li>
</ul>
<p><code>pip3 install --upgrade {{package_name}}</code></p>
<ul>
<li>Uninstall a package:</li>
</ul>
<p><code>pip3 uninstall {{package_name}}</code></p>
<ul>
<li>Save the list of installed packages to a file:</li>
</ul>
<p><code>pip3 freeze &gt; {{requirements.txt}}</code></p>
<ul>
<li>Install packages from a file:</li>
</ul>
<p><code>pip3 install --requirements {{requirements.txt}}</code></p>
<ul>
<li>Show installed package info:</li>
</ul>
<p><code>pip3 show {{package_name}}</code></p>
