<h1 id="pipenv">pipenv</h1>
<blockquote>
<p>Simple and unified Python development workflow. Manages packages and the virtual environment for a project. More information: <a href="https://pypi.org/project/pipenv" class="uri">https://pypi.org/project/pipenv</a>.</p>
</blockquote>
<ul>
<li>Create a new project:</li>
</ul>
<p><code>pipenv</code></p>
<ul>
<li>Create a new project using Python 3:</li>
</ul>
<p><code>pipenv --three</code></p>
<ul>
<li>Install a package:</li>
</ul>
<p><code>pipenv install {{package_name}}</code></p>
<ul>
<li>Install all the dependencies for a project (including dev):</li>
</ul>
<p><code>pipenv install --dev</code></p>
<ul>
<li>Uninstall a package:</li>
</ul>
<p><code>pipenv uninstall {{package_name}}</code></p>
<ul>
<li>Start a shell within the created virtual environment:</li>
</ul>
<p><code>pipenv shell</code></p>
<ul>
<li>Generate a requirements.txt for a project:</li>
</ul>
<p><code>pipenv lock --requirements</code></p>
