<h1 id="pkill">pkill</h1>
<blockquote>
<p>Signal process by name. Mostly used for stopping processes.</p>
</blockquote>
<ul>
<li>Kill all processes which match:</li>
</ul>
<p><code>pkill -9 {{process_name}}</code></p>
<ul>
<li>Kill all processes which match their full command instead of just the process name:</li>
</ul>
<p><code>pkill -9 -f "{{command_name}}"</code></p>
<ul>
<li>Send SIGUSR1 signal to processes which match:</li>
</ul>
<p><code>pkill -USR1 {{process_name}}</code></p>
