<h1 id="play">play</h1>
<blockquote>
<p>Audio player of SoX - Sound eXchange. Plays any audio from the command line, with audio formats identified by the extension. More information: <a href="http://sox.sourceforge.net" class="uri">http://sox.sourceforge.net</a>.</p>
</blockquote>
<ul>
<li>Play the given audio file:</li>
</ul>
<p><code>play {{audiofile}}</code></p>
<ul>
<li>Play the given audio files:</li>
</ul>
<p><code>play {{audiofile1}} {{audiofile2}}</code></p>
<ul>
<li>Play the given audio at twice the speed:</li>
</ul>
<p><code>play {{audiofile}} speed 2.0</code></p>
<ul>
<li>Play the given audio in reverse:</li>
</ul>
<p><code>play {{audiofile}} reverse</code></p>
