<h1 id="pm2">pm2</h1>
<blockquote>
<p>Process manager for Node.js. Used for log management, monitoring and configuring processes. More information: <a href="https://pm2.keymetrics.io" class="uri">https://pm2.keymetrics.io</a>.</p>
</blockquote>
<ul>
<li>Start a process with a name that can be used for later operations:</li>
</ul>
<p><code>pm2 start {{app.js}} --name {{myapp}}</code></p>
<ul>
<li>List processes:</li>
</ul>
<p><code>pm2 list</code></p>
<ul>
<li>Monitor all processes:</li>
</ul>
<p><code>pm2 monit</code></p>
<ul>
<li>Stop a process:</li>
</ul>
<p><code>pm2 stop {{myapp}}</code></p>
<ul>
<li>Restart a process:</li>
</ul>
<p><code>pm2 restart {{myapp}}</code></p>
<ul>
<li>Dump all processes for resurrecting them later:</li>
</ul>
<p><code>pm2 save</code></p>
<ul>
<li>Resurrect previously dumped processes:</li>
</ul>
<p><code>pm2 resurrect</code></p>
<ul>
<li>Launch monitoring:</li>
</ul>
<p><code>pm2 monit</code></p>
