<h1 id="pngcrush">pngcrush</h1>
<blockquote>
<p>PNG image compression utility. More information: <a href="https://pmt.sourceforge.io/pngcrush" class="uri">https://pmt.sourceforge.io/pngcrush</a>.</p>
</blockquote>
<ul>
<li>Compress a PNG file:</li>
</ul>
<p><code>pngcrush {{in.png}} {{out.png}}</code></p>
<ul>
<li>Compress all PNGs and output to directory:</li>
</ul>
<p><code>pngcrush -d {{path/to/output}} *.png</code></p>
<ul>
<li>Compress PNG file with all 114 available algorithms and pick the best result:</li>
</ul>
<p><code>pngcrush -rem allb -brute -reduce {{in.png}} {{out.png}}</code></p>
