<h1 id="podman">podman</h1>
<blockquote>
<p>Simple management tool for pods, containers and images. Podman provides a Docker-CLI comparable command line. Simply put: <code>alias docker=podman</code>. More information: <a href="https://github.com/containers/libpod/blob/master/commands.md" class="uri">https://github.com/containers/libpod/blob/master/commands.md</a>.</p>
</blockquote>
<ul>
<li>Print out information about containers:</li>
</ul>
<p><code>podman ps</code></p>
<ul>
<li>List all containers (both running and stopped):</li>
</ul>
<p><code>podman ps --all</code></p>
<ul>
<li>Start one or more containers:</li>
</ul>
<p><code>podman start {{container_name}} {{container_id}}</code></p>
<ul>
<li>Stop one or more running containers:</li>
</ul>
<p><code>podman stop {{container_name}} {{container_id}}</code></p>
<ul>
<li>Pull an image from a registry (defaults to the Docker Hub):</li>
</ul>
<p><code>podman pull {{image_name}}:{{image_tag}}</code></p>
<ul>
<li>Open a shell inside of an already running container:</li>
</ul>
<p><code>podman exec --interactive --tty {{container_name}} {{sh}}</code></p>
<ul>
<li>Remove one or more stopped containers:</li>
</ul>
<p><code>podman rm {{container_name}} {{container_id}}</code></p>
<ul>
<li>Display the logs of one or more containers and follow log output:</li>
</ul>
<p><code>podman logs --follow {{container_name}} {{container_id}}</code></p>
