<h1 id="popeye">popeye</h1>
<blockquote>
<p>Utility that reports potential issues with Kubernetes deployment manifests. More information: <a href="https://github.com/derailed/popeye" class="uri">https://github.com/derailed/popeye</a>.</p>
</blockquote>
<ul>
<li>Scan the current Kubernetes cluster:</li>
</ul>
<p><code>popeye</code></p>
<ul>
<li>Scan a specific namespace:</li>
</ul>
<p><code>popeye -n {{namespace}}</code></p>
<ul>
<li>Scan specific Kubernetes context:</li>
</ul>
<p><code>popeye --context={{context}}</code></p>
<ul>
<li>Use a spinach configuration file for scanning:</li>
</ul>
<p><code>popeye -f {{spinach.yaml}}</code></p>
