<h1 id="postcss">postcss</h1>
<blockquote>
<p>PostCSS is a tool for transforming styles with JS plugins. More information: <a href="https://postcss.org" class="uri">https://postcss.org</a>.</p>
</blockquote>
<ul>
<li>Parse and transform a CSS file:</li>
</ul>
<p><code>postcss {{path/to/file}}</code></p>
<ul>
<li>Parse and transform a CSS file and output to a specific file:</li>
</ul>
<p><code>postcss {{path/to/file}} --output {{path/to/file}}</code></p>
<ul>
<li>Parse and transform a CSS file and output to a specific directory:</li>
</ul>
<p><code>postcss {{path/to/file}} --dir {{path/to/directory}}</code></p>
<ul>
<li>Parse and transform a CSS file in-place:</li>
</ul>
<p><code>postcss {{path/to/file}} --replace</code></p>
<ul>
<li>Specify a custom PostCSS parser:</li>
</ul>
<p><code>postcss {{path/to/file}} --parser {{parser}}</code></p>
<ul>
<li>Specify a custom PostCSS syntax:</li>
</ul>
<p><code>postcss {{path/to/file}} --syntax {{syntax}}</code></p>
<ul>
<li>Watch for changes to a CSS file:</li>
</ul>
<p><code>postcss {{path/to/file}} --watch</code></p>
<ul>
<li>Display available options and examples:</li>
</ul>
<p><code>postcss --help</code></p>
