<h1 id="powerstat">powerstat</h1>
<blockquote>
<p>Measures the power consumption of a computer that has a battery power source or supports the RAPL interface. More information: <a href="http://manpages.ubuntu.com/manpages/bionic/man8/powerstat.8.html" class="uri">http://manpages.ubuntu.com/manpages/bionic/man8/powerstat.8.html</a>.</p>
</blockquote>
<ul>
<li>Measure power with the default of 10 samples with an interval of 10 seconds:</li>
</ul>
<p><code>powerstat</code></p>
<ul>
<li>Measure power with custom number of samples and interval duration:</li>
</ul>
<p><code>powerstat {{interval}} {{number_of_samples}}</code></p>
<ul>
<li>Measure power using Intel’s RAPL interface:</li>
</ul>
<p><code>powerstat -R {{interval}} {{number_of_samples}}</code></p>
<ul>
<li>Show an histogram of the power measurements:</li>
</ul>
<p><code>powerstat -H {{interval}} {{number_of_samples}}</code></p>
<ul>
<li>Enable all statistics gathering options:</li>
</ul>
<p><code>powerstat -a {{interval}} {{number_of_samples}}</code></p>
