<h1 id="pr">pr</h1>
<blockquote>
<p>Paginate or columnate files for printing. More information: <a href="https://www.gnu.org/software/coreutils/manual/html_node/pr-invocation.html" class="uri">https://www.gnu.org/software/coreutils/manual/html_node/pr-invocation.html</a>.</p>
</blockquote>
<ul>
<li>Print multiple files with a default header and footer:</li>
</ul>
<p><code>pr {{file1}} {{file2}} {{file3}}</code></p>
<ul>
<li>Print with a custom centered header:</li>
</ul>
<p><code>pr -h "{{header}}" {{file1}} {{file2}} {{file3}}</code></p>
<ul>
<li>Print with numbered lines and a custom date format:</li>
</ul>
<p><code>pr -n -D "{{format}}" {{file1}} {{file2}} {{file3}}</code></p>
<ul>
<li>Print all files together, one in each column, without a header or footer:</li>
</ul>
<p><code>pr -m -T {{file1}} {{file2}} {{file3}}</code></p>
<ul>
<li>Print, beginning at page 2 up to page 5, with a given page length (including header and footer):</li>
</ul>
<p><code>pr +{{2}}:{{5}} -l {{page_length}} {{file1}} {{file2}} {{file3}}</code></p>
<ul>
<li>Print with an offset for each line and a truncating custom page width:</li>
</ul>
<p><code>pr -o {{offset}} -W {{width}} {{file1}} {{file2}} {{file3}}</code></p>
