<h1 id="printf">printf</h1>
<blockquote>
<p>Format and print text.</p>
</blockquote>
<ul>
<li>Print a text message:</li>
</ul>
<p><code>printf {{"%s\n"}} {{"Hello world"}}</code></p>
<ul>
<li>Print an integer in bold blue:</li>
</ul>
<p><code>printf {{"\e[1;34m%.3d\e[0m\n"}} {{42}}</code></p>
<ul>
<li>Print a float number with the unicode Euro sign:</li>
</ul>
<p><code>printf {{"\u20AC %.2f\n"}} {{123.4}}</code></p>
<ul>
<li>Print a text message composed with environment variables:</li>
</ul>
<p><code>printf {{"var1: %s\tvar2: %s\n"}} {{"$VAR1"}} {{"$VAR2"}}</code></p>
<ul>
<li>Store a formatted message in a variable (does not work on zsh):</li>
</ul>
<p><code>printf -v {{myvar}} {{"This is %s = %d\n" "a year" 2016}}</code></p>
