<h1 id="printenv">printenv</h1>
<blockquote>
<p>Print values of all or specific environment variables.</p>
</blockquote>
<ul>
<li>Display key-value pairs of all environment variables:</li>
</ul>
<p><code>printenv</code></p>
<ul>
<li>Display the value of a specific variable:</li>
</ul>
<p><code>printenv {{HOME}}</code></p>
<ul>
<li>Display the value of a variable and end with NUL instead of newline:</li>
</ul>
<p><code>printenv --null {{HOME}}</code></p>
