<h1 id="progpilot">progpilot</h1>
<blockquote>
<p>A PHP static analysis tool for detecting security vulnerabilities. More information: <a href="https://github.com/designsecurity/progpilot" class="uri">https://github.com/designsecurity/progpilot</a>.</p>
</blockquote>
<ul>
<li>Analyse the current directory:</li>
</ul>
<p><code>progpilot</code></p>
<ul>
<li>Analyse a specific file or directory:</li>
</ul>
<p><code>progpilot {{path/to/file_or_directory}}</code></p>
<ul>
<li>Specify a custom configuration file:</li>
</ul>
<p><code>progpilot --configuration {{path/to/configuration.yml}}</code></p>
