<h1 id="prosodyctl">prosodyctl</h1>
<blockquote>
<p>The control tool for the Prosody XMPP server. More information: <a href="https://prosody.im/doc/prosodyctl" class="uri">https://prosody.im/doc/prosodyctl</a>.</p>
</blockquote>
<ul>
<li>Show the status of the Prosody server:</li>
</ul>
<p><code>sudo prosodyctl status</code></p>
<ul>
<li>Reload the server’s configuration files:</li>
</ul>
<p><code>sudo prosodyctl reload</code></p>
<ul>
<li>Add a user to the Prosody XMPP server:</li>
</ul>
<p><code>sudo prosodyctl adduser {{user@example.com}}</code></p>
<ul>
<li>Set a user’s password:</li>
</ul>
<p><code>sudo prosodyctl passwd {{user@example.com}}</code></p>
<ul>
<li>Permanently delete a user:</li>
</ul>
<p><code>sudo prosodyctl deluser {{user@example.com}}</code></p>
