<h1 id="protoc">protoc</h1>
<blockquote>
<p>Parse Google Protobuf <code>.proto</code> files and generate output in the specified language. More information: <a href="https://developers.google.com/protocol-buffers" class="uri">https://developers.google.com/protocol-buffers</a>.</p>
</blockquote>
<ul>
<li>Generate Python code from a <code>.proto</code> file:</li>
</ul>
<p><code>protoc --python_out={{path/to/output_directory}} {{input_file.proto}}</code></p>
<ul>
<li>Generate Java code from a <code>.proto</code> file that imports other <code>.proto</code> files:</li>
</ul>
<p><code>protoc --java_out={{path/to/output_directory}} --proto_path={{path/to/import_search_path}} {{input_file.proto}}</code></p>
<ul>
<li>Generate code for multiple languages:</li>
</ul>
<p><code>protoc --csharp_out={{path/to/c#_output_directory}} --js_out={{path/to/js_output_directory}} {{input_file.proto}}</code></p>
