<h1 id="ps">ps</h1>
<blockquote>
<p>Information about running processes.</p>
</blockquote>
<ul>
<li>List all running processes:</li>
</ul>
<p><code>ps aux</code></p>
<ul>
<li>List all running processes including the full command string:</li>
</ul>
<p><code>ps auxww</code></p>
<ul>
<li>Search for a process that matches a string:</li>
</ul>
<p><code>ps aux | grep {{string}}</code></p>
<ul>
<li>List all processes of the current user in extra full format:</li>
</ul>
<p><code>ps --user $(id -u) -F</code></p>
<ul>
<li>List all processes of the current user as a tree:</li>
</ul>
<p><code>ps --user $(id -u) f</code></p>
<ul>
<li>Get the parent pid of a process:</li>
</ul>
<p><code>ps -o ppid= -p {{pid}}</code></p>
