<h1 id="psgrep">psgrep</h1>
<blockquote>
<p>Search running processes with <code>grep</code>. More information: <a href="https://jvz.github.io/psgrep" class="uri">https://jvz.github.io/psgrep</a>.</p>
</blockquote>
<ul>
<li>Find process lines containing a specific string:</li>
</ul>
<p><code>psgrep {{process_name}}</code></p>
<ul>
<li>Find process lines containing a specific string, excluding headers:</li>
</ul>
<p><code>psgrep -n {{process_name}}</code></p>
<ul>
<li>Search using a simplified format (PID, user, command):</li>
</ul>
<p><code>psgrep -s {{process_name}}</code></p>
