<h1 id="psql">psql</h1>
<blockquote>
<p>PostgreSQL command-line client. More information: <a href="https://www.postgresql.org/docs/current/app-psql.html" class="uri">https://www.postgresql.org/docs/current/app-psql.html</a>.</p>
</blockquote>
<ul>
<li>Connect to database. It connects to localhost using default port 5432 with default user as currently logged in user:</li>
</ul>
<p><code>psql {{database}}</code></p>
<ul>
<li>Connect to database on given server host running on given port with given username, without a password prompt:</li>
</ul>
<p><code>psql -h {{host}} -p {{port}} -U {{username}} {{database}}</code></p>
<ul>
<li>Connect to database; user will be prompted for password:</li>
</ul>
<p><code>psql -h {{host}} -p {{port}} -U {{username}} -W {{database}}</code></p>
<ul>
<li>Execute a single SQL query or PostgreSQL command on the given database (useful in shell scripts):</li>
</ul>
<p><code>psql -c '{{query}}' {{database}}</code></p>
<ul>
<li>Execute commands from a file on the given database:</li>
</ul>
<p><code>psql {{database}} -f {{file.sql}}</code></p>
