<h1 id="psysh">psysh</h1>
<blockquote>
<p>A runtime developer console, interactive debugger and REPL for PHP. More information: <a href="https://psysh.org" class="uri">https://psysh.org</a>.</p>
</blockquote>
<ul>
<li>Open a shell in the current directory:</li>
</ul>
<p><code>psysh</code></p>
<ul>
<li>Open a shell in a specific directory:</li>
</ul>
<p><code>psysh --cwd {{path/to/directory}}</code></p>
<ul>
<li>Use a specific configuration file:</li>
</ul>
<p><code>psysh --config {{path/to/file}}</code></p>
