<h1 id="pt">pt</h1>
<blockquote>
<p>Platinum Searcher. A code search tool similar to <code>ag</code>. More information: <a href="https://github.com/monochromegane/the_platinum_searcher" class="uri">https://github.com/monochromegane/the_platinum_searcher</a>.</p>
</blockquote>
<ul>
<li>Find files containing “foo” and print the files with highlighted matches:</li>
</ul>
<p><code>pt {{foo}}</code></p>
<ul>
<li>Find files containing “foo” and display count of matches in each file:</li>
</ul>
<p><code>pt -c {{foo}}</code></p>
<ul>
<li>Find files containing “foo” as a whole word and ignore its case:</li>
</ul>
<p><code>pt -wi {{foo}}</code></p>
<ul>
<li>Find “foo” in files with a given extension using a regular expression:</li>
</ul>
<p><code>pt -G='{{\.bar$}}' {{foo}}</code></p>
<ul>
<li>Find files whose contents match the regular expression, up to 2 directories deep:</li>
</ul>
<p><code>pt --depth={{2}} -e '{{^ba[rz]*$}}'</code></p>
