<h1 id="pup">pup</h1>
<blockquote>
<p>Command line HTML parsing tool. More information: <a href="https://github.com/ericchiang/pup" class="uri">https://github.com/ericchiang/pup</a>.</p>
</blockquote>
<ul>
<li>Transform a raw HTML file into a cleaned, indented, and colored format:</li>
</ul>
<p><code>cat {{index.html}} | pup --color</code></p>
<ul>
<li>Filter HTML by element tag name:</li>
</ul>
<p><code>cat {{index.html}} | pup '{{tag}}'</code></p>
<ul>
<li>Filter HTML by id:</li>
</ul>
<p><code>cat {{index.html}} | pup '{{div#id}}'</code></p>
<ul>
<li>Filter HTML by attribute value:</li>
</ul>
<p><code>cat {{index.html}} | pup '{{input[type="text"]}}'</code></p>
<ul>
<li>Print all text from the filtered HTML elements and their children:</li>
</ul>
<p><code>cat {{index.html}} | pup '{{div}} text{}'</code></p>
<ul>
<li>Print HTML as JSON:</li>
</ul>
<p><code>cat {{index.html}} | pup '{{div}} json{}'</code></p>
