<h1 id="pv">pv</h1>
<blockquote>
<p>Monitor the progress of data through a pipe.</p>
</blockquote>
<ul>
<li>Print the contents of the file and display a progress bar:</li>
</ul>
<p><code>pv {{file}}</code></p>
<ul>
<li>Measure the speed and amount of data flow between pipes (<code>-s</code> is optional):</li>
</ul>
<p><code>command1 | pv -s {{expected_amount_of_data_for_eta}} | command2</code></p>
<ul>
<li>Filter a file, see both progress and amount of output data:</li>
</ul>
<p><code>pv -cN in {{big_text_file}} | grep {{pattern}} | pv -cN out &gt; {{filtered_file}}</code></p>
<ul>
<li>Attach to an already running process and see its file reading progress:</li>
</ul>
<p><code>pv -d {{PID}}</code></p>
<ul>
<li>Read an erroneous file, skip errors as <code>dd conv=sync,noerror</code> would:</li>
</ul>
<p><code>pv -EE {{path/to/faulty_media}} &gt; image.img</code></p>
<ul>
<li>Stop reading after reading specified amount of data, rate limit to 1K/s:</li>
</ul>
<p><code>pv -L 1K -S {{maximum_file_size_to_be_read}}</code></p>
