<h1 id="pycodestyle">pycodestyle</h1>
<blockquote>
<p>A tool to check Python code against PEP 8 style conventions. More information: <a href="https://pycodestyle.readthedocs.io" class="uri">https://pycodestyle.readthedocs.io</a>.</p>
</blockquote>
<ul>
<li>Check the style of a single file:</li>
</ul>
<p><code>pycodestyle {{file.py}}</code></p>
<ul>
<li>Check the style of multiple files:</li>
</ul>
<p><code>pycodestyle {{file1.py}} {{file2.py}} {{file3.py}}</code></p>
<ul>
<li>Show only the first occurrence of an error:</li>
</ul>
<p><code>pycodestyle --first {{file.py}}</code></p>
<ul>
<li>Show the source code for each error:</li>
</ul>
<p><code>pycodestyle --show-source {{file.py}}</code></p>
<ul>
<li>Show the specific PEP 8 text for each error:</li>
</ul>
<p><code>pycodestyle --show-pep8 {{file.py}}</code></p>
