<h1 id="pyenv-virtualenv">pyenv virtualenv</h1>
<blockquote>
<p>Create virtual environments based on one’s installed Python distributions. More information: <a href="https://github.com/pyenv/pyenv-virtualenv" class="uri">https://github.com/pyenv/pyenv-virtualenv</a>.</p>
</blockquote>
<ul>
<li>Create a new Python 3.6.6 virtual environment:</li>
</ul>
<p><code>pyenv virtualenv {{3.6.6}} {{my-virtual-env-3.6.6}}</code></p>
<ul>
<li>List all existing virtual environments:</li>
</ul>
<p><code>pyenv virtualenvs</code></p>
