<h1 id="pyenv">pyenv</h1>
<blockquote>
<p>Switch between multiple versions of Python easily. More information: <a href="https://github.com/pyenv/pyenv" class="uri">https://github.com/pyenv/pyenv</a>.</p>
</blockquote>
<ul>
<li>List all available commands:</li>
</ul>
<p><code>pyenv commands</code></p>
<ul>
<li>List all Python versions under the ${PYENV_ROOT}/versions directory:</li>
</ul>
<p><code>pyenv versions</code></p>
<ul>
<li>Install a Python version under the ${PYENV_ROOT}/versions directory:</li>
</ul>
<p><code>pyenv install {{2.7.10}}</code></p>
<ul>
<li>Uninstall a Python version under the ${PYENV_ROOT}/versions directory:</li>
</ul>
<p><code>pyenv uninstall {{2.7.10}}</code></p>
<ul>
<li>Set Python version to be used globally in the current machine:</li>
</ul>
<p><code>pyenv global {{2.7.10}}</code></p>
<ul>
<li>Set Python version to be used in the current directory and all directories below it:</li>
</ul>
<p><code>pyenv local {{2.7.10}}</code></p>
