<h1 id="pyflakes">pyflakes</h1>
<blockquote>
<p>Checks Python source code files for errors. More information: <a href="https://pypi.org/project/pyflakes" class="uri">https://pypi.org/project/pyflakes</a>.</p>
</blockquote>
<ul>
<li>Check a single Python file:</li>
</ul>
<p><code>pyflakes check {{path/to/file}}.py</code></p>
<ul>
<li>Check Python files in a specific directory:</li>
</ul>
<p><code>pyflakes checkPath {{path/to/directory}}</code></p>
<ul>
<li>Check Python files in a directory recursively:</li>
</ul>
<p><code>pyflakes checkRecursive {{path/to/directory}}</code></p>
<ul>
<li>Check all Python files found in multiple directories:</li>
</ul>
<p><code>pyflakes iterSourceCode {{path/to/directory_1}} {{path/to/directory_2}}</code></p>
