<h1 id="pygmentize">pygmentize</h1>
<blockquote>
<p>Python-based syntax highlighter.</p>
</blockquote>
<ul>
<li>Highlight file syntax and print to standard output (language is inferred from the file extension):</li>
</ul>
<p><code>pygmentize {{file.py}}</code></p>
<ul>
<li>Explicitly set the language for syntax highlighting:</li>
</ul>
<p><code>pygmentize -l {{javascript}} {{input_file}}</code></p>
<ul>
<li>List available lexers (processors for input languages):</li>
</ul>
<p><code>pygmentize -L lexers</code></p>
<ul>
<li>Save output to a file in HTML format:</li>
</ul>
<p><code>pygmentize -f html -o {{output_file.html}} {{input_file.py}}</code></p>
<ul>
<li>List available output formats:</li>
</ul>
<p><code>pygmentize -L formatters</code></p>
<ul>
<li>Output an HTML file, with additional formatter options (full page, with line numbers):</li>
</ul>
<p><code>pygmentize -f html -O "full,linenos=True" -o {{output_file.html}} {{input_file}}</code></p>
