<h1 id="python">python</h1>
<blockquote>
<p>Python language interpreter. More information: <a href="https://www.python.org" class="uri">https://www.python.org</a>.</p>
</blockquote>
<ul>
<li>Call a Python interactive shell (REPL):</li>
</ul>
<p><code>python</code></p>
<ul>
<li>Execute script in a given Python file:</li>
</ul>
<p><code>python {{script.py}}</code></p>
<ul>
<li>Execute script as part of an interactive shell:</li>
</ul>
<p><code>python -i {{script.py}}</code></p>
<ul>
<li>Execute a Python expression:</li>
</ul>
<p><code>python -c "{{expression}}"</code></p>
<ul>
<li>Run library module as a script (terminates option list):</li>
</ul>
<p><code>python -m {{module}} {{arguments}}</code></p>
<ul>
<li>Interactively debug a Python script:</li>
</ul>
<p><code>python -m pdb {{script.py}}</code></p>
