<h1 id="q">q</h1>
<blockquote>
<p>Execute SQL-like queries on .csv and .tsv files. More information: <a href="https://harelba.github.io/q" class="uri">https://harelba.github.io/q</a>.</p>
</blockquote>
<ul>
<li>Query .csv file by specifying the delimiter as ‘,’:</li>
</ul>
<p><code>q -d',' "SELECT * from {{path/to/file}}"</code></p>
<ul>
<li>Query .tsv file:</li>
</ul>
<p><code>q -t "SELECT * from {{path/to/file}}"</code></p>
<ul>
<li>Query file with header row:</li>
</ul>
<p><code>q -d{{delimiter}} -H "SELECT * from {{path/to/file}}"</code></p>
<ul>
<li>Read data from stdin; ‘-’ in the query represents the data from <code>stdin</code>:</li>
</ul>
<p><code>{{output}} | q "select * from -"</code></p>
<ul>
<li>Join two files (aliased as <code>f1</code> and <code>f2</code> in the example) on column <code>c1</code>, a common column:</li>
</ul>
<p><code>q "SELECT * FROM {{path/to/file}} f1 JOIN {{path/to/other_file}} f2 ON (f1.c1 = f2.c1)"</code></p>
<ul>
<li>Format output using an output delimiter with an output header line (note: command will output column names based on the input file header or the column aliases overridden in the query):</li>
</ul>
<p><code>q -D{{delimiter}} -O "SELECT {{column}} as {{alias}} from {{path/to/file}}"</code></p>
