<h1 id="qcp">qcp</h1>
<blockquote>
<p>Copy files with your favorite text editor. More information: <a href="https://www.nongnu.org/renameutils/" class="uri">https://www.nongnu.org/renameutils/</a>.</p>
</blockquote>
<ul>
<li>Copy a single file (invoke an editor with source on the left, target on the right):</li>
</ul>
<p><code>qcp {{source_file}}</code></p>
<ul>
<li>Copy multiple JPG files:</li>
</ul>
<p><code>qcp {{*.jpg}}</code></p>
<ul>
<li>Copy files, but swap the positions of the source and the target in the editor:</li>
</ul>
<p><code>qcp --option swap {{*.jpg}}</code></p>
