<h1 id="qemu">qemu</h1>
<blockquote>
<p>Generic machine emulator and virtualizer. Supports a large variety of CPU architectures. More information: <a href="https://www.qemu.org" class="uri">https://www.qemu.org</a>.</p>
</blockquote>
<ul>
<li>Boot from image emulating i386 architecture:</li>
</ul>
<p><code>qemu-system-i386 -hda {{image_name.img}}</code></p>
<ul>
<li>Boot from image emulating x64 architecture:</li>
</ul>
<p><code>qemu-system-x86_64 -hda {{image_name.img}}</code></p>
<ul>
<li>Boot QEMU instance with a live ISO image:</li>
</ul>
<p><code>qemu-system-i386 -hda {{image_name.img}} -cdrom {{os_image.iso}} -boot d</code></p>
<ul>
<li>Specify amount of RAM for instance:</li>
</ul>
<p><code>qemu-system-i386 -m 256 -hda image_name.img -cdrom os-image.iso -boot d</code></p>
<ul>
<li>Boot from physical device (e.g. from USB to test bootable medium):</li>
</ul>
<p><code>qemu-system-i386 -hda /dev/{{storage_device}}</code></p>
