<h1 id="qemu-img">qemu-img</h1>
<blockquote>
<p>Tool for Quick Emulator Virtual HDD image creation and manipulation.</p>
</blockquote>
<ul>
<li>Create disk image with a specific size (in gigabytes):</li>
</ul>
<p><code>qemu-img create {{image_name.img}} {{gigabytes}}G</code></p>
<ul>
<li>Show information about a disk image:</li>
</ul>
<p><code>qemu-img info {{image_name.img}}</code></p>
<ul>
<li>Increase or decrease image size:</li>
</ul>
<p><code>qemu-img resize {{image_name.img}} {{gigabytes}}G</code></p>
<ul>
<li>Dump the allocation state of every sector of the specified disk image:</li>
</ul>
<p><code>qemu-img map {{image_name.img}}</code></p>
<ul>
<li>Convert a VMWare .vmdk disk image to a KVM .qcow2 disk image:</li>
</ul>
<p><code>qemu-img convert -O qcow2 {{/path/to/file/foo.vmdk}} {{/path/to/file/foo.qcow2}}</code></p>
