<h1 id="qmv">qmv</h1>
<blockquote>
<p>Move files and directories with your favorite text editor. More information: <a href="https://www.nongnu.org/renameutils/" class="uri">https://www.nongnu.org/renameutils/</a>.</p>
</blockquote>
<ul>
<li>Move a single file (invoke an editor with source on the left, target on the right):</li>
</ul>
<p><code>qmv {{source_file}}</code></p>
<ul>
<li>Move multiple JPG files:</li>
</ul>
<p><code>qmv {{*.jpg}}</code></p>
<ul>
<li>Move 3 directories:</li>
</ul>
<p><code>qmv -d {{path/to/dir_1}} {{path/to/dir_2}} {{path/to/dir_3}}</code></p>
<ul>
<li>Move files/directories inside a directory:</li>
</ul>
<p><code>qmv -R {{path/to/directory}}</code></p>
<ul>
<li>Move files, but swap the positions of the source and the target in the editor:</li>
</ul>
<p><code>qmv --option swap {{*.jpg}}</code></p>
