<h1 id="qpdf">qpdf</h1>
<blockquote>
<p>Versatile PDF transformation software. More information: <a href="https://github.com/qpdf/qpdf" class="uri">https://github.com/qpdf/qpdf</a>.</p>
</blockquote>
<ul>
<li>Extract pages 1-3, 5 and 6-10 from a PDF file and save them as another one:</li>
</ul>
<p><code>qpdf --empty --pages {{input.pdf}} {{1-3,5,6-10}} -- {{output.pdf}}</code></p>
<ul>
<li>Merge (concatenate) all the pages of a list of PDF files and save the result as a new PDF:</li>
</ul>
<p><code>qpdf --empty --pages {{file1.pdf}} {{file2.pdf}} {{file3.pdf}} -- {{output.pdf}}</code></p>
<ul>
<li>Merge (concatenate) given pages from a list of PDF files and save the result as a new PDF:</li>
</ul>
<p><code>qpdf --empty --pages {{file1.pdf}} {{1,6-8}} --pages {{file2.pdf}} {{3,4,5}} -- {{output.pdf}}</code></p>
<ul>
<li>Write each group of n pages to a separate output file with a given filename pattern:</li>
</ul>
<p><code>qpdf --split-pages=n {{input.pdf}} {{out_%d.pdf}}</code></p>
<ul>
<li>Rotate certain pages of a pdf with a given angle:</li>
</ul>
<p><code>qpdf --rotate={{90:2,4,6}} --rotate={{180:7-8}} {{input.pdf}} {{output.pdf}}</code></p>
<ul>
<li>Remove the password from a password protected file:</li>
</ul>
<p><code>qpdf --password={{password}} --decrypt {{input.pdf}} {{output.pdf}}</code></p>
