<h1 id="quota">quota</h1>
<blockquote>
<p>Display users’ disk space usage and allocated limits.</p>
</blockquote>
<ul>
<li>Show disk quotas in human readable units for the current user:</li>
</ul>
<p><code>quota -s</code></p>
<ul>
<li>Verbose output (also display quotas on filesystems where no storage is allocated):</li>
</ul>
<p><code>quota -v</code></p>
<ul>
<li>Quiet output (only display quotas on filesystems where usage is over quota):</li>
</ul>
<p><code>quota -q</code></p>
<ul>
<li>Print quotas for the groups of which the current user is a member:</li>
</ul>
<p><code>quota -g</code></p>
<ul>
<li>Show disk quotas for another user:</li>
</ul>
<p><code>sudo quota -u {{username}}</code></p>
