<h1 id="r">r</h1>
<blockquote>
<p>R language interpreter. More information: <a href="https://www.r-project.org" class="uri">https://www.r-project.org</a>.</p>
</blockquote>
<ul>
<li>Start an R interactive shell (REPL):</li>
</ul>
<p><code>R</code></p>
<ul>
<li>Check R version:</li>
</ul>
<p><code>R --version</code></p>
<ul>
<li>Execute a file:</li>
</ul>
<p><code>R -f {{file.R}}</code></p>
