<h1 id="rabin2">rabin2</h1>
<blockquote>
<p>Get information about binary files (ELF, PE, Java CLASS, Mach-O) - symbols, sections, linked libraries, etc. Comes bundled with <code>radare2</code>.</p>
</blockquote>
<ul>
<li>Display general information about a binary (architecture, type, endianness):</li>
</ul>
<p><code>rabin2 -I {{path/to/binary}}</code></p>
<ul>
<li>Display linked libraries:</li>
</ul>
<p><code>rabin2 -l {{path/to/binary}}</code></p>
<ul>
<li>Display symbols imported from libraries:</li>
</ul>
<p><code>rabin2 -i {{path/to/binary}}</code></p>
<ul>
<li>Display strings contained in the binary:</li>
</ul>
<p><code>rabin2 -z {{path/to/binary}}</code></p>
<ul>
<li>Display the output in JSON:</li>
</ul>
<p><code>rabin2 -j -I {{path/to/binary}}</code></p>
