<h1 id="radare2">radare2</h1>
<blockquote>
<p>A set of reverse engineering tools. More information: <a href="https://radare.gitbooks.io/radare2book/" class="uri">https://radare.gitbooks.io/radare2book/</a>.</p>
</blockquote>
<ul>
<li>Open a file in write mode without parsing the file format headers:</li>
</ul>
<p><code>radare2 -nw {{path/to/binary}}</code></p>
<ul>
<li>Debug a program:</li>
</ul>
<p><code>radare2 -d {{path/to/binary}}</code></p>
<ul>
<li>Run a script before entering the interactive CLI:</li>
</ul>
<p><code>radare2 -i {{path/to/script.r2}} {{path/to/binary}}</code></p>
<ul>
<li>Show help text for any command in the interactive CLI:</li>
</ul>
<p><code>&gt; {{radare2_command}}?</code></p>
<ul>
<li>Run a shell command from the interactive CLI:</li>
</ul>
<p><code>&gt; !{{shell_command}}</code></p>
<ul>
<li>Dump raw bytes of current block to a file:</li>
</ul>
<p><code>&gt; pr &gt; {{path/to/file.bin}}</code></p>
