<h1 id="rails">rails</h1>
<blockquote>
<p>A server-side MVC framework written in Ruby. More information: <a href="https://guides.rubyonrails.org/command_line.html" class="uri">https://guides.rubyonrails.org/command_line.html</a>.</p>
</blockquote>
<ul>
<li>Create a new rails project:</li>
</ul>
<p><code>rails new "{{project_name}}"</code></p>
<ul>
<li>Start local server for current project on port 3000:</li>
</ul>
<p><code>rails server</code></p>
<ul>
<li>Start local server for current project on a specified port:</li>
</ul>
<p><code>rails server -p "{{port}}"</code></p>
<ul>
<li>Open console to interact with application from command line:</li>
</ul>
<p><code>rails console</code></p>
<ul>
<li>Check current version of rails:</li>
</ul>
<p><code>rails --version</code></p>
