<h1 id="rails-generate">rails generate</h1>
<blockquote>
<p>Generate new Rails templates in an existing project.</p>
</blockquote>
<ul>
<li>List all available generators:</li>
</ul>
<p><code>rails generate</code></p>
<ul>
<li>Generate a new model:</li>
</ul>
<p><code>rails generate model {{model_name}}</code></p>
<ul>
<li>Generate a new controller:</li>
</ul>
<p><code>rails generate controller {{controller_name}}</code></p>
<ul>
<li>Generate a scaffold for a new model:</li>
</ul>
<p><code>rails generate scaffold {{model_name}}</code></p>
