<h1 id="rainbowstream">rainbowstream</h1>
<blockquote>
<p>Terminal-based Twitter client supporting realtime tweetstream, trends, sending, search, favorites and user management. Online help with <code>h</code>, up and down arrows for history, tab to auto-complete and 2-tab for suggestion. More information: <a href="https://github.com/orakaro/rainbowstream" class="uri">https://github.com/orakaro/rainbowstream</a>.</p>
</blockquote>
<ul>
<li>Open rainbowstream:</li>
</ul>
<p><code>rainbowstream</code></p>
<ul>
<li>Show your timeline (optional number of tweets to display, default is 5):</li>
</ul>
<p><code>home [{{num_of_last_tweets}}]</code></p>
<ul>
<li>Show profile of a given user:</li>
</ul>
<p><code>whois @{{user}}</code></p>
<ul>
<li>Tweet the message as-is:</li>
</ul>
<p><code>t {{message}}</code></p>
<ul>
<li>Retweet the tweet with given id (id is beside the time):</li>
</ul>
<p><code>rt {{tweet_id}}</code></p>
<ul>
<li>Favorite the tweet with given id:</li>
</ul>
<p><code>fav {{tweet_id}}</code></p>
<ul>
<li>Perform a search for a given word (with or without hashtag):</li>
</ul>
<p><code>s {{word}}</code></p>
