<h1 id="ranger">ranger</h1>
<blockquote>
<p>Console file manager with VI key bindings. More information: <a href="https://github.com/ranger/ranger" class="uri">https://github.com/ranger/ranger</a>.</p>
</blockquote>
<ul>
<li>Launch ranger:</li>
</ul>
<p><code>ranger</code></p>
<ul>
<li>Show only directories:</li>
</ul>
<p><code>ranger --show-only-dirs</code></p>
<ul>
<li>Change the configuration directory:</li>
</ul>
<p><code>ranger --confdir={{path/to/directory}}</code></p>
<ul>
<li>Change the data directory:</li>
</ul>
<p><code>ranger --datadir={{path/to/directory}}</code></p>
<ul>
<li>Print CPU usage statistics on exit:</li>
</ul>
<p><code>ranger --profile</code></p>
