<h1 id="rapper">rapper</h1>
<blockquote>
<p>The Raptor RDF parsing utility. Part of the Raptor RDF Syntax Library. More information: <a href="http://librdf.org/raptor/rapper.html" class="uri">http://librdf.org/raptor/rapper.html</a>.</p>
</blockquote>
<ul>
<li>Convert an RDF/XML document to Turtle:</li>
</ul>
<p><code>rapper -i rdfxml -o turtle {{file}}</code></p>
<ul>
<li>Count the number of triples in a Turtle file:</li>
</ul>
<p><code>rapper -i turtle -c {{file}}</code></p>
