<h1 id="rar">rar</h1>
<blockquote>
<p>The RAR archiver. Supports multi-volume archives that can be optionally self-extracting.</p>
</blockquote>
<ul>
<li>Archive 1 or more files:</li>
</ul>
<p><code>rar a {{path/to/archive_name.rar}} {{path/to/file1}} {{path/to/file2}} {{path/to/file3}}</code></p>
<ul>
<li>Archive a directory:</li>
</ul>
<p><code>rar a {{path/to/archive_name.rar}} {{path/to/directory}}</code></p>
<ul>
<li>Split the archive into parts of equal size (50M):</li>
</ul>
<p><code>rar a -v{{50M}} -R {{path/to/archive_name.rar}} {{path/to/file_or_directory}}</code></p>
<ul>
<li>Password protect the resulting archive:</li>
</ul>
<p><code>rar a -p{{password}} {{path/to/archive_name.rar}} {{path/to/file_or_directory}}</code></p>
<ul>
<li>Encrypt file data and headers with password:</li>
</ul>
<p><code>rar a -hp{{password}} {{path/to/archive_name.rar}} {{path/to/file_or_directory}}</code></p>
<ul>
<li>Use a specific compression level (0-5):</li>
</ul>
<p><code>rar a -m{{compression_level}} {{path/to/archive_name.rar}} {{path/to/file_or_directory}}</code></p>
