<h1 id="rbac-lookup">rbac-lookup</h1>
<blockquote>
<p>Find roles and cluster roles attached to any user, service account or group name in your Kubernetes cluster. More information: <a href="https://github.com/reactiveops/rbac-lookup" class="uri">https://github.com/reactiveops/rbac-lookup</a>.</p>
</blockquote>
<ul>
<li>View all RBAC bindings:</li>
</ul>
<p><code>rbac-lookup</code></p>
<ul>
<li>View RBAC bindings that match a given expression:</li>
</ul>
<p><code>rbac-lookup {{search_term}}</code></p>
<ul>
<li>View all RBAC bindings along with the source role binding:</li>
</ul>
<p><code>rbac-lookup -o wide</code></p>
<ul>
<li>View all RBAC bindings filtered by subject:</li>
</ul>
<p><code>rbac-lookup -k {{user|group|serviceaccount}}</code></p>
<ul>
<li>View all RBAC bindings along with IAM roles (if you are using GKE):</li>
</ul>
<p><code>rbac-lookup --gke</code></p>
