<h1 id="rbash">rbash</h1>
<blockquote>
<p>Restricted Bash shell. Similar to the <code>bash</code> shell with some restrictions like changing directories with <code>cd</code>, setting/unsetting of PATH, ENV variables and others.</p>
</blockquote>
<ul>
<li>Start rbash:</li>
</ul>
<p><code>rbash</code></p>
<ul>
<li>Execute a command:</li>
</ul>
<p><code>rbash -c "{{command}}"</code></p>
<ul>
<li>Run commands from a file:</li>
</ul>
<p><code>rbash {{file.sh}}</code></p>
<ul>
<li>Print the version information of rbash:</li>
</ul>
<p><code>rbash --version</code></p>
