<h1 id="rbenv">rbenv</h1>
<blockquote>
<p>A tool to easily install Ruby versions and manage application environments. More information: <a href="https://github.com/rbenv/rbenv" class="uri">https://github.com/rbenv/rbenv</a>.</p>
</blockquote>
<ul>
<li>Install one or more space-separated versions of Ruby:</li>
</ul>
<p><code>rbenv install {{version(s)}}</code></p>
<ul>
<li>Display a list of installed versions:</li>
</ul>
<p><code>rbenv versions</code></p>
<ul>
<li>Use a specific version of Ruby across the whole system:</li>
</ul>
<p><code>rbenv global {{version}}</code></p>
<ul>
<li>Use a specific version of Ruby for an application/project directory:</li>
</ul>
<p><code>rbenv local {{version}}</code></p>
<ul>
<li>Show the currently selected Ruby version:</li>
</ul>
<p><code>rbenv version</code></p>
<ul>
<li>Uninstall a version of Ruby:</li>
</ul>
<p><code>rbenv uninstall {{version}}</code></p>
<ul>
<li>Display all ruby versions that contain the specified executable:</li>
</ul>
<p><code>rbenv whence {{executable}}</code></p>
