<h1 id="rbt">rbt</h1>
<blockquote>
<p>RBTools is a set of command line tools for working with Review Board and RBCommons. More information: <a href="https://www.reviewboard.org/docs/rbtools/dev/" class="uri">https://www.reviewboard.org/docs/rbtools/dev/</a>.</p>
</blockquote>
<ul>
<li>Post changes to Review Board:</li>
</ul>
<p><code>rbt post {{change_number}}</code></p>
<ul>
<li>Display the diff that will be sent to Review Board:</li>
</ul>
<p><code>rbt diff</code></p>
<ul>
<li>Land a change in a local branch or on a review request:</li>
</ul>
<p><code>rbt land {{branch_name}}</code></p>
<ul>
<li>Patch your tree with a change on a review request:</li>
</ul>
<p><code>rbt patch {{review_request_id}}</code></p>
<ul>
<li>Set up RBTool to talk to a repository:</li>
</ul>
<p><code>rbt setup-repo</code></p>
