<h1 id="rclone">rclone</h1>
<blockquote>
<p>CLI program to copy/sync/move files and directories to and from many cloud services. More information: <a href="https://rclone.org" class="uri">https://rclone.org</a>.</p>
</blockquote>
<ul>
<li>List contents of a directory on an rclone remote:</li>
</ul>
<p><code>rclone lsf {{remote_name}}:{{path/to/directory}}</code></p>
<ul>
<li>Copy file or directory from local source to remote destination:</li>
</ul>
<p><code>rclone copy {{path/to/source_file_or_directory}} {{remote_name}}:{{path/to/destination_directory}}</code></p>
<ul>
<li>Copy file or directory from remote source to local destination:</li>
</ul>
<p><code>rclone copy {{remote_name}}:{{path/to/source_file_or_directory}} {{path/to/destination_directory}}</code></p>
<ul>
<li>Sync local source to remote destination, changing the destination only:</li>
</ul>
<p><code>rclone sync {{path/to/file_or_directory}} {{remote_name}}:{{path/to/directory}}</code></p>
<ul>
<li>Move file or directory from local source to remote destination:</li>
</ul>
<p><code>rclone move {{path/to/file_or_directory}} {{remote_name}}:{{path/to/directory}}</code></p>
<ul>
<li>Delete remote file or directory (use <code>--dry-run</code> to test, remove it to actually delete):</li>
</ul>
<p><code>rclone --dry-run delete {{remote_name}}:{{path/to/file_or_directory}}</code></p>
<ul>
<li>Mount rclone remote (experimental):</li>
</ul>
<p><code>rclone mount {{remote_name}}:{{path/to/directory}} {{path/to/mount_point}}</code></p>
<ul>
<li>Unmount rclone remote if CTRL-C fails (experimental):</li>
</ul>
<p><code>fusermount -u {{path/to/mount_point}}</code></p>
