<h1 id="rdfind">rdfind</h1>
<blockquote>
<p>Find files with duplicate content and get rid of them. More information: <a href="https://rdfind.pauldreik.se" class="uri">https://rdfind.pauldreik.se</a>.</p>
</blockquote>
<ul>
<li>Identify all duplicates in a given directory and output a summary:</li>
</ul>
<p><code>rdfind -dryrun true {{path/to/directory}}</code></p>
<ul>
<li>Replace all duplicates with hardlinks:</li>
</ul>
<p><code>rdfind -makehardlinks true {{path/to/directory}}</code></p>
<ul>
<li>Replace all duplicates with symlinks/soft links:</li>
</ul>
<p><code>rdfind -makesymlinks true {{path/to/directory}}</code></p>
<ul>
<li>Delete all duplicates and do not ignore empty files:</li>
</ul>
<p><code>rdfind -deleteduplicates true -ignoreempty false {{path/to/directory}}</code></p>
