<h1 id="readlink">readlink</h1>
<blockquote>
<p>Follow symlinks and get symlink information.</p>
</blockquote>
<ul>
<li>Get the actual file to which the symlink points:</li>
</ul>
<p><code>readlink {{filename}}</code></p>
<ul>
<li>Get the absolute path to a file:</li>
</ul>
<p><code>readlink -f {{filename}}</code></p>
