<h1 id="read">read</h1>
<blockquote>
<p>BASH builtin for retrieving data from standard input.</p>
</blockquote>
<ul>
<li>Store data that you type from the keyboard:</li>
</ul>
<p><code>read {{variable}}</code></p>
<ul>
<li>Store each of the next lines you enter as values of an array:</li>
</ul>
<p><code>read -a {{array}}</code></p>
<ul>
<li>Enable backspace and GNU readline hotkeys when entering input with read:</li>
</ul>
<p><code>read -e {{variable}}</code></p>
<ul>
<li>Specify the number of maximum characters to be read:</li>
</ul>
<p><code>read -n {{character_count}} {{variable}}</code></p>
<ul>
<li>Use a specific character as a delimiter instead of a new line:</li>
</ul>
<p><code>read -d {{new_delimiter}} {{variable}}</code></p>
<ul>
<li>Do not let backslash () act as an escape character:</li>
</ul>
<p><code>read -r {{variable}}</code></p>
<ul>
<li>Display a prompt before the input:</li>
</ul>
<p><code>read -p {{"Enter your input here: "}} {{variable}}</code></p>
<ul>
<li>Do not echo typed characters (silent mode):</li>
</ul>
<p><code>read -s {{variable}}</code></p>
