<h1 id="realpath">realpath</h1>
<blockquote>
<p>Display the resolved absolute path for a file or directory.</p>
</blockquote>
<ul>
<li>Display the absolute path for a file or directory:</li>
</ul>
<p><code>realpath {{path/to/file_or_directory}}</code></p>
<ul>
<li>Require all path components to exist:</li>
</ul>
<p><code>realpath --canonicalize-existing {{path/to/file_or_directory}}</code></p>
<ul>
<li>Resolve “..” components before symlinks:</li>
</ul>
<p><code>realpath --logical {{path/to/file_or_directory}}</code></p>
<ul>
<li>Disable symlink expansion:</li>
</ul>
<p><code>realpath --no-symlinks {{path/to/file_or_directory}}</code></p>
<ul>
<li>Suppress error messages:</li>
</ul>
<p><code>realpath --quiet {{path/to/file_or_directory}}</code></p>
