<h1 id="rector">rector</h1>
<blockquote>
<p>An automated tool for updating and refactoring PHP 5.3+ code. More information: <a href="https://github.com/rectorphp/rector" class="uri">https://github.com/rectorphp/rector</a>.</p>
</blockquote>
<ul>
<li>Process a specific directory:</li>
</ul>
<p><code>rector process {{path/to/directory}}</code></p>
<ul>
<li>Process a directory without applying changes (dry run):</li>
</ul>
<p><code>rector process {{path/to/directory}} --dry-run</code></p>
<ul>
<li>Process a directory and apply coding standards:</li>
</ul>
<p><code>rector process {{path/to/directory}} --with-style</code></p>
<ul>
<li>Display a list of available levels:</li>
</ul>
<p><code>rector levels</code></p>
<ul>
<li>Process a directory with a specific level:</li>
</ul>
<p><code>rector process {{path/to/directory}} --level {{level_name}}</code></p>
