<h1 id="redis-cli">redis-cli</h1>
<blockquote>
<p>Opens a connection to a Redis server. More information: <a href="https://redis.io/topics/rediscli" class="uri">https://redis.io/topics/rediscli</a>.</p>
</blockquote>
<ul>
<li>Connect to the local server:</li>
</ul>
<p><code>redis-cli</code></p>
<ul>
<li>Connect to a remote server on the default port (6379):</li>
</ul>
<p><code>redis-cli -h {{host}}</code></p>
<ul>
<li>Connect to a remote server specifying a port number:</li>
</ul>
<p><code>redis-cli -h {{host}} -p {{port}}</code></p>
<ul>
<li>Specify a password:</li>
</ul>
<p><code>redis-cli -a {{password}}</code></p>
<ul>
<li>Execute Redis command:</li>
</ul>
<p><code>redis-cli {{redis_command}}</code></p>
