<h1 id="redshift">redshift</h1>
<blockquote>
<p>Adjust the color temperature of your screen according to your surroundings. More information: <a href="https://jonls.dk/redshift" class="uri">https://jonls.dk/redshift</a>.</p>
</blockquote>
<ul>
<li>Turn on Redshift with 5700K temperature during day and 3600K at night:</li>
</ul>
<p><code>redshift -t {{5700}}:{{3600}}</code></p>
<ul>
<li>Turn on Redshift with a manually-specified custom location:</li>
</ul>
<p><code>redshift -l {{latitude}}:{{longitude}}</code></p>
<ul>
<li>Turn on Redshift with 70% screen brightness during day and 40% brightness at night:</li>
</ul>
<p><code>redshift -b {{0.7}}:{{0.4}}</code></p>
<ul>
<li>Turn on Redshift with custom gamma levels (between 0 and 1):</li>
</ul>
<p><code>redshift -g {{red}}:{{green}}:{{blue}}</code></p>
<ul>
<li>Turn on Redshift with a constant unchanging color temperature:</li>
</ul>
<p><code>redshift -O {{temperature}}</code></p>
