<h1 id="renice">renice</h1>
<blockquote>
<p>Alters the scheduling priority/nicenesses of one or more running processes. Niceness values range from -20 (most favorable to the process) to 19 (least favorable to the process).</p>
</blockquote>
<ul>
<li>Change priority of a running process:</li>
</ul>
<p><code>renice -n {{niceness_value}} -p {{pid}}</code></p>
<ul>
<li>Change priority of all processes owned by a user:</li>
</ul>
<p><code>renice -n {{niceness_value}} -u {{user}}</code></p>
<ul>
<li>Change priority of all processes that belong to a process group:</li>
</ul>
<p><code>renice -n {{niceness_value}} --pgrp {{process_group}}</code></p>
