<h1 id="repren">repren</h1>
<blockquote>
<p>Multi-pattern string replacement and file renaming tool. More information: <a href="https://github.com/jlevy/repren" class="uri">https://github.com/jlevy/repren</a>.</p>
</blockquote>
<ul>
<li>Do a dry-run renaming a directory of pngs with a literal string replacement:</li>
</ul>
<p><code>repren --dry-run --rename --literal --from '{{find_string}}' --to '{{replacement_string}}' {{*.png}}</code></p>
<ul>
<li>Do a dry-run renaming a directory of jpegs with a regular expression:</li>
</ul>
<p><code>repren --rename --dry-run --from '{{regular_expression}}' --to '{{replacement_string}}' {{*.jpg}} {{*.jpeg}}</code></p>
<ul>
<li>Do a find-and-replace on the contents of a directory of csv files:</li>
</ul>
<p><code>repren --from '{{([0-9]+) example_string}}' --to '{{replacement_string \1}}' {{*.csv}}</code></p>
<ul>
<li>Do both a find-and-replace and a rename operation at the same time, using a pattern file:</li>
</ul>
<p><code>repren --patterns {{path/to/patfile.ext}} --full {{*.txt}}</code></p>
<ul>
<li>Do a case-insensitive rename:</li>
</ul>
<p><code>repren --rename --insensitive --patterns {{path/to/patfile.ext}} *</code></p>
