<h1 id="restic">restic</h1>
<blockquote>
<p>Fast, secure, efficient backup program. More information: <a href="https://restic.net" class="uri">https://restic.net</a>.</p>
</blockquote>
<ul>
<li>Initialize a backup repository in the specified local directory:</li>
</ul>
<p><code>restic init -r {{path/to/repository}}</code></p>
<ul>
<li>Backup a directory to the repository:</li>
</ul>
<p><code>restic -r {{path/to/repository}} backup {{path/to/directory}}</code></p>
<ul>
<li>Show backup snapshots currently stored in the repository:</li>
</ul>
<p><code>restic -r {{path/to/repository}} snapshots</code></p>
<ul>
<li>Restore a specific backup snapshot to a target directory:</li>
</ul>
<p><code>restic -r {{path/to/repository}} restore {{snapshot_id}} {{path/to/target}}</code></p>
<ul>
<li>Restore a specific path from a specific backup to a target directory:</li>
</ul>
<p><code>restic -r {{path/to/repository}} --include {{path/to/restore}} --target {{path/to/target}} restore {{snapshot_id}}</code></p>
<ul>
<li>Clean up the repository and keep only the most recent snapshot of each unique backup:</li>
</ul>
<p><code>restic forget --keep-last 1 --prune</code></p>
