<h1 id="rev">rev</h1>
<blockquote>
<p>Reverse a line of text.</p>
</blockquote>
<ul>
<li>Reverse the text string “hello”:</li>
</ul>
<p><code>echo "hello" | rev</code></p>
<ul>
<li>Reverse an entire file and print to <code>stdout</code>:</li>
</ul>
<p><code>rev {{file}}</code></p>
