<h1 id="ripgrep">ripgrep</h1>
<blockquote>
<p>A recursive line-oriented CLI search tool. Aims to be a faster alternative to <code>grep</code>. More information: <a href="https://github.com/BurntSushi/ripgrep" class="uri">https://github.com/BurntSushi/ripgrep</a>.</p>
</blockquote>
<ul>
<li>Recursively search the current directory for a regex pattern:</li>
</ul>
<p><code>rg {{pattern}}</code></p>
<ul>
<li>Search for pattern including all .gitignored and hidden files:</li>
</ul>
<p><code>rg -uu {{pattern}}</code></p>
<ul>
<li>Search for a pattern only in a certain filetype (e.g., html, css, etc.):</li>
</ul>
<p><code>rg -t {{filetype}} {{pattern}}</code></p>
<ul>
<li>Search for a pattern only in a subset of directories:</li>
</ul>
<p><code>rg {{pattern}} {{set_of_subdirs}}</code></p>
<ul>
<li>Search for a pattern in files matching a glob (e.g., <code>README.*</code>):</li>
</ul>
<p><code>rg {{pattern}} -g {{glob}}</code></p>
<ul>
<li>Only list matched files (useful when piping to other commands):</li>
</ul>
<p><code>rg --files-with-matches {{pattern}}</code></p>
<ul>
<li>Show lines that do not match the given pattern:</li>
</ul>
<p><code>rg --invert-match {{pattern}}</code></p>
