<h1 id="rm">rm</h1>
<blockquote>
<p>Remove files or directories.</p>
</blockquote>
<ul>
<li>Remove files from arbitrary locations:</li>
</ul>
<p><code>rm {{path/to/file}} {{path/to/another/file}}</code></p>
<ul>
<li>Recursively remove a directory and all its subdirectories:</li>
</ul>
<p><code>rm -r {{path/to/directory}}</code></p>
<ul>
<li>Forcibly remove a directory, without prompting for confirmation or showing error messages:</li>
</ul>
<p><code>rm -rf {{path/to/directory}}</code></p>
<ul>
<li>Interactively remove multiple files, with a prompt before every removal:</li>
</ul>
<p><code>rm -i {{file(s)}}</code></p>
<ul>
<li>Remove files in verbose mode, printing a message for each removed file:</li>
</ul>
<p><code>rm -v {{path/to/directory/*}}</code></p>
