<h1 id="rmdir">rmdir</h1>
<blockquote>
<p>Removes a directory.</p>
</blockquote>
<ul>
<li>Remove directory, provided it is empty. Use <code>rm</code> to remove not empty directories:</li>
</ul>
<p><code>rmdir {{path/to/directory}}</code></p>
<ul>
<li>Remove directories recursively (useful for nested dirs):</li>
</ul>
<p><code>rmdir -p {{path/to/directory}}</code></p>
