<h1 id="roave-backward-compatibility-check">roave-backward-compatibility-check</h1>
<blockquote>
<p>A tool that can be used to verify backward compatibility breaks between two versions of a PHP library. More information: <a href="https://github.com/Roave/BackwardCompatibilityCheck" class="uri">https://github.com/Roave/BackwardCompatibilityCheck</a>.</p>
</blockquote>
<ul>
<li>Check for breaking changes since the last tag:</li>
</ul>
<p><code>roave-backward-compatibility-check</code></p>
<ul>
<li>Check for breaking changes since a specific tag:</li>
</ul>
<p><code>roave-backward-compatibility-check --from={{git_reference}}</code></p>
<ul>
<li>Check for breaking changes between the last tag and a specific reference:</li>
</ul>
<p><code>roave-backward-compatibility-check --to={{git_reference}}</code></p>
<ul>
<li>Check for breaking changes and output to markdown:</li>
</ul>
<p><code>roave-backward-compatibility-check --format=markdown &gt; {{results.md}}</code></p>
