<h1 id="robo">robo</h1>
<blockquote>
<p>PHP task runner. More information: <a href="https://robo.li/" class="uri">https://robo.li/</a>.</p>
</blockquote>
<ul>
<li>List available commands:</li>
</ul>
<p><code>robo list</code></p>
<ul>
<li>Run a specific command:</li>
</ul>
<p><code>robo {{foo}}</code></p>
<ul>
<li>Simulate running a specific command:</li>
</ul>
<p><code>robo --simulate {{foo}}</code></p>
