<h1 id="roll">roll</h1>
<blockquote>
<p>Rolls a user-defined dice sequence.</p>
</blockquote>
<ul>
<li>Roll 3 6-sided dice and sums the results:</li>
</ul>
<p><code>roll {{3d}}</code></p>
<ul>
<li>Roll 1 8-sided die, add 3 and sum the results:</li>
</ul>
<p><code>roll {{d8 + 3}}</code></p>
<ul>
<li>Roll 4 6-sided dice, keep the 3 highest results and sum the results:</li>
</ul>
<p><code>roll {{4d6h3}}</code></p>
<ul>
<li>Roll 2 12-sided dice 2 times and show every roll:</li>
</ul>
<p><code>roll --verbose {{2{2d12}}}</code></p>
<ul>
<li>Roll 2 20-sided dice until the result is bigger than 10:</li>
</ul>
<p><code>roll "{{2d20&gt;10}}"</code></p>
<ul>
<li>Roll 2 5-sided dice 3 times and show the total sum:</li>
</ul>
<p><code>roll --sum-series {{3{2d5}}}</code></p>
