<h1 id="route">route</h1>
<blockquote>
<p>Use route cmd to set the route table.</p>
</blockquote>
<ul>
<li>Display the information of route table:</li>
</ul>
<p><code>route -n</code></p>
<ul>
<li>Add route rule:</li>
</ul>
<p><code>sudo route add -net {{ip_address}} netmask {{netmask_address}} gw {{gw_address}}</code></p>
<ul>
<li>Delete route rule:</li>
</ul>
<p><code>sudo route del -net {{ip_address}} netmask {{netmask_address}} dev {{gw_address}}</code></p>
