<h1 id="rr">rr</h1>
<blockquote>
<p>Debugging tool designed to record and replay program execution. More information: <a href="https://rr-project.org/" class="uri">https://rr-project.org/</a>.</p>
</blockquote>
<ul>
<li>Record an application:</li>
</ul>
<p><code>rr record {{path/to/binary --arg1 --arg2}}</code></p>
<ul>
<li>Replay latest recorded execution:</li>
</ul>
<p><code>rr replay</code></p>
