<h1 id="rsstail">rsstail</h1>
<blockquote>
<p><code>tail</code> for RSS feeds. More information: <a href="https://github.com/gvalkov/rsstail.py" class="uri">https://github.com/gvalkov/rsstail.py</a>.</p>
</blockquote>
<ul>
<li>Show the feed of a given url and wait for new entries appearing at the bottom:</li>
</ul>
<p><code>rsstail -u {{url}}</code></p>
<ul>
<li>Show the feed in reverse chronological order (newer at the bottom):</li>
</ul>
<p><code>rsstail -r -u {{url}}</code></p>
<ul>
<li>Include publication date and link:</li>
</ul>
<p><code>rsstail -pl -u {{url}}</code></p>
<ul>
<li>Set update interval:</li>
</ul>
<p><code>rsstail -u {{url}} -i {{interval_in_seconds}}</code></p>
<ul>
<li>Show feed and exit:</li>
</ul>
<p><code>rsstail -1 -u {{url}}</code></p>
