<h1 id="rsync">rsync</h1>
<blockquote>
<p>Transfer files either to or from a remote host (not between two remote hosts). Can transfer single files, or multiple files matching a pattern.</p>
</blockquote>
<ul>
<li>Transfer file from local to remote host:</li>
</ul>
<p><code>rsync {{path/to/local_file}} {{remote_host}}:{{path/to/remote_directory}}</code></p>
<ul>
<li>Transfer file from remote host to local:</li>
</ul>
<p><code>rsync {{remote_host}}:{{path/to/remote_file}} {{path/to/local_directory}}</code></p>
<ul>
<li>Transfer file in archive (to preserve attributes) and compressed (zipped) mode with verbose and human-readable progress:</li>
</ul>
<p><code>rsync -azvhP {{path/to/local_file}} {{remote_host}}:{{path/to/remote_directory}}</code></p>
<ul>
<li>Transfer a directory and all its children from a remote to local:</li>
</ul>
<p><code>rsync -r {{remote_host}}:{{path/to/remote_directory}} {{path/to/local_directory}}</code></p>
<ul>
<li>Transfer directory contents (but not the directory itself) from a remote to local:</li>
</ul>
<p><code>rsync -r {{remote_host}}:{{path/to/remote_directory}}/ {{path/to/local_directory}}</code></p>
<ul>
<li>Transfer only updated files from remote host:</li>
</ul>
<p><code>rsync -ru {{remote_host}}:{{path/to/remote_directory}} {{path/to/local_directory}}</code></p>
<ul>
<li>Transfer file over SSH and delete local files that do not exist on remote host:</li>
</ul>
<p><code>rsync -e ssh --delete {{remote_host}}:{{path/to/remote_file}} {{path/to/local_file}}</code></p>
<ul>
<li>Transfer file over SSH and show global progress:</li>
</ul>
<p><code>rsync -e ssh --info=progress2 {{remote_host}}:{{path/to/remote_file}} {{path/to/local_file}}</code></p>
