<h1 id="rtmpdump">rtmpdump</h1>
<blockquote>
<p>A tool to dump media content streamed over the RTMP protocol. More information: <a href="http://rtmpdump.mplayerhq.hu/" class="uri">http://rtmpdump.mplayerhq.hu/</a>.</p>
</blockquote>
<ul>
<li>Download a file:</li>
</ul>
<p><code>rtmpdump --rtmp {{rtmp://example.com/path/to/video}} -o {{file.ext}}</code></p>
<ul>
<li>Download a file from a Flash player:</li>
</ul>
<p><code>rtmpdump --rtmp {{rtmp://example.com/path/to/video}} --swfVfy {{http://example.com/player}} --flashVer "{{LNX 10,0,32,18}}" -o {{file.ext}}</code></p>
<ul>
<li>Specify connection parameters if they are not detected correctly:</li>
</ul>
<p><code>rtmpdump --rtmp {{rtmp://example.com/path/to/video}} --app {{app_name}} --playpath {{path/to/video}} -o {{file.ext}}</code></p>
<ul>
<li>Download a file from a server that requires a referrer:</li>
</ul>
<p><code>rtmpdump --rtmp {{rtmp://example.com/path/to/video}} --pageUrl {{http://example.com/webpage}} -o {{file.ext}}</code></p>
