<h1 id="rtv">rtv</h1>
<blockquote>
<p>Reddit Terminal Viewer. Use arrow keys to navigate. Right and Left to view and return from a submission, respectively. More information: <a href="https://github.com/michael-lazar/rtv" class="uri">https://github.com/michael-lazar/rtv</a>.</p>
</blockquote>
<ul>
<li>Open the front page:</li>
</ul>
<p><code>/front</code></p>
<ul>
<li>Open a subreddit:</li>
</ul>
<p><code>/r/{{subreddit_name}}</code></p>
<ul>
<li>Expand/collapse comments:</li>
</ul>
<p><code>[space]</code></p>
<ul>
<li>Open link:</li>
</ul>
<p><code>o</code></p>
<ul>
<li>Login:</li>
</ul>
<p><code>u</code></p>
<ul>
<li>Open the help screen:</li>
</ul>
<p><code>?</code></p>
