<h1 id="ruby">ruby</h1>
<blockquote>
<p>Ruby programming language interpreter. More information: <a href="https://www.ruby-lang.org" class="uri">https://www.ruby-lang.org</a>.</p>
</blockquote>
<ul>
<li>Open an Interactive Ruby Shell (REPL):</li>
</ul>
<p><code>irb</code></p>
<ul>
<li>Execute a Ruby script:</li>
</ul>
<p><code>ruby {{script.rb}}</code></p>
<ul>
<li>Execute a single Ruby command in the command line:</li>
</ul>
<p><code>ruby -e {{command}}</code></p>
<ul>
<li>Check for syntax errors on a given Ruby script:</li>
</ul>
<p><code>ruby -c {{script.rb}}</code></p>
<ul>
<li>Show the version of Ruby you are using:</li>
</ul>
<p><code>ruby -v</code></p>
