<h1 id="rustc">rustc</h1>
<blockquote>
<p>The Rust compiler. Processes, compiles and links Rust language source files. More information: <a href="https://doc.rust-lang.org/rustc" class="uri">https://doc.rust-lang.org/rustc</a>.</p>
</blockquote>
<ul>
<li>Compile a single file:</li>
</ul>
<p><code>rustc {{file.rs}}</code></p>
<ul>
<li>Compile with high optimization:</li>
</ul>
<p><code>rustc -O {{file.rs}}</code></p>
<ul>
<li>Compile with debugging information:</li>
</ul>
<p><code>rustc -g {{file.rs}}</code></p>
