<h1 id="rustfmt">rustfmt</h1>
<blockquote>
<p>Tool for formatting Rust source code. More information: <a href="https://github.com/rust-lang/rustfmt" class="uri">https://github.com/rust-lang/rustfmt</a>.</p>
</blockquote>
<ul>
<li>Format a file, overwriting the original file in-place:</li>
</ul>
<p><code>rustfmt {{source.rs}}</code></p>
<ul>
<li>Check a file for formatting and display any changes on the console:</li>
</ul>
<p><code>rustfmt --check {{source.rs}}</code></p>
<ul>
<li>Backup any modified files before formatting (the original file is renamed with a <code>.bk</code> extension):</li>
</ul>
<p><code>rustfmt --backup {{source.rs}}</code></p>
