<h1 id="rustup">rustup</h1>
<blockquote>
<p>Rust toolchain installer. Install, manage, and update Rust toolchains. More information: <a href="https://github.com/rust-lang/rustup.rs" class="uri">https://github.com/rust-lang/rustup.rs</a>.</p>
</blockquote>
<ul>
<li>Install the nightly toolchain for your system:</li>
</ul>
<p><code>rustup install nightly</code></p>
<ul>
<li>Switch the default toolchain to nightly so that the <code>cargo</code> and <code>rustc</code> commands will use it:</li>
</ul>
<p><code>rustup default nightly</code></p>
<ul>
<li>Use the nightly toolchain when inside the current project, but leave global settings unchanged:</li>
</ul>
<p><code>rustup override set nightly</code></p>
<ul>
<li>Update all toolchains:</li>
</ul>
<p><code>rustup update</code></p>
<ul>
<li>List installed toolchains:</li>
</ul>
<p><code>rustup show</code></p>
<ul>
<li>Run cargo build with a certain toolchain:</li>
</ul>
<p><code>rustup run {{toolchain_name}} cargo build</code></p>
