<h1 id="rvm">rvm</h1>
<blockquote>
<p>A tool for easily installing, managing, and working with multiple ruby environments. More information: <a href="https://rvm.io" class="uri">https://rvm.io</a>.</p>
</blockquote>
<ul>
<li>Install one or more space-separated versions of Ruby:</li>
</ul>
<p><code>rvm install {{version(s)}}</code></p>
<ul>
<li>Display a list of installed versions:</li>
</ul>
<p><code>rvm list</code></p>
<ul>
<li>Use a specific version of Ruby:</li>
</ul>
<p><code>rvm use {{version}}</code></p>
<ul>
<li>Set the default Ruby version:</li>
</ul>
<p><code>rvm --default use {{version}}</code></p>
<ul>
<li>Upgrade a version of Ruby to a new version:</li>
</ul>
<p><code>rvm upgrade {{current_version}} {{new_version}}</code></p>
<ul>
<li>Uninstall a version of Ruby and keep its sources:</li>
</ul>
<p><code>rvm uninstall {{version}}</code></p>
<ul>
<li>Remove a version of Ruby and its sources:</li>
</ul>
<p><code>rvm remove {{version}}</code></p>
<ul>
<li>Show specific dependencies for your OS:</li>
</ul>
<p><code>rvm requirements</code></p>
