<h1 id="s">s</h1>
<blockquote>
<p>Web search from the terminal.</p>
</blockquote>
<ul>
<li>Search for a query on Google(default provider):</li>
</ul>
<p><code>s {{query}}</code></p>
<ul>
<li>List all providers:</li>
</ul>
<p><code>s --list-providers</code></p>
<ul>
<li>Search for a query with a given provider:</li>
</ul>
<p><code>s --provider {{provider}} {{query}}</code></p>
<ul>
<li>Use a specified binary to perform the search query:</li>
</ul>
<p><code>s --binary "{{binary}} {{arguments}}" {{query}}</code></p>
