<h1 id="sails">sails</h1>
<blockquote>
<p>Sails.js is a realtime enterprise level MVC framework built on top of Node.js. More information: <a href="https://sailsjs.com" class="uri">https://sailsjs.com</a>.</p>
</blockquote>
<ul>
<li>Start Sails:</li>
</ul>
<p><code>sails lift</code></p>
<ul>
<li>Create new Sails project:</li>
</ul>
<p><code>sails new {{projectName}}</code></p>
<ul>
<li>Generate Sails API:</li>
</ul>
<p><code>sails generate {{name}}</code></p>
<ul>
<li>Generate Sails Controller:</li>
</ul>
<p><code>sails generate controller {{name}}</code></p>
<ul>
<li>Generate Sails Model:</li>
</ul>
<p><code>sails generate model {{name}}</code></p>
