<h1 id="salt-key">salt-key</h1>
<blockquote>
<p>Manages salt minion keys on the salt master. Needs to be run on the salt master, likely as root or with sudo. More information: <a href="https://docs.saltstack.com/ref/cli/salt-key.html" class="uri">https://docs.saltstack.com/ref/cli/salt-key.html</a>.</p>
</blockquote>
<ul>
<li>List all accepted, unaccepted and rejected minion keys:</li>
</ul>
<p><code>salt-key -L</code></p>
<ul>
<li>Accept a minion key by name:</li>
</ul>
<p><code>salt-key -a {{MINION_ID}}</code></p>
<ul>
<li>Reject a minion key by name:</li>
</ul>
<p><code>salt-key -r {{MINION_ID}}</code></p>
<ul>
<li>Print fingerprints of all public keys:</li>
</ul>
<p><code>salt-key -F</code></p>
