<h1 id="salt">salt</h1>
<blockquote>
<p>Execute commands and assert state on remote salt minions. More information: <a href="https://docs.saltstack.com/ref/cli/salt.html" class="uri">https://docs.saltstack.com/ref/cli/salt.html</a>.</p>
</blockquote>
<ul>
<li>List connected minions:</li>
</ul>
<p><code>salt '*' test.ping</code></p>
<ul>
<li>Execute a highstate on all connected minions:</li>
</ul>
<p><code>salt '*' state.highstate</code></p>
<ul>
<li>Upgrade packages using the OS package manager (apt, yum, brew) on a subset of minions:</li>
</ul>
<p><code>salt '*.example.com' pkg.upgrade</code></p>
<ul>
<li>Execute an arbitrary command on a particular minion:</li>
</ul>
<p><code>salt '{{minion_id}}' cmd.run "ls "</code></p>
