<h1 id="sass">sass</h1>
<blockquote>
<p>Converts SCSS or Sass files to CSS. More information: <a href="https://sass-lang.com/documentation/cli/dart-sass" class="uri">https://sass-lang.com/documentation/cli/dart-sass</a>.</p>
</blockquote>
<ul>
<li>Convert a SCSS or Sass file to CSS and print out the result:</li>
</ul>
<p><code>sass {{inputfile.scss|inputfile.sass}}</code></p>
<ul>
<li>Convert a SCSS or Sass file to CSS and save the result to a file:</li>
</ul>
<p><code>sass {{inputfile.scss|inputfile.sass}} {{outputfile.css}}</code></p>
<ul>
<li>Watch a SCSS or Sass file for changes and output or update the CSS file with same filename:</li>
</ul>
<p><code>sass --watch {{inputfile.scss|inputfile.sass}}</code></p>
<ul>
<li>Watch a SCSS or Sass file for changes and output or update the CSS file with the given filename:</li>
</ul>
<p><code>sass --watch {{inputfile.scss|inputfile.sass}}:{{outputfile.css}}</code></p>
