<h1 id="satis">satis</h1>
<blockquote>
<p>The command-line utility for the Satis static Composer repository. More information: <a href="https://github.com/composer/satis" class="uri">https://github.com/composer/satis</a>.</p>
</blockquote>
<ul>
<li>Initialise a Satis configuration:</li>
</ul>
<p><code>satis init {{satis.json}}</code></p>
<ul>
<li>Add a VCS repository to the Satis configuration:</li>
</ul>
<p><code>satis add {{repository_url}}</code></p>
<ul>
<li>Build the static output from the configuration:</li>
</ul>
<p><code>satis build {{satis.json}} {{path/to/output_directory}}</code></p>
<ul>
<li>Build the static output by updating only the specified repository:</li>
</ul>
<p><code>satis build --repository-url {{repository_url}} {{satis.json}} {{path/to/output_directory}}</code></p>
<ul>
<li>Remove useless archive files:</li>
</ul>
<p><code>satis purge {{satis.json}} {{path/to/output_directory}}</code></p>
