<h1 id="sbt">sbt</h1>
<blockquote>
<p>Build tool for Scala and Java projects. More information: <a href="https://www.scala-sbt.org/1.0/docs/index.html" class="uri">https://www.scala-sbt.org/1.0/docs/index.html</a>.</p>
</blockquote>
<ul>
<li>Start the SBT interactive shell (REPL):</li>
</ul>
<p><code>sbt</code></p>
<ul>
<li>Create a new Scala project from an existing Giter8 template hosted on GitHub:</li>
</ul>
<p><code>sbt new {{scala/hello-world.g8}}</code></p>
<ul>
<li>Use the specified version of sbt:</li>
</ul>
<p><code>sbt -sbt-version {{version}}</code></p>
<ul>
<li>Use a specific jar file as the sbt launcher:</li>
</ul>
<p><code>sbt -sbt-jar {{path}}</code></p>
<ul>
<li>List all sbt options:</li>
</ul>
<p><code>sbt -h</code></p>
