<h1 id="sc-im">SC-IM</h1>
<blockquote>
<p>A curses based, vim-like spreadsheet calculator. Use hjkl or arrow keys to navigate. More information: <a href="https://github.com/andmarti1424/sc-im" class="uri">https://github.com/andmarti1424/sc-im</a>.</p>
</blockquote>
<ul>
<li>Start SC-IM:</li>
</ul>
<p><code>scim {{file_name}}.csv</code></p>
<ul>
<li>Enter a string into the current cell:</li>
</ul>
<p><code>&lt; or &gt;</code></p>
<ul>
<li>Enter a numeric constant into the current cell:</li>
</ul>
<p><code>=</code></p>
<ul>
<li>Edit string in the current cell:</li>
</ul>
<p><code>E</code></p>
<ul>
<li>Edit number in the current cell:</li>
</ul>
<p><code>e</code></p>
<ul>
<li>Center align the current cell:</li>
</ul>
<p><code>|</code></p>
