<h1 id="scala">scala</h1>
<blockquote>
<p>Scala application launcher and interactive interpreter. More information: <a href="https://scala-lang.org" class="uri">https://scala-lang.org</a>.</p>
</blockquote>
<ul>
<li>Start a Scala interactive shell (REPL):</li>
</ul>
<p><code>scala</code></p>
<ul>
<li>Execute a Scala script:</li>
</ul>
<p><code>scala {{script.scala}}</code></p>
<ul>
<li>Execute a .jar program:</li>
</ul>
<p><code>scala {{filename.jar}}</code></p>
<ul>
<li>Execute a single Scala command in the command line:</li>
</ul>
<p><code>scala -e {{command}}</code></p>
