<h1 id="scheme">scheme</h1>
<blockquote>
<p>MIT Scheme language interperter and REPL (interactive shell). More information: <a href="https://www.gnu.org/software/mit-scheme" class="uri">https://www.gnu.org/software/mit-scheme</a>.</p>
</blockquote>
<ul>
<li>Open an interactive shell (REPL):</li>
</ul>
<p><code>scheme</code></p>
<ul>
<li>Run a scheme program (with no REPL output):</li>
</ul>
<p><code>scheme --quiet &lt; {{script.scm}}</code></p>
<ul>
<li>Load a scheme program into the REPL:</li>
</ul>
<p><code>scheme --load {{script.scm}}</code></p>
<ul>
<li>Load scheme expressions into the REPL:</li>
</ul>
<p><code>scheme --eval {{"(define foo 'x)"}}</code></p>
<ul>
<li>Open the REPL in quiet mode:</li>
</ul>
<p><code>scheme --quiet</code></p>
