<h1 id="scp">scp</h1>
<blockquote>
<p>Secure copy. Copy files between hosts using Secure Copy Protocol over SSH.</p>
</blockquote>
<ul>
<li>Copy a local file to a remote host:</li>
</ul>
<p><code>scp {{path/to/local_file}} {{remote_host}}:{{path/to/remote_file}}</code></p>
<ul>
<li>Copy a file from a remote host to a local directory:</li>
</ul>
<p><code>scp {{remote_host}}:{{path/to/remote_file}} {{path/to/local_directory}}</code></p>
<ul>
<li>Recursively copy the contents of a directory from a remote host to a local directory:</li>
</ul>
<p><code>scp -r {{remote_host}}:{{path/to/remote_directory}} {{path/to/local_directory}}</code></p>
<ul>
<li>Copy a file between two remote hosts transferring through the local host:</li>
</ul>
<p><code>scp -3 {{host1}}:{{path/to/remote_file}} {{host2}}:{{path/to/remote_directory}}</code></p>
<ul>
<li>Use a specific username when connecting to the remote host:</li>
</ul>
<p><code>scp {{path/to/local_file}} {{remote_username}}@{{remote_host}}:{{path/to/remote_directory}}</code></p>
<ul>
<li>Use a specific ssh private key for authentication with the remote host:</li>
</ul>
<p><code>scp -i {{~/.ssh/private_key}} {{local_file}} {{remote_host}}:{{/path/remote_file}}</code></p>
