<h1 id="scrapy">scrapy</h1>
<blockquote>
<p>Web-crawling framework. More information: <a href="https://scrapy.org" class="uri">https://scrapy.org</a>.</p>
</blockquote>
<ul>
<li>Create a project:</li>
</ul>
<p><code>scrapy startproject {{project_name}}</code></p>
<ul>
<li>Create a spider (in project directory):</li>
</ul>
<p><code>scrapy genspider {{spider_name}} {{website_domain}}</code></p>
<ul>
<li>Edit spider (in project directory):</li>
</ul>
<p><code>scrapy edit {{spider_name}}</code></p>
<ul>
<li>Run spider (in project directory):</li>
</ul>
<p><code>scrapy crawl {{spider_name}}</code></p>
<ul>
<li>Fetch a webpage as scrapy sees it and print source in <code>stdout</code>:</li>
</ul>
<p><code>scrapy fetch {{url}}</code></p>
<ul>
<li>Open a webpage in the default browser as scrapy sees it (disable javascript for extra fidelity):</li>
</ul>
<p><code>scrapy view {{url}}</code></p>
<ul>
<li>Open scrapy shell for url, which allows interaction with the page source in python shell (or ipython if available):</li>
</ul>
<p><code>scrapy shell {{url}}</code></p>
