<h1 id="screen">screen</h1>
<blockquote>
<p>Hold a session open on a remote server. Manage multiple windows with a single SSH connection.</p>
</blockquote>
<ul>
<li>Start a new screen session:</li>
</ul>
<p><code>screen</code></p>
<ul>
<li>Start a new named screen session:</li>
</ul>
<p><code>screen -S {{session_name}}</code></p>
<ul>
<li>Start a new daemon and log the output to screenlog.x:</li>
</ul>
<p><code>screen -dmLS {{session_name}} {{command}}</code></p>
<ul>
<li>Show open screen sessions:</li>
</ul>
<p><code>screen -ls</code></p>
<ul>
<li>Reattach to an open screen:</li>
</ul>
<p><code>screen -r {{session_name}}</code></p>
<ul>
<li>Detach from inside a screen:</li>
</ul>
<p><code>Ctrl + A, D</code></p>
<ul>
<li>Kill the current screen session:</li>
</ul>
<p><code>Ctrl + A, K</code></p>
<ul>
<li>Kill a detached screen:</li>
</ul>
<p><code>screen -X -S {{session_name}} quit</code></p>
