<h1 id="screenfetch">screenfetch</h1>
<blockquote>
<p>Display system information. More information: <a href="https://github.com/KittyKatt/screenFetch" class="uri">https://github.com/KittyKatt/screenFetch</a>.</p>
</blockquote>
<ul>
<li>Start screenfetch:</li>
</ul>
<p><code>screenfetch</code></p>
<ul>
<li>Take a screenshot (requires ‘scrot’):</li>
</ul>
<p><code>screenfetch -s</code></p>
<ul>
<li>Specify distribution logo:</li>
</ul>
<p><code>screenfetch -A '{{distribution_name}}'</code></p>
<ul>
<li>Specify distribution logo and text:</li>
</ul>
<p><code>screenfetch -D '{{distribution_name}}'</code></p>
<ul>
<li>Strip all color:</li>
</ul>
<p><code>screenfetch -N</code></p>
