<h1 id="script">script</h1>
<blockquote>
<p>Make a typescript file of a terminal session.</p>
</blockquote>
<ul>
<li>Start recording in file named “typescript”:</li>
</ul>
<p><code>script</code></p>
<ul>
<li>Stop recording:</li>
</ul>
<p><code>exit</code></p>
<ul>
<li>Start recording in a given file:</li>
</ul>
<p><code>script {{logfile.log}}</code></p>
<ul>
<li>Append to an existing file:</li>
</ul>
<p><code>script -a {{logfile.log}}</code></p>
<ul>
<li>Execute quietly without start and done messages:</li>
</ul>
<p><code>script -q {{logfile.log}}</code></p>
