<h1 id="sd">sd</h1>
<blockquote>
<p><code>sd</code> is an intuitive find &amp; replace CLI.</p>
</blockquote>
<ul>
<li>Trim some whitespace using regex:</li>
</ul>
<p><code>{{echo 'lorem ipsum 23   '}} | sd '\s+$' ''</code></p>
<ul>
<li>Replace words using capture groups:</li>
</ul>
<p><code>{{echo 'cargo +nightly watch'}} | sd '(\w+)\s+\+(\w+)\s+(\w+)' 'cmd: $1, channel: $2, subcmd: $3'</code></p>
<ul>
<li>Find and replace in a file:</li>
</ul>
<p><code>sd -i {{'window.fetch'}} {{'fetch'}} {{http.js}}</code></p>
<ul>
<li>Find and replace across a project:</li>
</ul>
<p><code>sd -i {{'from "react"'}} {{'from "preact"'}} $(find . -type f)</code></p>
