<h1 id="sdiff">sdiff</h1>
<blockquote>
<p>Compare the differences between and optionally merge 2 files.</p>
</blockquote>
<ul>
<li>Compare 2 files:</li>
</ul>
<p><code>sdiff {{path/to/file1}} {{path/to/file2}}</code></p>
<ul>
<li>Compare 2 files, ignoring all tabs and whitespace:</li>
</ul>
<p><code>sdiff -W {{path/to/file1}} {{path/to/file2}}</code></p>
<ul>
<li>Compare 2 files, ignoring whitespace at the end of lines:</li>
</ul>
<p><code>sdiff -Z {{path/to/file1}} {{path/to/file2}}</code></p>
<ul>
<li>Compare 2 files in a case-insensitive manner:</li>
</ul>
<p><code>sdiff -i {{path/to/file1}} {{path/to/file2}}</code></p>
<ul>
<li>Compare and then merge, writing the output to a new file:</li>
</ul>
<p><code>sdiff -o {{path/to/merged_file}} {{path/to/file1}} {{path/to/file2}}</code></p>
