<h1 id="sdk">sdk</h1>
<blockquote>
<p>Tool for managing parallel versions of multiple Software Development Kits. Supports Java, Groovy, Scala, Kotlin, Gradle, Maven, Vert.x and many others. More information: <a href="https://developer.android.com/studio/command-line/sdkmanager" class="uri">https://developer.android.com/studio/command-line/sdkmanager</a>.</p>
</blockquote>
<ul>
<li>Install a specific version of Gradle:</li>
</ul>
<p><code>sdk install {{gradle}} {{gradle_version}}</code></p>
<ul>
<li>Switch to a specific version of Gradle:</li>
</ul>
<p><code>sdk use {{gradle}} {{gradle_version}}</code></p>
<ul>
<li>Check current Gradle version:</li>
</ul>
<p><code>sdk current {{gradle}}</code></p>
<ul>
<li>List all Software Development Kits available to install:</li>
</ul>
<p><code>sdk list</code></p>
<ul>
<li>Update Gradle to the latest version:</li>
</ul>
<p><code>sdk upgrade {{gradle}}</code></p>
<ul>
<li>Uninstall a particular version of Gradle:</li>
</ul>
<p><code>sdk rm {{gradle}} {{gradle_version}}</code></p>
