<h1 id="sed">sed</h1>
<blockquote>
<p>Edit text in a scriptable manner.</p>
</blockquote>
<ul>
<li>Replace the first occurrence of a regular expression in each line of a file, and print the result:</li>
</ul>
<p><code>sed 's/{{regex}}/{{replace}}/' {{filename}}</code></p>
<ul>
<li>Replace all occurrences of an extended regular expression in a file, and print the result:</li>
</ul>
<p><code>sed -r 's/{{regex}}/{{replace}}/g' {{filename}}</code></p>
<ul>
<li>Replace all occurrences of a string in a file, overwriting the file (i.e. in-place):</li>
</ul>
<p><code>sed -i 's/{{find}}/{{replace}}/g' {{filename}}</code></p>
<ul>
<li>Replace only on lines matching the line pattern:</li>
</ul>
<p><code>sed '/{{line_pattern}}/s/{{find}}/{{replace}}/' {{filename}}</code></p>
<ul>
<li>Delete lines matching the line pattern:</li>
</ul>
<p><code>sed '/{{line_pattern}}/d' {{filename}}</code></p>
<ul>
<li>Print only text between n-th line till the next empty line:</li>
</ul>
<p><code>sed -n '{{n}},/^$/p' {{filename}}</code></p>
<ul>
<li>Apply multiple find-replace expressions to a file:</li>
</ul>
<p><code>sed -e 's/{{find}}/{{replace}}/' -e 's/{{find}}/{{replace}}/' {{filename}}</code></p>
<ul>
<li>Replace separator / by any other character not used in the find or replace patterns, e.g., #:</li>
</ul>
<p><code>sed 's#{{find}}#{{replace}}#' {{filename}}</code></p>
<ul>
<li>Print only the n-th line of a file:</li>
</ul>
<p><code>sed '{{n}}q;d' {{filename}}</code></p>
