<h1 id="sendmail">sendmail</h1>
<blockquote>
<p>Send email from the command line.</p>
</blockquote>
<ul>
<li>Send a message with the content of message.txt to the mail directory of local user <code>user_name</code>:</li>
</ul>
<p><code>sendmail {{user_name}} &lt; {{message.txt}}</code></p>
<ul>
<li>Send an email from you@yourdomain.com (assuming the mail server is configured for this) to test@gmail.com containing the message in <code>message.txt</code>:</li>
</ul>
<p><code>sendmail -f {{you@yourdomain.com}} {{test@gmail.com}} &lt; {{message.txt}}</code></p>
<ul>
<li>Send an email from you@yourdomain.com (assuming the mail server is configured for this) to test@gmail.com containing the file <code>file.zip</code>:</li>
</ul>
<p><code>sendmail -f {{you@yourdomain.com}} {{test@gmail.com}} &lt; {{file.zip}}</code></p>
