<h1 id="serverless">serverless</h1>
<blockquote>
<p>Toolkit for deploying and operating serverless architectures on AWS, Google Cloud, Azure and IBM OpenWhisk. Commands can be run either using the <code>serverless</code> command or it’s alias, <code>sls</code>. More information: <a href="https://serverless.com/" class="uri">https://serverless.com/</a>.</p>
</blockquote>
<ul>
<li>Create a serverless project:</li>
</ul>
<p><code>serverless create</code></p>
<ul>
<li>Create a serverless project from a template:</li>
</ul>
<p><code>serverless create --template {{template_name}}</code></p>
<ul>
<li>Deploy to a cloud provider:</li>
</ul>
<p><code>serverless deploy</code></p>
<ul>
<li>Display information about a serverless project:</li>
</ul>
<p><code>serverless info</code></p>
<ul>
<li>Invoke a deployed function:</li>
</ul>
<p><code>serverless invoke -f {{function_name}}</code></p>
<ul>
<li>Follow the logs for a project:</li>
</ul>
<p><code>serverless logs -t</code></p>
