<h1 id="set">set</h1>
<blockquote>
<p>Display, set or unset values of shell attributes and positional parameters.</p>
</blockquote>
<ul>
<li>Display the names and values of shell variables:</li>
</ul>
<p><code>set</code></p>
<ul>
<li>Mark variables that are modified or created for export:</li>
</ul>
<p><code>set -a</code></p>
<ul>
<li>Notify of job termination immediately:</li>
</ul>
<p><code>set -b</code></p>
<ul>
<li>Set various options, e.g. enable <code>vi</code> style line editing:</li>
</ul>
<p><code>set -o {{vi}}</code></p>
