<h1 id="sftp">sftp</h1>
<blockquote>
<p>Secure File Transfer Program. Interactive program to copy files between hosts over SSH. For non-interactive file transfers, see <code>scp</code> or <code>rsync</code>.</p>
</blockquote>
<ul>
<li>Connect to a remote server and enter an interactive command mode:</li>
</ul>
<p><code>sftp {{remote_user}}@{{remote_host}}</code></p>
<ul>
<li>Connect using an alternate port:</li>
</ul>
<p><code>sftp -P {{remote_port}} {{remote_user}}@{{remote_host}}</code></p>
<ul>
<li>Transfer remote file to the local system:</li>
</ul>
<p><code>get {{/path/remote_file}}</code></p>
<ul>
<li>Transfer local file to the remote system:</li>
</ul>
<p><code>put {{/path/local_file}}</code></p>
<ul>
<li>Transfer remote directory to the local system recursively (works with <code>put</code> too):</li>
</ul>
<p><code>get -R {{/path/remote_directory}}</code></p>
<ul>
<li>Get list of files on local machine:</li>
</ul>
<p><code>lls</code></p>
<ul>
<li>Get list of files on remote machine:</li>
</ul>
<p><code>ls</code></p>
