<h1 id="sh">sh</h1>
<blockquote>
<p>Bourne shell. The standard command language interpreter.</p>
</blockquote>
<ul>
<li>Start interactive shell:</li>
</ul>
<p><code>sh</code></p>
<ul>
<li>Execute a command:</li>
</ul>
<p><code>sh -c {{command}}</code></p>
<ul>
<li>Run commands from a file:</li>
</ul>
<p><code>sh {{file.sh}}</code></p>
<ul>
<li>Run commands from <code>stdin</code>:</li>
</ul>
<p><code>sh -s</code></p>
