<h1 id="sha1sum">sha1sum</h1>
<blockquote>
<p>Calculate SHA1 cryptographic checksums.</p>
</blockquote>
<ul>
<li>Calculate the SHA1 checksum for a file:</li>
</ul>
<p><code>sha1sum {{filename1}}</code></p>
<ul>
<li>Calculate SHA1 checksums for multiple files:</li>
</ul>
<p><code>sha1sum {{filename1}} {{filename2}}</code></p>
<ul>
<li>Read a file of SHA1 sums and verify all files have matching checksums:</li>
</ul>
<p><code>sha1sum -c {{filename.sha1}}</code></p>
