<h1 id="sha256sum">sha256sum</h1>
<blockquote>
<p>Calculate SHA256 cryptographic checksums.</p>
</blockquote>
<ul>
<li>Calculate the SHA256 checksum for a file:</li>
</ul>
<p><code>sha256sum {{filename1}}</code></p>
<ul>
<li>Calculate SHA256 checksums for multiple files:</li>
</ul>
<p><code>sha256sum {{filename1}} {{filename2}}</code></p>
<ul>
<li>Read a file of SHA256 sums and verify all files have matching checksums:</li>
</ul>
<p><code>sha256sum -c {{filename.sha256}}</code></p>
