<h1 id="sha224sum">sha224sum</h1>
<blockquote>
<p>Calculate SHA224 cryptographic checksums.</p>
</blockquote>
<ul>
<li>Calculate the SHA224 checksum for a file:</li>
</ul>
<p><code>sha224sum {{filename1}}</code></p>
<ul>
<li>Calculate SHA224 checksums for multiple files:</li>
</ul>
<p><code>sha224sum {{filename1}} {{filename2}}</code></p>
<ul>
<li>Read a file of SHA224 sums and verify all files have matching checksums:</li>
</ul>
<p><code>sha224sum -c {{filename.sha224}}</code></p>
