<h1 id="sha384sum">sha384sum</h1>
<blockquote>
<p>Calculate SHA384 cryptographic checksums.</p>
</blockquote>
<ul>
<li>Calculate the SHA384 checksum for a file:</li>
</ul>
<p><code>sha384sum {{filename1}}</code></p>
<ul>
<li>Calculate SHA384 checksums for multiple files:</li>
</ul>
<p><code>sha384sum {{filename1}} {{filename2}}</code></p>
<ul>
<li>Read a file of SHA384 sums and verify all files have matching checksums:</li>
</ul>
<p><code>sha384sum -c {{filename.sha384}}</code></p>
