<h1 id="sha512sum">sha512sum</h1>
<blockquote>
<p>Calculate SHA512 cryptographic checksums.</p>
</blockquote>
<ul>
<li>Calculate the SHA512 checksum for a file:</li>
</ul>
<p><code>sha512sum {{filename1}}</code></p>
<ul>
<li>Calculate SHA512 checksums for multiple files:</li>
</ul>
<p><code>sha512sum {{filename1}} {{filename2}}</code></p>
<ul>
<li>Read a file of SHA512 sums and verify all files have matching checksums:</li>
</ul>
<p><code>sha512sum -c {{filename.sha512}}</code></p>
