<h1 id="shards">shards</h1>
<blockquote>
<p>Dependency management tool for the Crystal language. More information: <a href="https://crystal-lang.org/reference/the_shards_command" class="uri">https://crystal-lang.org/reference/the_shards_command</a>.</p>
</blockquote>
<ul>
<li>Create a skeleton shard.yml file:</li>
</ul>
<p><code>shards init</code></p>
<ul>
<li>Install dependencies from a shard.yml file:</li>
</ul>
<p><code>shards install</code></p>
<ul>
<li>Update all dependencies:</li>
</ul>
<p><code>shards update</code></p>
<ul>
<li>List all installed dependencies:</li>
</ul>
<p><code>shards list</code></p>
<ul>
<li>List version of dependency:</li>
</ul>
<p><code>shards version {{path/to/dependency_directory}}</code></p>
