<h1 id="shc">shc</h1>
<blockquote>
<p>Generic shell script compiler.</p>
</blockquote>
<ul>
<li>Compile a shell script:</li>
</ul>
<p><code>shc -f {{script}}</code></p>
<ul>
<li>Compile a shell script and specify an output binary file:</li>
</ul>
<p><code>shc -f {{script}} -o {{binary}}</code></p>
<ul>
<li>Compile a shell script and set an expiration date for the executable:</li>
</ul>
<p><code>shc -f {{script}} -e {{dd/mm/yyyy}}</code></p>
<ul>
<li>Compile a shell script and set a message to display upon expiration:</li>
</ul>
<p><code>shc -f {{script}} -e {{dd/mm/yyyy}} -m {{"Please contact your provider"}}</code></p>
