<h1 id="shellcheck">shellcheck</h1>
<blockquote>
<p>Shell script static analysis tool. More information: <a href="https://www.shellcheck.net/" class="uri">https://www.shellcheck.net/</a>.</p>
</blockquote>
<ul>
<li>Check a shell script:</li>
</ul>
<p><code>shellcheck {{file.sh}}</code></p>
<ul>
<li>Override script’s shebang:</li>
</ul>
<p><code>shellcheck --shell {{sh|bash|ksh}} {{file.sh}}</code></p>
<ul>
<li>Ignore certain errors:</li>
</ul>
<p><code>shellcheck --exclude {{SC1009}} {{file.sh}}</code></p>
<ul>
<li>Ignore multiple errors:</li>
</ul>
<p><code>shellcheck --exclude {{SC1009,SC1073}} {{file.sh}}</code></p>
