<h1 id="shiori">shiori</h1>
<blockquote>
<p>Simple bookmark manager built with Go. More information: <a href="https://github.com/go-shiori/shiori" class="uri">https://github.com/go-shiori/shiori</a>.</p>
</blockquote>
<ul>
<li>Import bookmarks from HTML Netscape bookmark format file:</li>
</ul>
<p><code>shiori import {{path/to/bookmarks.html}}</code></p>
<ul>
<li>Save the specified URL as bookmark:</li>
</ul>
<p><code>shiori add {{url}}</code></p>
<ul>
<li>List the saved bookmarks:</li>
</ul>
<p><code>shiori print</code></p>
<ul>
<li>Open the saved bookmark in a browser:</li>
</ul>
<p><code>shiori open {{bookmark_id}}</code></p>
<ul>
<li>Start the web interface for managing bookmarks at port 8181:</li>
</ul>
<p><code>shiori serve --port {{8181}}</code></p>
