<h1 id="shopt">shopt</h1>
<blockquote>
<p>Manage Bash shell options: variables (stored in <code>$BASHOPTS</code>) that control behavior specific to the Bash shell. Generic POSIX shell variables (stored in <code>$SHELLOPTS</code>) are managed with the <code>set</code> command instead.</p>
</blockquote>
<ul>
<li>List of all settable options and whether they are set:</li>
</ul>
<p><code>shopt</code></p>
<ul>
<li>Set an option:</li>
</ul>
<p><code>shopt -s {{option_name}}</code></p>
<ul>
<li>Unset an option:</li>
</ul>
<p><code>shopt -u {{option_name}}</code></p>
<ul>
<li>Print a list of all options and their status formatted as runnable <code>shopt</code> commands:</li>
</ul>
<p><code>shopt -p</code></p>
<ul>
<li>Show help for the command:</li>
</ul>
<p><code>help shopt</code></p>
