<h1 id="shred">shred</h1>
<blockquote>
<p>Overwrite files to securely delete data.</p>
</blockquote>
<ul>
<li>Overwrite a file:</li>
</ul>
<p><code>shred {{file}}</code></p>
<ul>
<li>Overwrite a file, leaving zeroes instead of random data:</li>
</ul>
<p><code>shred --zero {{file}}</code></p>
<ul>
<li>Overwrite a file 25 times:</li>
</ul>
<p><code>shred -n25 {{file}}</code></p>
<ul>
<li>Overwrite a file and remove it:</li>
</ul>
<p><code>shred --remove {{file}}</code></p>
