<h1 id="shuf">shuf</h1>
<blockquote>
<p>Generate random permutations.</p>
</blockquote>
<ul>
<li>Randomize the order of lines in a file and output the result:</li>
</ul>
<p><code>shuf {{filename}}</code></p>
<ul>
<li>Only output the first 5 entries of the result:</li>
</ul>
<p><code>shuf -n {{5}} {{filename}}</code></p>
<ul>
<li>Write the output to another file:</li>
</ul>
<p><code>shuf {{filename}} -o {{output_filename}}</code></p>
<ul>
<li>Generate random numbers in range:</li>
</ul>
<p><code>shuf -i {{1-10}}</code></p>
