<h1 id="singularity">singularity</h1>
<blockquote>
<p>Manage Singularity containers and images.</p>
</blockquote>
<ul>
<li>Download a remote image from Sylabs Cloud:</li>
</ul>
<p><code>singularity pull --name {{image.sif}} {{library://godlovedc/funny/lolcow:latest}}</code></p>
<ul>
<li>Rebuild a remote image using latest Singularity image format:</li>
</ul>
<p><code>singularity build {{image.sif}} {{docker://godlovedc/lolcow}}</code></p>
<ul>
<li>Start a container from an image and get a shell inside of it:</li>
</ul>
<p><code>singularity shell {{image.sif}}</code></p>
<ul>
<li>Start a container from an image and run a command:</li>
</ul>
<p><code>singularity exec {{image.sif}} {{command}}</code></p>
<ul>
<li>Start a container from an image and execute the internal runscript:</li>
</ul>
<p><code>singularity run {{image.sif}}</code></p>
<ul>
<li>Build a singularity image from a recipe file:</li>
</ul>
<p><code>sudo singularity build {{image.sif}} {{recipe}}</code></p>
