<h1 id="skaffold">skaffold</h1>
<blockquote>
<p>A tool that facilitates continuous development for Kubernetes applications. More information: <a href="https://skaffold.dev" class="uri">https://skaffold.dev</a>.</p>
</blockquote>
<ul>
<li>Build the artifacts:</li>
</ul>
<p><code>skaffold build -f {{skaffold.yaml}}</code></p>
<ul>
<li>Build and deploy your app every time your code changes:</li>
</ul>
<p><code>skaffold dev -f {{skaffold.yaml}}</code></p>
<ul>
<li>Run a pipeline file:</li>
</ul>
<p><code>skaffold run -f {{skaffold.yaml}}</code></p>
<ul>
<li>Run a diagnostic on Skaffold:</li>
</ul>
<p><code>skaffold diagnose -f {{skaffold.yaml}}</code></p>
<ul>
<li>Deploy the artifacts:</li>
</ul>
<p><code>skaffold deploy -f {{skaffold.yaml}}</code></p>
