<h1 id="skicka">skicka</h1>
<blockquote>
<p>Manage your Google Drive. More information: <a href="https://github.com/google/skicka" class="uri">https://github.com/google/skicka</a>.</p>
</blockquote>
<ul>
<li>Upload a file/folder to Google Drive:</li>
</ul>
<p><code>skicka upload {{path/to/local}} {{path/to/remote}}</code></p>
<ul>
<li>Download a file/folder from Google Drive:</li>
</ul>
<p><code>skicka download {{path/to/remote}} {{path/to/local}}</code></p>
<ul>
<li>List files:</li>
</ul>
<p><code>skicka ls {{path/to/folder}}</code></p>
<ul>
<li>Show amount of space used by children folders:</li>
</ul>
<p><code>skicka du {{path/to/parent/folder}}</code></p>
<ul>
<li>Create a folder:</li>
</ul>
<p><code>skicka mkdir {{path/to/folder}}</code></p>
<ul>
<li>Delete a file:</li>
</ul>
<p><code>skicka rm {{path/to/file}}</code></p>
