<h1 id="slackcat">slackcat</h1>
<blockquote>
<p>Utility for passing files and command output to Slack. More information: <a href="https://github.com/bcicen/slackcat" class="uri">https://github.com/bcicen/slackcat</a>.</p>
</blockquote>
<ul>
<li>Post a file to Slack:</li>
</ul>
<p><code>slackcat --channel {{channel_name}} {{path/to/file}}</code></p>
<ul>
<li>Post a file to Slack with a custom filename:</li>
</ul>
<p><code>slackcat --channel {{channel_name}} --filename={{filename}} {{path/to/file}}</code></p>
<ul>
<li>Pipe command output to Slack as a text snippet:</li>
</ul>
<p><code>{{command}} | slackcat --channel {{channel_name}} --filename={{snippet_name}}</code></p>
<ul>
<li>Stream command output to Slack continuously:</li>
</ul>
<p><code>{{command}} | slackcat --channel {{channel_name}} --stream</code></p>
