<h1 id="sleep">sleep</h1>
<blockquote>
<p>Delay for a specified amount of time.</p>
</blockquote>
<ul>
<li>Delay in seconds:</li>
</ul>
<p><code>sleep {{seconds}}</code></p>
<ul>
<li>Delay in minutes:</li>
</ul>
<p><code>sleep {{minutes}}m</code></p>
<ul>
<li>Delay in hours:</li>
</ul>
<p><code>sleep {{hours}}h</code></p>
