<h1 id="slimrb">slimrb</h1>
<blockquote>
<p>Convert Slim files to HTML.</p>
</blockquote>
<ul>
<li>Convert a Slim file to HTML:</li>
</ul>
<p><code>slimrb {{input.slim}} {{output.html}}</code></p>
<ul>
<li>Convert a Slim file and output to prettified HTML:</li>
</ul>
<p><code>slimrb --pretty {{input.slim}} {{output.html}}</code></p>
<ul>
<li>Convert a Slim file to ERB:</li>
</ul>
<p><code>slimrb --erb {{input.slim}} {{output.erb}}</code></p>
