<h1 id="smartctl">smartctl</h1>
<blockquote>
<p>View a disk’s SMART data and other information. More information: <a href="https://en.wikipedia.org/wiki/S.M.A.R.T." class="uri">https://en.wikipedia.org/wiki/S.M.A.R.T.</a>.</p>
</blockquote>
<ul>
<li>View SMART health summary:</li>
</ul>
<p><code>sudo smartctl --health {{/dev/sda}}</code></p>
<ul>
<li>View device information:</li>
</ul>
<p><code>sudo smartctl --info {{/dev/sda}}</code></p>
<ul>
<li>Begin a short self-test:</li>
</ul>
<p><code>sudo smartctl --test short {{/dev/sda}}</code></p>
<ul>
<li>View current/last self-test status and other SMART capabilities:</li>
</ul>
<p><code>sudo smartctl --capabilities {{/dev/sda}}</code></p>
<ul>
<li>View SMART self-test log (if supported):</li>
</ul>
<p><code>sudo smartctl --log selftest {{/dev/sda}}</code></p>
