<h1 id="sn">sn</h1>
<blockquote>
<p>Mono StrongName utility for signing and verifying IL assemblies.</p>
</blockquote>
<ul>
<li>Generate a new StrongNaming key:</li>
</ul>
<p><code>sn -k {{path/to/key.snk}}</code></p>
<ul>
<li>Re-sign an assembly with the specified private key:</li>
</ul>
<p><code>sn -R {{path/to/assembly.dll}} {{path/to/keypair.snk}}</code></p>
<ul>
<li>Show the public key of the private key that was used to sign an assembly:</li>
</ul>
<p><code>sn -T {{path/to/assembly.exe}}</code></p>
<ul>
<li>Extract the public key to a file:</li>
</ul>
<p><code>sn -e {{path/to/assembly.dll}} {{path/to/output.pub}}</code></p>
