<h1 id="snyk">snyk</h1>
<blockquote>
<p>Find vulnerabilities in your code and remediate risks. More information: <a href="https://snyk.io" class="uri">https://snyk.io</a>.</p>
</blockquote>
<ul>
<li>Login to your Snyk account:</li>
</ul>
<p><code>snyk auth</code></p>
<ul>
<li>Test your code for any known vulnerabilities:</li>
</ul>
<p><code>snyk test</code></p>
<ul>
<li>Test a local Docker image for any known vulnerabilities:</li>
</ul>
<p><code>snyk test --docker {{docker_image}}</code></p>
<ul>
<li>Record the state of dependencies and any vulnerabilities on snyk.io:</li>
</ul>
<p><code>snyk monitor</code></p>
<ul>
<li>Auto patch and ignore vulnerabilities:</li>
</ul>
<p><code>snyk wizard</code></p>
