<h1 id="solo">solo</h1>
<blockquote>
<p>Interact with Solo hardware security keys. More information: <a href="https://github.com/solokeys/solo-python" class="uri">https://github.com/solokeys/solo-python</a>.</p>
</blockquote>
<ul>
<li>List connected Solos:</li>
</ul>
<p><code>solo ls</code></p>
<ul>
<li>Update the currently connected Solo’s firmware to the latest version:</li>
</ul>
<p><code>solo key update</code></p>
<ul>
<li>Blink the led of a specific Solo:</li>
</ul>
<p><code>solo key wink --serial {{serial_number}}</code></p>
<ul>
<li>Generate random bytes using the currently connected Solo’s secure random number generator:</li>
</ul>
<p><code>solo key rng raw</code></p>
<ul>
<li>Monitor the serial output of a Solo:</li>
</ul>
<p><code>solo monitor {{path/to/serial_port}}</code></p>
