<h1 id="sort">sort</h1>
<blockquote>
<p>Sort lines of text files.</p>
</blockquote>
<ul>
<li>Sort a file in ascending order:</li>
</ul>
<p><code>sort {{filename}}</code></p>
<ul>
<li>Sort a file in descending order:</li>
</ul>
<p><code>sort -r {{filename}}</code></p>
<ul>
<li>Sort a file in case-insensitive way:</li>
</ul>
<p><code>sort --ignore-case {{filename}}</code></p>
<ul>
<li>Sort a file using numeric rather than alphabetic order:</li>
</ul>
<p><code>sort -n {{filename}}</code></p>
<ul>
<li>Sort the passwd file by the 3rd field, numerically:</li>
</ul>
<p><code>sort -t: -k 3n /etc/passwd</code></p>
<ul>
<li>Sort a file preserving only unique lines:</li>
</ul>
<p><code>sort -u {{filename}}</code></p>
<ul>
<li>Sort human-readable numbers (in this case the 5th field of <code>ls -lh</code>):</li>
</ul>
<p><code>ls -lh | sort -h -k 5</code></p>
