<h1 id="source">source</h1>
<blockquote>
<p>Execute commands from a file in the current shell.</p>
</blockquote>
<ul>
<li>Evaluate contents of a given file:</li>
</ul>
<p><code>source {{path/to/file}}</code></p>
