<h1 id="sox">sox</h1>
<blockquote>
<p>Sound eXchange: play, record and convert audio files. Audio formats are identified by the extension. More information: <a href="http://sox.sourceforge.net" class="uri">http://sox.sourceforge.net</a>.</p>
</blockquote>
<ul>
<li>Merge two audio files into one:</li>
</ul>
<p><code>sox -m {{input_audiofile1}} {{input_audiofile2}} {{output_audiofile}}</code></p>
<ul>
<li>Trim an audio file to the specified times:</li>
</ul>
<p><code>sox {{input_audiofile}} {{output_audiofile}} trim {{start}} {{end}}</code></p>
<ul>
<li>Normalize an audio file (adjust volume to the maximum peak level, without clipping):</li>
</ul>
<p><code>sox --norm {{input_audiofile}} {{output_audiofile}}</code></p>
<ul>
<li>Reverse and save an audio file:</li>
</ul>
<p><code>sox {{input_audiofile}} {{output_audiofile}} reverse</code></p>
<ul>
<li>Print statistical data of an audio file:</li>
</ul>
<p><code>sox {{input_audiofile}} -n stat</code></p>
<ul>
<li>Increase the volume of an audio file by 2x:</li>
</ul>
<p><code>sox -v 2.0 {{input_audiofile}} {{output_audiofile}}</code></p>
