<h1 id="spark">spark</h1>
<blockquote>
<p>The Laravel Spark command line tool. More information: <a href="https://spark.laravel.com" class="uri">https://spark.laravel.com</a>.</p>
</blockquote>
<ul>
<li>Register your API token:</li>
</ul>
<p><code>spark register {{token}}</code></p>
<ul>
<li>Display the currently registered API token:</li>
</ul>
<p><code>spark token</code></p>
<ul>
<li>Create a new Spark project:</li>
</ul>
<p><code>spark new {{project_name}}</code></p>
<ul>
<li>Create a new Spark project with Braintree stubs:</li>
</ul>
<p><code>spark new {{project_name}} --braintree</code></p>
<ul>
<li>Create a new Spark project with team based billing stubs:</li>
</ul>
<p><code>spark new {{project_name}} --team-billing</code></p>
