<h1 id="spatial">spatial</h1>
<blockquote>
<p>A set of commands for managing and developing SpatialOS projects.</p>
</blockquote>
<ul>
<li>Run this when you use a project for the first time:</li>
</ul>
<p><code>spatial worker build</code></p>
<ul>
<li>Build workers for local deployment on Unity on macOS:</li>
</ul>
<p><code>spatial worker build --target=development --target=Osx</code></p>
<ul>
<li>Build workers for local deployment on Unreal on Windows:</li>
</ul>
<p><code>spatial worker build --target=local --target=Windows</code></p>
<ul>
<li>Deploy locally:</li>
</ul>
<p><code>spatial local launch {{launch_config}} --snapshot={{snapshot_file}}</code></p>
<ul>
<li>Launch a local worker to connect to your local deployment:</li>
</ul>
<p><code>spatial local worker launch {{worker_type}} {{launch_config}}</code></p>
<ul>
<li>Upload an assembly to use for cloud deployments:</li>
</ul>
<p><code>spatial cloud upload {{assembly_name}}</code></p>
<ul>
<li>Launch a cloud deployment:</li>
</ul>
<p><code>spatial cloud launch {{assembly_name}} {{launch_config}} {{deployment_name}}</code></p>
<ul>
<li>Clean worker directories:</li>
</ul>
<p><code>spatial worker clean</code></p>
