<h1 id="speedtest-cli">speedtest-cli</h1>
<blockquote>
<p>Command line interface for testing internet bandwidth using speedtest.net. More information: <a href="https://github.com/sivel/speedtest-cli" class="uri">https://github.com/sivel/speedtest-cli</a>.</p>
</blockquote>
<ul>
<li>Run a speed test:</li>
</ul>
<p><code>speedtest-cli</code></p>
<ul>
<li>Run a speed test and generate a shareable result picture:</li>
</ul>
<p><code>speedtest-cli --share</code></p>
<ul>
<li>Print a list of all speedtest.net servers, sorted by distance, to file:</li>
</ul>
<p><code>speedtest-cli --list &gt; speedtest_servers.txt</code></p>
<ul>
<li>Run a speed test to the given speedtest.net server id:</li>
</ul>
<p><code>speedtest-cli --server {{server_id}}</code></p>
