<h1 id="spike">spike</h1>
<blockquote>
<p>A fully featured static website generator written in JavaScript. More information: <a href="https://spike.js.org" class="uri">https://spike.js.org</a>.</p>
</blockquote>
<ul>
<li>Create a new project using the default template:</li>
</ul>
<p><code>spike new {{project_name}}</code></p>
<ul>
<li>Compile your project, watch for changes, and auto-reload the browser:</li>
</ul>
<p><code>spike watch</code></p>
<ul>
<li>Compile your project once to the “public” directory:</li>
</ul>
<p><code>spike compile</code></p>
<ul>
<li>Remove the output directory:</li>
</ul>
<p><code>spike clean</code></p>
