<h1 id="split">split</h1>
<blockquote>
<p>Split a file into pieces.</p>
</blockquote>
<ul>
<li>Split a file, each split having 10 lines (except the last split):</li>
</ul>
<p><code>split -l {{10}} {{filename}}</code></p>
<ul>
<li>Split a file into 5 files. File is split such that each split has same size (except the last split):</li>
</ul>
<p><code>split -n {{5}} {{filename}}</code></p>
<ul>
<li>Split a file with 512 bytes in each split (except the last split; use 512k for kilobytes and 512m for megabytes):</li>
</ul>
<p><code>split -b {{512}} {{filename}}</code></p>
<ul>
<li>Split a file with at most 512 bytes in each split without breaking lines:</li>
</ul>
<p><code>split -C {{512}} {{filename}}</code></p>
