<h1 id="sqlite3">sqlite3</h1>
<blockquote>
<p>The command-line interface to SQLite 3, which is a self-contained file-based embedded SQL engine. More information: <a href="https://sqlite.org" class="uri">https://sqlite.org</a>.</p>
</blockquote>
<ul>
<li>Start an interactive shell with a new database:</li>
</ul>
<p><code>sqlite3</code></p>
<ul>
<li>Open an interactive shell against an existing database:</li>
</ul>
<p><code>sqlite3 {{path/to/database.sqlite3}}</code></p>
<ul>
<li>Execute an SQL statement against a database and then exit:</li>
</ul>
<p><code>sqlite3 {{path/to/database.sqlite3}} '{{SELECT * FROM some_table;}}'</code></p>
