<h1 id="sqlmap">sqlmap</h1>
<blockquote>
<p>Detect and exploit SQL injection flaws. More information: <a href="https://sqlmap.org" class="uri">https://sqlmap.org</a>.</p>
</blockquote>
<ul>
<li>Run sqlmap against a single target URL:</li>
</ul>
<p><code>python sqlmap.py -u {{"http://www.target.com/vuln.php?id=1"}}</code></p>
<ul>
<li>Send data in a POST request (<code>--data</code> implies POST request):</li>
</ul>
<p><code>python sqlmap.py -u {{"http://www.target.com/vuln.php"}} --data={{"id=1"}}</code></p>
<ul>
<li>Change the parameter delimiter (&amp; is the default):</li>
</ul>
<p><code>python sqlmap.py -u {{"http://www.target.com/vuln.php"}} --data={{"query=foobar;id=1"}} --param-del={{";"}}</code></p>
<ul>
<li>Select a random <code>User-Agent</code> from <code>./txt/user-agents.txt</code> and use it:</li>
</ul>
<p><code>python sqlmap.py -u {{"http://www.target.com/vuln.php"}} --random-agent</code></p>
<ul>
<li>Provide user credentials for HTTP protocol authentication:</li>
</ul>
<p><code>python sqlmap.py -u {{"http://www.target.com/vuln.php"}} --auth-type {{Basic}} --auth-cred {{"testuser:testpass"}}</code></p>
