<h1 id="sqsc">sqsc</h1>
<blockquote>
<p>A command line AWS Simple Queue Service client. More information: <a href="https://github.com/yongfei25/sqsc" class="uri">https://github.com/yongfei25/sqsc</a>.</p>
</blockquote>
<ul>
<li>List all queues:</li>
</ul>
<p><code>sqsc lq {{queue_prefix}}</code></p>
<ul>
<li>List all messages in a queue:</li>
</ul>
<p><code>sqsc ls {{queue_name}}</code></p>
<ul>
<li>Copy all messages from one queue to another:</li>
</ul>
<p><code>sqsc cp {{source_queue}} {{destination_queue}}</code></p>
<ul>
<li>Move all messages from one queue to another:</li>
</ul>
<p><code>sqsc mv {{source_queue}} {{destination_queue}}</code></p>
<ul>
<li>Describe a queue:</li>
</ul>
<p><code>sqsc describe {{queue_name}}</code></p>
<ul>
<li>Query a queue with SQL syntax:</li>
</ul>
<p><code>sqsc query "SELECT body FROM {{queue_name}} WHERE body LIKE '%user%'"</code></p>
<ul>
<li>Pull all messages from a queue into a local sqlite database in your present working directory:</li>
</ul>
<p><code>sqsc pull {{queue_name}}</code></p>
