<h1 id="srm">srm</h1>
<blockquote>
<p>Securely remove files or directories. Overwrites the existing data one or multiple times. Drop in replacement for rm.</p>
</blockquote>
<ul>
<li>Remove a file after a single-pass overwriting with random data:</li>
</ul>
<p><code>srm -s {{/path/to/file}}</code></p>
<ul>
<li>Remove a file after seven passes of overwriting with random data:</li>
</ul>
<p><code>srm -m {{/path/to/file}}</code></p>
<ul>
<li>Recursively remove a directory and its contents overwriting each file with a single-pass of random data:</li>
</ul>
<p><code>srm -r -s {{/path/to/directory}}</code></p>
<ul>
<li>Prompt before every removal:</li>
</ul>
<p><code>srm -i {{\*}}</code></p>
