<h1 id="ssh-copy-id">ssh-copy-id</h1>
<blockquote>
<p>Install your public key in a remote machine’s authorized_keys.</p>
</blockquote>
<ul>
<li>Copy your keys to the remote machine:</li>
</ul>
<p><code>ssh-copy-id {{username@remote_host}}</code></p>
<ul>
<li>Copy the given public key to the remote:</li>
</ul>
<p><code>ssh-copy-id -i {{path/to/certificate}} {{username}}@{{remote_host}}</code></p>
<ul>
<li>Copy the given public key to the remote with specific port:</li>
</ul>
<p><code>ssh-copy-id -i {{path/to/certificate}} -p {{port}} {{username}}@{{remote_host}}</code></p>
