<h1 id="ssh-keyscan">ssh-keyscan</h1>
<blockquote>
<p>Get the public ssh keys of remote hosts.</p>
</blockquote>
<ul>
<li>Retrieve all public ssh keys of a remote host:</li>
</ul>
<p><code>ssh-keyscan {{host}}</code></p>
<ul>
<li>Retrieve all public ssh keys of a remote host listening on a specific port:</li>
</ul>
<p><code>ssh-keyscan -p {{port}} {{host}}</code></p>
<ul>
<li>Retrieve certain types of public ssh keys of a remote host:</li>
</ul>
<p><code>ssh-keyscan -t {{rsa,dsa,ecdsa,ed25519}} {{host}}</code></p>
