<h1 id="ssh">ssh</h1>
<blockquote>
<p>Secure Shell is a protocol used to securely log onto remote systems. It can be used for logging or executing commands on a remote server.</p>
</blockquote>
<ul>
<li>Connect to a remote server:</li>
</ul>
<p><code>ssh {{username}}@{{remote_host}}</code></p>
<ul>
<li>Connect to a remote server with a specific identity (private key):</li>
</ul>
<p><code>ssh -i {{path/to/key_file}} {{username}}@{{remote_host}}</code></p>
<ul>
<li>Connect to a remote server using a specific port:</li>
</ul>
<p><code>ssh {{username}}@{{remote_host}} -p {{2222}}</code></p>
<ul>
<li>Run a command on a remote server:</li>
</ul>
<p><code>ssh {{remote_host}} {{command -with -flags}}</code></p>
<ul>
<li>SSH tunneling: Dynamic port forwarding (SOCKS proxy on localhost:9999):</li>
</ul>
<p><code>ssh -D {{9999}} -C {{username}}@{{remote_host}}</code></p>
<ul>
<li>SSH tunneling: Forward a specific port (localhost:9999 to example.org:80) along with disabling pseudo-[t]ty allocation and executio[n] of remote commands:</li>
</ul>
<p><code>ssh -L {{9999}}:{{example.org}}:{{80}} -N -T {{username}}@{{remote_host}}</code></p>
<ul>
<li>SSH jumping: Connect through a jumphost to a remote server (Multiple jump hops may be specified separated by comma characters):</li>
</ul>
<p><code>ssh -J {{username}}@{{jump_host}} {{username}}@{{remote_host}}</code></p>
<ul>
<li>Agent forwarding: Forward the authentication information to the remote machine (see <code>man ssh_config</code> for available options):</li>
</ul>
<p><code>ssh -A {{username}}@{{remote_host}}</code></p>
