<h1 id="sshfs">sshfs</h1>
<blockquote>
<p>Filesystem client based on ssh. More information: <a href="https://github.com/libfuse/sshfs" class="uri">https://github.com/libfuse/sshfs</a>.</p>
</blockquote>
<ul>
<li>Mount remote directory:</li>
</ul>
<p><code>sshfs {{username}}@{{remote_host}}:{{remote_directory}} {{mountpoint}}</code></p>
<ul>
<li>Unmount remote directory:</li>
</ul>
<p><code>umount {{mountpoint}}</code></p>
<ul>
<li>Mount remote directory from server with specific port:</li>
</ul>
<p><code>sshfs {{username}}@{{remote_host}}:{{remote_directory}} -p {{2222}}</code></p>
<ul>
<li>Use compression:</li>
</ul>
<p><code>sshfs {{username}}@{{remote_host}}:{{remote_directory}} -C</code></p>
<ul>
<li>Follow symbolic links:</li>
</ul>
<p><code>sshfs -o follow_symlinks {{username}}@{{remote_host}}:{{remote_directory}} {{mountpoint}}</code></p>
