<h1 id="sshpass">sshpass</h1>
<blockquote>
<p>An ssh password provider. It works by creating a TTY, feeding the password into it, and then redirecting <code>stdin</code> to the ssh session.</p>
</blockquote>
<ul>
<li>Connect to a remote server using a password supplied on a file descriptor (in this case, <code>stdin</code>):</li>
</ul>
<p><code>sshpass -d {{0}} ssh {{user}}@{{hostname}}</code></p>
<ul>
<li>Connect to a remote server with the password supplied as an option, and automatically accept unknown ssh keys:</li>
</ul>
<p><code>sshpass -p {{password}} ssh -o StrictHostKeyChecking=no {{user}}@{{hostname}}</code></p>
<ul>
<li>Connect to a remote server using the first line of a file as the password, automatically accept unknown ssh keys, and launch a command:</li>
</ul>
<p><code>sshpass -f {{file}} ssh -o StrictHostKeyChecking=no {{user}}@{{hostname}} "{{command}}"</code></p>
