<h1 id="st-flash">st-flash</h1>
<blockquote>
<p>Flash binary files to STM32 ARM Cortex microcontrollers. More information: <a href="https://github.com/texane/stlink" class="uri">https://github.com/texane/stlink</a>.</p>
</blockquote>
<ul>
<li>Read 4096 bytes from the device starting from 0x8000000:</li>
</ul>
<p><code>st-flash read {{firmware}}.bin {{0x8000000}} {{4096}}</code></p>
<ul>
<li>Write firmware to device starting from 0x8000000:</li>
</ul>
<p><code>st-flash write {{firmware}}.bin {{0x8000000}}</code></p>
<ul>
<li>Erase firmware from device:</li>
</ul>
<p><code>st-flash erase</code></p>
