<h1 id="st-util">st-util</h1>
<blockquote>
<p>Run GDB (GNU Debugger) server to interact with STM32 ARM Cortex microcontoller. More information: <a href="https://github.com/texane/stlink" class="uri">https://github.com/texane/stlink</a>.</p>
</blockquote>
<ul>
<li>Run GDB server on port 4500:</li>
</ul>
<p><code>st-util -p {{4500}}</code></p>
<ul>
<li>Connect to GDB server:</li>
</ul>
<p><code>(gdb) target extended-remote {{localhost}}:{{4500}}</code></p>
<ul>
<li>Write firmware to device:</li>
</ul>
<p><code>(gdb) load {{firmware.elf}}</code></p>
