<h1 id="stack">stack</h1>
<blockquote>
<p>Tool for managing Haskell projects. More information: <a href="https://github.com/commercialhaskell/stack" class="uri">https://github.com/commercialhaskell/stack</a>.</p>
</blockquote>
<ul>
<li>Create a new package:</li>
</ul>
<p><code>stack new {{package_name}} {{template_name}}</code></p>
<ul>
<li>Compile a package:</li>
</ul>
<p><code>stack build</code></p>
<ul>
<li>Run tests inside a package:</li>
</ul>
<p><code>stack test</code></p>
<ul>
<li>Compile a project and re-compile every time a file changes:</li>
</ul>
<p><code>stack build --file-watch</code></p>
<ul>
<li>Compile a project and execute a command after compilation:</li>
</ul>
<p><code>stack build --exec "{{command}}"</code></p>
<ul>
<li>Run a program and pass an argument to it:</li>
</ul>
<p><code>stack exec {{program_name}} -- {{argument}}</code></p>
