<h1 id="standard">standard</h1>
<blockquote>
<p>The JavaScript Standard Style tool for linting and fixing JavaScript code. More information: <a href="https://standardjs.com" class="uri">https://standardjs.com</a>.</p>
</blockquote>
<ul>
<li>Lint all JavaScript source files in the current directory:</li>
</ul>
<p><code>standard</code></p>
<ul>
<li>Lint specific JavaScript file(s):</li>
</ul>
<p><code>standard {{path/to/file(s)}}</code></p>
<ul>
<li>Apply automatic fixes during linting:</li>
</ul>
<p><code>standard --fix</code></p>
<ul>
<li>Declare any available global variables:</li>
</ul>
<p><code>standard --global {{variable}}</code></p>
<ul>
<li>Use a custom ESLint plugin when linting:</li>
</ul>
<p><code>standard --plugin {{plugin}}</code></p>
<ul>
<li>Use a custom JS parser when linting:</li>
</ul>
<p><code>standard --parser {{parser}}</code></p>
<ul>
<li>Use a custom ESLint environment when linting:</li>
</ul>
<p><code>standard --env {{environment}}</code></p>
