<h1 id="stat">stat</h1>
<blockquote>
<p>Display file and filesystem information.</p>
</blockquote>
<ul>
<li>Show file properties such as size, permissions, creation and access dates among others:</li>
</ul>
<p><code>stat {{file}}</code></p>
<ul>
<li>Same as above but in a more concise way:</li>
</ul>
<p><code>stat -t {{file}}</code></p>
<ul>
<li>Show filesystem information:</li>
</ul>
<p><code>stat -f {{file}}</code></p>
<ul>
<li>Show only octal file permissions:</li>
</ul>
<p><code>stat -c "%a %n" {{file}}</code></p>
<ul>
<li>Show owner and group of the file:</li>
</ul>
<p><code>stat -c "%U %G" {{file}}</code></p>
<ul>
<li>Show the size of the file in bytes:</li>
</ul>
<p><code>stat -c "%s %n" {{file}}</code></p>
