<h1 id="stdbuf">stdbuf</h1>
<blockquote>
<p>Run a command with modified buffering operations for its standard streams.</p>
</blockquote>
<ul>
<li>Change the standard input buffer size to 512 KiB:</li>
</ul>
<p><code>stdbuf --input={{512K}} {{command}}</code></p>
<ul>
<li>Change the standard output buffer to line-buffered:</li>
</ul>
<p><code>stdbuf --output={{L}} {{command}}</code></p>
<ul>
<li>Change the standard error buffer to unbuffered:</li>
</ul>
<p><code>stdbuf --error={{0}} {{command}}</code></p>
