<h1 id="stern">stern</h1>
<blockquote>
<p>Tail multiple pods and containers from Kubernetes. More information: <a href="https://github.com/wercker/stern/" class="uri">https://github.com/wercker/stern/</a>.</p>
</blockquote>
<ul>
<li>Tail all pods within a current namespace:</li>
</ul>
<p><code>stern .</code></p>
<ul>
<li>Tail all pods with a specific status:</li>
</ul>
<p><code>stern . --container-state {{running|waiting|terminated}}</code></p>
<ul>
<li>Tail all pods that matches a given regular expression:</li>
</ul>
<p><code>stern {{pod_query}}</code></p>
<ul>
<li>Tail matched pods from all namespaces:</li>
</ul>
<p><code>stern {{pod_query}} --all-namespaces</code></p>
<ul>
<li>Tail matched pods from 15 minutes ago:</li>
</ul>
<p><code>stern {{pod_query}} --since {{15m}}</code></p>
<ul>
<li>Tail matched pods with a specific label:</li>
</ul>
<p><code>stern {{pod_query}} --selector {{release=canary}}</code></p>
