<h1 id="stolon">Stolon</h1>
<blockquote>
<p>A cloud native PostgreSQL manager for PostgreSQL high availability. More information: <a href="https://github.com/sorintlab/stolon" class="uri">https://github.com/sorintlab/stolon</a>.</p>
</blockquote>
<ul>
<li>Get cluster status:</li>
</ul>
<p><code>stolonctl --cluster-name {{cluster_name}} --store-backend {{store_backend}} --store-endpoints {{store_endpoints}} status</code></p>
<ul>
<li>Get cluster data:</li>
</ul>
<p><code>stolonctl --cluster-name {{cluster_name}} --store-backend {{store_backend}} --store-endpoints {{store_endpoints}} clusterdata</code></p>
<ul>
<li>Get cluster specification:</li>
</ul>
<p><code>stolonctl --cluster-name {{cluster_name}} --store-backend {{store_backend}} --store-endpoints {{store_endpoints}} spec</code></p>
<ul>
<li>Update cluster specification with a patch in json format:</li>
</ul>
<p><code>stolonctl --cluster-name {{cluster_name}} --store-backend {{store_backend}} --store-endpoints {{store_endpoints}} update --patch '{{cluster_spec}}'</code></p>
