<h1 id="stow">stow</h1>
<blockquote>
<p>Symlink manager. Often used to manage dotfiles. More information: <a href="https://www.gnu.org/software/stow" class="uri">https://www.gnu.org/software/stow</a>.</p>
</blockquote>
<ul>
<li>Symlink all files recursively to a given directory:</li>
</ul>
<p><code>stow --target={{path/to/target_directory}} {{file1 directory1 file2 directory2}}</code></p>
<ul>
<li>Delete symlinks recursively from a given directory:</li>
</ul>
<p><code>stow --delete --target={{path/to/target_directory}} {{file1 directory1 file2 directory2}}</code></p>
<ul>
<li>Simulate to see what the result would be like:</li>
</ul>
<p><code>stow --simulate --target={{path/to/target_directory}} {{file1 directory1 file2 directory2}}</code></p>
<ul>
<li>Delete and resymlink:</li>
</ul>
<p><code>stow --restow --target={{path/to/target_directory}} {{file1 directory1 file2 directory2}}</code></p>
<ul>
<li>Exclude files matching a regular expression:</li>
</ul>
<p><code>stow --ignore={{regex}} --target={{path/to/target_directory}} {{file1 directory1 file2 directory2}}</code></p>
