<h1 id="strings">strings</h1>
<blockquote>
<p>Find printable strings in an object file or binary.</p>
</blockquote>
<ul>
<li>Print all strings in a binary:</li>
</ul>
<p><code>strings {{file}}</code></p>
<ul>
<li>Limit results to strings at least <em>length</em> characters long:</li>
</ul>
<p><code>strings -n {{length}} {{file}}</code></p>
<ul>
<li>Prefix each result with its offset within the file:</li>
</ul>
<p><code>strings -t d {{file}}</code></p>
<ul>
<li>Prefix each result with its offset within the file in hexadecimal:</li>
</ul>
<p><code>strings -t x {{file}}</code></p>
