<h1 id="su">su</h1>
<blockquote>
<p>Switch shell to another user.</p>
</blockquote>
<ul>
<li>Switch to superuser (admin password required):</li>
</ul>
<p><code>su</code></p>
<ul>
<li>Switch to user {{username}} (password required):</li>
</ul>
<p><code>su {{username}}</code></p>
<ul>
<li>Switch to user {{username}} and simulate a full login shell:</li>
</ul>
<p><code>su - {{username}}</code></p>
