<h1 id="subfinder">subfinder</h1>
<blockquote>
<p>A subdomain discovery tool that discovers valid subdomains for websites. Designed as a passive framework to be useful for bug bounties and safe for penetration testing. More information: <a href="https://github.com/subfinder/subfinder" class="uri">https://github.com/subfinder/subfinder</a>.</p>
</blockquote>
<ul>
<li>Find subdomains for a specific domain:</li>
</ul>
<p><code>subfinder -d {{example.com}}</code></p>
<ul>
<li>Show only the subdomains found:</li>
</ul>
<p><code>subfinder --silent -d {{example.com}}</code></p>
<ul>
<li>Use bruteforcing to find subdomains:</li>
</ul>
<p><code>subfinder -d {{example.com}} -b</code></p>
<ul>
<li>Remove wildcard subdomains:</li>
</ul>
<p><code>subfinder -nW -d {{example.com}}</code></p>
<ul>
<li>Use a given comma-separated list of resolvers:</li>
</ul>
<p><code>subfinder -r {{8.8.8.8}},{{1.1.1.1}} -d {{example.com}}</code></p>
