<h1 id="subl">subl</h1>
<blockquote>
<p>Sublime Text editor. More information: <a href="https://www.sublimetext.com" class="uri">https://www.sublimetext.com</a>.</p>
</blockquote>
<ul>
<li>Open the current directory in Sublime Text:</li>
</ul>
<p><code>subl {{.}}</code></p>
<ul>
<li>Open a file or directory in Sublime Text:</li>
</ul>
<p><code>subl {{path/to/file_or_directory}}</code></p>
<ul>
<li>Open a file and jump to a specific line number:</li>
</ul>
<p><code>subl {{path/to/file}}:{{line_number}}</code></p>
<ul>
<li>Open a file or directory in the currently open window:</li>
</ul>
<p><code>subl -a {{path/to/file}}</code></p>
<ul>
<li>Open a file or directory in a new window:</li>
</ul>
<p><code>subl -n {{path/to/file}}</code></p>
