<h1 id="subliminal">subliminal</h1>
<blockquote>
<p>Python-based subtitle downloader. More information: <a href="https://github.com/Diaoul/subliminal" class="uri">https://github.com/Diaoul/subliminal</a>.</p>
</blockquote>
<ul>
<li>Download English subtitles for a video:</li>
</ul>
<p><code>subliminal download -l {{en}} {{video.ext}}</code></p>
