<h1 id="sudo">sudo</h1>
<blockquote>
<p>Executes a single command as the superuser or another user.</p>
</blockquote>
<ul>
<li>Run a command as the superuser:</li>
</ul>
<p><code>sudo {{less /var/log/syslog}}</code></p>
<ul>
<li>Edit a file as the superuser with your default editor:</li>
</ul>
<p><code>sudo -e {{/etc/fstab}}</code></p>
<ul>
<li>Run a command as another user and/or group:</li>
</ul>
<p><code>sudo -u {{user}} -g {{group}} {{id -a}}</code></p>
<ul>
<li>Repeat the last command prefixed with “sudo” (only in bash, zsh, etc.):</li>
</ul>
<p><code>sudo !!</code></p>
<ul>
<li>Launch the default shell with superuser privileges:</li>
</ul>
<p><code>sudo -i</code></p>
