<h1 id="sum">sum</h1>
<blockquote>
<p>Compute checksums and the number of blocks for a file. A predecessor to the more modern <code>cksum</code>.</p>
</blockquote>
<ul>
<li>Compute a checksum with BSD-compatible algorithm and 1024-byte blocks:</li>
</ul>
<p><code>sum {{file}}</code></p>
<ul>
<li>Compute a checksum with System V-compatible algorithm and 512-byte blocks:</li>
</ul>
<p><code>sum --sysv {{file}}</code></p>
