<h1 id="supervisord">supervisord</h1>
<blockquote>
<p>Supervisor is a client/server system for controlling some processes on UNIX-like operating systems. Supervisord is the server part of supervisor; it is primarily managed via a configuration file. More information: <a href="http://supervisord.org" class="uri">http://supervisord.org</a>.</p>
</blockquote>
<ul>
<li>Start supervisord with specified configuration file:</li>
</ul>
<p><code>supervisord -c {{path/to/file}}</code></p>
<ul>
<li>Run supervisord in the foreground:</li>
</ul>
<p><code>supervisord -n</code></p>
