<h1 id="supervisorctl">supervisorctl</h1>
<blockquote>
<p>Supervisor is a client/server system that allows its users to control a number of processes on UNIX-like operating systems. Supervisorctl is the command-line client piece of the supervisor which provides a shell-like interface. More information: <a href="http://supervisord.org" class="uri">http://supervisord.org</a>.</p>
</blockquote>
<ul>
<li>Start/stop/restart a process:</li>
</ul>
<p><code>supervisorctl {{start|stop|restart}} {{process_name}}</code></p>
<ul>
<li>Start/stop/restart all processes in a group:</li>
</ul>
<p><code>supervisorctl {{start|stop|restart}} {{group_name}}:*</code></p>
<ul>
<li>Show last 100 <strong>bytes</strong> of process <code>stderr</code>:</li>
</ul>
<p><code>supervisorctl tail -100 {{process_name}} stderr</code></p>
<ul>
<li>Keep displaying <code>stdout</code> of a process:</li>
</ul>
<p><code>supervisorctl tail -f {{process_name}} stdout</code></p>
<ul>
<li>Reload process config file to add/remove processes as necessary:</li>
</ul>
<p><code>supervisorctl update</code></p>
