<h1 id="surge">surge</h1>
<blockquote>
<p>Simple command line web publishing. More information: <a href="https://surge.sh" class="uri">https://surge.sh</a>.</p>
</blockquote>
<ul>
<li>Upload a new site to surge.sh:</li>
</ul>
<p><code>surge {{path/to/my_project}}</code></p>
<ul>
<li>Deploy site to custom domain (note that the DNS records must point to the surge.sh subdomain):</li>
</ul>
<p><code>surge {{path/to/my_project}} {{my_custom_domain.com}}</code></p>
<ul>
<li>List your surge projects:</li>
</ul>
<p><code>surge list</code></p>
<ul>
<li>Remove a project:</li>
</ul>
<p><code>surge teardown {{my_custom_domain.com}}</code></p>
