<h1 id="svgcleaner">svgcleaner</h1>
<blockquote>
<p>SVG image optimizing utility. More information: <a href="https://github.com/RazrFalcon/svgcleaner" class="uri">https://github.com/RazrFalcon/svgcleaner</a>.</p>
</blockquote>
<ul>
<li>Optimize an SVG image:</li>
</ul>
<p><code>svgcleaner {{input.svg}} {{output.svg}}</code></p>
<ul>
<li>Optimize an SVG image multiple times:</li>
</ul>
<p><code>svgcleaner --multipass {{input.svg}} {{output.svg}}</code></p>
