<h1 id="svgo">svgo</h1>
<blockquote>
<p>SVG Optimizer: a Node.js-based tool for optimizing Scalable Vector Graphics files. It applies a series of transformation rules (plugins), which can be toggled individually. More information: <a href="https://github.com/svg/svgo" class="uri">https://github.com/svg/svgo</a>.</p>
</blockquote>
<ul>
<li>Optimize a file using the default plugins (overwrites the original file):</li>
</ul>
<p><code>svgo {{test.svg}}</code></p>
<ul>
<li>Optimize a file and save the result to another file:</li>
</ul>
<p><code>svgo {{test.svg}} {{test.min.svg}}</code></p>
<ul>
<li>Optimize all SVG files within a directory (overwrites the original files):</li>
</ul>
<p><code>svgo -f {{path/to/directory/with/svg/files}}</code></p>
<ul>
<li>Optimize all SVG files within a directory and save the resulting files to another directory:</li>
</ul>
<p><code>svgo -f {{path/to/input/directory}} -o {{path/to/output/directory}}</code></p>
<ul>
<li>Optimize SVG content passed from another command, and save the result to a file:</li>
</ul>
<p><code>{{cat test.svg}} | svgo -i - -o {{test.min.svg}}</code></p>
<ul>
<li>Optimize a file and print out the result:</li>
</ul>
<p><code>svgo {{test.svg}} -o -</code></p>
<ul>
<li>Optimize a file making sure a given plugin is enabled:</li>
</ul>
<p><code>svgo --enable={{plugin_name}}</code></p>
<ul>
<li>Show available plugins:</li>
</ul>
<p><code>svgo --show-plugins</code></p>
