<h1 id="svn">svn</h1>
<blockquote>
<p>Subversion command line client tool. More information: <a href="https://subversion.apache.org" class="uri">https://subversion.apache.org</a>.</p>
</blockquote>
<ul>
<li>Check out a working copy from a repository:</li>
</ul>
<p><code>svn co {{url/to/repository}}</code></p>
<ul>
<li>Bring changes from the repository into the working copy:</li>
</ul>
<p><code>svn up</code></p>
<ul>
<li>Put files and directories under version control, scheduling them for addition to repository. They will be added in next commit:</li>
</ul>
<p><code>svn add {{PATH}}</code></p>
<ul>
<li>Send changes from your working copy to the repository:</li>
</ul>
<p><code>svn ci -m {{commit log message}} [{{PATH}}]</code></p>
<ul>
<li>Display changes from the last 10 revisions, showing modified files for each revision:</li>
</ul>
<p><code>svn log -vl {{10}}</code></p>
<ul>
<li>Show detailed help:</li>
</ul>
<p><code>svn help</code></p>
