<h1 id="swagger-codegen">swagger-codegen</h1>
<blockquote>
<p>Generate code and documentation for your REST api from a OpenAPI/swagger definition. More information: <a href="https://github.com/swagger-api/swagger-codegen" class="uri">https://github.com/swagger-api/swagger-codegen</a>.</p>
</blockquote>
<ul>
<li>Generate documentation and code from an OpenAPI/swagger file:</li>
</ul>
<p><code>swagger-codegen generate -i {{swagger_file}} -l {{language}}</code></p>
<ul>
<li>Generate java code using the library retrofit2 and the option useRxJava2:</li>
</ul>
<p><code>swagger-codegen generate -i {{http://petstore.swagger.io/v2/swagger.json}} -l {{java}} --library {{retrofit2}} -D{{useRxJava2}}={{true}}</code></p>
<ul>
<li>List available languages:</li>
</ul>
<p><code>swagger-codegen langs</code></p>
<ul>
<li>Display help options for the generate command:</li>
</ul>
<p><code>swagger-codegen help {{generate}}</code></p>
