<h1 id="swift">swift</h1>
<blockquote>
<p>Create, run and build Swift projects. More information: <a href="https://swift.org" class="uri">https://swift.org</a>.</p>
</blockquote>
<ul>
<li>Invoke the interactive interpreter (REPL):</li>
</ul>
<p><code>swift</code></p>
<ul>
<li>Execute a program:</li>
</ul>
<p><code>swift {{file.swift}}</code></p>
<ul>
<li>Start a new project with the package manager:</li>
</ul>
<p><code>swift package init</code></p>
<ul>
<li>Generate an Xcode project file:</li>
</ul>
<p><code>swift package generate-xcodeproj</code></p>
<ul>
<li>Update dependencies:</li>
</ul>
<p><code>swift package update</code></p>
<ul>
<li>Compile project for release:</li>
</ul>
<p><code>swift build -c release</code></p>
