<h1 id="symfony">symfony</h1>
<blockquote>
<p>The console component for the Symfony framework. More information: <a href="https://symfony.com" class="uri">https://symfony.com</a>.</p>
</blockquote>
<ul>
<li>Create a new Symfony project:</li>
</ul>
<p><code>symfony new {{name}}</code></p>
<ul>
<li>Run a local web server:</li>
</ul>
<p><code>symfony serve</code></p>
<ul>
<li>Stop the local web server:</li>
</ul>
<p><code>symfony server:stop</code></p>
<ul>
<li>Check for security issues in the project’s dependencies:</li>
</ul>
<p><code>symfony security:check</code></p>
