<h1 id="sync">sync</h1>
<blockquote>
<p>Flushes all pending write operations to the appropriate disks.</p>
</blockquote>
<ul>
<li>Flush all pending write operations on all disks:</li>
</ul>
<p><code>sync</code></p>
<ul>
<li>Flush all pending write operations on a single file to disk:</li>
</ul>
<p><code>sync {{path/to/file}}</code></p>
