<h1 id="tabula">tabula</h1>
<blockquote>
<p>Extract tables from PDF files. More information: <a href="https://tabula.technology" class="uri">https://tabula.technology</a>.</p>
</blockquote>
<ul>
<li>Extract all tables from a PDF to a CSV file:</li>
</ul>
<p><code>tabula -o {{file.csv}} {{file.pdf}}</code></p>
<ul>
<li>Extract all tables from a PDF to a JSON file:</li>
</ul>
<p><code>tabula --format JSON -o {{file.json}} {{file.pdf}}</code></p>
<ul>
<li>Extract tables from pages 1, 2, 3, and 6 of a PDF:</li>
</ul>
<p><code>tabula --pages {{1-3,6}} {{file.pdf}}</code></p>
<ul>
<li>Extract tables from page 1 of a PDF, guessing which portion of the page to examine:</li>
</ul>
<p><code>tabula --guess --pages {{1}} {{file.pdf}}</code></p>
<ul>
<li>Extract all tables from a PDF, using ruling lines to determine cell boundaries:</li>
</ul>
<p><code>tabula --spreadsheet {{file.pdf}}</code></p>
<ul>
<li>Extract all tables from a PDF, using blank space to determine cell boundaries:</li>
</ul>
<p><code>tabula --no-spreadsheet {{file.pdf}}</code></p>
