<h1 id="tac">tac</h1>
<blockquote>
<p>Print and concatenate files in reverse.</p>
</blockquote>
<ul>
<li>Print the contents of <em>file1</em> reversed to the standard output:</li>
</ul>
<p><code>tac {{file1}}</code></p>
<ul>
<li>Concatenate several files reversed into the target file:</li>
</ul>
<p><code>tac {{file1}} {{file2}} &gt; {{target_file}}</code></p>
