<h1 id="tail">tail</h1>
<blockquote>
<p>Display the last part of a file.</p>
</blockquote>
<ul>
<li>Show last ‘num’ lines in file:</li>
</ul>
<p><code>tail -n {{num}} {{file}}</code></p>
<ul>
<li>Show all file since line ‘num’:</li>
</ul>
<p><code>tail -n +{{num}} {{file}}</code></p>
<ul>
<li>Show last ‘num’ bytes in file:</li>
</ul>
<p><code>tail -c {{num}} {{file}}</code></p>
<ul>
<li>Keep reading file until <code>Ctrl + C</code>:</li>
</ul>
<p><code>tail -f {{file}}</code></p>
<ul>
<li>Keep reading file until <code>Ctrl + C</code>, even if the file is rotated:</li>
</ul>
<p><code>tail -F {{file}}</code></p>
