<h1 id="tar">tar</h1>
<blockquote>
<p>Archiving utility. Often combined with a compression method, such as gzip or bzip. More information: <a href="https://www.gnu.org/software/tar" class="uri">https://www.gnu.org/software/tar</a>.</p>
</blockquote>
<ul>
<li>Create an archive from files:</li>
</ul>
<p><code>tar cf {{target.tar}} {{file1}} {{file2}} {{file3}}</code></p>
<ul>
<li>Create a gzipped archive:</li>
</ul>
<p><code>tar czf {{target.tar.gz}} {{file1}} {{file2}} {{file3}}</code></p>
<ul>
<li>Extract a (compressed) archive into the current directory:</li>
</ul>
<p><code>tar xf {{source.tar[.gz|.bz2|.xz]}}</code></p>
<ul>
<li>Extract an archive into a target directory:</li>
</ul>
<p><code>tar xf {{source.tar}} -C {{directory}}</code></p>
<ul>
<li>Create a compressed archive, using archive suffix to determine the compression program:</li>
</ul>
<p><code>tar caf {{target.tar.xz}} {{file1}} {{file2}} {{file3}}</code></p>
<ul>
<li>List the contents of a tar file:</li>
</ul>
<p><code>tar tvf {{source.tar}}</code></p>
<ul>
<li>Extract files matching a pattern:</li>
</ul>
<p><code>tar xf {{source.tar}} --wildcards {{"*.html"}}</code></p>
