<h1 id="task">task</h1>
<blockquote>
<p>TODO list manager.</p>
</blockquote>
<ul>
<li>Add new task:</li>
</ul>
<p><code>task add {{thing_to_do}}</code></p>
<ul>
<li>List tasks:</li>
</ul>
<p><code>task list</code></p>
<ul>
<li>Mark task as completed:</li>
</ul>
<p><code>task {{task_id}} done</code></p>
<ul>
<li>Modify task:</li>
</ul>
<p><code>task {{task_id}} modify {{new_thing_to_do}}</code></p>
<ul>
<li>Delete task:</li>
</ul>
<p><code>task {{task_id}} delete</code></p>
