<h1 id="tb">tb</h1>
<blockquote>
<p>CLI for managing tasks and notes across multiple boards. More information: <a href="https://github.com/klaussinani/taskbook" class="uri">https://github.com/klaussinani/taskbook</a>.</p>
</blockquote>
<ul>
<li>Add a new task to a board:</li>
</ul>
<p><code>tb --task {{task description}} @{{board_name}}</code></p>
<ul>
<li>Add a new note to a board:</li>
</ul>
<p><code>tb --note {{note description}} @{{board_name}}</code></p>
<ul>
<li>Edit item’s priority:</li>
</ul>
<p><code>tb --priority @{{item_id}} {{priority}}</code></p>
<ul>
<li>Check/uncheck item:</li>
</ul>
<p><code>tb --check {{item_id}}</code></p>
<ul>
<li>Archive all checked items:</li>
</ul>
<p><code>tb --clear</code></p>
<ul>
<li>Move item to a board:</li>
</ul>
<p><code>tb --move @{{item_id}} {{board_name}}</code></p>
