<h1 id="tcpdump">tcpdump</h1>
<blockquote>
<p>Dump traffic on a network. More information: <a href="https://www.tcpdump.org" class="uri">https://www.tcpdump.org</a>.</p>
</blockquote>
<ul>
<li>List available network interfaces:</li>
</ul>
<p><code>tcpdump -D</code></p>
<ul>
<li>Capture the traffic of a specific interface:</li>
</ul>
<p><code>tcpdump -i {{eth0}}</code></p>
<ul>
<li>Capture all TCP traffic showing contents (ASCII) in console:</li>
</ul>
<p><code>tcpdump -A tcp</code></p>
<ul>
<li>Capture the traffic from or to a host:</li>
</ul>
<p><code>tcpdump host {{www.example.com}}</code></p>
<ul>
<li>Capture the traffic from a specific interface, source, destination and destination port:</li>
</ul>
<p><code>tcpdump -i {{eth0}} src {{192.168.1.1}} and dst {{192.168.1.2}} and dst port {{80}}</code></p>
<ul>
<li>Capture the traffic of a network:</li>
</ul>
<p><code>tcpdump net {{192.168.1.0/24}}</code></p>
<ul>
<li>Capture all traffic except traffic over port 22 and save to a dump file:</li>
</ul>
<p><code>tcpdump -w {{dumpfile.pcap}} not port {{22}}</code></p>
<ul>
<li>Read from a given dump file:</li>
</ul>
<p><code>tcpdump -r {{dumpfile.pcap}}</code></p>
