<h1 id="tee">tee</h1>
<blockquote>
<p>Read from standard input and write to standard output and files (or commands).</p>
</blockquote>
<ul>
<li>Copy standard input to each FILE, and also to standard output:</li>
</ul>
<p><code>echo "example" | tee {{FILE}}</code></p>
<ul>
<li>Append to the given FILEs, do not overwrite:</li>
</ul>
<p><code>echo "example" | tee -a {{FILE}}</code></p>
<ul>
<li>Print standard input to the terminal, and also pipe it into another program for further processing:</li>
</ul>
<p><code>echo "example" | tee {{/dev/tty}} | {{xargs printf "[%s]"}}</code></p>
<ul>
<li>Create a directory called “example”, count the number of characters in “example” and write “example” to the terminal:</li>
</ul>
<p><code>echo "example" | tee &gt;(xargs mkdir) &gt;(wc -c)</code></p>
