<h1 id="telnet">telnet</h1>
<blockquote>
<p>Connect to a specified port of a host using the telnet protocol.</p>
</blockquote>
<ul>
<li>Telnet to the default port of a host:</li>
</ul>
<p><code>telnet {{host}}</code></p>
<ul>
<li>Telnet to a specific port of a host:</li>
</ul>
<p><code>telnet {{ip_address}} {{port}}</code></p>
<ul>
<li>Exit a telnet session:</li>
</ul>
<p><code>quit</code></p>
<ul>
<li>Emit the default escape character combination for terminating the session:</li>
</ul>
<p><code>Ctrl + ]</code></p>
<ul>
<li>Start telnet with “x” as the session termination character:</li>
</ul>
<p><code>telnet -e {{x}} {{ip_address}} {{port}}</code></p>
