<h1 id="terminalizer">terminalizer</h1>
<blockquote>
<p>Utility program which records the terminal and generate animated gifs or share a video. More information: <a href="https://terminalizer.com" class="uri">https://terminalizer.com</a>.</p>
</blockquote>
<ul>
<li>Create the global config directory:</li>
</ul>
<p><code>terminalizer init</code></p>
<ul>
<li>Record the terminal and create a recording file:</li>
</ul>
<p><code>terminalizer record {{file_name}}</code></p>
<ul>
<li>Play a recorded file on the terminal:</li>
</ul>
<p><code>terminalizer play {{file_name}}</code></p>
<ul>
<li>Render a recording file as an animated gif image:</li>
</ul>
<p><code>terminalizer render {{file_name}}</code></p>
<ul>
<li>Upload a video to terminalizer.com:</li>
</ul>
<p><code>terminalizer share {{file_name}}</code></p>
