<h1 id="tesseract">tesseract</h1>
<blockquote>
<p>OCR (Optical Character Recognition) engine. More information: <a href="https://github.com/tesseract-ocr/tesseract" class="uri">https://github.com/tesseract-ocr/tesseract</a>.</p>
</blockquote>
<ul>
<li>Recognize text in an image and save it to <code>output.txt</code> (the ‘.txt’ extension is added automatically):</li>
</ul>
<p><code>tesseract {{image.png}} {{output}}</code></p>
<ul>
<li>Specify a custom language (default is English) with an ISO 639-2 code (e.g. deu = Deutsch = German):</li>
</ul>
<p><code>tesseract -l deu {{image.png}} {{output}}</code></p>
<ul>
<li>List the ISO 639-2 codes of available languages:</li>
</ul>
<p><code>tesseract --list-langs</code></p>
<ul>
<li>Specify a custom page segmentation mode (default is 3):</li>
</ul>
<p><code>tesseract -psm {{0_to_10}} {{image.png}} {{output}}</code></p>
<ul>
<li>List page segmentation modes and their descriptions:</li>
</ul>
<p><code>tesseract --help-psm</code></p>
