<h1 id="test">test</h1>
<blockquote>
<p>Evaluate condition. If it is true, returns 0 exit status, otherwise returns 1.</p>
</blockquote>
<ul>
<li>Test if given variable is equal to given string:</li>
</ul>
<p><code>test $MY_VAR == '/bin/zsh'</code></p>
<ul>
<li>Test if given variable is empty:</li>
</ul>
<p><code>test -z $GIT_BRANCH</code></p>
<ul>
<li>Test if file exists:</li>
</ul>
<p><code>test -e {{filename}}</code></p>
<ul>
<li>Test if directory not exists:</li>
</ul>
<p><code>test ! -d {{path/to/directory}}</code></p>
<ul>
<li>If-else statement:</li>
</ul>
<p><code>test {{condition}} &amp;&amp; echo "true" || echo "false"</code></p>
