<h1 id="thundebird">thundebird</h1>
<blockquote>
<p>Email client and RSS reader.</p>
</blockquote>
<ul>
<li>Open thunderbird:</li>
</ul>
<p><code>thunderbird</code></p>
<ul>
<li>Use a specific user profile directory:</li>
</ul>
<p><code>thunderbird -P {{path/to/profile/directory}}</code></p>
