<h1 id="tig">tig</h1>
<blockquote>
<p>A text-mode interface for Git. More information: <a href="https://github.com/jonas/tig" class="uri">https://github.com/jonas/tig</a>.</p>
</blockquote>
<ul>
<li>Show the sequence of commits starting from the current one in reverse chronological order:</li>
</ul>
<p><code>tig</code></p>
<ul>
<li>Show the history of a specific branch:</li>
</ul>
<p><code>tig {{branch}}</code></p>
<ul>
<li>Show the history of specific files or directories:</li>
</ul>
<p><code>tig {{path1 path2 …}}</code></p>
<ul>
<li>Show the difference between two references (such as branches or tags):</li>
</ul>
<p><code>tig {{base_ref}}..{{compared_ref}}</code></p>
<ul>
<li>Display commits from all branches and stashes:</li>
</ul>
<p><code>tig --all</code></p>
<ul>
<li>Start in stash view, displaying all saved stashes:</li>
</ul>
<p><code>tig stash</code></p>
