<h1 id="timeout">timeout</h1>
<blockquote>
<p>Run a command with a time limit.</p>
</blockquote>
<ul>
<li>Run <code>sleep 10</code> and terminate it, if it runs for more than 3 seconds:</li>
</ul>
<p><code>timeout {{3s}} {{sleep 10}}</code></p>
<ul>
<li>Specify the signal to be sent to the command after the time limit expires. (By default, TERM is sent):</li>
</ul>
<p><code>timeout --signal {{INT}} {{5s}} {{sleep 10}}</code></p>
