<h1 id="timew">timew</h1>
<blockquote>
<p>A time tracking tool used to measure the duration of activities. More information: <a href="https://taskwarrior.org/docs/timewarrior" class="uri">https://taskwarrior.org/docs/timewarrior</a>.</p>
</blockquote>
<ul>
<li>Start a new stopwatch, giving a tag name to the activity being tracked:</li>
</ul>
<p><code>timew start {{activity_tag}}</code></p>
<ul>
<li>View running stopwatches:</li>
</ul>
<p><code>timew</code></p>
<ul>
<li>Stop the stopwatch with a given tag name:</li>
</ul>
<p><code>timew stop {{activity_tag}}</code></p>
<ul>
<li>Stop all running stopwatches:</li>
</ul>
<p><code>timew stop</code></p>
<ul>
<li>View tracked items:</li>
</ul>
<p><code>timew summary</code></p>
