<h1 id="tldrl">tldrl</h1>
<blockquote>
<p>Lint and format TLDR pages. More information: <a href="https://github.com/tldr-pages/tldr-lint" class="uri">https://github.com/tldr-pages/tldr-lint</a>.</p>
</blockquote>
<ul>
<li>Lint all pages:</li>
</ul>
<p><code>tldrl {{pages_directory}}</code></p>
<ul>
<li>Format a specific page to <code>stdout</code>:</li>
</ul>
<p><code>tldrl -f {{page.md}}</code></p>
<ul>
<li>Format all pages in place:</li>
</ul>
<p><code>tldrl -fi {{pages_directory}}</code></p>
