<h1 id="tldr">tldr</h1>
<blockquote>
<p>Simplified man pages. More information: <a href="https://tldr.sh" class="uri">https://tldr.sh</a>.</p>
</blockquote>
<ul>
<li>Get typical usages of a command (hint: this is how you got here!):</li>
</ul>
<p><code>tldr {{command}}</code></p>
<ul>
<li>Show the tar tldr page for linux:</li>
</ul>
<p><code>tldr -p {{linux}} {{tar}}</code></p>
<ul>
<li>Get help for a git subcommand:</li>
</ul>
<p><code>tldr {{git checkout}}</code></p>
