<h1 id="tmux">tmux</h1>
<blockquote>
<p>Multiplex several virtual consoles. More information: <a href="https://github.com/tmux/tmux" class="uri">https://github.com/tmux/tmux</a>.</p>
</blockquote>
<ul>
<li>Start a new tmux session:</li>
</ul>
<p><code>tmux</code></p>
<ul>
<li>Start a new named tmux session:</li>
</ul>
<p><code>tmux new -s {{name}}</code></p>
<ul>
<li>List sessions:</li>
</ul>
<p><code>tmux ls</code></p>
<ul>
<li>Attach to a session:</li>
</ul>
<p><code>tmux a</code></p>
<ul>
<li>Attach to a named session:</li>
</ul>
<p><code>tmux a -t {{name}}</code></p>
<ul>
<li>Detach from session:</li>
</ul>
<p><code>Ctrl + B, D</code></p>
<ul>
<li>Kill session:</li>
</ul>
<p><code>tmux kill-session -t {{name}}</code></p>
<ul>
<li>Kill session when attached:</li>
</ul>
<p><code>Ctrl + B, x (then hit 'y' for yes)</code></p>
