<h1 id="tokei">tokei</h1>
<blockquote>
<p>A program that prints out statistics about code. More information: <a href="https://github.com/XAMPPRocky/tokei" class="uri">https://github.com/XAMPPRocky/tokei</a>.</p>
</blockquote>
<ul>
<li>Get a report on the code in a directory and all subdirectories:</li>
</ul>
<p><code>tokei {{path/to/directory}}</code></p>
<ul>
<li>Get a report for a directory excluding <code>.min.js</code> files:</li>
</ul>
<p><code>tokei {{path/to/directory}} -e {{*.min.js}}</code></p>
<ul>
<li>Print out statistics for individual files in a directory:</li>
</ul>
<p><code>tokei {{path/to/directory}} --files</code></p>
<ul>
<li>Get a report for all files of type Rust and Markdown:</li>
</ul>
<p><code>tokei {{path/to/directory}} -t={{Rust}},{{Markdown}}</code></p>
