<h1 id="touch">touch</h1>
<blockquote>
<p>Change a file access and modification times (atime, mtime).</p>
</blockquote>
<ul>
<li>Create a new empty file(s) or change the times for existing file(s) to current time:</li>
</ul>
<p><code>touch {{filename}}</code></p>
<ul>
<li>Set the times on a file to a specific date and time:</li>
</ul>
<p><code>touch -t {{YYYYMMDDHHMM.SS}} {{filename}}</code></p>
<ul>
<li>Use the times from a file to set the times on a second file:</li>
</ul>
<p><code>touch -r {{filename}} {{filename2}}</code></p>
