<h1 id="tox">tox</h1>
<blockquote>
<p>Automate Python testing across multiple Python versions. Use tox.ini to configure environments and test command. More information: <a href="https://github.com/tox-dev/tox" class="uri">https://github.com/tox-dev/tox</a>.</p>
</blockquote>
<ul>
<li>Run tests on all test environments:</li>
</ul>
<p><code>tox</code></p>
<ul>
<li>Create a tox.ini configuration:</li>
</ul>
<p><code>tox-quickstart</code></p>
<ul>
<li>List the available environments:</li>
</ul>
<p><code>tox --listenvs-all</code></p>
<ul>
<li>Run tests on a specific environment (e.g. python 3.6):</li>
</ul>
<p><code>tox -e {{py36}}</code></p>
<ul>
<li>Force the virtual environment to be recreated:</li>
</ul>
<p><code>tox --recreate -e {{py27}}</code></p>
