<h1 id="tpp">tpp</h1>
<blockquote>
<p>Command-Line based presentation tool. More information: <a href="https://github.com/cbbrowne/tpp" class="uri">https://github.com/cbbrowne/tpp</a>.</p>
</blockquote>
<ul>
<li>View a presentation:</li>
</ul>
<p><code>tpp {{filename}}</code></p>
<ul>
<li>Output a presentation:</li>
</ul>
<p><code>tpp -t {{type}} -o {{outputname}} {{filename}}</code></p>
