<h1 id="tput">tput</h1>
<blockquote>
<p>View and modify terminal settings and capabilities.</p>
</blockquote>
<ul>
<li>Move the cursor to a screen location:</li>
</ul>
<p><code>tput cup {{y_coordinate}} {{x_coordinate}}</code></p>
<ul>
<li>Set foreground (af) or background (ab) color:</li>
</ul>
<p><code>tput {{setaf|setab}} {{ansi_color_code}}</code></p>
<ul>
<li>Show number of columns, lines, or colors:</li>
</ul>
<p><code>tput {{cols|lines|colors}}</code></p>
<ul>
<li>Ring the terminal bell:</li>
</ul>
<p><code>tput bel</code></p>
<ul>
<li>Reset all terminal attributes:</li>
</ul>
<p><code>tput sgr0</code></p>
<ul>
<li>Enable / Disable word wrap:</li>
</ul>
<p><code>tput {{smam|rmam}}</code></p>
