<h1 id="tr">tr</h1>
<blockquote>
<p>Translate characters: run replacements based on single characters and character sets.</p>
</blockquote>
<ul>
<li>Replace all occurrences of a character in a file, and print the result:</li>
</ul>
<p><code>tr {{find_character}} {{replace_character}} &lt; {{filename}}</code></p>
<ul>
<li>Replace all occurrences of a character from another command’s output:</li>
</ul>
<p><code>echo {{text}} | tr {{find_character}} {{replace_character}}</code></p>
<ul>
<li>Map each character of the first set to the corresponding character of the second set:</li>
</ul>
<p><code>tr '{{abcd}}' '{{jkmn}}' &lt; {{filename}}</code></p>
<ul>
<li>Delete all occurrences of the specified set of characters from the input:</li>
</ul>
<p><code>tr -d '{{input_characters}}' &lt; {{filename}}</code></p>
<ul>
<li>Compress a series of identical characters to a single character:</li>
</ul>
<p><code>tr -s '{{input_characters}}' &lt; {{filename}}</code></p>
<ul>
<li>Translate the contents of a file to upper-case:</li>
</ul>
<p><code>tr "[:lower:]" "[:upper:]" &lt; {{filename}}</code></p>
<ul>
<li>Strip out non-printable characters from a file:</li>
</ul>
<p><code>tr -cd "[:print:]" &lt; {{filename}}</code></p>
