<h1 id="traceroute">traceroute</h1>
<blockquote>
<p>Print the route packets trace to network host.</p>
</blockquote>
<ul>
<li>Traceroute to a host:</li>
</ul>
<p><code>traceroute {{host}}</code></p>
<ul>
<li>Disable IP address and host name mapping:</li>
</ul>
<p><code>traceroute -n {{host}}</code></p>
<ul>
<li>Specify wait time for response:</li>
</ul>
<p><code>traceroute -w {{0.5}} {{host}}</code></p>
<ul>
<li>Specify number of queries per hop:</li>
</ul>
<p><code>traceroute -q {{5}} {{host}}</code></p>
<ul>
<li>Specify size in bytes of probing packet:</li>
</ul>
<p><code>traceroute {{host}} {{42}}</code></p>
