<h1 id="traefik">traefik</h1>
<blockquote>
<p>A HTTP reverse proxy and load balancer. More information: <a href="https://traefik.io" class="uri">https://traefik.io</a>.</p>
</blockquote>
<ul>
<li>Start server with default config:</li>
</ul>
<p><code>traefik</code></p>
<ul>
<li>Start server with a custom config file:</li>
</ul>
<p><code>traefik --c {{config_file}}.toml</code></p>
<ul>
<li>Start server with cluster mode enabled:</li>
</ul>
<p><code>traefik --cluster</code></p>
<ul>
<li>Start server with web UI enabled:</li>
</ul>
<p><code>traefik --web</code></p>
