<h1 id="transcode">transcode</h1>
<blockquote>
<p>Transcode video and audio codecs, and convert between media formats.</p>
</blockquote>
<ul>
<li>Create stabilisation file to be able to remove camera shakes:</li>
</ul>
<p><code>transcode -J stabilize -i {{input_file}}</code></p>
<ul>
<li>Remove camera shakes after creating stabilisation file, transform video using xvid:</li>
</ul>
<p><code>transcode -J transform -i {{input_file}} -y xvid -o {{output_file}}</code></p>
<ul>
<li>Resize the video to 640x480 pixels and convert to MPEG4 codec using xvid:</li>
</ul>
<p><code>transcode -Z 640x480 -i {{input_file}} -y xvid -o {{output_file}}</code></p>
