<h1 id="trans">trans</h1>
<blockquote>
<p>Translate Shell is a command-line translator. More information: <a href="https://github.com/soimort/translate-shell" class="uri">https://github.com/soimort/translate-shell</a>.</p>
</blockquote>
<ul>
<li>Translate a word (language is detected automatically):</li>
</ul>
<p><code>trans "{{word_or_sentence_to_translate}}"</code></p>
<ul>
<li>Get a brief translation:</li>
</ul>
<p><code>trans --brief "{{word_or_sentence_to_translate}}"</code></p>
<ul>
<li>Translate a word into french:</li>
</ul>
<p><code>trans :{{fr}} {{word}}</code></p>
<ul>
<li>Translate a word from German to English:</li>
</ul>
<p><code>trans {{de}}:{{en}} {{Schmetterling}}</code></p>
<ul>
<li>Behave like a dictionary to get the meaning of a word:</li>
</ul>
<p><code>trans -d {{word}}</code></p>
