<h1 id="transmission-cli">transmission-cli</h1>
<blockquote>
<p>A lightweight, command-line BitTorrent client. This tool has been deprecated, please see <code>transmission-remote</code>. More information: <a href="https://transmissionbt.com" class="uri">https://transmissionbt.com</a>.</p>
</blockquote>
<ul>
<li>Download a specific torrent:</li>
</ul>
<p><code>transmission-cli {{url|magnet|path/to/file}}</code></p>
<ul>
<li>Download a torrent to a specific directory:</li>
</ul>
<p><code>transmission-cli --download-dir {{path/to/download_directory}} {{url|magnet|path/to/file}}</code></p>
<ul>
<li>Create a torrent file from a specific file or directory:</li>
</ul>
<p><code>transmission-cli --new {{path/to/source_file_or_directory}}</code></p>
<ul>
<li>Set the download speed limit to 50 KB/s:</li>
</ul>
<p><code>transmission-cli --downlimit {{50}} {{url|magnet|path/to/file}}</code></p>
<ul>
<li>Set the upload speed limit to 50 KB/s:</li>
</ul>
<p><code>transmission-cli --uplimit {{50}} {{url|magnet|path/to/file}}</code></p>
<ul>
<li>Use a specific port for connections:</li>
</ul>
<p><code>transmission-cli --port {{port_number}} {{url|magnet|path/to/file}}</code></p>
<ul>
<li>Force encryption for peer connections:</li>
</ul>
<p><code>transmission-cli --encryption-required {{url|magnet|path/to/file}}</code></p>
<ul>
<li>Use a Bluetack-formatted peer blocklist:</li>
</ul>
<p><code>transmission-cli --blocklist {{blocklist_url|path/to/blocklist}} {{url|magnet|path/to/file}}</code></p>
