<h1 id="transmission-remote">transmission-remote</h1>
<blockquote>
<p>Remote control utility for transmission-daemon and transmission. More information: <a href="https://transmissionbt.com" class="uri">https://transmissionbt.com</a>.</p>
</blockquote>
<ul>
<li>Add a torrent file or magnet link to Transmission and download to a specified directory:</li>
</ul>
<p><code>transmission-remote {{hostname}} -a {{torrent|url}} -w {{path/to/download_directory}}</code></p>
<ul>
<li>Change the default download directory:</li>
</ul>
<p><code>transmission-remote {{hostname}} -w {{path/to/download_directory}}</code></p>
<ul>
<li>List all torrents:</li>
</ul>
<p><code>transmission-remote {{hostname}} --list</code></p>
<ul>
<li>Start torrent 1 and 2, stop torrent 3:</li>
</ul>
<p><code>transmission-remote {{hostname}} -t {{"1,2"}} --start -t {{3}} --stop</code></p>
<ul>
<li>Remove torrent 1 and 2, and also delete local data for torrent 2:</li>
</ul>
<p><code>transmission-remote {{hostname}} -t {{1}} --remove -t {{2}} --remove-and-delete</code></p>
<ul>
<li>Stop all torrents:</li>
</ul>
<p><code>transmission-remote {{hostname}} -t {{all}} --stop</code></p>
<ul>
<li>Move torrents 1-10 and 15-20 to a new folder (folder will be created if it does not exist):</li>
</ul>
<p><code>transmission-remote {{hostname}} -t {{"1-10,15-20"}} --move {{path/to/new_directory}}</code></p>
