<h1 id="trash-cli">trash-cli</h1>
<blockquote>
<p>A command line interface to the trashcan APIs. More information: <a href="https://github.com/andreafrancia/trash-cli" class="uri">https://github.com/andreafrancia/trash-cli</a>.</p>
</blockquote>
<ul>
<li>Trash files and directories:</li>
</ul>
<p><code>trash-put {{file_name}}</code></p>
<ul>
<li>Empty the trashcan:</li>
</ul>
<p><code>trash-empty</code></p>
<ul>
<li>List trashed files:</li>
</ul>
<p><code>trash-list</code></p>
<ul>
<li>Restore a trashed file by choosing a number from the list that results from this command:</li>
</ul>
<p><code>trash-restore</code></p>
<ul>
<li>Remove individual files from the trashcan:</li>
</ul>
<p><code>trash-rm {{file_name}}</code></p>
