<h1 id="truncate">truncate</h1>
<blockquote>
<p>Shrink or extend the size of a file to the specified size.</p>
</blockquote>
<ul>
<li>Set a size of 10 GB to an exsting file, or create a new file with the specified size:</li>
</ul>
<p><code>truncate -s {{10G}} {{filename}}</code></p>
<ul>
<li>Extend the file size by 50M, fill with holes (which reads as zero bytes):</li>
</ul>
<p><code>truncate -s +{{50M}} {{filename}}</code></p>
<ul>
<li>Shrink the file by 2GiB, by removing data from the end of file:</li>
</ul>
<p><code>truncate -s -{{2G}} {{filename}</code></p>
