<h1 id="tsc">tsc</h1>
<blockquote>
<p>TypeScript compiler. More information: <a href="https://www.typescriptlang.org/docs/handbook/compiler-options.html" class="uri">https://www.typescriptlang.org/docs/handbook/compiler-options.html</a>.</p>
</blockquote>
<ul>
<li>Compile a TypeScript file <code>foobar.ts</code> into a JavaScript file <code>foobar.js</code>:</li>
</ul>
<p><code>tsc {{foobar.ts}}</code></p>
<ul>
<li>Compile a TypeScript file into JavaScript using a specific target syntax (default is <code>ES3</code>):</li>
</ul>
<p><code>tsc --target {{ES5|ES2015|ES2016|ES2017|ES2018|ESNEXT}} {{foobar.ts}}</code></p>
<ul>
<li>Compile a TypeScript file into a JavaScript file with a custom name:</li>
</ul>
<p><code>tsc --outFile {{output.js}} {{input.ts}}</code></p>
<ul>
<li>Compile all <code>.ts</code> files of a TypeScript project defined in a <code>tsconfig.json</code> file:</li>
</ul>
<p><code>tsc --build {{tsconfig.json}}</code></p>
<ul>
<li>Run the compiler using command line options and arguments fetched from a text file:</li>
</ul>
<p><code>tsc @{{args.txt}}</code></p>
<ul>
<li>Type-check multiple JavaScript files, and output only the errors:</li>
</ul>
<p><code>tsc --allowJs --checkJs --noEmit {{src/**/*.js}}</code></p>
