<h1 id="tslint">tslint</h1>
<blockquote>
<p>A pluggable linting utility for TypeScript. More information: <a href="https://palantir.github.io/tslint" class="uri">https://palantir.github.io/tslint</a>.</p>
</blockquote>
<ul>
<li>Create tslint config:</li>
</ul>
<p><code>tslint --init</code></p>
<ul>
<li>Lint on a given set of files:</li>
</ul>
<p><code>tslint {{filename}}.js {{filename1}}.js</code></p>
<ul>
<li>Fix lint issues:</li>
</ul>
<p><code>tslint --fix</code></p>
<ul>
<li>Lint with the config file in the project root:</li>
</ul>
<p><code>tslint --project {{path/to/project_root}}</code></p>
