<h1 id="tsort">tsort</h1>
<blockquote>
<p>Perform a topological sort. A common use is to show the dependency order of nodes in a directed acyclic graph.</p>
</blockquote>
<ul>
<li>Perform a topological sort consistent with a partial sort per line of input separated by blanks:</li>
</ul>
<p><code>tsort {{file}}</code></p>
