<h1 id="type">type</h1>
<blockquote>
<p>Display the kind of command the shell will execute.</p>
</blockquote>
<ul>
<li>Display the kind of a command:</li>
</ul>
<p><code>type {{command}}</code></p>
<ul>
<li>Display all locations containing the specified executable:</li>
</ul>
<p><code>type -a {{command}}</code></p>
<ul>
<li>Display the name of the disk file that would be executed:</li>
</ul>
<p><code>type -p {{command}}</code></p>
