<h1 id="ufraw-batch">ufraw-batch</h1>
<blockquote>
<p>Convert RAW files from cameras into standard image files.</p>
</blockquote>
<ul>
<li>Simply convert RAW files to jpg:</li>
</ul>
<p><code>ufraw-batch --out-type=jpg {{input_file(s)}}</code></p>
<ul>
<li>Simply convert RAW files to png:</li>
</ul>
<p><code>ufraw-batch --out-type=png {{input_file(s)}}</code></p>
<ul>
<li>Extract the preview image from the raw file:</li>
</ul>
<p><code>ufraw-batch --embedded-image {{input_file(s)}}</code></p>
<ul>
<li>Save the file with size up to the given maximums MAX1 and MAX2:</li>
</ul>
<p><code>ufraw-batch --size=MAX1,MAX2 {{input_file(s)}}</code></p>
