<h1 id="umask">umask</h1>
<blockquote>
<p>Manage the read/write/execute permissions that are masked out (i.e. restricted) for newly created files by the user.</p>
</blockquote>
<ul>
<li>Display the current mask in octal notation:</li>
</ul>
<p><code>umask</code></p>
<ul>
<li>Display the current mask in symbolic (human-readable) mode:</li>
</ul>
<p><code>umask -S</code></p>
<ul>
<li>Change the mask symbolically to allow read permission for all users (the rest of the mask bits are unchanged):</li>
</ul>
<p><code>umask {{a+r}}</code></p>
<ul>
<li>Set the mask (using octal) to restrict no permissions for the file’s owner, and restrict all permissions for everyone else:</li>
</ul>
<p><code>umask {{077}}</code></p>
