<h1 id="umount">umount</h1>
<blockquote>
<p>Unlink a filesystem from its mount point, making it no longer accessible. A filesystem cannot be unmounted when it is busy.</p>
</blockquote>
<ul>
<li>Unmount a filesystem, by passing the path to the source it is mounted from:</li>
</ul>
<p><code>umount {{path/to/device_file}}</code></p>
<ul>
<li>Unmount a filesystem, by passing the path to the target where it is mounted:</li>
</ul>
<p><code>umount {{path/to/mounted_directory}}</code></p>
<ul>
<li>Unmount all mounted filesystems (except the <code>proc</code> filesystem):</li>
</ul>
<p><code>umount -a</code></p>
