<h1 id="unalias">unalias</h1>
<blockquote>
<p>Remove aliases.</p>
</blockquote>
<ul>
<li>Remove an alias:</li>
</ul>
<p><code>unalias {{alias_name}}</code></p>
<ul>
<li>Remove all aliases:</li>
</ul>
<p><code>unalias -a</code></p>
