<h1 id="unar">unar</h1>
<blockquote>
<p>Extract contents from archive files.</p>
</blockquote>
<ul>
<li>Extract an archive to the current directory:</li>
</ul>
<p><code>unar {{archive}}</code></p>
<ul>
<li>Extract an archive to the specified directory:</li>
</ul>
<p><code>unar -o {{path/to/directory}} {{archive}}</code></p>
<ul>
<li>Force overwrite if files to be unpacked already exist:</li>
</ul>
<p><code>unar -f {{archive}}</code></p>
<ul>
<li>Force rename if files to be unpacked already exist:</li>
</ul>
<p><code>unar -r {{archive}}</code></p>
<ul>
<li>Force skip if files to be unpacked already exist:</li>
</ul>
<p><code>unar -s {{archive}}</code></p>
