<h1 id="unexpand">unexpand</h1>
<blockquote>
<p>Convert spaces to tabs.</p>
</blockquote>
<ul>
<li>Convert blanks in each file to tabs, writing to standard output:</li>
</ul>
<p><code>unexpand {{file}}</code></p>
<ul>
<li>Convert blanks to tabs, reading from standard output:</li>
</ul>
<p><code>unexpand</code></p>
<ul>
<li>Convert all blanks, instead of just initial blanks:</li>
</ul>
<p><code>unexpand -a {{file}}</code></p>
<ul>
<li>Convert only leading sequences of blanks (overrides -a):</li>
</ul>
<p><code>unexpand --first-only {{file}}</code></p>
<ul>
<li>Have tabs a certain number of characters apart, not 8 (enables -a):</li>
</ul>
<p><code>unexpand -t {{number}} {{file}}</code></p>
