<h1 id="uniq">uniq</h1>
<blockquote>
<p>Output the unique lines from the given input or file. Since it does not detect repeated lines unless they are adjacent, we need to sort them first.</p>
</blockquote>
<ul>
<li>Display each line once:</li>
</ul>
<p><code>sort {{file}} | uniq</code></p>
<ul>
<li>Display only unique lines:</li>
</ul>
<p><code>sort {{file}} | uniq -u</code></p>
<ul>
<li>Display only duplicate lines:</li>
</ul>
<p><code>sort {{file}} | uniq -d</code></p>
<ul>
<li>Display number of occurrences of each line along with that line:</li>
</ul>
<p><code>sort {{file}} | uniq -c</code></p>
<ul>
<li>Display number of occurrences of each line, sorted by the most frequent:</li>
</ul>
<p><code>sort {{file}} | uniq -c | sort -nr</code></p>
