<h1 id="unison">unison</h1>
<blockquote>
<p>Bidirectional file synchronisation tool. More information: <a href="https://www.cis.upenn.edu/~bcpierce/unison/download/releases/stable/unison-manual.html" class="uri">https://www.cis.upenn.edu/~bcpierce/unison/download/releases/stable/unison-manual.html</a>.</p>
</blockquote>
<ul>
<li>Sync two directories (creates log first time these two directories are synchronised):</li>
</ul>
<p><code>unison {{path/to/directory_1}} {{path/to/directory_2}}</code></p>
<ul>
<li>Automatically accept the (non-conflicting) defaults:</li>
</ul>
<p><code>unison {{path/to/directory_1}} {{path/to/directory_2}} -auto</code></p>
<ul>
<li>Ignore some files using a pattern:</li>
</ul>
<p><code>unison {{path/to/directory_1}} {{path/to/directory_2}} -ignore {{pattern}}</code></p>
<ul>
<li>Show documentation:</li>
</ul>
<p><code>unison -doc {{topics}}</code></p>
