<h1 id="unlink">unlink</h1>
<blockquote>
<p>Remove a link to a file from the filesystem. The file contents is lost if the link is the last one to the file.</p>
</blockquote>
<ul>
<li>Remove the specified file if it is the last link:</li>
</ul>
<p><code>unlink {{path/to/file}}</code></p>
