<h1 id="unrar">unrar</h1>
<blockquote>
<p>Extract RAR archives.</p>
</blockquote>
<ul>
<li>Extract files with original directory structure:</li>
</ul>
<p><code>unrar x {{compressed.rar}}</code></p>
<ul>
<li>Extract files into current directory, losing directory structure in the archive:</li>
</ul>
<p><code>unrar e {{compressed.rar}}</code></p>
<ul>
<li>Test integrity of each file inside the archive file:</li>
</ul>
<p><code>unrar t {{compressed.rar}}</code></p>
<ul>
<li>List files inside the archive file without decompressing it:</li>
</ul>
<p><code>unrar l {{compressed.rar}}</code></p>
