<h1 id="unzip">unzip</h1>
<blockquote>
<p>Extract compressed files in a ZIP archive.</p>
</blockquote>
<ul>
<li>Extract zip file(s) (for multiple files, separate file paths by spaces):</li>
</ul>
<p><code>unzip {{file(s)}}</code></p>
<ul>
<li>Extract zip files(s) to given path:</li>
</ul>
<p><code>unzip {{compressed_file(s)}} -d {{/path/to/put/extracted_file(s)}}</code></p>
<ul>
<li>List the contents of a zip file without extracting:</li>
</ul>
<p><code>unzip -l {{file.zip}}</code></p>
<ul>
<li>Extract the contents of the file(s) to <code>stdout</code> alongside the extracted file names:</li>
</ul>
<p><code>unzip -c {{file.zip}}</code></p>
<ul>
<li>Extract a zip file created in windows, containing files with non-ascii (chinese) filenames:</li>
</ul>
<p><code>unzip -O {{gbk}} {{file.zip}}</code></p>
