<h1 id="upx">upx</h1>
<blockquote>
<p>Compress or decompress executables. More information: <a href="https://upx.github.io" class="uri">https://upx.github.io</a>.</p>
</blockquote>
<ul>
<li>Compress executable:</li>
</ul>
<p><code>upx {{file}}</code></p>
<ul>
<li>Decompress executable:</li>
</ul>
<p><code>upx -d {{file}}</code></p>
<ul>
<li>Detailed help:</li>
</ul>
<p><code>upx --help</code></p>
