<h1 id="users">users</h1>
<blockquote>
<p>Display a list of logged in users.</p>
</blockquote>
<ul>
<li>Display a list of logged in users:</li>
</ul>
<p><code>users</code></p>
<ul>
<li>Display a list of logged in users according to a specific file:</li>
</ul>
<p><code>users {{/var/log/wmtp}}</code></p>
