<h1 id="valgrind">valgrind</h1>
<blockquote>
<p>Wrapper for a set of expert tools for profiling, optimizing and debugging programs. Commonly used tools include <code>memcheck</code>, <code>cachegrind</code>, <code>callgrind</code>, <code>massif</code>, <code>helgrind</code>, and <code>drd</code>. More information: <a href="http://www.valgrind.org" class="uri">http://www.valgrind.org</a>.</p>
</blockquote>
<ul>
<li>Use the (default) Memcheck tool to show a diagnostic of memory usage by <code>program</code>:</li>
</ul>
<p><code>valgrind {{program}}</code></p>
<ul>
<li>Use Memcheck to report all possible memory leaks of <code>program</code> in full detail:</li>
</ul>
<p><code>valgrind --leak-check=full --show-leak-kinds=all {{program}}</code></p>
<ul>
<li>Use the Cachegrind tool to profile and log CPU cache operations of <code>program</code>:</li>
</ul>
<p><code>valgrind --tool=cachegrind {{program}}</code></p>
<ul>
<li>Use the Massif tool to profile and log heap memory and stack usage of <code>program</code>:</li>
</ul>
<p><code>valgrind --tool=massif --stacks=yes {{program}}</code></p>
