<h1 id="vault">vault</h1>
<blockquote>
<p>A CLI to interact with HashiCorp Vault. More information: <a href="https://www.vaultproject.io/docs/commands" class="uri">https://www.vaultproject.io/docs/commands</a>.</p>
</blockquote>
<ul>
<li>Connect to a Vault server and initialize a new encrypted data store:</li>
</ul>
<p><code>vault init</code></p>
<ul>
<li>Unseal (unlock) the vault, by providing one of the key shares needed to access the encrypted data store:</li>
</ul>
<p><code>vault unseal {{key-share-x}}</code></p>
<ul>
<li>Authenticate the CLI client against the Vault server, using an authentication token:</li>
</ul>
<p><code>vault auth {{authentication_token}}</code></p>
<ul>
<li>Store a new secret in the vault, using the generic back-end called “secret”:</li>
</ul>
<p><code>vault write secret/{{hello}} value={{world}}</code></p>
<ul>
<li>Read a value from the vault, using the generic back-end called “secret”:</li>
</ul>
<p><code>vault read secret/{{hello}}</code></p>
<ul>
<li>Seal (lock) the Vault server, by removing the encryption key of the data store from memory:</li>
</ul>
<p><code>vault seal</code></p>
