<h1 id="vcsh">vcsh</h1>
<blockquote>
<p>Version Control System for the home directory using git repositories. More information: <a href="https://github.com/RichiH/vcsh" class="uri">https://github.com/RichiH/vcsh</a>.</p>
</blockquote>
<ul>
<li>Initialize an (empty) repository:</li>
</ul>
<p><code>vcsh init {{repository_name}}</code></p>
<ul>
<li>Clone a repository into a custom directory name:</li>
</ul>
<p><code>vcsh clone {{git_url}} {{repository_name}}</code></p>
<ul>
<li>List all managed repositories:</li>
</ul>
<p><code>vcsh list</code></p>
<ul>
<li>Execute a git command on a managed repository:</li>
</ul>
<p><code>vcsh {{repository_name}} {{git_command}}</code></p>
<ul>
<li>Push/pull all managed repositories to/from remotes:</li>
</ul>
<p><code>vcsh {{push|pull}}</code></p>
<ul>
<li>Write a custom .gitignore file for a managed repository:</li>
</ul>
<p><code>vcsh write-gitignore {{repository_name}}</code></p>
