<h1 id="vdir">vdir</h1>
<blockquote>
<p>List directory contents. Drop-in replacement for <code>ls -l</code>.</p>
</blockquote>
<ul>
<li>List files and directories in the current directory, one per line, with details:</li>
</ul>
<p><code>vdir</code></p>
<ul>
<li>List with sizes displayed in human readable units (KB, MB, GB):</li>
</ul>
<p><code>vdir -h</code></p>
<ul>
<li>List including hidden files (starting with a dot):</li>
</ul>
<p><code>vdir -a</code></p>
<ul>
<li>List files and directories sorting entries by size (largest first):</li>
</ul>
<p><code>vdir -S</code></p>
<ul>
<li>List files and directories sorting entries by modification time (newest first):</li>
</ul>
<p><code>vdir -t</code></p>
<ul>
<li>List grouping directories first:</li>
</ul>
<p><code>vdir --group-directories-first</code></p>
<ul>
<li>Recursively list all files and directories in a specific directory:</li>
</ul>
<p><code>vdir --recursive {{path/to/directory}}</code></p>
