<h1 id="vegeta">vegeta</h1>
<blockquote>
<p>A command line utility and a library for HTTP load testing. See also <code>ab</code>. More information: <a href="https://github.com/tsenart/vegeta" class="uri">https://github.com/tsenart/vegeta</a>.</p>
</blockquote>
<ul>
<li>Launch an attack lasting 30 seconds:</li>
</ul>
<p><code>echo "{{GET https://example.com}}" | vegeta attack -duration={{30s}}</code></p>
<ul>
<li>Launch an attack on a server with a self-signed https certificate:</li>
</ul>
<p><code>echo "{{GET https://example.com}}" | vegeta attack -insecure -duration={{30s}}</code></p>
<ul>
<li>Launch an attack with a rate of 10 requests per second:</li>
</ul>
<p><code>echo "{{GET https://example.com}}" | vegeta attack -duration={{30s}} -rate={{10}}</code></p>
<ul>
<li>Launch an attack and display a report:</li>
</ul>
<p><code>echo "{{GET https://example.com}}" | vegeta attack -duration={{30s}} | vegeta report</code></p>
<ul>
<li>Launch an attack and plot the results on a graph (latency over time):</li>
</ul>
<p><code>echo "{{GET https://example.com}}" | vegeta attack -duration={{30s}} | vegeta plot &gt; {{path/to/results.html}}</code></p>
<ul>
<li>Launch an attack against multiple URLs from a file:</li>
</ul>
<p><code>vegeta attack -duration={{30s}} -targets={{requests.txt}} | vegeta report</code></p>
