<h1 id="velero">velero</h1>
<blockquote>
<p>Backup and migrate Kubernetes applications and their persistent volumes. More information: <a href="https://github.com/heptio/velero" class="uri">https://github.com/heptio/velero</a>.</p>
</blockquote>
<ul>
<li>Create a backup containing all resources:</li>
</ul>
<p><code>velero backup create {{backup_name}}</code></p>
<ul>
<li>List all backups:</li>
</ul>
<p><code>velero backup get</code></p>
<ul>
<li>Delete a backup:</li>
</ul>
<p><code>velero backup delete {{backup_name}}</code></p>
<ul>
<li>Create a weekly backup, each living for 90 days (2160 hours):</li>
</ul>
<p><code>velero schedule create {{schedule_name}} --schedules="{{@every 7d}}" --ttl {{2160h0m0s}}</code></p>
<ul>
<li>Create a restore from the latest successful backup triggered by specific schedule:</li>
</ul>
<p><code>velero restore create --from-schedule {{schedule_name}}</code></p>
