<h1 id="view">view</h1>
<blockquote>
<p>A read-only version of <code>vim</code>. This is equivalent to <code>vim -R</code>.</p>
</blockquote>
<ul>
<li>Open a file:</li>
</ul>
<p><code>view {{file}}</code></p>
