<h1 id="vimdiff">vimdiff</h1>
<blockquote>
<p>Open up to four files in vim and show the differences between them. See <code>vim</code> documentation for working with files and navigating within a window.</p>
</blockquote>
<ul>
<li>Open two files and show the differences (up to four files can be compared):</li>
</ul>
<p><code>vimdiff {{file1}} {{file2}}</code></p>
<ul>
<li>Open two files using a horizontal window split instead of the default vertical split:</li>
</ul>
<p><code>vimdiff -o {{file1}} {{file2}}</code></p>
<ul>
<li>Move the cursor to the window on the left|right|up|down:</li>
</ul>
<p><code>Ctrl + w {{h|l|k|j}}</code></p>
