<h1 id="vimtutor">vimtutor</h1>
<blockquote>
<p>Vim tutor, teaching the basic vim commands.</p>
</blockquote>
<ul>
<li>Launch the vim tutor using the given language (en, fr, de, …):</li>
</ul>
<p><code>vimtutor {{language}}</code></p>
<ul>
<li>Exit the tutor:</li>
</ul>
<p><code>&lt;Esc&gt; :q &lt;Enter&gt;</code></p>
