<h1 id="virsh">virsh</h1>
<blockquote>
<p>Manage virsh guest domains. More information: <a href="https://libvirt.org/virshcmdref.html" class="uri">https://libvirt.org/virshcmdref.html</a>. NOTE: ‘guest_id’ can be the id, name or UUID of the guest.</p>
</blockquote>
<ul>
<li>Connect to a hypervisor session:</li>
</ul>
<p><code>virsh connect {{qemu://system}}</code></p>
<ul>
<li>List all domains:</li>
</ul>
<p><code>virsh list --all</code></p>
<ul>
<li>Dump guest configuration file:</li>
</ul>
<p><code>virsh dumpxml {{guest_id}} &gt; {{path/to/guest.xml}}</code></p>
<ul>
<li>Create a guest from a configuration file:</li>
</ul>
<p><code>virsh create {{path/to/config_file.xml}}</code></p>
<ul>
<li>Edit a guest’s configuration file (editor can be changed with $EDITOR):</li>
</ul>
<p><code>virsh edit {{guest_id}}</code></p>
<ul>
<li>Start/reboot/shutdown/suspend/resume a guest:</li>
</ul>
<p><code>virsh {{command}} {{guest_id}}</code></p>
<ul>
<li>Save the current state of a guest to a file:</li>
</ul>
<p><code>virsh save {{guest_id}} {{filename}}</code></p>
<ul>
<li>Delete a running guest:</li>
</ul>
<p><code>virsh destroy {{guest_id}} &amp;&amp; virsh undefine {{guest_id}}</code></p>
