<h1 id="virtualenv">virtualenv</h1>
<blockquote>
<p>Create virtual isolated Python environments. More information: <a href="https://virtualenv.pypa.io/" class="uri">https://virtualenv.pypa.io/</a>.</p>
</blockquote>
<ul>
<li>Create a new environment:</li>
</ul>
<p><code>virtualenv {{path/to/venv}}</code></p>
<ul>
<li>Customize the prompt prefix:</li>
</ul>
<p><code>virtualenv --prompt={{prompt_prefix}} {{path/to/venv}}</code></p>
<ul>
<li>Use a different version of Python with virtualenv:</li>
</ul>
<p><code>virtualenv --python={{path/to/pythonbin}} {{path/to/venv}}</code></p>
<ul>
<li>Start (select) the environment:</li>
</ul>
<p><code>source {{path/to/venv}}/bin/activate</code></p>
<ul>
<li>Stop the environment:</li>
</ul>
<p><code>deactivate</code></p>
