<h1 id="vsce">vsce</h1>
<blockquote>
<p>Extension manager for Visual Studio Code. More information: <a href="https://github.com/microsoft/vscode-vsce" class="uri">https://github.com/microsoft/vscode-vsce</a>.</p>
</blockquote>
<ul>
<li>List all the extensions created by a publisher:</li>
</ul>
<p><code>vsce list {{publisher}}</code></p>
<ul>
<li>Publish an extension as major, minor or patch version:</li>
</ul>
<p><code>vsce publish {{major|minor|patch}}</code></p>
<ul>
<li>Unpublish an extension:</li>
</ul>
<p><code>vsce unpublish {{extension_id}}</code></p>
<ul>
<li>Package the current working directory as .vsix file:</li>
</ul>
<p><code>vsce package</code></p>
<ul>
<li>Show the metadata associated with an extension:</li>
</ul>
<p><code>vsce show {{extension_id}}</code></p>
