<h1 id="vue-build">vue build</h1>
<blockquote>
<p>A subcommand provided by <code>@vue/cli</code> and <code>@vue/cli-service-global</code> that enables quick prototyping. More information: <a href="https://cli.vuejs.org/guide/prototyping.html" class="uri">https://cli.vuejs.org/guide/prototyping.html</a>.</p>
</blockquote>
<ul>
<li>Build a <code>.js</code> or <code>.vue</code> file in production mode with zero config:</li>
</ul>
<p><code>vue build {{filename}}</code></p>
