<h1 id="vue-serve">vue serve</h1>
<blockquote>
<p>A subcommand provided by <code>@vue/cli</code> and <code>@vue/cli-service-global</code> that enables quick prototyping. More information: <a href="https://cli.vuejs.org/guide/prototyping.html" class="uri">https://cli.vuejs.org/guide/prototyping.html</a>.</p>
</blockquote>
<ul>
<li>Serve a <code>.js</code> or <code>.vue</code> file in development mode with zero config:</li>
</ul>
<p><code>vue serve {{filename}}</code></p>
