<h1 id="vue-init">vue init</h1>
<blockquote>
<p>Legacy project initialization subcommand of the Vue.js framework. More information: <a href="https://cli.vuejs.org/guide/creating-a-project.html#pulling-2-x-templates-legacy" class="uri">https://cli.vuejs.org/guide/creating-a-project.html#pulling-2-x-templates-legacy</a>.</p>
</blockquote>
<ul>
<li>Create a new project using one of the default templates:</li>
</ul>
<p><code>vue init {{webpack|webpack-simple|browserify|browserify-simple|simple}} {{project_name}}</code></p>
<ul>
<li>Create a new project using a local template:</li>
</ul>
<p><code>vue init {{path/to/template_directory}} {{project_name}}</code></p>
<ul>
<li>Create a new project using a template from GitHub:</li>
</ul>
<p><code>vue init {{username}}/{{repo}} {{project_name}}</code></p>
