<h1 id="vue">vue</h1>
<blockquote>
<p>Multi-purpose CLI for Vue.js. More information: <a href="https://cli.vuejs.org" class="uri">https://cli.vuejs.org</a>.</p>
</blockquote>
<ul>
<li>Create a new vue project interactively:</li>
</ul>
<p><code>vue create {{project_name}}</code></p>
<ul>
<li>Create a new project with web UI:</li>
</ul>
<p><code>vue ui</code></p>
