<h1 id="w3m">w3m</h1>
<blockquote>
<p>A text-based web browser. Supports SSL and mouse input, even over SSH. More information: <a href="http://w3m.sourceforge.net" class="uri">http://w3m.sourceforge.net</a>.</p>
</blockquote>
<ul>
<li>Open a URL:</li>
</ul>
<p><code>w3m {{http://example.com}}</code></p>
<ul>
<li>Open a URL in monochrome mode:</li>
</ul>
<p><code>w3m {{http://example.com}} -M</code></p>
<ul>
<li>Open a URL without mouse support:</li>
</ul>
<p><code>w3m {{http://example.com}} --no-mouse</code></p>
<ul>
<li>Open a new browser tab:</li>
</ul>
<p><code>Shift + T</code></p>
<ul>
<li>Display your browser history:</li>
</ul>
<p><code>Ctrl + H</code></p>
<ul>
<li>Quit w3m:</li>
</ul>
<p><code>'q' then 'y'</code></p>
