<h1 id="wait">wait</h1>
<blockquote>
<p>Wait for a process to complete before proceeding.</p>
</blockquote>
<ul>
<li>Wait for a process to finish given its process ID (PID) and return its exit status:</li>
</ul>
<p><code>wait {{pid}}</code></p>
<ul>
<li>Wait for all processes known to the invoking shell to finish:</li>
</ul>
<p><code>wait</code></p>
