<h1 id="waitress-serve">waitress-serve</h1>
<blockquote>
<p>Pure Python WSGI HTTP Server.</p>
</blockquote>
<ul>
<li>Run a Python web app:</li>
</ul>
<p><code>waitress-serve {{import.path:wsgi_func}}</code></p>
<ul>
<li>Listen on port 8080 on localhost:</li>
</ul>
<p><code>waitress-serve --listen={{localhost}}:{{8080}} {{import.path:wsgi_func}}</code></p>
<ul>
<li>Start waitress on a Unix socket:</li>
</ul>
<p><code>waitress-serve --unix-socket={{path/to/socket}} {{import.path:wsgi_func}}</code></p>
<ul>
<li>Use 4 threads to process requests:</li>
</ul>
<p><code>waitress-serve --threads={{4}} {{import.path:wsgifunc}}</code></p>
<ul>
<li>Call a factory method that returns a WSGI object:</li>
</ul>
<p><code>waitress-serve --call {{import.path.wsgi_factory}}</code></p>
<ul>
<li>Set the URL scheme to https:</li>
</ul>
<p><code>waitress-serve --url-scheme={{https}} {{import.path:wsgi_func}}</code></p>
