<h1 id="wal">wal</h1>
<blockquote>
<p>A tool to create color schemes based on the dominant colors of a wallpaper. More information: <a href="https://github.com/dylanaraps/pywal" class="uri">https://github.com/dylanaraps/pywal</a>.</p>
</blockquote>
<ul>
<li>Preview color scheme:</li>
</ul>
<p><code>wal --preview {{image.png}}</code></p>
<ul>
<li>Create color scheme:</li>
</ul>
<p><code>wal -i {{image.png}}</code></p>
<ul>
<li>Create a light color scheme:</li>
</ul>
<p><code>wal -il {{image.png}}</code></p>
<ul>
<li>Skip setting the desktop wallpaper:</li>
</ul>
<p><code>wal -in {{image.png}}</code></p>
<ul>
<li>Skip setting the terminal colors:</li>
</ul>
<p><code>wal -is {{image.png}}</code></p>
<ul>
<li>Restore the previously generated color scheme and wallpaper:</li>
</ul>
<p><code>wal -R</code></p>
