<h1 id="wasm2wat">wasm2wat</h1>
<blockquote>
<p>Convert a file from the WebAssembly binary format to the text format.</p>
</blockquote>
<ul>
<li>Convert a file to the text format and display it to the console:</li>
</ul>
<p><code>wasm2wat {{file.wasm}}</code></p>
<ul>
<li>Write the output to a given file:</li>
</ul>
<p><code>wasm2wat {{file.wasm}} -o {{file.wat}}</code></p>
