<h1 id="wasm-objdump">wasm-objdump</h1>
<blockquote>
<p>Display information from WebAssembly binaries.</p>
</blockquote>
<ul>
<li>Display the section headers of a given binary:</li>
</ul>
<p><code>wasm-objdump -h {{file.wasm}}</code></p>
<ul>
<li>Display the entire disassembled output of a given binary:</li>
</ul>
<p><code>wasm-objdump -d {{file.wasm}}</code></p>
<ul>
<li>Display the details of each section:</li>
</ul>
<p><code>wasm-objdump --details {{file.wasm}}</code></p>
<ul>
<li>Display the details of a given section:</li>
</ul>
<p><code>wasm-objdump --section '{{import}}' --details {{file.wasm}}</code></p>
