<h1 id="wasm2c">wasm2c</h1>
<blockquote>
<p>Convert a file from the WebAssembly binary format to a C source file and header.</p>
</blockquote>
<ul>
<li>Convert a file to a C source file and header and display it to the console:</li>
</ul>
<p><code>wasm2c {{file.wasm}}</code></p>
<ul>
<li>Write the output to a given file (file.h gets additionally generated):</li>
</ul>
<p><code>wasm2c {{file.wasm}} -o {{file.c}}</code></p>
