<h1 id="wasm-opt">wasm-opt</h1>
<blockquote>
<p>Optimize WebAssembly binary files.</p>
</blockquote>
<ul>
<li>Apply default optimizations and write to a given file:</li>
</ul>
<p><code>wasm-opt -O {{input.wasm}} -o {{output.wasm}}</code></p>
<ul>
<li>Apply all optimizations and write to a given file (takes more time, but generates optimal code):</li>
</ul>
<p><code>wasm-opt -O4 {{input.wasm}} -o {{output.wasm}}</code></p>
<ul>
<li>Optimize a file for size:</li>
</ul>
<p><code>wasm-opt -Oz {{input.wasm}} -o {{output.wasm}}</code></p>
<ul>
<li>Print the textual representation of the binary to console:</li>
</ul>
<p><code>wasm-opt {{input.wasm}} --print</code></p>
