<h1 id="wat2wasm">wat2wasm</h1>
<blockquote>
<p>Convert a file from the WebAssembly text format to the binary format. More information: <a href="https://github.com/WebAssembly/wabt" class="uri">https://github.com/WebAssembly/wabt</a>.</p>
</blockquote>
<ul>
<li>Parse and check a file for errors:</li>
</ul>
<p><code>wat2wasm {{file.wat}}</code></p>
<ul>
<li>Write the output binary to a given file:</li>
</ul>
<p><code>wat2wasm {{file.wat}} -o {{file.wasm}}</code></p>
<ul>
<li>Display simplified representation of every byte:</li>
</ul>
<p><code>wat2wasm -v {{file.wat}}</code></p>
