<h1 id="watch">watch</h1>
<blockquote>
<p>Execute a program periodically, showing output fullscreen.</p>
</blockquote>
<ul>
<li>Repeatedly run a command and show the result:</li>
</ul>
<p><code>watch {{command}}</code></p>
<ul>
<li>Re-run a command every 60 seconds:</li>
</ul>
<p><code>watch -n {{60}} {{command}}</code></p>
<ul>
<li>Monitor the contents of a directory, highlighting differences as they appear:</li>
</ul>
<p><code>watch -d {{ls -l}}</code></p>
