<h1 id="wc">wc</h1>
<blockquote>
<p>Count lines, words, or bytes.</p>
</blockquote>
<ul>
<li>Count lines in file:</li>
</ul>
<p><code>wc -l {{file}}</code></p>
<ul>
<li>Count words in file:</li>
</ul>
<p><code>wc -w {{file}}</code></p>
<ul>
<li>Count characters (bytes) in file:</li>
</ul>
<p><code>wc -c {{file}}</code></p>
<ul>
<li>Count characters in file (taking multi-byte character sets into account):</li>
</ul>
<p><code>wc -m {{file}}</code></p>
