<h1 id="weasyprint">weasyprint</h1>
<blockquote>
<p>Render HTML to PDF or PNG. More information: <a href="https://weasyprint.org/" class="uri">https://weasyprint.org/</a>.</p>
</blockquote>
<ul>
<li>Render a HTML file to PDF:</li>
</ul>
<p><code>weasyprint {{path/to/input.html}} {{path/to/output}}.pdf</code></p>
<ul>
<li>Render a HTML file to PNG, including an additional user stylesheet:</li>
</ul>
<p><code>weasyprint {{path/to/input.html}} {{path/to/output}}.png --stylesheet {{path/to/stylesheet.css}}</code></p>
<ul>
<li>Output additional debugging information when rendering:</li>
</ul>
<p><code>weasyprint {{path/to/input.html}} {{path/to/output}}.pdf --verbose</code></p>
<ul>
<li>Specify a custom resolution when outputting to PNG:</li>
</ul>
<p><code>weasyprint {{path/to/input.html}} {{path/to/output}}.png --resolution {{300}}</code></p>
<ul>
<li>Specify a base url for relative urls in the input HTML file:</li>
</ul>
<p><code>weasyprint {{path/to/input.html}} {{path/to/output}}.png --base-url {{url_or_filename}}</code></p>
