<h1 id="web-ext">web-ext</h1>
<blockquote>
<p>A command line tool for managing web extension development. More information: <a href="https://www.npmjs.com/package/web-ext" class="uri">https://www.npmjs.com/package/web-ext</a>.</p>
</blockquote>
<ul>
<li>Run the web extension in the current directory in Firefox:</li>
</ul>
<p><code>web-ext run</code></p>
<ul>
<li>Run a web extension from a specific directory in Firefox:</li>
</ul>
<p><code>web-ext run --source-dir {{path/to/directory}}</code></p>
<ul>
<li>Display verbose execution output:</li>
</ul>
<p><code>web-ext run --verbose</code></p>
<ul>
<li>Run a web extension in Firefox Android:</li>
</ul>
<p><code>web-ext run --target firefox-android</code></p>
<ul>
<li>Lint the manifest and source files for errors:</li>
</ul>
<p><code>web-ext lint</code></p>
<ul>
<li>Build and package the extension:</li>
</ul>
<p><code>web-ext build</code></p>
<ul>
<li>Display verbose build output:</li>
</ul>
<p><code>web-ext build --verbose</code></p>
<ul>
<li>Sign a package for self-hosting:</li>
</ul>
<p><code>web-ext sign --api-key {{api_key}} --api-secret {{api_secret}}</code></p>
