<h1 id="webpack">webpack</h1>
<blockquote>
<p>Bundle a web project’s js files and other assets into a single output file. More information: <a href="https://webpack.js.org" class="uri">https://webpack.js.org</a>.</p>
</blockquote>
<ul>
<li>Create a single output file from an entry point file:</li>
</ul>
<p><code>webpack {{app.js}} {{bundle.js}}</code></p>
<ul>
<li>Load css files too from the js file (this uses the css loader for .css files):</li>
</ul>
<p><code>webpack {{app.js}} {{bundle.js}} --module-bind 'css=css'</code></p>
<ul>
<li>Pass a config file (with eg. the entry script and the output filename) and show compilation progress:</li>
</ul>
<p><code>webpack --config {{webpack.config.js}} --progress</code></p>
<ul>
<li>Automatically recompile on changes to project files:</li>
</ul>
<p><code>webpack --watch {{app.js}} {{bundle.js}}</code></p>
