<h1 id="webtorrent">webtorrent</h1>
<blockquote>
<p>The command line interface for WebTorrent. Supports magnets, urls, info hashes and .torrent files. More information: <a href="https://github.com/webtorrent/webtorrent-cli" class="uri">https://github.com/webtorrent/webtorrent-cli</a>.</p>
</blockquote>
<ul>
<li>Download a torrent:</li>
</ul>
<p><code>webtorrent download "{{torrent_id}}"</code></p>
<ul>
<li>Stream a torrent to VLC media player:</li>
</ul>
<p><code>webtorrent download "{{torrent_id}}" --vlc</code></p>
<ul>
<li>Stream a torrent to a Digital Living Network Alliance (DLNA) device:</li>
</ul>
<p><code>webtorrent download "{{torrent_id}}" --dlna</code></p>
<ul>
<li>Display a list of files for a specific torrent:</li>
</ul>
<p><code>webtorrent download "{{torrent_id}}" --select</code></p>
<ul>
<li>Specify a file index from the torrent to download:</li>
</ul>
<p><code>webtorrent download "{{torrent_id}}" --select {{index}}</code></p>
<ul>
<li>Seed a specific file or directory:</li>
</ul>
<p><code>webtorrent seed {{path/to/file_or_directory}}</code></p>
<ul>
<li>Create a new torrent file for the specified file path:</li>
</ul>
<p><code>webtorrent create {{path/to/file}}</code></p>
<ul>
<li>Display information for a magnet uri or .torrent file:</li>
</ul>
<p><code>webtorrent info {{path/to/file_or_magnet}}</code></p>
