<h1 id="wget">wget</h1>
<blockquote>
<p>Download files from the Web. Supports HTTP, HTTPS, and FTP. More information: <a href="https://www.gnu.org/software/wget" class="uri">https://www.gnu.org/software/wget</a>.</p>
</blockquote>
<ul>
<li>Download the contents of an URL to a file (named “foo” in this case):</li>
</ul>
<p><code>wget {{https://example.com/foo}}</code></p>
<ul>
<li>Download the contents of an URL to a file (named “bar” in this case):</li>
</ul>
<p><code>wget -O {{bar}} {{https://example.com/foo}}</code></p>
<ul>
<li>Download a single web page and all its resources with 3-second intervals between requests (scripts, stylesheets, images, etc.):</li>
</ul>
<p><code>wget --page-requisites --convert-links --wait=3 {{https://example.com/somepage.html}}</code></p>
<ul>
<li>Download all listed files within a directory and its sub-directories (does not download embedded page elements):</li>
</ul>
<p><code>wget --mirror --no-parent {{https://example.com/somepath/}}</code></p>
<ul>
<li>Limit the download speed and the number of connection retries:</li>
</ul>
<p><code>wget --limit-rate={{300k}} --tries={{100}} {{https://example.com/somepath/}}</code></p>
<ul>
<li>Download a file from an HTTP server using Basic Auth (also works for FTP):</li>
</ul>
<p><code>wget --user={{username}} --password={{password}} {{https://example.com}}</code></p>
<ul>
<li>Continue an incomplete download:</li>
</ul>
<p><code>wget -c {{https://example.com}}</code></p>
<ul>
<li>Download all URLs stored in a text file to a specific directory:</li>
</ul>
<p><code>wget -P {{path/to/directory}} -i {{URLs.txt}}</code></p>
