<h1 id="where">where</h1>
<blockquote>
<p>Reports all known instances of a command. It could be an executable in the PATH environment variable, an alias, or a shell builtin.</p>
</blockquote>
<ul>
<li>Find all instances of a command:</li>
</ul>
<p><code>where {{command}}</code></p>
