<h1 id="which">which</h1>
<blockquote>
<p>Locate a program in the user’s path.</p>
</blockquote>
<ul>
<li>Search the PATH environment variable and display the location of any matching executables:</li>
</ul>
<p><code>which {{executable}}</code></p>
<ul>
<li>If there are multiple executables which match, display all:</li>
</ul>
<p><code>which -a {{executable}}</code></p>
