<h1 id="while">while</h1>
<blockquote>
<p>Simple shell loop.</p>
</blockquote>
<ul>
<li>Read <code>stdin</code> and perform an action on every line:</li>
</ul>
<p><code>while read line; do echo "$line"; done</code></p>
<ul>
<li>Execute a command forever once every second:</li>
</ul>
<p><code>while :; do {{command}}; sleep 1; done</code></p>
