<h1 id="whois">whois</h1>
<blockquote>
<p>Commandline client for the WHOIS (RFC 3912) protocol. More information: <a href="https://github.com/rfc1036/whois" class="uri">https://github.com/rfc1036/whois</a>.</p>
</blockquote>
<ul>
<li>Get information about a domain name:</li>
</ul>
<p><code>whois {{example.com}}</code></p>
<ul>
<li>Get information about an IP address:</li>
</ul>
<p><code>whois {{8.8.8.8}}</code></p>
<ul>
<li>Get abuse contact for an IP address:</li>
</ul>
<p><code>whois -b {{8.8.8.8}}</code></p>
