<h1 id="wordgrinder">wordgrinder</h1>
<blockquote>
<p>Command-line word processor. More information: <a href="https://cowlark.com/wordgrinder" class="uri">https://cowlark.com/wordgrinder</a>.</p>
</blockquote>
<ul>
<li>Start wordgrinder (loads a blank document by default):</li>
</ul>
<p><code>wordgrinder</code></p>
<ul>
<li>Open a given file:</li>
</ul>
<p><code>wordgrinder {{filename}}</code></p>
<ul>
<li>Show the menu:</li>
</ul>
<p><code>Alt + M</code></p>
