<h1 id="wpa_supplicant">wpa_supplicant</h1>
<blockquote>
<p>Manage protected wireless networks.</p>
</blockquote>
<ul>
<li>Join a protected wireless network:</li>
</ul>
<p><code>wpa_supplicant -i {{interface}} -c {{path/to/wpa_supplicant_conf.conf}}</code></p>
<ul>
<li>Join a protected wireless network and run it in a daemon:</li>
</ul>
<p><code>wpa_supplicant -B -i {{interface}} -c {{path/to/wpa_supplicant_conf.conf}}</code></p>
