<h1 id="write">write</h1>
<blockquote>
<p>Write a message on the terminal of a specified logged in user (ctrl-C to stop writing messages). Use the <code>who</code> command to find out all terminal_ids of all active users active on the system. See also <code>mesg</code>.</p>
</blockquote>
<ul>
<li>Send a message to a given user on a given terminal id:</li>
</ul>
<p><code>write {{username}} {{terminal_id}}</code></p>
<ul>
<li>Send message to “testuser” on terminal “/dev/tty/5”:</li>
</ul>
<p><code>write {{testuser}} {{tty/5}}</code></p>
<ul>
<li>Send message to “jhondoe” on pseudo terminal “/dev/pts/5”:</li>
</ul>
<p><code>write {{jhondoe}} {{pts/5}}</code></p>
