<h1 id="wrk">wrk</h1>
<blockquote>
<p>HTTP benchmarking tool. More information: <a href="https://github.com/wg/wrk" class="uri">https://github.com/wg/wrk</a>.</p>
</blockquote>
<ul>
<li>Run a benchmark for <code>30</code> seconds, using <code>12</code> threads, and keeping <code>400</code> HTTP connections open:</li>
</ul>
<p><code>wrk -t{{12}} -c{{400}} -d{{30s}} "{{http://127.0.0.1:8080/index.html}}"</code></p>
<ul>
<li>Run a benchmark with a custom header:</li>
</ul>
<p><code>wrk -t{{2}} -c{{5}} -d{{5s}} -H "{{Host: example.com}}" "{{http://example.com/index.html}}"</code></p>
<ul>
<li>Run a benchmark with a request timeout of <code>2</code> seconds:</li>
</ul>
<p><code>wrk -t{{2}} -c{{5}} -d{{5s}} — timeout {{2s}} "{{http://example.com/index.html}}"</code></p>
