<h1 id="x_x">x_x</h1>
<blockquote>
<p>View Excel and CSV files from the command-line. More information: <a href="https://github.com/kristianperkins/x_x" class="uri">https://github.com/kristianperkins/x_x</a>.</p>
</blockquote>
<ul>
<li>View an XLSX or CSV file:</li>
</ul>
<p><code>x_x {{file.xlsx|file.csv}}</code></p>
<ul>
<li>View an XLSX or CSV file, using the first row as table headers:</li>
</ul>
<p><code>x_x -h {{0}} {{file.xlsx|file.csv}}</code></p>
<ul>
<li>View a CSV file with unconventional delimiters:</li>
</ul>
<p><code>x_x --delimiter={{';'}} --quotechar={{'|'}} {{file.csv}}</code></p>
