<h1 id="xargs">xargs</h1>
<blockquote>
<p>Execute a command with piped arguments coming from another command, a file, etc. The input is treated as a single block of text and split into separate arguments on spaces, tabs, newlines and end-of-file.</p>
</blockquote>
<ul>
<li>Main usage pattern:</li>
</ul>
<p><code>{{arguments_source}} | xargs {{command}}</code></p>
<ul>
<li>Delete all files with a <code>.backup</code> extension. <code>-print0</code> on find uses a null character to split the files, and <code>-0</code> changes the delimiter to the null character (useful if there’s whitespace in filenames):</li>
</ul>
<p><code>find . -name {{'*.backup'}} -print0 | xargs -0 rm -v</code></p>
<ul>
<li>Execute the command once for each input line, replacing any occurrences of the placeholder (here marked as <code>_</code>) with the input line:</li>
</ul>
<p><code>{{arguments_source}} | xargs -I _ {{command}} _ {{optional_extra_arguments}}</code></p>
<ul>
<li>Parallel runs of up to <code>max-procs</code> processes at a time; the default is 1. If <code>max-procs</code> is 0, xargs will run as many processes as possible at a time:</li>
</ul>
<p><code>{{arguments_source}} | xargs -P {{max-procs}} {{command}}</code></p>
