<h1 id="xcv">xcv</h1>
<blockquote>
<p>Cut, copy, and paste in the command-line. More information: <a href="https://github.com/busterc/xcv" class="uri">https://github.com/busterc/xcv</a>.</p>
</blockquote>
<ul>
<li>Cut a file:</li>
</ul>
<p><code>xcv x {{input_file}}</code></p>
<ul>
<li>Copy a file:</li>
</ul>
<p><code>xcv c {{input_file}}</code></p>
<ul>
<li>Paste a file:</li>
</ul>
<p><code>xcv v {{output_file}}</code></p>
<ul>
<li>List files available for pasting:</li>
</ul>
<p><code>xcv l</code></p>
