<h1 id="xmllint">xmllint</h1>
<blockquote>
<p>XML parser and linter that supports XPath, a syntax for navigating XML trees.</p>
</blockquote>
<ul>
<li>Return all nodes (tags) named “foo”:</li>
</ul>
<p><code>xmllint --xpath "//{{foo}}" {{source_file.xml}}</code></p>
<ul>
<li>Return the contents of the first node named “foo” as a string:</li>
</ul>
<p><code>xmllint --xpath "string(//{{foo}})" {{source_file.xml}}</code></p>
<ul>
<li>Return the href attribute of the second anchor element in an html file:</li>
</ul>
<p><code>xmllint --html --xpath "string(//a[2]/@href)" webpage.xhtml</code></p>
<ul>
<li>Return human-readable (indented) XML from file:</li>
</ul>
<p><code>xmllint --format {{source_file.xml}}</code></p>
<ul>
<li>Check that a XML file meets the requirements of its DOCTYPE declaration:</li>
</ul>
<p><code>xmllint --valid {{source_file.xml}}</code></p>
<ul>
<li>Validate XML against DTD schema hosted online:</li>
</ul>
<p><code>xmllint --dtdvalid {{URL}} {{source_file.xml}}</code></p>
