<h1 id="xo">xo</h1>
<blockquote>
<p>A pluggable, zero-configuration linting utility for JavaScript. More information: <a href="https://github.com/xojs/xo" class="uri">https://github.com/xojs/xo</a>.</p>
</blockquote>
<ul>
<li>Lint files in the “src” directory:</li>
</ul>
<p><code>xo</code></p>
<ul>
<li>Lint a given set of files:</li>
</ul>
<p><code>xo {{file1}}.js {{file2}}.js</code></p>
<ul>
<li>Automatically fix any lint issues found:</li>
</ul>
<p><code>xo --fix</code></p>
<ul>
<li>Lint using spaces as indentation instead of tabs:</li>
</ul>
<p><code>xo --space</code></p>
<ul>
<li>Lint using the “prettier” code style:</li>
</ul>
<p><code>xo --prettier</code></p>
