<h1 id="xsv">xsv</h1>
<blockquote>
<p>A CSV command line toolkit written in Rust. More information: <a href="https://github.com/BurntSushi/xsv" class="uri">https://github.com/BurntSushi/xsv</a>.</p>
</blockquote>
<ul>
<li>Inspect the headers of a file:</li>
</ul>
<p><code>xsv headers {{path/to/file.csv}}</code></p>
<ul>
<li>Count the number of entries:</li>
</ul>
<p><code>xsv count {{path/to/file.csv}}</code></p>
<ul>
<li>Get an overview of the shape of entries:</li>
</ul>
<p><code>xsv stats {{path/to/file.csv}} | xsv table</code></p>
<ul>
<li>Select a few columns:</li>
</ul>
<p><code>xsv select {{column_a,column_b}} {{path/to/file.csv}}</code></p>
<ul>
<li>Show 10 random entries:</li>
</ul>
<p><code>xsv sample {{10}} {{path/to/file.csv}}</code></p>
<ul>
<li>Join a column from one file to another:</li>
</ul>
<p><code>xsv join --no-case {{column_a}} {{path/to/file/a.csv}} {{column_b}} {{path/to/file/b.csv}} | xsv table</code></p>
