<h1 id="xxd">xxd</h1>
<blockquote>
<p>Create a hexadecimal representation (hexdump) from a binary file, or vice-versa.</p>
</blockquote>
<ul>
<li>Generate a hexdump from a binary file and display the output:</li>
</ul>
<p><code>xxd {{input_file}}</code></p>
<ul>
<li>Generate a hexdump from a binary file and save it as a text file:</li>
</ul>
<p><code>xxd {{input_file}} {{output_file}}</code></p>
<ul>
<li>Display the output with 10 columns of one octet (byte) each:</li>
</ul>
<p><code>xxd -c {{10}} {{input_file}}</code></p>
<ul>
<li>Display output only up to a length of 32 bytes:</li>
</ul>
<p><code>xxd -l {{32}} {{input_file}}</code></p>
<ul>
<li>Display the output in plain mode, without any gaps between the columns:</li>
</ul>
<p><code>xxd -p {{input_file}}</code></p>
<ul>
<li>Revert a plaintext hexdump back into binary, and save it as a binary file:</li>
</ul>
<p><code>xxd -r -p {{input_file}} {{output_file}}</code></p>
