<h1 id="xz">xz</h1>
<blockquote>
<p>Compress or decompress .xz and .lzma files. More information: <a href="https://tukaani.org/xz/format.html" class="uri">https://tukaani.org/xz/format.html</a>.</p>
</blockquote>
<ul>
<li>Compress a file to the xz file format:</li>
</ul>
<p><code>xz {{file}}</code></p>
<ul>
<li>Decompress a xz file:</li>
</ul>
<p><code>xz -d {{file.xz}}</code></p>
<ul>
<li>Compress a file to the lzma file format:</li>
</ul>
<p><code>xz --format=lzma {{file}}</code></p>
<ul>
<li>Decompress an lzma file:</li>
</ul>
<p><code>xz -d --format=lzma {{file.lzma}}</code></p>
<ul>
<li>Decompress a file and write to <code>stdout</code>:</li>
</ul>
<p><code>xz -dc {{file.xz}}</code></p>
<ul>
<li>Compress a file, but don’t delete the original:</li>
</ul>
<p><code>xz -k {{file}}</code></p>
<ul>
<li>Compress a file using the fastest compression:</li>
</ul>
<p><code>xz -0 {{file}}</code></p>
<ul>
<li>Compress a file using the best compression:</li>
</ul>
<p><code>xz -9 {{file}}</code></p>
