<h1 id="yarn-why">yarn-why</h1>
<blockquote>
<p>Identifies why a Yarn package has been installed. More information: <a href="https://www.npmjs.com/package/yarn-why" class="uri">https://www.npmjs.com/package/yarn-why</a>.</p>
</blockquote>
<ul>
<li>Show why a Yarn package is installed:</li>
</ul>
<p><code>yarn-why {{package_name}}</code></p>
