<h1 id="yarn">yarn</h1>
<blockquote>
<p>JavaScript and Node.js package manager alternative. More information: <a href="https://yarnpkg.com" class="uri">https://yarnpkg.com</a>.</p>
</blockquote>
<ul>
<li>Install a module globally:</li>
</ul>
<p><code>yarn global add {{module_name}}</code></p>
<ul>
<li>Install all dependencies referenced in the <code>package.json</code> file (the <code>install</code> is optional):</li>
</ul>
<p><code>yarn install</code></p>
<ul>
<li>Install a module and save it as a dependency to the <code>package.json</code> file (add <code>--dev</code> to save as a dev dependency):</li>
</ul>
<p><code>yarn add {{module_name}}@{{version}}</code></p>
<ul>
<li>Uninstall a module and remove it from the <code>package.json</code> file:</li>
</ul>
<p><code>yarn remove {{module_name}}</code></p>
<ul>
<li>Interactively create a <code>package.json</code> file:</li>
</ul>
<p><code>yarn init</code></p>
<ul>
<li>Identify whether a module is a dependency and list other modules that depend upon it:</li>
</ul>
<p><code>yarn why {{module_name}}</code></p>
