<h1 id="yes">yes</h1>
<blockquote>
<p>Output something repeatedly.</p>
</blockquote>
<ul>
<li>Repeatedly output “message”:</li>
</ul>
<p><code>yes {{message}}</code></p>
<ul>
<li>Repeatedly output “y”:</li>
</ul>
<p><code>yes</code></p>
