<h1 id="yesod">yesod</h1>
<blockquote>
<p>Helper tool for Yesod, a Haskell-based web framework. All Yesod commands are invoked through the <code>stack</code> project manager. More information: <a href="https://github.com/yesodweb/yesod" class="uri">https://github.com/yesodweb/yesod</a>.</p>
</blockquote>
<ul>
<li>Create a new scaffolded site, with sqlite as backend, in the “my-project” directory:</li>
</ul>
<p><code>stack new {{my-project}} {{yesod-sqlite}}</code></p>
<ul>
<li>Install the Yesod CLI tool within a Yesod scaffolded site:</li>
</ul>
<p><code>stack build yesod-bin cabal-install --install-ghc</code></p>
<ul>
<li>Start development server:</li>
</ul>
<p><code>stack exec -- yesod devel</code></p>
<ul>
<li>Touch files with altered Template Haskell dependencies:</li>
</ul>
<p><code>stack exec -- yesod touch</code></p>
<ul>
<li>Deploy application using Keter (Yesod’s deployment manager):</li>
</ul>
<p><code>stack exec -- yesod keter</code></p>
