<h1 id="youtube-dl">youtube-dl</h1>
<blockquote>
<p>Download videos from YouTube and other websites. More information: <a href="http://rg3.github.io/youtube-dl/" class="uri">http://rg3.github.io/youtube-dl/</a>.</p>
</blockquote>
<ul>
<li>Download a video or playlist:</li>
</ul>
<p><code>youtube-dl {{https://www.youtube.com/watch?v=oHg5SJYRHA0}}</code></p>
<ul>
<li>List all formats that a video or playlist is available in:</li>
</ul>
<p><code>youtube-dl --list-formats {{https://www.youtube.com/watch?v=Mwa0_nE9H7A}}</code></p>
<ul>
<li>Download a video or playlist at a specific quality:</li>
</ul>
<p><code>youtube-dl --format {{"best[height&lt;=480]"}} {{https://www.youtube.com/watch?v=oHg5SJYRHA0}}</code></p>
<ul>
<li>Download the audio from a video and convert it to an MP3:</li>
</ul>
<p><code>youtube-dl -x --audio-format {{mp3}} {{url}}</code></p>
<ul>
<li>Download video(s) as MP4 files with custom filenames:</li>
</ul>
<p><code>youtube-dl --format {{mp4}} -o {{"%(title)s by %(uploader)s on %(upload_date)s in %(playlist)s.%(ext)s"}} {{url}}</code></p>
<ul>
<li>Download a video and save its description, metadata, annotations, subtitles, and thumbnail:</li>
</ul>
<p><code>youtube-dl --write-description --write-info-json --write-annotations --write-sub --write-thumbnail {{url}}</code></p>
<ul>
<li>From a playlist, download all “Let’s Play” videos that aren’t marked “NSFW” or age-restricted for 7 year-olds:</li>
</ul>
<p><code>youtube-dl --match-title {{"let's play"}} --age-limit {{7}} --reject-title {{"nsfw"}} {{playlist_url}}</code></p>
