<h1 id="z">z</h1>
<blockquote>
<p>Tracks the most used directories and enables quickly navigating to them using string or regex patterns. More information: <a href="https://github.com/rupa/z" class="uri">https://github.com/rupa/z</a>.</p>
</blockquote>
<ul>
<li>Go to a directory that contains “foo” in the name:</li>
</ul>
<p><code>z {{foo}}</code></p>
<ul>
<li>Go to a directory that contains “foo” and then “bar”:</li>
</ul>
<p><code>z {{foo}} {{bar}}</code></p>
<ul>
<li>Go to the highest-ranked directory matching “foo”:</li>
</ul>
<p><code>z -r {{foo}}</code></p>
<ul>
<li>Go to the most recently accessed directory matching “foo”:</li>
</ul>
<p><code>z -t {{foo}}</code></p>
<ul>
<li>List all directories in <code>z</code>’s database matching “foo”:</li>
</ul>
<p><code>z -l {{foo}}</code></p>
<ul>
<li>Remove the current directory from <code>z</code>’s database:</li>
</ul>
<p><code>z -x .</code></p>
