<h1 id="zbarimg">zbarimg</h1>
<blockquote>
<p>Scan and decode bar codes from image file(s). More information: <a href="http://zbar.sourceforge.net" class="uri">http://zbar.sourceforge.net</a>.</p>
</blockquote>
<ul>
<li>Process an image file:</li>
</ul>
<p><code>zbarimg {{image_file}}</code></p>
