<h1 id="zcat">zcat</h1>
<blockquote>
<p>Print data from gzip compressed files.</p>
</blockquote>
<ul>
<li>Print the uncompressed contents of a gzipped file to the standard output:</li>
</ul>
<p><code>zcat {{file.txt.gz}}</code></p>
<ul>
<li>Print compression details of a gzipped file to the standard output:</li>
</ul>
<p><code>zcat -l {{file.txt.gz}}</code></p>
