<h1 id="zdb">zdb</h1>
<blockquote>
<p>ZFS debugger.</p>
</blockquote>
<ul>
<li>Show detailed configuration of all mounted ZFS zpools:</li>
</ul>
<p><code>zdb</code></p>
<ul>
<li>Show detailed configuration for a specific ZFS pool:</li>
</ul>
<p><code>zdb -C {{poolname}}</code></p>
<ul>
<li>Show statistics about number, size and deduplication of blocks:</li>
</ul>
<p><code>zdb -b {{poolname}}</code></p>
