<h1 id="zfs">zfs</h1>
<blockquote>
<p>Manage ZFS filesystems.</p>
</blockquote>
<ul>
<li>List all available zfs filesystems:</li>
</ul>
<p><code>zfs list</code></p>
<ul>
<li>Create a new ZFS filesystem:</li>
</ul>
<p><code>zfs create {{pool_name/filesystem_name}}</code></p>
<ul>
<li>Delete a ZFS filesystem:</li>
</ul>
<p><code>zfs destroy {{pool_name/filesystem_name}}</code></p>
<ul>
<li>Create a Snapshot of a ZFS filesystem:</li>
</ul>
<p><code>zfs snapshot {{pool_name/filesystem_name}}@{{snapshot_name}}</code></p>
<ul>
<li>Enable compression on a filesystem:</li>
</ul>
<p><code>zfs set compression=on {{pool_name/filesystem_name}}</code></p>
<ul>
<li>Change mountpoint for a filesystem:</li>
</ul>
<p><code>zfs set mountpoint={{/my/mount/path}} {{pool_name/filesystem_name}}</code></p>
