<h1 id="zip">zip</h1>
<blockquote>
<p>Package and compress (archive) files into zip file.</p>
</blockquote>
<ul>
<li>Package and compress a directory and its contents, [r]ecursively:</li>
</ul>
<p><code>zip -r {{compressed.zip}} {{/path/to/dir}}</code></p>
<ul>
<li>E[x]clude unwanted files from being added to the compressed archive:</li>
</ul>
<p><code>zip -r {{compressed.zip}} {{path/to/dir}} -x {{path/to/exclude}}</code></p>
<ul>
<li>Archive a directory and its contents with the highest level [9] of compression:</li>
</ul>
<p><code>zip -r -{{9}} {{compressed.zip}} {{/path/to/dir}}</code></p>
<ul>
<li>Package and compress multiple directories and files:</li>
</ul>
<p><code>zip -r {{compressed.zip}} {{/path/to/dir1 /path/to/dir2 /path/to/file}}</code></p>
<ul>
<li>Create an encrypted archive (user will be prompted for a password):</li>
</ul>
<p><code>zip -e -r {{compressed.zip}} {{path/to/dir}}</code></p>
<ul>
<li>Add files to an existing zip file:</li>
</ul>
<p><code>zip {{compressed.zip}} {{path/to/file}}</code></p>
<ul>
<li>Delete files from an existing zip file:</li>
</ul>
<p><code>zip -d {{compressed.zip}} "{{foo/*.tmp}}"</code></p>
<ul>
<li>Archive a directory and its contents to a multi-part [s]plit zip file (e.g. 3GB parts):</li>
</ul>
<p><code>zip -r -s {{3g}} {{compressed.zip}} {{path/to/dir}}</code></p>
