<h1 id="zipalign">zipalign</h1>
<blockquote>
<p>Zip archive alignment tool. Part of the Android SDK build tools. More information: <a href="https://developer.android.com/studio/command-line/zipalign" class="uri">https://developer.android.com/studio/command-line/zipalign</a>.</p>
</blockquote>
<ul>
<li>Align the data of a ZIP file on 4-byte boundaries:</li>
</ul>
<p><code>zipalign {{4}} {{path/to/input.zip}} {{path/to/output.zip}}</code></p>
<ul>
<li>Check that a ZIP file is correctly aligned on 4-byte boundaries and display the results in a verbose manner:</li>
</ul>
<p><code>zipalign -v -c {{4}} {{path/to/input.zip}}</code></p>
