<h1 id="zless">zless</h1>
<blockquote>
<p>View compressed files.</p>
</blockquote>
<ul>
<li>Page through a compressed archive with <code>less</code>:</li>
</ul>
<p><code>zless {{file.txt.gz}}</code></p>
