<h1 id="zola">zola</h1>
<blockquote>
<p>A fast static site generator in a single binary with everything built-in. More information: <a href="https://www.getzola.org/documentation/getting-started/cli-usage/" class="uri">https://www.getzola.org/documentation/getting-started/cli-usage/</a>.</p>
</blockquote>
<ul>
<li>Create the directory structure used by Zola at the given directory:</li>
</ul>
<p><code>zola init {{my_site}}</code></p>
<ul>
<li>Build the whole site in the <code>public</code> directory after deleting it:</li>
</ul>
<p><code>zola build</code></p>
<ul>
<li>Build the whole site into a different directory:</li>
</ul>
<p><code>zola build --output-dir {{path/to/output_directory/}}</code></p>
<ul>
<li>Build and serve the site using a local server (default is <code>127.0.0.1:1111</code>):</li>
</ul>
<p><code>zola serve</code></p>
<ul>
<li>Build all pages just like the build command would, but without writing any of the results to disk:</li>
</ul>
<p><code>zola check</code></p>
