<h1 id="zopflipng">zopflipng</h1>
<blockquote>
<p>PNG image compression utility. More information: <a href="https://github.com/google/zopfli" class="uri">https://github.com/google/zopfli</a>.</p>
</blockquote>
<ul>
<li>Optimize a PNG image:</li>
</ul>
<p><code>zopflipng {{input.png}} {{output.png}}</code></p>
<ul>
<li>Optimize several PNG images and save with given prefix:</li>
</ul>
<p><code>zopflipng --prefix={{prefix}} {{image1.png}} {{image2.png}} {{image3.png}}</code></p>
