<h1 id="zpool">zpool</h1>
<blockquote>
<p>Manage ZFS pools.</p>
</blockquote>
<ul>
<li>Show the configuration and status of all ZFS zpools:</li>
</ul>
<p><code>zpool status</code></p>
<ul>
<li>Check a ZFS pool for errors (verifies the checksum of EVERY block). Very CPU and disk intensive:</li>
</ul>
<p><code>zpool scrub {{pool_name}}</code></p>
<ul>
<li>List zpools available for import:</li>
</ul>
<p><code>zpool import</code></p>
<ul>
<li>Import a zpool:</li>
</ul>
<p><code>zpool import {{pool_name}}</code></p>
<ul>
<li>Export a zpool (unmount all filesystems):</li>
</ul>
<p><code>zpool export {{pool_name}}</code></p>
<ul>
<li>Show the history of all pool operations:</li>
</ul>
<p><code>zpool history {{pool_name}}</code></p>
<ul>
<li>Create a mirrored pool:</li>
</ul>
<p><code>zpool create {{pool_name}} mirror {{disk1}} {{disk2}} mirror {{disk3}} {{disk4}}</code></p>
<ul>
<li>Add a cache (L2ARC) device to a zpool:</li>
</ul>
<p><code>zpool add {{pool_name}} cache {{cache_disk}}</code></p>
