<h1 id="zsh">zsh</h1>
<blockquote>
<p>Z SHell. <code>bash</code> and <code>sh</code>-compatible command line interpreter. More information: <a href="https://www.zsh.org" class="uri">https://www.zsh.org</a>.</p>
</blockquote>
<ul>
<li>Start interactive command line interpreter:</li>
</ul>
<p><code>zsh</code></p>
<ul>
<li>Execute command passed as parameter:</li>
</ul>
<p><code>zsh -c {{command}}</code></p>
<ul>
<li>Run commands from file (script):</li>
</ul>
<p><code>zsh {{file}}</code></p>
<ul>
<li>Run commands from file and print them as they are executed:</li>
</ul>
<p><code>zsh -x {{file}}</code></p>
