<h1 id="zstd">zstd</h1>
<blockquote>
<p>Compress or decompress files with Zstandard compression. More information: <a href="https://github.com/facebook/zstd" class="uri">https://github.com/facebook/zstd</a>.</p>
</blockquote>
<ul>
<li>Compress a file into a new file with the .zst suffix:</li>
</ul>
<p><code>zstd {{file}}</code></p>
<ul>
<li>Decompress a file:</li>
</ul>
<p><code>zstd -d {{file}}.zst</code></p>
<ul>
<li>Decompress to <code>stdout</code>:</li>
</ul>
<p><code>zstd -dc {{file}}.zst</code></p>
<ul>
<li>Compress a file, while specifing the compression level. 0 = Worst, 19 = Best (Default level is 3):</li>
</ul>
<p><code>zstd -{{level}} {{file}}</code></p>
<ul>
<li>Use more memory (both when compressing and decompressing) to achieve a higher compression ratio:</li>
</ul>
<p><code>zstd --ultra -{{level}} {{file}}</code></p>
