html {
	width: 100%;
}

body {
	font-family: helvetica, arial, roboto, sans-serif;
	margin: 0;
	margin-top: -5px;
	padding-left: 10px;
}

h1 {
	font-size: 16px;
	font-style: italic;
	text-decoration: underline;
}

h2 {
	font-style: italic;
	
	
}

p, a {
	color: black;
	font-family: helvetica, arial, roboto, sans-serif;
}

a:hover {
	position: relative;
	left: 20px;
	cursor: alias; 
}

a:hover, 
a:visited, 
a:link, 
a:active {
	text-decoration: none !important; 
}

.highlight a:hover {
	background: cyan; 
}