<h1 id="afplay">afplay</h1>
<blockquote>
<p>Command-line audio player.</p>
</blockquote>
<ul>
<li>Play a sound file (waits until playback ends):</li>
</ul>
<p><code>afplay {{path/to/file}}</code></p>
<ul>
<li>Play a sound file at 2x speed (playback rate):</li>
</ul>
<p><code>afplay --rate 2 {{path/to/file}}</code></p>
<ul>
<li>Play a sound file at half speed:</li>
</ul>
<p><code>afplay --rate 0.5 {{path/to/file}}</code></p>
<ul>
<li>Play the first N seconds of a sound file:</li>
</ul>
<p><code>afplay --time {{seconds}} {{path/to/file}}</code></p>
