<h1 id="airport">airport</h1>
<blockquote>
<p>Wireless network configuration utility.</p>
</blockquote>
<ul>
<li>Show current wireless status information:</li>
</ul>
<p><code>airport -I</code></p>
<ul>
<li>Sniff wireless traffic on channel 1:</li>
</ul>
<p><code>airport sniff {{1}}</code></p>
<ul>
<li>Scan for available wireless networks:</li>
</ul>
<p><code>airport -s</code></p>
<ul>
<li>Disassociate from current airport network:</li>
</ul>
<p><code>sudo airport -z</code></p>
