<h1 id="as">as</h1>
<blockquote>
<p>Portable GNU assembler. Primarily intended to assemble output from <code>gcc</code> to be used by <code>ld</code>.</p>
</blockquote>
<ul>
<li>Assemble a file, writing the output to a.out:</li>
</ul>
<p><code>as {{file.s}}</code></p>
<ul>
<li>Assemble the output to a given file:</li>
</ul>
<p><code>as {{file.s}} -o {{out.o}}</code></p>
<ul>
<li>Generate output faster by skipping whitespace and comment preprocessing. (Should only be used for trusted compilers):</li>
</ul>
<p><code>as -f {{file.s}}</code></p>
<ul>
<li>Include a given path to the list of directories to search for files specified in .include directives:</li>
</ul>
<p><code>as -I {{path/to/directory}} {{file.s}}</code></p>
