<h1 id="asr">asr</h1>
<blockquote>
<p>Restore (copy) a disk image onto a volume. The command name stands for Apple Software Restore.</p>
</blockquote>
<ul>
<li>Restore a disk image to a target volume:</li>
</ul>
<p><code>sudo asr restore --source {{image_name}}.dmg --target {{path/to/volume}}</code></p>
<ul>
<li>Erase the target volume before restoring:</li>
</ul>
<p><code>sudo asr restore --source {{image_name}}.dmg --target {{path/to/volume}} --erase</code></p>
<ul>
<li>Skip verification after restoring:</li>
</ul>
<p><code>sudo asr restore --source {{image_name}}.dmg --target {{path/to/volume}} --noverify</code></p>
<ul>
<li>Clone volumes without the use of an intermediate disk image:</li>
</ul>
<p><code>sudo asr restore --source {{path/to/volume}} --target {{path/to/cloned_volume}}</code></p>
