<h1 id="base64">base64</h1>
<blockquote>
<p>Encode and decode using Base64 representation.</p>
</blockquote>
<ul>
<li>Encode a file:</li>
</ul>
<p><code>base64 -i {{plain_file}}</code></p>
<ul>
<li>Decode a file:</li>
</ul>
<p><code>base64 -D -i {{base64_file}}</code></p>
<ul>
<li>Encode from <code>stdin</code>:</li>
</ul>
<p><code>echo -n {{plain_text}} | base64</code></p>
<ul>
<li>Decode from <code>stdin</code>:</li>
</ul>
<p><code>echo -n {{base64_text}} | base64 -D</code></p>
