<h1 id="brew-cask">brew cask</h1>
<blockquote>
<p>Package manager for macOS applications distributed as binaries. More information: <a href="https://github.com/Homebrew/homebrew-cask" class="uri">https://github.com/Homebrew/homebrew-cask</a>.</p>
</blockquote>
<ul>
<li>Search for formulas and casks:</li>
</ul>
<p><code>brew search {{text}}</code></p>
<ul>
<li>Install a cask:</li>
</ul>
<p><code>brew cask install {{cask_name}}</code></p>
<ul>
<li>List all installed casks:</li>
</ul>
<p><code>brew cask list</code></p>
<ul>
<li>List installed casks that have newer versions available:</li>
</ul>
<p><code>brew cask outdated</code></p>
<ul>
<li>Upgrade an installed cask (if no cask name is given, all installed casks are upgraded):</li>
</ul>
<p><code>brew cask upgrade {{cask_name}}</code></p>
<ul>
<li>Uninstall a cask:</li>
</ul>
<p><code>brew cask uninstall {{cask_name}}</code></p>
<ul>
<li>Uninstall a cask and remove related settings and files:</li>
</ul>
<p><code>brew cask zap {{cask_name}}</code></p>
<ul>
<li>Display information about a given cask:</li>
</ul>
<p><code>brew cask info {{cask_name}}</code></p>
