<h1 id="brew">brew</h1>
<blockquote>
<p>Package manager for macOS. More information: <a href="https://brew.sh" class="uri">https://brew.sh</a>.</p>
</blockquote>
<ul>
<li>Search for available formulas and casks:</li>
</ul>
<p><code>brew search {{text}}</code></p>
<ul>
<li>Install the latest stable version of a formula (use <code>--devel</code> for development versions):</li>
</ul>
<p><code>brew install {{formula}}</code></p>
<ul>
<li>List all installed formulae:</li>
</ul>
<p><code>brew list</code></p>
<ul>
<li>Upgrade an installed formula (if no formula name is given, all installed formulae are upgraded):</li>
</ul>
<p><code>brew upgrade {{formula}}</code></p>
<ul>
<li>Fetch the newest version of Homebrew and of all formulae from GitHub:</li>
</ul>
<p><code>brew update</code></p>
<ul>
<li>Remove old versions of installed formulae (if no formula name is given, all installed formulae are processed):</li>
</ul>
<p><code>brew cleanup {{formula}}</code></p>
<ul>
<li>Display information about a formula (version, installation path, dependencies, etc.):</li>
</ul>
<p><code>brew info {{formula}}</code></p>
<ul>
<li>Check the local Homebrew installation for potential problems:</li>
</ul>
<p><code>brew doctor</code></p>
