<h1 id="brightness">brightness</h1>
<blockquote>
<p>Get and set the brightness level of all internal and certain external displays.</p>
</blockquote>
<ul>
<li>Show current brightness:</li>
</ul>
<p><code>brightness -l</code></p>
<ul>
<li>Set the brightness to 100%::</li>
</ul>
<p><code>brightness {{1}}</code></p>
<ul>
<li>Set the brightness to 50%::</li>
</ul>
<p><code>brightness {{0.5}}</code></p>
