<h1 id="caffeinate">caffeinate</h1>
<blockquote>
<p>Prevent mac from sleeping.</p>
</blockquote>
<ul>
<li>Prevent from sleeping for 1 hour (3600 seconds):</li>
</ul>
<p><code>caffeinate -u -t {{3600}}</code></p>
<ul>
<li>Prevent from sleeping until a command completes:</li>
</ul>
<p><code>caffeinate -s {{command}}</code></p>
<ul>
<li>Prevent from sleeping until you type Ctrl-C:</li>
</ul>
<p><code>caffeinate -i</code></p>
