<h1 id="cal">cal</h1>
<blockquote>
<p>Prints calendar information.</p>
</blockquote>
<ul>
<li>Display a calendar for the current month:</li>
</ul>
<p><code>cal</code></p>
<ul>
<li>Display previous, current and next month:</li>
</ul>
<p><code>cal -3</code></p>
<ul>
<li>Display a calendar for a specific month (1-12 or name):</li>
</ul>
<p><code>cal -m {{month}}</code></p>
<ul>
<li>Display a calendar for the current year:</li>
</ul>
<p><code>cal -y</code></p>
<ul>
<li>Display a calendar for a specific year (4 digits):</li>
</ul>
<p><code>cal {{year}}</code></p>
<ul>
<li>Display a calendar for a specific month and year:</li>
</ul>
<p><code>cal {{month}} {{year}}</code></p>
<ul>
<li>Display date of Easter (Western Christian churches) in a given year:</li>
</ul>
<p><code>ncal -e {{year}}</code></p>
