<h1 id="carthage">carthage</h1>
<blockquote>
<p>A dependency management tool for Cocoa applications.</p>
</blockquote>
<ul>
<li>Download the latest version of all dependencies mentioned in Cartfile, and build them:</li>
</ul>
<p><code>carthage update</code></p>
<ul>
<li>Update dependencies, but only build for iOS:</li>
</ul>
<p><code>carthage update --platform ios</code></p>
<ul>
<li>Update dependencies, but don’t build any of them:</li>
</ul>
<p><code>carthage update --no-build</code></p>
<ul>
<li>Download and rebuild the current version of dependencies (without updating them):</li>
</ul>
<p><code>carthage bootstrap</code></p>
<ul>
<li>Rebuild a specific dependency:</li>
</ul>
<p><code>carthage build {{dependency}}</code></p>
