<h1 id="chflags">chflags</h1>
<blockquote>
<p>Change file or directory flags.</p>
</blockquote>
<ul>
<li>Set the <code>hidden</code> flag for a file:</li>
</ul>
<p><code>chflags {{hidden}} {{path/to/file}}</code></p>
<ul>
<li>Unset the <code>hidden</code> flag for a file:</li>
</ul>
<p><code>chflags {{nohidden}} {{path/to/file}}</code></p>
<ul>
<li>Recursively set the <code>uchg</code> flag for a directory:</li>
</ul>
<p><code>chflags -R {{uchg}} {{path/to/directory}}</code></p>
<ul>
<li>Recursively unset the <code>uchg</code> flag for a directory:</li>
</ul>
<p><code>chflags -R {{nouchg}} {{path/to/directory}}</code></p>
