<h1 id="codesign">codesign</h1>
<blockquote>
<p>Create and manipulate code signatures for macOS.</p>
</blockquote>
<ul>
<li>Sign an application with a certificate:</li>
</ul>
<p><code>codesign -s {{"My Company Name"}} {{/path/to/App.app}}</code></p>
<ul>
<li>Verify the certificate of an application:</li>
</ul>
<p><code>codesign -v {{/path/to/App.app}}</code></p>
