<h1 id="command">command</h1>
<blockquote>
<p>Command forces the shell to execute the program and ignore any functions, builtins and aliases with the same name.</p>
</blockquote>
<ul>
<li>Execute the ls program literally, even if an ls alias exists:</li>
</ul>
<p><code>command {{ls}}</code></p>
