<h1 id="compgen">compgen</h1>
<blockquote>
<p>A built-in command for auto-completion in bash, which is called on pressing TAB key twice.</p>
</blockquote>
<ul>
<li>List all commands that you could run:</li>
</ul>
<p><code>compgen -c</code></p>
<ul>
<li>List all aliases:</li>
</ul>
<p><code>compgen -a</code></p>
<ul>
<li>List all functions that you could run:</li>
</ul>
<p><code>compgen -A function</code></p>
<ul>
<li>Show shell reserved key words:</li>
</ul>
<p><code>compgen -k</code></p>
<ul>
<li>See all available commands/aliases starting with ‘ls’:</li>
</ul>
<p><code>compgen -ac {{ls}}</code></p>
