<h1 id="csshx">csshX</h1>
<blockquote>
<p>Cluster SSH tool for MacOS. More information: <a href="https://github.com/brockgr/csshx" class="uri">https://github.com/brockgr/csshx</a>.</p>
</blockquote>
<ul>
<li>Connect to multiple hosts:</li>
</ul>
<p><code>csshX {{hostname1}} {{hostname2}}</code></p>
<ul>
<li>Connect to multiple hosts with a given SSH key:</li>
</ul>
<p><code>csshX {{user@hostname1}} {{user@hostname2}} '--ssh_args' '-i {{path/to/ssh_key.pem}}'</code></p>
<ul>
<li>Connect to a pre-defined cluster from /etc/clusters:</li>
</ul>
<p><code>csshX cluster1</code></p>
