<h1 id="defaults">defaults</h1>
<blockquote>
<p>Read and write macOS user configuration for applications.</p>
</blockquote>
<ul>
<li>Read system defaults for an application option:</li>
</ul>
<p><code>defaults read {{application}} {{option}}</code></p>
<ul>
<li>Read default values for an application option:</li>
</ul>
<p><code>defaults read -app {{application}} {{option}}</code></p>
<ul>
<li>Write the default value of an application option:</li>
</ul>
<p><code>defaults write {{application}} {{option}} {{-type}} {{value}}</code></p>
<ul>
<li>Speed up Mission Control animations:</li>
</ul>
<p><code>defaults write com.apple.Dock expose-animation-duration -float 0.1</code></p>
<ul>
<li>Delete all defaults of an application:</li>
</ul>
<p><code>defaults delete {{application}}</code></p>
