<h1 id="diskutil">diskutil</h1>
<blockquote>
<p>Utility to manage local disks and volumes.</p>
</blockquote>
<ul>
<li>List all currently available disks, partitions and mounted volumes:</li>
</ul>
<p><code>diskutil list</code></p>
<ul>
<li>Repair the file system data structures of a volume:</li>
</ul>
<p><code>diskutil repairVolume {{/dev/diskX}}</code></p>
<ul>
<li>Unmount a volume:</li>
</ul>
<p><code>diskutil unmountDisk {{/dev/diskX}}</code></p>
<ul>
<li>Eject a CD/DVD (unmount first):</li>
</ul>
<p><code>diskutil eject {{/dev/disk1}}</code></p>
