<h1 id="ditto">ditto</h1>
<blockquote>
<p>Copy files and directories.</p>
</blockquote>
<ul>
<li>Overwrite contents of destination directory with contents of source directory:</li>
</ul>
<p><code>ditto {{path/to/source}} {{path/to/destination}}</code></p>
<ul>
<li>Print a line to the Terminal window for every file that’s being copied:</li>
</ul>
<p><code>ditto -V {{path/to/source}} {{path/to/destination}}</code></p>
<ul>
<li>Copy a given file or directory, while retaining the original file permissions:</li>
</ul>
<p><code>ditto -rsrc {{path/to/source}} {{path/to/destination}}</code></p>
