<h1 id="duti">duti</h1>
<blockquote>
<p>Set default applications for document types and URL schemes on macOS.</p>
</blockquote>
<ul>
<li>Set Safari as the default handler for HTML documents:</li>
</ul>
<p><code>duti -s {{com.apple.Safari}} {{public.html}} all</code></p>
<ul>
<li>Set VLC as the default viewer for files with .m4v extensions:</li>
</ul>
<p><code>duti -s {{org.videolan.vlc}} {{m4v}} viewer</code></p>
<ul>
<li>Set Finder as the default handler for the ftp:// URL scheme:</li>
</ul>
<p><code>duti -s {{com.apple.Finder}} {{ftp}}</code></p>
<ul>
<li>Display information about the default application for a given extension:</li>
</ul>
<p><code>duti -x {{ext}}</code></p>
<ul>
<li>Display the default handler for a given UTI:</li>
</ul>
<p><code>duti -d {{uti}}</code></p>
<ul>
<li>Display all handlers of a given UTI:</li>
</ul>
<p><code>duti -l {{uti}}</code></p>
