<h1 id="eval">eval</h1>
<blockquote>
<p>Execute arguments as a single command in the current shell and return its result.</p>
</blockquote>
<ul>
<li>Call <code>echo</code> with the “foo” argument:</li>
</ul>
<p><code>eval "{{echo foo}}"</code></p>
<ul>
<li>Set a variable in the current shell:</li>
</ul>
<p><code>eval "{{foo=bar}}"</code></p>
