<h1 id="export">export</h1>
<blockquote>
<p>Command to mark shell variables in the current environment to be exported with any newly forked child processes.</p>
</blockquote>
<ul>
<li>Set a new environment variable:</li>
</ul>
<p><code>export {{VARIABLE}}={{value}}</code></p>
<ul>
<li>Remove an environment variable:</li>
</ul>
<p><code>export -n {{VARIABLE}}</code></p>
<ul>
<li>Append something to the PATH variable:</li>
</ul>
<p><code>export PATH=$PATH:{{path/to/append}}</code></p>
