<h1 id="fc">fc</h1>
<blockquote>
<p>Open the most recent command and edit it.</p>
</blockquote>
<ul>
<li>Open in the default system editor:</li>
</ul>
<p><code>fc</code></p>
<ul>
<li>Specify an editor to open with:</li>
</ul>
<p><code>fc -e {{'emacs'}}</code></p>
<ul>
<li>List recent commands from history:</li>
</ul>
<p><code>fc -l</code></p>
