<h1 id="feh">feh</h1>
<blockquote>
<p>Lightweight image viewing utility.</p>
</blockquote>
<ul>
<li>View images locally or using a URL:</li>
</ul>
<p><code>feh {{path/to/images}}</code></p>
<ul>
<li>View images recursively:</li>
</ul>
<p><code>feh --recursive {{path/to/images}}</code></p>
<ul>
<li>View images without window borders:</li>
</ul>
<p><code>feh --borderless {{path/to/images}}</code></p>
<ul>
<li>Exit after the last image:</li>
</ul>
<p><code>feh --cycle-once {{path/to/images}}</code></p>
<ul>
<li>Set the slideshow cycle delay:</li>
</ul>
<p><code>feh --slideshow-delay {{seconds}} {{path/to/images}}</code></p>
<ul>
<li>Set your wallpaper (centered, filled, maximized, scaled or tiled):</li>
</ul>
<p><code>feh --bg-{{center|fill|max|scale|tile}} {{path/to/image}}</code></p>
