<h1 id="file">file</h1>
<blockquote>
<p>Determine file type.</p>
</blockquote>
<ul>
<li>Give a description of the type of the specified file. Works fine for files with no file extension:</li>
</ul>
<p><code>file {{filename}}</code></p>
<ul>
<li>Look inside a zipped file and determine the file type(s) inside:</li>
</ul>
<p><code>file -z {{foo.zip}}</code></p>
<ul>
<li>Allow file to work with special or device files:</li>
</ul>
<p><code>file -s {{filename}}</code></p>
<ul>
<li>Don’t stop at first file type match; keep going until the end of the file:</li>
</ul>
<p><code>file -k {{filename}}</code></p>
<ul>
<li>Determine the mime encoding type of a file:</li>
</ul>
<p><code>file -I {{filename}}</code></p>
