<h1 id="fsck">fsck</h1>
<blockquote>
<p>Check the integrity of a filesystem or repair it. The filesystem should be unmounted at the time the command is run. It is a wrapper that calls <code>fsck_hfs</code>, <code>fsck_apfs</code>, <code>fsck_msdos</code>, <code>fsck_exfat</code>, and <code>fsck_udf</code> as needed.</p>
</blockquote>
<ul>
<li>Check filesystem /dev/sda, reporting any damaged blocks:</li>
</ul>
<p><code>fsck {{/dev/sda}}</code></p>
<ul>
<li>Check filesystem /dev/sda only if it is clean, reporting any damaged blocks and interactively letting the user choose to repair each one:</li>
</ul>
<p><code>fsck -f {{/dev/sda}}</code></p>
<ul>
<li>Check filesystem /dev/sda only if it is clean, reporting any damaged blocks and automatically repairing them:</li>
</ul>
<p><code>fsck -fy {{/dev/sda}}</code></p>
<ul>
<li>Check filesystem /dev/sda, reporting whether it has been cleanly unmounted:</li>
</ul>
<p><code>fsck -q {{/dev/sda}}</code></p>
