<h1 id="gunicorn">gunicorn</h1>
<blockquote>
<p>Python WSGI HTTP Server.</p>
</blockquote>
<ul>
<li>Run Python web app:</li>
</ul>
<p><code>gunicorn {{import.path:app_object}}</code></p>
<ul>
<li>Listen on port 8080 on localhost:</li>
</ul>
<p><code>gunicorn --bind {{localhost}}:{{8080}} {{import.path:app_object}}</code></p>
<ul>
<li>Turn on live reload:</li>
</ul>
<p><code>gunicorn --reload {{import.path:app_object}}</code></p>
<ul>
<li>Use 4 worker processes for handling requests:</li>
</ul>
<p><code>gunicorn --workers {{4}} {{import.path:app_object}}</code></p>
<ul>
<li>Use 4 worker threads for handling requests:</li>
</ul>
<p><code>gunicorn --threads {{4}} {{import.path:app_object}}</code></p>
<ul>
<li>Run app over HTTPS:</li>
</ul>
<p><code>gunicorn --certfile {{cert.pem}} --keyfile {{key.pem}} {{import.path:app_object}}</code></p>
