<h1 id="hdiutil">hdiutil</h1>
<blockquote>
<p>Utility to create and manage disk images.</p>
</blockquote>
<ul>
<li>Mount an image:</li>
</ul>
<p><code>hdiutil attach {{path/to/image_file}}</code></p>
<ul>
<li>Unmount an image:</li>
</ul>
<p><code>hdiutil detach /Volumes/{{volume_name}}</code></p>
<ul>
<li>List mounted images:</li>
</ul>
<p><code>hdiutil info</code></p>
<ul>
<li>Create an ISO image from the contents of a directory:</li>
</ul>
<p><code>hdiutil makehybrid -o {{path/to/output_file}} {{path/to/directory}}</code></p>
