<h1 id="head">head</h1>
<blockquote>
<p>Output the first part of files.</p>
</blockquote>
<ul>
<li>Output the first few lines of a file:</li>
</ul>
<p><code>head -n {{count_of_lines}} {{filename}}</code></p>
<ul>
<li>Output the first few bytes of a file:</li>
</ul>
<p><code>head -c {{number_in_bytes}} {{filename}}</code></p>
