<h1 id="hexdump">hexdump</h1>
<blockquote>
<p>An ASCII, decimal, hexadecimal, octal dump.</p>
</blockquote>
<ul>
<li>Print the hexadecimal representation of a file:</li>
</ul>
<p><code>hexdump {{file}}</code></p>
<ul>
<li>Display the input offset in hexadecimal and its ASCII representation in two columns:</li>
</ul>
<p><code>hexdump -C {{file}}</code></p>
<ul>
<li>Display the hexadecimal representation of a file, but interpret only n bytes of the input:</li>
</ul>
<p><code>hexdump -C -n{{number_of_bytes}} {{file}}</code></p>
