<h1 id="hostname">hostname</h1>
<blockquote>
<p>Show or set the system’s host name.</p>
</blockquote>
<ul>
<li>Show current host name:</li>
</ul>
<p><code>hostname</code></p>
<ul>
<li>Set current host name:</li>
</ul>
<p><code>hostname {{new_hostname}}</code></p>
