<h1 id="imgcat">imgcat</h1>
<blockquote>
<p>A utility to display images directly on the command line. Requires a compatible terminal such as iTerm2.</p>
</blockquote>
<ul>
<li>Display an image on the command line:</li>
</ul>
<p><code>imgcat {{filename}}</code></p>
