<h1 id="launchctl">launchctl</h1>
<blockquote>
<p>A command-line interface to Apple’s <code>launchd</code> manager for launch daemons (system-wide services) and launch agents (per-user programs). <code>launchd</code> loads XML-based <code>*.plist</code> files placed in the appropriate locations, and runs the corresponding commands according to their defined schedule.</p>
</blockquote>
<ul>
<li>Activate a user-specific agent to be loaded into <code>launchd</code> whenever the user logs in:</li>
</ul>
<p><code>launchctl load ~/Library/LaunchAgents/{{my_script}}.plist</code></p>
<ul>
<li>Activate an agent which requires root privileges to run and/or should be loaded whenever any user logs in (note the absence of <code>~</code> in the path):</li>
</ul>
<p><code>sudo launchctl load /Library/LaunchAgents/{{root_script}}.plist</code></p>
<ul>
<li>Activate a system-wide daemon to be loaded whenever the system boots up (even if no user logs in):</li>
</ul>
<p><code>sudo launchctl load /Library/LaunchDaemons/{{system_daemon}}.plist</code></p>
<ul>
<li>Show all loaded agents/daemons, with the PID if the process they specify is currently running, and the exit code returned the last time they ran:</li>
</ul>
<p><code>launchctl list</code></p>
<ul>
<li>Unload a currently loaded agent, e.g. to make changes (note: the plist file is automatically loaded into <code>launchd</code> after a reboot and/or logging in):</li>
</ul>
<p><code>launchctl unload ~/Library/LaunchAgents/{{my_script}}.plist</code></p>
<ul>
<li>Manually run a known (loaded) agent/daemon, even if it is not the right time (note: this command uses the agent’s label, rather than the filename):</li>
</ul>
<p><code>launchctl start {{my_script}}</code></p>
<ul>
<li>Manually kill the process associated with a known agent/daemon, if it is running:</li>
</ul>
<p><code>launchctl stop {{my_script}}</code></p>
