<h1 id="lldb">lldb</h1>
<blockquote>
<p>The LLVM Low-Level Debugger.</p>
</blockquote>
<ul>
<li>Debug an executable:</li>
</ul>
<p><code>lldb {{executable}}</code></p>
<ul>
<li>Attach <code>lldb</code> to a running process with a given PID:</li>
</ul>
<p><code>lldb -p {{pid}}</code></p>
<ul>
<li>Wait for a new process to launch with a given name, and attach to it:</li>
</ul>
<p><code>lldb -w -n {{process_name}}</code></p>
