<h1 id="locate">locate</h1>
<blockquote>
<p>Find filenames quickly.</p>
</blockquote>
<ul>
<li>Look for pattern in the database. Note: the database is recomputed periodically (usually weekly or daily):</li>
</ul>
<p><code>locate {{pattern}}</code></p>
<ul>
<li>Look for a file by its exact filename (a pattern containing no globbing characters is interpreted as <code>*pattern*</code>):</li>
</ul>
<p><code>locate */{{filename}}</code></p>
<ul>
<li>Recompute the database. You need to do it if you want to find recently added files:</li>
</ul>
<p><code>sudo /usr/libexec/locate.updatedb</code></p>
