<h1 id="logger">logger</h1>
<blockquote>
<p>Add messages to syslog (/var/log/syslog).</p>
</blockquote>
<ul>
<li>Log a message to syslog:</li>
</ul>
<p><code>logger {{message}}</code></p>
<ul>
<li>Take input from <code>stdin</code> and log to syslog:</li>
</ul>
<p><code>echo {{log_entry}} | logger</code></p>
<ul>
<li>Send the output to a remote syslog server running at a given port. Default port is 514:</li>
</ul>
<p><code>echo {{log_entry}} | logger -h {{hostname}} -P {{port}}</code></p>
<ul>
<li>Use a specific tag for every line logged. Default is the name of logged in user:</li>
</ul>
<p><code>echo {{log_entry}} | logger -t {{tag}}</code></p>
<ul>
<li>Log messages with a given priority. Default is <code>user.notice</code>. See <code>man logger</code> for all priority options:</li>
</ul>
<p><code>echo {{log_entry}} | logger -p {{user.warning}}</code></p>
