<h1 id="look">look</h1>
<blockquote>
<p>Look for lines in sorted file.</p>
</blockquote>
<ul>
<li>Look for lines which begins with the given prefix:</li>
</ul>
<p><code>look {{prefix}} {{file}}</code></p>
<ul>
<li>Look for lines ignoring case:</li>
</ul>
<p><code>look -f {{prefix}} {{file}}</code></p>
