<h1 id="mas">mas</h1>
<blockquote>
<p>Command line interface for the Mac App Store. More information: <a href="https://github.com/mas-cli/mas" class="uri">https://github.com/mas-cli/mas</a>.</p>
</blockquote>
<ul>
<li>Sign into the Mac App Store for the first time:</li>
</ul>
<p><code>mas signin {{user@example.com}}</code></p>
<ul>
<li>Show all installed applications and their product identifiers:</li>
</ul>
<p><code>mas list</code></p>
<ul>
<li>Search for an application, displaying the price alongside the results:</li>
</ul>
<p><code>mas search {{application}} --price</code></p>
<ul>
<li>Install or update an application:</li>
</ul>
<p><code>mas install {{product_identifier}}</code></p>
<ul>
<li>Install all pending updates:</li>
</ul>
<p><code>mas upgrade</code></p>
