<h1 id="md5">md5</h1>
<blockquote>
<p>Calculate MD5 cryptographic checksums.</p>
</blockquote>
<ul>
<li>Calculate the MD5 checksum for a file:</li>
</ul>
<p><code>md5 {{filename}}</code></p>
<ul>
<li>Calculate MD5 checksums for multiple files:</li>
</ul>
<p><code>md5 {{filename1}} {{filename2}}</code></p>
<ul>
<li>Output only the md5 checksum (no filename):</li>
</ul>
<p><code>md5 -q {{filename}}</code></p>
<ul>
<li>Print a checksum of the given string:</li>
</ul>
<p><code>md5 -s {{string}}</code></p>
