<h1 id="mdfind">mdfind</h1>
<blockquote>
<p>List files matching a given query.</p>
</blockquote>
<ul>
<li>Find a file by its name:</li>
</ul>
<p><code>mdfind -name {{file}}</code></p>
<ul>
<li>Find a file by its content:</li>
</ul>
<p><code>mdfind {{query}}</code></p>
<ul>
<li>Find a file containing a string, in a given directory:</li>
</ul>
<p><code>mdfind -onlyin {{directory}} {{query}}</code></p>
