<h1 id="mdutil">mdutil</h1>
<blockquote>
<p>Manage the metadata stores used by Spotlight for indexing.</p>
</blockquote>
<ul>
<li>Show the indexing status of the startup volume:</li>
</ul>
<p><code>mdutil -s {{/}}</code></p>
<ul>
<li>Turn on/off the Spotlight indexing for a given volume:</li>
</ul>
<p><code>mdutil -i {{on|off}} {{path/to/volume}}</code></p>
<ul>
<li>Erase the metadata stores and restart the indexing process:</li>
</ul>
<p><code>mdutil -E {{path/to/volume}}</code></p>
