<h1 id="mkfile">mkfile</h1>
<blockquote>
<p>Create one or more empty files of any size.</p>
</blockquote>
<ul>
<li>Create an empty file of 15 kilobytes:</li>
</ul>
<p><code>mkfile -n {{15k}} {{file_name}}</code></p>
<ul>
<li>Create a file of a given size and unit (bytes, KB, MB, GB):</li>
</ul>
<p><code>mkfile -n {{size}}{{b|k|m|g}} {{file_name}}</code></p>
<ul>
<li>Create two files of 4 megabytes each:</li>
</ul>
<p><code>mkfile -n {{4m}} {{first_file_name}} {{second_file_name}}</code></p>
