<h1 id="n">n</h1>
<blockquote>
<p>Tool to manage multiple node versions.</p>
</blockquote>
<ul>
<li>Install a given version of node. If the version is already installed, it will be activated:</li>
</ul>
<p><code>n {{version}}</code></p>
<ul>
<li>Display installed versions and interactively activate one of them:</li>
</ul>
<p><code>n</code></p>
<ul>
<li>Remove a version:</li>
</ul>
<p><code>n rm {{version}}</code></p>
<ul>
<li>Execute a file with a given version:</li>
</ul>
<p><code>n use {{version}} {{file.js}}</code></p>
<ul>
<li>Output binary path for a version:</li>
</ul>
<p><code>n bin {{version}}</code></p>
