<h1 id="netstat">netstat</h1>
<blockquote>
<p>Displays network-related information such as open connections, open socket ports, etc.</p>
</blockquote>
<ul>
<li>List all ports:</li>
</ul>
<p><code>netstat -a</code></p>
<ul>
<li>List all listening ports:</li>
</ul>
<p><code>netstat -l</code></p>
<ul>
<li>List listening TCP ports:</li>
</ul>
<p><code>netstat -t</code></p>
<ul>
<li>Display PID and program names for a specific protocol:</li>
</ul>
<p><code>netstat -p {{protocol}}</code></p>
<ul>
<li>List information continuously:</li>
</ul>
<p><code>netstat -c</code></p>
<ul>
<li>Print the routing table:</li>
</ul>
<p><code>netstat -nr</code></p>
