<h1 id="networksetup">networksetup</h1>
<blockquote>
<p>Configuration tool for Network System Preferences.</p>
</blockquote>
<ul>
<li>List available network service providers (Ethernet, Wi-Fi, Bluetooth, etc):</li>
</ul>
<p><code>networksetup -listallnetworkservices</code></p>
<ul>
<li>Show network settings for a particular networking device:</li>
</ul>
<p><code>networksetup -getinfo {{"Wi-Fi"}}</code></p>
<ul>
<li>Get currently connected Wi-Fi network name (Wi-Fi device usually en0 or en1):</li>
</ul>
<p><code>networksetup -getairportnetwork {{en0}}</code></p>
<ul>
<li>Connect to a particular Wi-Fi network:</li>
</ul>
<p><code>networksetup -setairportnetwork {{en0}} {{"Airport Network SSID"}} {{password}}</code></p>
