<h1 id="nm">nm</h1>
<blockquote>
<p>List symbol names in object files.</p>
</blockquote>
<ul>
<li>List global (extern) functions in a file (prefixed with T):</li>
</ul>
<p><code>nm -g {{file.o}}</code></p>
<ul>
<li>List only undefined symbols in a file:</li>
</ul>
<p><code>nm -u {{file.o}}</code></p>
<ul>
<li>List all symbols, even debugging symbols:</li>
</ul>
<p><code>nm -a {{file.o}}</code></p>
<ul>
<li>Demangle C++ symbols (make them readable):</li>
</ul>
<p><code>nm -demangle {{file.o}}</code></p>
