<h1 id="oathtool">oathtool</h1>
<blockquote>
<p>OATH one-time password tool.</p>
</blockquote>
<ul>
<li>Generate TOTP token (behaves like Google Authenticator):</li>
</ul>
<p><code>oathtool --totp --base32 {{secret}}</code></p>
<ul>
<li>Generate a TOTP token for a specific time:</li>
</ul>
<p><code>oathtool --totp --now {{2004-02-29 16:21:42}} --base32 {{secret}}</code></p>
<ul>
<li>Validate a TOTP token:</li>
</ul>
<p><code>oathtool --totp --base32 {{secret}} {{token}}</code></p>
