<h1 id="open">open</h1>
<blockquote>
<p>Opens files, directories and applications.</p>
</blockquote>
<ul>
<li>Open a file with the associated application:</li>
</ul>
<p><code>open {{file.ext}}</code></p>
<ul>
<li>Run a graphical macOS application:</li>
</ul>
<p><code>open -a {{Application}}</code></p>
<ul>
<li>Run a graphical macOS app based on the bundle identifier (refer to <code>osascript</code> for an easy way to get this):</li>
</ul>
<p><code>open -b {{com.domain.application}}</code></p>
<ul>
<li>Open the current directory in Finder:</li>
</ul>
<p><code>open .</code></p>
<ul>
<li>Reveal a file in Finder:</li>
</ul>
<p><code>open -R {{path/to/file}}</code></p>
<ul>
<li>Open all the files of a given extension in the current directory with the associated application:</li>
</ul>
<p><code>open {{*.ext}}</code></p>
