<h1 id="opensnoop">opensnoop</h1>
<blockquote>
<p>Tool that tracks file opens on your system.</p>
</blockquote>
<ul>
<li>Print all file opens as they occur:</li>
</ul>
<p><code>sudo opensnoop</code></p>
<ul>
<li>Track all file opens by a process by name:</li>
</ul>
<p><code>sudo opensnoop -n {{process_name}}</code></p>
<ul>
<li>Track all file opens by a process by PID:</li>
</ul>
<p><code>sudo opensnoop -p {{PID}}</code></p>
<ul>
<li>Track which processes open a specified file:</li>
</ul>
<p><code>sudo opensnoop -f {{path/to/file}}</code></p>
