<h1 id="osascript">osascript</h1>
<blockquote>
<p>Run AppleScript or JavaScript for Automation (JXA) from the command line.</p>
</blockquote>
<ul>
<li>Run an AppleScript command:</li>
</ul>
<p><code>osascript -e '{{say "Hello world"}}'</code></p>
<ul>
<li>Run multiple AppleScript commands:</li>
</ul>
<p><code>osascript -e '{{say "Hello"}}' -e '{{say "world"}}'</code></p>
<ul>
<li>Run a compiled (<code>*.scpt</code>), bundled (<code>*.scptd</code>), or plaintext (<code>*.applescript</code>) AppleScript file:</li>
</ul>
<p><code>osascript {{path/to/apple.scpt}}</code></p>
<ul>
<li>Get the bundle identifier of an application (useful for <code>open -b</code>):</li>
</ul>
<p><code>osascript -e 'id of app "{{Application}}"'</code></p>
<ul>
<li>Run a JavaScript command:</li>
</ul>
<p><code>osascript -l JavaScript -e '{{console.log("Hello world");}}'</code></p>
<ul>
<li>Run a JavaScript file:</li>
</ul>
<p><code>osascript -l JavaScript {{path/to/script.js}}</code></p>
