<h1 id="pbcopy">pbcopy</h1>
<blockquote>
<p>Place standard output in the clipboard.</p>
</blockquote>
<ul>
<li>Place the contents of a file in the clipboard:</li>
</ul>
<p><code>pbcopy &lt; {{file}}</code></p>
<ul>
<li>Place the results of a command in the clipboard:</li>
</ul>
<p><code>find . -type t -name "*.png" | pbcopy</code></p>
