<h1 id="pbpaste">pbpaste</h1>
<blockquote>
<p>Send the contents of the clipboard to standard output.</p>
</blockquote>
<ul>
<li>Write the contents of the clipboard to a file:</li>
</ul>
<p><code>pbpaste &gt; {{file}}</code></p>
<ul>
<li>Use the contents of the clipboard as input to a command:</li>
</ul>
<p><code>pbpaste | grep foo</code></p>
