<h1 id="pdfgrep">pdfgrep</h1>
<blockquote>
<p>Search text in PDF files.</p>
</blockquote>
<ul>
<li>Find lines that match pattern in a PDF:</li>
</ul>
<p><code>pdfgrep {{pattern}} {{file.pdf}}</code></p>
<ul>
<li>Include file name and page number for each matched line:</li>
</ul>
<p><code>pdfgrep --with-filename --page-number {{pattern}} {{file.pdf}}</code></p>
<ul>
<li>Do a case insensitive search for lines that begin with “foo” and return the first 3 matches:</li>
</ul>
<p><code>pdfgrep --max-count {{3}} --ignore-case {{'^foo'}} {{file.pdf}}</code></p>
<ul>
<li>Find pattern in files with a .pdf extension in the current directory recursively:</li>
</ul>
<p><code>pdfgrep --recursive {{pattern}}</code></p>
<ul>
<li>Find pattern on files that match a specific glob in the current directory recursively:</li>
</ul>
<p><code>pdfgrep --recursive --include {{'*book.pdf'}} {{pattern}}</code></p>
