<h1 id="ping">ping</h1>
<blockquote>
<p>Send ICMP ECHO_REQUEST packets to network hosts.</p>
</blockquote>
<ul>
<li>Ping the specified host:</li>
</ul>
<p><code>ping {{host}}</code></p>
<ul>
<li>Ping a host a specific number of times:</li>
</ul>
<p><code>ping -c {{count}} {{host}}</code></p>
<ul>
<li>Ping <code>host</code>, specifying the interval in <code>seconds</code> between requests (default is 1 second):</li>
</ul>
<p><code>ping -i {{seconds}} {{host}}</code></p>
<ul>
<li>Ping <code>host</code> without trying to lookup symbolic names for addresses:</li>
</ul>
<p><code>ping -n {{host}}</code></p>
<ul>
<li>Ping <code>host</code> and ring the bell when a packet is received (if your terminal supports it):</li>
</ul>
<p><code>ping -a {{host}}</code></p>
<ul>
<li>Ping <code>host</code> and prints the time a packet was received (this option is an Apple addition):</li>
</ul>
<p><code>ping --apple-time {{host}}</code></p>
