<h1 id="pod">pod</h1>
<blockquote>
<p>Dependency manager for Swift and Objective-C Cocoa projects.</p>
</blockquote>
<ul>
<li>Create a Podfile for the current project with the default contents:</li>
</ul>
<p><code>pod init</code></p>
<ul>
<li>Download and install all pods defined in the Podfile (that haven’t been installed before):</li>
</ul>
<p><code>pod install</code></p>
<ul>
<li>List all available pods:</li>
</ul>
<p><code>pod list</code></p>
<ul>
<li>Show the outdated pods (of those currently installed):</li>
</ul>
<p><code>pod outdated</code></p>
<ul>
<li>Update all currently installed pods to their newest version:</li>
</ul>
<p><code>pod update</code></p>
<ul>
<li>Update a specific (previously installed) pod to its newest version:</li>
</ul>
<p><code>pod update {{pod_name}}</code></p>
<ul>
<li>Remove CocoaPods from a Xcode project:</li>
</ul>
<p><code>pod deintegrate {{xcode_project}}</code></p>
