<h1 id="port">port</h1>
<blockquote>
<p>Package manager for macOS.</p>
</blockquote>
<ul>
<li>Search for a package:</li>
</ul>
<p><code>port search {{search_term}}</code></p>
<ul>
<li>Install a package:</li>
</ul>
<p><code>sudo port install {{package_name}}</code></p>
<ul>
<li>List installed packages:</li>
</ul>
<p><code>port installed</code></p>
<ul>
<li>Update port and fetch latest list of available packages:</li>
</ul>
<p><code>sudo port selfupdate</code></p>
<ul>
<li>Upgrade outdated packages:</li>
</ul>
<p><code>sudo port upgrade outdated</code></p>
<ul>
<li>Remove old versions of installed packages:</li>
</ul>
<p><code>sudo port uninstall inactive</code></p>
