<h1 id="pushd">pushd</h1>
<blockquote>
<p>Place a directory on a stack so it can be accessed later. See also <code>popd</code> to switch back to original directory.</p>
</blockquote>
<ul>
<li>Switch to directory and push it on the stack:</li>
</ul>
<p><code>pushd {{directory}}</code></p>
<ul>
<li>Switch first and second directories on the stack:</li>
</ul>
<p><code>pushd</code></p>
<ul>
<li>Rotate stack by making the 5th element the top of the stack:</li>
</ul>
<p><code>pushd +4</code></p>
