<h1 id="pwgen">pwgen</h1>
<blockquote>
<p>Generate pronounceable passwords.</p>
</blockquote>
<ul>
<li>Generate random password with s[y]mbols:</li>
</ul>
<p><code>pwgen -y {{length}}</code></p>
<ul>
<li>Generate secure, hard-to-memorize passwords:</li>
</ul>
<p><code>pwgen -s {{length}}</code></p>
<ul>
<li>Generate password with at least one capital letter in them:</li>
</ul>
<p><code>pwgen -c {{length}}</code></p>
