<h1 id="qlmanage">qlmanage</h1>
<blockquote>
<p>QuickLook server tool.</p>
</blockquote>
<ul>
<li>Display QuickLook for one or multiple files:</li>
</ul>
<p><code>qlmanage -p {{filename}} {{filename2}}</code></p>
<ul>
<li>Compute 300px wide PNG thumbnails of all JPEGs in the current directory and put them in a directory:</li>
</ul>
<p><code>qlmanage {{*.jpg}} -t -s {{300}} {{path/to/directory}}</code></p>
<ul>
<li>Reset Quicklook:</li>
</ul>
<p><code>qlmanage -r</code></p>
