<h1 id="route">route</h1>
<blockquote>
<p>Manually manipulate the routing tables. Necessitates to be root.</p>
</blockquote>
<ul>
<li>Add a route to a destination through a gateway:</li>
</ul>
<p><code>sudo route add {{dest_ip_address}} {{gateway_address}}</code></p>
<ul>
<li>Add a route to a /24 subnet through a gateway:</li>
</ul>
<p><code>sudo route add {{subnet_ip_address}}/24 {{gateway_address}}</code></p>
<ul>
<li>Run in test mode (does not do anything, just print):</li>
</ul>
<p><code>sudo route -t add {{dest_ip_address}}/24 {{gateway_address}}</code></p>
<ul>
<li>Remove all routes:</li>
</ul>
<p><code>sudo route flush</code></p>
<ul>
<li>Delete a specific route:</li>
</ul>
<p><code>sudo route delete {{dest_ip_address}}/24</code></p>
<ul>
<li>Lookup and display the route for a destination (hostname or IP address):</li>
</ul>
<p><code>sudo route get {{destination}}</code></p>
