<h1 id="rubocop">rubocop</h1>
<blockquote>
<p>Lint Ruby files.</p>
</blockquote>
<ul>
<li>Check all files in the current directory (including subdirectories):</li>
</ul>
<p><code>rubocop</code></p>
<ul>
<li>Check one or more specific files or directories:</li>
</ul>
<p><code>rubocop {{path/to/file}} {{path/to/directory}}</code></p>
<ul>
<li>Write output to file:</li>
</ul>
<p><code>rubocop --out {{path/to/file}}</code></p>
<ul>
<li>View list of cops (linter rules):</li>
</ul>
<p><code>rubocop --show-cops</code></p>
<ul>
<li>Exclude a cop:</li>
</ul>
<p><code>rubocop --except {{cop_1}} {{cop_2}}</code></p>
<ul>
<li>Run only specified cops:</li>
</ul>
<p><code>rubocop --only {{cop_1}} {{cop_2}}</code></p>
<ul>
<li>Auto-correct files (experimental):</li>
</ul>
<p><code>rubocop --auto-correct</code></p>
