<h1 id="runit">runit</h1>
<blockquote>
<p>3-stage init system.</p>
</blockquote>
<ul>
<li>Start runit’s 3-stage init scheme:</li>
</ul>
<p><code>runit</code></p>
<ul>
<li>Shut down runit:</li>
</ul>
<p><code>kill --CONT {{runit_pid}}</code></p>
