<h1 id="runsvdir">runsvdir</h1>
<blockquote>
<p>Run an entire directory of services.</p>
</blockquote>
<ul>
<li>Start and manage all services in a directory as the current user:</li>
</ul>
<p><code>runsvdir {{path/to/services}}</code></p>
<ul>
<li>Start and manage all services in a directory as root:</li>
</ul>
<p><code>sudo runsvdir {{path/to/services}}</code></p>
<ul>
<li>Start services in separate sessions:</li>
</ul>
<p><code>runsvdir -P {{path/to/services}}</code></p>
