<h1 id="runsvchdir">runsvchdir</h1>
<blockquote>
<p>Change the directory <code>runsvdir</code> uses by default.</p>
</blockquote>
<ul>
<li>Switch <code>runsvdir</code> directories:</li>
</ul>
<p><code>sudo runsvchdir {{/path/to/directory}}</code></p>
