<h1 id="runsv">runsv</h1>
<blockquote>
<p>Start and manage a runit service.</p>
</blockquote>
<ul>
<li>Start a runit service as the current user:</li>
</ul>
<p><code>runsv {{path/to/service}}</code></p>
<ul>
<li>Start a runit service as root:</li>
</ul>
<p><code>sudo runsv {{path/to/service}}</code></p>
