<h1 id="say">say</h1>
<blockquote>
<p>Converts text to speech.</p>
</blockquote>
<ul>
<li>Say a phrase aloud:</li>
</ul>
<p><code>say {{"I like to ride my bike."}}</code></p>
<ul>
<li>Read a file aloud:</li>
</ul>
<p><code>say -f {{filename.txt}}</code></p>
<ul>
<li>Say a phrase with a custom voice and speech rate:</li>
</ul>
<p><code>say -v {{voice}} -r {{words_per_minute}} {{"I'm sorry Dave, I can't let you do that."}}</code></p>
<ul>
<li>List the available voices:</li>
</ul>
<p><code>say -v ?</code></p>
<ul>
<li>Create an audio file of the spoken text:</li>
</ul>
<p><code>say -o {{filename.aiff}} {{"Here's to the Crazy Ones."}}</code></p>
