<h1 id="screencapture">screencapture</h1>
<blockquote>
<p>Utility to take screenshots and screen recordings.</p>
</blockquote>
<ul>
<li>Take a screenshot and save it to a file:</li>
</ul>
<p><code>screencapture {{path/to/file.png}}</code></p>
<ul>
<li>Take a screenshot including the mouse cursor:</li>
</ul>
<p><code>screencapture -C {{path/to/file.png}}</code></p>
<ul>
<li>Take a screenshot and open it in Preview, instead of saving:</li>
</ul>
<p><code>screencapture -P</code></p>
<ul>
<li>Take a screenshot of a selected rectangular area:</li>
</ul>
<p><code>screencapture -i {{path/to/file.png}}</code></p>
<ul>
<li>Take a screenshot after a delay:</li>
</ul>
<p><code>screencapture -T {{seconds}} {{path/to/file.png}}</code></p>
<ul>
<li>Make a screen recording and save it to a file:</li>
</ul>
<p><code>screencapture -v {{path/to/file.mp4}}</code></p>
