<h1 id="scutil">scutil</h1>
<blockquote>
<p>Manage system configuration parameters. Necessitates to be root when setting configuration.</p>
</blockquote>
<ul>
<li>Display DNS Configuration:</li>
</ul>
<p><code>scutil --dns</code></p>
<ul>
<li>Display proxy configuration:</li>
</ul>
<p><code>scutil --proxy</code></p>
<ul>
<li>Get computer name:</li>
</ul>
<p><code>scutil --get ComputerName</code></p>
<ul>
<li>Set computer name:</li>
</ul>
<p><code>sudo scutil --set ComputerName {{computer_name}}</code></p>
<ul>
<li>Get hostname:</li>
</ul>
<p><code>scutil --get HostName</code></p>
<ul>
<li>Set hostname:</li>
</ul>
<p><code>scutil --set HostName {{hostname}}</code></p>
