<h1 id="shasum">shasum</h1>
<blockquote>
<p>Calculate or check cryptographic SHA checksums.</p>
</blockquote>
<ul>
<li>Calculate the SHA1 checksum for a file:</li>
</ul>
<p><code>shasum {{filename}}</code></p>
<ul>
<li>Calculate the SHA256 checksum for a file:</li>
</ul>
<p><code>shasum --algorithm 256 {{filename}}</code></p>
<ul>
<li>Calculate the SHA512 checksum for multiple files:</li>
</ul>
<p><code>shasum --algorithm 512 {{filename1}} {{filename2}}</code></p>
<ul>
<li>Check a file with a list of sums against the directory’s files:</li>
</ul>
<p><code>shasum --check {{list_file}}</code></p>
<ul>
<li>Calculate the SHA1 checksum from <code>stdin</code>:</li>
</ul>
<p><code>{{somecommand}} | shasum</code></p>
