<h1 id="shutdown">shutdown</h1>
<blockquote>
<p>Shutdown and reboot the system.</p>
</blockquote>
<ul>
<li>Power off (halt) immediately:</li>
</ul>
<p><code>shutdown -h now</code></p>
<ul>
<li>Sleep immediately:</li>
</ul>
<p><code>shutdown -s now</code></p>
<ul>
<li>Reboot immediately:</li>
</ul>
<p><code>shutdown -r now</code></p>
<ul>
<li>Reboot in 5 minutes:</li>
</ul>
<p><code>shutdown -r +{{5}}</code></p>
<ul>
<li>Power off (halt) at 1:00 pm (Uses 24h clock):</li>
</ul>
<p><code>shutdown -h {{1300}}</code></p>
<ul>
<li>Reboot on May 10th 2042 at 11:30 am (Input format: YYMMDDHHMM):</li>
</ul>
<p><code>shutdown -r {{4205101130}}</code></p>
