<h1 id="sips">sips</h1>
<blockquote>
<p>Apple Scriptable Image Processing System. Raster/Query images and ColorSync ICC Profiles.</p>
</blockquote>
<ul>
<li>Specify an output directory so that originals do not get modified:</li>
</ul>
<p><code>sips --out {{path/to/out_dir}}</code></p>
<ul>
<li>Resample image at specified size, Image aspect ratio may be altered:</li>
</ul>
<p><code>sips -z {{1920}} {{300}} {{image.ext}}</code></p>
<ul>
<li>Resample image so height and width aren’t greater than specified size (notice the capital Z):</li>
</ul>
<p><code>sips -Z {{1920}} {{300}} {{image.ext}}</code></p>
<ul>
<li>Resample all images in a directory to fit a width of 960px (honoring aspect ratio):</li>
</ul>
<p><code>sips --resampleWidth {{960}} {{path/to/images}}</code></p>
<ul>
<li>Convert an image from CMYK to RGB:</li>
</ul>
<p><code>sips --matchTo '/System/Library/ColorSync/Profiles/Generic RGB Profile.icc' {{path/to/image.ext}} {{path/to/out_dir}}</code></p>
<ul>
<li>Remove ColorSync ICC profile from an image:</li>
</ul>
<p><code>sips -d profile --deleteColorManagementProperties {{path/to/image.ext}}</code></p>
