<h1 id="softwareupdate">softwareupdate</h1>
<blockquote>
<p>A tool for updating MacOS App Store apps via the command line.</p>
</blockquote>
<ul>
<li>List all available updates:</li>
</ul>
<p><code>softwareupdate -l</code></p>
<ul>
<li>Download and install all updates:</li>
</ul>
<p><code>softwareupdate -ia</code></p>
<ul>
<li>Download and install all recommended updates:</li>
</ul>
<p><code>softwareupdate -ir</code></p>
<ul>
<li>Download and install a specific app:</li>
</ul>
<p><code>softwareupdate -i {{update_name}}</code></p>
