<h1 id="spotify">spotify</h1>
<blockquote>
<p>A command-line interface to Spotify. More information: <a href="https://github.com/hnarayanan/shpotify" class="uri">https://github.com/hnarayanan/shpotify</a>.</p>
</blockquote>
<ul>
<li>Find a song by name and play it:</li>
</ul>
<p><code>spotify play {{song_name}}</code></p>
<ul>
<li>Find a playlist by name and play it:</li>
</ul>
<p><code>spotify play list {{playlist_name}}</code></p>
<ul>
<li>Pause (or resume) playback:</li>
</ul>
<p><code>spotify pause</code></p>
<ul>
<li>Skip to the next song in a playlist:</li>
</ul>
<p><code>spotify next</code></p>
<ul>
<li>Change volume:</li>
</ul>
<p><code>spotify vol {{up|down|value}}</code></p>
<ul>
<li>Show the playback status and song details:</li>
</ul>
<p><code>spotify status</code></p>
