<h1 id="ssh-add">ssh-add</h1>
<blockquote>
<p>Manage loaded ssh keys in the ssh-agent. Ensure that ssh-agent is up and running for the keys to be loaded in it.</p>
</blockquote>
<ul>
<li>Add the default ssh keys in “~/.ssh” to the ssh-agent:</li>
</ul>
<p><code>ssh-add</code></p>
<ul>
<li>Add a specific key to the ssh-agent:</li>
</ul>
<p><code>ssh-add {{path/to/private_key}}</code></p>
<ul>
<li>List fingerprints of currently loaded keys:</li>
</ul>
<p><code>ssh-add -l</code></p>
<ul>
<li>Delete a key from the ssh-agent:</li>
</ul>
<p><code>ssh-add -d {{path/to/private_key}}</code></p>
<ul>
<li>Delete all currently loaded keys from the ssh-agent:</li>
</ul>
<p><code>ssh-add -D</code></p>
<ul>
<li>Add a key to the ssh-agent and the keychain:</li>
</ul>
<p><code>ssh-add -K {{path/to/private_key}}</code></p>
