<h1 id="sshuttle">sshuttle</h1>
<blockquote>
<p>Transparent proxy server that tunnels traffic over an SSH connection. Doesn’t require admin, or any special setup on the remote SSH server. More information: <a href="https://github.com/sshuttle/sshuttle" class="uri">https://github.com/sshuttle/sshuttle</a>.</p>
</blockquote>
<ul>
<li>Forward all IPv4 TCP traffic via a remote SSH server:</li>
</ul>
<p><code>sshuttle --remote={{username}}@{{sshserver}} {{0.0.0.0/0}}</code></p>
<ul>
<li>Forward all IPv4 TCP and DNS traffic:</li>
</ul>
<p><code>sshuttle --dns --remote={{username}}@{{sshserver}} {{0.0.0.0/0}}</code></p>
<ul>
<li>Use the tproxy method to forward all IPv4 and IPv6 traffic:</li>
</ul>
<p><code>sudo sshuttle --method=tproxy --remote={{username}}@{{sshserver}} {{0.0.0.0/0}} {{::/0}} --exclude={{your_local_ip_address}} --exclude={{ssh_server_ip_address}}</code></p>
