<h1 id="stat">stat</h1>
<blockquote>
<p>Display file status.</p>
</blockquote>
<ul>
<li>Show file properties such as size, permissions, creation and access dates among others:</li>
</ul>
<p><code>stat {{file}}</code></p>
<ul>
<li>Same as above but verbose (more similar to linux’s <code>stat</code>):</li>
</ul>
<p><code>stat -x {{file}}</code></p>
<ul>
<li>Show only octal file permissions:</li>
</ul>
<p><code>stat -f %Mp%Lp {{file}}</code></p>
<ul>
<li>Show owner and group of the file:</li>
</ul>
<p><code>stat -f "%Su %Sg" {{file}}</code></p>
<ul>
<li>Show the size of the file in bytes:</li>
</ul>
<p><code>stat -f "%z %N" {{file}}</code></p>
