<h1 id="stty">stty</h1>
<blockquote>
<p>Set options for a terminal device interface.</p>
</blockquote>
<ul>
<li>Display all settings for the current terminal:</li>
</ul>
<p><code>stty -a</code></p>
<ul>
<li>Set the number of rows:</li>
</ul>
<p><code>stty rows {{rows}}</code></p>
<ul>
<li>Set the number of columns:</li>
</ul>
<p><code>stty cols {{cols}}</code></p>
<ul>
<li>Get the actual transfer speed of a device:</li>
</ul>
<p><code>stty -f {{path/to/device_file}} speed</code></p>
<ul>
<li>Reset all modes to reasonable values for the current terminal:</li>
</ul>
<p><code>stty sane</code></p>
