<h1 id="sv">sv</h1>
<blockquote>
<p>Control a running runsv service.</p>
</blockquote>
<ul>
<li>Start a service:</li>
</ul>
<p><code>sudo sv up {{path/to/service}}</code></p>
<ul>
<li>Stop a service:</li>
</ul>
<p><code>sudo sv down {{path/to/service}}</code></p>
<ul>
<li>Get service status:</li>
</ul>
<p><code>sudo sv status {{path/to/service}}</code></p>
