<h1 id="sysctl">sysctl</h1>
<blockquote>
<p>Access kernel state information.</p>
</blockquote>
<ul>
<li>Show all available variables and their values:</li>
</ul>
<p><code>sysctl -a</code></p>
<ul>
<li>Show Apple model identifier:</li>
</ul>
<p><code>sysctl -n hw.model</code></p>
<ul>
<li>Show CPU model:</li>
</ul>
<p><code>sysctl -n machdep.cpu.brand_string</code></p>
<ul>
<li>Show available CPU features (MMX, SSE, SSE2, SSE3, AES, etc):</li>
</ul>
<p><code>sysctl -n machdep.cpu.feature</code></p>
<ul>
<li>Set a changeable kernel state variable:</li>
</ul>
<p><code>sysctl -w {{section.tunable}}={{value}}</code></p>
