<h1 id="systemsetup">systemsetup</h1>
<blockquote>
<p>Configure System Preferences machine settings.</p>
</blockquote>
<ul>
<li>Enable remote login (SSH):</li>
</ul>
<p><code>systemsetup -setremotelogin on</code></p>
<ul>
<li>Specify TimeZone, NTP Server and enable network time:</li>
</ul>
<p><code>systemsetup -settimezone {{US/Pacific}} -setnetworktimeserver {{us.pool.ntp.org}} -setusingnetworktime on</code></p>
<ul>
<li>Make the machine never sleep and automatically restart on power failure or kernel panic:</li>
</ul>
<p><code>systemsetup -setsleep off -setrestartpowerfailure on -setrestartfreeze on</code></p>
<ul>
<li>List valid startup disks:</li>
</ul>
<p><code>systemsetup -liststartupdisks</code></p>
<ul>
<li>Specify a new startup disk:</li>
</ul>
<p><code>systemsetup -setstartupdisk {{path}}</code></p>
