<h1 id="textutil">textutil</h1>
<blockquote>
<p>Used to manipulate text files of various formats.</p>
</blockquote>
<ul>
<li>Display information about foo.rtf:</li>
</ul>
<p><code>textutil -info {{foo.rtf}}</code></p>
<ul>
<li>Convert foo.rtf into foo.html:</li>
</ul>
<p><code>textutil -convert {{html}} {{foo.rtf}}</code></p>
<ul>
<li>Convert rich text to normal text:</li>
</ul>
<p><code>textutil {{foo.rtf}} -convert {{txt}}</code></p>
<ul>
<li>Convert foo.txt into foo.rtf, using Times 10 for the font:</li>
</ul>
<p><code>textutil -convert {{rtf}} -font {{Times}} -fontsize {{10}} {{foo.txt}}</code></p>
<ul>
<li>Load all RTF files in the current directory, concatenates their contents, and writes the result out as index.html with the HTML title set to “Several Files”:</li>
</ul>
<p><code>textutil -cat {{html}} -title "Several Files" -output {{index.html}} *.rtf</code></p>
