<h1 id="top">top</h1>
<blockquote>
<p>Display dynamic real-time information about running processes.</p>
</blockquote>
<ul>
<li>Start top, all options are available in the interface:</li>
</ul>
<p><code>top</code></p>
<ul>
<li>Start top sorting processes by internal memory size (default order - process ID):</li>
</ul>
<p><code>top -o mem</code></p>
<ul>
<li>Start top sorting processes first by CPU, then by running time:</li>
</ul>
<p><code>top -o cpu -O time</code></p>
<ul>
<li>Start top displaying only processes owned by given user:</li>
</ul>
<p><code>top -user {{user_name}}</code></p>
<ul>
<li>Get help about interactive commands:</li>
</ul>
<p><code>?</code></p>
