<h1 id="trap">trap</h1>
<blockquote>
<p>Automatically execute commands after receiving signals by processes or the operating system. Can be used to perform cleanups for interruptions by the user or other actions.</p>
</blockquote>
<ul>
<li>List available signals to set traps for:</li>
</ul>
<p><code>trap -l</code></p>
<ul>
<li>List active traps for the current shell:</li>
</ul>
<p><code>trap -p</code></p>
<ul>
<li>Set a trap to execute commands when one or more signals are detected:</li>
</ul>
<p><code>trap 'echo "Caught signal {{SIGHUP}}"' {{SIGHUP}}</code></p>
<ul>
<li>Remove active traps:</li>
</ul>
<p><code>trap - {{SIGHUP}} {{SIGINT}}</code></p>
