<h1 id="tree">tree</h1>
<blockquote>
<p>Show the contents of the current directory as a tree.</p>
</blockquote>
<ul>
<li>Show files and directories up to ‘num’ levels of depth (where 1 means the current directory):</li>
</ul>
<p><code>tree -L {{num}}</code></p>
<ul>
<li>Show directories only:</li>
</ul>
<p><code>tree -d</code></p>
<ul>
<li>Show hidden files too:</li>
</ul>
<p><code>tree -a</code></p>
<ul>
<li>Print the tree without indentation lines, showing the full path instead (use <code>-N</code> to not escape whitespace and special characters):</li>
</ul>
<p><code>tree -i -f</code></p>
<ul>
<li>Print the size of each node next to it, in human-readable format, with directories displaying their cumulative size (as in the <code>du</code> command):</li>
</ul>
<p><code>tree -s -h --du</code></p>
<ul>
<li>Find files within the tree hierarchy, using a wildcard (glob) pattern, and pruning out directories that don’t contain matching files:</li>
</ul>
<p><code>tree -P '{{*.txt}}' --prune</code></p>
<ul>
<li>Find directories within the tree hierarchy, pruning out directories that aren’t ancestors of the wanted one:</li>
</ul>
<p><code>tree -P {{directory_name}} --matchdirs --prune</code></p>
