<h1 id="units">units</h1>
<blockquote>
<p>Provide the conversion between two units of measure.</p>
</blockquote>
<ul>
<li>Run in interactive mode:</li>
</ul>
<p><code>units</code></p>
<ul>
<li>Show the conversion between two simple units:</li>
</ul>
<p><code>units {{quarts}} {{tablespoons}}</code></p>
<ul>
<li>Convert between units with quantities:</li>
</ul>
<p><code>units {{"15 pounds"}} {{kilograms}}</code></p>
<ul>
<li>Show the conversion between two compound units:</li>
</ul>
<p><code>units {{"meters / second"}} {{"inches / hour"}}</code></p>
<ul>
<li>Show the conversion between units with different dimensions:</li>
</ul>
<p><code>units {{"acres"}} {{"ft^2"}}</code></p>
<ul>
<li>Show the conversion of byte multipliers:</li>
</ul>
<p><code>units {{"15 megabytes"}} {{bytes}}</code></p>
