<h1 id="wacaw">wacaw</h1>
<blockquote>
<p>A little command-line tool for macOS that allows you to capture both still pictures and video from an attached camera. More information: <a href="http://webcam-tools.sourceforge.net" class="uri">http://webcam-tools.sourceforge.net</a>.</p>
</blockquote>
<ul>
<li>Take a picture from webcam:</li>
</ul>
<p><code>wacaw {{filename}}</code></p>
<ul>
<li>Record a video:</li>
</ul>
<p><code>wacaw --video {{filename}} -D {{duration_in_seconds}}</code></p>
<ul>
<li>Take a picture with custom resolution:</li>
</ul>
<p><code>wacaw -x {{width}} -y {{height}} {{filename}}</code></p>
<ul>
<li>Copy image just taken to clipboard:</li>
</ul>
<p><code>wacaw --to-clipboard</code></p>
<ul>
<li>List the devices available:</li>
</ul>
<p><code>wacaw -L</code></p>
