<h1 id="whatis">whatis</h1>
<blockquote>
<p>Tool that searches a set of database files containing short descriptions of system commands for keywords. More information: <a href="http://www.linfo.org/whatis.html" class="uri">http://www.linfo.org/whatis.html</a>.</p>
</blockquote>
<ul>
<li>Search for informations about keyword:</li>
</ul>
<p><code>whatis {{keyword}}</code></p>
<ul>
<li>Search for information about multiple keywords:</li>
</ul>
<p><code>whatis {{first_keyword}} {{second_keyword}}</code></p>
