<h1 id="whereis">whereis</h1>
<blockquote>
<p>Locate the binary, source, and manual page files for a command.</p>
</blockquote>
<ul>
<li>Locate binary, source and man pages for ssh:</li>
</ul>
<p><code>whereis {{ssh}}</code></p>
<ul>
<li>Locate binary and man pages for ls:</li>
</ul>
<p><code>whereis -bm {{ls}}</code></p>
<ul>
<li>Locate source of gcc and man pages for git:</li>
</ul>
<p><code>whereis -s {{gcc}} -m {{git}}</code></p>
<ul>
<li>Locate binaries for gcc in /usr/bin/ only:</li>
</ul>
<p><code>whereis -b -B {{/usr/bin/}} -f {{gcc}}</code></p>
