<h1 id="wifi-password">wifi-password</h1>
<blockquote>
<p>Get the password of the wifi. More information: <a href="https://github.com/rauchg/wifi-password" class="uri">https://github.com/rauchg/wifi-password</a>.</p>
</blockquote>
<ul>
<li>Get the password for the wifi you are currently logged onto:</li>
</ul>
<p><code>wifi-password</code></p>
<ul>
<li>Get the password for the wifi with a specific SSID:</li>
</ul>
<p><code>wifi-password {{ssid}}</code></p>
<ul>
<li>Print only the password as output:</li>
</ul>
<p><code>wifi-password -q</code></p>
