<h1 id="xar">xar</h1>
<blockquote>
<p>Manage .xar archives. More information: <a href="https://linux.die.net/man/1/xar" class="uri">https://linux.die.net/man/1/xar</a>.</p>
</blockquote>
<ul>
<li>Create a xar archive of all files in a given directory:</li>
</ul>
<p><code>xar -cf {{archive.xar}} {{path/to/directory}}</code></p>
<ul>
<li>Lis[t] the contents of a given xar archive:</li>
</ul>
<p><code>xar -tf {{archive.xar}}</code></p>
<ul>
<li>Extract the contents of a given xar archive to the current directory:</li>
</ul>
<p><code>xar -xf {{archive.xar}}</code></p>
