<h1 id="xattr">xattr</h1>
<blockquote>
<p>Utility to work with extended filesystem attributes.</p>
</blockquote>
<ul>
<li>List key:value extended attributes for a given file:</li>
</ul>
<p><code>xattr -l {{file}}</code></p>
<ul>
<li>Write an attribute for a given file:</li>
</ul>
<p><code>xattr -w {{attribute_key}} {{attribute_value}} {{file}}</code></p>
<ul>
<li>Delete an attribute from a given file:</li>
</ul>
<p><code>xattr -d {{com.apple.quarantine}} {{file}}</code></p>
<ul>
<li>Delete all extended attributes from a given file:</li>
</ul>
<p><code>xattr -c {{file}}</code></p>
<ul>
<li>Recursively delete an attribute in a given directory:</li>
</ul>
<p><code>xattr -rd {{attribute_key}} {{directory}}</code></p>
