<h1 id="xcodebuild">xcodebuild</h1>
<blockquote>
<p>Build Xcode projects.</p>
</blockquote>
<ul>
<li>Build workspace:</li>
</ul>
<p><code>xcodebuild -workspace {{workspace_name.workspace}} -scheme {{scheme_name}} -configuration {{configuration_name}} clean build SYMROOT={{SYMROOT_path}}</code></p>
<ul>
<li>Build project:</li>
</ul>
<p><code>xcodebuild -target {{target_name}} -configuration {{configuration_name}} clean build SYMROOT={{SYMROOT_path}}</code></p>
<ul>
<li>Show SDKs:</li>
</ul>
<p><code>xcodebuild -showsdks</code></p>
