<h1 id="xctool">xctool</h1>
<blockquote>
<p>Tool for building Xcode projects. More information: <a href="https://github.com/facebook/xctool" class="uri">https://github.com/facebook/xctool</a>.</p>
</blockquote>
<ul>
<li>Build a single project without any workspace:</li>
</ul>
<p><code>xctool -project {{YourProject.xcodeproj}} -scheme {{YourScheme}} build</code></p>
<ul>
<li>Build a project that is part of a workspace:</li>
</ul>
<p><code>xctool -workspace {{YourWorkspace.xcworkspace}} -scheme {{YourScheme}} build</code></p>
<ul>
<li>Clean, build and execute all the tests:</li>
</ul>
<p><code>xctool -workspace {{YourWorkspace.xcworkspace}} -scheme {{YourScheme}} clean build test</code></p>
