<h1 id="xed">xed</h1>
<blockquote>
<p>Opens files for editing in XCode.</p>
</blockquote>
<ul>
<li>Open file in XCode:</li>
</ul>
<p><code>xed {{file1}}</code></p>
<ul>
<li>Open file(s) in XCode, create if it doesn’t exist:</li>
</ul>
<p><code>xed -c {{filename1}}</code></p>
<ul>
<li>Open a file in XCode and jump to line number 75:</li>
</ul>
<p><code>xed -l 75 {{filename}}</code></p>
