<h1 id="xsltproc">xsltproc</h1>
<blockquote>
<p>Transform XML with XSLT to produce output (usually HTML or XML).</p>
</blockquote>
<ul>
<li>Transform an XML file with a specific XSLT stylesheet:</li>
</ul>
<p><code>xsltproc --output {{output.html}} {{stylesheet.xslt}} {{xmlfile.xml}}</code></p>
<ul>
<li>Pass a value to a parameter in the stylesheet:</li>
</ul>
<p><code>xsltproc --output {{output.html}} --stringparam {{name}} {{value}} {{stylesheet.xslt}} {{xmlfile.xml}}</code></p>
