<h1 id="yank">yank</h1>
<blockquote>
<p>Read input from <code>stdin</code> and display a selection interface that allows a field to be selected and copied to the clipboard.</p>
</blockquote>
<ul>
<li>Yank using the default delimiters ( ,  , :</li>
</ul>
<p><code>{{sudo dmesg}} | yank</code></p>
<ul>
<li>Yank an entire line:</li>
</ul>
<p><code>{{sudo dmesg}} | yank -l</code></p>
<ul>
<li>Yank using a specific delimiter:</li>
</ul>
<p><code>{{echo hello=world}} | yank -d {{=}}</code></p>
<ul>
<li>Only yank fields matching a specific pattern:</li>
</ul>
<p><code>{{ps ux}} | yank -g {{"[0-9]+"}}</code></p>
